<div id="support-section">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-question-circle"></i> Help</h3>
      <h2>Support</h2>
    </div>
    <div class="right">
      <div class="actions">
       <%= render :partial => "help/header" %>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">

      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Quick help topics at Insureio Academy</div>
            <div class="panel-body">
              <p>Get help for Insureio. Search articles or browse by categories with indepth tutorials, videos, and more.</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fa fa-power-off"></i>
                <a href="https://academy.insureio.com/article-categories/getting-started/" target="_blank">Getting Started</a>
              </li>
              <li class="list-group-item">
                <i class="fa fa-id-card"></i>
                <a href="https://academy.insureio.com/knowledge-base/account-set-up/" target="_blank">Account Setup</a>
              </li>
              <li class="list-group-item">
                <i class="fa fa-pencil"></i>
                <a href="https://academy.insureio.com/article-categories/new-quote/" target="_blank">New Quote</a>
              </li>
              <li class="list-group-item">
                <i class="fa fa-dashboard"></i>
                <a href="https://academy.insureio.com/article-categories/dashboard/" target="_blank">Dashboard</a>
              </li>
              <li class="list-group-item">
                <i class="fa fa-address-book"></i>
                <a href="https://academy.insureio.com/article-categories/contacts-management/" target="_blank">Contacts Management</a>
              </li>
              <li class="list-group-item">
                <i class="fa fa-user"></i>
                <a href="https://academy.insureio.com/article-categories/my-account/" target="_blank">Account Management</a>
              </li>
              <li class="list-group-item">
                <i class="fa fa-lock"></i>
                <a href="https://academy.insureio.com/knowledge-base/password-recovery/" target="_blank">Password Recovery</a>
              </li>
              <li class="list-group-item">
                <a href="https://academy.insureio.com/" target="_blank">
                <i class="fa fa-arrow-circle-o-right"></i> View all categories</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Speak with support staff</div>
            <div class="panel-body">
              <p>Monday through Friday 8am to 5pm pacific standard time.</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fa fa-phone"></i>
                <a href="tel:1-877-935-6755">(877) 935-6755</a>
              </li>
              <li class="list-group-item">
                <i class="fa fa-envelope-o"></i>
                <a href="mailto:help@insureio.com">help@insureio.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>