<div id="faq-section">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-question-circle"></i> Help</h3>
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="right">
      <div class="actions">
       <%= render :partial => "help/header" %>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">
      <div id="accordion-info-example" 
        class="panel-group panel-group-info"
        style="margin:20px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-1">
              How do I complete agent contracting with a specific carrier?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-1" class="panel-collapse collapse">
            <div class="panel-body">
              Contracting is a simple online process and can be completed by clicking the "Contracting" link under the My Account tab.  If you need assistance in completing your contracting, contact our contracting specialist at 866-795-4244 or via email at <a href="mailto:Contracting@LifeInsuranceDivision.com">Contracting@LifeInsuranceDivision.com</a>.
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-2">
              Do I need to complete a paper application, schedule exams & labs, or order APS records?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-2" class="panel-collapse collapse">
            <div class="panel-body">
              No, Insureio was designed as an application fulfillment system.  We only require you to initiate the transaction by soliciting the client, providing them with a quote, selecting the carrier, and completing a short, one-page application form.  The Insureio Team then obtains signatures, completes the paperwork, follows-up directly with the client, and does anything else that is needed to process the case.  It’s that easy!
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-3">
              How are agent signatures collected and affixed to applications submitted through Insureio?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-3" class="panel-collapse collapse">
            <div class="panel-body">
              Agent signatures are affixed to the application electronically.  Your agent signature will be collected with an authorization allowing its use as part of the Insureio process.  Normally, this will be done when you complete the licensing/contracting process.  In the event that an agent signature is not on file, an email notification will be send to the agent indicating the deficiency.
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-4">
              How are client signatures collected and affixed to applications submitted through Insureio?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-4" class="panel-collapse collapse">
            <div class="panel-body">
              Consumer signatures are obtained one of two ways:<br /><ol><li>Through an E-signature process with pre-approved carriers.</li><p>Or</p><li>By mailing/e-mailing the client an application for collection of original signatures.</li></ol><p>In the event that the application is mailed/e-mailed, a postage paid return envelope will be provided or arrangements to have the examiner collect and return the signed application will be made.</p> 
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-5">
              What happens if a health issue or avocation prevents the Insureio system from generating a valid quote?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-5" class="panel-collapse collapse">
            <div class="panel-body">
              The Insureio system will generate an onscreen warning directing you to call your Brokerage Direct or use the XRAE health screening tool to obtain an accurate quote.  You will also be given the option of bypassing the health analyzer once an accurate health class is determined by clicking on the “click here” link below the message.  An example of the screen provided to the agent is shown below. 
              <br />
              <img src="/img/faqs/faq_warning.png" />
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-6">
              Can I use a carrier that isn’t listed on the quote section of the website?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-6" class="panel-collapse collapse">
            <div class="panel-body">
              Yes, the system can accommodate applications for numerous carriers (over 30) by clicking the “Bypass Health Analyzer” button on the Quote Your Consumer page.  Just fill in the appropriate information from the available dropdown lists and click the “Continue” button to go directly to the online application. 
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-7">
              On the Insureio client quote section of the website, why do some carriers show up more than once?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-7" class="panel-collapse collapse">
            <div class="panel-body">
              This is a common occurrence on the Insureio quoting system.  It occurs when a particular carrier has competitive pricing in multiple health categories for a specific client.  The first listing of the carrier in question will be the best health rating and pricing option available from that carrier.  The second listing will be a lower health rating and corresponding price.
              <br />
              <img src="/img/faqs/faq_multiple.png" /> 
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-8">
              On the Insureio client quote section of the website, what do the carrier “Service” (Star) ratings mean and how are they determined?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-8" class="panel-collapse collapse">
            <div class="panel-body">
              <p>The Insureio system represents many different insurance companies.  Some process applications quickly and efficiently.  Others are less efficient.  Our “Service” (Star) rating system is based on seven key criteria: </p>
              <ol>
                <li>the ease of filling out an application, </li>
                <li>the time it takes to "underwrite" an application, </li>
                <li>the flexibility in underwriting (will they bend their rules on close situations to allow a client to qualify for the lowest rates?), </li>
                <li>the percentage of cases requiring additional information, </li>
                <li>the time it takes to retrieve additional information, </li>
                <li>the effectiveness and timeliness of their communication with us, and </li>
                <li>the time to reissue a policy.</li>
              </ol>
              <p>Our highest rating is 5 and our lowest is 1.  If there is only a few dollars difference between a company with a 5-Star rating and one with a lower rating, we recommend the 5-Star rated company.  However, you and your client ultimately make the choice.  We simply want the process to be as smooth and efficient as possible for you and your client and feel this information may be important to your decision making process.</p>  
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-9">
              How can I check case status or see the progress of a specific case?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-9" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Basic case status and progress information is listed on the My Business tab next to each clients name under the “Status” heading.  Additionally, the Insureio Team will send you regular case status updates via email a minimum of:</p>
              <ul>
                <li>Once every 5 business days</li>
                <li>Whenever the case is touched</li>
                <li>When there is a change in status</li>
              </ul>
              <p>You can also see detail case status at any time by clicking the case status tab on the Insureio dashboard.</p>
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-10">
              How do I login to the case status portion of the Insureio.com website?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-10" class="panel-collapse collapse">
            <div class="panel-body">
              To login to the case status system, you will need to enter your case status login and password.  These are normally your Social Security Number for the login and your Last Name for the password.  If the defaults don’t work please contact the Insureio Team at 866-795-4244 to have your password assigned/reset.
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#faq-11">
              Can I send an unlimited number of daily emails using Insureio?
            </a>
          </div> <!-- / .panel-heading -->
          <div id="faq-11" class="panel-collapse collapse">
            <div class="panel-body">
              <p>The number of daily emails you're allowed to send depends on your email provider. Providers use these limits to ensure their servers can support the needs of all their users, as well as to reduce spam. Paid email services and web hosting providers offer higher sending limits than free email providers such as Gmail, Hotmail, Yahoo!, or AOL. To find out what your limits are, contact your provider and ask for the most recent SMTP email send limits--they frequently change without notice. If you use a free email provider and exceed your limit, your account may be temporarily disabled. Contact your provider for more details.</p>
              <p>When sending bulk emails, please be aware there may be a slight delay before all recipients receive your message. Email servers will break up large recipient lists into small groups, sending to a group at a time with a brief delay between each.</p>
            </div> <!-- / .panel-body -->
          </div> <!-- / .collapse -->
        </div> <!-- / .panel -->
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
  location.hash && $(location.hash + '.collapse').collapse('show');
});
</script>