<div id="suggestions-section">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-question-circle"></i> Help</h3>
      <h2>Suggestions</h2>
    </div>
    <div class="right">
      <div class="actions">
       <%= render :partial => "help/header" %>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content"
      ng-controller="SuggestionFormCtrl">
      <h3>We Welcome Feedback!</h3>
      <p>Please submit suggestions or comments on system upgrades or additional features below.</p>

      <form ng-submit="submitSuggestion()">
          <label for="suggestion">Suggestions:</label>
          <textarea class="form-control"
            name="suggestion"
            ng-model="suggestion"
            cols="60" rows="10"
            required="true"></textarea>
          <br />
          <input type="submit" value="Submit" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>