<div id="tutorials-section">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-question-circle"></i> Help</h3>
      <h2>Tutorials</h2>
    </div>
    <div class="right">
      <div class="actions">
       <%= render :partial => "help/header" %>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">

      <div class="container-fluid">
        <div class="panel-group row" id="accordion">

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#help-generalsystem">
                <a class="accordion-toggle collapsed">       
                  General System
                </a>
              </div>
              <div id="help-generalsystem" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/article-categories/getting-started/" target="_blank">Basic Navigation</a>
                  <a href="https://academy.insureio.com/basic-navigation/" target="_blank">Getting Started</a>
                  <a href="https://academy.insureio.com/account-set-up/" target="_blank">Account Set-Up</a>
                  <a href="https://academy.insureio.com/password-recovery/" target="_blank">Password Recovery</a>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#help-dashboard">
                <a class="accordion-toggle collapsed">       
                  Dashboard
                </a>
              </div>
              <div id="help-dashboard" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/dashboard-widgets/" target="_blank">Dashboard Overview</a>
                  <a href="https://academy.insureio.com/dashboard-navigation-display/" target="_blank">Dashboard Navigation & Display</a>
                  <a href="https://academy.insureio.com/recently-viewed-consumers/" target="_blank">Recently Viewed Consumers</a>
                  <a href="https://academy.insureio.com/viewing-new-leads-in-the-dashboard/" target="_blank">Viewing New Leads in the Dashboard</a>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#help-dashboard">
                <a class="accordion-toggle collapsed">       
                  New Quote
                </a>
              </div>
              <div id="help-dashboard" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/quote-path-overview/" target="_blank">Quote Path Overview</a>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#help-contactsmanagement">
                <a class="accordion-toggle collapsed">       
                  Contacts Management
                </a>
              </div>
              <div id="help-contactsmanagement" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/contacts-management-overview/" target="_blank">Contacts Management Overview</a>
                  <a href="https://academy.insureio.com/viewing-client-data/" target="_blank">Viewing Consumer Data in the Consumer Record</a>
                  <a href="https://academy.insureio.com/adding-a-new-contact/" target="_blank">Adding a New Contact</a>
                  <a href="https://academy.insureio.com/adding-a-new-policy-or-quote-to-an-existing-contact/" target="_blank">Adding a New Policy or Quote to an Existing Contact</a>
                  <a href="https://academy.insureio.com/client-notes/" target="_blank">Consumer Notes</a>
                  <a href="https://academy.insureio.com/related-consumers/" target="_blank">Related Consumers</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#help-agencymanagement">
                <a class="accordion-toggle collapsed">       
                  Agency Management / Branding Profiles
                </a>
              </div>
              <div id="help-agencymanagement" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/brands/" target="_blank">Brands</a>
                  <a href="https://academy.insureio.com/users-and-sub-users/" target="_blank">Users</a>
                  <a href="https://academy.insureio.com/branding-assignments/" target="_blank">Branding Assignments</a>
                  <a href="https://academy.insureio.com/agent-recruiting/" target="_blank">Recruit</a>
                  <a href="https://academy.insureio.com/production-summary/" target="_blank">Production Summary</a>
                  <a href="https://academy.insureio.com/lead-distribution/" target="_blank">Lead Distribution</a>
                  <a href="https://academy.insureio.com/status-rules-an-overview/" target="_blank">Status Rules</a>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#help-marketing">
                <a class="accordion-toggle collapsed">       
                  Marketing
                </a>
              </div>
              <div id="help-marketing" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/marketing-materials/" target="_blank">Marketing Materials</a>
                  <a href="https://academy.insureio.com/quoting-widget/" target="_blank">Quoting Widget</a>
                  <a href="https://academy.insureio.com/marketing-links/" target="_blank">Links</a>
                  <a href="https://academy.insureio.com/your-common-tags/" target="_blank">Your Common Tags</a>
                  <a href="https://academy.insureio.com/creating-populating-and-using-marketing-campaigns/" target="_blank">Creating & Using Marketing Campaigns</a>
                  <a href="https://academy.insureio.com/advanced-lead-tracking-using-the-quoting-widget/" target="_blank">Advanced Lead Tracking using the Quoting Widget</a>
                  <a href="https://academy.insureio.com/marketing-headers/" target="_blank">Marketing Headers</a>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#resource-library">
                <a class="accordion-toggle collapsed">       
                  Sales Tools / Underwriting & Suitability / Resource Library
                </a>
              </div>
              <div id="resource-library" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/quoters/" target="_blank">Sales Quoters</a>
                  <a href="https://academy.insureio.com/advanced-planning/" target="_blank">Financial Calculators & Advanced Planning</a>
                  <a href="https://academy.insureio.com/training-and-professional-development/" target="_blank">Training</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#help-reporting">
                <a class="accordion-toggle collapsed">       
                  Reporting
                </a>
              </div>
              <div id="help-reporting" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/building-a-report/" target="_blank">Reporting Overview</a>
                  <a href="https://academy.insureio.com/running-or-modifying-a-saved-report/" target="_blank">Running or Modifying a Saved Report</a>
                  <a href="https://academy.insureio.com/advanced-reporting-techniques/" target="_blank">Advanced Reporting Techniques</a>
                  <a href="https://academy.insureio.com/email-blast-distribution/" target="_blank">Email Blast Distribution</a>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#help-myaccount">
                <a class="accordion-toggle collapsed">       
                  My Account
                </a>
              </div>
              <div id="help-myaccount" class="panel-collapse collapse">
                <div class="panel-body">
                  <a href="https://academy.insureio.com/brands/" target="_blank">Brands</a>
                  <a href="https://academy.insureio.com/licensing-and-contracting/" target="_blank">Licensing & Contracting</a>
                  <a href="https://academy.insureio.com/email-configuration/" target="_blank">Email Configuration</a>
                  <a href="https://academy.insureio.com/payment-info/" target="_blank">Payment Information</a>
                  <a href="https://academy.insureio.com/personal-information/" target="_blank">Personal</a>
                  <a href="https://academy.insureio.com/submission-options/" target="_blank">Submission Options</a>
                  <a href="https://academy.insureio.com/changing-your-login-id/" target="_blank">Changing Your Login ID</a>
                  <a href="https://academy.insureio.com/changing-your-password/" target="_blank">Changing Your Password</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>