\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{248px}
  \hspace{225px}
  <%= checkbox nil, name:"replacement_form_check1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{259px}
  <%= checkbox true, name:"replacement_form_check2", width:"7px", height:"7px" %>

  \vspace{17px}
  \hspace{44px}
  <%= checkbox nil, name:"replacement_form_check3", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{78px}
  <%= checkbox true, name:"replacement_form_check4", width:"7px", height:"7px" %>

  \vspace{66px}
  \hspace{33px}
  <%= textfield carrier_name(replacing[0]), name:"replacement_form_insurer_1", borderwidth:"0", width:"18em", maxlen:32 %>

  \vspace{-12px}
  \hspace{228px}
  <%= textfield replacing[0]&.consumer&.full_name, name:"replacement_form_insured_1", borderwidth:"0", width:"14em", maxlen:25 %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield replacing[0]&.policy_number, name:"replacement_form_policy_number_1", borderwidth:"0", width:"8em", maxlen:14 %>

  \vspace{-12px}
  \hspace{480px}
  <%= textfield replacing[0] && "R", name:"replacement_form_replaced_or_financing_1", borderwidth:"0", width:"5em" %>

  \vspace{7px}
  \hspace{33px}
  <%= textfield carrier_name(replacing[1]), name:"replacement_form_insurer_2", borderwidth:"0", width:"18em", maxlen:32 %>

  \vspace{-12px}
  \hspace{228px}
  <%= textfield replacing[1]&.consumer&.full_name, name:"replacement_form_insured_2", borderwidth:"0", width:"14em", maxlen:25 %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield replacing[1]&.policy_number, name:"replacement_form_policy_number_2", borderwidth:"0", width:"8em", maxlen:14 %>

  \vspace{-12px}
  \hspace{480px}
  <%= textfield replacing[1] && "R", name:"replacement_form_replaced_or_financing_2", borderwidth:"0", width:"5em" %>

  \vspace{7px}
  \hspace{33px}
  <%= textfield carrier_name(replacing[2]), name:"replacement_form_insurer_3", borderwidth:"0", width:"18em", maxlen:32 %>

  \vspace{-12px}
  \hspace{228px}
  <%= textfield replacing[2]&.consumer&.full_name, name:"replacement_form_insured_3", borderwidth:"0", width:"14em", maxlen:25 %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield replacing[2]&.policy_number, name:"replacement_form_policy_number_3", borderwidth:"0", width:"8em", maxlen:14 %>

  \vspace{-12px}
  \hspace{480px}
  <%= textfield replacing[2] && "R", name:"replacement_form_replaced_or_financing_3", borderwidth:"0", width:"5em" %>

  \vspace{72px}
  \hspace{260px}
  <%= textfield nil, name:"replacement_form_reason_for_replacement", borderwidth:"0", width:"27em" %>

  \vspace{40px}
  \hspace{33px}
  <%= textfield nil, name:"replacement_form_applicant_signature", borderwidth:"0", width:"20em" %>

  \vspace{-12px}
  \hspace{250px}
  <%= textfield @cons.full_name, name:"replacement_form_applicant_name", borderwidth:"0", width:"16em", maxlen:29 %>

  \vspace{-12px}
  \hspace{424px}
  <%= textfield Date.today, name:"replacement_form_applicant_signature_date", borderwidth:"0", width:"10em", maxlen:18 %>

  \vspace{19px}
  \hspace{40px}
  <%= signature height:"2em" %>

  \vspace{-12px}
  \hspace{250px}
  % aor
  <%= textfield @aor.full_name, name:"replacement_form_agent_name", borderwidth:"0", width:"16em", maxlen:29 %>

  \vspace{-12px}
  \hspace{424px}
  <%= textfield Date.today, name:"replacement_form_agent_signature_date", borderwidth:"0", width:"10em", maxlen:18 %>

  \vspace{23px}
  \hspace{178px}
  <%= textfield nil, name:"replacement_form_applicant_initials", borderwidth:"0", width:"4em" %>

  \vspace{8px}
  \hspace{325px}
  <%= signature height:"2em" %>
\end{Form}
