window.open("<%=j @kase.marketech_dataset.edit_url %>", 'marketech', 'height=1000,width=1000,location=0,menubar=0,scrollbars=1');
$.get("<%=j url_for controller:'/crm/cases', action:'admin', id:@kase.id, container:'#inner-container' %>");
