\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{41px}
  \hspace{46px}
  <%= textfield @cons.full_name, name:"insured", borderwidth:"0", width:"27em" %>

  \vspace{-12px}
  \hspace{372px}
  <%= textfield @cons.birth_or_trust_date.month, name:"insured_dob_month", borderwidth:"0", width:"3.8em", maxlen:"2" %>

  \vspace{-12px}
  \hspace{421px}
  <%= textfield @cons.birth_or_trust_date.day, name:"insured_dob_day", borderwidth:"0", width:"3.8em", maxlen:"2" %>

  \vspace{-12px}
  \hspace{471px}
  <%= textfield @cons.birth_or_trust_date.year, name:"insured_dob_year", borderwidth:"0", width:"8.2em", maxlen:"4" %>

  \vspace{6px}
  \hspace{87px}
  <%= textfield nil, name:"secondary_insured", borderwidth:"0", width:"23em" %>

  \vspace{-12px}
  \hspace{372px}
  <%= textfield nil, name:"secondary_insured_dob_month", borderwidth:"0", width:"3.8em", maxlen:2 %>

  \vspace{-12px}
  \hspace{421px}
  <%= textfield nil, name:"secondary_insured_dob_day", borderwidth:"0", width:"3.8em", maxlen:2 %>

  \vspace{-12px}
  \hspace{471px}
  <%= textfield nil, name:"secondary_insured_dob_year", borderwidth:"0", width:"8.2em", maxlen:4 %>

  \vspace{6px}
  \hspace{72px}
  <%= textfield @kase.policy_number, name:"policy_number", borderwidth:"0", width:"48.2em" %>

  \vspace{135px}
  \hspace{32px}
  <%= checkbox nil, name:"check1", width:"7px", height:"7px" %>

  \vspace{4px}
  \hspace{32px}
  <%= checkbox nil, name:"check2", width:"7px", height:"7px" %>

  \vspace{84px}
  \hspace{132px}
  <%= checkbox nil, name:"check3", width:"7px", height:"7px" %>

  \vspace{4px}
  \hspace{132px}
  <%= checkbox nil, name:"check4", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{76px}
  <%= textfield @owner.full_name, name:"contract_owner_name", borderwidth:"0", width:"26.4em" %>

  \vspace{-12px}
  \hspace{406px}
  <%= textfield @owner.primary_phone, name:"contract_owner_phone", borderwidth:"0", width:"14.7em" %>

  \vspace{6px}
  \hspace{49px}
  <%= textfield @owner.primary_address, name:"contract_owner_address", borderwidth:"0", width:"50.6em" %>

  \vspace{27px}
  \hspace{15px}
  <%= checkbox nil, name:"check5", width:"7px", height:"7px" %>

  \vspace{1px}
  \hspace{263px}
  <%= checkbox nil, name:"check6", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{293px}
  <%= checkbox nil, name:"check7", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{15px}
  <%= checkbox nil, name:"check8", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{15px}
  <%= checkbox nil, name:"check9", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{15px}
  <%= checkbox nil, name:"check10", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{15px}
  <%= checkbox nil, name:"check11", width:"7px", height:"7px" %>

  \vspace{-14px}
  \hspace{286px}
  <%= textfield nil, name:"dissatisfaction_explanation", borderwidth:"0", width:"26.8em" %>

  \vspace{8px}
  \hspace{15px}
  <%= checkbox nil, name:"check12", width:"7px", height:"7px" %>

  \vspace{-14px}
  \hspace{50px}
  <%= textfield nil, name:"other_explanation", borderwidth:"0", width:"50.6em" %>

  \vspace{30px}
  \hspace{16px}
  <%= textfield nil, name:"contract_owner_signature", borderwidth:"0", width:"23.8em" %>

  \vspace{-12px}
  \hspace{352px}
  <%= textfield @owner.ssn.try(:[], 1), name:"contract_owner_ssn_1", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{-12px}
  \hspace{375px}
  <%= textfield @owner.ssn.try(:[], 2), name:"contract_owner_ssn_2", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{-12px}
  \hspace{396px}
  <%= textfield @owner.ssn.try(:[], 3), name:"contract_owner_ssn_3", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{-12px}
  \hspace{424px}
  <%= textfield @owner.ssn.try(:[], 4), name:"contract_owner_ssn_4", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{-12px}
  \hspace{445px}
  <%= textfield @owner.ssn.try(:[], 5), name:"contract_owner_ssn_5", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{-12px}
  \hspace{474px}
  <%= textfield @owner.ssn.try(:[], 6), name:"contract_owner_ssn_6", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{-12px}
  \hspace{495px}
  <%= textfield @owner.ssn.try(:[], 7), name:"contract_owner_ssn_7", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{-12px}
  \hspace{517px}
  <%= textfield @owner.ssn.try(:[], 8), name:"contract_owner_ssn_8", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{-12px}
  \hspace{540px}
  <%= textfield @owner.ssn.try(:[], 9), name:"contract_owner_ssn_9", borderwidth:"0", width:"1em", maxlen:"1" %>

  \vspace{20px}
  \hspace{16px}
  <%= textfield nil, name:"joint_owner_signature", borderwidth:"0", width:"23.8em" %>

  \vspace{-12px}
  \hspace{352px}
  <%= textfield nil, name:"joint_owner_ssn_1", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{-12px}
  \hspace{375px}
  <%= textfield nil, name:"joint_owner_ssn_2", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{-12px}
  \hspace{396px}
  <%= textfield nil, name:"joint_owner_ssn_3", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{-12px}
  \hspace{424px}
  <%= textfield nil, name:"joint_owner_ssn_4", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{-12px}
  \hspace{445px}
  <%= textfield nil, name:"joint_owner_ssn_5", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{-12px}
  \hspace{474px}
  <%= textfield nil, name:"joint_owner_ssn_6", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{-12px}
  \hspace{495px}
  <%= textfield nil, name:"joint_owner_ssn_7", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{-12px}
  \hspace{517px}
  <%= textfield nil, name:"joint_owner_ssn_8", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{-12px}
  \hspace{540px}
  <%= textfield nil, name:"joint_owner_ssn_9", borderwidth:"0", width:"1em", maxlen:1 %>

  \vspace{26px}
  \hspace{36px}
  <%= textfield nil, name:"date", borderwidth:"0", width:"21.7em" %>
\end{Form}
