<div id="marketing-links" ng-controller="MarketingLinksCtrl">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-bullhorn"></i> Marketing</h3>
      <h2>Links</h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-6">
          <div class="section-heading">
            <h4>Insureio Link</h4>
          </div>
          <p>This link provides client access to the entire lead generation process. Your client will:</p>
          <ul class="bullet">
            <li>Run the health analyzer</li>
            <li>Receive quotes</li>
            <li>Select a product and a carrier</li>
            <li>Complete the Insureio application</li>
          </ul>
          <p>Once completed, you will be notified via email alert and can review, edit as needed, and approve the application for submission.</p>
          <div class="alert alert-info">
            <strong>Note:</strong> This link is ideal for marketing efforts and for use with clients that are able to follow the process without your assistance. To use the Insureio Link, simply copy the URL below and send to your clients.
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Brand</strong>
              <i ng-if="!brands.$resolved"
                  class="fa fa-spinner fa-spin"></i>
              <select class="form-control"
                ng-model="brandId"
                ng-options="brand.id as brand.name for brand in brands"></select>
              <i ng-if="brands && !brands.$resolved"
                class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="col-md-6">
              <strong>Process Type <a data-toggle="modal" data-target="#compare-processes-modal" class="pull-right" style="font-weight: normal;">What's this?</a></strong>
              <select class="form-control">
                <option ng-model="requestType" value="APPLICATION" ng-disabled="!currentUser.can('submit_application')">
                  Full Application Process
                </option>
                <option ng-model="requestType" value="TICKET" ng-disabled="!currentUser.can('submit_application')">
                  Ticket
                </option>
                <option ng-model="requestType" value="REFERRAL" ng-disabled="!currentUser.can('submit_referral')">
                  Referral Process
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br>
              <strong>Insureio Link URL:</strong>
              <input  id="quoter_link" class="form-control" onclick="this.select();" readonly="readonly"
                style="cursor:pointer; width:100%;" type="text"
                value="{{$root.window.location.origin}}/quoting/quotes/new?agent_id={{currentUser.id}}&amp;key={{currentUser.quoter_key}}&amp;brand_id={{brandId}}&amp;productLine={{productLine}}&amp;requestType={{requestType}}">
              <a class="btn btn-primary"
                style="margin: 10px 5px 10px 0;"
                href="{{$root.window.location.origin}}/quoting/quotes/new?agent_id={{currentUser.id}}&amp;key={{currentUser.quoter_key}}&amp;brand_id={{brandId}}&amp;productLine={{productLine}}&amp;requestType={{requestType}}"
                target="_blank">
                Insureio Link
              </a>
            </div>
          </div>
          <br>
          <div class="row" ng-if="currentUser.can('insurance_division')">
            <div class="col-md-12">
              <div class="section-heading">
                <h4>InsuranceDivision Link</h4>
              </div>
              <strong>Brand</strong>
              <i ng-if="brands && !brands.$resolved"
                class="fa fa-spinner fa-spin"></i>
              <select class="form-control"
                ng-model="brandForIdLink"
                ng-options="brand as brand.name for brand in brands"
                ng-change="updateIdLink()">
              </select>
              <br>
              <p>
                <strong>Your Personalized URL:</strong>
                <input type="text"
                  onclick="this.select();"
                  class="form-control" 
                  style="cursor:pointer; width:100%;" 
                  ng-model="mktgLinksStateVars.idLink"
                  ng-if="brandForIdLink"
                  readonly="true">
                <span ng-if="!brandForIdLink">(Choose a brand first in the menu above.)</span>
              </p>
              <a ng-if="brandForIdLink"
                ng-href="{{mktgLinksStateVars.idLink}}"
                target="_blank"
                class="btn btn-primary"
                style="margin:10px 5px 10px 0">
                InsuranceDivision Link
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6"
          ng-if="currentUser.can('motorists_rtt_process')">
          <div class="section-heading">
            <h4>Motorist's Real-Time Term Link</h4>
          </div>
          <div class="alert {{currentUser.rtt_allowed_state_ids.length<1 ? 'alert-danger' : 'alert-info'}}">
            <strong>Note:</strong> Your Motorists RTT Link will only display rates for states in which you hold a valid license and carrier appointment.
            Enter or update your license and appointment information in the Licensing &amp; Contracting tab of the My Account section.
          </div>
          <div class="alert alert-warning">
            <i class="fa fa-exclamation-circle"></i> To preview or test your RTT link, click the Test Link button below. Your RTT quote path will have a yellow TEST badge on the bottom of your screen. <strong>Do not use the Application Link to submit test data or your account could be suspended.</strong>.
          </div>
          <strong>Your Personalized URL:</strong><br>
          <input type="text" class="form-control"
            ng-if="currentUser.rtt_allowed_state_ids.length>0"
            value="{{$root.window.location.origin+'/rtt/?agent_id='+currentUser.id+'&key='+currentUser.quoter_key+'&brand_id='+(brandId||currentUser.default_brand_id)}}" readonly>
          <input type="text" class="form-control"
            ng-if="currentUser.rtt_allowed_state_ids.length<1"
            value="(add licensing and contract information to use this feature)" readonly>
          <a ng-if="currentUser.rtt_allowed_state_ids.length>0"
            ng-href="{{$root.window.location.origin+'/rtt/?agent_id='+currentUser.id+'&key='+currentUser.quoter_key+'&brand_id='+(brandId||currentUser.default_brand_id)}}"
            class="btn btn-primary"
            style="margin:10px 5px 10px 0"
            target="_blank">
            Application Link
          </a>
          <a ng-if="currentUser.rtt_allowed_state_ids.length>0"
            ng-href="{{$root.window.location.origin+'/rtt/?agent_id='+currentUser.id+'&key='+currentUser.quoter_key+'&brand_id='+(brandId||currentUser.default_brand_id)+'&test=true'}}"
            class="btn btn-default"
            style="margin:10px 5px 10px 0"
            target="_blank">
            Test Link
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="compare-processes-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Compare Processes</h4>
      </div>
      <dr-last-bulletin></dr-last-bulletin>
      <div class="modal-body">
        <ng-include src="'/quoter/product-cat-1.html'"></ng-include>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <style>
        #compare-processes-modal .modal-body .btn {
          display: none;
        }
      </style>
    </div>
  </div>
</div>
