<div id="smtp-section" ng-controller="SMTPCtrl">

  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Email Configuration
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <a class="btn btn-default"
          ng-click="openForm()">
          New Email Account
        </a>
        <!-- <a class="btn btn-default" target="_blank"
          href="https://academy.insureio.com/email-configuration/">
          Tutorial
        </a> -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">
      <table id="smtp-existing-accounts"
        class="table table-hover table-link">
        <thead>
          <tr>
            <th>Email Address</th>
            <th>Host</th>
            <th>Port</th>
            <th>TLS</th>
            <th>SMTP Address</th>
            <th>Authentication</th>
            <th>Bulk Sending</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in existingAccounts"
            ng-class="account.id==smtpSectionStateVars.activeAccount.id ? 'active' : ''">
            <td>{{account.username}}</td>
            <td>{{account.host}}</td>
            <td>{{account.port}}</td>
            <td>{{account.tls}}</td>
            <td>{{account.address}}</td>
            <td>{{account.authentication}}</td>
            <td>
              <input type="checkbox" ng-model="account.bulk_send_capable" id="bulk-enabled" disabled>
              <label for="bulk-enabled">
                <span ng-show="account.bulk_send_capable">Enabled</span>
                <span ng-show="!account.bulk_send_capable" class="lighter">Disabled</span>
              </label>
            </td>
            <td>
              <div class="dropdown btn-group pull-right" uib-dropdown>
                <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                  <li ng-click="openForm(account)">
                    <a data-toggle="modal" data-target="#smtp-edit-form">
                      Edit Account
                    </a>
                  </li>
                  <li ng-click="destroyRecord($index, existingAccounts,'/smtp_servers/'+account.id+'.json','email account')">
                    <a>
                      Remove Account
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr ng-if="existingAccountsResolved && !existingAccounts.length">
            <td colspan="3">
              (You currently have no saved email accounts.)
            </td>
          </tr>
          <tr ng-if="!existingAccountsResolved">
            <td colspan="3">
              <i class="fa fa-refresh fa-spin"></i>
            </td>
          </tr>
        </tbody>
        <tfoot><tr><td colspan="7"></td></tr></tfoot>
      </table>
    </div>
  </div>
</div>