<div class="modal-header">
  <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{account.id ? 'Edit' : 'New'}} Email Account</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body">
  <div class="form-group" ng-if="!account.id">
    <label>Email Service</label>
    <select class="form-control"
      ng-model="smtpSectionStateVars.service"
      ng-change="prefillAccountSettings()"
      ng-options="s as s.name for s in preconfiguredServices">
    </select>
  </div>

  <form ng-show="smtpSectionStateVars.service">
    <div class="form-group">
      <label>Username</label>
      <input class="form-control" size="30" type="text" ng-model="account.username">
    </div>

    <div class="form-group">
      <label>
        Password
        <i ng-if="account.id" class="fa fa-question-circle" title="You must re-enter password information in order to modify a saved email account."></i>
      </label>
      <input class="form-control" size="30" type="password" ng-model="account.password">
    </div>

    <div class="form-group">
      <label>
        Password Confirmation
        <i ng-if="account.id" class="fa fa-question-circle" title="You must re-enter password information in order to modify a saved email account."></i>
      </label>
      <input class="form-control" size="30" type="password" ng-model="account.password_confirmation">
    </div>

    <a ng-click="smtpSectionStateVars.showAdvanced=!smtpSectionStateVars.showAdvanced">Advanced Options</a>

    <div ng-show="smtpSectionStateVars.showAdvanced">
      <div class="form-group">
        <label>Sending Domain (after the @ in your email address)</label>
        <input class="form-control" size="30" type="text" ng-model="account.host">
      </div>

      <div class="form-group">
        <label>From/Reply-To Address (typically Username @ Sending Domain)</label>
        <input class="form-control" size="30" type="text" ng-model="account.from_addr">
      </div>

      <div class="form-group">
        <label>Port</label>
        <input class="form-control" size="30" type="text" ng-model="account.port" value="587">
      </div>

      <div class="form-group">
        <label>TLS</label>
        <div>
          <label class="radio-inline">
            <input ng-model="account.tls" type="radio" value="1">
            auto (most common)
          </label>
          &nbsp;
          <label class="radio-inline">
            <input ng-model="account.tls" type="radio" value="2">
            enabled
          </label>
          &nbsp;
          <label class="radio-inline">
            <input ng-model="account.tls" type="radio" value="0">
            off
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>Address of SMTP Server</label>
        <input class="form-control" ng-model="account.address" size="30" type="text">
      </div>

      <div class="form-group">
        <label>Authentication</label>
        <select class="form-control" ng-model="account.authentication"
          ng-options="x as x for x in ['login', 'plain', 'gssapi', 'digest-md5', 'md5', 'cram-md5']">
        </select>
      </div>

      <div class="form-group">
        <input type="checkbox" ng-model="account.bulk_send_capable" id="bulk-acknowledgement">
        <label for="bulk-acknowledgement">Enable Bulk Sending</label>
        <p>
          I acknowledge that selecting this option means my email account will be used to send high-volume email blasts and could result in my email account being temporarily or permanently suspended, blacklisted, or otherwise disabled if my service provider prohibits bulk or commercial email sending.
        </p>
        <p>
          Email providers have daily sending limits to reduce spam and ensure their servers can support all users' needs. Paid providers offer higher sending limits than free providers such as Gmail, Hotmail, Yahoo!, or AOL. To find out what your limits are, contact your provider and ask for current SMTP email send limits - they frequently change without notice. If your bulk send exceeds their limit, your account may be temporarily disabled.
        </p>
      </div>

    </div>
  </form>
</div><!-- End .modal-body -->
<div class="modal-footer">
  <a type="button" class="btn pull-left" ng-click="$close()">Cancel</a>
  <button class="btn btn-info"
    ng-click="testConnection(account)"
    title="Test this configuration. Your response will appear at the top of the page.">
    Test
  </button>
  <button class="btn btn-primary"
    ng-click="save(account)"
    title="Clicking here will save your configuration if a connection can be established for it.">
    Test &amp; Save
  </button>
</div>