form.widget-form {
	input[type='color'] {
	}
	.no-bottom-margin {
		margin-bottom: 0;
	}

	.quoter-config {
		background-color: #eee;
		padding: 1em;
	}

	.excluded-carriers-list {
		label:nth-child(even) {
			background-color: #fff;
		}
		label > input {
			margin-left: -17px;
		}
		margin-bottom: 1em;
	}

	.scroll-list {
		max-height: 30em;
		overflow-y: auto;
		overflow-x: hidden;
	}

	// Margin fix for below the "Please add some quoters" notice
	#quoter_carriers > .lead {
		margin-bottom: 10px;
		display: inline-block;
	}
}

.color-preview {
	display: inline-block;
	height: 1em;
	width: 100%;

	border: 1px solid black;
	vertical-align: middle;
}

.config-section {
	margin-left: 10px;
}

#embed_snippet {
	width: 100%;
	cursor: pointer;
}

@mixin option-select-header {
	vertical-align: middle;
	text-align: right;

	border-bottom: 1px solid;
	padding: 1em;
	margin-bottom: 1em;

	background-color: #eee;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;

	> span {
		font-weight: bold;
	}
}

.option-select-header {
	@include option-select-header;
}
