// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* User Management Styles - um-sec and um-actions id's broke code. No longer used. */

#um-sec1 {
  width: 200px !important;
  height: 280px !important; 
  border: .1em solid #888 !important;
}

#um-sec2 {
  width: 200px !important;
}

#um-sec3 {
  width: 200px !important;
}

#um-actions {
  width: 480px !important;
  margin-left: 0px;
}


#user-notes {
  width: 100%;
  min-height: 250px;
  border: 1px solid #888; 
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
}

.system-management-row {
  padding-top: 20px;
  padding-bottom: 10px;
}

.actions-radio {
  width: 115px !important;
}

.actions-radio input {
  margin-top: -5px;
}

.agency-management-row {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Consumer/User/Profile Mgmt Areas */

#new_brand {
  .user-thumb {
    display: inline-block;
    margin: 0;
  }
  textarea,
  input {
    margin-bottom: 0;
  }
  label {
    margin-top: 10px;
  }
}
.user-thumb {
  &.user-type-agent{
    border: 1px solid #f4b04f;
  }
  &.user-type-consumer{
    border: 1px solid #5bc0de;
    display: none;
  }
  &:hover {
    .photo-modal-button {
      background:rgba(0,0,0,0.33);//black tint allows camera icon to stand out
      opacity: 0.9;
      i{
        color:white;
        position: absolute;
        top: 50%;
        right: 50%;
        margin-top: -9px;
        margin-right: -9px;
      }
    }
  }
}
.photo-modal-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background: transparent;
  font-size: 16px;
  border: none;
  opacity: 0;
}
#personal-container h1 {
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  color: #363636;
  display: inline-block;
}
#personal-container h3 {
  text-transform: uppercase;
  line-height: 21px;
}
.full-name-personal {
  margin: 0;
  line-height: inherit;
  display: inline-block;
}
.full-name-personal a {
  font-weight: 700;
  color: #363636;
  display: inline-block;
  font-size: 22px;
}
#users-personal-row2 {
  margin-left: 0;
}
#personal-container .fa fa-pencil {
  cursor: pointer;
  font-size: .8em;
  padding: 0 5px;
}
  
#photoUpload,
#header-upload-modal,
#logo-upload-modal {
  overflow: hidden;
}
#photoUpload .fa-cloud-upload { 
  border: none;
  outline: 0;
  color: #333;
  border-radius: 5px;
}
#photoUpload .fa-cloud-upload:before {
  padding: 18px;
}
#personal-container .editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: none;
}

/* //// Profiles Tab \\\\ */
#new-branding-modal #navbar-fix {
  display: none;
}

.comp_level.editable-empty {
  color: #0088cc !important;
}