\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{6px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_name", borderwidth:"0", width:"53em" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_address", borderwidth:"0", width:"21.5em" %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield nil, name:"section_2_proposed_secondary_city", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield nil, name:"section_2_proposed_secondary_state", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield nil, name:"section_2_proposed_secondary_zip", borderwidth:"0", width:"7.5em" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_phone_1", borderwidth:"0", width:"14em" %>

  \vspace{-14px}
  \hspace{171px}
  <%= checkbox nil, name:"section_2_proposed_secondary_phone_home_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{213px}
  <%= checkbox nil, name:"section_2_proposed_secondary_phone_cell_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{246px}
  <%= checkbox nil, name:"section_2_proposed_secondary_phone_work_1", width:"7px", height:"7px" %>

  \vspace{-10px}
  \hspace{290px}
  <%= textfield nil, name:"section_2_proposed_secondary_phone_2", borderwidth:"0", width:"14em" %>

  \vspace{-14px}
  \hspace{441px}
  <%= checkbox nil, name:"section_2_proposed_secondary_phone_home_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{483px}
  <%= checkbox nil, name:"section_2_proposed_secondary_phone_cell_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{516px}
  <%= checkbox nil, name:"section_2_proposed_secondary_phone_work_2", width:"7px", height:"7px" %>

  \vspace{31px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_email", borderwidth:"0", width:"25.8em" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield nil, name:"section_2_proposed_secondary_ssn", borderwidth:"0", width:"14em" %>

  \vspace{-15px}
  \hspace{472px}
  <%= checkbox nil, name:"section_2_proposed_secondary_gender_male", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{510px}
  <%= checkbox nil, name:"section_2_proposed_secondary_gender_female", width:"7px", height:"7px" %>

  \vspace{31px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_dob", borderwidth:"0", width:"12.3em" %>

  \vspace{-12px}
  \hspace{159px}
  <%= textfield nil, name:"section_2_proposed_secondary_dob", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{215px}
  <%= textfield nil, name:"section_2_proposed_secondary_birth_state", borderwidth:"0", width:"15em" %>

  \vspace{-12px}
  \hspace{380px}
  <%= textfield nil, name:"section_2_proposed_secondary_country_state", borderwidth:"0", width:"16.8em" %>

  \vspace{25px}
  \hspace{114px}
  <%= checkbox nil, name:"section_2_proposed_secondary_us_citizen_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{147px}
  <%= checkbox nil, name:"section_2_proposed_secondary_us_citizen_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{373px}
  <%= checkbox nil, name:"section_2_proposed_secondary_photo_id_dl", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{454px}
  <%= checkbox nil, name:"section_2_proposed_secondary_photo_id_passport", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{507px}
  <%= checkbox nil, name:"section_2_proposed_secondary_photo_id_state_id", width:"7px", height:"7px" %>

  \vspace{31px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_id_number", borderwidth:"0", width:"18.8em" %>

  \vspace{-12px}
  \hspace{221px}
  <%= textfield nil, name:"section_2_proposed_secondary_id_state_country_issue", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{415px}
  <%= textfield nil, name:"section_2_proposed_secondary_id_expiration", borderwidth:"0", width:"13em" %>

  \vspace{27px}
  \hspace{301px}
  <%= checkbox nil, name:"section_2_proposed_secondary_permanent_resident_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{333px}
  <%= checkbox nil, name:"section_2_proposed_secondary_permanent_resident_no", width:"7px", height:"7px" %>

  \vspace{31px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_country_or_origin", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{193px}
  <%= textfield nil, name:"section_2_proposed_secondary_date_of_entry", borderwidth:"0", width:"10.5em", maxlen:12 %>

  \vspace{-12px}
  \hspace{310px}
  <%= textfield nil, name:"section_2_proposed_secondary_current_citizenship_country", borderwidth:"0", width:"23.7em" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_green_card_visa_number", borderwidth:"0", width:"24.5em" %>

  \vspace{-12px}
  \hspace{280px}
  <%= textfield nil, name:"section_2_proposed_secondary_green_card_visa_expiration", borderwidth:"0", width:"26.8em" %>

  \vspace{25px}
  \hspace{270px}
  <%= checkbox nil, name:"section_2_proposed_secondary_tobacco_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{303px}
  <%= checkbox nil, name:"section_2_proposed_secondary_tobacco_no", width:"7px", height:"7px" %>

  \vspace{31px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_last_tobacco_use_date", borderwidth:"0", width:"16.5em" %>

  \vspace{-12px}
  \hspace{198px}
  <%= textfield nil, name:"section_2_proposed_secondary_tobacco_products_used", borderwidth:"0", width:"35em" %>

  \vspace{29px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_height", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{180px}
  <%= textfield nil, name:"section_2_proposed_secondary_weight", borderwidth:"0", width:"16em" %>

  \vspace{-15px}
  \hspace{354px}
  <%= checkbox nil, name:"section_2_proposed_secondary_marital_status_single", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{396px}
  <%= checkbox nil, name:"section_2_proposed_secondary_marital_status_married", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{444px}
  <%= checkbox nil, name:"section_2_proposed_secondary_marital_status_separated", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{502px}
  <%= checkbox nil, name:"section_2_proposed_secondary_marital_status_divorced", width:"7px", height:"7px" %>

  \vspace{27px}
  \hspace{194px}
  <%= checkbox nil, name:"section_2_proposed_secondary_name_change_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{226px}
  <%= checkbox nil, name:"section_2_proposed_secondary_name_change_no", width:"7px", height:"7px" %>

  \vspace{-8px}
  \hspace{258px}
  <%= textfield nil, name:"section_2_proposed_secondary_previous_names", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{395px}
  <%= textfield nil, name:"section_2_proposed_secondary_date_and_reason_for_change", borderwidth:"0", width:"15.3em" %>

  \vspace{25px}
  \hspace{139px}
  <%= checkbox nil, name:"section_2_proposed_secondary_employed_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{172px}
  <%= checkbox nil, name:"section_2_proposed_secondary_employed_no", width:"7px", height:"7px" %>

  \vspace{-8px}
  \hspace{205px}
  <%= textfield nil, name:"section_2_proposed_secondary_unemployment_reason", borderwidth:"0", width:"34.6em" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_occupation", borderwidth:"0", width:"34em" %>

  \vspace{-12px}
  \hspace{373px}
  <%= textfield nil, name:"section_2_proposed_secondary_annual_income", borderwidth:"0", width:"17.8em" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_proposed_secondary_job_title_and_duties", borderwidth:"0", width:"53em" %>
\end{Form}
