\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{493px}
  \hspace{30px}
  <%= textfield nil, name:"az_hiv_pi_signature", borderwidth:"0", width:"28em" %>

  \vspace{-11px}
  \hspace{355px}
  <%= textfield nil, name:"az_hiv_pi_signature_date", borderwidth:"0", width:"19em" %>

  \vspace{71px}
  \hspace{15px}
  <%= textfield nil, name:"az_hiv_physician_name", borderwidth:"0", width:"17em" %>

  \vspace{-12px}
  \hspace{195px}
  <%= textfield nil, name:"az_hiv_physician_address", borderwidth:"0",width:"18em" %>

  \vspace{-12px}
  \hspace{388px}
  <%= textfield nil, name:"az_hiv_physician_city_state_zip", borderwidth:"0", width:"16em" %>

  \vspace{32px}
  \hspace{15px}
  <%= textfield nil, name:"az_hiv_pi_signature_2", borderwidth:"0", width:"30em" %>

  \vspace{-11px}
  \hspace{355px}
  <%= textfield nil, name:"az_hiv_pi_signature_date_2", borderwidth:"0", width:"19em" %>

  \vspace{14px}
  \hspace{355px}
  <%= signature height:"2em" %>
\end{Form}
