<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% Array(@message).each do |line| %>
      <%= content_tag :pre, line %>
    <% end %>
    <% if @exception %>
      <p><%= @exception.class %> <%= @exception.message %></p>
    <% end %>
    <hr>
    <% if @debug %>
      <pre><%= YAML::dump(@debug) %></pre>
    <% end %>
    <ul>
      <% @backtrace.each do |line| %>
        <%= content_tag :li, line %>
      <% end %>
    </ul>
  </body>
</html>
