<%= Array(@message).join("\n") %>
<% if @exception %><%= @exception.class %> <%= @exception.message %><% end %>
-------------------------------
<% if @debug %>
  <pre><%= YAML::dump(@debug) %></pre>
<% end %>
-------------------------------
<%= @backtrace.join("\n") %>