<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= content_tag :p, @message unless @message.nil? %>
    <%= content_tag :p, @exception.message %>
    <hr>
    <ul>
      <% @exception.backtrace.each do |line| %>
        <%= content_tag :li, line %>
      <% end %>
    </ul>
  </body>
</html>