<h1>New User Created</h1>
<h2>General</h2>
<table>
  <tr>
    <td>id, name</td>
    <td>
      #<%= @user.id %>
      (<%= @user.short_id %>)
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <td>parent</td>
    <td>
      #<%= @user.parent.try :id %>
      (<%= @user.parent.try :short_id %>)
      <%= @user.parent.try :name %>
    </td>
  </tr>
</table>
<h2>Contact Info</h2>
<table>
  <tr><th>Emails</th></tr>
  <% @user.emails.each do |item| %>
    <tr><td><%= item.to_s %></td></tr>
  <% end %>
  <tr><th>Phones</th></tr>
  <% @user.phones.each do |item| %>
    <tr><td><%= item.to_s %></td></tr>
  <% end %>
  <tr><th>Addresses</th></tr>
  <% @user.addresses.each do |item| %>
    <tr><td><%= item.to_s %></td></tr>
  <% end %>
</table>
