The owner of email address <%=@message.recipient%> has requested to be removed from your <%=@email_type%> lists.

You originally contacted this person through the Custom Distribution sending option in Insureio (the option that allows you to enter an arbitrary list of email addresses). This person may be either a party who is not yet in Insureio or who has an email address that is shared by multiple consumers/recruits and so is unable to be identified by Insureio. Below are some further details about your contact with this person.

==============================================

Template:  <%= @message.template.name %>
Date Sent: <%= @message.sent %>

==============================================

Thank you.
