\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{-12px}
  \hspace{225px}
  <%= textfield @cons.years_of_agent_relationship, name:"section_21_known_pi", borderwidth:"0", width:"32em" %>

  \vspace{14px}
  \hspace{243px}
  <%= checkbox @cons.relationship_to_agent&.strip&.present?, name:"section_21_relation_to_pi_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{274px}
  <%= checkbox @cons.relationship_to_agent&.strip&.blank?, name:"section_21_relation_to_pi_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{410px}
  <%= textfield @cons.relationship_to_agent, name:"section_21_relation", borderwidth:"0", width:"13em", maxlen:23 %>

  \vspace{31px}
  \hspace{21px}
  <%= textfield @cons.years_at_address, name:"section_21_pi_lived_address_length", borderwidth:"0", width:"52em" %>

  \vspace{11px}
  \hspace{273px}
  <%= checkbox nil, name:"section_21_family_member_applications_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{304px}
  <%= checkbox true, name:"section_21_family_member_applications_no", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{21px}
  <%= textfield nil, name:"section_21_family_member_names", borderwidth:"0", width:"52em" %>

  \vspace{8px}
  \hspace{175px}
  <%= textfield purpose, name:"section_21_purpose_of_insurance", borderwidth:"0", width:"36.5em", maxlen:65 %>

  \vspace{13px}
  \hspace{300px}
  <%= textfield currency(kase.ext['nmb_spouse_coverage_amt'], precision: 0), name:"section_21_insurance_amount_spouse", borderwidth:"0", width:"24em" %>

  \vspace{51px}
  \hspace{21px}
  <%= textfield nil, name:"section_21_father_name", borderwidth:"0", width:"35em" %>

  \vspace{-12px}
  \hspace{390px}
  <%= textfield nil, name:"section_21_father_insurance_total", borderwidth:"0", width:"15em" %>

  \vspace{21px}
  \hspace{21px}
  <%= textfield nil, name:"section_21_mother_name", borderwidth:"0", width:"35em" %>

  \vspace{-12px}
  \hspace{390px}
  <%= textfield nil, name:"section_21_mother_insurance_total", borderwidth:"0", width:"15em" %>

  \vspace{19px}
  \hspace{21px}
  <%= checkbox nil, name:"section_21_siblings_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{52px}
  <%= checkbox nil, name:"section_21_siblings_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{93px}
  <%= textfield nil, name:"section_21_siblings_total_insurance", borderwidth:"0", width:"45em" %>

  \vspace{21px}
  \hspace{166px}
  <%= checkbox nil, name:"section_21_collection_authorization_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{197px}
  <%= checkbox nil, name:"section_21_collection_authorization_no", width:"7px", height:"7px" %>

  \vspace{13px}
  \hspace{474px}
  <%= checkbox nil, name:"section_21_witness_signature_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{506px}
  <%= checkbox true, name:"section_21_witness_signature_no", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{210px}
  <%= textfield 'This was sold through Direct Distribution channel and signed via phone.', name:"section_21_obtained_application_explanation", borderwidth:"0", width:"33em", maxlen:71 %>

  \vspace{52px}
  \hspace{21px}
  <%= textfield @aor&.full_name, name:"section_21_writing_agent_name", borderwidth:"0", width:"38em", maxlen:68 %>

  \vspace{-12px}
  \hspace{423px}
  <%= textfield '0', name:"section_21_comission_percentage_1", borderwidth:"0", width:"12em" %>

  \vspace{21px}
  \hspace{21px}
  <%= textfield @kase.agent&.full_name, name:"section_21_split_agent_name_1", borderwidth:"0", width:"38em", maxlen:68 %>

  \vspace{-12px}
  \hspace{423px}
  <%= textfield '100', name:"section_21_comission_percentage_2", borderwidth:"0", width:"12em" %>

  \vspace{21px}
  \hspace{21px}
  <%= textfield nil, name:"section_21_split_agent_name_2", borderwidth:"0", width:"38em" %>

  \vspace{-12px}
  \hspace{423px}
  <%= textfield nil, name:"section_21_comission_percentage_3", borderwidth:"0", width:"12em" %>

  \vspace{21px}
  \hspace{21px}
  <%= textfield special_note, name:"section_21_special_notes", borderwidth:"0", width:"52.5em", height:"60px", multiline:"true" %>

  \vspace{58px}
  \hspace{30px}
  <%= signature height:"2em" %>

  \vspace{-12px}
  \hspace{311px}
  <%= textfield Date.today, name:"section_21_agent_signature_date", borderwidth:"0", width:"11em" %>

  \vspace{-12px}
  \hspace{439px}
  <%= textfield nil, name:"section_21_amount_remitted", borderwidth:"0", width:"10em" %>

\end{Form}
