<div class="modal-header">
  <a type="button" class="close" ng-click="$close()">×</a>
  <h4 class="modal-title">{{statusType.id ? 'Editing Status' : 'New Status'}}: {{statusType.name}}</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body">
  <form name="scopeVars.editForm" role="form">
    <div class="form-group">
      <label>Sales Stage & Category</label>
      <select class="form-control"
      ng-model="statusType.status_type_category_id"
      ng-options="o.id as o.name group by o.salesStageName for o in categories"
      ng-change=updateSSFromCat(statusType.status_type_category_id)
      ng-disabled="statusType.id && !currentUser.can('super_edit')">
      </select>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" ng-model="statusType.name">
    </div>
    <div class="form-group" ng-if="currentUser.can('edit_status_type_access')">
      <label>Access</label>
      <select class="form-control"
      ng-disabled="!currentUser.can('edit_status_type_access')"
      ng-model="statusType.ownership_id"
      ng-options="o.id as o.value for o in OWNERSHIPS">
      </select>
    </div>
    <div class="form-group">
      <label>Owner</label>
      <ui-select theme="bootstrap"
        class="dropup"
        ng-disabled="!currentUser.can('edit_status_type_access')"
        ng-model="statusType.$owner"
        on-select="statusType.owner_id=$select.selected.person_id"
        on-remove="statusType.owner_id=null">
        <ui-select-match data-placeholder="(autocomplete)"
            allow-clear="true">
            {{$select.selected.full_name}} ({{$select.selected.person_id.toString(36)}})
        </ui-select-match>
        <ui-select-choices class="text-left"
            refresh="getOwnerOptions($select.search)"
            refresh-delay="100"
            repeat="contact in ownerOptions">
            <span ng-bind="contact.full_name"></span> ({{contact.person_id.toString(36)}})
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group">
      <label>
        <span uib-tooltip="The chosen color will be used to indicate this status in several views withing Insureio.">
          Color <i class="fa fa-question-circle"></i>
        </span>
      </label><br>
      <div class="form-inline">
        <input type="color" colorpicker
          ng-model="statusType.color">
        <input class="form-control"
          style="width:100px;"
          type="text" 
          ng-model="statusType.color"
          pattern="#(\d|[a-fA-F]){6}" disabled>
      </div>
    </div>
    <div>
      <label>
        <input ng-model="statusType.indicates_closed" type="checkbox">
        <span style="cursor:pointer"
          uib-tooltip="This status indicates that the policy is closed."
          tooltip-placement="top" tooltip-trigger="mouseenter">
          Closed <i class="fa fa-question-circle"></i>
        </span>
      </label>
    </div>
    <div ng-if="statusType.indicates_closed && scopeVars.forPolicies">
      <label>
        <input ng-model="statusType.indicates_test" type="checkbox">
        <span style="cursor:pointer"
          uib-tooltip="This status indicates that the policy is a test."
          tooltip-placement="top" tooltip-trigger="mouseenter">
          Test <i class="fa fa-question-circle"></i>
        </span>
      </label>
    </div>
    <div ng-if="statusType.indicates_closed && scopeVars.forPolicies">
      <label>
        <input ng-model="statusType.indicates_duplicate" type="checkbox">
        <span style="cursor:pointer"
          uib-tooltip="This status indicates that the policy is a duplicate."
          tooltip-placement="top" tooltip-trigger="mouseenter">
          Duplicate <i class="fa fa-question-circle"></i>
        </span>
      </label>
    </div>
  </form>
</div>
<div class="modal-footer ng-scope">
  <a class="btn pull-left"
    ng-click="$close()">
    Cancel
  </a>
  <a class="btn btn-default"
    ng-class="scopeVars.editForm.$pristine ? 'disabled' : '' "
    ng-click="resetEditForm(statusType)">
    Reset
  </a>
  <a class="btn btn-primary"
    ng-class="scopeVars.editForm.$pristine ? 'disabled' : '' "
    ng-click="saveChanges(statusType)">
    Save
  </a>
</div>