<div id="policy-status-rules" ng-controller="StatusTypeMgmtCtrl">

  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-sitemap"></i> Agency Management</h3>
      <h2>{{scopeVars.forPolicies ? 'Policy' : 'User/Recruitment'}} Status Rules</h2>
    </div>
    <div class="right">
      <div class="actions">
        <a ng-if="scopeVars.forPolicies && currentUser.can('edit_initial_status_type_id')"
          class="btn btn-default"
          ng-click="openStatusForNewPoliciesModal()"
          title="If selected, this status rule will be used in place of the status rule for the brand.">
          <span ng-if="statusTypes.$resolved && currentUser.initial_status_type_id">
            Your Default Status for New Opportunties/Policies is: <strong>{{ (statusTypes | whereKeyMatchesValue : 'id' : currentUser.initial_status_type_id)[0].name }}</strong>
          </span>
          <span ng-if="statusTypes.$resolved && !currentUser.initial_status_type_id">
            Click To Set Your Default Status for New Opportunties/Policies
          </span>
        </a>
        <a ng-if="currentUser.can('create_status_types')"
          class="btn btn-primary"
          ng-click="openEditModal()">
          New Status Type
        </a>
        <div class="btn-group" uib-dropdown
          ng-if="currentUser.can('edit_self') || currentUser.can('view_own_permissions')">
          <a class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
            <i class="fa fa-filter"></i> Filter
          </a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li style="text-align: center;">
              <div>
                <label uib-tooltip="If you or your organization have defined a large number of your own status rules, you may wish to exclude the global ones from your view here and within status menus. This setting can also be set from My Account &gt; Submission Options."
                  tooltip-placement="bottom" tooltip-trigger="mouseenter"
                  style="min-width: 300px;">
                  <input type="checkbox"
                    ng-model="currentUser.exclude_global_status_types"
                    ng-change="updateRecordSingleField('/users/'+currentUser.id+'.json','your account to','exclude_global_status_types',currentUser.exclude_global_status_types,getStatusTypes,refreshCurrentUser)"
                    ng-disabled="!currentUser.can('edit_self')">
                  Hide Global Status Types For You?
                  <i class="fa fa-question-circle"></i>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div id="status-builder-view" class="section-content" ng-show="!scopeVars.showTasks">
      <div class="stage" ng-repeat="salesStage in salesStages">
        <h4 ng-bind="salesStage.name"></h4>
        <section ng-repeat="category in categories | whereKeyMatchesValue : 'sales_stage_id' : salesStage.id">
          <h5 ng-bind="category.name"></h5>
          <div class="table-responsive">
            <table class="table table-hover table-link">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Status Name</th>
                  <th class="text-center">
                    <span uib-tooltip="If checked, this status indicates that the {{scopeVars.forPolicies ? 'policy' : 'user'}} is a test."
                      tooltip-placement="top" tooltip-trigger="mouseenter"
                      style="cursor:pointer"
                      ng-if="scopeVars.forPolicies">
                      Test
                      <i class="fa fa-question-circle"></i>
                    </span>
                  </th>
                  <th class="text-center">
                    <span uib-tooltip="If checked, this status indicates that the {{scopeVars.forPolicies ? 'policy' : 'user'}} is a duplicate."
                      tooltip-placement="top" tooltip-trigger="mouseenter"
                      style="cursor:pointer"
                      ng-if="scopeVars.forPolicies">
                      Duplicate
                      <i class="fa fa-question-circle"></i>
                    </span>
                  </th>
                  <th class="text-center">
                    <span uib-tooltip="If checked, this status indicates that the {{scopeVars.forPolicies ? 'policy' : 'user'}} is closed/inactive."
                      tooltip-placement="top" tooltip-trigger="mouseenter"
                      style="cursor:pointer">
                      Closed
                      <i class="fa fa-question-circle"></i>
                    </span>
                  </th>
                  <th>Access</th>
                  <th>Owner</th>
                  <th>
                    <div style="display:inline-block;position:relative;">
                      <i ng-if="!can('super_edit') && !editableIds.$resolved"
                        class="fa fa-refresh fa-spin"
                        style="display:block;position:absolute;right:0;top:50%;margin-top:-13px;font-size: 18px;"
                        title="Still determining which status rules your account can edit."></i>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="statusType in statusTypes | whereKeyMatchesValue : 'status_type_category_id' : category.id"
                  ng-include="'/crm/status_types/status_type.html'">
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>

    <div id="task-builder-view" class="section-content"
      ng-show="scopeVars.showTasks"
      ng-controller="Sequence.TaskBuildersCtrl">
      <div class="section-header" style="min-height: 78px;box-shadow: none;">
        <div class="left">
          <h2>Task Rules For Status: <span ng-bind="scopeVars.activeStatusType.name"></span></h2>
        </div>
        <div class="right">
          <div class="actions">
            <a class="btn btn-default"
              ng-click="scopeVars.showTasks=false">
              <i class="fa fa-long-arrow-left"></i>
              Back
            </a>
            <a ng-if="can('super_edit') ||
              scopeVars.activeStatusType.owner_id==currentUser.id ||
              editableIds.indexOf(scopeVars.activeStatusType.owner_id)>-1"
              class="btn btn-default"
              ng-disabled="isToggled(newBuilder, '_edit')"
              ng-click="toggle(newBuilder, '_edit', true)">
              New Task
            </a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-link">
          <thead>
            <tr>
              <th>Name</th>
              <th>Assigned User</th>
              <th uib-tooltip="When tasks are created, they will be assigned either to the specified user if one is provided, or else to the user who serves the specified role."
                tooltip-placement="bottom" tooltip-trigger="mouseenter">
                Assignment Role
                <i class="fa fa-question-circle"></i>
              </th>
              <th class="text-center">Delay</th>
              <th class="text-center">Evergreen</th>
              <th>Type</th>
              <th>
                <span uib-tooltip="Template is not needed for To-Do tasks."
                tooltip-placement="bottom" tooltip-trigger="mouseenter">
                  Template 
                  <i class="fa fa-exclamation-circle text-danger"></i>
                </span>
              </th>
              <th class="text-center">Skip Weekends &amp; Holidays</th>
              <th></th>
            </tr>
          </thead>
          <!-- Display the new builder outside the list, so it stays at the top and is not subject to sorting. -->
          <tbody  ng-repeat="builder in [newBuilder]"
                  ng-include="'/sequences/task_builder.html'">
          </tbody>
          <tbody  ng-repeat="builder in taskBuilders"
                  ng-include="'/sequences/task_builder.html'">
          </tbody>
        </table><!-- End of table. -->
      </div>
    </div><!-- End Section Content -->
  </div><!-- End Section Container -->
</div><!-- End of container div that has the ng-controller. -->