<td>
  <span class="label label-default" ng-bind="{{statusType.id}}"></span>
</td>
<td>
  <span ng-bind="statusType.name"></span>
  <i ng-if="statusType.note_to_users"
    uib-tooltip="{{statusType.note_to_users}}"
    tooltip-placement="top" tooltip-trigger="mouseenter"
    class="fa fa-question-circle"></i>
</td>
<td class="text-center">
  <i ng-show="statusType.indicates_test && scopeVars.forPolicies" class="fa fa-check"></i>
</td>
<td class="text-center">
  <i ng-show="statusType.indicates_duplicate && scopeVars.forPolicies" class="fa fa-check"></i>
</td>
<td class="text-center">
  <i ng-show="statusType.indicates_closed" class="fa fa-check"></i>
</td>
<td>
  <i ng-if="statusType.ownership_id==GLOBAL_ID"
    class="fa fa-globe"></i>
  <i ng-if="statusType.ownership_id==USER_ID"
    class="fa fa-user"></i>
  <i ng-if="statusType.ownership_id==USERS_ID"
    class="fa fa-users"></i>
  <span ng-bind="statusType.ownership_id | enumValue : 'OWNERSHIPS' : 'value'"
  style="text-transform:capitalize;"></span>
</td>
<td>
  <a ng-if="statusType.owner_id"
    ng-href="/users/{{statusType.owner_id}}">
    <span ng-bind="statusType.$owner.full_name || '-'"></span>
  </a>
</td>
<td>
  <a class="btn btn-default" 
    ng-click="getTasksForStatus(statusType);"
    ng-if="!can('super_edit') &&
    statusType.owner_id!=currentUser.id &&
    editableIds.indexOf(statusType.owner_id)==-1">
    <i class="fa fa-eye"></i>
    View Tasks
  </a>
  <div class="btn-group" uib-dropdown
    ng-if="can('super_edit') ||
    statusType.owner_id==currentUser.id ||
    editableIds.indexOf(statusType.owner_id)>-1">
    <button type="button"
      class="btn btn-default dropdown-toggle"
      uib-dropdown-toggle>
      <i class="fa fa-cog"></i>
      <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
      <li>
        <a ng-click="openEditModal(statusType)">
          Edit Status
        </a>
      </li>
      <li>
        <a ng-click="getTasksForStatus(statusType);">
          Edit Tasks
        </a>
      </li>
      <li>
        <a ng-click="adjustSortOrder(statusType,'-')">
          Move Up List
        </a>
      </li>
      <li>
        <a ng-click="adjustSortOrder(statusType,'+')">
          <i class="fa fa-level-down"></i>
          Move Down List
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a ng-click="destroyRecord($index, statusTypes,'/crm/status_types/'+statusType.id+'.json','status rule')"
          style="color:red;">
          Remove
        </a>
      </li>
    </ul>
  </div><!-- End of action menu. -->
</td>