<div class="modal-header">
  <button type="button" class="close" ng-click="$close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="new-policies-status">Status For New Policies</h4>
</div>
<div class="modal-body">
  <div class="alert alert-info">
    <i class="fa fa-question-circle"></i>
    This applies a status by default for new policies where you are the agent.
  </div>
  <div class="initial-status-type">
    <span>
      Your Initial Status For New Policies
      :
    </span>
    <a editable-select="currentUser.initial_status_type_id"
      e-ng-options="o.id as o.name for o in statusTypes"
      onbeforesave="updateRecordSingleField('/users/'+currentUser.id+'.json','','initial_status_type_id',$data)">
      {{(statusTypes | whereKeyMatchesValue : 'id' : currentUser.initial_status_type_id )[0].name || '(Unspecified)'}}
    </a>
  </div>
</div>
<div class="modal-footer">
  <a class="btn pull-left" ng-click="$close()">Cancel</a>
  <button type="button" class="btn btn-primary" ng-click="$close()">Save changes</button>
</div>