angular.module('ioConstants',[])
.run(['$rootScope', 'ioConstantsObject', function($rootScope, ioConstantsObject) {
  //Note: This module is included in other components which need to be backward compatibly to ES5 (ECMAScript 2009).

  function defineConstantAccessorOnWindow(propName,propValue){
    if( window[constName]!==undefined ){//check against `undefined` so falsey constant values don't get redefined
      return;
    }
    Object.defineProperty(window, propName, {
      get: function(){
        <% unless @ignore_deprecation_warning %>
          console.warn('Calling constants via `window` is DEPRECATED! Use `$rootScope` or factory `ioConstantsObject` instead. Constant: '+propName);
        <% end %>
        return propValue;
      }
    });
  }
  //ioConstantsObject is also copied onto $rootScope in insureio-ng.js for ease of use in templates.
  for(var constName in ioConstantsObject){
    var constValue=ioConstantsObject[constName];
    //We must call an outside function here due to the way `var` variables are scoped.
    //Otherwise each getter function would exist within a closure with references to the same `constValue`.
    defineConstantAccessorOnWindow(constName,constValue);
  }

  // Allow easy access to constants from templates.
  $.extend($rootScope, ioConstantsObject);
}])
.factory('ioConstantsObject', [function () {

  /*
    Generate constants from all Enum classes.
  <%# Note: A few of those classes have customized implementations of `as_json`,
      so they won't match exactly what's in "enums.json". But they will be fairly close.
      Ideally, at some later point we can eliminate those discrepencies and just include that file here.
  %>
  */
  var ioConstants = <%= JSON.pretty_generate(Enum.constants.map do |e|
      if Enum.const_get(e) < Enum::EnumStereotype
        [e.to_s.pluralize.underscore.upcase, Enum.const_get(e).as_json]
      end
    end.compact.to_h)
  %>

  var aliases={//for backward compatibility
        DURATIONS:                        ioConstants.TLI_DURATION_OPTIONS,
        HEALTH_CLASSES:                   ioConstants.TLI_HEALTH_CLASS_OPTIONS,
        HEALTH_CLASSES_RTT:               ioConstants.RTT_HEALTH_CLASS_OPTIONS,
        STATUS_CATEGORIES:                ioConstants.STATUS_TYPE_CATEGORIES,
        PREMIUM_MODES:                    ioConstants.PREMIUM_MODE_OPTIONS,
        PRODUCT_CATS:                     ioConstants.PRODUCT_TYPE_CATS,
        REPORTING_BY_CASE_CRITERIA:       ioConstants.REPORTING_BY_CASE_CRITERIA_FIELDS,
        REPORTING_BY_CASE_FIELDS_TO_SHOW: ioConstants.REPORTING_BY_CASE_SHOWABLE_FIELD_GROUPS,
        ROLES:                            ioConstants.USAGE_ROLES,
        WIDGET_TYPES:                     ioConstants.QUOTING_WIDGET_TYPES,//NEED TO include short names for whitelisted carriers.
      };
  $.extend(ioConstants,aliases);

  /* Infer name for unnamed DURATIONS */
  for (var x in ioConstants.DURATIONS) {
    var d=ioConstants.DURATIONS[x];
    if (!d.name) { d.name = d.name_for_tli_widget || d.ixn_code }
  }

  //Tweak ENTITY_TYPES for display
  for(var x in ioConstants.ENTITY_TYPES){
    var eT=ioConstants.ENTITY_TYPES[x],
        nameExcludingFirstLetter=eT.name.slice(1),
        uppercaseFirstLetter=eT.name.charAt(0).toUpperCase();
    eT.name=uppercaseFirstLetter+nameExcludingFirstLetter;
  }
  //Tweak DISEASE_TYPES for display
  for(var x in ioConstants.DISEASE_TYPES){
    var dT=ioConstants.DISEASE_TYPES[x];
    delete dT.klass;
    dT.label=dT.name.replace(/_/g,' ')
  }

  /* Set constants that are not enum classes */
  var otherConstants={
        BRAND_ID_FOR_NMB:                 <%= Brand::NMB_ID %>,
        ASSIGNABLE_ROLES:                 <%= ([Enum::UsageRole.first] + Enum::UsageRole.all[3..9]).to_json %>,
        CARRIERS:                         <%= Carrier.order('name ASC').to_json(methods:[:short_name]) %>,
        CARRIER_ID_FOR_MOTORISTS:         <%= Carrier::ID_FOR_MOTORISTS %>,
        CARRIERS_WHITELISTED:             <%= Enum::QuotingWidgetType['Term Life Insurance'].whitelisted_carriers.to_json %>,
        CITIZENSHIP_US_CITIZEN_ID:        1,
        CONSUMER_LINK_STATUS_TYPE_ID:     <%= Crm::StatusType::CONSUMER_LINK_STATUS_TYPE_ID %>,
        EZL_WITHDRAWN_STATUS_TYPE_ID:     <%= Crm::StatusType::EZL_WITHDRAWN_STATUS_TYPE_ID %>,
        FEMALE:                           <%= FEMALE %>,
        GENDERS:                          <%= [{value: FEMALE, text: 'Female'},{value: MALE, text: 'Male'}].to_json %>,
        HEALTH_CLASSES_TOP_4:             ioConstants.TLI_HEALTH_CLASS_OPTIONS.slice(0,4),
        HEALTH_CLASSES_NMB_WHOLE_LIFE:    ioConstants.TLI_HEALTH_CLASS_OPTIONS.filter(function(o){ return o.name=='Standard'; }),
        HEALTH_CLASSES_NMB_TERM_LTE100K:  ioConstants.TLI_HEALTH_CLASS_OPTIONS.filter(function(o){ return !o.name.match(/(Best|Preferred|Plus)/) })[0],
        HEALTH_CONDITION_TYPES:           <%= Crm::HealthInfo::HEALTH_CONDITIONS.to_json %>,<%# see lib/health/legacy_support.rb %>
        MALE:                             <%= MALE %>,
        MARKETING_TEMPLATE_MEDIA:         ['Email','SMS','Print'],
        MEMBERSHIPS_NONPAYING:            ioConstants.MEMBERSHIPS.filter(function(m){ return m.pricing==0; }),
        MEMBERSHIPS_PAYING:               ioConstants.MEMBERSHIPS.filter(function(m){ return m.pricing>0; }),
        MOBILE_PHONE_TYPE_ID:             3,
        PERMISSIONS:                      ioConstants.PERMISSION_LISTS.filter(function(p){ return p.name=='All'; })[0].list,
        PERMISSIONS_DEFAULTS:             ioConstants.PERMISSION_LISTS.filter(function(p){ return p.name!='All'; }).map(function(p){ return [p.id,p.list]}),
        PERSONAL_DISEASE_TYPES_FOR_XRAE:  ioConstants.DISEASE_TYPES.filter(function(dT){ return <%= Quoting::Xrae::PERSONAL_DISEASE_IDS.to_json %>.indexOf(dT.id)!=-1; }),
        PHONE_VALIDATION_PATTERN:         "^\\(?[2-9]\\d{2}(\\)|-)?\\d{3}-?\\d{4}",
        REFERRAL_STATUS_TYPE_ID:          <%= Crm::StatusType::REFERRAL_STATUS_TYPE_ID %>,
        REFERRAL_BRAND_ID:                107,
        RELATIONSHIP_TYPE_ID_PARENT:      1,
        RELATIONSHIP_TYPE_ID_SIBLING:     2,
        RELATIVES_DISEASE_TYPES_FOR_XRAE: ioConstants.DISEASE_TYPES.filter(function(dT){ return <%= Quoting::Xrae::RELATIVES_DISEASE_IDS.to_json %>.indexOf(dT.id)!=-1; }),
        SALES_STAGE_ID_FOR_APP_F:         3,
        SALES_STAGE_ID_FOR_SUBMITTED:     4,
        SALES_STAGE_ID_FOR_PLACED:        5,
        SAVED_QUOTE_STATUS_TYPE_ID:       <%= Crm::StatusType::SAVED_QUOTE_STATUS_TYPE_ID %>,
        STATES_NMB:                       ioConstants.STATES.filter(function(s){
                                            return ["WI", "IL", "MI", "MN", "AZ", "CO", "IA", "NE", "ND", "SD", "WY"].indexOf(s.abbrev)!=-1;
                                          }),
        STATES_RTT:                       ioConstants.STATES.filter(function(s){
                                            return <%= Processing::Rtt::RTT_ALLOWED_STATE_IDS.to_json %>.indexOf(s.id)!=-1;
                                          }),
        SUBMIT_TO_APP_TEAM_STATUS_TYPE_ID:<%= Crm::StatusType::SUBMIT_TO_APP_TEAM_STATUS_TYPE_ID %>,
        SSN_VALIDATION_PATTERN:           "\\d{3}-?\\d{2}-?\\d{4}",
        TIME_ZONES:                       <%= TIME_ZONES.map{ |z| { value: z.name, text: z.name } }.to_json %>,
        TIN_VALIDATION_PATTERN:           "\\d{2}-?\\d{7}",
        STRIPE_KEY:                       "<%= APP_CONFIG['stripe']['publishable_key'] %>",
        VALID_URL_PATTERN:                "<%= VALID_URL_PATTERN_JS %>",
      };
  $.extend(ioConstants,otherConstants);

  ioConstants.SECTION_PAGES={
    'Dashboard':[
      ['Dashboard',           '',                        '/dashboard']
    ],
    'New Quote':[
      ['New Quote',           '',                        '/quoting/quotes/new']
    ],
    'Contacts Management':[
      ['Advanced Consumer Search', 'contacts_gui',              '/contacts?person_type=Consumer'],
      ['Advanced User Search',     'agency_mgmt',               '/contacts?person_type=User'],
      ['Advanced Brand Search',    'brand_multiple',            '/contacts?person_type=Brand'],
      ['Import Consumers Via CSV', 'import_consumer_csv',       '/consumers/csv.html'],
    ],
    'Agency Management':[
      /* [label,              permission,                url] */
      ['User Hierarchy',                'user_tree',               '/users/hierarchy_mgmt.html'],
      ['Brands',                        'user_gui_brands',         '/brands.html',],
      ['Brand Assignments',             'brand_assignments',       '/brands/assignments'],
      ['Recruits',                      'recruit',                 '/usage/recruitment'],
      ['Lead Distributions',            'lead_distribution_config','/lead_distribution/user_rules'],
      ['Policy Status Rules',           'status_types',            '/crm/status_types?for_user=false'],
      ['User/Recruitment Status Rules', 'user_status_rules_gui',   '/crm/status_types?for_users=true'],
      ['Membership Levels',             'super_edit',              '/users/membership_levels.html'],
    ],
    'Marketing':[
      ['Marketing Templates','marketing_email_custom',    '/marketing/templates'],
      ['Marketing Campaigns','marketing_campaigns_canned','/marketing/campaigns'],
      ['Quoting Widgets',    'quoter_widget',             '/quoting/widgets'],
      ['Links',              'marketing_links',           '/marketing/links'],
      ['Your Common Tags',   '',                          '/users/common_tags'],
    ],
    'Resource Library':[
      ['Quoting & Product Tools',  'quoting_product_tools',    '/resource_libraries/quoters'],
      ['Underwriting Resources',   'underwriting_resources',   '/resource_libraries/guides'],
      ['Advanced Planning Tools',  'advanced_planning_tools',  '/resource_libraries/calculators'],
      ['Professional Development', 'professional_development', '/resource_libraries/training'],
    ],
    'Marketplace':[
      ['Marketplace',            'marketplace',            '/resource_libraries/marketplace']
    ],
    'Reports':[
      ['Reports',                'reporting_canned',       '/reporting/searches']
    ],
    'My Account':[
      ['Personal',               '',                       '/users/0'],
      ['Brands',                 'brand',                  '/users/0?selected_tab=Brands'],
      ['Submission Options',     'edit_submission_options','/users/0?selected_tab=Submission'],
      ['Licensing & Contracting','l_and_c',                '/users/0?selected_tab=Licensing'],
      ['Email',                  'email',                  '/users/0?selected_tab=Email'],
      ['Permissions',            'view_own_permissions',   '/users/0?selected_tab=Permissions'],
      ['Payment',                '',                       '/users/0?selected_tab=Payment'],
    ],
    'Help':[
      ['FAQs',       '','/help/faq'],
      ['Tutorials',  '','/help/tutorials'],
      ['Help',       '','/help/about'],
      ['Suggestions','','/help/suggestions'],
    ]
  };

  ioConstants.SECTION_PERMISSIONS={
    'Agency Management':  'agency_mgmt',
    'Contacts Management':'contacts_gui',
    'Marketing':          'marketing',
    'Resource Library':   'resource_library',
    'Marketplace':        'marketplace',
    'Reports':            'reporting_canned',
    'My Account':         'my_account',
  };
  ioConstants.SECTION_ICONS={
    'Dashboard':             'fa fa-dashboard',
    'New Quote':             'fa fa-pencil',
    'Contacts Management':   'fa fa-address-book',
    'Agency Management':     'fa fa-sitemap',
    'Marketing':             'fa fa-bullhorn',
    'Resource Library':      'fa fa-book',
    'Marketplace':           'fa fa-shopping-cart',
    'Reports':               'fa fa-bar-chart-o',
    'My Account':            'fa fa-user',
    'Help':                  'fa fa-question-circle',
  };
  ioConstants.SECTION_VIDEOS={//more accurately page icons.  should change name.
    'Dashboard':              'https://academy.insureio.com/dashboard-navigation-display/',
    'New Quote':              'https://academy.insureio.com/quote-path-overview/',
    'Contacts Management':    'https://academy.insureio.com/contacts-management-overview/',
    'Branding Profiles':      'https://academy.insureio.com/branding-brands/',
    'Reports':                'https://academy.insureio.com/article-categories/reporting/',
    'Payment':                'https://academy.insureio.com/payment-info/',
    'Licensing & Contracting':'https://academy.insureio.com/licensing-and-contracting/',
    'Email':                  'https://academy.insureio.com/email-configuration/',
  };
  return ioConstants;
}]);
