/* socket-client.js */

var socketFn = {};

/* This function gets called from the AngularJS app on page load.*/
socketFn.loadSocketScript=function(){
  var url="//"+document.location.hostname+":<%= APP_CONFIG['socket']['nodejs_socket_app_port'] %>/socket.io/socket.io.js";
  $.getScript( url, socketFn.init )
  .fail(function(jqxhr, settings, exception) {
    console.error("Could not load websockets javascript", exception);
  })
  ;
}

socketFn.init = function(data, textStatus, jqxhr) {
  if (typeof io !== "undefined" && typeof WebSocket !== "undefined")
  {
    // create socket
    var socket = io.connect(function(){
      return '//' + document.location.hostname + ":<%= APP_CONFIG['socket']['nodejs_socket_app_port'] %>";
    }());

    // handle message
    socket.on('message', function(message){
      if( JSON.stringify(message)==JSON.stringify({body: "connected!"}) ){
        return;//Ignore the connected message. We already have a handler for that.
      }
      console.log('A message came through the socket:\n',message);
      if (typeof message == "string") message = JSON.parse(message);
      switch (message.type) {
        case 'task':      socketFn.gotTask(message); break;
        case 'alert':     alert(message.data); break;
        case 'bulletin':  $rootScope.addBulletin( $.extend({icon:'fa fa-bullhorn'},message.data) ); break;
        case 'js':        eval(message.data); break;
        case 'ahoy-event': if (socketFn.gotEvent) socketFn.gotEvent(message); break;//socketFn.gotEvent() is defined in event_app-ng.js, in Dashboard.EventCtrl.
        case 'update': $rootScope.recUpdateSignal(); break;
        case 'updateWithTemplates': $rootScope.recUpdateSignal(message.data); break;
        default: console.warn('Message does not specify a recognized type.');
      }
    });

    socket.on('connect_failed', function(data){
      console.error("Socket.IO connection failed"); console.error(data)
    });

    socket.on('connect_error', console.error);
    socket.on('connect_timeout', console.error);

    socket.on('connect', function(data){
      console.log('Socket.IO connected!');
    });

  }
  else
  {
    console.warn('No socket js.');
  }
};

angular.module("SocketClientApp", ['RestfulResource',  'ui.bootstrap'])
.controller("SocketClientCtrl", ['$scope','$rootScope','$resource','$http','$filter','$q','$uibModal','$location', '$timeout',
  function($scope, $rootScope, $resource, $http, $filter, $q, $uibModal, $location, $timeout) {
    $scope.socketVars={};
    $scope.socketVars.mode='bulletin';
    $scope.socketVars.templateTime = Date.now();
    $scope.socketVars.recipients = [];
    if(!$rootScope.usersForSearch){ $rootScope.usersForSearch=[]; }//ui-select requires the list exist

    $scope.publish_to_socket=function(){
      if (!$scope.socketVars.recipients.length){
        var confirmMsg='You have not specified any recipients. Are you sure you want to broadcast to all users?';
        if (!confirm(confirmMsg)){
          return false;
        }
      }

      var transactionId=$rootScope.randomNonZeroId(),
          params={
            mode:        $scope.socketVars.mode,
            recipients:  $scope.socketVars.recipients,
            content:     $scope.socketVars.content || $scope.socketVars.templateTime
          };
      $rootScope.addBulletin({text:'Publishing communication to socket.', id:transactionId});
      $http.post('/sockets/publish.json',params)
      .success(function(data, status, headers, config){
        $scope.close();
        $rootScope.removeBulletinById(transactionId);
      })
      .error(function(data, status, headers, config){
        $rootScope.addBulletin({text:'Failed to publish to socket. '+(data.errors||''), klass:'danger', id:transactionId});
      });
    }
  }
]);

function currentUserId() {
  return $rootScope.getCurrentUser().id;
}
function currentUserName() {
  return $rootScope.getCurrentUser().full_name;
}

socketFn.gotTask = function(message) {
  console.log('Received task from socket:',message.data);
  var whomFor = message.data.assignedToId == currentUserId() ? 'user' : 'team';


  the_task={
        task_id:      message.data.id,
        case_id:      message.data.caseId,
        status_type:  message.data.statusName,
        status_color: message.data.statusColor,
        due:          localizeDateTime(message.data.dueAt),
        created_at:   localizeDateTime(message.data.created_at),
        time_zone:    getTzOffset(message.data.personTz),
        person_id:    message.data.personId,
        personType:   message.data.personType,
        follow_up:    message.data.label,
        name:         message.data.personName,
        agent_name:   message.data.assignedToName,
        completed:    (message.data.completed_at!=null && message.data.completed_at!='') ? 'completed' : 'incomplete'
  }

  $.each([ 'opportunities', 'pending' ], function(index,resourceType){
    if( (resourceType=='opportunities' && the_task.status_type!='New Lead') || 
        (resourceType=='pending'       && the_task.agent_name==null) ||
        (resourceType=='unassigned'    && the_task.agent_name!=null) ||
        the_task.completed=='completed'
      ){return;}

    if( $('#dashboard #'+resourceType+'_'+whomFor).length>0 && $('#'+resourceType+'_'+whomFor+'_visible').prop('checked') ){
      console.log('Adding to '+whomFor+'\'s '+resourceType+' list');
      
      foldInPublishedUpdate(resourceType, whomFor, the_task);
    }else{
      console.log('It looks like the '+whomFor+' '+resourceType+' table is hidden right now.');
    }
  });

  updateSideBarToDo(message.data);
}

function getTzOffset(client_tz){
  var user_tz=(new Date().getTimezoneOffset())/60;

  var tz_offset=client_tz-user_tz;
  if(tz_offset>0){
    tz_offset="+"+tz_offset;
  }
  return tz_offset;
}

function localizeDateTime(date_time){
  var user_tz=(new Date().getTimezoneOffset())/60;
  return moment(date_time,'MM/DD/YYYY hh:mm A').add('h',user_tz).format('MM/DD/YYYY hh:mm A');
}

function updateSideBarToDo(theTask){
  $rootScope.$broadcast('addOrUpdateTaskIfRelevant',theTask);
}
