\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{578px}
  \hspace{70px}
  <%= textfield nil, name:"section_19_sum", borderwidth:"0", width:"10.5em" %>

  \vspace{-12px}
  \hspace{250px}
  <%= textfield nil, name:"section_19_day", borderwidth:"0", width:"3.5em", maxlen:2 %>

  \vspace{-12px}
  \hspace{311px}
  <%= textfield nil, name:"section_19_month", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{481px}
  <%= textfield nil, name:"section_19_year", borderwidth:"0", width:"4.5em", maxlen:4 %>

  \vspace{47px}
  \hspace{55px}
  <%= textfield nil, name:"section_19_city", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{208px}
  <%= textfield nil, name:"section_19_state", borderwidth:"0", width:"3em", maxlen:2 %>

  \vspace{-20px}
  \hspace{285px}
  <%= signature height:"2em" %>
\end{Form}
