\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{211px}
  \hspace{35px}
  <%= textfield @cons.full_name, name:"agent_statement_applicant_name", borderwidth:"0", width:"50em", maxlen:90 %>

  \vspace{168px}
  \hspace{45px}
  <%= signature height:"2em" %>

  \vspace{-12px}
  \hspace{332px}
  <%= textfield Date.today, name:"agent_statement_agent_signature_date", borderwidth:"0", width:"20em", maxlen:18 %>

  \vspace{68px}
  \hspace{108px}
  <%= textfield @aor.full_name, name:"agent_statement_agent_name", borderwidth:"0", width:"40em", maxlen:71 %>
\end{Form}
