<% url=(Rails.env.production? ? 'https' : 'http')+'://'+@user.tenant_name+'.insureio.'+( (Rails.env.production? && 'com') || (Rails.env.release? && 'qarelease') || 'qadev' )+'/usage/activations/'+@user.perishable_token+'/activate' %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Insureio Account Confirmation</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>

<body style="padding:0; margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:100%; background-color:#f6f6f6;" bgcolor="#f6f6f6">
<table class="PreHeader" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td colspan="3" style="line-height:1px;"><img style="min-width:600px; display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' width="600" height="1" alt="" border="0"></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="580" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="560" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" align="center"><span style="font-size:1px; line-height:1px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#f6f6f6;">Here's&nbsp;the&nbsp;link&nbsp;to&nbsp;reset&nbsp;your&nbsp;password.</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
</table>
<table class="HeaderImage" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="580" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top" style="line-height:1px;" width="165"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="165" height="1" border="0"     /></td>
				<td valign="top"><a name="Insureio" href="https://insureio.com" target="_blank" ><img style="display:block; font-size:16px; font-weight:bold; font-family:Avenir, Helvetica, sans-serif; color:#333333; text-align:center; background-color:#f6f6f6;"   src='https://www.insurancedivision.com/email/images/insureio-logo-blk-540.png' width="250" alt="Insureio" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;" width="165"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="165" height="1" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
</table>
<table class="MainContent" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
			<tr>
				<td valign="top" style="line-height:2px;" bgcolor="#2D9FD9"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="580" height="2" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:5px;" bgcolor="#23272d"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="580" height="5" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#FFFFFF"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
			<tr>
				<td colspan="3" valign="top"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="32" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="400" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:18px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#000000;"><b>Dear <%=@user.first_name%>,</b></span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:12px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="12" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:14px; line-height:20px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#000000;"></span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="15" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:14px; line-height:20px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#000000;">You can confirm your account email through the link below.</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="15" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:14px; line-height:20px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#f00;">This link is time-sensitive and will expire soon</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="15" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="40" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#FFFFFF"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="560" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td align="center"><!-- CTA START --><table border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <td   background='https://www.insurancedivision.com/email/images/btn-left.png' bgcolor="#1d89cf"    ><img   src='https://www.insurancedivision.com/email/images/img-spacer.png' style="display:block;" width="5" height="38" alt="" border="0"     /></td>
			        <td bgcolor="#1d89cf" align="center" valign="middle"><a name="CTA1" href="<%=url%>" style="font-family:Avenir, Helvetica, sans-serif; font-size:16px; color:#ffffff; text-decoration:none;" target="_blank" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirm&nbsp;Account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
			        <td   background='https://www.insurancedivision.com/email/images/btn-right.png' bgcolor="#1d89cf"    ><img   src='https://www.insurancedivision.com/email/images/img-spacer.png' style="display:block;" width="5" height="38" alt="" border="0"     /></td>
			      </tr>
			    </table><!-- CTA END --></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="44" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#FFFFFF"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="400" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:14px; line-height:20px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#000000;">Sincerely,</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/insureio_team_signature.png' width="250" height="50" alt="" border="0"    /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:18px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#000000;"><b>Insureio Technologies, Inc.</b><br/><a href="mailto:admin@insureio.com" style="font-family:Avenir, Helvetica, sans-serif; font-size:14px; color:#1d89cf; text-decoration:none;" target="_blank">admin@insureio.com</a><br/><a href="tel:18779356755" style="font-family:Avenir, Helvetica, sans-serif; font-size:14px; color:#1d89cf; text-decoration:none;" target="_blank">1-877-935-6755</a></span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:17px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="40" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td colspan="3" valign="top" bgcolor="#f6f6f6"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="42" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="580" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="140" height="1" border="0"     /></td>
				<td valign="top"><a name="Facebook" href="https://www.facebook.com/Insureio" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/fb2.png' width="27" height="23" alt="Facebook" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="36" height="1" border="0"     /></td>
				<td valign="top"><a name="Twitter" href="https://twitter.com/Insureio" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/tw2.png' width="27" height="23" alt="Twitter" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="36" height="1" border="0"     /></td>
				<td valign="top"><a name="Youtube" href="https://www.youtube.com/c/insureiocrm" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/yt2.png' width="27" height="23" alt="Youtube" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="26" height="1" border="0"     /></td>
				<td valign="top"><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/pipe.png' width="5" height="23" alt="" border="0"    /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="26" height="1" border="0"     /></td>
				<td valign="top"><a name="Insureio" href="https://insureio.com/" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/home.png' width="27" height="23" alt="Insureio" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="36" height="1" border="0"     /></td>
				<td valign="top"><a name="Insureio Academy" href="https://academy.insureio.com/" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/grad.png' width="27" height="23" alt="Insureio Academy" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="140" height="1" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td colspan="3" valign="top" bgcolor="#f6f6f6"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="33" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6">
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="560" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" align="center"><span style="font-size:11px; line-height:17px; font-family:Avenir, Helvetica, sans-serif; color:#999999;">This message was sent to <a name="EmailAddress" href="mailto:<%=@user.email%>" style="color:#999999; text-decoration:none;" target="_blank" ><%=@user.email%></a><br />
				If you would like to update your email address, please <a name="ManagePreferences"  href="https://pinney.insureio.com" style="color:#999999;" target="_blank" >click&nbsp;here</a>.
				<br />&nbsp;<br />
				<span style="font-size:10px; line-height:13px;">&copy; 2016 Insureio Technologies, Inc. 2266 Lava Ridge Court, Roseville CA 95661. All&nbsp;rights&nbsp;reserved.<br />
				<a name="TermsOfUse" href="https://insureio.com/company/legal/" target="_blank" style="color:#999999;" >Terms of Use</a>  &nbsp;|&nbsp; <a name="PrivacyPolicy" href="https://insureio.com/company/legal/" target="_blank" style="color:#999999;" >Privacy</a></span>&nbsp;<br />&nbsp;<br />&nbsp;</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
</table>
</body>
</html>
