<body style="padding:0; margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:100%; background-color:#f6f6f6;" bgcolor="#f6f6f6">
<table class="PreHeader" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td colspan="3" style="line-height:1px;"><img style="min-width:600px; display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' width="600" height="1" alt="" border="0"></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="580" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="560" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" align="center"><span style="font-size:1px; line-height:1px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#f6f6f6;">Insureio | You've been invited to try the #1 CRM for Insurance Professionals!</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="580" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="560" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" align="center"><span id="browserView" style="font-size:11px; line-height:13px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#999999;"></span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:17px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="10" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
</table>
<table class="HeaderImage" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
			<tr>
				<td valign="top" style="line-height:2px;" bgcolor="#2e9fd9"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="580" height="2" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#191919"><table width="580" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top" style="line-height:1px;" width="10"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top"><a name="Logo" href="https://insureio.com/?utm_medium=email&utm_source=SYSTEM_RecruitEmail&utm_campaign=RECRUIT&utm_content=Logo" target="_blank" ><img style="display:block; font-size:16px; font-weight:bold; font-family:Avenir, Helvetica, sans-serif; color:#333333; text-align:center; background-color:#191919;"   src='https://www.insurancedivision.com/email/images/insureio-logo-white-540.png' width="150" alt="Insureio" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;" width="150"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="150" height="1" border="0"     /></td>
				<td valign="center" align="left"><a name="Home" href="https://insureio.com/?utm_medium=email&utm_source=SYSTEM_RecruitEmail&utm_campaign=RECRUIT&utm_content=Home" style="text-decoration: none;" target="_blank" ><span style="font-size:14px; line-height:18px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none;">Home</span></a></td>
				<td valign="center" align="left"><a name="Academy" href="https://academy.insureio.com/?utm_medium=email&utm_source=SYSTEM_RecruitEmail&utm_campaign=RECRUIT&utm_content=Academy" style="text-decoration: none;" target="_blank" ><span style="font-size:14px; line-height:18px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none;">Academy</span></a></td>
				<td valign="center" align="left"><a name="LogIn" href="<%= @signup_url %>" style="text-decoration: none;" target="_blank" ><span style="font-size:14px; line-height:18px; font-weight:bold; font-family:Avenir, Arial, Helvetica, sans-serif; color:#2e9fd9; text-decoration:none;">Sign Up</span></a></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
</table>
<table class="MainContent" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="0" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#2e9fd9"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#2e9fd9">
			<tr>
				<td colspan="3" bgcolor="#2e9fd9" valign="top"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/thank-you-banner.png' bgcolor="#2e9fd9" alt="" width="580" height="170" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0" /></td>
	</tr>
</table>
<table class="BreakSpace" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="50" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="500" border="0" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6">
			<tr>
				<td colspan="3" valign="top" bgcolor="#f6f6f6"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="20" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="50" height="1" border="0"     /></td>
	</tr>
</table>
<table class="MainContent" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0" /></td>
		<td valign="top" bgcolor="#FFFFFF"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
			<tr>
				<td colspan="3" valign="top" style="line-height:17px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="50" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:25px; font-weight:bold; font-family:Avenir, Arial, Helvetica, sans-serif; color:#555555;">Dear <%= @recipient_name %>, </span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="25" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:25px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#555555;">You've been invited by <%= @parent.name %> to try Insureio, a CRM and closed-loop marketing system designed for life insurance agents.</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="25" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:25px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#555555;">To get started, <a name="TextLink-CTA1" href="<%= @signup_url %>" style="color:#2e9fd9; text-decoration:none;" >click here</a> to create an account and fill out your basic info. The My Account section is where you'll find the following information, which must be filled out before you can submit a case or send any marketing emails:</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="25" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:25px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#555555;"><ul><li>Your basic info</li><li>Your brand</li><li>Submission options</li><li>Licensing & contracting</li><li>Email configuration</li></ul></span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="25" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:24px; line-height:34px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#555555;">Create your account now!</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="25" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:25px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#555555;">Click the button below to get started. If you need help inside the system, click <b>Help</b> in your left-hand navigation menu.</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="25" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:25px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#555555;">We're glad to have you on the Insureio team!</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="50" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td align="center"><!-- CTA START --><table border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <td   background='https://www.insurancedivision.com/email/images/btn-left-ltblue.png' bgcolor="#ffffff"    ><img   src='https://www.insurancedivision.com/email/images/img-spacer.png' style="display:block;" width="5" height="38" alt="" border="0"     /></td>
			        <td bgcolor="#2e9fd9" align="center" valign="middle"><a name="CTA1_get-started-now" href="<%= @signup_url %>" style="font-family:Avenir, Helvetica, sans-serif; font-size:16px; color:#ffffff; text-decoration:none;" target="_blank" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GET&nbsp;STARTED&nbsp;NOW&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
			        <td   background='https://www.insurancedivision.com/email/images/btn-right-ltblue.png' bgcolor="#ffffff"    ><img   src='https://www.insurancedivision.com/email/images/img-spacer.png' style="display:block;" width="5" height="38" alt="" border="0"     /></td>
			      </tr>
			    </table><!-- CTA END --></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" style="line-height:15px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="50" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
				<td valign="top" align="left"><span style="font-size:16px; line-height:25px; font-family:Avenir, Arial, Helvetica, sans-serif; color:#555555;">Sincerely,<br/><b>Team Insureio</b><br/>Insureio Technologies, Inc.<br/><a name="EmailLinkSignature" href="mailto:admin@insureio.com" style="color:#2e9fd9; text-decoration:none;" >admin@insureio.com</a><br/>877-935-6755</span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="90" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="50" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
</table>
<table class="Footer" width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6" style="margin:0 auto;">
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="580" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td colspan="3" valign="top"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="50" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="140" height="1" border="0"     /></td>
				<td valign="top"><a name="Facebook" href="https://www.facebook.com/Insureio" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/fb2.png' width="27" height="23" alt="Facebook" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="36" height="1" border="0"     /></td>
				<td valign="top"><a name="Twitter" href="https://twitter.com/Insureio" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/tw2.png' width="27" height="23" alt="Twitter" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="36" height="1" border="0"     /></td>
				<td valign="top"><a name="Youtube" href="https://www.youtube.com/c/Insureiocrm" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/yt2.png' width="27" height="23" alt="Youtube" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="26" height="1" border="0"     /></td>
				<td valign="top"><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/pipe.png' width="5" height="23" alt="" border="0"    /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="26" height="1" border="0"     /></td>
				<td valign="top"><a name="Home-icon" href="https://insureio.com/?utm_medium=email&utm_source=SYSTEM_RecruitEmail&utm_campaign=RECRUIT&utm_content=Home-icon" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/home.png' width="27" height="23" alt="Insureio" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="36" height="1" border="0"     /></td>
				<td valign="top"><a name="Academy-icon" href="https://academy.insureio.com/?utm_medium=email&utm_source=SYSTEM_RecruitEmail&utm_campaign=RECRUIT&utm_content=Academy-icon" target="_blank" ><img style="display:block; font-size:9px; font-family:Avenir, Helvetica, sans-serif; background-color:#f6f6f6; color:#ffffff; text-align:center;"   src='https://www.insurancedivision.com/email/images/grad.png' width="27" height="23" alt="Insureio Academy" border="0"    /></a></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="140" height="1" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
	<tr>
		<td colspan="3" valign="top" bgcolor="#f6f6f6"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="33" border="0"     /></td>
	</tr>
	<tr>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
		<td valign="top" bgcolor="#f6f6f6"><table width="580" border="0" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6">
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="560" height="1" border="0"     /></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
				<td valign="top" align="center"><span style="font-size:11px; line-height:21px; font-family:Avenir, Helvetica, sans-serif; color:#999999;">This message was sent to <%= @recipient_email %></a><br />
				<br />
				<span style="font-size:10px; line-height:20px;">&copy; <%= Date.today.year %> Insureio Technologies, Inc. 2266 Lava Ridge Court, Roseville CA 95661. All&nbsp;rights&nbsp;reserved.<br />
				<a name="TermsOfUse" href="https://insureio.com/company/legal/?utm_medium=email&utm_source=SYSTEM_RecruitEmail&utm_campaign=RECRUIT&utm_content=Link_Terms" target="_blank" style="color:#999999;" >Terms of Use</a>  &nbsp;|&nbsp; <a name="PrivacyPolicy" href="https://insureio.com/company/legal/?utm_medium=email&utm_source=SYSTEM_RecruitEmail&utm_campaign=RECRUIT&utm_content=Link_Privacy" target="_blank" style="color:#999999;" >Privacy</a></span></span></td>
				<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
			</tr>
			<tr>
				<td colspan="3" valign="top"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="1" height="25" border="0"     /></td>
			</tr>
		</table></td>
		<td valign="top" style="line-height:1px;"><img style="display:block;"   src='https://www.insurancedivision.com/email/images/img-spacer.png' alt="" width="10" height="1" border="0"     /></td>
	</tr>
</table>
</body>
</html>
