\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{421px}
  \hspace{33px}
  <%= textfield carrier_name(replacing[0]), name:"insurer_1", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{258px}
  <%= textfield replacing[0]&.consumer&.full_name, name:"insured_1", borderwidth:"0", width:"17em" %>

  \vspace{-12px}
  \hspace{442px}
  <%= textfield replacing[0]&.policy_number, name:"policy_number_1", borderwidth:"0", width:"9em" %>

  \vspace{3px}
  \hspace{33px}
  <%= textfield carrier_name(replacing[1]), name:"insurer_2", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{258px}
  <%= textfield replacing[1]&.consumer&.full_name, name:"insured_2", borderwidth:"0", width:"17em" %>

  \vspace{-12px}
  \hspace{442px}
  <%= textfield replacing[1]&.policy_number, name:"policy_number_2", borderwidth:"0", width:"9em" %>

  \vspace{3px}
  \hspace{33px}
  <%= textfield carrier_name(replacing[2]), name:"insurer_3", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{258px}
  <%= textfield replacing[2]&.consumer&.full_name, name:"insured_3", borderwidth:"0", width:"17em" %>

  \vspace{-12px}
  \hspace{442px}
  <%= textfield replacing[1]&.policy_number, name:"policy_number_3", borderwidth:"0", width:"9em" %>

  \vspace{20px}
  \hspace{33px}
  <%= textfield @kase.current_details&.product_type&.name, name:"type_of_policy", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{268px}
  <%= textfield @kase.current_details&.face_amount, name:"face_amount", borderwidth:"0", width:"8em" %>

  \vspace{47px}
  \hspace{33px}
  <%= textfield nil, name:"signature_of_applicant", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{268px}
  <%= textfield nil, name:"signature_of_applicant_date", borderwidth:"0", width:"8em" %>

  \vspace{0px}
  \hspace{370px}
  <%= textfield @cons.primary_address&.street, name:"applicant_address", borderwidth:"0", width:"16em", maxlen:29 %>

  \vspace{2px}
  \hspace{370px}
  <%= textfield city_state_zip(@cons), name:"applicant_city_state_zip", borderwidth:"0", width:"16em" %>

  \vspace{8px}
  \hspace{230px}
  <%= textfield @owner&.full_name, name:"applicant_name", borderwidth:"0", width:"16em" %>

  \vspace{23px}
  \hspace{33px}
  <%= textfield nil, name:"signature_of_agent", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{268px}
  <%= textfield nil, name:"signature_of_agent_date", borderwidth:"0", width:"8em" %>

  \vspace{0px}
  \hspace{370px}
  <%= textfield @kase.agent_of_record&.primary_address&.street, name:"agent_address", borderwidth:"0", width:"16em", maxlen:29 %>

  \vspace{2px}
  \hspace{370px}
  <%= textfield city_state_zip(@kase.agent_of_record), name:"agent_city_state_zip", borderwidth:"0", width:"16em" %>
\end{Form}
