<div class="modal-header">
  <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{contract.id ? 'Editing' : 'New'}} Contract</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body form-horizontal">
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Carrier
    </label>
    <div class="col-md-8">
      <select class="form-control"
        ng-model="contract.carrier_id"
        ng-options="o.id as o.name for o in CARRIERS">
      </select>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Appointment Id
    </label>
    <div class="col-md-8">
      <input type="text" class="form-control" ng-model="contract.carrier_contract_id">
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Effective Date
    </label>
    <div class="col-md-8">
      <dr-datetime-picker model="contract.effective_date" date-only="true" required="true"></dr-datetime-picker>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Termination Date
    </label>
    <div class="col-md-8">
      <dr-datetime-picker model="contract.expiration" date-only="true" required="true"></dr-datetime-picker>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Status
    </label>
    <div class="col-md-8">
      <select class="form-control"
        ng-model="contract.status_id"
        ng-options="o.id as o.name for o in CONTRACT_STATUSES">
      </select>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      <span uib-tooltip="Ctrl-click to select all states to which this contract applies." 
        tooltip-placement="top" 
        tooltip-trigger="mouseenter">
        States <i class="fa fa-question-circle"></i>
      </span>
    </label>
    <div class="col-md-8">
      <select class="form-control"
        ng-model="contract.state_ids"
        ng-options="o.id as (o.abbrev+' - '+o.name) for o in STATES"
        multiple
        style="min-height: 6em;">
      </select>
      <div>
        Selected:
        <span ng-if="contract.state_ids.length && contract.state_ids.length!=allStates.length"
          ng-repeat="s in contract.state_ids">
          {{s | enumValue : 'STATES' : 'abbrev'}}
        </span>
        <span ng-if="contract.state_ids.length && contract.state_ids.length==allStates.length">
          (All States)
        </span>
      </div>
      <button class="btn btn-primary"
        ng-disabled="contract.state_ids.length && contract.state_ids.length==allStates.length"
        ng-click="contract.state_ids=allStates">
        Select All
      </button>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Corporate
    </label>
    <div class="col-md-8">
      <div class="checkbox checkbox-primary" style="padding-left:0;">
        <input ng-model="contract.corporate" type="checkbox">
        <label></label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a type="button" class="btn btn-default pull-left" ng-click="$close()">Cancel</a>
  <button class="btn btn-primary" ng-click="saveContract(contract)">Save</button>
</div>
