<div class="modal-header">
  <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{license.id ? 'Editing' : 'New'}} License</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body form-horizontal">
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Number
    </label>
    <div class="col-md-8">
      <input type="text" class="form-control" ng-model="license.number">
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Effective Date
    </label>
    <div class="col-md-8">
      <dr-datetime-picker model="license.effective_date" date-only="true" required="true"></dr-datetime-picker>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Expiration Date
    </label>
    <div class="col-md-8">
      <dr-datetime-picker model="license.expiration" date-only="true" required="true"></dr-datetime-picker>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Status
    </label>
    <div class="col-md-8">
      <select class="form-control"
        ng-model="license.status_id"
        ng-options="o.id as o.name for o in LICENSE_STATUSES">
      </select>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      State
    </label>
    <div class="col-md-8">
      <select class="form-control"
        ng-model="license.state_id"
        ng-options="o.id as o.name for o in STATES">
      </select>
    </div>
  </div>
  <div class="form-inline form-group">
    <label class="col-md-4 control-label">
      Categories
    </label>
    <div class="col-md-8">
      <div class="checkbox checkbox-primary" style="padding-left:0;">
        <input ng-model="license.corporate" id="corporate" type="checkbox">
        <label for="corporate" style="padding: 0 5px;">Corporate</label>
      </div>
      <div class="checkbox checkbox-primary" style="padding-left:0;">
        <input ng-model="license.life" id="life" type="checkbox">
        <label for="life" style="padding: 0 5px;">Life</label>
      </div>
      <div class="checkbox checkbox-primary" style="padding-left:0;">
        <input ng-model="license.health" id="health" type="checkbox">
        <label for="health" style="padding: 0 5px;">Health</label>
      </div>
      <div class="checkbox checkbox-primary" style="padding-left:0;">
        <input ng-model="license.variable" id="variable" type="checkbox">
        <label for="variable" style="padding: 0 5px;">Variable</label>
      </div>
      <div class="checkbox checkbox-primary" style="padding-left:0;">
        <input ng-model="license.p_and_c" id="p_and_c" type="checkbox">
        <label for="p_and_c" style="padding: 0 5px;">P &amp; C</label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a type="button" class="btn btn-default pull-left" ng-click="$close()">Cancel</a>
  <button class="btn btn-primary" ng-click="saveLicense()">Save</button>
</div>
