\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{73px}
  \hspace{21px}
  <%= textfield @cons.full_name, name:"section_1_pi_name", borderwidth:"0", width:"53em" %>

  \vspace{23px}
  \hspace{21px}
  <%= textfield @cons.primary_address&.street, name:"section_1_pi_address", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @cons.primary_address&.city, name:"section_1_pi_city", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{403px}
  <%= textfield @cons.primary_address&.state&.abbrev, name:"section_1_pi_state", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{475px}
  <%= textfield @cons.primary_address&.zip, name:"section_1_pi_zip", borderwidth:"0", width:"7.5em" %>

  \vspace{23px}
  \hspace{21px}
  <%= textfield @cons.phones[0]&.to_s(omit_type: true), name:"section_1_pi_phone_1", borderwidth:"0", width:"14em" %>

  \vspace{-14px}
  \hspace{171px}
  <%= checkbox @cons.phones[0]&.phone_type_id == 1, name:"section_1_pi_phone_home_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{213px}
  <%= checkbox @cons.phones[0]&.phone_type_id == 3, name:"section_1_pi_phone_cell_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{246px}
  <%= checkbox @cons.phones[0]&.phone_type_id == 2, name:"section_1_pi_phone_work_1", width:"7px", height:"7px" %>

  \vspace{-10px}
  \hspace{290px}
  <%= textfield @cons.phones[1]&.to_s(omit_type: true), name:"section_1_pi_phone_2", borderwidth:"0", width:"14em" %>

  \vspace{-14px}
  \hspace{441px}
  <%= checkbox @cons.phones[1]&.phone_type_id == 1, name:"section_1_pi_phone_home_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{483px}
  <%= checkbox @cons.phones[1]&.phone_type_id == 3, name:"section_1_pi_phone_cell_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{516px}
  <%= checkbox @cons.phones[1]&.phone_type_id == 2, name:"section_1_pi_phone_work_2", width:"7px", height:"7px" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield @cons.primary_email, name:"section_1_pi_email", borderwidth:"0", width:"25.8em" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield @cons.ssn, name:"section_1_pi_ssn", borderwidth:"0", width:"14em" %>

  \vspace{-15px}
  \hspace{472px}
  <%= checkbox @cons.gender == MALE, name:"section_1_pi_gender_male", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{510px}
  <%= checkbox @cons.gender == FEMALE, name:"section_1_pi_gender_female", width:"7px", height:"7px" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield @cons.birth_or_trust_date, name:"section_1_pi_dob", borderwidth:"0", width:"12.3em" %>

  \vspace{-12px}
  \hspace{159px}
  <%= textfield @cons.age, name:"section_1_pi_age", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{215px}
  <%= textfield @cons.birth_state&.abbrev, name:"section_1_pi_birth_state", borderwidth:"0", width:"15em" %>

  \vspace{-12px}
  \hspace{380px}
  <%= textfield @cons.birth_country&.name, name:"section_1_pi_birth_country", borderwidth:"0", width:"16.8em" %>

  \vspace{22px}
  \hspace{114px}
  <%= checkbox @cons.citizenship_id&.==(1), name:"section_1_pi_us_citizen_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{147px}
  <%= checkbox @cons.citizenship_id&.!=(1), name:"section_1_pi_us_citizen_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{373px}
  <%= checkbox !!@cons.dln, name:"section_1_pi_photo_id_dl", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{454px}
  <%= checkbox nil, name:"section_1_pi_photo_id_passport", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{507px}
  <%= checkbox nil, name:"section_1_pi_photo_id_state_id", width:"7px", height:"7px" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield @cons.dln, name:"section_1_pi_id_number", borderwidth:"0", width:"18.8em" %>

  \vspace{-12px}
  \hspace{221px}
  <%= textfield @cons.dl_state&.abbrev, name:"section_1_pi_id_state_country_issue", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{415px}
  <%= textfield @cons.dl_expiration, name:"section_1_pi_id_expiration", borderwidth:"0", width:"13em" %>

  \vspace{22px}
  \hspace{301px}
  <%= checkbox cons.citizenship_id&.==(2), name:"section_1_pi_permanent_resident_yes", width:"7px", height:"7px" %>

  <%# NMB wants this citizenship checkbox blank if the PI is a US citizen -%>
  \vspace{-12px}
  \hspace{333px}
  <%= checkbox [nil,1,2].none? {|v| v == cons.citizenship_id }, name:"section_1_pi_permanent_resident_no", width:"7px", height:"7px" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield nil, name:"section_1_pi_country_or_origin", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{193px}
  <%= textfield nil, name:"section_1_pi_date_of_entry", borderwidth:"0", width:"10.5em", maxlen:12 %>

  \vspace{-12px}
  \hspace{310px}
  <%= textfield nil, name:"section_1_pi_current_citizenship_country", borderwidth:"0", width:"23.7em" %>

  \vspace{25px}
  \hspace{21px}
  <%= textfield nil, name:"section_1_pi_green_card_visa_number", borderwidth:"0", width:"24.5em" %>

  \vspace{-12px}
  \hspace{280px}
  <%= textfield nil, name:"section_1_pi_green_card_visa_expiration", borderwidth:"0", width:"26.8em" %>

  \vspace{20px}
  \hspace{270px}
  <%= checkbox cons.health_info&.tobacco?, name:"section_1_pi_tobacco_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{303px}
  <%= checkbox cons.health_info&.tobacco? == false, name:"section_1_pi_tobacco_no", width:"7px", height:"7px" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield cons.health_info&.tobacco_details&.last, name:"section_1_pi_last_tobacco_use_date", borderwidth:"0", width:"16.5em" %>

  \vspace{-12px}
  \hspace{198px}
  <%= textfield cons.health_info&.tobacco_details&.products&.join(', '), name:"section_1_pi_tobacco_products_used", borderwidth:"0", width:"35em" %>

  \vspace{25px}
  \hspace{21px}
  <%= textfield height, name:"section_1_pi_height", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{180px}
  <%= textfield @cons.health_info&.weight, name:"section_1_pi_weight", borderwidth:"0", width:"16em" %>

  \vspace{-15px}
  \hspace{354px}
  <%= checkbox cons.marital_status_id == 1, name:"section_1_pi_marital_status_single", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{396px}
  <%= checkbox cons.marital_status_id == 2, name:"section_1_pi_marital_status_married", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{444px}
  <%= checkbox cons.marital_status_id == 5, name:"section_1_pi_marital_status_separated", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{502px}
  <%= checkbox cons.marital_status_id == 3, name:"section_1_pi_marital_status_divorced", width:"7px", height:"7px" %>

  \vspace{24px}
  \hspace{194px}
  <%= checkbox nil, name:"section_1_pi_name_change_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{226px}
  <%= checkbox nil, name:"section_1_pi_name_change_no", width:"7px", height:"7px" %>

  \vspace{-8px}
  \hspace{258px}
  <%= textfield nil, name:"section_1_pi_previous_names", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{393px}
  <%= textfield nil, name:"section_1_pi_date_and_reason_for_change", borderwidth:"0", width:"15.5em" %>

  \vspace{21px}
  \hspace{139px}
  <%= checkbox cons.employed?, name:"section_1_pi_employed_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{172px}
  <%= checkbox !cons.employed?, name:"section_1_pi_employed_no", width:"7px", height:"7px" %>

  \vspace{-8px}
  \hspace{205px}
  <%= textfield kase.ext['unemployment_reason'], name:"section_1_pi_unemployment_reason", borderwidth:"0", width:"34.6em" %>

  \vspace{23px}
  \hspace{21px}
  <%= textfield @cons.occupation, name:"section_1_pi_occupation", borderwidth:"0", width:"34em", maxlen:61 %>

  \vspace{-12px}
  \hspace{373px}
  <%= textfield currency(cons.financial_info&.annual_income.to_i, precision: 0), name:"section_1_pi_annual_income", borderwidth:"0", width:"17.8em" %>

  \vspace{23px}
  \hspace{21px}
  <%= textfield nil, name:"section_1_pi_job_title_and_duties", borderwidth:"0", width:"53em" %>
\end{Form}
