* URL        : <%= raw @request.url %>
* HTTP Method: <%= raw @request.method %>
* IP address : <%= raw @request.remote_ip %>
* Server     : <%= `hostname`.to_s.sub("\n",'') %>
<% if defined?(Rails) %>
* Rails root : <%= raw Rails.root %>
<% end %>
* Timestamp  : <%= raw Time.current %>
* Parameters : <%= raw JSON.pretty_generate(@request.filtered_parameters) %>