A <%= @exception.class %> occurred in <%= @kontroller.controller_name %>#<%= @kontroller.action_name %>:

  <%= raw @exception.message %>
  <% file_path, line_num, block_name= Rails.backtrace_cleaner.clean(@backtrace)[0]&.split(':') %>
  <% offending_line=`sed -n #{line_num}p #{file_path}` %><%# `sed` output is blank if no matching file and line %>
  <%= raw "\"#{offending_line}\"" if offending_line.present? %>
  -------------------------------
  App Backtrace:
  -------------------------------
  <%= raw Rails.backtrace_cleaner.clean(@backtrace).join("\n") %>

<%  sections = @sections.map do |section|
      summary = render(section).strip
      unless summary.blank?
        title = render("title", :title => section).strip
        "#{title}\n\n#{summary.gsub(/^/, "  ")}\n\n"
      end
    end %>
<%= raw sections.join %>