
\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{-13px}
  \hspace{490px}
  <%= checkbox has_coverage?, name:"section_6_wl_existing_contract_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{521px}
  <%= checkbox !has_coverage?, name:"section_6_wl_existing_contract_no", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{490px}
  <%= checkbox nil, name:"section_6_wl_replace_or_change_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{521px}
  <%= checkbox true, name:"section_6_wl_replace_or_change_no", width:"7px", height:"7px" %>

  \vspace{51px}
  \hspace{19px}
  <%= textfield replacing[1-1]&.consumer&.full_name, name:"section_6_wl_policy_1_insured", borderwidth:"0", width:"26em", maxlen:47 %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield carrier_name(replacing[1-1]), name:"section_6_wl_policy_1_company", borderwidth:"0", width:"26em", maxlen:47 %>

  \vspace{18px}
  \hspace{19px}
  <%= textfield replacing[1-1]&.effective_date, name:"section_6_wl_policy_1_issue_date", borderwidth:"0", width:"10em", maxlen:12 %>

  \vspace{-12px}
  \hspace{129px}
  <%= textfield replacing[1-1]&.policy_number, name:"section_6_wl_policy_1_number", borderwidth:"0", width:"12em", maxlen:21 %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield replacing[1-1]&.face_amount, name:"section_6_wl_policy_1_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{-13px}
  \hspace{432px}
  <%= checkbox nil, name:"section_6_wl_policy_1_life_insurance", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{501px}
  <%= checkbox nil, name:"section_6_wl_policy_1_annuity", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{19px}
  <%= textfield replacing[2-1]&.consumer&.full_name, name:"section_6_wl_policy_2_insured", borderwidth:"0", width:"26em", maxlen:47 %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield carrier_name(replacing[2-1]), name:"section_6_wl_policy_2_company", borderwidth:"0", width:"26em", maxlen:47 %>

  \vspace{18px}
  \hspace{19px}
  <%= textfield replacing[2-1]&.effective_date, name:"section_6_wl_policy_2_issue_date", borderwidth:"0", width:"10em", maxlen:12 %>

  \vspace{-12px}
  \hspace{129px}
  <%= textfield replacing[2-1]&.policy_number, name:"section_6_wl_policy_2_number", borderwidth:"0", width:"12em", maxlen:21 %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield replacing[2-1]&.face_amount, name:"section_6_wl_policy_2_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{-13px}
  \hspace{432px}
  <%= checkbox nil, name:"section_6_wl_policy_2_life_insurance", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{501px}
  <%= checkbox nil, name:"section_6_wl_policy_2_annuity", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{19px}
  <%= textfield replacing[3-1]&.consumer&.full_name, name:"section_6_wl_policy_3_insured", borderwidth:"0", width:"26em", maxlen:47 %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield carrier_name(replacing[3-1]), name:"section_6_wl_policy_3_company", borderwidth:"0", width:"26em", maxlen:47 %>

  \vspace{18px}
  \hspace{19px}
  <%= textfield replacing[3-1]&.effective_date, name:"section_6_wl_policy_3_issue_date", borderwidth:"0", width:"10em", maxlen:12 %>

  \vspace{-12px}
  \hspace{129px}
  <%= textfield replacing[3-1]&.policy_number, name:"section_6_wl_policy_3_number", borderwidth:"0", width:"12em", maxlen:21 %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield replacing[3-1]&.face_amount, name:"section_6_wl_policy_3_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{-13px}
  \hspace{432px}
  <%= checkbox nil, name:"section_6_wl_policy_3_life_insurance", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{501px}
  <%= checkbox nil, name:"section_6_wl_policy_3_annuity", width:"7px", height:"7px" %>

  \vspace{34px}
  \hspace{21px}
  <%= checkbox true, name:"section_7_wl_graded_death_benefit_whole_life", width:"7px", height:"7px" %>

  \vspace{-10px}
  \hspace{260px}
  <%= textfield currency(kase.face_amount), name:"section_7_wl_graded_death_benefit_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{16px}
  \hspace{21px}
  <%= checkbox kase.bill_type_id == 2, name:"section_7_wl_direct_billing", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{85px}
  <%= checkbox kase.bill_type_id == 1, name:"section_7_wl_eft", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{234px}
  <%= checkbox quote.premium_mode_id == 1, name:"section_7_wl_annual_premium_mode", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{283px}
  <%= checkbox quote.premium_mode_id == 2, name:"section_7_wl_semiannual_premium_mode", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{350px}
  <%= checkbox quote.premium_mode_id == 3, name:"section_7_wl_quarterly_premium_mode", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{402px}
  <%= checkbox quote.premium_mode_id == 4, name:"section_7_wl_monthly_premium_mode", width:"7px", height:"7px" %>

  \vspace{-10px}
  \hspace{463px}
  <%= textfield currency(quote.planned_modal_premium), name:"section_7_wl_modal_premium", borderwidth:"0", width:"8em" %>

  \vspace{16px}
  \hspace{21px}
  <%= checkbox kase.autoloan_premium, name:"section_7_wl_auto_premium_loans_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{53px}
  <%= checkbox kase.autoloan_premium == false, name:"section_7_wl_auto_premium_loans_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{153px}
  <%= checkbox kase.dividend_type_id == 1, name:"section_7_wl_accumulation", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{223px}
  <%= checkbox kase.dividend_type_id == 2, name:"section_7_wl_cash", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{257px}
  <%= checkbox kase.dividend_type_id == 3, name:"section_7_wl_paid_up_additions", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{342px}
  <%= checkbox kase.dividend_type_id == 4, name:"section_7_wl_pay_premium", width:"7px", height:"7px" %>

  \vspace{37px}
  \hspace{21px}
  <%= checkbox nil, name:"section_8_wl_guaranteed_whole_life", width:"7px", height:"7px" %>

  \vspace{-10px}
  \hspace{240px}
  <%= textfield nil, name:"section_8_wl_guaranteed_whole_life_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{428px}
  <%= textfield nil, name:"section_8_wl_single_premium", borderwidth:"0", width:"12em" %>

  \vspace{16px}
  \hspace{21px}
  <%= checkbox nil, name:"section_8_wl_auto_premium_loans_yes_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{53px}
  <%= checkbox nil, name:"section_8_wl_auto_premium_loans_no_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{153px}
  <%= checkbox nil, name:"section_8_wl_accumulation_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{223px}
  <%= checkbox nil, name:"section_8_wl_cash_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{257px}
  <%= checkbox nil, name:"section_8_wl_paid_up_additions_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{342px}
  <%= checkbox nil, name:"section_8_wl_pay_premium_2", width:"7px", height:"7px" %>

  \vspace{37px}
  \hspace{19px}
  <%= textfield nil, name:"section_9_wl_payor_name", borderwidth:"0", width:"52em" %>

  \vspace{16px}
  \hspace{19px}
  <%= textfield nil, name:"section_9_wl_payor_address", borderwidth:"0", width:"22em" %>

  \vspace{-12px}
  \hspace{245px}
  <%= textfield nil, name:"section_9_wl_payor_city", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{400px}
  <%= textfield nil, name:"section_9_wl_payor_state", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{475px}
  <%= textfield nil, name:"section_9_wl_payor_zip", borderwidth:"0", width:"6em" %>

  \vspace{19px}
  \hspace{21px}
  <%= textfield nil, name:"section_9_wl_payor_phone_1", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{172px}
  <%= checkbox nil, name:"section_9_wl_payor_home_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{212px}
  <%= checkbox nil, name:"section_9_wl_payor_cell_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{244px}
  <%= checkbox nil, name:"section_9_wl_payor_work_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield nil, name:"section_9_wl_payor_phone_2", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{442px}
  <%= checkbox nil, name:"section_9_wl_payor_home_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{481px}
  <%= checkbox nil, name:"section_9_wl_payor_cell_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{513px}
  <%= checkbox nil, name:"section_9_wl_payor_work_2", width:"7px", height:"7px" %>

  \vspace{19px}
  \hspace{21px}
  <%= textfield nil, name:"section_9_wl_email", borderwidth:"0", width:"27em" %>

  \vspace{-12px}
  \hspace{325px}
  <%= textfield nil, name:"section_9_wl_relationship_to_pi", borderwidth:"0", width:"22em" %>

  \vspace{23px}
  \hspace{17px}
  <%= textfield overflow_string, name:"section_10_wl_details", borderwidth:"0", width:"53.7em", height:"90px", multiline:"true" %>

\end{Form}
