\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{453px}
  \hspace{18px}
  <%= checkbox nil, name:"ia_hiv_check1", width:"7px", height:"7px" %>

  \vspace{25px}
  \hspace{18px}
  <%= checkbox nil, name:"ia_hiv_check2", width:"7px", height:"7px" %>

  \vspace{-13px}
  \hspace{95px}
  <%= textfield nil, name:"ia_hiv_physician_name", borderwidth:"0", width:"45em" %>

  \vspace{25px}
  \hspace{95px}
  <%= textfield nil, name:"ia_hiv_physician_address", borderwidth:"0", width:"45em" %>

  \vspace{48px}
  \hspace{55px}
  <%= textfield nil, name:"ia_hiv_time_of_signature", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{238px}
  <%= textfield nil, name:"ia_hiv_day_of_signature", borderwidth:"0", width:"8em" %>

  \vspace{-12px}
  \hspace{355px}
  <%= textfield nil, name:"ia_hiv_month_of_signature", borderwidth:"0", width:"8em" %>

  \vspace{-12px}
  \hspace{470px}
  <%= textfield nil, name:"ia_hiv_year_of_signature", borderwidth:"0", width:"8em" %>

  \vspace{24px}
  \hspace{18px}
  <%= textfield nil, name:"ia_hiv_pi_signature", borderwidth:"0", width:"24em" %>

  \vspace{-18px}
  \hspace{305px}
  <%= signature height:"2em" %>
\end{Form}
