<p style="font-size:0.8em;">LAST UPDATED: #{Date.today}</p>
<h3><span id="Legend:_ID_-_NAME" class="mw-headline">Legend: ID - NAME</span></h3>
<ul>
  <% carriers.each do |carrier| %>
    <li><%= "#{carrier.id} - #{carrier.name}" %></li>
  <% end %>
</ul>
<p>You can find additional API documentation here:</p>
<ul>
  <li><a href="/case/" target="_blank">Case</a></li>
  <li><a href="/status/" target="_blank">Status</a></li>
  <li><a href="/status-history/" target="_blank">Status History</a></li>
  <li><a href="/lead-import/" target="_blank">Lead Import</a></li>
  <li><a href="/api/" target="_blank">API</a></li>
  <li><a href="/enum/" target="_blank">Data Codes</a></li>
</ul>
