<style>
  h3 { text-align: center; }
  table tr th:first-child {
    width: 60px;
    padding:0 10px 0 0;
  }
</style>
<p style="font-size:0.8em;">LAST UPDATED: <%= Date.today %></p>
<p>Here, you'll find all the numeric codes you need to post data to Insureio via our API.</p>
<a name="top"></a>
<h3 style="text-align:left">List of Codes</h3>
<!-- Table of Contents -->
<p style="margin-left:30px;">
  <% ENUMS.each do |klass, label, kwargs| %>
    <a href="#<%= build_anchor_name.call(label) %>"><%= label %></a><br>
  <% end %>
</p>
<hr>
<!-- Content tables -->
<%- ENUMS.each do |klass, label, kwargs={}| %>
  <a name="<%= build_anchor_name.call(label) %>"></a>
  <h3><%= label %></h3>
  <%- if klass.nil? %>
    <%= kwargs[:html] %>
  <%- else %>
    <table>
      <thead>
        <tr>
          <% (kwargs[:fields] || DEFAULT_FIELDS).each do |field| %>
            <th><%= field %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%- klass.each do |instance| %>
          <tr>
            <% (kwargs[:fields] || DEFAULT_FIELDS).each do |field| %>
              <td><%= instance.public_send field.to_s.underscore %></td>
            <% end %>
          </tr>
        <%- end %>
      </tbody>
    </table>
  <%- end %>
  <p><a href="#top">Back to top</a></p>
<%- end %>
<!-- End matter -->
<p>You can find additional API documentation here:</p>
<ul>
  <li><a href="/case/" target="_blank">Case</a></li>
  <li><a href="/status/" target="_blank">Status</a></li>
  <li><a href="/status-history/" target="_blank">Status History</a></li>
  <li><a href="/lead-import/" target="_blank">Lead Import</a></li>
  <li><a href="/carrier-names/" target="_blank">Carrier Names</a></li>
  <li><a href="/api/" target="_blank">API</a></li>
</ul>
