<!-- Note:
  `person` is a shortcut/reference to `stakeholderRelationship.stakeholder_attributes`.
  `contact` is a shortcut/reference to `person`.
  `primaryInsured` is a shortcut/reference to `consumerMgmtVars.scope.person`.
-->
  <div class="alert alert-danger"
    ng-if="formErrors.length>0"
    ng-bind="'Could not submit form due to:\n'+formErrors.join('\n')"
    style="white-space:pre-wrap;">
  </div>
  <div class="form-inline form-group"
    ng-if="isLoggedIn() && !stateVars.lockAddHow">
    <label class="col-md-4 control-label">
      The Stakeholder
    </label>
    <div class="col-md-8">
      <select class="form-control"
        ng-model="stateVars.addHow" name="add_how"
        on-change="delete stakeholderRelationship.stakeholder_id"
        required>
        <option value="existing">An Existing Consumer</option>
        <option value="new">A New Consumer</option>
      </select>
      <required-msg saved="attemptedSave"
        field="formHolder.sRForm['add_how']">
      </required-msg>
    </div>
  </div>
  <div ng-if="stateVars.addHow=='existing'">
    <div class="form-inline form-group">
      <label class="col-md-4 control-label">
        Search Contacts <em>(Required)</em>
      </label>
      <div class="col-md-8">
        <ui-select theme="bootstrap"
          ng-model="stateVars.searchedConsumer"
          on-select="setExistingConsumerAsStakeholder($item)">
          <ui-select-match data-placeholder="Search Name">
            <span ng-bind="$select.selected.full_name || stakeholderRelationship.full_name"></span>
            <span class="label label-default"
              ng-bind="$select.selected.person_id.toString(36).toUpperCase() || stakeholderRelationship.stakeholder_id.toString(36).toUpperCase()"></span>
          </ui-select-match>
          <ui-select-choices repeat="consumer in (consumersForSearch||[]).concat(existingRelationsToPI||[])"
            refresh="searchConsumers($select.search)"
            refresh-delay="0"
            group-by="consumerGroupName">
            <div>
              <span ng-bind-html="consumer.full_name | highlight: $select.search"></span>

              <span class="label label-default"
                ng-if="consumer.$groupName!='Existing Relations To PI'"
                ng-bind="consumer.id.toString(36).toUpperCase()"></span>

              <br ng-if="consumer.$groupName=='Existing Relations To PI'">
              <span ng-show="consumer.$groupName=='Existing Relations To PI' && consumer.stakeholder_id==primaryInsured.id">
                <span class="label label-default"
                ng-bind="consumer.id.toString(36).toUpperCase()"></span>
                ({{primaryInsured.full_name.split(' ')[0]}} is
                {{consumer.full_name.split(' ')[0]}}'s
                {{(consumer.relationship_type_id | enumValue : 'RELATIONSHIP_TYPES') || '-'}}.)
              </span>
              <span ng-show="consumer.$groupName=='Existing Relations To PI' && consumer.primary_insured_id==primaryInsured.id">
                ({{primaryInsured.full_name.split(' ')[0]}}'s
                {{(consumer.relationship_type_id | enumValue : 'RELATIONSHIP_TYPES') || '-'}})
              </span>
            </div>
          </ui-select-choices>
        </ui-select>
        <div ng-if="stateVars.searchedConsumer && stateVars.searchedConsumer.$groupName=='Existing Relations To PI'">
          <span ng-if="stateVars.searchedConsumer.stakeholder_id==primaryInsured.id">
            ({{primaryInsured.full_name.split(' ')[0]}} is
            {{stateVars.searchedConsumer.full_name.split(' ')[0]}}'s
            {{(stateVars.searchedConsumer.relationship_type_id | enumValue : 'RELATIONSHIP_TYPES') || '-'}}.)
          </span>
          <span ng-if="stateVars.searchedConsumer.primary_insured_id==primaryInsured.id">
            ({{primaryInsured.full_name.split(' ')[0]}}'s
            {{(stateVars.searchedConsumer.relationship_type_id | enumValue : 'RELATIONSHIP_TYPES') || '-'}})
          </span>
          <a ng-href="/consumers/{{stakeholderRelationship.stakeholder_id}}" target="_blank">
            <i class="fa fa-external-link"></i>
          </a>
        </div>
        <div ng-if="!stateVars.searchedConsumer &&
            stakeholderRelationship.stakeholder_id &&
            person.id==stakeholderRelationship.stakeholder_id"
            style="margin-top:0.5em;">
          <span ng-bind="contact.full_name"></span>
          <span ng-bind="person.id.toString(36).toUpperCase()"
            title="Full Numeric Id: {{person.id}}" class="label label-default">
          </span>
          <a ng-href="/consumers/{{person.id}}" target="_blank">
            <i class="fa fa-external-link"></i>
          </a>
        </div>
        <div class="alert alert-danger"
          ng-show="!stateVars.searchedConsumer && attemptedSave">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Required Field
        </div>
      </div>
    </div>
  </div><!-- End fields for existing consumer. -->

  <div ng-if="stateVars.addHow=='new'">
    <div class="form-inline form-group">
      <label class="col-md-4 control-label">
        <span uib-tooltip="Please indicate whether this beneficiary/owner is a person, a trust, or a company."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Entity Type <i class="fa fa-question-circle"></i> <em>(Required)</em>
        </span>
      </label>
      <div class="col-md-8">
        <select class="form-control"
          ng-model="contact.entity_type_id"
          name="entity_type_id"
          ng-options="obj.id as obj.name for obj in ENTITY_TYPES"
          ng-change="updateRelationshipToMatchType(person)"
          required>
        </select>
        <span class="alert alert-danger"
          ng-show="!contact.entity_type_id && attemptedSave">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Required Field
        </span>
      </div>
    </div>
  </div>

  <div class="beneficiary-questions">
    <div class="form-inline form-group clearfix"
      ng-if="!stateVars.beneficiaryOnly">
      <label for="beneficiary"
        class="col-md-4 control-label">
        <span uib-tooltip="The beneficiary receives the policy's payout. You may choose multiple primary and secondary beneficiaries (in case the primary has passed away), as well as specify a percentage of the death benefit each should receive."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Beneficiary? <i class="fa fa-question-circle"></i>
        </span>
      </label>
      <div class="col-md-8">
        <div class="checkbox checkbox-primary" style="padding-left:10px;">
          <input id="beneficiary"
            ng-model="stakeholderRelationship.is_beneficiary"
            type="checkbox"
            style="margin-bottom:10px;" />
          <label></label>
        </div>
      </div>
    </div>
    <div class="form-inline form-group clearfix"
      ng-if="stakeholderRelationship.is_beneficiary">
      <label class="col-md-4"></label>
      <div class="col-md-8">
        <select class="form-control"
          ng-model="stakeholderRelationship.contingent"
          ng-options="o.v as o.n for o in [{ n: 'Primary', v: false }, { n: 'Contingent', v: true }]"
          required>
        </select>
      </div>
    </div>
    <div class="form-inline form-group clearfix"
      ng-if="stakeholderRelationship.is_beneficiary">
      <label class="col-md-4 control-label required">
        Percent <em>(Required)</em>
      </label>
      <div class="col-md-8">
        <input class="form-control"
          ng-model="stakeholderRelationship.percentage"
          name="percentage"
          min="1" max="100" type="number" required />
        <required-msg saved="attemptedSave"
          field="formHolder.sRForm['percentage']">
        </required-msg>
      </div>
    </div>
    <div class="form-inline form-group clearfix"
      ng-if="stakeholderRelationship.is_beneficiary && !stakeholderRelationship.id && !stateVars.lockAddHow">
      <label for="also-applying" class="col-md-4 control-label">
        <span uib-tooltip="This creates a separate opportunity record for this party which will appear on your dashboard."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Also Applying? <i class="fa fa-question-circle"></i>
        </span>
      </label>
      <div class="col-md-8">
        <div class="checkbox checkbox-primary" style="padding-left:10px;">
          <input ng-model="person.will_also_apply"
            id="also-applying"
            type="checkbox" />
          <label></label>
        </div>
      </div>
    </div>
  </div>
  <div class="owner-question"
    ng-if="!stateVars.beneficiaryOnly">
    <div class="form-inline form-group clearfix">
      <label for="owner" class="col-md-4 control-label">
        <span uib-tooltip="The owner controls the policy and can add or remove beneficiaries. This person may also be the payor and the insured."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Owner? <i class="fa fa-question-circle"></i>
        </span>
      </label>
      <div class="col-md-8">
        <div class="checkbox checkbox-primary" style="padding-left:10px;">
          <input ng-model="stakeholderRelationship.is_owner"
            ng-change="ensureContactMethodsForOwnerPayer(stakeholderRelationship)"
            id="owner"
            type="checkbox" />
          <label></label>
        </div>
      </div>
    </div>
  </div>
  <div class="payor-question"
    ng-if="!stateVars.beneficiaryOnly">
    <div class="form-inline form-group clearfix">
      <label for="payor" class="col-md-4 control-label">
        <span uib-tooltip="The payor is responsible for making the policy's premium payments. This person may also be the owner and the insured."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Payor? <i class="fa fa-question-circle"></i>
        </span>
      </label>
      <div class="col-md-8">
        <div class="checkbox checkbox-primary" style="padding-left:10px;">
          <input ng-model="stakeholderRelationship.is_payer"
            ng-change="ensureContactMethodsForOwnerPayer(stakeholderRelationship)"
            id="payor"
            type="checkbox" />
          <label></label>
        </div>
        <span class="alert alert-danger"
          ng-show="!stakeholderRelationship.is_beneficiary &&
            !stakeholderRelationship.is_owner &&
            !stakeholderRelationship.is_payer &&
            attemptedSave">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          This stakeholder's stake/role must be clearly defined as some combination of owner/payer/beneficiary.
        </span>
      </div>
    </div>
  </div>
  <div class="form-inline form-group clearfix">
    <label class="col-md-4 control-label required">
      Relationship To Primary Insured <em>(Required)</em>
    </label>
    <div class="col-md-8">
      <select class="form-control"
        ng-model="stakeholderRelationship.relationship_type_id"
        name='relationship_type_id'
        ng-options="obj.id as obj.name for obj in RELATIONSHIP_TYPES"
        required>
      </select>
      <span class="alert alert-danger"
        ng-show="!stakeholderRelationship.relationship_type_id && attemptedSave">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Required Field
      </span>
    </div>
  </div>

  <div ng-if="stateVars.addHow=='new'">
    <div class="form-inline form-group">
      <label class="col-md-4 control-label required">
        Name <em>(Required)</em>
      </label>
      <div class="col-md-8">
        <input class="form-control"
          ng-model="contact.full_name"
          name="full_name" type="text" required>
        <span class="alert alert-danger"
          ng-show="!contact.full_name && attemptedSave">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Required Field
        </span>
      </div>
    </div>
    <div class="form-inline form-group"
      ng-if="contact.entity_type_id==1">
      <label class="col-md-4 control-label">
        Gender
      </label>
      <div class="col-md-8">
        <select class="form-control"
          ng-model="contact.gender"
          ng-options="obj.value.toString() as obj.text for obj in GENDERS">
        </select>
      </div>
    </div>
    <div class="form-inline form-group">
      <label class="col-md-4 control-label">
        <span ng-bind="contact.entity_type_id==1 ? 'SSN' : 'Tax ID'"></span>
      </label>
      <div class="col-md-8">
        <input class="form-control"
          ng-model="contact.ssn"
          ng-if="contact.entity_type_id==1"
          name="ssn"
          placeholder="xxx-xx-xxxx"
          ui-mask="999-99-9999"
          type="text" />
        <input class="form-control"
          ng-model="contact.ssn"
          ng-if="contact.entity_type_id!=1"
          name="tin"
          placeholder="xx-xxxxxxx"
          ui-mask="99-9999999"
          type="text" />
      </div>
    </div>
    <div class="form-inline form-group"
      ng-if="contact.entity_type_id!=1 || contact.trustee_name">
      <label class="col-md-4 control-label">
        <span ng-bind="contact.entity_type_id==2 ? 'Trustee Name *' : 'Signing Officer *'"></span>
      </label>
      <div class="col-md-8">
        <input class="form-control"
          ng-model="contact.trustee_name"
          name="trustee_name" type="text" required>
        <required-msg saved="attemptedSave"
          field="formHolder.sRForm['trustee_name']">
        </required-msg>
      </div>
    </div>
    <div class="form-inline form-group">
      <label class="col-md-4 control-label">
          {{(contact.entity_type_id==1 && 'Date of Birth') ||
          (contact.entity_type_id==2 && 'Trust Date') ||
          (contact.entity_type_id==3 && 'Date Incorporated') ||
          'Birth/Trust/Incorporated Date'}}
      </label>
      <div class="col-md-8">
        <dr-datetime-picker
          model="contact.birth_or_trust_date"
          date-only="true">
        </dr-datetime-picker>
      </div>
    </div>
    <div class="form-inline form-group"
      style="min-width:100%;">
      <label class="col-md-4 control-label">
        Email(s)
      </label>
      <div class="col-md-8">
        <ng-include src="'/contacts/emails_simplified.html'"
          style="width:100%"></ng-include>
      </div>
    </div>
    <div class="form-inline form-group"
      style="min-width:100%;">
      <label class="col-md-4 control-label">
        Phone(s)
      </label>
      <div class="col-md-8">
        <ng-include src="'/contacts/phones_simplified.html'"
          style="width:100%"></ng-include>
        <span class="alert alert-danger"
          ng-show="formHolder.sRForm['phone0value'].$touched &&
            formHolder.sRForm['phone0value'].$error.pattern && attemptedSave">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Phone value must be 10 digits. Parentheses and hyphens are optional.
        </span>
      </div>
    </div>
    <div class="form-inline form-group"
      style="min-width:100%;">
      <label class="col-md-4 control-label">
        Address(es)
      </label>
      <div class="col-md-8">
        <ng-include src="'/contacts/addresses_simplified.html'"
          style="width:100%"></ng-include>
      </div>
    </div>
  </div><!-- End fields for new consumer. -->
