<div class="panel panel-default bene-owner">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{person.full_name || '-'}} | 
    </h3>
    <small class="label"
      ng-if="stakeholderRelationship.is_beneficiary"
      ng-class="stakeholderRelationship.contingent ? 'label-success' : 'label-info'">
      {{stakeholderRelationship.contingent ? 'Contingent' : 'Primary'}} Beneficiary
    </small>
    <small class="label label-danger"
      ng-if="stakeholderRelationship.is_owner">
      Policy Owner
    </small>
    <small class="label label-warning"
      ng-if="stakeholderRelationship.is_payer">
      Premium Payor
    </small>
    <div class="dropdown btn-group btn-xs pull-right" uib-dropdown>
      <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
        <li>
          <a ng-if="person.id"
            ng-href="/consumers/{{person.id}}"
            target="_blank"
            title="Click to manage this person and their policies in more detail.">
            View Person
          </a>
        </li>
        <li>
          <a ng-click="openstakeholderRelationshipModal(stakeholderRelationship)">
            Edit Stakeholder
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-body" style="-webkit-column-count:3;column-count:3;">
    <div class="grid info-item">
      <div class="grid-cell">Entity Type</div>
      <div class="grid-cell">{{(person.entity_type_id | enumValue : 'ENTITY_TYPES') || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Gender</div>
      <div class="grid-cell">{{ (person.gender==undefined || person.gender==null) ? '-' : (person.gender | enumValue : 'GENDERS' : 'text') }}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Birthdate</div>
      <div class="grid-cell">{{(person.birth_or_trust_date | formatOptionalDateAsUS) || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Relationship</div>
      <div class="grid-cell">{{(stakeholderRelationship.relationship_type_id | enumValue : 'RELATIONSHIP_TYPES') || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">SSN/Tax ID</div>
      <div class="grid-cell">{{(person.ssn | drFormatSsn) || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Percent</div>
      <div class="grid-cell">{{stakeholderRelationship.percentage || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Trustee Name</div>
      <div class="grid-cell">{{person.trustee_name || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Primary Phone</div>
      <div class="grid-cell">{{person.$primaryPhone.value || (person.phones_attributes[0]||{}).value || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Primary Email</div>
      <div class="grid-cell">{{person.$primaryEmail.value || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Primary Address</div>
      <div class="grid-cell">
        <div ng-if="person.$primaryAddress"
          style="white-space: pre-line;"
          ng-bind-html="(person.$primaryAddress | drFormatAddress : true) || '-' ">
        </div>
      </div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">
        Also Applying For Insurance
      </div>
      <div class="grid-cell">
        <span ng-bind="person.has_opps_or_policies ? 'Yes' : 'No'"></span>
      </div>
    </div>
  </div>
</div>