<div id="file-manager"
  ng-controller="FileMgmtCtrl">
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        File Manager
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <a class="btn btn-default" ng-click="openNewAttachmentModal()">Upload File</a>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section-content">
      <div ng-repeat="(targetName, attachments) in attachmentsGroupedByTarget"
        class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" ng-bind="targetName"></h3>
        </div>

        <table class="table table-hover table-link" style="margin-bottom:0;">
          <thead>
            <tr>
              <th><!-- Thumbnail --></th>
              <th>Title</th>
              <th>Added</th>
              <th>Last Modified</th>
              <th>Size (KB)</th>
              <th>Description</th>
              <th><!-- Actions --></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="attachments.length==0">
              <td colspan="4">There are currently no attachments to show.</td>
            </tr>

            <tr ng-repeat="a in attachments">
              <td data-label="Thumbnail" style="text-align: center;">
                <img ng-if="a.content_type.includes('image')"
                    ng-attr-src="{{a.$uploaderAsDataUrl || a.$urlString}}"
                    style="max-width:100px;max-height:100px;">
                  <i ng-if="a.content_type.includes('text')"
                    class="fa fa-file-text" style="font-size: 1.5em; margin-right: 10px; color: #87cefa; opacity: 1;"></i>
                  <i ng-if="a.content_type.includes('audio')"
                    class="fa fa-file-audio-o" style="font-size: 1.5em; margin-right: 10px; color: #20b2aa; opacity: 1;"></i>
                  <i ng-if="a.content_type.includes('pdf')"
                    class="fa fa-file-pdf-o" style="font-size: 1.5em; margin-right: 10px; color: #f08080; opacity: 1;"></i>
                  <i ng-if="!(
                              a.content_type.includes('image') ||
                              a.content_type.includes('text' ) ||
                              a.content_type.includes('audio') ||
                              a.content_type.includes('pdf'  )
                            )"
                    class="fa fa-file-o" style="font-size: 1.5em; margin-right: 10px; color: #778899; opacity: 1;"></i>
              </td>
              <td data-label="Title"
              style="min-width: 200px; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a ng-href="{{a.$urlString}}"
                  target="_blank"
                  download>
                  <span ng-bind="a.title"></span>
                </a>
              </td>
              <td data-label="Added">
                {{a.created_at}}<br>
                <div ng-if="a.created_by_id">
                  (by
                  <a ng-href="/users/{{a.created_by_id}}"
                    target="_blank">
                    {{a.created_by_name}}
                    <i class="fa fa-external-link"></i>
                  </a>
                  )
                </div>
              </td>
              <td data-label="Last Modified">
                {{a.updated_at}}<br>
                <div ng-if="a.updated_by_id">
                  (by
                  <a ng-href="/users/{{a.updated_by_id}}"
                    target="_blank">
                    {{a.updated_by_name}}
                    <i class="fa fa-external-link"></i>
                  </a>
                  )
                </div>
              </td>
              <td data-label="Size (KB)" ng-bind="a.size/1000"></td>
              <td style="max-width: 450px;">
                <div ng-if="!a.$editing">
                  <div style="white-space: pre-line;">{{a.description}}</div>
                </div>
                <div ng-if="a.$editing">
                  <textarea ng-model="a.$tmpDesc"></textarea>
                  <br>
                  <a class="btn btn-warning"
                    ng-click="toggleEditDesc(a)">Cancel</a>
                  <a class="btn btn-primary"
                    ng-disabled="a.$tmpDesc==a.description"
                    ng-click="updateDesc(a)">Save</a>
                  <i ng-if="a.$savingDesc"
                    class="fa fa-spinner fa-spin"></i>
                </div>
              </td>
              <td>
                <div class="dropdown btn-group pull-right"
                  uib-dropdown style="margin-left:10px;">
                  <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle
                    title="Actions">
                    <i class="fa fa-cog"></i>
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li>
                      <a ng-href="{{a.$urlString}}"
                        target="_blank"
                        download>
                        <i class="fa fa-download"></i>
                        Download
                      </a>
                    </li>
                    <li>
                      <a ng-click="toggleEditDesc(a)">
                        <i class="fa fa-pencil-square-o"></i>
                        Edit
                      </a>
                    </li>
                    <li>
                      <a class="ajax delete-attachment"
                        ng-if="!r.is_recording"
                        ng-click="destroyRecord($index,attachments,a.$urlString.replace(a.extension,'json'),'attachment')">
                        <i class=" fa fa-trash-o font-awesome"></i> Remove
                      </a>
                      <div ng-if="r.is_recording"
                        title="Users are not allowed to remove phone recordings. For more information, please contact our support team.">
                        <i class="fa fa-question-circle"></i>
                        (Can't Remove)
                      </div>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <!-- Upload File Modal -->
      <script type="text/ng-template"
        id="modal_for_new_attachment.html">
        <div class="modal-header">
          <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
          <h4 class="modal-title">Add New File</h4>
        </div>
        <dr-last-bulletin></dr-last-bulletin>
        <form class="tr"
          ng-submit="uploadNewAttachment()"
          target="attachment-form-iframe">
          <div class="modal-body">
            <div ng-if="targetPolicyOpts.length">
              <label>File Is For
              <select ng-model="newAttachment.case_id"
                ng-options="o.id as o.name for o in targetPolicyOpts"></select>
            </div>
            <div>
              <label>Description</label>
              <textarea class="form-control"></textarea>
            </div>
            <hr>
            <div>
              <img ng-if="newAttachment.$uploaderAsDataUrl"
                ng-attr-src="{{newAttachment.$uploaderAsDataUrl}}"
                style="max-width:200px; max-height:200px;"
                alt="Preview">
              <input type="file" ng-file-select
                ng-model="newAttachment.$uploader"
                ng-change="readAndParseFile()" />
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn pull-left" data-dismiss="modal">Cancel</a>
            <input class="btn btn-primary" name="commit" type="submit" value="Upload" />
          </div>
        </form>
      </script>
      <!-- End Upload File Modal -->
    </div>
  </div>
</div>
