<!-- QUOTE PATH: APPLICATION -->
<div class="application-cont">
  <div ng-form name="formHolder.piInfo" class="grid" autocomplete="on">
    <div class="grid-cell">

      <div class="form-group row">
        <div class="col-xs-12">
          <label class="control-label required" for="fname">Full Name</label>
          <input class="form-control" type="text"
            id="fname"
            name="fname"
            ng-model="consumer.full_name"
            placeholder="John Doe"
            pattern="((\w|\d|\/|-)+\s*){2,4}"
            autofocus required />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label required" for="address">Address</label>
        <input class="form-control" type="text"
          id="address"
          name="address"
          ng-model="consumer.addresses_attributes[0].street"
          required />
      </div>

      <div class="form-group row">
        <div class="col-xs-7">
          <label class="control-label required" for="city">City</label>
          <input class="form-control" type="text"
            id="city"
            name="city"
            ng-model="consumer.addresses_attributes[0].city"
            required />
        </div>
        <div class="col-xs-2">
          <label class="control-label required" for="state">State</label>
          <select class="form-control" 
            id="state"
            name="state"
            ng-model="consumer.addresses_attributes[0].state_id"
            ng-options="o.id as (o.abbrev+' - '+o.name) for o in rttAllowedStates"
            required>
          </select>
        </div>
        <div class="col-xs-3">
          <label class="control-label required" for="zip">Zip</label>
          <input class="form-control" type="text"
            id="zip"
            name="zip"
            ng-model="consumer.addresses_attributes[0].zip"
            pattern="^\d{5}$"
            maxlength="5"
            inputmode="numeric" required />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6">
          <label class="control-label required" for="phone">Phone Number</label>
          <input class="form-control" type="tel"
            ng-model="consumer.phones_attributes[0].value"
            id="phone" 
            name="phone"
            pattern="{{PHONE_VALIDATION_PATTERN}}"
            placeholder="(___)___-____"
            maxlength="17"
            required />
        </div>
        <div class="col-xs-6">
          <label class="control-label required" for="email">Email</label>
          <input class="form-control"
            type="email"
            id="email"
            name="email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
            ng-model="consumer.emails_attributes[0].value"
            inputmode="email" required />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6">
          <label class="control-label" for="dob">Date of Birth</label>
          <dr-datetime-picker model="consumer.birth_or_trust_date"
            date-only="true">
          </dr-datetime-picker>
        </div>
        <div class="col-xs-6">
          <label class="control-label required" for="ssn"
            title="Required as part of the underwriting process. Your information is protected by industry-standard encryption and will not be shared with any third parties.">
            Social Security Number
            <i class="fa fa-info-circle"></i>
          </label>
          <input class="form-control" type="text"
            id="ssn"
            name="ssn"
            ng-model="consumer.ssn"
            placeholder="___-__-____" 
            ui-mask="999-99-9999"
            required />
          <required-msg saved="attemptedSubmit" field="insuredInformation['ssn']"></required-msg>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6">
          <label class="control-label required"
            for="birth-country">Birth Country</label>
          <select id="birth-country"
            class="form-control" name='birth-country'
            ng-model="consumer.birth_country_id"
            ng-options="o.id as o.name for o in COUNTRIES"
            required>
          </select>
          <required-msg saved="attemptedSubmit" field="insuredInformation['birth-country']"></required-msg>
        </div>
        <div class="col-xs-6"
          ng-if="consumer.birth_country_id && consumer.birth_country_id==1">
          <label for="birth-state"
            class="control-label required">Birth State</label>
          <select id="birth-state"
            class="form-control" name="birth-state"
            ng-model="consumer.birth_state_id"
            ng-options="o.id as o.name for o in STATES"
            required></select>
          <required-msg saved="attemptedSubmit" field="insuredInformation['birth-state']"></required-msg>
        </div>
      </div>

      <div class="form-group form-inline row">
        <div class="col-xs-6">
          <label class="control-label required" for="feet">Height</label>
          <br>
          <input id="feet"
              name="feet"
              class="form-control"
              type="number"
              min="1" max="9" size="2"
              ng-model="health.feet"
              placeholder="ft"
              required>
          <p class="form-control-static" style="margin-right:8px;">feet</p>
          <input id="inches"
              name="inches"
              class="form-control"
              type="number"
              min="0" max="11" size="2"
              ng-model="health.inches"
              placeholder="in"
              required>
          <p class="form-control-static">inches</p>
        </div>
        <div class="col-xs-6">
          <label class="control-label required" for="weight">Weight</label>
          <br>
          <input class="form-control"
            type="number"
            id="weight"
            name="weight"
            ng-model="health.weight" 
            pattern="[0-9]+"
            size="3"
            maxlength="3" min="0" max="999"
            required />
          <p class="form-control-static">pounds</p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6">
          <label class="control-label required" for="dl_state">Driver's License State</label>
          <select class="form-control" 
            id="dl_state"
            name="dl_state"
            ng-model="consumer.dl_state_id"
            ng-options="o.id as (o.abbrev+' - '+o.name) for o in STATES"
            required>
          </select>
        </div>
        <div class="col-xs-6">
          <label class="control-label required" for="license">Driver's License</label>
          <input class="form-control" type="text"
            id="license"
            name="license"
            ng-model="consumer.dln"
            ng-change="validateDriversLicenseNumber()"
            required>
        </div>
      </div>
      <div class="form-group row alert alert-danger"
        ng-show="formHolder.piInfo.license.$viewValue && !formHolder.piInfo.license.$valid && formHolder.piInfo.license.$error.formatting">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <span ng-bind="consumer.$dlnValidityError"></span>
      </div>

      <div class="form-group row">
        <div class="col-xs-6">
          <label class="control-label required" for="occupation">Occupation</label>
          <input type="text" class="form-control"
            id="occupation"
            name="occupation"
            ng-model="consumer.occupation"
            required>
        </div>
        <!--
        <div class="col-xs-6">
          <label class="control-label" for="occupation">Occupation Description</label>
          <textarea class="form-control"
            id="occupation_description"
            name="occupation_description"
            ng-model="consumer.occupation_description"
            ></textarea>
        </div>
        -->
      </div>
      <div class="form-group row">
        <div class="col-xs-6">
          <label class="control-label required" for="marital-status">Marital Status</label>
          <select class="form-control" 
            id="marital-status"
            name="marital-status"
            ng-model="consumer.marital_status_id"
            ng-options="o.id as o.name for o in MARITAL_STATUSES"
            required>
          </select>
        </div>
        <div class="col-xs-6">
          <label class="control-label required" for="citizenship">Citizenship</label>
          <select class="form-control" 
            id="citizenship"
            name="citizenship"
            ng-model="consumer.citizenship_id"
            ng-options="o.id as o.name for o in CITIZENSHIPS"
            required></select>
        </div>
      </div>
      <div class="form-group row"
        ng-if="consumer.citizenship_id && (consumer.citizenship_id | enumValue : 'CITIZENSHIPS')!='US Citizen'">
        <div class="col-xs-8">
          <label class="control-label" for="reg-num">Alien Registration Number</label>
            <input type="text" class="form-control"
              id="reg-num"
              name="reg-num"
              ng-model="consumer.citizenship_noncitizen_registration_number">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-8">
          <label class="control-label"
            for="purpose">
            Purpose of Insurance
          </label>
          <br>
          <div class="radio radio-primary">
            <input type="radio"
            name="purpose"
            id="purpose1"
            ng-model="rttAnswers.purpose_of_insurance"
            value="Family Security">
            <label for="purpose1">Family Security</label>
          </div>
          <div class="radio radio-primary">
            <input type="radio"
            name="purpose"
            id="purpose2"
            ng-model="rttAnswers.purpose_of_insurance"
            value="Personal Loan/Residential Mortgage">
            <label for="purpose1">Personal Loan/Residential Mortgage</label>
          </div>
          <div class="radio radio-primary">
            <input type="radio"
            name="purpose"
            id="purpose3"
            ng-model="rttAnswers.purpose_of_insurance"
            value="Business Loan">
            <label for="purpose1">Business Loan</label>
          </div>
          <!--<div class="radio radio-primary">
            <input type="radio"
            name="purpose"
            id="purpose4"
            ng-model="rttAnswers.purpose_of_insurance"
            value="Buy-Sell Agreement">
            <label for="purpose1">Buy-Sell Agreement</label>
          </div>
          <div class="radio radio-primary">
            <input type="radio"
            name="purpose"
            id="purpose5"
            ng-model="rttAnswers.purpose_of_insurance"
            value="Key Executive">
            <label for="purpose1">Key Executive</label>
          </div>-->
          <div class="radio radio-primary">
            <input type="radio"
            name="purpose"
            id="purpose6"
            ng-model="rttAnswers.purpose_of_insurance"
            value="Other">
            <label for="purpose1">Other</label>
          </div>
          <select id="purpose"
          name="purpose"
            class="form-control"
            ng-if="rttAnswers.purpose_of_insurance=='Other'"
            ng-model="consumer.cases_attributes[0].purpose_id"
            ng-options="o.id as o.name group by o.purpose_type_name for o in PURPOSES"
            required></select>
          <required-msg saved="attemptedSubmit" field="otherInformation['purpose']"></required-msg>
        </div>
      </div>
    </div>
  </div>

  <div class="actions grid grid--center grid--align-center">
    <a class="btn btn-motorist"
      ng-disabled="!subsectionIsValid()"
      ng-click=" ensureAtLeastOneStakeholderRelationship(); nextSubsection();"
      >
      Next
    </a>
    <a class="previous" ng-click="prevSubsection()">
      <i class="fa fa-long-arrow-left"
        aria-hidden="true"
        ></i> 
      Previous
    </a>
  </div>
</div>
<!-- //  QUOTE PATH: APPLICATION