<!-- QUOTE PATH: APPLICATION -->
<div class="application-cont beneficiary">
  <div class="grid"
    ng-form name="formHolder.stakeholderRels"
    autocomplete="on">
    <div class="grid-cell">

      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-info"
            style="margin-bottom:20px;">
            <i class="fa fa-info-circle"></i>
            You need at least one (1) primary beneficiary.
          </div>
          <div class="alert alert-warning"
            ng-if="benPercentageTotal(false)!=100">
            <strong>Primary</strong> Beneficiaries' percentages must add up to <strong>100</strong>.
            Currently, they add up to <strong ng-bind="benPercentageTotal(false) || '0' "></strong>.
          </div>
          <div class="alert alert-warning"
            ng-if="benPercentageTotal(true)!=100 && benPercentageTotal(true)!=0">
            <strong>Contingent</strong> Beneficiaries' percentages must add up to <strong>100</strong>.
            Currently, they add up to <strong ng-bind="benPercentageTotal(true) || '0' "></strong>.
          </div>
          <div class="row-fluid">
            <div class="beneficiary-fieldset"
              ng-repeat="stakeholderRelationship in kase.stakeholder_relationships_attributes"
              ng-if="!stakeholderRelationship._destroy"
              ng-init="person=consumer;
                stateVars={addHow:'new',lockAddHow:true, beneficiaryOnly:true};
                overwriteOrigSR=true;">
              <h3>Beneficiary <sup>#</sup>{{$index+1}}</h3>
              <ng-include src="'/crm/cases/stakeholder/fields.html'"
                ng-controller="rttStakeholderRelationshipFormCtrl"></ng-include>
              <div class="form-inline form-group">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <a class="btn btn-warning"
                    ng-click="destroySR(stakeholderRelationship,$index)">
                    Remove
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right">
            <a class="btn btn-motorist"
              ng-click="addstakeholderRelationship()">
              Add A Beneficiary / Owner
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="actions grid grid--center grid--align-center">
    <a class="btn btn-motorist"
      ng-disabled="!subsectionIsValid()"
      ng-click="nextSubsection()">
      Next
    </a>
    <a class="previous" ng-click="prevSubsection()">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i> 
      Previous
    </a>
  </div>
</div>
<!-- //  QUOTE PATH: APPLICATION -->