<div class="application-cont full-width">
  <div class="grid">
    <div class="grid-cell">
      <div class="form-group row"
        ng-if="!person.role || person.role.indexOf('Owner')>-1">
        <div class="col-xs-12">
          <div style="text-align:center; margin-bottom:20px;">
            <p style="margin: 0 auto;">Please review the following for accuracy.</p>
            <a ng-href="{{'/rtt/'+ policy.scor_guid +'/app_forms_only.pdf?agent_id='+ agentId +'&key='+ key}}"
              class="small" target="_blank">
              View in separate window
              <i class="fa fa-external-link-square"></i>
            </a>
            |
            <a ng-click="printIframe('forms-frame')">
              Print
              <i class="fa fa-print"></i>
            </a>
          </div>
          <iframe id="forms-frame"
            ng-if="!$rttPathScope.savesPending"
            ng-src="{{'/rtt/'+ policy.scor_guid +'/app_forms_only.pdf?agent_id='+ agentId +'&key='+ key}}"></iframe>
          <div ng-if="$rttPathScope.savesPending" style="text-align: center;">
            Waiting for save to complete before showing form preview...
            <div class="sk-folding-cube">
              <div class="sk-cube1 sk-cube"></div>
              <div class="sk-cube2 sk-cube"></div>
              <div class="sk-cube4 sk-cube"></div>
              <div class="sk-cube3 sk-cube"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12" style="text-align:center; font-size:16px;">
          <a ng-click="openDisclosure2Modal()">
            <i ng-class="$rttPathScope.reviewedDisclosure2 ? 'fa fa-check-circle' : 'fa fa-circle-o'" style="color:#456275; opacity:.65;"></i>
            Review and Accept <span ng-if="!person.role || person.role.indexOf('Owner')>-1">Accuracy and</span> eSignature Disclosure
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="application-cont grid-cell" ng-style="{{person ? 'margin:0 auto;' : ''}}">
  <div class="actions grid grid--center grid--align-center"
    ng-if="!person">
    <a class="btn btn-motorist"
      ng-click="$rttPathScope.reviewedDisclosure2 && !submitting && nextSubsection(); saveAndSubmitForUnderwriting();"
      ng-disabled="!$rttPathScope.reviewedDisclosure2"
      title="{{$rttPathScope.reviewedDisclosure1 ? '' : 'You must review and accept the disclosure before you proceed.'}}">
      Submit for Review
    </a>
    <a class="previous" ng-click="prevSubsection()">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i> 
      Previous
    </a>
  </div>
  <div class="actions grid grid--center grid--align-center"
    ng-if="person"
    style="margin:0 auto;">
    <a class="btn btn-motorist"
      ng-disabled="!$rttPathScope.reviewedDisclosure2"
      ng-click="$rttPathScope.reviewedDisclosure2 && saveAcceptDecline(false)">
      Decline
    </a>
    <a class="btn btn-motorist"
      ng-disabled="!$rttPathScope.reviewedDisclosure2"
      ng-click="$rttPathScope.reviewedDisclosure2 && saveAcceptDecline(true)">
      Accept
    </a>
  </div>
</div>

<script type="text/ng-template"
  id="disclosure2_modal.html">
  <div class="modal-header">
    <h4 class="modal-title">eSignature Information</h4>
    <br>
    <a href="/rtt/disclosure_for_accuracy_and_esignature.html" class="small" target="_blank">
      View in separate window
      <i class="fa fa-external-link-square"></i>
    </a>
    |
    <a ng-click="printElement('accuracy-and-esig')">
      Print
      <i class="fa fa-print"></i>
    </a>
  </div>
  <div class="modal-body">
    <div id="accuracy-and-esig">
      <ng-include ng-if="!person.role || person.role.indexOf('Owner')>-1"
        src="'/rtt/disclosure_for_accuracy.html'"></ng-include>
      <hr>
      <ng-include id="esignature" src="'/rtt/disclosure_for_esignature.html'"></ng-include>
    </div>
    <div style="width:100%; text-align:center; margin: 20px 0 0;">
      <button type="button"
        class="btn btn-motorist"
        ng-click="$rttPathScope.reviewedDisclosure2=true; $close()">
        Accept
      </button>
    </div>
  </div>

  <div class="modal-footer">
    <span>Scroll to the bottom to Accept.</span>
  </div>
</script>

