<div class="panel-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Information About the Proposed Insured
      <span style="font-weight: normal">
        (required to save)
      </span>
    </div>
    <div class="panel-body form-horizontal row-border"
      ng-form name="formHolder.basicInsuredInfo">

      <div class="form-inline form-group">
        <label for="fname"
          class="col-md-4 control-label required">
          Full name
        </label>
        <div class="col-md-8">
          <input id="name"
            name="fname"
            class="form-control"
            type="text"
            ng-model="consumer.full_name"
            ng-change="identifyTestName()"
            placeholder="John Doe"
            pattern="((\w|\d|\/|-)+\s*){2,4}"
            required>
          <div ng-show="warnAboutTestName"
            class="alert alert-danger">
            It looks like you may have entered <strong>test</strong> data, but you are filling out a <strong>real</strong> application. Are you sure you wish to proceed?
          </div>
          <required-msg saved="attemptedSave"
            field="formHolder.basicInsuredInfo['fname']"></required-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="email"
          class="col-md-4 control-label required">
          Email address
        </label>
        <div class="col-md-8">
          <input id="email"
            name="email"
            class="form-control"
            type="email"
            ng-model="consumer.emails_attributes[0].value"
            ng-change="identifyTestEmail()"
            required>
          <div ng-show="warnAboutTestEmail"
            class="alert alert-danger">
            It looks like you may have entered <strong>test</strong> data, but you are filling out a <strong>real</strong> application. Are you sure you wish to proceed?
          </div>
          <required-msg saved="attemptedSave"
            field="formHolder.basicInsuredInfo['email']"></required-msg>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Basic Quote Information
      <span style="font-weight: normal">
        (required to quote)
      </span>
    </div>
    <div class="panel-body form-horizontal row-border"
      ng-form name="formHolder.basicQuotingInfo">
      <div class="form-inline form-group">
        <label for="gender"
          class="col-md-4 control-label required">
          Gender
        </label>
        <div class="col-md-8">
          <select id="gender" 
            name="gender"
            class="form-control" 
            ng-model="consumer.gender"
            required>
            <option value="m">Male</option>
            <option value="f">Female</option>
          </select>
          <required-msg saved="attemptedSave"
            field="formHolder.basicQuotingInfo['gender']"></required-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="feet"
          class="col-md-4 control-label required">
          Height / Weight
        </label>
        <div class="col-md-8">
          <div class="input-group">
            <input id="feet"
              name="feet"
              class="form-control"
              type="number"
              min="1"
              max="9"
              size="2"
              ng-model="health.feet"
              placeholder="ft"
              required>
            <div class="input-group-addon">
              ft
            </div>
          </div>
          <div class="input-group">
            <input id="inches"
              name="inches"
              class="form-control"
              type="number"
              min="0" max="11" size="2"
              ng-model="health.inches"
              placeholder="in"
              required>
            <div class="input-group-addon">
              in
            </div>
          </div>
          <div class="input-group">
            <input id="weight"
              name="weight"
              class="form-control"
              type="number"
              min="10"
              max="1000"
              size="3"
              ng-model="health.weight"
              placeholder="lbs"
              required>
            <div class="input-group-addon">
              lbs
            </div>
          </div>
          <div class="input-group">
            <required-msg saved="attemptedSave"
              field="formHolder.basicQuotingInfo['feet']"></required-msg>
            <required-msg saved="attemptedSave"
              field="formHolder.basicQuotingInfo['inches']"></required-msg>
            <required-msg saved="attemptedSave"
              field="formHolder.basicQuotingInfo['weight']"></required-msg>
          </div>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="state"
          class="col-md-4 control-label required">
          State of Residence
        </label>
        <div class="col-md-8">
          <select
            id="state"
            name="state"
            class="form-control"
            ng-model="consumer.addresses_attributes[0].state_id"
            ng-options="o.id as (o.abbrev+' - '+o.name) for o in rttAllowedStates"
            required>
          </select>
          <required-msg saved="attemptedSave"
            field="formHolder.basicQuotingInfo['state']"></required-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label class="col-md-4 control-label required">
          Date of Birth
        </label>
        <div class="col-md-8" ng-if="consumer">
        <!-- The above ngIf keeps this from rendering until the `consumer` object is
             loaded/created, preventing annoying console errors. -->
          <dr-datetime-picker model="consumer.birth_or_trust_date"
            date-only="true" required="true">
          </dr-datetime-picker>
          <div class="alert alert-danger"
            ng-show="!consumer.birth_or_trust_date && attemptedSave">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Required to View Rates
          </div>
        </div>
      </div>
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">
          Have you, in the last 12 months, used Tobacco or Nicotine products in any form?
        </label>
        <div>
          <div class="radio radio-motorist radio-inline">
            <input type="radio"
              id="quoter_tobacco_yes"
              name="radio-tobacco"
              ng-model="health.tobacco"
              ng-value="true"
              title="Yes"
              required>
            <label for="quoter_tobacco_yes">Yes</label>
          </div>
          <div class="radio radio-motorist radio-inline">
            <input type="radio"
              id="quoter_tobacco_no"
              name="radio-tobacco"
              ng-model="health.tobacco"
              ng-value="false"
              title="No"
              required>
            <label for="quoter_tobacco_no">No</label>
          </div>
          <required-msg saved="attemptedSave"
            field="formHolder.basicQuotingInfo['radio-tobacco']"></required-msg>
        </div>
      </div>

      <div class="form-inline form-group">
        <label class="col-md-4 control-label">
          Has the person proposed for insurance, in the last 12 months, been declined; rated or issued “sub-standard” or have a pending application for life insurance coverage with any company including Motorists Life Insurance Company?
        </label>
        <div>
          <div class="radio radio-motorist radio-inline">
            <input type="radio"
              id="has_declined_substandard_or_pending_apps_yes"
              name="rtt_answers[has_declined_substandard_or_pending_apps]"
              ng-model="rttAnswers.has_declined_substandard_or_pending_apps"
              ng-value="true"
              title="Yes">
            <label for="has_declined_substandard_or_pending_apps_yes">Yes</label>
          </div>
          <div class="radio radio-motorist radio-inline">
            <input type="radio"
              id="has_declined_substandard_or_pending_apps_no"
              name="rtt_answers[has_declined_substandard_or_pending_apps]"
              ng-model="rttAnswers.has_declined_substandard_or_pending_apps"
              ng-value="false"
              title="No" checked>
            <label for="has_declined_substandard_or_pending_apps_no">No</label>
          </div>
          <required-msg saved="attemptedSave"
            field="formHolder.basicQuotingInfo['rtt_answers[has_declined_substandard_or_pending_apps]']"></required-msg>
        </div>
      </div><!-- End Full-Width-Wrapper -->
    </div>
  </div>
  <div class="actions grid grid--center grid--align-center">
    <a class="btn btn-motorist"
      style="margin:0 auto;"
      ng-disabled="!subsectionIsValid()"
      ng-click="($rttPathScope.attemptedSave=true) &&
                subsectionIsValid(true) &&
                autoSaveAnswers() &&
                calcAvailableRatesForConsumer() &&
                sections.splice(0,1) &&
                openWelcomeModal()">
      Next
    </a>
  </div>
</div>
