<h3>Motorists Life lnsurance Company (MLIC) Request and Authorization for Automatic Check Plan and Electronic Fund Transferring Plan</h3>

<p>The undersigned Depositor hereby requests and authorizes Motorists Life lnsurance Company to draw a check or transfer funds electronically on the account of the undersigned Depositor for the purpose of paying premiums on the policies purchased through the Motorists Real-Time Term application (RTT). lt is understood that the Electronic Fund transferring will not alter any policy provision and that MLIC shall not be required to give notice to any premiums becoming due under this Plan. The privilege of paying premiums under this Plan will be revoked by the Company if any two payments are dishonored in a fifteen-month period. The payment of premiums under this Plan may be discontinued upon 15 days' written notice. If this method of payment is discontinued for any reason, premiums for any policy can be paid by another mode and in accordance with the Payment of Premiums Provision of such policy. If necessary, refunds of initial premium will be refunded by Company check. If any payment is dishonored, whether with or without cause and whether intentionally or inadvertently, MLIC will not reimburse any type of fees assessed by your financial institution.</p>

<p>MLIC will draft the checking account designated within the RTT application for subsequent premiums only (unless initial premium payment is also authorized) once the policy has been approved for issue, subject to the terms below.</p>

<h3>Authorization to Honor Deductions Made by Motorists Life lnsurance Company, Columbus, Ohio 43215-3861</h3>

<p>As a convenience to me, I hereby request and authorize you to pay and charge my account as specified within the RTT application deductions made by and payable to the order of MLIC, of Columbus, Ohio, provided there are sufficient collected funds in said account to pay the same upon presentation. By checking the box that indicates I have read this authorization, I (the bank account owner) understand and accept these terms and conditions outlined in this agreement. I hereby authorize MLIC to draft my checking account for the initial premium (if authorized) and subsequent premium payments subject to the terms of the life insurance contract.</p>

<p>I have read the above information and questions below. I authorize MLIC to withdraw funds from my checking or savings account to pay premiums on my MLIC life insurance policy(ies).</p>

<h3>Electronic Funds Transfer Frequently Asked Questions</h3>

<p><em><strong>What is the EFT payment option?</strong></em></p>

<p>The EFT plan allows us to automatically deduct your premium payment from your checking or savings account on a designated date each month. In most cases, if the designated draft date falls on a weekend or holiday, the draft will occur on the next business day. </p>

<p><em><strong>What happens if my financial institution does not honor a draft?</strong></em></p>

<p>If your financial institution does not honor a draft, we will attempt to draft from your account again within 3 business days. If the second draft attempt is not honored by your financial institution, your premium due will be considered unpaid and you will be required to send us a replacement payment. If we do not receive a replacement payment within the time required by your policy, your insurance coverage may no longer be in effect, or may enter its grace period and then lapse. </p>

<p><em><strong>What happens if my financial institution charges me fees?</strong></em></p>

<p>If your draft is not honored by your financial institution, MLIC assumes no responsibility for bank charges or fees assessed. No overdraft fees will be reimbursed by MLIC. To help prevent this, we encourage you to obtain overdraft protection from your bank. </p>

<p><em><strong>What if I change financial institutions?</strong></em></p>

<p>Contact us and we will provide you with a new EFT Authorization Form to complete, sign and return to us, along with a voided check. Please notify us at least 15 business days before your next scheduled draft date. </p>

<p><em><strong>What if I need to cancel the EFT plan?</strong></em></p>

<p>Send in your request (see address below), and we will cancel your EFT enrollment within 7-10 business days. Please indicate your new premium payment preference. lf none is selected, we will begin to bill you quarterly. Or you may call us at 1-888-876-6542 to cancel the EFT plan and set up new premium payment options. You must notify us at least 15 business days before your next scheduled draft date. Send notifications to: Motorists Life Insurance Company, 471 E. Broad Street, Columbus, OH 43215.</p>
