<div ng-repeat="qs in scorHealthQuestionSets">
  <ng-include class="top-level-question"
    src="'/rtt/scor_unconditional_question.html'"></ng-include>
  <ng-include class="conditional-question"
    src="'/rtt/scor_conditional_question_set.html'"></ng-include>
</div>