<!-- AGENT SUMMARY - PAYMENT INFORMATION - app_04_payment_info.html -->
<div id="payment-information-helper" class="agent-summary panel panel-default">
  <div class="panel-body grid grid--align-center grid--center">
    <div class="grid-cell" style="max-width:800px; padding:0; text-align:center; font-weight:600; animation-name: fade-in;animation-duration: 2s;animation-iteration-count: 1; flex: auto; height: 100%;">
      <p style="color:#788199; font-size:16px; font-weight:600;">If the application is approved, payments will be deducted from the bank account provided in this section.</p>
    </div>
  </div>
</div>
<!-- // AGENT SUMMARY - PAYMENT INFORMATION -->