<!-- AGENT SUMMARY - LIFESTYLE QUESTIONS - Lifestyle Questions -->
<div id="lifestyle-questions-helper" class="agent-summary panel panel-default">
  <div class="panel-body grid grid--align-center grid--center">
    <div class="grid-cell" style="max-width:800px; padding:0; text-align:center; font-weight:600; animation-name: fade-in;animation-duration: 2s;animation-iteration-count: 1; flex: auto; height: 100%;">
      <p style="color:#788199; font-size:16px; font-weight:600;">In this section, we'll ask a few lifestyle questions to help us review and assess your application.</p>
    </div>
  </div>
</div>
<!-- // AGENT SUMMARY - LIFESTYLE QUESTIONS -->