<!-- AGENT SUMMARY - CONGRATULATIONS - Congratulations -->
<div class="agent-summary panel panel-default">
  <div class="panel-body grid grid--align-center grid--center">
    <div class="grid-cell grid--shrink brand-image">
      <img ng-src="{{agentSummary.thumb}}">
    </div>
    <div class="grid-cell agent-info">
      <p><strong>Thank you for using the Motorists Real Time Term Life Insurance Process</strong></p>
      <p>
        If you have questions or need assistance, please call me. I am here to help.
      </p>
      <p style="margin:0;">
        <strong class="capitalize" ng-bind="agentSummary.name"></strong>
        <br>
        <span ng-if="agentSummary.brand_name && agentSummary.brand_name!=agentSummary.name">
          {{agentSummary.brand_name}}
        </span>
        <br>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a href="mailto:{{agentSummary.email.value}}"
          ng-bind="agentSummary.email.value"></a>
        <br>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <a href="tel:{{agentSummary.phone | drFormatPhone}}"
          ng-bind="agentSummary.phone | drFormatPhone">
        </a>
      </p>
    </div>
  </div>
</div>
<!-- // AGENT SUMMARY - CONGRATULATIONS -->