<!-- AGENT SUMMARY - APP REVIEW - app_05_verify_accuracy_and_esign.html -->
<div id="app-review-helper" class="agent-summary panel panel-default">
  <div class="panel-body grid grid--align-center grid--center">
    <div class="grid-cell" style="max-width:800px; padding:0; text-align:center; font-weight:600; animation-name: fade-in;animation-duration: 2s;animation-iteration-count: 1; flex: auto; height: 100%;">
      <p style="color:#788199; font-size:16px; font-weight:600;">Please review the information on your application before you eSign and submit it for processing.</p>
    </div>
  </div>
</div>
<!-- // AGENT SUMMARY - APP REVIEW -->