<!-- AGENT SUMMARY - BENEFICIARY INFORMATION - app_02_stakeholders.html -->
<div id="payment-information-helper" class="agent-summary panel panel-default">
  <div class="panel-body grid grid--align-center grid--center">
    <div class="grid-cell" style="max-width:800px; padding:0; text-align:center; font-weight:600; animation-name: fade-in;animation-duration: 2s;animation-iteration-count: 1; flex: auto; height: 100%;">
      <p style="color:#788199; font-size:16px; font-weight:600;">Please enter at least one primary beneficiary. You can add multiple beneficiaries, as well as specify a percentage of the policy's death benefit you'd like them to receive.</p>
    </div>
  </div>
</div>
<!-- // AGENT SUMMARY - BENEFICIARY INFORMATION -->