<div ng-repeat="qs in scorLifestyleQuestionSets"
  id="{{ (scorLifestyleQuestionSets[$index].headingText || scorLifestyleQuestionSets[$index].questions[0].questionText || '').replace('/','-').replace(' ','-').toLowerCase() }}">
  <ng-include class="top-level-question"
    src="'/rtt/scor_unconditional_question.html'"></ng-include>
  <ng-include class="conditional-question"
    src="'/rtt/scor_conditional_question_set.html'"></ng-include>
</div>