<div class="modal-header">
  <h4 class="modal-title">Need help?</h4>
</div>
<div class="modal-body need-help-modal">
  <div class="grid-cell grid--shrink brand-image">
    <img ng-src="{{agentSummary.thumb}}">
  </div>
  <div class="grid-cell agent-info">
    <p>If you have questions or need assistance, please call me. I am here to help.</p>
    <br>
    <strong class="capitalize"
      ng-bind="agentSummary.name"></strong>
    <br>
    <span ng-if="agentSummary.brand_name && agentSummary.brand_name!=agentSummary.name">
      {{agentSummary.brand_name}}
    </span>
    <br>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <a href="mailto:{{agentSummary.email.value}}"
      ng-bind="agentSummary.email.value"></a>
    <br>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <a href="tel:{{agentSummary.phone | drFormatPhone}}"
      ng-bind="agentSummary.phone | drFormatPhone">
    </a>
  </div>
</div>

<div class="modal-footer ng-scope">
  <button type="button" class="btn btn-motorist"
    ng-click="$close()">
    Close
  </button>
</div>