<!-- Top Level Question -->
<div class="grid-cell"
  ng-if="qs.conditionalOnQuestion==null"
  ng-show="activeSubsectionIndex==$index">
  <p id="{{qs.questions[0].questionNumber}}"
    ng-bind="qs.questions[0].questionText"></p>
    
  <div class="actions grid grid--center grid--align-center">
    <a class="btn btn-motorist"
      ng-click="answers[qs.questions[0].questionNumber]=false; nextSubsection()">
      No
    </a>
    <a class="btn btn-default"
      ng-click="answers[qs.questions[0].questionNumber]=true;  nextSubsection()">
      Yes
    </a>
    <a class="previous" ng-click="prevSubsection()">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i> 
      Previous
    </a>
  </div>
</div>
<!-- End of Top Level Question -->