<!-- Nested Question Set -->
<div class="indent nested-question"
  ng-if="answers[q.questionNumber]">
  <div ng-if="nestedQuestionSet.error"
    class="alert {{nestedQuestionSet.isBlockingNavigation ? 'alert-warning' : 'alert-warning'}}">
    <span ng-bind="nestedQuestionSet.error"></span>
  </div>
  <div ng-repeat="q in nestedQuestionSet.questions"
    ng-init="thisQuestionSet=nestedQuestionSet; nestedQuestionSet=q.questionGroup||q">
    <div ng-if="thisQuestionSet.validationStrategy!='RequireExactlyOneSelection'"
      class="{{thisQuestionSet.validationStrategy=='RequireExactlyOneSelection' ? 'radio radio-primary radio-inline' : 'checkbox checkbox-primary'}}">
      <input id="{{q.questionNumber}}"
        ng-model="answers[q.questionNumber]"
        ng-change="subsectionIsValid()"
        type="checkbox" />
      <label for="{{q.questionNumber}}"
        ng-bind="q.questionText"></label>
      <div ng-if="q.questionText=='Other' && !q.questionGroup">
        <textarea ng-model="answers[q.questionNumber+'_detail']"
          placeholder="Please be specific."></textarea>
      </div>
    </div>
    <div ng-if="thisQuestionSet.validationStrategy=='RequireExactlyOneSelection'"
      class="{{thisQuestionSet.validationStrategy=='RequireExactlyOneSelection' ? 'radio radio-primary radio-inline' : 'checkbox checkbox-primary'}}">
      <input id="{{q.questionNumber}}"
        ng-model="thisQuestionSet.selectedAnswer"
        ng-value="q.questionNumber"
        ng-change="setAnswerToRadioQuestion(q.questionNumber);subsectionIsValid()"
        type="radio" />
      <label for="{{q.questionNumber}}"
        ng-bind="q.questionText"></label>
    </div>
    <!-- This will recurse as many levels as needed until there are no more nested question sets. -->
    <ng-include ng-if="nestedQuestionSet"
      src="'/rtt/scor_nested_question_set.html'"></ng-include>
  </div>
</div>
<!-- End of Nested Question Set -->