<!-- Conditional Question Set -->
<div class="grid-cell"
  ng-if="qs.conditionalOnQuestion!=null && canShowSubsection(qs)"
  ng-show="activeSubsectionIndex==$index">
  <div class="panel panel-default">
    <div class="panel-body">
      <p ng-if="qs.validationStrategy!='RequireExactlyOneSelection'"
        style="margin-bottom:10px;">Select all that apply.</p>
      <p ng-if="qs.validationStrategy=='RequireExactlyOneSelection'"
        style="margin-bottom:10px;">Select one.</p>
      <div ng-if="qs.error"
        class="alert {{qs.isBlockingNavigation ? 'alert-warning' : 'alert-warning'}}"
        ng-bind="qs.error"></div>
      <div class="grid-cell required">
        <div ng-repeat="q in qs.questions"
          ng-init="thisQuestionSet=qs; nestedQuestionSet=q.questionGroup||q">
          <div ng-if="thisQuestionSet.validationStrategy!='RequireExactlyOneSelection'
            && !thisQuestionSet.useYesNoRadiosInPlaceOfCheckboxes"
          class="checkbox checkbox-primary">
            <input id="{{q.questionNumber}}"
                ng-model="answers[q.questionNumber]"
                ng-change="subsectionIsValid()"
                type="checkbox" />
            <label for="{{q.questionNumber}}"
              ng-bind="q.questionText"></label>
            <div ng-if="q.questionText=='Other' && !q.questionGroup">
              <textarea ng-model="answers[q.questionNumber+'_detail']"
                placeholder="Please be specific."></textarea>
            </div>
          </div>
          <div ng-if="thisQuestionSet.validationStrategy!='RequireExactlyOneSelection'
            && thisQuestionSet.useYesNoRadiosInPlaceOfCheckboxes">
            <label class="question-text"
              ng-bind="q.questionText"></label>
            <div class="radio radio-primary radio-inline">
              <input id="{{q.questionNumber}}Yes"
                ng-model="answers[q.questionNumber]"
                ng-value="true"
                type="radio" />
              <label for="{{q.questionNumber}}Yes">
                Yes
              </label>
            </div>
            <div class="radio radio-primary radio-inline">
              <input id="{{q.questionNumber}}No"
                ng-model="answers[q.questionNumber]"
                ng-value="false"
                type="radio" />
              <label for="{{q.questionNumber}}No">
                No
              </label>
            </div>
          </div>
          <div class="radio radio-primary radio-inline"
            ng-if="thisQuestionSet.validationStrategy=='RequireExactlyOneSelection'">
            <input id="{{q.questionNumber}}"
              ng-model="qs.selectedAnswer"
              ng-value="q.questionNumber"
              ng-change="setAnswerToRadioQuestion(q.questionNumber);subsectionIsValid()"
              type="radio" />
            <label for="{{q.questionNumber}}"
              ng-bind="q.questionText">
            </label>
          </div>
          <ng-include ng-if="nestedQuestionSet"
            src="'/rtt/scor_nested_question_set.html'"></ng-include>
        </div>

        <div class="actions grid grid--center grid--align-center">
          <a class="btn btn-motorist"
            ng-click="nextSubsection()">
            Next
          </a>
          <a class="previous" ng-click="prevSubsection()">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> 
            Previous
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Conditional Question Set -->