<!-- SCOR Appplication Submit Loading Page -->
<div class="app-submit grid-cell text-center"
  style="max-width:800px;">
  <div class="alert alert-warning text-left"
    style="margin-bottom:50px;"
    ng-bind="processingStatusText"></div>
  <div class="sk-folding-cube"
    ng-if="!hideLoadingIcon">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <h2 style="margin-top:60px; white-space:pre-line;"
    ng-if="!sentForProcessing && processingStatusText.indexOf('Failed')==-1">Do not refresh your browser</h2>
</div>
<!-- // SCOR Appplication Submit Loading Page -->
<a ng-if="processingStatusText.indexOf('Failed')==0"
  ng-click="prevSubsection()">
  <i class="fa fa-long-arrow-left"></i> 
  Previous
</a>
<button ng-if="devMode"
  ng-click="nextSubsection()">SKIP</button>