<div class="panel panel-default">
  <div class="panel-heading">
    Identity Verification
  </div>
  <div class="panel-body form-horizontal row-border">

    <div class="checkmark-circle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M22 11.07V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="23 3 12 14 9 11"></polyline>
      </svg>
    </div>

    <h3>Your portion of the application process is complete.</h3>
    <p>Once all parties have submitted their required documents and signatures a final confirmation will be sent to your email address.</p>
  </div>

</div>