<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/dependencies.js" type="text/javascript"></script>
    <script src="/assets/application.js" type="text/javascript"></script>
    <link rel="apple-touch-icon" href="/images/touchicon.png">
    <link rel="icon" href="/images/favicon.png">
    <meta name="msapplication-TileColor" content="#292c36">
    <meta name="msapplication-TileImage" content="/images/tileicon.png">
    <!--
    Used by AngularJS `$locationProvider`.
    Must match the path of this page, or IE9 will redirect.
    -->
    <base href="/rtt/stakeholder_complete_and_sign.html">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/assets/dependencies.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/application.css" media="all" rel="stylesheet" type="text/css">
    <style type="text/css">
      #forms-frame{
        width: 1000px;
        max-width:100%;
        min-height:600px;
        display:block;
        margin: 0 auto;
      }
      .full-width{
        max-width: none !important;
      }
    </style>
  </head>
  <body id="quote-path"
    class="agentless-quoter"
    ng-app="insureioNg">

    <div class="section-container"
      ng-controller="MotoristsStakeholderPathCtrl">
      <div class="section-content">

        <div class="progress-wrapper grid-cell text-center">
          <uib-progress class="rail inactive">
            <uib-bar ng-repeat="section in sections track by $index"
              value="0"></uib-bar>
          </uib-progress>

          <uib-progress class="rail active">
            <div class="knob"
              style="left:{{(activeSectionIndex+1)/sections.length}}%;"></div>
            <uib-bar ng-repeat="bar in sections track by $index"
              value="0"
              ng-model="sections[$index].value"></uib-bar>
          </uib-progress>

          <uib-progress class="rail labels">
            <uib-bar ng-repeat="section in sections"
              value="section.length"></uib-bar>
          </uib-progress>
          <p class="labels">
            <span>{{sections[activeSectionIndex].name}}</span>
          </p>
        </div>

        <div class="bulletin-container">
          <div ng-class="lastOpenBulletin ? '' : 'unopaque'" class="{{lastOpenBulletin.klass}} alert alert-dismissible" ng-cloak>
            <button type="button" class="close" ng-click="lastOpenBulletin.remove()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="{{lastOpenBulletin.icon}}"></i>
            <span>{{lastOpenBulletin.text}}</span>
          </div>
        </div>

        <!-- AGENT SUMMARY -->
        <div class="agent-summary panel panel-default">
          <div class="panel-body grid grid--align-center grid--center">
            <div class="grid-cell grid--shrink">
              <img ng-src="{{agentSummary.thumb}}">
            </div>
            <div class="grid-cell">
              <p><strong>Welcome to the Motorists Real Time Term Life Insurance Process</strong></p>
              <p>A life insurance applicant has listed you as the owner and/or payor for their new policy. In order for the applicant's information to be processed, you will need to provide the requested information, review, and submit the application for them. Please follow the on-screen directions to access the policy and submit the required information.</p>
              <p style="margin:0;">
                <strong class="capitalize" ng-bind="agentSummary.name"></strong>
                <br>
                <span ng-if="agentSummary.brand_name && agentSummary.brand_name!=agentSummary.name">
                  {{agentSummary.brand_name}}
                </span>
                <br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="mailto:{{agentSummary.email.value}}"
                  ng-bind="agentSummary.email.value"></a>
                <br>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{agentSummary.phone | drFormatPhone}}"
                  ng-bind="agentSummary.phone | drFormatPhone">
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- // AGENT SUMMARY -->

        <!-- QUOTE PATH -->
        <div class="quotes panel-container quote-path"
          ng-class="sections[activeSectionIndex].name.toLowerCase()">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span ng-bind="sections[activeSectionIndex].name"></span>
            </div>
            <div class="panel-body grid grid--column grid--center">
              <!-- QUOTE PATH SECTIONS -->
              <div class="grid-cell"
                ng-class="sections[activeSectionIndex].name=='Verify Accuracy And eSign' ? 'full-width' : ''"
                ng-include="'/rtt/'+sections[activeSectionIndex].url"></div>
              <!-- // QUOTE PATH SECTIONS -->
            </div>
          </div>
        </div>
        <!-- // QUOTE PATH -->

        <!-- LICENSE / DISCLAIMER -->
        <div class="license-disclaimer"
          ng-show="agentSummary.name">
          {{agentSummary.license_disclaimer}}
          <br><br>
          <a href="https://seal.godaddy.com/verifySeal?sealID=MMW8rkuDdtxJ5JF25HaDgUXOUxh1uGoWIxUWqXjryCxov8uIoDX" target="_blank">
            <img src="//seal.godaddy.com/images/3/en/siteseal_gd_3_h_l_m.gif"
              title="Verification Logo"
              border="none">
          </a>
        </div>
        <!-- // LICENSE / DISCLAIMER -->

      </div>
    </div>
  </body>
</html>