
<p>
  Please verify your identity by providing two or more of the following.
</p>

<div class="form-inline form-group">
  <label for="phone">
    Phone
  </label>
  <div>
    <input class="form-control" type="tel"
        ng-model="person.phone"
        id="phone" 
        name="phone"
        pattern="{{PHONE_VALIDATION_PATTERN}}"
        placeholder="(___)___-____"
        maxlength="17"
        required />
  </div>
</div>
<div class="form-inline form-group">
  <label for="zip">
    Zip
  </label>
  <div>
    <input class="form-control"
      type="text"
      id="zip"
      name="zip"
      ng-model="person.zip"
      pattern="^\d{5}$"
      placeholder="XXXXX" 
      maxlength="5"
      inputmode="numeric"
      required>
  </div>
</div>
<div class="form-inline form-group">
  <label for="dob">
    Date of Birth
  </label>
  <div>
    <dr-datetime-picker model="person.birth"
      date-only="true">
    </dr-datetime-picker>
  </div>
</div>

<a class="btn btn-motorist pull-right"
  ng-disabled="( (person.phone ? 1 : 0)+(person.zip ? 1 : 0)+(person.birth ? 1 : 0) )<2"
  ng-click="( (person.phone ? 1 : 0)+(person.zip ? 1 : 0)+(person.birth ? 1 : 0) )>=2 && sharedFuncts.verifyIdentity()">
  Continue
</a>
