<div class="rail-wrapper">
  <uib-progress class="rail inactive">
    <uib-bar ng-repeat="section in progressSections"
      value="getMaxProgressValue()"></uib-bar>
  </uib-progress>

  <uib-progress class="rail active">
    <div class="knob"
      style="left:{{getTotalProgress()}}%;"></div>
    <uib-bar ng-repeat="bar in progressSections"
      value="getStackedBarValueByIndex($index)"
      ng-model="progressSections[$index].value"></uib-bar>
  </uib-progress>

  <uib-progress class="rail labels">
    <uib-bar ng-repeat="section in progressSections"
      value="getMaxProgressValue()"></uib-bar>
  </uib-progress>
  <p class="labels"
    ng-if="labelText">
    <span>{{labelText}}</span>
  </p>
</div>