<div style="max-width:900px;font-size:18px;">
  <h1>Terms and Conditions</h1>
  <p>I hereby authorize Motorists Life (the "Carrier") and the Motorists Real-Time Term application powered by Insureio (the "Authorized Party") to affix or append a facsimile of my signature to any and all required signature fields on all forms, agreements, or other documents provided by the Carrier or the Authorized Party which I have authorized for submission for the purpose of completing applications for products of insurance offered through the Motorists Real-Time Term application.</p>

  <p>I affirm that I am legally licensed to sell insurance, and that I have submitted accurate information as respects my client for the purpose of procuring life insurance. If necessary, the Carrier Party shall be permitted to complete and submit all such forms and agreements on my behalf for the purpose of becoming authorized to sell Carrier insurance products.</p>

  <p>I hereby release, indemnify, and hold harmless the Carrier and Authorized Party from and against any and all claims, demands, losses, damages, and causes of action, including expenses, costs and reasonable attorneys' fees which they may sustain or incur as a result of their reliance on any form or agreement bearing my signature pursuant to this authorization.</p>
</div>