<style>
  #marketing-campaigns .ui-select-container,
  #marketing-campaigns .ui-select-container,
  #marketing-campaigns .ui-select-search,
  #marketing-campaigns .ui-select-match,
  #marketing-campaigns .ui-select-bootstrap,
  #marketing-campaigns .ui-select-toggle {
    display: inline-block;
    width: 100%;
    max-width: 300px;
  }
</style>
<div id="marketing-campaigns"
  ng-controller="SequencesCtrl">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-bullhorn"></i> Marketing</h3>
      <h2>Marketing Campaigns</h2>
    </div>
    <div class="right">
      <div class="actions">
        <a class="btn btn-primary"
          ng-click="toggleNewCampaignForm()">
          New Campaign
        </a>
      </div>
    </div>
  </div>

  <div class="section-container">

    <!-- Filters Sidebar -->
    <div class="section-nav">
      <h4>Search by Name</h4>
      <div class="form-group">
        <div class="input-group">
          <input ng-model="sequencesCtrlVars.name"
            class="form-control" type="text">
          <span class="input-group-btn">
            <a class="btn btn-primary"
              title="Search"
              ng-click="getSequences(true)">
              <i class="fa fa-search"></i>
            </a>
          </span>
        </div>
      </div>
      <h4>Filters</h4>
      <div class="form-group">
        <label>Planning Need</label>
        <select ng-model="sequencesCtrlVars.planning_category_id"
          ng-options="o.id as o.name for o in PLANNING_CATS"
          class="form-control">
        </select>
      </div>
      <div class="form-group">
        <label>Product Category</label>
        <select ng-model="sequencesCtrlVars.product_category_id"
          ng-options="o.id as o.name for o in PRODUCT_CATS"
          class="form-control">
        </select>
      </div>
      <div class="form-group">
        <a class="btn btn-primary btn-block"
          title="Apply Filters"
          ng-click="getSequences(true)">
          Apply Filters
        </a>
      </div>
    </div>
    <!-- // End Filters Sidebar -->

    <!-- Marketing Campaigns Table -->
    <div class="section-content">
      <table class="table table-hover table-link table-sortable">

        <!-- Marketing Campaigns Index/List -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Planning Category</th>
            <th>Product Category</th>
            <th class="text-center">Access</th>
            <th>Owner</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="sequence in sequences | orderBy : 'name'"
          ng-controller="Sequence.TaskBuildersCtrl"
          ng-class="isToggled(sequence) && 'toggled'">
          <tr ng-hide="isToggled(sequence, '_edit')"
            uib-tooltip='{{"Campaign "+sequence.id}}'>
            <td ng-click="toggleTaskBuilders()">
              {{sequence.name}}
            </td>
            <td ng-click="toggleTaskBuilders()">
              {{sequence.planning_category_id | enumValue : 'PLANNING_CATS'}}
            </td>
            <td ng-click="toggleTaskBuilders()">
              {{sequence.product_category_id | enumValue : 'PRODUCT_CATS'}}
            </td>
            <td class="text-center"
              ng-click="toggleTaskBuilders()">
              <i class="{{(sequence.ownership_id | enumValue : 'OWNERSHIPS' : 'icon_class') || 'fa fa-globe'}}"
                uib-tooltip="{{(sequence.ownership_id | enumValue : 'OWNERSHIPS' : 'value') || 'Global'}}"></i>
            </td>
            <td ng-click="toggleTaskBuilders()">
              <a ng-if="sequence.owner_id"
                ng-href="/users/{{sequence.owner_id}}">
                {{sequence.owner_name}}
                <i class="fa fa-external-link"></i>
              </a>
            </td>
            <td>
              <div class="dropdown btn-group pull-right" uib-dropdown>
                <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                  <li>
                    <a ng-click="toggle(sequence, '_edit', true)">
                      Modify
                    </a>
                  </li>
                  <li>
                    <a ng-click="openEnrollConsumerModal(sequence)">
                      Bulk Enroll
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="destroySequence(sequence,$index)"
                      style="color:red;">
                      Remove
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr class="sequence-edit"
            ng-show="isToggled(sequence, '_edit')"
            title='{{"Campaign "+sequence.id}}'>
            <td>
              <input class="form-control" type="text"
                ng-model="sequence.name">
            </td>
            <td>
              <select class="form-control"
                ng-model="sequence.planning_category_id"
                ng-options="o.id as o.name for o in PLANNING_CATS"></select>
            </td>
            <td>
              <select class="form-control"
                ng-model="sequence.product_category_id"
                ng-options="o.id as o.name for o in PRODUCT_CATS"></select>
            </td>
            <td>
              <div ng-if="!can('super_edit')" class="lighter">
                <i class="{{(sequence.ownership_id | enumValue : 'OWNERSHIPS' : 'icon_class') || 'fa fa-globe'}}"
                  uib-tooltip="{{(sequence.ownership_id | enumValue : 'OWNERSHIPS') || 'Global'}}"></i>
              </div>
              <select class="form-control"
                ng-if="can('super_edit')"
                ng-model="sequence.ownership_id"
                ng-options="obj.id as obj.value for obj in OWNERSHIPS"></select>
            </td>
            <td>
              <div ng-if="!can('super_edit')">
                <a ng-if="sequence.owner_id"
                  ng-href="/users/{{sequence.owner_id}}">
                  {{sequence.owner_name}}
                  <i class="fa fa-external-link"></i>
                </a>
              </div>
              <ui-select theme="bootstrap"
                ng-if="can('super_edit')"
                ng-model="sequence.$owner"
                on-select="sequence.owner_id=$select.selected.person_id"
                on-remove="sequence.owner_id=currentUser.id;"
                append-to-body="true"
                style="display:inline-block;vertical-align:middle;">
                <ui-select-match data-placeholder="{{sequence.owner_name ? sequence.owner_name : '(autocomplete)'}}"
                  allow-clear="true">
                  <span ng-bind="$select.selected.full_name"></span>
                  <span class="label label-default"
                    ng-bind="$select.selected.id.toString(36).toUpperCase()"></span>
                </ui-select-match>
                <ui-select-choices refresh="searchUsers($select.search)"
                  refresh-delay="100"
                  repeat="u in usersForSearch">
                  <span ng-bind="u.full_name"></span>
                  <span class="label label-default"
                    ng-bind="u.id.toString(36).toUpperCase()"></span>
                </ui-select-choices>
              </ui-select>
            </td>
            <td>
              <a class="btn btn-danger pull-right"
                ng-click="toggle(sequence, '_edit', false)">
                <i class="fa fa-remove"></i>
              </a>
              <a class="btn btn-default pull-right"
                ng-click="saveSequence(sequence)">
                <i class="fa fa-check"></i>
              </a>
            </td>
          </tr>


          <tr id="task-builder-view"
            ng-show="isToggled(sequence)">
            <td colspan="6" style="padding:0;">
              <table class="sequence-rules-edit table table-hover table-link table-sortable"
                style="margin-bottom:0;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Role</th>
                    <th class="text-center">Delay</th>
                    <th class="text-center">Evergreen</th>
                    <th>Type</th>
                    <th>Template</th>
                    <th class="text-center">Skip Weekend & Holiday Sending</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody ng-repeat="builder in taskBuilders"
                  ng-include="'/sequences/task_builder.html'"
                  uib-tooltip="TaskBuilder {{builder.id}}">
                </tbody>
                <tbody ng-repeat="builder in [newBuilder]"
                  ng-include="'/sequences/task_builder.html'"
                  title="New TaskBuilder">
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="9"
                      ng-disabled="isToggled(newBuilder, '_edit')">
                      <a ng-click="toggle(newBuilder, '_edit', true)"
                        class="btn btn-primary">
                        New Campaign Task
                      </a>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isToggled(newSequence)">
          <tr>
            <td>
              <input class="form-control" type="text"
                placeholder="Enter Campaign Name"
                ng-model="newSequence.name">
            </td>
            <td>
              <select class="form-control"
                ng-model="newSequence.planning_category_id"
                ng-options="o.id as o.name for o in PLANNING_CATS"></select>
            </td>
            <td>
              <select class="form-control"
                ng-model="newSequence.product_category_id"
                ng-options="o.id as o.name for o in PRODUCT_CATS"></select>
            </td>
            <td>
              <div ng-if="!currentUser.can('super_edit')">
                <i class="{{(sequence.ownership_id | enumValue : 'OWNERSHIPS' : 'icon') || 'fa fa-globe'}}"
                  uib-tooltip="{{(sequence.ownership_id | enumValue : 'OWNERSHIPS') || 'Global'}}"></i>
              </div>
              <select class="form-control"
                ng-model="newSequence.ownership_id"
                ng-options="obj.id as obj.value for obj in OWNERSHIPS"></select>
            </td>
            <td>
              <div ng-if="!currentUser.can('super_edit')">
                <a ng-if="sequence.owner_id"
                  ng-href="/users/{{sequence.owner_id}}">
                  <span ng-bind="sequence.owner_name"></span>
                  <i class="fa fa-external-link"></i>
                </a>
              </div>
              <ui-select theme="bootstrap"
                ng-if="currentUser.can('super_edit')"
                ng-model="newSequence.$owner"
                on-select="newSequence.owner_id=$select.selected.person_id"
                on-remove="newSequence.owner_id=currentUser.id;"
                append-to-body="true"
                style="display:inline-block;vertical-align:middle;">
                <ui-select-match data-placeholder="(autocomplete)"
                  allow-clear="true">
                  <span ng-bind="$select.selected.full_name"></span>
                  <span class="label label-default"
                    ng-bind="$select.selected.id.toString(36).toUpperCase()"></span>
                </ui-select-match>
                <ui-select-choices class="text-left"
                  refresh="searchUsers($select.search)"
                  refresh-delay="100"
                  repeat="u in usersForSearch">
                  <span ng-bind="u.full_name"></span>
                  <span class="label label-default"
                    ng-bind="u.id.toString(36).toUpperCase()"></span>
                </ui-select-choices>
              </ui-select>
            </td>
            <td>
              <a class="btn btn-danger pull-right"
                ng-click="toggle(newSequence, false)">
                <i class="fa fa-remove"></i>
              </a>
              <a class="btn btn-default pull-right"
                ng-click="saveSequence(newSequence)">
                <i class="fa fa-check"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <dr-pagination-links
                data-options="sequencesCtrlVars"
                ng-if="!sequencesCtrlVars.templatesLoading && sequencesCtrlVars.pageCt>1">
              </dr-pagination-links>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- // End Marketing Campaigns Table -->

  </div><!-- // End Section Container -->
</div>