<tr ng-show="!isToggled(builder, '_edit') && builder.id">
  <td>{{builder.label}}</td>
  <td>{{builder.assigned_to_name}}</td>
  <td>{{builder.role_id | enumValue : 'ROLES'}}</td>
  <td class="text-center">
    {{builder.delay}}
  </td>
  <td class="text-center">
    <i class="fa" 
      ng-class="builder.evergreen ? 'fa-check-square-o' : 'fa-square-o'"></i>
  </td>
  <td>{{builder.task_type_id | enumValue : 'TASK_TYPES'}}</td>
  <td>
    <a ng-if="builder.template_id" 
      ng-href="/marketing/templates/{{builder.template_id}}" 
      target="_blank">
      {{builder.template_name}} 
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
  </td>
  <td class="text-center">
    <i class="fa"
      ng-class="builder.skip_holidays_and_weekends ? 'fa-check-square-o' : 'fa-square-o'"></i>
  </td>
  <td>
    <div class="btn-group pull-right" uib-dropdown
      ng-if="ownerType!='Crm::StatusType' ||
      can('super_edit') ||
      scopeVars.activeStatusType.owner_id==currentUser.id ||
      editableIds.indexOf(scopeVars.activeStatusType.owner_id)>-1">
      <button type="button"
        class="btn btn-default dropdown-toggle"
        uib-dropdown-toggle>
        <i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
        <li>
          <a ng-click="toggle(builder, '_edit', true)">
            Modify
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a ng-click="destroyBuilder(builder)"
            style="color:red;">
            Remove
          </a>
        </li>
      </ul>
    </div>
  </td>
</tr>

<tr class="sequence-rules-builder-edit"
  ng-show="isToggled(builder, '_edit')">
  <td>
    <input class="form-control" type="text"
      ng-model="builder.label">
  </td>
  <td>
    <ui-select theme="bootstrap"
      ng-model="builder._assigned_to"
      on-select="builder.assigned_to_id=($item.person_id||$item.id);builder.assigned_to_name=$item.full_name"
      on-remove="builder.assigned_to_id=null;builder.assigned_to_name=null">
      <ui-select-match data-placeholder="(autocomplete)"
        allow-clear="true">
        <span ng-bind="$select.selected.full_name"></span>
        <span class="label label-default"
          ng-bind="$select.selected.id.toString(36).toUpperCase()"></span>
      </ui-select-match>
      <ui-select-choices class="text-left"
        refresh="searchUsers($select.search,{exclude_recruits:true})"
        refresh-delay="100"
        repeat="contact in usersForSearch">
        <span ng-bind="contact.full_name"></span>
        <span class="label label-default"
          ng-bind="contact.id.toString(36).toUpperCase()"></span>
      </ui-select-choices>
    </ui-select>
  </td>
  <td>
    <select class="form-control"
      ng-model="builder.role_id"
      ng-options="o.id as o.name for o in ASSIGNABLE_ROLES"></select>
  </td>
  <td class="text-center">
    <input class="form-control" type="text"
      ng-model="builder.delay">
  </td>
  <td class="text-center">
    <input type="checkbox"
      ng-model="builder.evergreen">
  </td>
  <td>
    <select class="form-control"
      ng-model="builder.task_type_id"
      ng-options="o.id as o.name for o in (TASK_TYPES | whereKeyMatchesValue : 'created_by_system_only' : false) "></select>
  </td>
  <td>
    <ui-select theme="bootstrap"
      ng-model="builder._template"
      on-select="builder.template_id=$item.id"
      on-remove="builder.template_id=null">
      <ui-select-match data-placeholder="(autocomplete)"
        allow-clear="true">
        <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices class="text-left"
        refresh="$select.search && getTemplateOptions({name:$select.search, task_type_id:builder.task_type_id})"
        refresh-delay="100"
        repeat="template in templateOptions">
        <span ng-bind="template.name"></span>
        <span class="label label-default"
          ng-bind="template.id.toUpperCase()"></span>
      </ui-select-choices>
    </ui-select>
  </td>
  <td class="text-center">
    <input type="checkbox"
      ng-model="builder.skip_holidays_and_weekends">
  </td>
  <td>
    <a class="btn btn-danger pull-right"
      ng-click="fetchTaskBuilders(); toggle(builder, '_edit', false)">
      <i class="fa fa-remove"></i>
    </a>
    <a class="btn btn-default pull-right"
      ng-click="saveBuilder(builder)">
      <i class="fa fa-check"></i>
    </a>
  </td>
</tr>