\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{38px}
  \hspace{83px}
  <%= textfield @cons.full_name, name:"individuals_name", borderwidth:"0", width:"26em" %>

  \vspace{-12px}
  \hspace{418px}
  <%= textfield @cons.birth_or_trust_date, name:"individuals_dob", borderwidth:"0", width:"13em" %>

  \vspace{4px}
  \hspace{50px}
  <%= textfield @cons.primary_address&.street, name:"individuals_address", borderwidth:"0", width:"29em", maxlen:52 %>

  \vspace{-11px}
  \hspace{427px}
  <%= textfield @cons.phones[0]&.to_s(omit_type: true), name:"individuals_phone", borderwidth:"0", width:"12em" %>

  \vspace{4px}
  \hspace{35px}
  <%= textfield @cons.primary_address&.city, name:"individuals_city", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{253px}
  <%= textfield @cons.primary_address&.state&.abbrev, name:"individuals_state", borderwidth:"0", width:"3em", maxlen:"2" %>

  \vspace{-12px}
  \hspace{305px}
  <%= textfield @cons.primary_address&.zip, name:"individuals_zip", borderwidth:"0", width:"4em" %>

  \vspace{5px}
  \hspace{225px}
  <%= textfield nil, name:"authorized_persons", borderwidth:"0", width:"33em", multiline:true %>

  \vspace{142px}
  \hspace{16px}
  <%= checkbox nil, name:"check1", width:"7px", height:"7px" %>

  \vspace{30px}
  \hspace{25px}
  <%= checkbox true, name:"check2", width:"7px", height:"7px" %>

  \vspace{59px}
  \hspace{25px}
  <%= checkbox nil, name:"check3", width:"7px", height:"7px" %>

  \vspace{163px}
  \hspace{20px}
  <%= textfield nil, name:"individuals_signature", borderwidth:"0", width:"24em" %>

  \vspace{-12px}
  \hspace{325px}
  <%= textfield nil, name:"individuals_signature_date", borderwidth:"0", width:"22em" %>

  \vspace{37px}
  \hspace{175px}
  <%= textfield nil, name:"individuals_representative", borderwidth:"0", width:"37em" %>

  \vspace{9px}
  \hspace{125px}
  <%= textfield nil, name:"individuals_representative_relationship", borderwidth:"0", width:"42em" %>
\end{Form}
