<!DOCTYPE html>
<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <%#= stylesheet_link_tag    "application", :media => "all", :debug => false %>
  </head>
  <body style="background:white;margin:0;">
    <div class="" id="main-container" style="background:white;margin:0;">
      <div id="inter-mediate-container">
        <% qdf=@case.current_details %>
        Product Type: <%= qdf.product_type.try(:name) %>

        <h2>Policy Summary:</h2>
        <table id="policy-summary-table">
          <thead>
          <tr>
            <th>Company:</th>
            <th>Product:</th>
            <th>Modal:</th>
            <th>Annualized:</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= qdf.carrier&.compulife_code %>
                <%= qdf.carrier_id %>
                <%= qdf.carrier_name %>
              </td>
              <td>
                <%= qdf.plan_name %>
              </td>
              <td>
                $<%= qdf.modal_premium %><br/>
                <%= qdf.premium_mode.try(:name) %>
              </td>
              <td>
                $<%= qdf.annualized_premium %>
              </td>
            </tr>
          </tbody>
        </table>

        <h2>Online Application</h2>
        <p class='application-note'>* denotes a required field</p>

        <div>
          <div>
            Insured Information
          </div>
          <div>
            Insureio Consumer ID:<%= @consumer.id %>
            <div class="row-fluid">
              <div class="col-md-4">Full Name: *</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.full_name %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Suffix:</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.suffix %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Birth Country: *</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.birth_country.try(:name) %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Birth State:</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.birth_state.try(:name) %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Gender: *</div>
              <% unless @consumer.gender.nil? %>
              <%= @consumer.gender ? 'Male' : 'Female' %>
              <% end %>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Driver's License: *</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.dln %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Driver's License State: *</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.dl_state.try(:name) %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">SSN: *</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.ssn %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Residency Status:</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.citizenship.try(:name) %>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <div>
            Contact Information
          </div>
          <div>
              <div class="row-fluid">
                <div class="col-md-4">Primary Address: *</div>
                <div class="col-md-6" style="margin-left:0;">
                  <%=@consumer.primary_address.to_s %>
                </div>
              </div>
              <div class="row-fluid">
                <div class="col-md-4">Home Phone: *</div>
                <div class="col-md-6" style="margin-left:0;">
                  <%=@consumer.phones.select{|p| p.phone_type_id==Enum::PhoneType.id('home') }.first.to_s %>
                </div>
              </div>
              <div class="row-fluid">
                <div class="col-md-4">Work Phone:</div>
                <div class="col-md-6" style="margin-left:0;">
                  <%=@consumer.phones.select{|p| p.phone_type_id==Enum::PhoneType.id('work') }.first.to_s%>
                </div>
              </div>
              <div class="row-fluid">
                <div class="col-md-4">Cell Phone:</div>
                <div class="col-md-6" style="margin-left:0;">
                  <%=@consumer.phones.select{|p| p.phone_type_id==Enum::PhoneType.id('mobile') }.first.to_s%>
                </div>
              </div>
              <div class="row-fluid">
                <div class="col-md-4">Fax:</div>
                <div class="col-md-6" style="margin-left:0;">
                  <%=@consumer.phones.select{|p| p.phone_type_id==Enum::PhoneType.id('fax') }.first.to_s%>
                </div>
              </div>
              <div class="row-fluid">
                <div class="col-md-4">Best Time to Contact: *</div>
                <div class="col-md-6" style="margin-left:0;">
                  <%=@consumer.preferred_contact_time %>
                </div>
              </div>
              <div class="row-fluid">
                <div class="col-md-4">Best Method of Contact: *</div>
                <div class="col-md-6" style="margin-left:0;">
                  <%=@consumer.preferred_contact_method.try(:name) %>
                </div>
              </div>
              <div class="row-fluid">
                <div class="col-md-4">Email Address:</div>
                <div class="col-md-6" style="margin-left:0;">
                  <%=@consumer.primary_email.to_s%>
                </div>
              </div>
          </div>
        </div>
        <hr>
        <div>
          <div>
            Other Information
          </div>
          <div>
            <div class="row-fluid">
              <div class="col-md-4">Reason for Insurance:</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@case.reason %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Employer:</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.company %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Occupation:</div>
              <div class="col-md-6" style="margin-left:0;">
                <%=@consumer.occupation %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Annual Income: *</div>
              <div class="col-md-6" style="margin-left:0;">
                $<%=@consumer.financial_info.income_total %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Net Worth:</div>
              <div class="col-md-6">
                Specified Net Worth: $<%=@consumer.financial_info.net_worth_specified%><br>
                Calculated Net Worth: $<%=@consumer.financial_info.net_worth_calculated%><br>
                Use Specified: <%=@consumer.financial_info.net_worth_use_specified ? 'Yes' : 'No' %>
              </div>
            </div>

            Do you want coverage, if available, during underwriting?<br/><br/>
            <%unless @case.bind.nil? %>
            <%= @case.bind ? 'Yes' : 'No' %>
            <% end %>
          </div>
        </div>
        <hr>
        <div>
          <div>
            Existing Coverage
          </div>
          <div>    
            <p class="application-note">Do you have any existing insurance policy(ies)?</p>
            <div id='_existing-coverage' class="<= %@consumer.cases.effective_or_terminated.present? ? nil : 'hide')%>">
              <div id='existing-coverage-container'>
                <% @consumer.cases.effective_or_terminated.each do |ec| %>
                <div class='case-fields indent gray-box' style="display:block; background:transparent;">
                  <h4 class="application-bene-header">Policy #<%= ec.id %></h4>
                  Carrier: <%=ec.current_details.carrier_name%><br>
                  Effective date: <%= ec.effective_date %><br>
                  Termination date: <%= ec.termination_date %><br>
                  Coverage amount: <%= ec.current_details.face_amount %><br>
                  Policy number: <%= ec.policy_number %><br>
                  Product type: <%= ec.current_details.product_type.try(:name)%><br>
                  Replacing? <%= ec.replaced_by_id ? 'Yes' : 'No' %><br>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <div>
            Beneficiaries / Owner
          </div>
          <div>
            <div>
              <span>(at least one primary beneficiary is required)</span>

              <% @case.stakeholder_relationships.each do |sd| %>
                Name: <%=sd.stakeholder.name%><br>
                Role(s):
                  <%=sd.is_beneficiary ? "#{sd.primary ? 'Primary' : 'Contingent'} Beneficiary" : ''%>
                  <%=sd.is_owner ? 'Owner' : ''%>
                  <%=sd.is_payer ? 'Payor' : ''%><br>
                Entity Type:<%=sd.stakeholder.entity_type.name%><br>
                Gender:<%=sd.stakeholder.gender_string%><br>
                Birth/Trust/Incorporated Date:<%=sd.stakeholder.birth%><br>
                Relationship: <%=sd.relationship_type.name%><br>
                SSN/Tax ID: <%=sd.stakeholder.ssn%><br>
                Percent: <%=sd.percentage%><br>
                Trustee Name: <%=sd.stakeholder.trustee_name%><br>
                Primary Phone: <%=sd.stakeholder.primary_phone.to_s%><br>
                Primary Email: <%=sd.stakeholder.primary_email.to_s%><br>
                Primary Address: <%=sd.stakeholder.primary_address.to_s%><br>
                Also Applying For Insurance: <%=sd.stakeholder.has_opps_or_policies ? 'Yes' : 'No'%>
                <hr>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <div>
            Business Insurance
          </div>
          <div>
              <span class="toggle_question">Is insurance for business?</span>
              <% unless @case.business_insurance.nil? %>
              <%= @case.business_insurance ? 'Yes' : 'No' %>
              <% end %>
              <br/><br/>
              <div id='_business_insurance' class="hide">
                <span class="toggle_question">Purpose of Insurance:</span>
                <%= @case.purpose.try(:name) %>
              </div>
          </div>
        </div>
        <hr>
        <div>
          <div>
            Illustration Information
          </div>
          <div>
            <span class="toggle_question">Were you provided an illustration?</span>
            <%= @case.illustration_file.present? ? 'Yes' : 'No' %><br/>
          </div>
        </div>
        <hr>
        <div>
          <div>
            Agent Information
          </div>
          <div>
            <div class="row-fluid">
              <div class="col-md-4">Relation to insured:</div>
              <div class="col-md-6" style="margin-left:0;">
                <%= @consumer.relationship_to_agent %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-4">Number of years known:</div>
              <div class="col-md-6" style="margin-left:0;">
                <%= @consumer.years_of_agent_relationship %>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <div>
            Comments and Remarks
          </div>
          <div>
            <textarea>
              <% if @case.notes.last.try(:created_at) && @case.notes.last.try(:created_at)==@case.updated_at %>
              <%= @case.notes.last %>
              <% end %>
              </textarea>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </body>
</html>