<!DOCTYPE html>
<!-- 
    Compare Quotes Email
    Built by: Matt Lockhart
    Updated: 8/6/2020
-->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Personalized Quotes by Insureio</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://pinneyinsurance.com/emails/images/favicon.ico">
    <style type="text/css">
      a[x-apple-data-detectors] {
              color: inherit !important;
              text-decoration: none !important;
              font-size: inherit !important;
              font-family: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
          }
          /* FONT SIZE Helpers */
          /* Text Alignment Helpers */
          /*Text Colors*/
          /* PADDING Helpers */
          /* WIDTH Helpers */
          .ExternalClass {
              width: 100%;
          }
          .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
              line-height: 100%;
          }
          @media only screen and (max-width: 480px){
              /* PADDING Helpers */
              .pad-right-20,.pad-right-30,.pad-right-40,.pad-right-50,.pad-right-60,.pad-right-70,.pad-right-80,.pad-right-90,.pad-right-100 { padding-right: 10px; }
              .pad-left-20,.pad-left-30,.pad-left-40,.pad-left-50,.pad-left-60,.pad-left-70,.pad-left-80,.pad-left-90,.pad-left-100 { padding-left: 10px; }
              .image{
                  height:auto !important;
                  max-width:600px !important;
                  width: 100% !important;
              }
              td[class='logo'] {
                  background-image: url('https://www.pinneyinsurance.com/emails/images/pinney-logo.png') !important;
                  background-size: content;
                  background-repeat: no-repeat !important;
                  background-position: center !important;
                  padding: 20px;
              }
              body {
                  width: 100% !important;
                  min-width: 100% !important;
              }
              table[id='emailBody'], table[class='flexibleContainer'] {
                  width: 100% !important;
              }
              a[class='cta'] {
                  padding: 15px 20px; !important;
              }
              span[class='tap']:after {
                  content:"TAP";
              }
              span[class='click'] {
                  display: none !important;
                  max-height: 0 !important;
              }
          }
    </style>
  </head>
  <body style="padding:0;margin:0;background-color:#f6f6f6;color:#555555;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
    <p style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;"/>
      <link rel="icon" type="image/png" href="https://pinneyinsurance.com/emails/images/favicon.png"/>
      <!--[if mso]>
        <style type="text/css">
          .body {
                font-family: sans-serif !important !important !important;
              }
        </style>
      <![endif]-->
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </p>
    <!--[if mso]>
      <style type="text/css">
        body, table, td {font-family: Arial, Helvetica, sans-serif !important;}
      </style>
    <![endif]-->
    <center>
      <table border="0" cellspacing="0" cellpadding="0" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
        <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
          <td class="Preheader" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;text-align:center;font-size:1px;color:#f6f6f6;">Here are the life insurance quotes we spoke about today. &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;</td>
        </tr>
      </table>
      <table class="body" border="0" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;font-family:'Open Sans', sans-serif;font-weight:300;">
        <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
          <td width="600" max-width="600" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
            <!--[if gte mso 9]>
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" >
                <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
                  <td align="center" valign="top" width="600" style="width:600px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" >
            <![endif]-->
            <table class="main" border="0" cellspacing="0" cellpadding="0" max-width="600" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;max-width:600px;background-color:#ffffff;margin:0 auto;">
              <tr align="center" bgcolor="#f6f6f6" style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                <td style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                  <table class="logo" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;margin:0 auto;background-color:#f6f6f6;text-align:center;">
                    <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                      <td align="center" class="pad-top-30 pad-bottom-30 image" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-top:30px;padding-bottom:30px;display:block;border:0px;outline:none;width:100%;height:auto;max-width:600px;">
                        <%= raw @brand.header_small %>
                                    </td>
                    </tr>
                  </table>
                  <table class="featured-story shadow-border border-top-blue" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="600" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;text-align:left;text-align:center;border:2px solid #f1f1f1;border-top:5px solid #2b74a7;">
                    <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                      <td class="pad-top-30 pad-bottom-60 pad-right-50 pad-left-50" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-top:30px;padding-right:50px;padding-left:50px;padding-bottom:60px;">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                          <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                            <td align="left" class="title h3 text-black" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size:31px;line-height:49px;color:#555555;font-family:'Open Sans', sans-serif;font-weight:bold;">
                              Hello <%= @recipient.first_name %>,
                                                </td>
                          </tr>
                          <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                            <td align="left" class="p text-black pad-top-20 pad-bottom-20" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;color:#555555;padding-top:20px;padding-bottom:20px;font-size:16px !important;line-height:28px !important;">
                              Thank you for taking the time to talk to me today. Below, you’ll find the coverage details and options we discussed. If you’d like to change any of the coverage details, click the link below to generate new quote results.
                                                </td>
                          </tr>
                          <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                            <td align="left" class="p text-black pad-top-20 pad-bottom-20" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;color:#555555;padding-top:20px;padding-bottom:20px;font-size:16px !important;line-height:28px !important;">
                              Ready to apply for one of these options? Please contact me and we'll get started!
                                                </td>
                          </tr>
                          <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                            <td align="left" class="p text-black pad-top-20 pad-bottom-20" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;color:#555555;padding-top:20px;padding-bottom:20px;font-size:16px !important;line-height:28px !important;">
                              Best regards,<br/>
                                                    <strong><%= @agent.first_name %> <%= @agent.last_name %></strong><br/>
                                                    <%= @agent.email %><br/>
                                                    <%= @agent.phone %>
                                                </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="" border="0" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6" width="600" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                    <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                      <td class="pad-top-30" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-top:30px;">
                      </td>
                    </tr>
                  </table>
                  <table class="secondary-story shadow-border" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="600" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;text-align:left;text-align:center;border:2px solid #f1f1f1;">
                    <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                      <td class=" pad-top-30 pad-bottom-60 pad-right-50 pad-left-50" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-top:30px;padding-right:50px;padding-left:50px;padding-bottom:60px;">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                          <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                            <td align="left" class="pad-bottom-20" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-bottom:20px;">
                              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                  <td width="50%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                      <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                        <td class="h5 text-primary" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size:20px;line-height:33px;color:#0D58A0;">Length</td>
                                      </tr>
                                      <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                        <td class="p sub-title" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-family:'Open Sans', sans-serif;font-weight:300;color:#7f7f7f;font-size:16px !important;line-height:28px !important;"><%= Enum::TliDurationOption.find(@quoter[:duration_id].to_i).try(:name) %></td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                      <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                        <td class="h5 text-primary" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-size:20px;line-height:33px;color:#0D58A0;">Coverage</td>
                                      </tr>
                                      <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                        <td class="p sub-title" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-family:'Open Sans', sans-serif;font-weight:300;color:#7f7f7f;font-size:16px !important;line-height:28px !important;"><%= number_to_currency @quoter[:face_amount] %></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <%  @quotes.each do |quote|
                              carrier=Carrier.find_by_id(quote[:carrier_id])
                              next unless carrier
                              logo_number=carrier.sprite_offset
                              company_name=carrier.name
                          %>
                          <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                            <td align="center" class="pad-bottom-20 pad-top-20" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-top:20px;padding-bottom:20px;border-top:2px solid #f6f6f6;">
                              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                  <td width="160" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                    <% if logo_number %>
                                      <img src="https://app.insureio.com/carrier_logos/<%= logo_number %>.png"
                                        alt="<%=company_name%>">
                                    <% else %>
                                      <div><%=company_name%></div>
                                    <% end %>
                                  </td>
                                  <td width="113" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                      <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                        <td class="p text-primary" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;color:#0D58A0;font-size:16px !important;line-height:28px !important;">Monthly</td>
                                      </tr>
                                      <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                        <td class="p sub-title" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-family:'Open Sans', sans-serif;font-weight:300;color:#7f7f7f;font-size:16px !important;line-height:28px !important;"><%= number_to_currency quote[:monthly_premium] %></td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="111" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                      <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                        <td class="p text-primary" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;color:#0D58A0;font-size:16px !important;line-height:28px !important;">Yearly</td>
                                      </tr>
                                      <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                        <td class="p sub-title" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;font-family:'Open Sans', sans-serif;font-weight:300;color:#7f7f7f;font-size:16px !important;line-height:28px !important;"><%= number_to_currency quote[:annual_premium] %></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <% end %>
                          <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                            <td align="center" class="btn" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding:30px 0;">
                              <table border="0" cellspacing="0" cellpadding="0" align="center" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                                <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                                  <td class="pad-top-20" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-top:20px;">
                                    <!--[if gte mso 9]>
                                      <table border="0" cellspacing="0" cellpadding="0" style="padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" >
                                        <tr style="padding-top:20px;padding-bottom:20px;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
                                          <td style="background-color:#1d89cf;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;" >
                                    <![endif]-->
                                    <a href="<%= @quote_url %>" class="cta" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding:15px 50px;background-color:#1d89cf;text-align:center;font-weight:500;border-radius:4px;color:#ffffff;text-decoration:none;">Requote</a>
                                    <!--[if gte mso 9]>
                                    </td>
                                  </tr>
                                </table>
                                    <![endif]-->
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                            <td align="center" class="p text-black pad-top-50" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;color:#555555;padding-top:50px;font-size:16px !important;line-height:28px !important;">
                              Quotes provided by <img src="http://insureio.com/email/images/insureio-logo-blk-540.png" style="width:80px; max-width: 80px; vertical-align: middle;" width="80">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table id="footer" border="0" cellspacing="0" cellpadding="0" width="600" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
              <tr class="footer" style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#f6f6f6;width:100%;padding:20px;font-size:14px !important;line-height:23px !important;">
                <td align="center" class="pad-top-20" style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding-top:20px;">
                  <table style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                    <tr align="center" style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                      <td style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                        <%= @agent.license_info %>
                                    </td>
                    </tr>
                    <tr align="center" style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                      <td style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                        Your personal information and privacy are protected by strict adherence to the data security measures outlined in our <%= raw privacy_policy %>.
                                    </td>
                    </tr>
                    <tr align="center" style="padding:0;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                      <td style="padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;">
                        <%= raw @agent.copyright %>
                                    </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
          </tr>
        </table>
            <![endif]-->
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>