
\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{-38px}
  \hspace{128px}
  <%= textfield @kase.policy_number, name:"policy_number", borderwidth:"0", width:"11em" %>

  \vspace{-12px}
  \hspace{353px}
  <%= textfield @cons.full_name, name:"insured_name", borderwidth:"0", width:"20em" %>

  \vspace{21px}
  \hspace{21px}
  <%= textfield @p_benes[5-1]&.full_name, name:"primary_bene_name_5", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[5-1]&.primary_address&.street, name:"primary_bene_address_5", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[5-1]&.primary_address&.city, name:"primary_bene_city_5", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[5-1]&.primary_address&.state&.abbrev, name:"primary_bene_state_5", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[5-1]&.primary_address&.zip, name:"primary_bene_zip_5", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[5-1]&.primary_phone&.value, name:"primary_bene_phone_5", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[5-1]&.primary_email&.value, name:"primary_bene_email_5", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[5-1]&.ssn, name:"primary_bene_ssn_5", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[5-1]&.gender == MALE, name:"primary_bene_male_5", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[5-1]&.gender == FEMALE, name:"primary_bene_female_5", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[5-1]&.birth_or_trust_date, name:"primary_bene_dob_5", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[5-1]&.relationship_type&.name, name:"primary_bene_relationship_to_pi_5", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[5-1]&.percentage, name:"primary_bene_percentage_5", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[6-1]&.full_name, name:"primary_bene_name_6", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[6-1]&.primary_address&.street, name:"primary_bene_address_6", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[6-1]&.primary_address&.city, name:"primary_bene_city_6", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[6-1]&.primary_address&.state&.abbrev, name:"primary_bene_state_6", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[6-1]&.primary_address&.zip, name:"primary_bene_zip_6", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[6-1]&.primary_phone&.value, name:"primary_bene_phone_6", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[6-1]&.primary_email&.value, name:"primary_bene_email_6", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[6-1]&.ssn, name:"primary_bene_ssn_6", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[6-1]&.gender == MALE, name:"primary_bene_male_6", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[6-1]&.gender == FEMALE, name:"primary_bene_female_6", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[6-1]&.birth_or_trust_date, name:"primary_bene_dob_6", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[6-1]&.relationship_type&.name, name:"primary_bene_relationship_to_pi_6", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[6-1]&.percentage, name:"primary_bene_percentage_6", borderwidth:"0", width:"9em" %>

  \vspace{19px}
  \hspace{21px}
  <%= textfield @p_benes[7-1]&.full_name, name:"primary_bene_name_7", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[7-1]&.primary_address&.street, name:"primary_bene_address_7", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[7-1]&.primary_address&.city, name:"primary_bene_city_7", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[7-1]&.primary_address&.state&.abbrev, name:"primary_bene_state_7", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[7-1]&.primary_address&.zip, name:"primary_bene_zip_7", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[7-1]&.primary_phone&.value, name:"primary_bene_phone_7", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[7-1]&.primary_email&.value, name:"primary_bene_email_7", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[7-1]&.ssn, name:"primary_bene_ssn_7", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[7-1]&.gender == MALE, name:"primary_bene_male_7", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[7-1]&.gender == FEMALE, name:"primary_bene_female_7", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[7-1]&.birth_or_trust_date, name:"primary_bene_dob_7", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[7-1]&.relationship_type&.name, name:"primary_bene_relationship_to_pi_7", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[7-1]&.percentage, name:"primary_bene_percentage_7", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[8-1]&.full_name, name:"primary_bene_name_8", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[8-1]&.primary_address&.street, name:"primary_bene_address_8", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[8-1]&.primary_address&.city, name:"primary_bene_city_8", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[8-1]&.primary_address&.state&.abbrev, name:"primary_bene_state_8", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[8-1]&.primary_address&.zip, name:"primary_bene_zip_8", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[8-1]&.primary_phone&.value, name:"primary_bene_phone_8", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[8-1]&.primary_email&.value, name:"primary_bene_email_8", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[8-1]&.ssn, name:"primary_bene_ssn_8", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[8-1]&.gender == MALE, name:"primary_bene_male_8", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[8-1]&.gender == FEMALE, name:"primary_bene_female_8", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[8-1]&.birth_or_trust_date, name:"primary_bene_dob_8", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[8-1]&.relationship_type&.name, name:"primary_bene_relationship_to_pi_8", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[8-1]&.percentage, name:"primary_bene_percentage_8", borderwidth:"0", width:"9em" %>
\end{Form}
