<div id="contacts-mgmt" ng-controller="ContactsMgmtCtrl">
  <io-section-header>
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-primary" uib-dropdown-toggle>
        Add Contacts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
        <li ng-if="currentUser.can('have_children') && currentUser.can('contacts_new_user')">
          <a ng-click="openNewUserModal()" >
      New User
    </a>
        </li>
        <li ng-if="currentUser.can('contacts_new_consumer')">
          <a ng-click="openNewConsumerModal()">
      New Consumer
    </a>
        </li>
        <li ng-if="currentUser.can('import_consumer_csv')">
          <a href="/consumers/csv.html"
            ng-click="$event.preventDefault(); setUrl( '/consumers/csv.html' )">
            Import CSV
          </a>
        </li>
      </ul>
    </div>
  </io-section-header>

  <div class="section-container">

    <!-- Filters Sidebar -->
    <ng-include class="section-nav left"
      src="'/contacts/search_bar.html'"></ng-include>
    <!-- // End Filters Sidebar -->
    
    <!-- Contacts Management Table -->
    <div class="section-content">
      <div class="table-responsive">
        <table class="table table-hover table-link">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Contact</th>
              <th>Brand<span ng-if="">(s)</span>
              </th>
              <th>Manager</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contact in contacts"
              ng-include="'/contacts/contact_row.html'">
            </tr>
            <tr ng-if="!contactsRequest || !contactsRequest.$resolved">
              <td colspan="7"
                style="height:calc(100vh - 220px);">
                <div class="loading-things"></div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <dr-pagination-links data-options="scopeVars.searchCriteria"
                  ng-if="contactsRequest.$resolved && scopeVars.searchCriteria.pageCt>1">
                </dr-pagination-links>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- // End Contacts Management Table -->

  </div><!-- // End Section Container -->
</div>