<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Insureio CRM">
    <meta name="keywords" content="insurance crm, marketing automation, agency management systems">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZM64M6');</script>
    <!-- End Google Tag Manager -->
    <script src="/assets/login.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Log in to Insureio</title>
    <!-- Favicon / Other Icon Area -->
    <link rel="apple-touch-icon" href="/images/touchicon.png">
    <link rel="icon" href="/images/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="path/to/favicon.ico"><![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#292c36">
    <meta name="msapplication-TileImage" content="/images/tileicon.png">
    <base href="/"><!-- Used by AngularJS `$locationProvider`. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/assets/dependencies.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/application.css" media="all" rel="stylesheet" type="text/css" />
    <style>
      .content-wrapper {
        padding: 0 !important;
      }
    </style>
  </head>


  <body id="user_sessionsnew"
    class="theme-default main-menu-animated"
    ng-app="insureioNgMinimal">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZM64M6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <noscript>
      <div class="notification-banner">
        <div class="notification-container">
          <span class="alert-icon">
            <i class="fa fa-exclamation-circle"></i>
          </span>
          <strong>Alert:</strong>
          You must enable JavaScript to use this application.
        </div>
      </div>
    </noscript>
    <div class="notification-banner"
      id="browser-recommendation-banner"
      style="display:none;"
      ng-show="!chromeDetected && !dismissedBrowserWarning">
      <!-- This div is populated via JS. -->
    </div>

    <div class="login-wrap row">

      <!-- Left Section-->
      <div class="col-xs-12 col-sm-12 col-md-6 left">
        <div class="form-wrapper">
          <div class="form">
            <div class="logo-wrapper">
              <img alt="Insureio-blk" src="/images/insureio-blk.svg" />
            </div>
            <div class="form-box"
              ng-controller="formValidationCtrl">
              <div ng-repeat="bulletin in bulletins | reverse" 
                class="alert {{bulletin.klass}}">
                {{bulletin.text}}
              </div>
              <form class="new_usage_user_session"
                id="new_usage_user_session"
                name="userForm"
                ng-submit="submitForm(userForm.$valid)" novalidate>
                <div class="fieldset">
                  <div ng-class="(userForm.userName.$invalid &amp;&amp; (!userForm.userName.$pristine || submitAttempted)) ? 'has-error':''">
                    <div class="form-group">
                      <label class="control-label" for="username">
                        Username/Email
                      </label>
                      <input class="form-control"
                        id="username"
                        name="username"
                        ng-model="userName"
                        autocomplete="username"
                        size="30" type="text" autofocus required />
                    </div>
                  </div>
                  <div ng-class="(userForm.password.$invalid &amp;&amp; (!userForm.password.$pristine || submitAttempted)) ? 'has-error':''">
                    <div class="form-group">
                      <label class="control-label" for="password">
                        Password
                      </label>
                      <input class="form-control"
                        id="password"
                        name="password"
                        ng-model="password"
                        autocomplete="password" 
                        size="30" type="password" required />
                    </div>
                  </div>
                  <input class="btn btn-primary" 
                    name="commit"
                    type="submit"
                    value="Login">
                  <hr>
                  <small>
                    <a href="/usage/password_resets/new">Forgot your password?</a>
                  </small>
                </div>
              </form>
            </div>
            <div class="signup">
              <span>No account?</span>
              <a href="/signup" class="btn btn-default">Try it free</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Left Section-->
      <!-- Right Section-->
      <div class="col-xs-12 col-sm-12 col-md-6 right">
        <div class="content-wrapper">
          <h1>Build a more effective sales &amp; marketing workflow with the leading insurance CRM.</h1>
          <h2>Get started to unleash the power of automation and grow your business with:</h2>
          <ul>
            <li>A dashboard overview of your lead funnel</li>
            <li>Lead Marketing Automation</li>
            <li>Robust data management</li>
            <li>An intuitive user interface, crafted with love</li>
          </ul>
          <a href="http://www.insureio.com" class="btn btn-default">Learn more</a>
        </div>
      </div>
      <!-- End Right Section-->

      <small class="copyright">© 2012-{{currentYear}} Insureio Technologies, LLC. All rights reserved.</small>

    </div>
  </body>
</html>