<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Insureio CRM">
    <meta name="keywords" content="insurance crm, marketing automation, agency management systems">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZM64M6');</script>
    <!-- End Google Tag Manager -->
    <script src="/assets/signup.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Sign up for Insureio</title>
    <!-- Favicon / Other Icon Area -->
    <link rel="apple-touch-icon" href="/images/touchicon.png">
    <link rel="icon" href="/images/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="path/to/favicon.ico"><![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#292c36">
    <meta name="msapplication-TileImage" content="/images/tileicon.png">
    <base href="/"><!-- Used by AngularJS `$locationProvider`. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/assets/dependencies.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/application.css" media="all" rel="stylesheet" type="text/css" />
    <style>
      .content-wrapper {
        padding: 0 !important;
      }
      .register-wrap .phone {
        width: 196px !important;
      }
    </style>
  </head>


  <body id="user_sessionsnew"
    class="theme-default main-menu-animated"
    ng-app="insureioNgMinimal">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZM64M6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <noscript>
      <div class="notification-banner">
        <div class="notification-container">
          <span class="alert-icon">
            <i class="fa fa-exclamation-circle"></i>
          </span>
          <strong>Alert:</strong>
          You must enable JavaScript to use this application.
        </div>
      </div>
    </noscript>
    <div class="notification-banner"
      style="display:none;"
      ng-show="window.navigator.userAgent.indexOf('Chrome')!=-1 || dismissedBrowserWarning">
      <div class="notification-container">
        <span class="alert-icon">
          <i class="fa fa-exclamation-circle"></i>
        </span>
        <strong>Alert:</strong>
        <!--[if lte IE 9]>
          Your browser is <a href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads">6 years out of date</a>!<br>
          At minimum, you must <a href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads">update your browser</a> to use this application.<br>
        <![endif]-->
        <!--[if IE 10]>
          <a href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads">Your browser is out of date!</a><br>
        <![endif]-->
        For security and compatibility, we highly recommend using the <a href="https://www.google.com/chrome/">Google Chrome browser</a>.
        <a class="close" ng-click="dismissedBrowserWarning=true">
          <i class="fa fa-times" style="position: absolute; top: 10px; right: 10px;"></i>
        </a>
      </div>
    </div>

    <div class="register-wrap row"
      ng-controller="signupFormCtrl">

      <!-- Left Section-->
      <div class="col-xs-12 col-sm-12 col-md-6 left">
        <div class="form-wrapper">
          <div class="form">
            <div class="logo-wrapper">
              <img ng-attr-src="{{'/tenants/'+tenant.name+'/img/'+tenant.name+'-logo.png'}}" alt="logo">
            </div>
            <div class="form-box">
              <div ng-repeat="bulletin in bulletins | reverse"
                class="alert {{bulletin.klass}}">
                {{bulletin.text}}
              </div>
              <form
                id="signup-form"
                name="signupForm"
                ng-submit="submitForm(signupForm.$valid)"
                class="new_user">
                <div ng-if="user.recruit_id">
                  <p>Choose a plan and password to create your account. Your login is the email address where you received your Insureio invitation.</p>
                </div>
                <div class="form-group">
                  <label class="control-label">Select Plan</label>
                  <div class="input-group">
                    <select class="form-control"
                      id="user_payment_plan_id"
                      name="user[payment_plan_id]"
                      ng-model="user.payment_plan_id"
                      ng-init="payment_plan_id=1"
                      ng-options="o.id as o.name for o in MEMBERSHIPS_PAYING">
                    </select>
                    <a class="input-group-addon"
                      data-toggle="modal"
                      data-target="#payment-plan-details-modal"
                      uib-tooltip="Click to review the plan options in more detail.">
                      <i  class="fa fa-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="form-group"
                  ng-if="!user.recruit_id">
                  <label class="control-label" for="name">Full Name</label>
                  <input class="form-control required"
                    type="text"
                    id="name"
                    name="user[full_name]"
                    ng-model="user.full_name"
                    placeholder="Full Name"
                    autocomplete="name" 
                    autofocus
                    ng-value="params.user ? params.user.full_name : '' "
                    size="30" required />
                </div>
                <div class="form-group"
                  ng-if="!user.recruit_id">
                  <label class="control-label" for="email">Email</label>
                  <input class="form-control required"
                    type="email"
                    id="email"
                    name="user[emails_attributes][0][value]"
                    ng-model="user.emails_attributes[0].value"
                    placeholder="Email"
                    autocomplete="email" 
                    ng-value="params.user ? params.user.emails_attributes[0].value : '' "
                    size="30" required />
                </div>
                <div class="form-group">
                  <label class="control-label" for="password">Password</label>
                  <input class="form-control required"
                    type="password" 
                    id="password"
                    name="user[password]"
                    ng-model="user.password"
                    placeholder="Password"
                    autocomplete="password" 
                    size="30" required />
                </div>
                <div class="form-group">
                  <label class="control-label" for="cpassword">Confirm Password</label>
                  <input class="form-control required"
                    type="password"
                    id="cpassword"
                    name="user[password_confirmation]"
                    ng-model="user.password_confirmation"
                    placeholder="Confirm Password"
                    autocomplete="password"
                    size="30" required>
                </div>
                <div class="form-group"
                  ng-if="!user.recruit_id">
                  <label class="control-label" for="company">Company</label>
                  <input class="form-control"
                    type="text"
                    id="company"
                    name="user[company]"
                    ng-model="user.company"
                    placeholder="Company"
                    ng-value="params.user ? params.user.company : '' "
                    size="30" />
                </div>
                <div class="form-group"
                  ng-if="!user.recruit_id">
                  <label class="control-label" for="tphone">Phone</label>
                  <select class="form-control"
                    id="tphone"
                    name="user[phones_attributes][0][phone_type_id]"
                    ng-model="user.phones_attributes[0].phone_type_id"
                    style="margin-bottom:10px;">
                    <option value="1">Home</option>
                    <option value="2">Work</option>
                    <option value="3">Mobile</option>
                    <option value="4">Fax</option>
                  </select>
                  <div class="form-inline">
                    <input class="phone form-control required"
                      type="tel"
                      id="phone"
                      name="user[phones_attributes][0][value]"
                      ng-model="user.phones_attributes[0].value"
                      ng-model="loginPhone"
                      ui-mask="(999) 999-9999"
                      autocomplete="tel"
                      size="30"
                      ng-value="params.user ? params.user.phones_attributes[0].value : '' "
                      style="width:196px;" required />  ext.
                    <input class="form-control"
                      type="tel"
                      id="ext"
                      name="user[phones_attributes][0][ext]"
                      ng-model="user.phones_attributes[0].ext"
                      autocomplete="ext"
                      size="30"
                      ng-value="params.user ? params.user.phones_attributes[0].ext : '' "
                      style="width:6.4em;">
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox checkbox-primary">
                    <input id="tos"
                      name="tos"
                      ng-model="tos"
                      type="checkbox"
                      value="true"
                      style="margin-top: 4px;"
                      required />
                    <label for="tos">
                      I agree to the
                      <a href="https://insureio.com/company/legal/" style="text-decoration:underline;" target="_new">terms and conditions</a>
                      of Insureio use.
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox checkbox-primary">
                    <input id="pay_agree"
                      name="pay_agree"
                      ng-model="pay_agree"
                      type="checkbox"
                      value="true"
                      style="margin-top: 4px;"
                      required />
                    <label for="pay_agree">
                      I understand that I will not be charged until my 30-day free trial has ended.
                    </label>
                  </div>
                </div>
                <input class="btn btn-primary"
                  id="create-new-user"
                  name="commit" type="submit"
                  value="Start your free trial">
                <div style="padding: 20px 0 0 0; text-align: center;">
                  <img src="/images/visa.png" alt="Visa" style="width: 40px; padding: 0 5px;">
                  <img src="/images/mastercard.png" alt="Mastercard" style="width: 40px; padding: 0 5px;">
                  <img src="/images/american_express.png" alt="American Express" style="width: 40px; padding: 0 5px;">
                  <img src="/images/discover.png" alt="Discover" style="width: 40px; padding: 0 5px;">
                  <img src="/images/jcb.png" alt="JCB" style="width: 40px; padding: 0 5px;">
                </div>
              </form>
            </div>
            <div class="signup">
              <span>Have an account?</span>
              <a href="/login" class="btn btn-default">Login</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Left Section-->
      <!-- Right Section-->
      <div class="col-xs-12 col-sm-12 col-md-6 right alternate">
        <div class="content-wrapper">
          <h1>Free 30-day Trial</h1>
          <h2>The CRM built just for life insurance agents</h2>
          <h3>Let Insureio automate the sales and marketing process so you can work smarter, not harder. You'll get everything you need to sell right now:</h3>
          <ul style="text-align: left; column-count: 2; margin: 0 0 40px 0;">
            <li>Client management</li>
            <li>Reporting</li>
            <li>Drop-ticket processing</li>
            <li>Pre-written marketing materials</li>
            <li>White-labeled website</li>
          </ul>
          <h3>See how easy it is to use technology to sell more life insurance and take your business to the next level.</h3>
          <h2 style="text-align: right;">&larr;&nbsp;<span class="arrow-left" uib-tooltip="Complete the form on the left to claim your free trial membership.">Start your free trial now!</span></h2>
        </div>
      </div>
      <!-- End Right Section-->

      <small class="copyright">© 2012-{{ currentYear }} Insureio Technologies, LLC. All rights reserved.</small>

    </div>

    <div class="modal fade" id="payment-plan-details-modal" tabindex="-1" role="dialog" aria-labelledby="classification-tables">
      <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Payment Plans</h4>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-hover table-link">
                <thead>
                  <tr>
                    <th>Basic</th>
                    <th>Marketing</th>
                    <th>Agency Management</th>
                    <th>Marketing & Agency Management</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><small><sup>$</sup></small>25 <small><sup>/mo</sup></small></span></td>
                    <td><small><sup>$</sup></small>50 <small><sup>/mo</sup></small></span></td>
                    <td><small><sup>$</sup></small>50 <small><sup>/mo</sup></small></span></td>
                    <td><small><sup>$</sup></small>75 <small><sup>/mo</sup></small></span></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check"></i> e-Application Solution</td>
                    <td><i class="fa fa-check"></i> Includes everything in Basic</td>
                    <td><i class="fa fa-check"></i> Includes everything in Basic</td>
                    <td><i class="fa fa-check"></i> Includes everything in Basic</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check"></i> Unlimited Quoting & Lead Capture Widgets</td>
                    <td><i class="fa fa-check"></i> Personalized e-Marketing Website</td>
                    <td><i class="fa fa-check"></i> Lead Routing & Assignment</td>
                    <td><i class="fa fa-check"></i> Includes everything in Marketing</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check"></i> Unlimited Brand Profiles</td>
                    <td><i class="fa fa-check"></i> Pre-Built Marketing Campaigns</td>
                    <td><i class="fa fa-check"></i> Team View on Dashboard</td>
                    <td><i class="fa fa-check"></i> Includes everything in Agency Management</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check"></i> Customizable Analytics & Reporting</td>
                    <td><i class="fa fa-check"></i> Blast e-Mail Distribution</td>
                    <td><i class="fa fa-check"></i> Agent Recruiting & Marketing</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <br>
              <h4 class="text-center">
                View all features and additional package details on
                <a href="https://www.insureio.com" taget="_blank">Insureio.com</a>
                <a href="https://www.insureio.com" taget="_blank" class="btn btn-primary" style="margin-left: 10px;">Learn More</a>
              </h4>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>