<div id="marketing-templates" ng-controller="MarketingTemplatesCtrl">
  <io-section-header>
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-primary" uib-dropdown-toggle>
        New Template
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
        <li ng-if="can('marketing_custom_email')">
          <a ng-click="openTemplateForm(null,'Email')">
            Email Template
          </a>
        </li>
        <li ng-if="can('marketing_custom_sms')">
          <a ng-click="openTemplateForm(null,'SMS')">
            SMS Template
          </a>
        </li>
      </ul>
    </div>
  </io-section-header>

  <div class="section-container"
    ng-class="{'section-nav-closed': mktgTemplatesVars.rightSidebarIsClosed}">

    <!-- Filters Sidebar -->
    <div class="section-nav">
      <h4>Search by Name</h4>
      <div class="input-group">
        <input ng-model="mktgTemplatesVars.name"
          class="form-control" type="text">
        <span class="input-group-btn">
          <a class="btn btn-primary"
            title="Search"
            ng-click="getTemplates(true)">
            <i class="fa fa-search"></i>
          </a>
        </span>
      </div>
      <h4>Filters</h4>
      <div class="form-group">
        <label>Medium</label>
        <select ng-model="mktgTemplatesVars.medium"
          ng-options="o as o for o in MARKETING_TEMPLATE_MEDIA"
          class="form-control">
        </select>
      </div>
      <div class="form-group">
        <label>Purpose</label>
        <select ng-model="mktgTemplatesVars.purpose_id"
          ng-options="o.id as o.name for o in MARKETING_TEMPLATE_PURPOSES"
          class="form-control">
        </select>
      </div>
      <div class="form-group">
        <label>Planning Need</label>
        <select ng-model="mktgTemplatesVars.planning_category_id"
          ng-options="o.id as o.name for o in PLANNING_CATS"
          class="form-control">
        </select>
      </div>
      <div class="form-group">
        <label>Product Category</label>
        <select ng-model="mktgTemplatesVars.product_category_id"
          ng-options="o.id as o.name for o in PRODUCT_CATS"
          class="form-control">
        </select>
      </div>
      <div class="form-group">
        <a class="btn btn-primary btn-block"
          title="Search"
          ng-click="getTemplates(true)">
          Apply Filters
        </a>
      </div>
      <button class="btn btn-default toggle"
        ng-click="mktgTemplatesVars.rightSidebarIsClosed=!mktgTemplatesVars.rightSidebarIsClosed">
        <i class="fa fa-ellipsis-v"
          style="margin-left:-1px;"></i></i>
      </button>
    </div>
    <!-- // End Filters Sidebar -->

    <!-- Marketing Templates Table -->
    <div class="section-content">
      <table class="table table-hover table-sortable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="text-center">Access</th>
            <th>Description</th>
            <th>Medium</th>
            <th>Purpose</th>
            <th>Planning Need</th>
            <th>Product Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!mktgTemplatesVars.templatesLoading"
            ng-repeat="t in templates">
            <td><span class="label label-default" ng-bind="t.id"></span></td>
            <td>
              <a ng-href="/marketing/templates/{{t.id}}.html" target="_blank">
                <strong ng-bind="t.name"></strong>
              </a>
            </td>
            <td class="text-center">
              <i ng-class="((t.ownership_id==1 || !t.owner_id) && 'fa fa-globe') ||
                (t.ownership_id==2 && 'fa fa-user') ||
                (t.ownership_id==3 && 'fa fa-users')"
                uib-tooltip="Accessible To {{((t.ownership_id==1 || !t.owner_id) && 'Everyone') ||
                (t.ownership_id==2 && 'Owner User') ||
                (t.ownership_id==3 && 'Owner User & Descendants')}}"
                tooltip-placement="top"
                tooltip-trigger="mouseenter">
              </i>
            </td>
            <td ng-bind="t.description || '-'"></td>
            <td ng-bind="t.medium || '-'"></td>
            <td ng-bind="(t.template_purpose_id | enumValue : 'MARKETING_TEMPLATE_PURPOSES' : 'name') || '-'"></td>
            <td ng-bind="(t.planning_category_id | enumValue : 'PLANNING_CATS' : 'name') || '-'"></td>
            <td ng-bind="(t.product_category_id | enumValue : 'PRODUCT_CATS' : 'name') || '-'"></td>
            <td>
              <div class="dropdown btn-group pull-right" uib-dropdown>
                <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                  <li>
                    <a ng-click="openTemplateForm(t)"
                      ng-if="can('super_edit') ||
                      t.owner_id==currentUser.id ||
                      editableIds.indexOf(t.owner_id)>-1">
                      Edit
                    </a>
                  </li>
                  <li>
                    <a ng-click="cloneTemplate(t)"
                      ng-if="currentUser.can('marketing_custom_email')">
                      Clone
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="destroyRecord(templates.indexOf(t),templates,'/marketing/templates/'+t.id+'.json','template');"
                      ng-if="can('super_edit') ||
                      t.owner_id==currentUser.id ||
                      editableIds.indexOf(t.owner_id)>-1"
                      style="color:red;">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
              <a ng-if="t.medium=='Email' && can('marketing_email')"
                class="btn btn-default"
                uib-tooltip="Send Email"
                tooltip-placement="top"
                tooltip-trigger="mouseenter"
                ng-click="openSendEmailModal(t)">
                <i class="fa fa-paper-plane"></i>
              </a>
              <a ng-if="t.medium=='SMS' && can('marketing_canned_sms')"
                class="btn btn-default"
                uib-tooltip="Send SMS"
                tooltip-placement="top"
                tooltip-trigger="mouseenter"
                ng-click="openSendSmsModal(t)">
                <i class="fa fa-paper-plane"></i>
              </a>
            </td>
          </tr>
          <tr ng-if="mktgTemplatesVars.templatesLoading">
            <td colspan="9">
              <div class="table-loading">
                <i class="fa fa-refresh fa-spin"
                  title="Loading Templates"></i>
              </div>
            </td>
          </tr>
          <tr ng-if="!mktgTemplatesVars.templatesLoading && !can('super_edit') && !editableIds.$resolved">
            <td colspan="9">
              <i class="fa fa-refresh fa-spin"></i>
              Still determining which templates your account can edit.
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9">
              <dr-pagination-links
                data-options="mktgTemplatesVars"
                ng-if="!mktgTemplatesVars.templatesLoading && mktgTemplatesVars.pageCt>1">
              </dr-pagination-links>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- // End Marketing Templates Table -->

  </div><!-- // End Section Container -->
</div>
