<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">Sending Options</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <form>
    <div class="modal-body">

      <strong>Sending To:</strong>

      <div class="radio radio-primary">
        <input ng-model="mktgTemplatesVars.sendingOption"
          id="sending-option-self"
          type="radio"
          value="self"
          ng-disabled="!currentUser.can('marketing_email_self')">
        <label for="sending-option-self" 
          uib-tooltip="Note: The template will fail to send if it contains any dynamic fields for client information, since you are not specifying a client here."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          SMS Self <i class="fa fa-question-circle"></i>
        </label>
      </div>
      <div ng-show="mktgTemplatesVars.sendingOption=='self'">
        <input
          class="form-control"
          readonly="readonly"
          type="text"
          value="{{ (currentUserMobilePhoneWithCarrier() | drFormatPhone) || '(You lack a mobile phone with carrier)'}}">
      </div>

      <div class="radio radio-primary">
        <input ng-model="mktgTemplatesVars.sendingOption"
          id="sending-option-blast"
          type="radio"
          value="blast"
          ng-disabled="!currentUser.can('marketing_email_search')">
        <label for="sending-option-blast"
          uib-tooltip="Send out emails to all clients returned by a saved search."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Blast Distribution <i class="fa fa-question-circle"></i>
        </label>
      </div>
      <div ng-show="mktgTemplatesVars.sendingOption=='blast'">
        <ui-select theme="bootstrap"
          ng-model="mktgTemplatesVars.searchObj"
          on-select="mktgTemplatesVars.searchId=$item.id"
          on-remove="mktgTemplatesVars.searchId=null"
          append-to-body="true">
          <ui-select-match data-placeholder="(autocomplete)"
            allow-clear="true">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices class="text-left"
            refresh="getSearches($select.search)"
            refresh-delay="100"
            repeat="s in searches">
            <i ng-class="((s.ownership_id==1 || !s.owner_id) && 'fa fa-globe') ||
                (s.ownership_id==2 && 'fa fa-user') ||
                (s.ownership_id==3 && 'fa fa-users')"></i>
            <span ng-bind-html="s.name | highlight: $select.search"></span>
            ({{s.id}})
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="modal-footer">
      <div class="checkbox checkbox-primary">
        <input id="tcpa"
          type="checkbox" ng-model="mktgTemplatesVars.acknowledgedTcpaWarning">
        <label for="tcpa">
          I attest that all communications sent via text have prior express consent and that they comply with
          <a href="https://transition.fcc.gov/cgb/policy/TCPA-Rules.pdf"
            target="_blank">
            TCPA Requirements
          </a>.
        </label>
      </div>
      <a class="btn btn-primary"
        ng-disabled="!mktgTemplatesVars.sendingOption || !mktgTemplatesVars.acknowledgedTcpaWarning"
        title="{{mktgTemplatesVars.sendingOption ? '' : 'Choose a sending option first.'}}"
        ng-click="sendEmail()">
        Send SMS
      </a>
    </div>

  </form>
</div>