<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4>
      {{template.id ? 'Editing' : 'New'}} Email Template
    </h4>
    <div style="float:right;margin-top: -2em;"
      ng-if="true || template.id">
      <a ng-click="destroyRecord(templates.indexOf(template),templates,'/marketing/templates/'+template.id+'.json','template');"
        title="Delete Template">
        <i class="fa fa-trash-o"></i>
      </a>
      |
      <a ng-click="cloneTemplate(template)"
        title="Clone Template">
        <i class="fa fa-files-o"></i>
      </a>
      </div>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Template Name</label>
          <input class="form-control"
            ng-model="template.name" size="30" type="text">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control"
            ng-model="template.description"></textarea>
        </div>
        <div class="form-group">
          <label>Subject</label>
          <input class="form-control"
            ng-model="template.subject" size="30" type="text">
        </div>
        <div class="form-group">
          <label>Enabled</label>
          <input ng-model="template.enabled" type="checkbox">
        </div>
        <div class="form-group"
          ng-if="mktgTemplateFormVars.enabledTemplatePurposes.length>=2">
          <label>Purpose</label>
          <select class="form-control"
            ng-model="template.template_purpose_id"
            ng-options="o.id as o.name for o in mktgTemplateFormVars.enabledTemplatePurposes"></select>
        </div>
        <div class="form-group">
          <label></label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Planning Need</label>
          <select class="form-control"
            ng-model="template.planning_category_id"
            ng-options="o.id as o.name for o in PLANNING_CATS"></select>
        </div>
        <div class="form-group">
          <label>Product Category</label>
          <select class="form-control"
            ng-model="template.product_category_id"
            ng-options="o.id as o.name for o in PRODUCT_CATS"></select>
        </div>
        <div class="form-group">
          <label>Ownership</label>
          <select class="form-control"
            ng-model="template.ownership_id"
            ng-options="o.id as o.value for o in OWNERSHIPS"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label uib-tooltip="Select an option for the value of variable {{quoter_url}} within this message.">
            Quoter Link Type
            <i class="fa fa-question-circle"></i>
          </label>
          <br>
          <label ng-if="can('insurance_division')">
            <input ng-model="template.quoter_url_type"
              type="radio" value="0">
              Insurance Division
          </label>
          <input class="form-control"
            ng-if="template.quoter_url_type==0"
            ng-model="mktgTemplatesVars.insDivBaseURL"
            type="text" readonly>
          <input class="form-control"
            ng-if="template.quoter_url_type==0"
            ng-model="template.insurance_division_url_page"
            placeholder="Example: posts/19/life_insurance_basics"
            type="text" size="30">
          <br>
          <label>
            <input ng-model="template.quoter_url_type" type="radio" value="2">
            Insureio
          </label>
          <br>
          <label>
            <input ng-model="template.quoter_url_type" type="radio" value="1">
            Custom Url
          </label>
          <input class="form-control"
            data-ng-if="template.quoter_url_type==1"
            ng-model="template.custom_quoter_url"
            placeholder="Example: http://www.somesite.com/some_quoter_page"
            type="text" size="30">
        </div>
        <div class="form-group">
          <label uib-tooltip="Select a dynamic field from this list to insert it at the cursor. Dynamic fields will be automatically replaced with real information just before sending. Note that marketing templates that are not aimed at saved consumers should not contain consumer fields. Likewise, templates for messages that do not relate to a specific case should not contain case fields. Only use fields defined in this list. Any use of curly braces within the template body that does not match an item from this list will prevent your email from sending.">
            Body <i class="fa fa-question-circle"></i>
          </label>
          <select class="form-control"
            ng-model="mktgTemplateFormVars.dynamicFieldSelection"
            ng-change="insertDynamicFieldAndResetMenu()"
            ng-options="o.displayText as o.displayText group by o.grouping for o in MARKETING_DYNAMIC_FIELDS"
            placeholder="Add variables to body"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <textarea ng-model="template.body"
          ui-tinymce="tinymceOptions"
          id="marketing_email_template_body"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
      ng-click="saveTemplate(template)">
      Submit
    </button>
  </div>

</div>
