<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4>
      {{template.id ? 'Editing' : 'New'}} SMS Template
    </h4>
    <div style="float:right;margin-top: -2em;"
      ng-if="true || template.id">
      <a ng-click="destroyRecord(templates.indexOf(template),templates,'/marketing/templates/'+template.id+'.json','template');"
        title="Delete Template">
        <i class="fa fa-trash-o"></i>
      </a>
      |
      <a ng-click="cloneTemplate(template)"
        title="Clone Template">
        <i class="fa fa-files-o"></i>
      </a>
      </div>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Template Name</label>
          <input class="form-control" size="30" type="text"
            ng-model="template.name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control"
            ng-model="template.description"></textarea>
        </div>
        <div class="form-group">
          <label style="min-width:auto;">Enabled</label>
          <input style="margin-left:8px;"
            ng-model="template.enabled" type="checkbox">
        </div>
        <div class="form-group"
          ng-if="mktgTemplateFormVars.enabledTemplatePurposes.length>=2">
          <label>Purpose</label>
          <select class="form-control"
            ng-model="template.template_purpose_id"
            ng-options="o.id as o.name for o in mktgTemplateFormVars.enabledTemplatePurposes"></select>
        </div>
        <div class="form-group">
          <label>Ownership</label>
          <select class="form-control"
            ng-model="template.ownership_id"
            ng-options="o.id as o.value for o in OWNERSHIPS"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Planning Need</label>
          <select class="form-control"
            ng-model="template.planning_category_id"
            ng-options="o.id as o.name for o in PLANNING_CATS"></select>
        </div>
        <div class="form-group">
          <label>Product Category</label>
          <select class="form-control"
            ng-model="template.product_category_id"
            ng-options="o.id as o.name for o in PRODUCT_CATS"></select>
        </div>
        <div class="form-group">
          <label uib-tooltip="Select a dynamic field from this list to insert it at the cursor. Dynamic fields will be automatically replaced with real information just before sending. Note that marketing templates that are not aimed at saved consumers should not contain consumer fields. Likewise, templates for messages that do not relate to a specific case should not contain case fields. Only use fields defined in this list. Any use of curly braces within the template body that does not match an item from this list will prevent your email from sending.">
            Body <i class="fa fa-question-circle"></i>
          </label>
          <select class="form-control"
            ng-model="mktgTemplateFormVars.dynamicFieldSelection"
            ng-change="insertDynamicFieldAndResetMenu()"
            ng-options="o.displayText as o.displayText group by o.grouping for o in MARKETING_DYNAMIC_FIELDS"
            placeholder="Add variables to body"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Message</label>
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-triangle"></i> 
          An SMS message may be up to 160 characters. Longer messages will be broken into multiple 153 character parts. The maximum is 6 parts.
        </div>
        <textarea class="form-control" 
          ng-model="template.body"
          id="marketing_email_template_body"></textarea>
        <span ng-bind="template.body.length"
          style="font-weight: bold; color:{{ charCountColor() }}"></span>
        / 160 characters
        <div ng-if="template.body.length>160">
          (<span ng-bind="messageCount()"
            style="font-weight: bold;"></span>
          parts)
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
      ng-click="saveTemplate(template)">
      Submit
    </button>
  </div>

</div>
