<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">Sending Options</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <form>
    <div class="modal-body">

      <strong uib-tooltip="Select a landing page for any links within this message."
        tooltip-placement="top"
        tooltip-trigger="mouseenter">
        Link Type
        <i class="fa fa-question-circle"></i>
      </strong>

      <div class="radio radio-primary"
        ng-if="can('insurance_division')">
        <input ng-model="mktgTemplatesVars.quoter_url_type"
          id="quoter_url_type_0"
          type="radio" value="0">
        <label for="quoter_url_type_0">
          Insurance Division
        </label>
      </div>

      <div class="form-group"
        ng-if="mktgTemplatesVars.quoter_url_type=='0'">
        <strong>Your Insurance Division Site</strong><br>
        <input class="form-control"
          value="{{mktgTemplatesVars.insDivBaseURL}}"
          type="text" readonly>
      </div>
      <div class="form-group"
        ng-if="mktgTemplatesVars.quoter_url_type=='0'">
        <strong>A Specific Page on Insurance Division</strong><br>
        <input ng-model="mktgTemplatesVars.insurance_division_url_page"
          class="form-control"
          placeholder="Example: posts/19/life_insurance_basics"
          type="text" size="30">
      </div>

      <div class="radio radio-primary">
        <input ng-model="mktgTemplatesVars.quoter_url_type"
          id="quoter_url_type_2"
          type="radio" value="2">
        <label for="quoter_url_type_2">
          Insureio
        </label>
      </div>
      <div class="form-group"
        ng-if="mktgTemplatesVars.quoter_url_type=='2'">
        <input class="form-control"
          value="{{mktgTemplatesVars.iOBaseUrl}}/quoting/quotes/new?agent_id={{currentUser.id}}&key={{currentUser.quoter_key}}&requestType=APPLICATION"
          type="text" readonly>
      </div>

      <div class="radio radio-primary">
        <input ng-model="mktgTemplatesVars.quoter_url_type"
          id="quoter_url_type_1"
          type="radio" value="1">
        <label for="quoter_url_type_1">
          Custom Url
        </label>
      </div>

      <div class="form-group"
        ng-if="mktgTemplatesVars.quoter_url_type=='1'">
        <input ng-model="mktgTemplatesVars.custom_quoter_url"
          class="form-control"
          placeholder="http://www.example.com"
          size="30" type="text">
      </div>

      <strong>Sending To</strong>

      <div class="radio radio-primary">
        <input ng-model="mktgTemplatesVars.sendingOption"
          id="sending-option-self"
          type="radio"
          value="self"
          ng-disabled="!currentUser.can('marketing_email_self')">
        <label for="sending-option-self" 
          uib-tooltip="Note: The template will fail to send if it contains any dynamic fields for client information, since you are not specifying a client here."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Email Self <i class="fa fa-question-circle"></i>
        </label>
      </div>
      <div ng-show="mktgTemplatesVars.sendingOption=='self'">
        <input
          class="form-control"
          readonly="readonly"
          type="text"
          value="{{currentUser.$primaryEmail && currentUser.$primaryEmail.value || '(You lack a primary email)'}}">
      </div>

      <div class="radio radio-primary">
        <input ng-model="mktgTemplatesVars.sendingOption"
          id="sending-option-custom"
          type="radio"
          value="custom"
          ng-disabled="!currentUser.can('marketing_email_custom')">
        <label for="sending-option-custom"
          uib-tooltip="Send out emails to a custom email list. Note: The template will fail to send if it contains any dynamic fields for client information, since you are not specifying a client here. You can enter up to 100 emails."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Custom Distribution <i class="fa fa-question-circle"></i>
        </label>
      </div>
      <div ng-show="mktgTemplatesVars.sendingOption=='custom'">
        <textarea ng-model="mktgTemplatesVars.customRecipientEmailList"
          class="form-control"
          placeholder="Custom Email List (up to 100, separated with commas)"></textarea>
      </div>

      <div class="radio radio-primary">
        <input ng-model="mktgTemplatesVars.sendingOption"
          id="sending-option-blast"
          type="radio"
          value="blast"
          ng-disabled="!currentUser.can('marketing_email_search')">
        <label for="sending-option-blast"
          uib-tooltip="Send out emails to all clients returned by a saved search."
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
          Blast Distribution <i class="fa fa-question-circle"></i>
        </label>
      </div>
      <div ng-show="mktgTemplatesVars.sendingOption=='blast'">
        <ui-select theme="bootstrap"
          ng-model="mktgTemplatesVars.searchObj"
          on-select="mktgTemplatesVars.searchId=$item.id"
          on-remove="mktgTemplatesVars.searchId=null"
          append-to-body="true">
          <ui-select-match data-placeholder="(autocomplete)"
            allow-clear="true">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices class="text-left"
            refresh="getSearches($select.search)"
            refresh-delay="100"
            repeat="s in searches">
            <i ng-class="((s.ownership_id==1 || !s.owner_id) && 'fa fa-globe') ||
                (s.ownership_id==2 && 'fa fa-user') ||
                (s.ownership_id==3 && 'fa fa-users')"></i>
            <span ng-bind-html="s.name | highlight: $select.search"></span>
            ({{s.id}})
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="modal-footer">
      <div class="checkbox checkbox-primary">
        <input id="can-spam" ng-model="mktgTemplatesVars.acknowledged_can_spam" type="checkbox">
        <label for="can-spam">
          I attest that all emails being sent are NOT being sent to a purchased list and that it complies with
          <a href="https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business" target="_blank">CAN-SPAM Act Law</a>.
        </label>
      </div>
      <a class="btn btn-primary"
        ng-disabled="!mktgTemplatesVars.sendingOption || !mktgTemplatesVars.acknowledged_can_spam"
        title="{{mktgTemplatesVars.sendingOption ? '' : 'Choose a sending option first.'}}"
        ng-click="sendEmail()">
        Send Email
      </a>
    </div>

  </form>
</div>