<div>
  <h1><strong>Answer</strong> security question</h1>
  <%= form_for @security_answer, url: confirm_security_question_users_url , method: :post do |f| %>
    <div class="row">
      <div class="col-md-12" >
        <% que_attr = Usage::SecurityAnswer::QUE_ARRAY.sample %>
        Question:
        <%= current_user.security_question_to_ask(que_attr) %>
        <%= f.hidden_field que_attr, value: current_user.security_question_id(que_attr) %>
        <%= f.label Usage::SecurityAnswer::QUE_ANS_HASH[que_attr], "Answer:" %>
        <%= f.text_field Usage::SecurityAnswer::QUE_ANS_HASH[que_attr], rows: 10, style: "width: 45%;" %>
        <%= label_tag 'remember_me', "Remember me on this machine" %>
        <%= check_box_tag 'remember_me', 'yes', true, style: "margin-top: 0px;" %>
        <br>
        <%= f.submit "Submit", style: "margin-top: 10px;" %>
      </div>
    </div>
  <% end %>
</div>