<div>
  <h1><strong>Set</strong> security question</h1>
  <%= form_for @security_answer, :url => { action: "add_security_question" }, method: :post, remote: true do |f| %>
    <div class="row">
      <div class="col-md-12" style>
        <%= f.label :question_1_id, 'First Question?' %>
        <%= f.select(:question_1_id, SecurityQuestion.first(5).collect {|p| [ p.value, p.id ] }, {}, style: "width:45%") %>
        <%= f.label :question_1_value, "Answer" %>
        <%= f.text_area :question_1_value, :rows => 10, style: "width: 45%;" %>
        <%= f.label :question_2_id, 'Last Question?' %>
        <%= f.select(:question_2_id, SecurityQuestion.last(5).collect {|p| [ p.value, p.id ] }, {}, style: "width:45%") %>
        <%= f.label :question_2_value, "Answer" %>
        <%= f.text_area :question_2_value, rows: 10, style: "width: 45%;" %>
        <br/>
        <%= f.submit "Submit" %>
      </div>
    </div>
  <% end %>
</div>
