<% if not current_user.tos %>
<p class="lead text-center" style="margin-top:80px;">
  In order to use Insureio you must read and accept the latest version of the 
  <a href="https://insureio.com/terms-of-use" target="_blank">Terms of Use Agreement</a>.
</p>
<div align="center">
  <form ng-submit="updateRecordSingleField('/users/'+currentUser.id+'.json','your terms of use agreement','tos',$tosAgreement,setUrlToRootPath)">
    <label style="margin-right:10px;">
      <input type="checkbox"
        ng-model="$tosAgreement">
      I agree to the <a href="https://insureio.com/terms-of-use" target="_blank">Terms of Use</a>
    </label>
    <br>
    <input class="btn btn-primary"
      type="submit"
      value="Update Account">
  </form>
</div>
<% else %>
  <p class="lead text-center">
    You have already signed the latest version of the Terms of Use Agreement.
  </p>
<% end %>
