\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{6px}
  \hspace{21px}
  <%= textfield nil, name:"section_3_owner_name", borderwidth:"0", width:"53em" %>

  \vspace{27px}
  \hspace{21px}
  <%= textfield nil, name:"section_3_owner_address", borderwidth:"0", width:"21.5em" %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield nil, name:"section_3_owner_city", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield nil, name:"section_3_owner_state", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield nil, name:"section_3_owner_zip", borderwidth:"0", width:"7.5em" %>

  \vspace{25px}
  \hspace{21px}
  <%= textfield nil, name:"section_3_owner_phone_1", borderwidth:"0", width:"14em" %>

  \vspace{-14px}
  \hspace{171px}
  <%= checkbox nil, name:"section_3_owner_phone_home_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{213px}
  <%= checkbox nil, name:"section_3_owner_phone_cell_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{246px}
  <%= checkbox nil, name:"section_3_owner_phone_work_1", width:"7px", height:"7px" %>

  \vspace{-10px}
  \hspace{290px}
  <%= textfield nil, name:"section_3_owner_phone_2", borderwidth:"0", width:"14em" %>

  \vspace{-14px}
  \hspace{441px}
  <%= checkbox nil, name:"section_3_owner_phone_home_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{483px}
  <%= checkbox nil, name:"section_3_owner_phone_cell_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{516px}
  <%= checkbox nil, name:"section_3_owner_phone_work_2", width:"7px", height:"7px" %>

  \vspace{28px}
  \hspace{21px}
  <%= textfield nil, name:"section_3_owner_email", borderwidth:"0", width:"25.8em" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield nil, name:"section_3_owner_ssn", borderwidth:"0", width:"14em" %>

  \vspace{-15px}
  \hspace{472px}
  <%= checkbox nil, name:"section_3_owner_gender_male", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{510px}
  <%= checkbox nil, name:"section_3_owner_gender_female", width:"7px", height:"7px" %>

  \vspace{28px}
  \hspace{21px}
  <%= textfield nil, name:"section_3_owner_dob", borderwidth:"0", width:"22em" %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield nil, name:"section_3_owner_relationship_to_pi", borderwidth:"0", width:"29em" %>

  \vspace{25px}
  \hspace{114px}
  <%= checkbox nil, name:"section_3_owner_citizenship_us_citizen_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{147px}
  <%= checkbox nil, name:"section_3_owner_citizenship_us_citizen_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{373px}
  <%= checkbox nil, name:"section_3_owner_photo_id_type_dl", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{454px}
  <%= checkbox nil, name:"section_3_owner_photo_id_type_passport", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{507px}
  <%= checkbox nil, name:"section_3_owner_photo_id_type_state_id", width:"7px", height:"7px" %>

  \vspace{28px}
  \hspace{21px}
  <%= textfield nil, name:"section_3_owner_photo_id_number", borderwidth:"0", width:"18.8em" %>

  \vspace{-12px}
  \hspace{221px}
  <%= textfield nil, name:"section_3_owner_photo_id_state_country_issue", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{415px}
  <%= textfield nil, name:"section_3_owner_photo_id_expiration", borderwidth:"0", width:"13em" %>

  \vspace{23px}
  \hspace{298px}
  <%= checkbox nil, name:"section_3_owner_permanent_resident_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{330px}
  <%= checkbox nil, name:"section_3_owner_permanent_resident_no", width:"7px", height:"7px" %>

  \vspace{28px}
  \hspace{21px}
  <%= textfield nil, name:"section_3_owner_country_or_origin", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{193px}
  <%= textfield nil, name:"section_3_owner_date_of_entry", borderwidth:"0", width:"10.5em", maxlen:12 %>

  \vspace{-12px}
  \hspace{310px}
  <%= textfield nil, name:"section_3_owner_current_citizenship_country", borderwidth:"0", width:"23.7em" %>

  \vspace{25px}
  \hspace{21px}
  <%= textfield nil, name:"section_3_owner_green_card_visa_number", borderwidth:"0", width:"24.5em" %>

  \vspace{-12px}
  \hspace{280px}
  <%= textfield nil, name:"section_3_owner_green_card_visa_expiration", borderwidth:"0", width:"26.8em" %>

  \vspace{42px}
  \hspace{21px}
  <%= checkbox kase.bill_type_id == 2, name:"section_4_billing_method_direct", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{89px}
  <%= checkbox kase.bill_type_id == 1, name:"section_4_billing_method_eft", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{122px}
  <%= checkbox kase.bill_type_id == 3, name:"section_4_billing_method_cc", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{271px}
  <%= checkbox quote&.premium_mode_id == 1, name:"section_4_premium_mode_annually", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{323px}
  <%= checkbox quote&.premium_mode_id == 2, name:"section_4_premium_mode_semiannually", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{394px}
  <%= checkbox quote&.premium_mode_id == 3, name:"section_4_premium_mode_quarterly", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{448px}
  <%= checkbox quote&.premium_mode_id == 4, name:"section_4_premium_mode_monthly", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{499px}
  <%= checkbox nil, name:"section_4_premium_mode_biweekly", width:"7px", height:"7px" %>

  \vspace{28px}
  \hspace{21px}
  <%= textfield nil, name:"section_4_planned_premium", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{193px}
  <%= textfield currency(kase.current_details&.planned_modal_premium), name:"section_4_billing_amount", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{370px}
  <%= textfield nil, name:"section_4_payment_with_application", borderwidth:"0", width:"17em" %>

  \vspace{25px}
  \hspace{21px}
  <%= textfield nil, name:"section_4_payor_name", borderwidth:"0", width:"52em" %>

  \vspace{25px}
  \hspace{21px}
  <%= textfield nil, name:"section_4_payor_address", borderwidth:"0", width:"21.5em" %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield nil, name:"section_4_payor_city", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield nil, name:"section_4_payor_state", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield nil, name:"section_4_payor_zip", borderwidth:"0", width:"7.5em" %>

  \vspace{31px}
  \hspace{21px}
  <%= textfield nil, name:"section_4_payor_phone_1", borderwidth:"0", width:"14em" %>

  \vspace{-14px}
  \hspace{171px}
  <%= checkbox nil, name:"section_4_payor_home_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{213px}
  <%= checkbox nil, name:"section_4_payor_cell_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{246px}
  <%= checkbox nil, name:"section_4_payor_work_1", width:"7px", height:"7px" %>

  \vspace{-10px}
  \hspace{290px}
  <%= textfield nil, name:"section_4_payor_phone_2", borderwidth:"0", width:"14em" %>

  \vspace{-14px}
  \hspace{441px}
  <%= checkbox nil, name:"section_4_payor_home_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{483px}
  <%= checkbox nil, name:"section_4_payor_cell_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{516px}
  <%= checkbox nil, name:"section_4_payor_work_2", width:"7px", height:"7px" %>

  \vspace{25px}
  \hspace{21px}
  <%= textfield nil, name:"payor_relationship_to_pi", borderwidth:"0", width:"25.8em" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield nil, name:"section_4_payor_email", borderwidth:"0", width:"26em" %>

  \vspace{35px}
  \hspace{36px}
  <%= checkbox nil, name:"section_5_nmb_website", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{170px}
  <%= checkbox nil, name:"section_5_social_media", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{294px}
  <%= checkbox nil, name:"section_5_newspaper", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{384px}
  <%= checkbox nil, name:"section_5_fundraiser_event", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{482px}
  <%= checkbox nil, name:"section_5_letter_mailer", width:"7px", height:"7px" %>

  \vspace{1px}
  \hspace{36px}
  <%= checkbox nil, name:"section_5_direect_rep", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{170px}
  <%= checkbox nil, name:"section_5_referral", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{294px}
  <%= checkbox nil, name:"section_5_radio_television", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{384px}
  <%= checkbox nil, name:"section_5_other", width:"7px", height:"7px" %>
\end{Form}
