<style>
  body {
    background-image: radial-gradient(circle farthest-corner at right bottom, rgba(156,181,213,0.75) 0%, rgba(126,175,194,0.75) 28%, rgba(175,137,97,0.75) 57%, rgba(101,40,26,0.75) 100%), url(/images/bg/building-731207.jpg) !important;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
  }
  #main-container > div {
    min-height: auto;
  }
</style>
<div class="passreset_cont form-box">
  <div class="passreset_logo">
    <%= image_tag @tenant.try(:logo) || "/images/insureio-blk.svg" %>
  </div>
  <h4 class="text-center">Reset Password</h4>
  <div ng-repeat="bulletin in bulletins | reverse"  class="notification {{bulletin.klass}}">
    <p class="notification-description"><strong ng-if="bulletin.klass=='alert-danger'">Reset Failed</strong><br>{{bulletin.text}}</p>
  </div>
  <div class="fieldset">
    <%= form_for @user, :url => usage_password_reset_path(params[:id])  do |f| %>
      <div class="form-group">
        <lebel for="password">Password</lebel>
        <%= f.password_field :password, placeholder:'New password', class: 'form-control', id: 'password' %>
      </div>
      <div class="form-group">
        <lebel for="password_confirmation">Password Confirmation</lebel>
        <%= f.password_field :password_confirmation, placeholder:'Confirm password', class: 'form-control', id: 'password_confirmation' %>
      </div>

      <%= submit_tag "Update Password", class: 'btn btn-primary', style: 'width:100%;margin-bottom:0;' %>
    <% end %>
  </div>
</div>