<style>
  body {
    background-image: radial-gradient(circle farthest-corner at right bottom, rgba(156,181,213,0.75) 0%, rgba(126,175,194,0.75) 28%, rgba(175,137,97,0.75) 57%, rgba(101,40,26,0.75) 100%), url(/images/bg/building-731207.jpg) !important;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
  }
  #main-container > div {
    min-height: auto;
  }
</style>
<div class="passreset_cont form-box">
  <div class="passreset_logo">
    <%= image_tag @tenant.try(:logo) || "/images/insureio-blk.svg" %>
  </div>
  <h4 class="text-center">Reset Password</h4>
  <div class="fieldset">
    <div ng-repeat="bulletin in bulletins | reverse"
      class="alert {{bulletin.klass}}">
      <strong ng-if="bulletin.klass=='alert-danger'">Reset Failed</strong><br>{{bulletin.text}}
    </div>
    <div class="alert alert-info"
      style="margin:10px 0;">
      This link is time-sensitive and will expire quickly. Please check your email right away. If your link expires, you may return to this page or the login screen and request a new email.
    </div>
    <form accept-charset="UTF-8"
      action="/usage/password_resets"
      method="post">
      <div class="form-group">
        <label class="control-label">Username (typically an email)</label>
        <input autofocus="autofocus"
          class="form-control"
          id="username"
          name="login"
          value="<%=params[:login] ||''%>"
          placeholder="Username (typically an email)"
          type="text">
      </div>
      <input class="btn btn-primary"
        name="commit"
        style="width:100%;margin-bottom:0;"
        type="submit"
        value="Reset Password">
    </form>
  </div>
</div>