<style>
  body {
    background-image: radial-gradient(circle farthest-corner at right bottom, rgba(156,181,213,0.75) 0%, rgba(126,175,194,0.75) 28%, rgba(175,137,97,0.75) 57%, rgba(101,40,26,0.75) 100%), url(/images/bg/building-731207.jpg) !important;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
  }
  #main-container > div {
    min-height: auto;
  }
</style>
<div class="passreset_cont">
  <div class="passreset_logo">
    <%= image_tag @tenant.try(:logo) || "/images/insureio-blk.svg" %>
  </div>
  <h3 class="text-center">Your password reset email has been sent!</h3>
  <div ng-repeat="bulletin in bulletins | reverse"  class="alert {{bulletin.klass}}">
    {{bulletin.text}}
  </div>
  <div class="fieldset">
      <div class="alert alert-info">
        Please check your email, as the link is time-sensitive and will expire quickly. Don't see our email in your inbox? Be sure to check your spam folder.
        <br><br>
        If your link expires before you can rest your password, return to the login screen or the password reset page and request a new email.
      </div>

      <a href="/login" class="btn btn-primary" style="width:100%;margin-bottom:0;">Login</a>
  </div>
</div>
