\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{-12px}
  \hspace{490px}
  <%= checkbox [2,4].include?(cons.last_applied_for_life_ins_outcome_id), name:"section_13_declined_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{521px}
  <%= checkbox ![2,4].include?(cons.last_applied_for_life_ins_outcome_id), name:"section_13_declined_no", width:"7px", height:"7px" %>

  \vspace{21px}
  \hspace{19px}
  <%= textfield kase.ext['nmb_declined_why'], name:"section_13_declined_description", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{5px}
  \hspace{490px}
  <%= checkbox has_coverage?, name:"section_13_tl_existing_contract_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{521px}
  <%= checkbox !has_coverage?, name:"section_13_tl_existing_contract_no", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{490px}
  <%= checkbox nil, name:"section_13_tl_replace_or_change_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{521px}
  <%= checkbox true, name:"section_13_tl_replace_or_change_no", width:"7px", height:"7px" %>

  \vspace{51px}
  \hspace{19px}
  <%= textfield replacing[1-1]&.consumer&.full_name, name:"section_13_policy_1_insured", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield carrier_name(replacing[1-1]), name:"section_13_policy_1_company", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{18px}
  \hspace{19px}
  <%= textfield replacing[1-1]&.effective_date, name:"section_13_policy_1_issue_date", borderwidth:"0", width:"10em", maxlen:12 %>

  \vspace{-12px}
  \hspace{129px}
  <%= textfield replacing[1-1]&.policy_number, name:"section_13_policy_1_number", borderwidth:"0", width:"12em", maxlen:21 %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield replacing[1-1]&.face_amount, name:"section_13_policy_1_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{-13px}
  \hspace{432px}
  <%= checkbox replacing[1-1]&.product_cat&.id == 1, name:"section_13_policy_1_life_insurance", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{506px}
  <%= checkbox replacing[1-1]&.product_cat&.id == 2, name:"section_13_policy_1_annuity", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{19px}
  <%= textfield replacing[2-1]&.consumer&.full_name, name:"section_13_policy_2_insured", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield carrier_name(replacing[2-1]), name:"section_13_policy_2_company", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{18px}
  \hspace{19px}
  <%= textfield replacing[2-1]&.effective_date, name:"section_13_policy_2_issue_date", borderwidth:"0", width:"10em", maxlen:12 %>

  \vspace{-12px}
  \hspace{129px}
  <%= textfield replacing[2-1]&.policy_number, name:"section_13_policy_2_number", borderwidth:"0", width:"12em", maxlen:21 %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield replacing[2-1]&.face_amount, name:"section_13_policy_2_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{-13px}
  \hspace{432px}
  <%= checkbox replacing[2-1]&.product_cat&.id == 1, name:"section_13_policy_2_life_insurance", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{506px}
  <%= checkbox replacing[2-1]&.product_cat&.id == 2, name:"section_13_policy_2_annuity", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{19px}
  <%= textfield replacing[3-1]&.consumer&.full_name, name:"section_13_policy_3_insured", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield carrier_name(replacing[3-1]), name:"section_13_policy_3_company", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{18px}
  \hspace{19px}
  <%= textfield replacing[3-1]&.effective_date, name:"section_13_policy_3_issue_date", borderwidth:"0", width:"10em", maxlen:12 %>

  \vspace{-12px}
  \hspace{129px}
  <%= textfield replacing[3-1]&.policy_number, name:"section_13_policy_3_number", borderwidth:"0", width:"12em", maxlen:21 %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield replacing[3-1]&.face_amount, name:"section_13_policy_3_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{-13px}
  \hspace{432px}
  <%= checkbox replacing[3-1]&.product_cat&.id == 1, name:"section_13_policy_3_life_insurance", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{506px}
  <%= checkbox replacing[3-1]&.product_cat&.id == 2, name:"section_13_policy_3_annuity", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{19px}
  <%= textfield replacing[4-1]&.consumer&.full_name, name:"section_13_policy_4_insured", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield carrier_name(replacing[4-1]), name:"section_13_policy_4_company", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{18px}
  \hspace{19px}
  <%= textfield replacing[4-1]&.effective_date, name:"section_13_policy_4_issue_date", borderwidth:"0", width:"10em", maxlen:12 %>

  \vspace{-12px}
  \hspace{129px}
  <%= textfield replacing[4-1]&.policy_number, name:"section_13_policy_4_number", borderwidth:"0", width:"12em", maxlen:21 %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield replacing[4-1]&.face_amount, name:"section_13_policy_4_coverage_amount", borderwidth:"0", width:"16em" %>

  \vspace{-13px}
  \hspace{432px}
  <%= checkbox replacing[4-1]&.product_cat&.id == 1, name:"section_13_policy_4_life_insurance", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{506px}
  <%= checkbox replacing[4-1]&.product_cat&.id == 2, name:"section_13_policy_4_annuity", width:"7px", height:"7px" %>

  \vspace{70px}
  \hspace{432px}
  <%= checkbox kase.ext['nmb_heart_stroke_cancer'], name:"section_14_pi_heart_stroke_cancer_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !kase.ext['nmb_heart_stroke_cancer'], name:"section_14_pi_heart_stroke_cancer_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_heart_stroke_cancer_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_heart_stroke_cancer_no", width:"7px", height:"7px" %>

  \vspace{17px}
  \hspace{432px}
  <%= checkbox has_dui, name:"section_14_pi_dui_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !has_dui, name:"section_14_pi_dui_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_dui_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_dui_no", width:"7px", height:"7px" %>

  \vspace{44px}
  \hspace{432px}
  <%= checkbox has_dl_suspension, name:"section_14_pi_suspended_license_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !has_dl_suspension, name:"section_14_pi_suspended_license_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_suspended_license_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_suspended_license_no", width:"7px", height:"7px" %>

  \vspace{3px}
  \hspace{188px}
  <%= textfield @cons.dln, name:"section_14_pi_dl_number", borderwidth:"0", width:"10em", maxlen:17 %>

  \vspace{-12px}
  \hspace{358px}
  <%= textfield @cons.dl_state&.abbrev, name:"section_14_pi_dl_state", borderwidth:"0", width:"4em" %>

  \vspace{4px}
  \hspace{198px}
  <%= textfield nil, name:"section_14_si_dl_number", borderwidth:"0", width:"9em" %>

  \vspace{-12px}
  \hspace{358px}
  <%= textfield nil, name:"section_14_si_dl_state", borderwidth:"0", width:"4em" %>

  \vspace{7px}
  \hspace{432px}
  <%= checkbox has_felony, name:"section_14_pi_felony_conviction_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !has_felony, name:"section_14_pi_felony_conviction_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_felony_conviction_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_felony_conviction_no", width:"7px", height:"7px" %>

  \vspace{7px}
  \hspace{432px}
  <%= checkbox has_pending_felony, name:"section_14_pi_pending_felony_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !has_pending_felony, name:"section_14_pi_pending_felony_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_pending_felony_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_pending_felony_no", width:"7px", height:"7px" %>

  \vspace{7px}
  \hspace{432px}
  <%= checkbox on_probation, name:"section_14_pi_on_probation_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !on_probation, name:"section_14_pi_on_probation_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_on_probation_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_on_probation_no", width:"7px", height:"7px" %>

  \vspace{22px}
  \hspace{20px}
  <%= textfield crime_details.join('; '), name:"section_14_crimes_description", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{22px}
  \hspace{432px}
  <%= checkbox health.hazardous_avocation_details.military, name:"section_14_pi_armed_forces_member_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !health.hazardous_avocation_details.military, name:"section_14_pi_armed_forces_member_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_armed_forces_member_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_armed_forces_member_no", width:"7px", height:"7px" %>
\end{Form}
