<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close"
      ng-click="$close()"
      data-dismiss="modal">×</a>
    <h4 class="modal-title">
      Bulk Campaign Enrollment
    </h4>
    <a type="button" class="help" 
      href="https://academy.insureio.com/creating-populating-and-using-marketing-campaigns/"
      target="_blank">
      <i class='fa fa-question-circle'></i>
    </a>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body">
    <div class="form-group"
      ng-hide="consumers.consumer_summary">
      <label uib-tooltip="Use 'Reporting' to create a list for bulk campaign enrollment"
        tooltip-placement="top"
        tooltip-trigger="mouseenter">
        Select a saved search
        <i class="fa fa-question-circle"></i>
      </label>
      <select class="form-control"
        ng-model="sequence.reporting_search.id"
        ng-options="o.id as o.name for o in searches"></select>
    </div>
    <div ng-show="consumers.consumer_summary && !consumers.enroll_summary">
      <div class="grid s-row">
        <div class="grid-cell s-column">Total Contacts from Report:</div>
        <div class="grid-cell s-column">{{consumers.consumer_summary.consumer_ids.length}}</div>
      </div>
      <div class="grid s-row">
        <div class="grid-cell s-column">Eligible for Subscription:</div>
        <div class="grid-cell s-column">{{consumers.consumer_summary.filtered_consumer_ids.length}}</div>
      </div>
      <div class="grid s-row">
        <div class="grid-cell s-column">Ineligible/Skipped:</div>
        <div class="grid-cell s-column">{{consumers.consumer_summary.skipped_ids.length}}
          <a
            ng-click="showDetails = ! showDetails"
            ng-show="consumers.failed_count && showDetails"
            class="pull-right">
            Details
            <i class="fa fa-caret-down"></i>
          </a>
          <a
            ng-show="consumers.failed_count && ! showDetails"
            ng-click="showDetails = ! showDetails"
            class="pull-right">
            Details
            <i class="fa fa-caret-up"></i>
          </a>
        </div>
      </div>
      <ng-include ng-if="consumers.failed_list && showDetails"
        src="'/marketing/campaigns/summary_details.html'"></ng-include>
    </div>
    <div class="grid-cell grid--full" ng-show="consumers.enroll_summary">
      <div class="grid s-row">
        <div class="grid-cell s-column">Contacts Successfully Enrolled:</div>
        <div class="grid-cell s-column">{{consumers.enroll_summary.successful_count}}</div>
      </div>
      <div class="grid s-row grid--wrap"
        ng-show="consumers.failed_list">
        <div class="grid-cell s-column">Unsuccessful:</div>
        <div class="grid-cell s-column">
          {{consumers.failed_count}}
          <a ng-show="consumers.failed_count && showDetails"
            ng-click="showDetails = ! showDetails"
            class="pull-right">
            Details
            <i class="fa fa-caret-down"></i>
          </a>
          <a ng-show="consumers.failed_count && ! showDetails"
            ng-click="showDetails = ! showDetails"
            class="pull-right">
            Details
            <i class="fa fa-caret-up"></i>
          </a>
        </div>
        <ng-include src="'/marketing/campaigns/summary_details.html'"
          ng-show="consumers.failed_list && showDetails"></ng-include>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="checkbox checkbox-primary"
      ng-hide="consumers.consumer_summary">
      <input id="can-spam" type="checkbox"
        ng-model="sequence.checked">
      <label for="can-spam">
        I attest that all emails being sent are NOT being sent to a purchased list and that it complies with
        <a href="https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business"
          target="_blank">
          CAN-SPAM Act Law
        </a>.
      </label>
    </div>
    <a ng-click="$close()" class="btn pull-left">Close</a>
    <a ng-hide="consumers.consumer_summary"
      ng-disabled="(sequence.checked == 0 || sequence.checked == null)"
      ng-click="buildConsumerList(sequence, sequence.reporting_search.id)" 
      class="btn btn-primary">
      Enroll
    </a>
    <a ng-show="consumers.consumer_summary &&
        !consumers.enroll_summary"
      ng-disabled="subscriptionInProgress"
      ng-click="enrollConsumers(sequence,
      consumers.consumer_summary.filtered_consumer_ids)"
      class="btn btn-primary">
      Enroll
    </a>
  </div>
</div>