<div class="table grid-cell grid--full">
  <div class="table-tr table-header">
      <div>ID</div>
        <div>Name</div>
        <div>Reason</div>
  </div>
  <span ng-repeat="(id, error) in consumers.failed_list">
    <div class="table-tr">
      <div><a ng-href="/consumers/{{id}}">{{id}}</a></div>
      <div><a ng-href="/consumers/{{id}}">{{error.name}}</a></div>
      <div>{{error.message}}</div>
    </div>
  </span>
</div>
