	.email-type-selector
	{
		width: 300px;
		box-sizing: content-box !important;
	}

	.email-type-selector div
	{
		box-sizing: content-box !important;
	}

	.email-type
	{
		height: 50px;
		border:1px solid silver;
		width: 300px;
		margin: 2px;
	}

	.email-active {
		background-color: lightgray;
	}

	.email-active * label {
		color: white;
	}

	.email-image {
		float:left;
	}

	.email-type-label
	{
		height: 50px;
		text-align:center;
	    width:230px;
	    display: table-cell;
	    vertical-align:middle;
	}

	.email-arrow {
		width:20px;
		height: 50px;
		text-align:center;
	    display: table-cell;
	}

	.email-arrow label {
		color: gray;
		font-size: 32px;
	    font-family: 'Open Sans', sans-serif;
	    margin-bottom: 0px;
	    line-height: 40px;
	}

	.email-type-label label
	{
	    font-size: 32px;
	    margin-right: 10px;
	    font-family: 'Open Sans', sans-serif;
	    width: 220px;
	    margin-bottom: 0px;
	}
	.clickable-overlay {
		height: 50px;
		width: 300px;
		position: relative;
		bottom: 50px;
		z-index: 100;
		cursor: pointer;
	}