<div id="consumer-activity" class="gray-box" style="display: block;">
  <div class="panel-group" id="accordion">
    <div ng-repeat="e in events" class="panel">
      <div class="panel-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#activity-{{e.uid}}">       
          <div class="date-time">
            <i ng-class="e.icon"></i><br />
            <small>{{ e.date }}</small><br />
            <small class="light-blue">{{e.time_ago}}</small>
          </div>
          <div class="activity">
            <small><strong>{{e.name}}</strong></small><br>
            <small>Message:
            {{e.message.template.name}}
            </small>
          </div>
          <div class="clearfix"></div>
        </a>
      </div> <!-- / .panel-heading -->
      <div ng-if="e.message" id="activity-{{e.uid}}" class="panel-collapse collapse">
        <div class="panel-body">
          <small>
            <a href="/marketing/messages/{{e.message.id}}" target="_blank">
              <i class="fa fa-eye"></i> Preview Email
            </a>
            <div ng-if="e.message.task">
              Sent by Task:
              {{e.message.task.name}}, created {{e.message.task.created_at}}
            </div>
            <div ng-if="e.message.blast">
              Sent by Blast:
              {{e.message.blast.id}}, sent {{e.message.blast.created_at}}
            </div>
            <div ng-if="e.properties.url">
              URL: <a href="{{e.properties.url}}" target="_blank">
                {{e.properties.url}} <i class="fa fa-external-link"></i>
              </a><br/>
            </div>
            <div ng-if="e.properties.link_text">
              Link Text: {{e.properties.link_text}} <i class="fa fa-external-link"></i>
              <br/>
            </div>
            <div ng-if="e.message.recipient">
              Recipient Email: {{e.message.recipient}}
            </div>
            <div ng-if="e.participant">2015-05-01T12:14:47-07:00
              Participant:
              {{e.participant_type_human}}
              {{e.participant.short_id}}<br />
              Participant Name:{{e.participant.name}}
            </div>
            <div ng-if="e.owner">
              Agent:   {{e.owner.name}}
            </div>
            <div ng-if="e.brand">
              Profile: {{e.brand.name}}
            </div>
            
            <div ng-if="e.visit">
              IP:          {{e.visit.ip}}<br />
              Browser:     {{e.visit.browser}}<br />
              OS:          {{e.visit.os}}<br />
              Device Type: {{e.visit.device_type}}<br />
              Region:      {{e.visit.region}}<br />
              City:        {{e.visit.city}}<br />
            </div>
          </small>
        </div> <!-- / .panel-body -->
      </div> <!-- / .collapse -->
    </div> <!-- / .panel -->
  </div>
</div>