\begin{Form}

  \vspace{0px}
  \hspace{0px}

  %%%%%%%%%%%%%%%%%%%%%
  % Universal Life
  %%%%%%%%%%%%%%%%%%%%%

  \vspace{1px}
  \hspace{21px}
  <%= checkbox nil, name:"section_10_ul_plan_single_life", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{80px}
  <%= checkbox nil, name:"section_10_ul_plan_joint_lives", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{141px}
  <%= checkbox nil, name:"section_10_ul_plan_other", width:"7px", height:"7px" %>

  \vspace{-13px}
  \hspace{180px}
  <%= textfield nil, name:"section_10_ul_plan_other_explanation", borderwidth:"0", width:"20em" %>

  \vspace{-11px}
  \hspace{413px}
  <%= checkbox nil, name:"section_10_ul_death_benefit_option_a", width:"7px", height:"7px" %>

  \vspace{-11px}
  \hspace{466px}
  <%= checkbox nil, name:"section_10_ul_death_benefit_option_b", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_10_ul_amount_of_insurance", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{291px}
  <%= textfield nil, name:"section_10_ul_amount_of_increase_in_insurance", borderwidth:"0", width:"25em" %>

  \vspace{25px}
  \hspace{21px}
  <%= checkbox nil, name:"section_10_ul_accelerated_death_benefit_rider", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{291px}
  <%= checkbox nil, name:"section_10_ul_other_insured_rider", width:"7px", height:"7px" %>

  \vspace{-1px}
  \hspace{315px}
  <%= textfield nil, name:"section_10_ul_other_insured_rider_amount", borderwidth:"0", width:"15em", height:"8px" %>

  \vspace{-4px}
  \hspace{21px}
  <%= checkbox nil, name:"section_10_ul_accidental_death_benefit_rider", width:"7px", height:"7px" %>

  \vspace{-1px}
  \hspace{45px}
  <%= textfield nil, name:"section_10_ul_accidental_death_benefit_rider_amount", borderwidth:"0", width:"15em", height:"8px" %>

  \vspace{-12px}
  \hspace{291px}
  <%= checkbox nil, name:"section_10_ul_guaranteed_insurability_option_rider", width:"7px", height:"7px" %>

  \vspace{-1px}
  \hspace{315px}
  <%= textfield nil, name:"section_10_ul_guaranteed_insurability_option_rider_amount", borderwidth:"0", width:"15em", height:"8px" %>

  \vspace{-4px}
  \hspace{21px}
  <%= checkbox nil, name:"section_10_ul_childrens_term_insurance_rider", width:"7px", height:"7px" %>

  \vspace{13px}
  \hspace{45px}
  <%= textfield nil, name:"section_10_ul_childrens_term_insurance_rider_amount", borderwidth:"0", width:"15em", height:"8px" %>

  \vspace{-26px}
  \hspace{291px}
  <%= checkbox nil, name:"section_10_ul_additional_term_insurance_rider", width:"7px", height:"7px" %>

  \vspace{2px}
  \hspace{303px}
  <%= checkbox nil, name:"section_10_ul_additional_term_insurance_rider_insured", width:"7px", height:"7px" %>

  \vspace{-14px}
  \hspace{355px}
  <%= textfield nil, name:"section_10_ul_additional_term_insurance_rider_insured_amount", borderwidth:"0", width:"15em" %>

  \vspace{4px}
  \hspace{303px}
  <%= checkbox nil, name:"section_10_ul_additional_term_insurance_rider_secondary", width:"7px", height:"7px" %>

  \vspace{-13px}
  \hspace{365px}
  <%= textfield nil, name:"section_10_ul_additional_term_insurance_rider_secondary_amount", borderwidth:"0", width:"15em" %>

  \vspace{2px}
  \hspace{303px}
  <%= checkbox nil, name:"section_10_ul_additional_term_insurance_rider_joint", width:"7px", height:"7px" %>

  \vspace{-13px}
  \hspace{345px}
  <%= textfield nil, name:"section_10_ul_additional_term_insurance_rider_joint_amount", borderwidth:"0", width:"15em" %>

  \vspace{-4px}
  \hspace{21px}
  <%= checkbox nil, name:"section_10_ul_waiver_of_premium_benefit_rider", width:"7px", height:"7px" %>

  \vspace{2px}
  \hspace{33px}
  <%= checkbox nil, name:"section_10_ul_primary_insured_monthly_benefit", width:"7px", height:"7px" %>

  \vspace{-14px}
  \hspace{218px}
  <%= textfield nil, name:"section_10_ul_primary_insured_monthly_benefit_amount", borderwidth:"0", width:"6em" %>

  \vspace{4px}
  \hspace{33px}
  <%= checkbox nil, name:"section_10_ul_joint_monthly_benefit", width:"7px", height:"7px" %>

  \vspace{-13px}
  \hspace{175px}
  <%= textfield nil, name:"section_10_ul_joint_monthly_benefit_amount", borderwidth:"0", width:"10.3em" %>

  \vspace{2px}
  \hspace{33px}
  <%= checkbox nil, name:"section_10_ul_secondary_insured_monthly_benefit", width:"7px", height:"7px" %>

  \vspace{-13px}
  \hspace{228px}
  <%= textfield nil, name:"section_10_ul_secondary_insured_monthly_benefit_amount", borderwidth:"0", width:"5em" %>

  \vspace{3px}
  \hspace{33px}
  <%= checkbox nil, name:"section_10_ul_increase_monthly_benefit", width:"7px", height:"7px" %>

  \vspace{-13px}
  \hspace{198px}
  <%= textfield nil, name:"section_10_ul_increase_monthly_benefit_amount", borderwidth:"0", width:"8em" %>

  \vspace{-56px}
  \hspace{291px}
  <%= checkbox nil, name:"section_10_ul_cost_of_living_rider", width:"7px", height:"7px" %>

  \vspace{9px}
  \hspace{291px}
  <%= checkbox nil, name:"section_10_ul_waiver_of_monthly_deduction_rider", width:"7px", height:"7px" %>

  \vspace{16px}
  \hspace{291px}
  <%= checkbox nil, name:"section_10_other_ul_rider", width:"7px", height:"7px" %>

  \vspace{-1px}
  \hspace{315px}
  <%= textfield nil, name:"section_10_other_ul_rider_amount", borderwidth:"0", width:"15em", height:"8px" %>

  %%%%%%%%%%%%%%%%%%%%%
  % Whole Life
  %%%%%%%%%%%%%%%%%%%%%

  \vspace{35px}
  \hspace{21px}
  <%= checkbox nil, name:"section_11_wl_plan_whole_life_insurance_plan", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{80px}
  <%= checkbox nil, name:"section_11_wl_plan_single_pay_insurance_plan", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{139px}
  <%= checkbox nil, name:"section_11_wl_plan_10_pay_insurance_plan", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{183px}
  <%= checkbox nil, name:"section_11_wl_plan_20_pay_insurance_plan", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{228px}
  <%= checkbox nil, name:"section_11_wl_plan_other_insurance_plan", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{265px}
  <%= textfield nil, name:"section_11_wl_plan_other_insurance_plan_explanation", borderwidth:"0", width:"27em" %>

  \vspace{22px}
  \hspace{21px}
  <%= textfield whole_life?.presence && currency(kase.face_amount, precision: 0), name:"section_11_wl_amount_of_insurance", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{160px}
  <%= checkbox whole_life? && kase.autoloan_premium, name:"section_11_wl_automatic_premium_loan_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{192px}
  <%= checkbox whole_life? && kase.autoloan_premium == false, name:"section_11_wl_automatic_premium_loan_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{290px}
  <%= checkbox whole_life? && kase.dividend_type_id == 1, name:"section_11_wl_dividend_option_accumulation", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{361px}
  <%= checkbox whole_life? && kase.dividend_type_id == 3, name:"section_11_wl_dividend_option_paid_up", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{410px}
  <%= checkbox whole_life? && kase.dividend_type_id == 4, name:"section_11_wl_dividend_option_applied_to_premium", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{506px}
  <%= checkbox whole_life? && kase.dividend_type_id == 2, name:"section_11_wl_dividend_option_cash", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{21px}
  <%= checkbox nil, name:"section_11_wl_accelerated_death_benefit_rider", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{290px}
  <%= checkbox whole_life? && wop_rider?, name:"section_11_wl_waiver_of_premium_benefit_rider", width:"7px", height:"7px" %>

  \vspace{3px}
  \hspace{21px}
  <%= checkbox whole_life? && adb_rider, name:"section_11_wl_accidental_death_benefit_rider", width:"7px", height:"7px" %>

  \vspace{2px}
  \hspace{41px}
  <%= textfield whole_life?.presence && adb_rider, name:"section_11_wl_accidental_death_benefit_rider_amount", borderwidth:"0", width:"12em" %>

  \vspace{-26px}
  \hspace{290px}
  <%= checkbox nil, name:"section_11_wl_guaranteed_insurability_option_rider", width:"7px", height:"7px" %>

  \vspace{2px}
  \hspace{311px}
  <%= textfield nil, name:"section_11_wl_guaranteed_insurability_option_rider_amount", borderwidth:"0", width:"12em" %>

  \vspace{9px}
  \hspace{21px}
  <%= checkbox whole_life? && child_rider, name:"section_11_wl_childrens_term_insurance_rider", width:"7px", height:"7px" %>

  \vspace{15px}
  \hspace{41px}
  <%= textfield whole_life?.presence && child_rider, name:"section_11_wl_childrens_term_insurance_rider_amount", borderwidth:"0", width:"12em" %>

  \vspace{-39px}
  \hspace{290px}
  <%= checkbox nil, name:"section_11_wl_other_rider_1", width:"7px", height:"7px" %>

  \vspace{2px}
  \hspace{311px}
  <%= textfield nil, name:"section_11_wl_other_rider_amount_1", borderwidth:"0", width:"12em" %>

  \vspace{5px}
  \hspace{290px}
  <%= checkbox nil, name:"section_11_wl_other_rider_2", width:"7px", height:"7px" %>

  \vspace{2px}
  \hspace{311px}
  <%= textfield nil, name:"section_11_wl_other_rider_amount_2", borderwidth:"0", width:"12em" %>

  %%%%%%%%%%%%%%%%%%%%%
  % Term Life
  %%%%%%%%%%%%%%%%%%%%%

  \vspace{35px}
  \hspace{21px}
  <%= checkbox @quote&.duration_id == 2, name:"section_12_tl_plan_15_year_term", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{69px}
  <%= checkbox @quote&.duration_id == 3, name:"section_12_tl_plan_20_year_term", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{116px}
  <%= checkbox @quote&.duration_id == 5, name:"section_12_tl_plan_30_year_term", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{162px}
  <%= checkbox ![2,3,5].include?(quote&.duration_id), name:"section_12_tl_plan_other_term", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{200px}
  <%= textfield (![2,3,5].include?(quote&.duration_id)).presence && quote.duration&.name, name:"section_12_tl_plan_other_term_description", borderwidth:"0", width:"8em" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield currency(kase.face_amount, precision: 0), name:"section_12_tl_amount_of_insurance", borderwidth:"0", width:"12em" %>

  \vspace{30px}
  \hspace{21px}
  <%= checkbox !whole_life?, name:"section_12_tl_accelerated_death_benefit_rider", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{290px}
  <%= checkbox !whole_life? && wop_rider?, name:"section_12_tl_waiver_of_premium_benefit_rider", width:"7px", height:"7px" %>

  \vspace{14px}
  \hspace{21px}
  <%= checkbox !whole_life? && adb_rider, name:"section_12_tl_accidental_death_benefit_rider", width:"7px", height:"7px" %>

  \vspace{3px}
  \hspace{40px}
  <%= textfield (!whole_life?).presence && adb_rider, name:"section_12_tl_accidental_death_benefit_rider_amount", borderwidth:"0", width:"12em" %>

  \vspace{-27px}
  \hspace{290px}
  <%= checkbox nil, name:"section_12_tl_other_rider_1", width:"7px", height:"7px" %>

  \vspace{3px}
  \hspace{311px}
  <%= textfield nil, name:"section_12_tl_other_rider_amount_1", borderwidth:"0", width:"12em" %>

  \vspace{12px}
  \hspace{21px}
  <%= checkbox !whole_life? && child_rider, name:"section_12_tl_childrens_insurance_rider", width:"7px", height:"7px" %>

  \vspace{28px}
  \hspace{40px}
  <%= textfield (!whole_life?).presence && child_rider, name:"section_12_tl_childrens_insurance_rider_amount", borderwidth:"0", width:"12em" %>

  \vspace{-53px}
  \hspace{290px}
  <%= checkbox nil, name:"section_12_tl_other_rider_2", width:"7px", height:"7px" %>

  \vspace{3px}
  \hspace{311px}
  <%= textfield nil, name:"section_12_tl_other_rider_amount_2", borderwidth:"0", width:"12em" %>
\end{Form}
