
<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-635(7-15)page1.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--(Proposed) Insured's name-->
    <div style="position:absolute; top: 111px; left: 201px;">
      <%= @consumer.full_name %>
    </div>
    <!--New Policy number-->
    <div style="position:absolute; top: 111px; left: 521px;">
      
    </div>
  </div>
</div>

<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-635(7-15)page2.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--Acknowledgement-->
    <div name="Date" style="position:absolute; top: 624px; left: 108px;">
      <%= raw @policy.date_signed_by_consumer %>
    </div>
    <div name="Proposed Insured's Signature" style="position:absolute; top: 660px; left: 217px; max-width: 300px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Signature of Owner" style="position:absolute; top: 705px; left: 163px;">
      <%= raw @owner_signature %>
    </div>
    <div name="Signature of Second Insured" style="position:absolute; top: 705px; left: 485px;">
      n/a
    </div>
    <div name="Signature of Witness" style="position:absolute; top: 755px; left: 167px; max-width: 250px;">
      <%= raw @agent_signature %>
    </div>
  </div>
</div>
