
  <div class="page" style="-webkit-transform: scale(1,1)">
    <div class="bg-img no-offset">
      <img src="<%= @make_svg_data_url.call('ML-635-MN(5-10).png','image/png') %>" alt="">
    </div>
    <div class="consumer-data">
      <div name="Proposed Insured's Name" style="position:absolute; top: 80px; left: 191px;">
        <%= @consumer.full_name %>
      </div>

      <div name="New Application" style="position:absolute; top: 125px; left: 13px;"
        class="<%=@replaced_motorists_policies.present? ? 'unchecked-box' : 'checked-box' %>"></div>
      <div name="Existing Motorists Life Policy" style="position:absolute; top: 125px; left: 175px;"

        class="<%=@replaced_motorists_policies.present? ? 'checked-box' : 'unchecked-box' %>"></div>
      <div name="Policy Number" style="position:absolute; top: 120px; left: 401px;">
        <%=@replaced_motorists_policies.first.try(:policy_number) %>
      </div>
      <div name="Date" style="position:absolute; top: 830px; left: 81px;">
        <%= @policy.date_signed_by_consumer %>
      </div>
      <div name="Proposed Insured Signature" style="position:absolute; top: 830px; left: 293px;">
        <%= raw @consumer_signature %>
      </div>
      <div name="Other Insured Signature" style="position:absolute; top: 870px; left: 293px;">
        n/a
      </div>
      <div name="Signature of Witness" style="position:absolute; top: 911px; left: 2px;">
        <%= raw @agent_signature %>
      </div>
      <div name="Signature of Owner" style="position:absolute; top: 911px; left: 293px;">
        <%= raw @owner_signature %>
      </div>
    </div>
  </div>
