<div class="page" style="-webkit-transform: scale(1.1,1.1) translate(0px, -30px);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ICC15-2501(3-15)_p2.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <div style="position:absolute; top: 102px; left: 638px;"
      class="<%= @rtt_answers[:has_declined_substandard_or_pending_apps] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 102px; left: 666px;"
      class="<%= @rtt_answers[:has_declined_substandard_or_pending_apps] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 138px; left: 638px;"
      class="<%= @rtt_answers[:applied_in_past_120_days] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 138px; left: 666px;"
      class="<%= @rtt_answers[:applied_in_past_120_days] ? 'unchecked-box' : 'checked-box' %>"></div>


    <div style="position:absolute; top: 167px; left: 638px;"
      class="<%= @rtt_answers[:has_coverage_in_force] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 167px; left: 666px;"
      class="<%= @rtt_answers[:has_coverage_in_force] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 184px; left: 643px; font-size: 10px;">
      <%= number_with_precision( @rtt_answers[:total_coverage_in_force], :precision => 0, :delimiter => ',') %>
    </div>

      <!-- This question has two sets of yes/no checkboxes. They appear to indicate the same thing. -->

    <div style="position:absolute; top: 213px; left: 213px;"
      class="<%= @rtt_answers[:is_group] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 213px; left: 241px;"
      class="<%= @rtt_answers[:is_group] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 204px; left: 638px;"
      class="<%= @rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 204px; left: 666px;"
      class="<%= @rtt_answers[:is_replacing] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 257px; left: 638px;"
      class="<%= @rtt_answers[:settlement] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 257px; left: 666px;"
      class="<%= @rtt_answers[:settlement] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 276px; left: 638px;"
      class="<%= @rtt_answers[:funded_by_financing_agreement] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 276px; left: 666px;"
      class="<%= @rtt_answers[:funded_by_financing_agreement] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 312px; left: 638px;"
      class="<%= @rtt_answers[:agreement_to_sell_or_transfer] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 312px; left: 666px;"
      class="<%= @rtt_answers[:agreement_to_sell_or_transfer] ? 'unchecked-box' : 'checked-box' %>"></div>

      <div style="position:absolute; top: 334px; left: 190px; font-size: 11px; max-width:432px; word-wrap:break-word">
        <%= @rtt_answers[:agreement_to_sell_or_transfer_detail] or 'n/a' %>
      </div>

      <!-- These are all health questions. Check scor health questions. -->
    <div style="position:absolute; top: 420px; left: 638px;"
      class="<%= @scor_health_answers[:RMM01] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 420px; left: 666px;"
      class="<%= @scor_health_answers[:RMM01] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 467px; left: 638px;"
      class="<%= @scor_health_answers[:RMM02] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 467px; left: 666px;"
      class="<%= @scor_health_answers[:RMM02] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 524px; left: 638px;"
      class="<%= @scor_health_answers[:RMM03] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 524px; left: 666px;"
      class="<%= @scor_health_answers[:RMM03] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 581px; left: 638px;"
      class="<%= @scor_health_answers[:RMM04] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 581px; left: 666px;"
      class="<%= @scor_health_answers[:RMM04] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 635px; left: 638px;"
      class="<%= @scor_health_answers[:RMM05] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 635px; left: 666px;"
      class="<%= @scor_health_answers[:RMM05] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 657px; left: 638px;"
      class="<%= @scor_health_answers[:RMM06] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 657px; left: 666px;"
      class="<%= @scor_health_answers[:RMM06] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 704px; left: 638px;"
      class="<%= @scor_health_answers[:RMM07] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 704px; left: 666px;"
      class="<%= @scor_health_answers[:RMM07] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 732px; left: 638px;"
      class="<%= @scor_health_answers[:RMM08] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 732px; left: 666px;"
      class="<%= @scor_health_answers[:RMM08] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 754px; left: 638px;"
      class="<%= @scor_health_answers[:RMM09] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 754px; left: 666px;"
      class="<%= @scor_health_answers[:RMM09] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 795px; left: 638px;"
      class="<%= @scor_health_answers[:RMM10] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 795px; left: 666px;"
      class="<%= @scor_health_answers[:RMM10] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 823px; left: 638px;"
      class="<%= @scor_health_answers[:RMM11] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 823px; left: 666px;"
      class="<%= @scor_health_answers[:RMM11] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 855px; left: 638px;"
      class="<%= @scor_health_answers[:RMM12] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 855px; left: 666px;"
      class="<%= @scor_health_answers[:RMM12] ? 'unchecked-box' : 'checked-box' %>"></div>

    <div style="position:absolute; top: 891px; left: 638px;"
      class="<%= @scor_health_answers[:RMM13] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 891px; left: 666px;"
      class="<%= @scor_health_answers[:RMM13] ? 'unchecked-box' : 'checked-box' %>"></div>
    <div id="remarks" style="position:absolute; top: 907px; left: 115px; font-size: 11px; max-width:577px; word-wrap:break-word">
      <%= @remarks %>
    </div>
  </div>
</div>