<div class="page" style="-webkit-transform: scale(1.1,1.1) translate(0px, -40px);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ICC15-2501(3-15)_p5.svg') %>" alt="">
  </div>
  <div class="consumer-data">
      <!-- Writing agent(s): -->
      <div style="position:absolute; top: 158px; left: 90px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= @policy.agent.full_name %>
      </div>
      <div style="position:absolute; top: 156px; left: 400px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= @contract_number %>
      </div>
      <div style="position:absolute; top: 156px; left: 617px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%# First Agent's Split Percentage. In our case, always the same. %>
        100
      </div>
      <div style="position:absolute; top: 190px; left: 90px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%# Second Agent's Name %>
        n/a
      </div>
      <div style="position:absolute; top: 175px; left: 400px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%# Second Agent's Number. See above. %>
        n/a
      </div>
      <div style="position:absolute; top: 175px; left: 617px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%# Second Agent's Split Percentage %>
        0
      </div>
      <!-- General Agent -->
      <div style="position:absolute; top: 238px; left: 93px; font-size: 11px; max-width:577px; word-wrap:break-word">
        n/a
      </div>
      <div style="position:absolute; top: 235px; left: 428px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%# General Agent's Number. See above. %>
        n/a
      </div>
      <div style="position:absolute; top: 235px; left: 617px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%# General Agent's Split Percentage %>
        0
      </div>
      <div style="position:absolute; top: 277px; left: 57px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%# Label Text: "Please list any other Agent(s)..."
          Really!? How many people does it take? %>
        n/a
      </div>

      <!-- Text: "Family Security" -->
      <div style="position:absolute; top: 320px; left: 55px;"
        class="<%= @rtt_answers[:purpose_of_insurance]=='Family Security' ? 'checked-box'   : 'unchecked-box' %>"></div>
      <!-- Label Text: "Buy/Sell" -->
      <div style="position:absolute; top: 320px; left: 333px;"
        class="<%= @rtt_answers[:purpose_of_insurance]=='Buy-Sell Agreement' ? 'checked-box'   : 'unchecked-box' %>"></div>

      <!-- Label Text: "Personal Loan/Residential Mortgage" -->
      <div style="position:absolute; top: 336px; left: 55px;"
        class="<%= @rtt_answers[:purpose_of_insurance]=='Personal Loan/Residential Mortgage' ? 'checked-box'   : 'unchecked-box' %>"></div>
      <!-- Label Text: "Key Executive" -->
      <div style="position:absolute; top: 336px; left: 332px;"
        class="<%= @rtt_answers[:purpose_of_insurance]=='Key Executive' ? 'checked-box'   : 'unchecked-box' %>"></div>

      <!-- Label Text: "Business Loan" -->
      <div style="position:absolute; top: 352px; left: 55px;"
        class="<%= @rtt_answers[:purpose_of_insurance]=='Business Loan' ? 'checked-box'   : 'unchecked-box' %>"></div>
      <!-- Label Text: "Other" -->
      <div style="position:absolute; top: 352px; left: 333px;"
        class="<%= @rtt_answers[:purpose_of_insurance]=='Other' ? 'checked-box'   : 'unchecked-box' %>"></div>
      <div style="position:absolute; top: 351px; left: 376px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= @policy.purpose_type.try(:name) if @rtt_answers[:purpose_of_insurance]=='Other' %>
      </div>

      <!-- Label Text: "Cash With Application". Should always be true for this process. -->
      <div style="position:absolute; top: 409px; left: 55px;"
        class="unchecked-box"></div>
      <div style="position:absolute; top: 409px; left: 288px;"
        class="checked-box"></div>

      <div style="position:absolute; top: 424px; left: 151px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <!-- Amount for first payment. Check whether this should also include one-time application fee. -->
        <%= number_with_precision(@policy.quoting_details.last.modal_premium, :precision => 2, :delimiter => ',') %>
      </div>
      <div style="position:absolute; top: 424px; left: 344px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= @policy.date_processing_started_with_scor.to_s %>
      </div>
      <div style="position:absolute; top: 479px; left: 55px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= @policy.date_processing_started_with_scor.to_s %>
      </div>
      <div style="position:absolute; top: 529px; left: 55px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <!-- Label Text: "Explanation and Special Requests" -->
        <%# We do not collect any data related to this currently. %>
        Consumer-facing RTT process - consumer answered questions and completed application via web interface.<br>
      </div>
      <div style="position:absolute; top: 710px; left: 55px; font-size: 11px; max-width:200px; word-wrap:break-word">
        <%= raw @agent_signature %>
      </div>
      <div style="position:absolute; top: 710px; left: 319px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= @policy.date_processing_started_with_scor.to_s %>
      </div>
  </div>
</div>