<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ICC15-2501(3-15)_p4.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!-- This page has nothing to plug in. -->
  </div>
</div>