<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ICC15-2501(3-15)_p1.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <div style="position:absolute; top: 72px; left: 502px;">
      <!-- First agent number. -->
      <%= @contract_number %>
    </div>
    <div style="position:absolute; top: 72px; left: 635px;">
      <!-- First agent percentage. -->
      <%= '100' %>
    </div>
    <div style="position:absolute; top: 105px; left: 502px;">
    <!-- Second agent number. -->
      <%= 'n/a' %>
    </div>
    <div style="position:absolute; top: 105px; left: 635px;">
      <!-- Second agent percentage. -->
      <%= '0' %>
    </div>
    <div style="position:absolute; top: 123px; left: 571px;">
      <%= @policy.date_processing_started_with_scor.to_s %>
    </div>
    <div style="position:absolute; top: 220px; left: 40px;">
      <%= @consumer.full_name %>
    </div>
    <div style="position:absolute; top: 173px; left: 330px;">
      <%= @consumer.dln %>
    </div>
    <div style="position:absolute; top: 173px; left: 570px;">
      <%= @consumer.state.abbrev %>
    </div>
    <div style="position:absolute; top: 227px; left: 448px;"
      class="<%= @consumer.gender_string.match(/^m/i) ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 227px; left: 477px;"
      class="<%= @consumer.gender_string.match(/^f/i) ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 230px; left: 519px;"
      class="<%= @consumer.marital_status_id==Enum::MaritalStatus.id('Married') ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 230px; left: 559px;"
      class="<%= @consumer.marital_status_id!=Enum::MaritalStatus.id('Married') ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 224px; left: 600px;">
      <%= @consumer.birth_or_trust_date.month %>
    </div>
    <div style="position:absolute; top: 224px; left: 635px;">
      <%= @consumer.birth_or_trust_date.day %>
    </div>
    <div style="position:absolute; top: 224px; left: 662px;">
      <%= @consumer.birth_or_trust_date.year %>
    </div>
    <div style="position:absolute; top: 262px; left: 40px;">
      <span style="display:inline-block;min-width:100px"><%= @consumer.primary_address.street %></span>
    </div>
    <div style="position:absolute; top: 262px; left: 191px;">
      <span style="display:inline-block;min-width:100px"><%= @consumer.primary_address.city %></span>
    </div>
    <div style="position:absolute; top: 262px; left: 290px;">
      <%= @consumer.primary_address.state_abbrev %>
    </div>
    <div style="position:absolute; top: 262px; left: 380px;">
      <%= @consumer.primary_address.zip %>
    </div>
    <div style="position:absolute; top: 262px; left: 380px;">
      <%= @consumer.primary_address.zip %>
    </div>
    <div style="position:absolute; top: 262px; left: 443px;">
      <%= if @consumer.birth_country_id==Enum::Country.id('United States')
            @consumer.birth_state.name
          else
            @consumer.birth_country.name || @consumer.birth_country_custom_name
          end %>
    </div>
    <div style="position:absolute; top: 262px; left: 595px;">
      <%= @consumer.ssn %>
    </div>
    <div style="position:absolute; top: 305px; left: 40px;">
      <%= @consumer.primary_phone.to_s %>
    </div>
    <div style="position:absolute; top: 305px; left: 245px;">
      <%= @consumer.phones.select{|p| p.id!=@consumer.primary_phone_id }.first.to_s %>
    </div>
    <div style="position:absolute; top: 305px; left: 449px;">
      <%= @consumer.primary_address.county_name %>
    </div>
    <div style="position:absolute; top: 289px; left: 617px;"
      class="<%= @consumer.primary_address.is_within_city_limits ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 289px; left: 658px;"
      class="<%= @consumer.primary_address.is_within_city_limits==false ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 348px; left: 40px; font-size: 11px;">
      <%= @consumer.primary_email.value %>
    </div>
    <div style="position:absolute; top: 348px; left: 217px; font-size: 11px;">
      <%= @consumer.occupation.length<14 ? @consumer.occupation : "*See Overflow" %>
    </div>
    <div style="position:absolute; top: 348px; left: 315px; font-size: 11px;">
      <%= @consumer.feet %>'<%= @consumer.inches %>"
    </div>
    <div style="position:absolute; top: 348px; left: 375px; font-size: 11px;">
      <%= @consumer.weight %>
    </div>
    <div style="position:absolute; top: 336px; left: 477px;"
      class="<%= @consumer.citizenship_id==Enum::Citizenship.id('US Citizen') ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 336px; left: 515px;"
      class="<%= @consumer.citizenship_id!=Enum::Citizenship.id('US Citizen') ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 348px; left: 590px; font-size: 11px;">
      <%= @consumer.citizenship_noncitizen_registration_number %>
    </div>
    <div style="position:absolute; top: 422px; left: 45px;"
      class="<%= @policy.quoting_details.last.duration.years==5  ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 443px; left: 45px;"
      class="<%= @policy.quoting_details.last.duration.years==10 ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 422px; left: 168px;"
      class="<%= @policy.quoting_details.last.duration.years==20 ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 443px; left: 168px;"
      class="<%= @policy.quoting_details.last.duration.years==30 ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 422px; left: 260px;"
      class="<%=(true) ? 'checked-box'   : 'unchecked-box' %>"></div><!-- Indicates that there is a face amount. Always true. -->
    <div style="position:absolute; top: 420px; left: 293px; font-size: 11px;">
      <%= number_with_precision(@policy.quoting_details.last.face_amount, :precision => 2, :delimiter => ',')  %>
    </div>
    <div style="position:absolute; top: 401px; left: 421px;"
      class="<%=(true) ? 'checked-box'   : 'unchecked-box' %>"></div><!-- Indicates that there is an accelerated benefit rider. Always true. -->
    <div style="position:absolute; top: 500px; left: 37px;"
      class="<%= @policy.quoting_details.last.premium_mode_id==Enum::PremiumModeOption.id('Annually') ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 500px; left: 91px;"
      class="<%= @policy.quoting_details.last.premium_mode_id==Enum::PremiumModeOption.id('Semi-annl.') ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div style="position:absolute; top: 500px; left: 140px;"
      class="<%= @policy.quoting_details.last.premium_mode_id==Enum::PremiumModeOption.id('Quarterly') ? 'checked-box'   : 'unchecked-box' %>"></div>
      <!-- Form does not include a checkbox for monthly premium mode. -->
    <div style="position:absolute; top: 500px; left: 207px;"
      class="checked-box"></div><!-- EFT should always be checked, as that is currently the only accepted means of payment from RTT path. -->
    <div style="position:absolute; top: 517px; left: 100px;">
      <!-- Amount for first payment. -->
      <%= number_with_precision(@policy.quoting_details.last.modal_premium, :precision => 2, :delimiter => ',') %>
    </div>
    <div style="position:absolute; top: 517px; left: 303px;">
      <%= number_with_precision(@policy.quoting_details.last.modal_premium, :precision => 2, :delimiter => ',') %>
    </div>
    <!-- Paying with credit card? Initially, this will always be unchecked because we will launch with only EFT option. -->
    <div style="position:absolute; top: 521px; left: 545px;"
      class="<%=(false) ? 'checked-box'   : 'unchecked-box' %>"></div>
    <!-- "Draft first premium". Assuming this means charge first payment via EFT, and should be true.-->
    <div style="position:absolute; top: 544px; left: 121px;"
      class="<%=(true) ? 'checked-box'   : 'unchecked-box' %>"></div>
    <!-- Date of withdrawal for first premium payment -->
    <div style="position:absolute; top: 541px; left: 255px; font-size: 11px;">
      <%= @policy.date_processing_started_with_scor.to_s %>
    </div>

    <% first_payer=@policy.stakeholder_relationships.select{|sr| sr.is_payer }.first %>
    <% if first_payer %>
      <div style="position:absolute; top: 590px; left: 108px; font-size: 11px;">
        <%= first_payer.full_name %>
      </div>
      <div style="position:absolute; top: 590px; left: 395px; font-size: 11px;">
        <%= first_payer.primary_email.to_s %>
      </div>
      <div style="position:absolute; top: 614px; left: 78px; font-size: 11px;">
        <%= first_payer.primary_address.to_s %>
      </div>
      <div style="position:absolute; top: 614px; left: 511px; font-size: 11px;">
        <%= first_payer.primary_phone.to_s %>
      </div>
      <div style="position:absolute; top: 640px; left: 167px; font-size: 11px;">
        <%= first_payer.relationship_type.try(:name) %>
      </div>
      <div style="position:absolute; top: 640px; left: 429px; font-size: 11px;">
        <%= first_payer.ssn %>
      </div>
    <% end %>

    <% first_owner=@policy.stakeholder_relationships.select{|sr| sr.is_owner }.first %>
    <% if first_owner %>
      <div style="position:absolute; top:689px; left: 108px; font-size: 11px;">
        <%= @policy.stakeholder_relationships.select{|sr| sr.is_owner }.first.try(:full_name) %>
      </div>
      <div style="position:absolute; top: 689px; left: 395px; font-size: 11px;">
        <%= first_owner.primary_email.to_s %>
      </div>
      <div style="position:absolute; top: 713px; left: 78px; font-size: 11px;">
        <%= first_owner.primary_address.to_s %>
      </div>
      <div style="position:absolute; top: 713px; left: 400px; font-size: 11px;">
        <%= first_owner.primary_phone.to_s %>
      </div>
      <div style="position:absolute; top: 739px; left: 167px; font-size: 11px;">
        <%= first_owner.relationship_type.try(:name) %>
      </div>
      <div style="position:absolute; top: 739px; left: 484px; font-size: 11px;">
        <%= first_owner.ssn %>
      </div>
    <% end %>

      <div style="position:absolute; top: 808px; left: 80px; font-size: 11px;">
        (See Supplemental Form)
      </div>
    <%# These two sections are hidden because we are making all benes show on the supplemental info page.
      This approach may change at some later point in time. %>
    <% if false #!@bene_overflow && @first_beneficiary %>
      <div style="position:absolute; top: 790px; left: 76px; font-size: 11px;">
        <%= @first_beneficiary.full_name %>
      </div>
      <div style="position:absolute; top: 804px; left: 362px; font-size: 8px; max-width: 75px;">
        <%= @first_beneficiary.relationship_type.try(:name) %>
      </div>
      <div style="position:absolute; top: 808px; left: 491px; font-size: 11px;">
        <%= @first_beneficiary.percentage %>
      </div>
      <div style="position:absolute; top: 808px; left: 565px; font-size: 11px;">
        <%= @first_beneficiary.ssn %>
      </div>
    <% end %>

    <% if false #!@bene_overflow && @second_beneficiary %>
      <div style="position:absolute; top: 812px; left: 90px; font-size: 11px;">
        <%= @second_beneficiary.full_name %>
      </div>
      <div style="position:absolute; top: 810px; left: 362px; font-size: 8px; max-width: 75px;">
        <%= @second_beneficiary.relationship_type.try(:name) %>
      </div>
      <div style="position:absolute; top: 812px; left: 491px; font-size: 11px;">
        <%= @second_beneficiary.percentage %>
      </div>
      <div style="position:absolute; top: 812px; left: 565px; font-size: 11px;">
        <%= @second_beneficiary.ssn %>
      </div>
    <% end %>

  </div>
</div>