<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ICC15-2501(3-15)_p3.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <div style="position:absolute; top: 382px; left: 146px; font-size: 11px; max-width:577px; word-wrap:break-word">
      <!-- Amount for first payment. Check whether this should also include one-time application fee. -->
      <%= number_with_precision(@policy.quoting_details.last.modal_premium, :precision => 2, :delimiter => ',') %>
      </div>
      <div style="position:absolute; top: 382px; left: 400px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= @consumer.primary_address.city %>
      </div>
      <div style="position:absolute; top: 382px; left: 520px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= @consumer.primary_address.state.abbrev %>
      </div>
      <div style="position:absolute; top: 411px; left: 74px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= (@policy.date_processing_started_with_scor||Date.today).day %>
      </div>
      <div style="position:absolute; top: 411px; left: 170px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= (@policy.date_processing_started_with_scor||Date.today).month %>
      </div>
      <div style="position:absolute; top: 411px; left: 230px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= (@policy.date_processing_started_with_scor||Date.today).year %>
      </div>
      <div style="position:absolute; top: 438px; left: 47px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= raw @consumer_signature %>
      </div>
      <div style="position:absolute; top: 495px; left: 47px; font-size: 11px; max-width:577px; word-wrap:break-word">
        <%= raw @owner_signature %>
      </div>

      <div style="position:absolute; top: 552px; left: 295px;"
        class="<%= @rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
      <div style="position:absolute; top: 552px; left: 335px;"
        class="<%= @rtt_answers[:is_replacing] ? 'unchecked-box' : 'checked-box' %>"></div>

      <!-- Asks whether there is any existing in force insurance. We don't ask this directly. Need to add this question. -->
      <div style="position:absolute; top: 572px; left: 221px;"
        class="<%= @rtt_answers[:has_coverage_in_force] ? 'checked-box'   : 'unchecked-box' %>"></div>
      <div style="position:absolute; top: 572px; left: 267px;"
        class="<%= @rtt_answers[:has_coverage_in_force] ? 'unchecked-box' : 'checked-box' %>"></div>

      <!-- Asks whether there was an illustration. We are not providing that for this process. -->
      <div style="position:absolute; top: 610px; left: 293px;"
        class="<%= false ? 'checked-box'   : 'unchecked-box' %>"></div>
      <div style="position:absolute; top: 610px; left: 333px;"
        class="<%= false ? 'unchecked-box' : 'checked-box' %>"></div>

      <div style="position:absolute; top: 650px; left: 47px; font-size: 11px;">
        <%= raw @agent_signature %>
      </div>
      <div style="position:absolute; top: 650px; left: 292px; font-size: 11px;">
        <%= @policy.agent.full_name %>
      </div>
      <div style="position:absolute; top: 650px; left: 502px; font-size: 11px;">
        <%# First Agency Number %>
      </div>
      <div style="position:absolute; top: 650px; left: 610px; font-size: 11px;">
        <%= @contract_number %>
      </div>
      <div style="position:absolute; top: 691px; left: 47px; font-size: 11px;">
        <%# Second Agent Signature %>
        n/a
      </div>
      <div style="position:absolute; top: 691px; left: 292px; font-size: 11px;">
        <%# Second Agent Print Name %>
        n/a
      </div>
      <div style="position:absolute; top: 691px; left: 517px; font-size: 11px;">
        <%# Second Agency Number %>
        n/a
      </div>
      <div style="position:absolute; top: 691px; left: 615px; font-size: 11px;">
        <%# Second Producer Number %>
        n/a
      </div>
      <div style="position:absolute; top: 732px; left: 47px; font-size: 11px;">
        <%= @policy.agent.primary_phone.to_s %>
      </div>
      <div style="position:absolute; top: 732px; left: 337px; font-size: 11px;">
        <%= @policy.agent.primary_email %>
      </div>
  </div>
</div>