
<div class="page" style="-webkit-transform: scale(1.1,1.1) translate(0px, -5px);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-230(10-06).svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--Insured Name-->
    <div style="position:absolute; top: 216px; left: 152px; ">
      <%= @consumer.full_name %>
    </div>
    <!--File #-->
    <div style="position:absolute; top: 216px; left: 416px; ">
      
    </div>
    <!--Witness Signature-->
    <div style="position:absolute; top: 525px; left: 60px; max-width: 250px;">
      <%= raw @agent_signature %>
    </div>
    <!--Applicant Signature-->
    <div style="position:absolute; top: 525px; left: 337px; max-width: 270px;">
      <%= raw @consumer_signature %>
    </div>
    <!--Date-->
    <div style="position:absolute; top: 607px; left: 337px; ">
      <%= @policy.date_signed_by_consumer %>
    </div>
  </div>
</div>
