
<div class="page" style="-webkit-transform: scale(1.1,1.1) translate(5px, 0px);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ICC_10-73(4-10)page1.png','image/png')%>" alt="">
  </div>
  <div class="consumer-data">
    <!--Authorization-->
    <div name="checking account draft authorization" style="position:absolute; top: 296px; left: 25px;"
      class="checked-box"></div>
    <div name="A new transfer" style="position:absolute; top: 318px; left: 174px;"
      class="checked-box"></div>
    <div name="A change in existing transfer" style="position:absolute; top: 318px; left: 289px;"
      class="unchecked-box"></div>
    <!--Policy information for all policies to which this authorization will apply-->
    <div name="Insured Name" style="position:absolute; top: 369px; left: 39px; font-size:11px;">
      <%= @consumer.full_name %>
    </div>
    <div name="Policy Number" style="position:absolute; top: 369px; left: 239px; font-size:6px;">
      
    </div>
    <div name="Deduction" style="position:absolute; top: 369px; left: 366px; font-size:11px;">
      <%= number_with_precision(@policy.quoting_details.last.modal_premium, :precision => 2, :delimiter => ',') %>
    </div>
    <div name="Check if New Application" style="position:absolute; top: 369px; left: 456px; font-size:11px;">
      Yes
    </div>
    <div name="Second Insured Name" style="position:absolute; top: 384px; left: 39px; font-size:11px;">
      <!-- This process is only for policies that cover one person.
      So there are no additional consumers to fill in. -->
    </div>
    <div name="Second Policy Number" style="position:absolute; top: 387px; left: 239px; font-size:6px;">
      
    </div>
    <div name="Second Deduction" style="position:absolute; top: 384px; left: 366px; font-size:11px;">
      
    </div>
    <div name="Second Check if New Application" style="position:absolute; top: 384px; left: 456px; font-size:11px;">
      
    </div>
    <div name="Third Insured Name" style="position:absolute; top: 397px; left: 39px; font-size:11px;">
      
    </div>
    <div name="Third Policy Number" style="position:absolute; top: 400px; left: 239px; font-size:6px;">
      
    </div>
    <div name="Third Deduction" style="position:absolute; top: 397px; left: 366px; font-size:11px;">
      
    </div>
    <div name="Third Check if New Application" style="position:absolute; top: 397px; left: 456px; font-size:11px;">
      
    </div>
    <div name="Fourth Insured Name" style="position:absolute; top: 410px; left: 39px; font-size:11px;">
      
    </div>
    <div name="Fourth Policy Number" style="position:absolute; top: 413px; left: 239px; font-size:6px;">
      
    </div>
    <div name="Fourth Deduction" style="position:absolute; top: 410px; left: 366px; font-size:11px;">
      
    </div>
    <div name="Fourth Check if New Application" style="position:absolute; top: 410px; left: 456px; font-size:11px;">
      
    </div>
    <!--Request Specific Draft Date for Recurring Payments-->
    <div style="position:absolute; top: 441px; left: 175px; font-size:11px;">
      
    </div>
    <!--Primary Accountholder: Bank or Credit Union Information-->
    <div name="Account Holder name" style="position:absolute; top: 490px; left: 37px; font-size:11px;">
      <%= (@policy.payer||@consumer).full_name %>
    </div>
    <div name="Account Holder Address" style="position:absolute; top: 508px; left: 77px; font-size:11px;">
      <%= (@policy.payer||@consumer).primary_address.street %>
    </div>
    <div name="Account Holder City" style="position:absolute; top: 527px; left: 57px; font-size:11px;">
      <%= (@policy.payer||@consumer).primary_address.city %>
    </div>
    <div name="Account Holder State" style="position:absolute; top: 527px; left: 188px; font-size:11px;">
      <%= (@policy.payer||@consumer).primary_address.state.try(:abbrev) %>
    </div>
    <div name="Account Holder Zip" style="position:absolute; top: 543px; left: 52px; font-size:11px;">
      <%= (@policy.payer||@consumer).primary_address.zip %>
    </div>
    <div name="Account Holder Phone" style="position:absolute; top: 562px; left: 67px; font-size:11px;">
      <%= (@policy.payer||@consumer).primary_phone %>
    </div>
    <div name="Bank or Credit Union Name" style="position:absolute; top: 490px; left: 254px; font-size:11px;">
     <%= (@policy.payer||@consumer).eft_bank_name %>
    </div>
    <div name="Bank or Credit Union Address" style="position:absolute; top: 508px; left: 291px; font-size:11px;">
      <!-- We don't currently collect this info. -->
    </div>
    <%
    bank_data=File.open(Rails.root+"public/rtt/routing_numbers_to_bank_names.csv", "rb").read
    banks=CSV.parse(bank_data, headers:true).map(&:to_h)
    relevant_bank=banks.select{|b| b['routing_number']==( (@policy.payer||@consumer).eft_routing_num ) }.first
    %>
    <div name="Bank or Credit Union City" style="position:absolute; top: 527px; left: 273px; font-size:11px;">
      <%= relevant_bank.try(:[],'city') %>
    </div>
    <div name="Bank or Credit Union State" style="position:absolute; top: 527px; left: 404px; font-size:11px;">
      <%= relevant_bank.try(:[],'state_abbreviation') %>
    </div>
    <div name="Bank or Credit Union Zip" style="position:absolute; top: 543px; left: 268px; font-size:11px;">
      
    </div>
    <div name="Acount Type" style="position:absolute; top: 508px; left: 515px;">
      Checking <!-- WE don't currently collect this either. May need to add it. -->
    </div>
    <!--Bank Routing Number-->
    <% if (@policy.payer||@consumer).eft_routing_num.present? %>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 50px;">
      <%= (@policy.payer||@consumer).eft_routing_num[0] %>
    </div>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 73px;">
      <%= (@policy.payer||@consumer).eft_routing_num[1] %>
    </div>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 96px;">
      <%= (@policy.payer||@consumer).eft_routing_num[2] %>
    </div>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 119px;">
      <%= (@policy.payer||@consumer).eft_routing_num[3] %>
    </div>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 142px;">
      <%= (@policy.payer||@consumer).eft_routing_num[4] %>
    </div>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 165px;">
      <%= (@policy.payer||@consumer).eft_routing_num[5] %>
    </div>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 187px;">
      <%= (@policy.payer||@consumer).eft_routing_num[6] %>
    </div>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 210px;">
      <%= (@policy.payer||@consumer).eft_routing_num[7] %>
    </div>
    <div name="Bank Routing Number" style="position:absolute; top: 700px; left: 233px;">
      <%= (@policy.payer||@consumer).eft_routing_num[8] %>
    </div>
    <% end %>
    <!--Bank Account Number-->
    <% if (@policy.payer||@consumer).eft_account_num.present? %>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 278px;">
      <%= (@policy.payer||@consumer).eft_account_num[0] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 301px;">
      <%= (@policy.payer||@consumer).eft_account_num[1] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 324px;">
      <%= (@policy.payer||@consumer).eft_account_num[2] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 347px;">
      <%= (@policy.payer||@consumer).eft_account_num[3] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 370px;">
      <%= (@policy.payer||@consumer).eft_account_num[4] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 392px;">
      <%= (@policy.payer||@consumer).eft_account_num[5] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 415px;">
      <%= (@policy.payer||@consumer).eft_account_num[6] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 438px;">
      <%= (@policy.payer||@consumer).eft_account_num[7] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 461px;">
      <%= (@policy.payer||@consumer).eft_account_num[8] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 484px;">
      <%= (@policy.payer||@consumer).eft_account_num[9] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 507px;">
      <%= (@policy.payer||@consumer).eft_account_num[10] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 530px;">
      <%= (@policy.payer||@consumer).eft_account_num[11] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 552px;">
      <%= (@policy.payer||@consumer).eft_account_num[12] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 573px;">
      <%= (@policy.payer||@consumer).eft_account_num[13] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 596px;">
      <%= (@policy.payer||@consumer).eft_account_num[14] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 618px;">
      <%= (@policy.payer||@consumer).eft_account_num[15] %>
    </div>
    <div name="Bank Account Number" style="position:absolute; top: 700px; left: 641px;">
      <%= (@policy.payer||@consumer).eft_account_num[16] %>
    </div>
    <% end %>
    <!--Account Holder Signatures-->
    <div name="Account Holder Signature"
      style="position:absolute; top: 728px; left: 30px; max-width: 275px;">
      <%= raw @policy.insured_is_payer? ? @consumer_signature : @payer_signature %>
    </div>
    <div name="Account Holder Signature Date"
      style="position:absolute; top: 728px; left: 350px;">
      <%= @policy.insured_is_payer? ? @policy.date_signed_by_consumer : @policy.date_signed_by_payer %>
    </div>
    <!--Authorization Agreement-->
    <div name="Account Payor Signature"
      style="position:absolute; top: 818px; left: 35px; max-width: 235px;">
      <%= raw @policy.insured_is_payer? ? @consumer_signature : @payer_signature %>
    </div>
    <div name="Account Payor Signature date"
      style="position:absolute; top: 818px; left: 270px;">
      <%= @policy.insured_is_payer? ? @policy.date_signed_by_consumer : @policy.date_signed_by_payer %>
    </div>
    <div name="Proposed Insured Signature"
      style="position:absolute; top: 818px; left: 355px; max-width: 235px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Proposed Insured Signature date"
      style="position:absolute; top: 818px; left: 590px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Agent's Signature"
      style="position:absolute; top: 856px; left: 35px; max-width: 200px;">
      <%= raw @agent_signature %>
    </div>
    <div name="Agent's Signature date"
      style="position:absolute; top: 856px; left: 259px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Owner Signature (If other than Proposed Insured)"
      style="position:absolute; top: 856px; left: 355px;">
      <%= raw @owner_signature %>
    </div>
    <div name="Owner Signature date"
      style="position:absolute; top: 856px; left: 578px;">
      <%= @policy.date_signed_by_owner %>
    </div>
  </div>
</div>

<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ICC_10-73(4-10)page2.png','image/png')%>" alt="">
  </div>
  <!-- Nothing to be plugged in for this page. -->
</div>