<div class="footer">
  <div style="position:absolute; top:-10px; left:0px; width: 200px;">
    Dated at
  </div>
  <div style="position:absolute; top:-7px; left:50px;">
    <span style="display: inline-block; border-bottom:1px solid black;width: 46em;">
    </span>
  </div>
  <div style="position:absolute; top:-10px; left:60px; width: 200px;">
      <%= "#{@consumer.primary_address.city}" %>
  </div>
  <div style="position:absolute; top:-10px; left:250px; width: 200px;">
      <%= "#{@consumer.primary_address.state.abbrev}" %>
  </div>
  <div style="position:absolute; top:-10px; left:480px; width: 200px;">
      <%= "#{@policy.date_signed_by_consumer}" %>
  </div>
  <br>
  <div class="city-state-date-label" style="position:absolute; top: 20px; left: 10px; font-size:10px;">City</div>
  <div class="city-state-date-label" style="position:absolute; top: 20px; left: 190px; font-size:10px;">State</div>
  <div class="city-state-date-label" style="position:absolute; top: 20px; left: 450px; font-size:10px;">Date</div>
  <br>
  <div style="position:absolute; top: 40px; left: 0px;">
    <table>
      <tr>
        <td>
          <div class="smaller" style="padding-left: 15px;">Signature of Proposed Insured</div>
          <div class="small" style="white-space: nowrap;">
            X
            <div style="display:inline-block; border-bottom: 1px solid black; min-width: 210px; white-space: initial;">
              <%= raw @consumer_signature %>
            </div>
          </div>
        </td>
        <td>
          <span class="smaller" style="padding-left: 15px;">Signature of Proposed Owner (If other than Proposed Insured)</span><br>
          <div class="small" style="white-space: nowrap;">
            X
            <div style="display:inline-block; border-bottom: 1px solid black; padding-left: 10px; min-width: 210px; white-space: initial;">
              <%= raw @owner_signature %>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="smaller" style="padding-left: 15px;">Signature of Parent or Legal Guardian if Proposed Insured is underage</span><br>
          <div class="small" style="white-space: nowrap;">
            X
            <div style="display:inline-block; border-bottom: 1px solid black; padding-left: 10px; min-width: 210px; white-space: initial;">
              <%#This quoting process is for 18 and over only, so not applicable. %>
            </div>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</div>