
<div class="page" style="-webkit-transform: scale(1,1);">
<%= render '/rtt/forms/health_questions_header' %>
<ul>
  <li>
    <div class="<%= @scor_health_answers['RMM03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Mental or Nervous Disorders, including Depression or Anxiety
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM03_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Depression
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Situational
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Bipolar Disorder
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Major Chronic Depression
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Premenstrual / Post-Partum Depression
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized with the last three years excluding childbirth or pregnancy?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Post-Traumatic Stress Disorder
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_01_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other Depression
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_01_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Anxiety
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            <NOBR>Stress-related</NOBR>
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Panic Disorder
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Post-Traumatic Stress Disorder
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Phobia
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_02_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Obsessive Compulsive
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_02_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other Anxiety
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_02_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Psychosis
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Paranoia
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_03_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_03_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Schizophrenia
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_03_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_03_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<%= render '/rtt/forms/health_questions_footer' %>
</div>

<div class="page" style="-webkit-transform: scale(1,1);">
<%= render '/rtt/forms/health_questions_header' %>
<ul>
  <li>
    <ul>
      <li>
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Delusions / Hallucinations
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_03_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_03_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_03_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other Psychosis
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_03_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_01_03_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Suicide Attempt
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you been hospitalized within the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Dementia
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you been hospitalized within the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_01_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Alzheimer’s
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you been hospitalized within the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_01_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Attention Deficit Disorder Or Hyperactivity Disorder
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you been hospitalized within the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_07_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Within the past 12 months has the disorder caused you to miss more than five days at either work or school?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_01_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other Mental or Nervous Disorders, including Depression or Anxiety
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_08_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you been hospitalized within the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_01_08_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <div class="<%= @scor_health_answers['RMM03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Muscular, Spinal, Joint, or Bone Disorders or Injuries, including Concussions
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Fractured Bones
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Spine/Neck
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_02_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized within the last 12 months?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Sprains
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Neck
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Back
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Lupus
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Systemic Lupus Erythematosus
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Discoid Lupus Erythematosus
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Cerebral Palsy
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Bell's Palsy
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Were you diagnosed in the past 12 months?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Parkinson's
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Paralysis
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Multiple Sclerosis
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Muscular Dystrophy
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
        ALS / Lou Gehrig's Disease
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Herniated Disc
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Spinal Curvature
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_12_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Mild
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_12_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Severe
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<%= render '/rtt/forms/health_questions_footer' %>
</div>

<div class="page" style="-webkit-transform: scale(1,1);">
<%= render '/rtt/forms/health_questions_header' %>
<ul>
  <li>
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Concussion
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_13_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Loss of consciousness or residuals
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_13_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Skull fracture Cervical
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Spondylotic Myelopathy
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_15'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Poliomyelitis
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_16'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Osteoporosis
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_16_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last six months?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_16_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_02_17'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other Muscular, Spinal, Joint, or Bone Disorders or Injuries, including Concussions
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_17_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last five years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_02_17_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <div class="<%= @scor_health_answers['RMM03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Epilepsy/Seizures, including Dizziness or Fainting
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM03_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Epilepsy / Seizures
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Petit Mal
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had more than two seizures in the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Psychomotor
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had more than two seizures in the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Temporal Lobe
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had more than two seizures in the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Tonic Clonic
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had more than two seizures in the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Simple Partial
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had more than two seizures in the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_01_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Status Epilepticus
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had more than two seizures in the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_01_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Febrile Seizure
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had more than two seizures in the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_03_01_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Dizziness/Vertigo
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had more than one episode in the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Fainting
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had more than one episode in the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_03_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other Epilepsy/Seizures, including Dizziness or Fainting
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had more than one episode in the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_03_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <div class="<%= @scor_health_answers['RMM03_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Arthritis
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM03_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        General Arthritis
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last two years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<%= render '/rtt/forms/health_questions_footer' %>
</div>

<div class="page" style="-webkit-transform: scale(1,1);">
<%= render '/rtt/forms/health_questions_header' %>
<ul>
  <li>
    <br>
    <br>
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM03_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Rheumatoid Arthritis
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last five years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking or have you taken Methotrexate or other injectable drugs in the last 12 months?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking or have you taken Prednisone in the last 12 months?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Ankylosing Spondylitis
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last two years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_04_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Fibromyalgia
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last two years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_04_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Osteoarthritis
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last two years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_04_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other Arthritis
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last five years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_04_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <div class="<%= @scor_health_answers['RMM03_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Congenital Defects or Physical Impairments
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM03_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Blindness
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Congenital Defect
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Accident/Injury
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Disease
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Onset of blindness occurred in the last five years
              </li>
            </ul>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Deafness
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Congenital Defect
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Accident/Injury
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Disease
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_02_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Onset of deafness occurred in the last five years?
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Missing Limb(s)
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Congenital Defect
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Accident/Injury
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Disease
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_03_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Loss of limb occurred in the last five years?
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_05_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Heart Defect
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Hole in the Heart
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Did you have surgery to correct?
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM03_05_04_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Was the surgery in the last five years?
                  </li>
                </ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Did the hole close on its own?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you currently taking any medications?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been hospitalized in the last five years due to heart defect?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been advised you require surgery in the future?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Heart Valve Malformation
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been advised to have surgery?
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<%= render '/rtt/forms/health_questions_footer' %>
</div>

<div class="page" style="-webkit-transform: scale(1,1);">
<%= render '/rtt/forms/health_questions_header' %>
<ul>
  <li>
    <ul>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_04_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been told that your heart tests have worsened in the last five years?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other Heart Defect
          </li>
        </ul>
      </li>
      <li>
      <!-- This question was included in the pdf form layout they gave us,
      but not in the XML question list they gave us.
      That being the case, it appears to be a duplicate of "Other Heart Defect". -->
        <div class="<%= @scor_health_answers['RMM03_05_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_05_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Down’s Syndrome
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you had surgery or been hospitalized for more than 24 hours in the last five years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_05_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Autism
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_05_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Glaucoma
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_05_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other Congenital Defects
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_08_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Cleft Palate or Lip
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_08_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Spina Bifida
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_08_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Metabolic Defect
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_08_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Hypothyroidism
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_08_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Other Metabolic Defect
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_08_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Club Foot / Congenital Hip Dislocation
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_08_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Gastrointestinal Defect
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_08_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery to repair the defect?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_08_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Is surgery planned to repair the defect?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM03_05_08_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Do you require intravenous feeding?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_08_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Hydrocephalus
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_08_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Anencephaly
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM03_05_08_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Urological Defect
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM03_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other
      </li>
    </ul>
  </li>
</ul>
<%= render '/rtt/forms/health_questions_footer' %>
</div>
