  <div class="page" style="-webkit-transform: scale(1,1);">
    <%= render '/rtt/forms/health_questions_header' %>
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Heart Diseases or Disorders
      </li>
      <li>
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Chest Pain / Angina
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had abnormal cardiac test results for any of these conditions in the last five years?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Irregular Heart Beat
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been treated with medications in the last five years?
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_01_02_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Was last treatment with medication greater than two years ago?
                  </li>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_01_02_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Are you currently taking medication(s) or have you taken medication(s) in the last two years?
                  </li>
                </ul>
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you currently being treated, have you been treated, or have you been advised that you will need an artificial pacemaker?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Murmur
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medication(s)?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had abnormal cardiac test results for any of these conditions in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_03_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been advised to have surgery?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Congestive / Chronic Heart Failure
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Heart Attack / Myocardial Infarctions
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Heart Valve / Bypass Surgery
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Rheumatic Fever
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Past infection
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Current infection
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Coronary Artery Disease
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Mitral Valve Prolapse (MVP)
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_09_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_09_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been advised to have Mitral Valve Surgery?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Heart Valve Disorders
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_10_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_10_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been advised to have surgery?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_10_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_10_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you been told that your Heart Tests have worsened in the last five years?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Endocarditis / Pericarditis / Myocarditis
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_11_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_11_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_11_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had two or more occurrences in the last three years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_01_11_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had permanent heart damage due to the disorder?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_01_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other Heart Disorders
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Circulatory System Diseases or Disorders
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Poor Circulation
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Edema
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
  <div class="page" style="-webkit-transform: scale(1,1);">
    <%= render '/rtt/forms/health_questions_header' %>
    <ul>
      <li>
        <br>
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Phlebitis
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Thrombosis
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had two or more occurrences in the last five years?
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_04_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Were last occurrences in the last six months?
                  </li>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_04_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    More than three occurrences in the last three years?
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Aneurysm
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
            AVM (Arteriovenous Malformation)
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Peripheral Vascular Disease
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Atherosclerosis
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_08_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_08_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Embolism
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_09_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Thrombose Embolism
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Have you had surgery or been hospitalized for more than 24 hours in the last three years?
                  </li>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Are you taking any medications?
                  </li>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Have you had more than one occurrence in the last five years?
                  </li>
                </ul>
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_09_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Cerebral Embolism
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                  </li>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Are you taking any medications?
                  </li>
                </ul>
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_09_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Pulmonary Embolism
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                  </li>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Are you taking any medications?
                  </li>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Have you had more than one occurrence in the last five years?
                  </li>
                </ul>
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_09_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Other Embolism
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                  </li>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_02_09_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Are you taking any medications?
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Varicose Veins
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_02_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other Circulatory System Diseases or Disorders
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_11_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Have you had surgery or been hospitalized for more than 24 hours in the last five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_02_11_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Are you taking any medications?
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        High Blood Pressure
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Have you been hospitalized within the last three years?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
    </ul>
    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
  <div class="page" style="-webkit-transform: scale(1,1);">
    <%= render '/rtt/forms/health_questions_header' %>
    <ul>
      <li>
        <div class="<%= @scor_health_answers['RMM01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Cancer
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM01_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Skin Cancer
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Basal Cell Carcinoma
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_04_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Have you had six or more Basal Cell Carcinomas in the last five years?
                  </li>
                </ul>
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Squamous Cell Carcinoma
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_04_01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Have you had three or more Squamous Cell Carcinomas in the last five years?
                  </li>
                </ul>
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Malignant Melanoma
                <ul>
                  <li>
                    <div class="<%= @scor_health_answers['RMM01_04_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                    Did you have more than one occurrence of Melanoma?
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Leukemia
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Lymphoma
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_04_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Hodgkin's Disease
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_04_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Cervical Dysplasia
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Diagnosed as Carcinoma 
                <NOBR>In-Situ</NOBR>
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Was treatment greater than 12 months ago?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Were the results of last two pap smears normal?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_04_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other Cancer
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Within the past five years?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Was the cancer removed?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_04_06_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Was a biopsy done?
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <br>
        <div class="<%= @scor_health_answers['RMM01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Stroke
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM01_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            TIA 
            <NOBR>(mini-stroke)</NOBR>
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_05_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Was it a single attack?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_05_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Has it been more than five years from the last attack?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Cerebrovascular Accident (CVA)
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_05_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Was it a single attack?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM01_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other Stroke
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM01_05_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Was it a single attack?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM01_05_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Has it been more than ten years from the last attack?
              </li>
            </ul>
        </ul>
      </li>
      <li>
        <br>
        <div class="<%= @scor_health_answers['RMM01_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Elevated Cholesterol
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM01_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Are you taking any medications?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM01_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other
        <div style="display:inline-block; border-bottom: 1px solid black; padding-left: 10px; min-width: 210px; white-space: initial;">
          <%= @scor_health_answers['RMM01_07_detail'] %>
        </div>
      </li>
    </ul>
    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
  <!-- Converted using http://pdfonline.com/pdf-to-word-converter/ -->
