<style type="text/css">
.country-table {
  border-collapse: collapse;
}
.country-table td {
  height: 2em;
  border: 1px solid black;
}
.country-heading {
  width:650px;
  font-size:15px;
  font-weight: bold;
  text-align:center;
}
</style>

<div class="page" style="-webkit-transform: scale(1,1);">
<%= render '/rtt/forms/health_questions_header' %>
<div class="country-heading" style="text-align:left;">Travel / Reside</div>
<div class="country-heading">Africa</div>
<TABLE class="country-table">
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Algeria
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Chad
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_21'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Gambia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_31'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Malawi
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_41'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Sao Tome and<br>Principe
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_51'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Tunisia
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Angola
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Comoros
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_22'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Ghana
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_32'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Mali
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_42'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Senegal
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_52'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Uganda
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Benin
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Congo,<br>Democratic<br>Republic
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_23'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Guinea
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_33'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Mauritania
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_43'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Seychelles
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_53'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Western<br>Sahara
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Botswana
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Congo,<br>Republic of
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_24'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Guinea-<br>Bissau
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_34'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Mauritius
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_44'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Sierra Leone
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_54'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Zambia
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Burkina Faso
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_15'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Djibouti
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_25'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Ivory Coast
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_35'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Morocco
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_45'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Somalia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_55'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Zimbabwe
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Burundi
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_16'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Egypt
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_26'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Kenya
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_36'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Mozambique
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_46'] ? 'checked-box' : 'unchecked-box' %>"></div>
    South Africa
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_56'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Cameroon
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_17'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Equatorial<br>Guinea
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_27'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Lesotho
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_37'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Namibia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_47'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Sudan
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Canary<br>Islands
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_18'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Eritrea
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_28'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Liberia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_38'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Niger
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_48'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Swaziland
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Cape Verde<br>Islands
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_19'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Ethiopia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_29'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Libya
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_39'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Nigeria
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_49'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Tanzania
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Central Africa<br>Republic
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_20'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Gabon
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_30'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Madagascar
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_40'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Rwanda
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_01_50'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Togo
  </td>
  <td>
    &nbsp;
  </td>
</TR>
</TABLE>
<br>
<div class="country-heading">Asia</div>
<br>
<TABLE class="country-table">
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Afghanistan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Hong Kong
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Korea, South
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_19'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Myanmar<br>(Burma)
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_25'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Taiwan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_31'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Vietnam
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bangladesh
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
    India
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Kyrgyzstan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_20'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Nepal
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_26'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Tajikistan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_32'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bhutan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Indonesia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_15'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Laos
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_21'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Pakistan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_27'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Thailand
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Brunei
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Japan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_16'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Macau
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_22'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Philippines
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_28'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Tibet
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Cambodia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Kazakhstan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_17'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Malaysia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_23'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Singapore
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_29'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Turkmenistan
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
    China
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Korea, North
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_18'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Mongolia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_24'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Sri Lanka
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_02_30'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Uzbekistan
  </td>
  <td>
    &nbsp;
  </td>
</TR>
</TABLE>
<%= render '/rtt/forms/health_questions_footer' %>
</div>

<div class="page" style="-webkit-transform: scale(1,1);">
<%= render '/rtt/forms/health_questions_header' %>
<div class="country-heading">Caribbean</div>
<TABLE  class="country-table">
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Anguilla
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bermuda
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Dominica
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_19'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Jamaica
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_25'] ? 'checked-box' : 'unchecked-box' %>"></div>
    St John
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_31'] ? 'checked-box' : 'unchecked-box' %>"></div>
    St Vincent
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Antigua
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bonaire
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Dominican<br>Republic
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_20'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Martinique
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_26'] ? 'checked-box' : 'unchecked-box' %>"></div>
    St Kitts
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_32'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Tobago
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Aruba
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Caicos Islands
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_15'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Grenada
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_21'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Monserrat
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_27'] ? 'checked-box' : 'unchecked-box' %>"></div>
    St Lucia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_33'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Trinidad
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bahamas
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Cayman<br>Islands
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_16'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Grenadines
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_22'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Netherlands<br>Antilles
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_28'] ? 'checked-box' : 'unchecked-box' %>"></div>
    St Martin
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_34'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Turks
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Barbados
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Cuba
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_17'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Guadeloupe
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_23'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Puerto Rico
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_29'] ? 'checked-box' : 'unchecked-box' %>"></div>
    St Nevis
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_35'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Virgin Islands
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Barbuda
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Curacao
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_18'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Haiti
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_24'] ? 'checked-box' : 'unchecked-box' %>"></div>
    St Barthelmey
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_30'] ? 'checked-box' : 'unchecked-box' %>"></div>
    St Thomas
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_03_36'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
</TR>
</TABLE>

<div class="country-heading">Central America</div>

<TABLE class="country-table">
<TR>
  <!-- Slightly less than 1/5 of total table width, so columns are approx equal width. -->
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Belize
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    El Salvador
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_04_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Honduras
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_04_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Panama
  </td>
  <td style="width: 128px;">
    &nbsp;
  </td>
</TR>

<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Costa Rica
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_04_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Guatemala
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_04_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Nicaragua
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_04_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
  <td>
    &nbsp;
  </td>
</TR>
</TABLE>

<div class="country-heading">Europe</div>

<TABLE class="country-table">
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Albania
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Croatia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_19'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Germany
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_28'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Luxembourg
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_37'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Portugal
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_46'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Sweden
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Andorra
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Cyprus
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_20'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Greece
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_29'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Macedonia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_38'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Romania
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_47'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Switzerland
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Armenia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Czech<br>Republic
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_21'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Hungary
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_30'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Madeira
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_39'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Russia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_48'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Ukraine
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Austria
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Denmark
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_22'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Iceland
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_31'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Malta
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_40'] ? 'checked-box' : 'unchecked-box' %>"></div>
    San Marino
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_49'] ? 'checked-box' : 'unchecked-box' %>"></div>
    United<br>Kingdom
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Azerbaijan
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
    England
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_23'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Ireland
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_32'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Monaco
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_41'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Scotland
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_50'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Vatican City
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Belarus
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_15'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Estonia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_24'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Italy
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_33'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Montenegro
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_42'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Serbia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_51'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Wales
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Belgium
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_16'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Finland
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_25'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Latvia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_34'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Netherlands<br>(Holland)
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_43'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Slovak<br>Republic
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_52'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Yugoslavia
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bosnia<br>Herzegovina
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_17'] ? 'checked-box' : 'unchecked-box' %>"></div>
    France
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_26'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Liechtenstein
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_35'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Norway
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_44'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Slovenia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_53'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bulgaria
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_18'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Georgia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_27'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Lithuania
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_36'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Poland
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_05_45'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Spain
  </td>
  <td>
    &nbsp;
  </td>
</TR>
</TABLE>

<div class="country-heading">Middle East</div>

<TABLE class="country-table">
<TR>
  <!-- Slightly less than 1/5 of total table width, so columns are approx equal width. -->
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bahrain
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_06_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Jordan
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_06_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Qatar
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_06_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Turkey (Western)
  </td>
  <td style="width: 128px;">
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Iran
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Kuwait
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Saudi Arabia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
    United Arab<br>Emirates
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Iraq
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Lebanon
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Syria
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_15'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Yemen
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Israel
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Oman
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Turkey (Eastern)
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_06_16'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
  <td>
    &nbsp;
  </td>
</TR>
</TABLE>

<%= render '/rtt/forms/health_questions_footer' %>
</div>

<div class="page" style="-webkit-transform: scale(1,1);">
<%= render '/rtt/forms/health_questions_header' %>
<div class="country-heading">North America</div>
<TABLE class="country-table">
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Canada
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Greenland
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_07_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Mexico
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_07_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    US –<br>Protectorates, etc.
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_07_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
</TR>
</TABLE>
<div class="country-heading">Australia & Oceania</div>
<TABLE class="country-table">
<TR>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_08_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Australia
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_08_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Kiribati
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_08_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
    New Caledonia
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_08_16'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Palau
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_08_21'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Tuvalu
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Cook Islands
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Maldives
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
    New Guinea
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_17'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Samoa
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_22'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Vanuatu
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Fiji
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Marshall Islands
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
    New Zealand
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_18'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Solomon Islands
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_23'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    French Polynesia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Micronesia
  </td>
  <td>
    <!-- Spelled Niue in provided question list, but Nive in provided pdf form layout.
    Google only recognizes the spelling with a "u", so using that variant here. -->
    <div class="<%= @scor_health_answers['RMM09_01_08_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Niue
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_19'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Tokelau
  </td>
  <td>
    &nbsp;
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Guam
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Nauru
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_15'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Northern<br>Marianas
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_08_20'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Tonga
  </td>
  <td>
    &nbsp;
  </td>
</TR>
</TABLE>
<div class="country-heading">South America</div>
<TABLE class="country-table">
<TR>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_09_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Argentina
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_09_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Chile
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_09_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
    French Guiana
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_09_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Peru
  </td>
  <td style="width: 128px;">
    <div class="<%= @scor_health_answers['RMM09_01_09_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Venezuela
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Bolivia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Colombia
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Guyana
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Surinam
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Other
  </td>
</TR>
<TR>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Brazil
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Ecuador
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Paraguay
  </td>
  <td>
    <div class="<%= @scor_health_answers['RMM09_01_09_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Uruguay
  </td>
  <td>
    &nbsp;
  </td>
</TR>
</TABLE>
<br>
<div class="country-heading" style="text-align: left;">
  <div class="<%= @scor_health_answers['RMM09_01_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
    Antarctica
</div>
<br>
<div class="<%= @scor_health_answers['RMM09_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
Do you plan to travel or reside outside the United States for more than 90 days?</P>

<%= render '/rtt/forms/health_questions_footer' %>
</div>
