
  <div class="page" style="-webkit-transform: scale(1,1);">
      <%= render '/rtt/forms/health_questions_header' %>
      <ul>
        <li>
          <div class="<%= @scor_health_answers['RMM02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Diabetes / Endocrine / Thyroid Disease or Disorders
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Diabetes Mellitus
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you been hospitalized with the last three years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Oral medications
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_01_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Insulin
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Were you diagnosed greater than 10 years ago?
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      11 to 20 years
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      21 plus years
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Gestational Diabetes
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you been hospitalized within the last three years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you currently pregnant?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Hyperglycemia
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you been hospitalized within the last three years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Polycystic Ovarian Syndrome (PCOS)
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Thyroid Disorder / Parathyroid
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Hypothyroidism / Hashimotos
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you been hospitalized within the last year?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Cretinism or Myxedema
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you been hospitalized within the last year?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Hyperthyroidism
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you been hospitalized within the last year?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_05_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Grave’s Disease
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you been hospitalized within the last year?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_05_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Thyroiditis
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you been hospitalized within the last year?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_05_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Thyroid / Parathyroid Nodule or Tumor
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Is the tumor or nodule still present
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Was the tumor or nodule Malignant / Cancerous?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_05_06_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Was the tumor or nodule removed in the last 12 months?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Metabolic Syndrome
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you been hospitalized within the last year?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_01_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Other Diabetes / Endocrine / Thyroid Diseases or Disorders?
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you been hospitalized within the last year?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_01_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <div class="<%= @scor_health_answers['RMM02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Blood Diseases or Disorders
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Anemia
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Sickle Cell Anemia
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Sickle Cell Trait
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Iron Deficiency Anemia
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
  <div class="page" style="-webkit-transform: scale(1,1);">
      <%= render '/rtt/forms/health_questions_header' %>
      <ul>
        <li>
          <ul>
            <li>
              <ul>
                <li>
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_02_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_02_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_02_01_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Was your last occurrence of iron deficiency anemia within the last two years?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Pernicious Anemia / B12 Deficiency
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_02_01_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_02_01_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Other Anemia
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_02_01_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_02_01_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Are you taking any medications?
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Hemophilia
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Hemochromatosis
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have your iron levels been stable for the past 12 months?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Polycythemia
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_02_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Thalassemia
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Do you have Thalassemia Minor Trait (Alpha)?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_05_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Do you have Thalassemia Major (Beta)?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_05_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Do you have another form of Thalassemia?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_02_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Other Blood Diseases or Disorders
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_02_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <br>
          <div class="<%= @scor_health_answers['RMM02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Kidney Diseases or Disorders
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Kidney Stones
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Stone Present: Current Obstruction
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_01_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_01_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you receiving current treatment?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Stone Present: No Current Obstruction
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  History of Stones
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Dialysis
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Currently under treatment
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Past treatment received
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Hydronephrosis
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Unilateral
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_03_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Currently under treatment
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Bilateral
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Nephritis
            </li>
          </ul>
        </li>
      </ul>
    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
  <div class="page" style="-webkit-transform: scale(1,1);">
      <%= render '/rtt/forms/health_questions_header' %>
      <ul>
        <li>
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Kidney Transplant
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Kidney Insufficiency
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Kidney Removal
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Due to disease
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_03_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  As a Donor
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Glomerulonephritis
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Polycystic Kidney Disease
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_03_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Other Kidney Diseases or Disorders
            </li>
          </ul>
        </li>
        <li>
          <div class="<%= @scor_health_answers['RMM02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Liver Disease or Disorders
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Hepatitis A
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_04_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Currently under treatment
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Hepatitis B
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_04_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you been free of infections for 12 or more months?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_04_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you been hospitalized in the last two years?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Hepatitis C
            <li>
              <div class="<%= @scor_health_answers['RMM02_04_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Cirrhosis
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_04_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Liver Transplant
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_04_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Fatter Liver
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_04_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Steatohepatitis
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_04_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Nash
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_04_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Jaundice
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_04_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Other Liver Diseases or Disorders
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_04_08_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_04_08_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <div class="<%= @scor_health_answers['RMM02_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Digestive System Disease or Disorders
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Gastro Esophageal Reflux (acid reflux)
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Barrett’s Esophagus
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last three years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Esophagitis
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Colitis
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Ischemic
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Mucous / Spastic
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Ulcerative
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Diverticulitis
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last three years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Crohn’s Disease
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Ulcer
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Gastric Bypass / Gastric Banding / Gastric Stapling or Weight Loss Surgery?
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_08_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Was the surgery in the last five years
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
  <div class="page" style="-webkit-transform: scale(1,1);">
      <%= render '/rtt/forms/health_questions_header' %>
      <ul>
        <li>
          <ul>
            <li>
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_08_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had any complications due to the procedure?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Gallbladder Disorder
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_09_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Gallstones
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_09_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Inflammations
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_09_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Other
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_05_09_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Was the Gallbladder removed?
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_05_09_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Was cancer involved?
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_10'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Celiac Sprue
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_10_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Treated in the last 24 months or currently being treated?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_10_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Has been anemic or experienced weight loss of greater than 10 pounds in the last 24 months?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_11'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Colon Polyps
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_11_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Was any polyp cancerous?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_11_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you been diagnosed with familial or congenital polyposis?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_12'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Proctitis
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_12_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last three years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_12_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_13'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Irritable Bowel Syndrome
            <li>
              <div class="<%= @scor_health_answers['RMM02_05_14'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Other Digestive System Diseases or Disorders
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_14_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_05_14_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <div class="<%= @scor_health_answers['RMM02_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Lung Diseases or Disorders, including Allergies or Sleep Apnea
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Asthma / Reactive Airway Disease
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last three years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you required oral steroids in the last 12 months?
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_06_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Up to 30 days
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_06_01_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Greater than 30 days
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Allergies
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last three years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Bronchitis
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you had surgery or been hospitalized for more than 24 hours in the last five years?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Are you taking any medications?
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Have you required oral steroids in the last 12 months?
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_06_03_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Up to 30 days
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_06_03_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Greater than 30 days
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Chronic Obstructive Pulmonary Disease
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Tuberculosis
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Sleep Apnea
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Sleep Study
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_06_06_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Confirmed by sleep study
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_06_06_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Not confirmed by sleep study
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Treatment
                  <ul>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_06_06_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Prescribed treatment
                    </li>
                    <li>
                      <div class="<%= @scor_health_answers['RMM02_06_06_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                      Not Prescribed treatment and under continued evaluation
                      <ul>
                        <li>
                          <div class="<%= @scor_health_answers['RMM02_06_06_02_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                          Treated by surgery
                        </li>
                        <li>
                          <div class="<%= @scor_health_answers['RMM02_06_06_02_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                          Treated by CPAP
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
  <div class="page" style="-webkit-transform: scale(1,1);">
      <%= render '/rtt/forms/health_questions_header' %>
      <ul>
        <li>
          <ul>
            <li>
              <ul>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_06_02_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Treated by Medication
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_06_02_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Treated by Weight Loss
                </li>
                <li>
                  <div class="<%= @scor_health_answers['RMM02_06_06_02_01_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                  Had normal sleep study after weight loss
                  <div class="<%= @scor_health_answers[''] ? 'checked-box' : 'unchecked-box' %>"></div>
                  yes
                  <div class="<%= @scor_health_answers[''] ? 'checked-box' : 'unchecked-box' %>"></div>
                  no
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <div class="<%= @scor_health_answers['RMM02_06_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Sarcoidosis
        </li>
        <li>
          <div class="<%= @scor_health_answers['RMM02_06_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Pneumonia or Acute Respiratory Infection
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_08_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Have you taken any medication with the last six months?
            </li>
          </ul>
        </li>
        <li>
          <div class="<%= @scor_health_answers['RMM02_06_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Other Lung Disease or Disorder, including Allergies or Sleep Apnea
          <ul>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_09_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Have you had surgery or been hospitalized for more than 24 hours in the last five years?
            </li>
            <li>
              <div class="<%= @scor_health_answers['RMM02_06_09_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
              Are you taking any medications?
            </li>
          </ul>
        </li>
        <li>
          <div class="<%= @scor_health_answers['RMM02_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
          Other
        </li>
      </ul>
    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
