

<div class="page" style="-webkit-transform: scale(1,1);">
    <%= render '/rtt/forms/health_questions_header' %>

    <div style="font-weight: bold;">Question 10 Overflow</div>

    <ul style="font-weight:normal;">
      <li>
        <div class="<%= @scor_health_answers['RMM10_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Aeronautics
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM10_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Hang Gliding
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Sky Diving
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Parachuting
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_01_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Ballooning
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_01_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM10_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Racing
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM10_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Car
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Motorcycle
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Boat
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM10_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Scuba / Skin Diving
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM10_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            max depth &lt;= 75ft.
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            max depth &gt;75ft.
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM10_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Rock Climbing / Hiking
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM10_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Trail hiking without specialized equipment (crampons, climbing ropes, etc.)
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Mountain climbing with specialized equipment (crampons, climbing ropes, etc.)
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM10_04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Rock Climbing with specialized equipment (carabineers, pitons, climbing ropes, etc.)
          </li>
        </ul>
      </li>
    </ul>
      
    <div style="font-weight: bold;">Question 11 Overflow</div>

    <ul style="font-weight:normal;">
      <li>
        <div class="<%= @scor_health_answers['RMM11_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Non Pilot Crewmember
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM11_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Student Pilot
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM11_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Private Pilot
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM11_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            = &gt; 100 solo hours
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM11_03_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Annual flying hours &lt; 50
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM11_03_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Annual flying hours 50 – 250
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM11_03_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Annual flying hours &gt;250
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM11_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            &lt; 100 solo hours
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM11_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Commercial Pilot
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM11_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Corporate Pilot
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM11_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Military Pilot
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM11_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Test Pilot
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM11_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Flight Instructor
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM11_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other
      </li>
    </ul>

    <div style="font-weight: bold;">Question 12 Overflow</div>

    <ul style="font-weight:normal;">
      <li>
        <div class="<%= @scor_health_answers['RMM12_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        DWI / DUI
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM12_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Any violation within the past five years?
          </li>
        </ul>
      </li>          
      <li>
        <div class="<%= @scor_health_answers['RMM12_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Driving While License Suspended / Revoked / Cancelled / Withdrawn
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM12_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Currently Suspended / Revoked / Cancelled / Withdrawn
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM12_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Currently Suspended / Revoked / Cancelled / Withdrawn in the past 24 months
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM12_02_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Due to driving violations
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM12_02_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Medical condition
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM12_02_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Parking violations / Failure to pay fines
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  <%= render '/rtt/forms/health_questions_footer' %>
</div>



<div class="page" style="-webkit-transform: scale(1,1);">
    <%= render '/rtt/forms/health_questions_header' %>

    <ul>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM12_02_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Lack of Insurance
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM12_02_02_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Due to felony or misdemeanor
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM12_02_02_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Other
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM12_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Moving Violations
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM12_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                More than three violations in the past three years
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM12_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Careless / Reckless Driving
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM12_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Other
          </li>
        </ul>
      </li>
    </ul>
    <div style="font-weight: bold;">Question 13 Overflow</div>

    <ul style="font-weight:normal;">
      <li>
        <div class="<%= @scor_health_answers['RMM13_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Within the past 12 months
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM13_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Within the past 13 to 24 months
      </li>
    </ul>
  <%= render '/rtt/forms/health_questions_footer' %>
</div>
