
<TABLE cellpadding=0 cellspacing=0>
  <TR>
    <TD>
      Supplemental Information to the Application<br>
      Individual Life Insurance<br>
      <span class="small">Motorists life Insurance Company – A member of the Motorists Insurance Group</span><br>
      <span class="small">471 E. Broad St. Columbus, Ohio 43215</span>
    </TD>
    <TD style="vertical-align: top;">Question <%= @section_number %> Overflow</TD>
  </TR>
</TABLE>
<p style="border-bottom:1px solid black;width: 50em;">
  <span class="consumer-data"><%= @consumer.full_name %></span>
  <span class="consumer-data" style="float:right;"><%= @consumer.ssn %></span>
</p>
<p class="pi-name-ssn-label small">
  Proposed Primary Insured Name
  <span style="padding-left:350px;">Social Security Number</span>
</p>