
<div class="page" style="-webkit-transform: scale(1,1);">
    <%= render '/rtt/forms/health_questions_header' %>
    Question 5<br>
    <ul style="font-weight:normal !important;">
      <li>
        <div class="<%= @scor_health_answers['RMM05_01'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Treated / Hospitalized / Diagnosed with HIV</li>
      <li>
        <div class="<%= @scor_health_answers['RMM05_02'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Aids</li>
      <li>
        <div class="<%= @scor_health_answers['RMM05_03'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Other
      </li>
    </ul><br>
    Question 6 – No Overflow<br><br><br>
    Question 7<br>
    <ul style="font-weight:normal !important;">
      <li>
        <div class="<%= @scor_health_answers['RMM07_01'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Narcotics
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_02'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Barbiturates
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_03'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Amphetamines
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_04'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Hallucinogens
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_05'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Cocaine
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_06'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Alcoholism / Abuse of Alcohol
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_07'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Abuse of Pain Killers
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_08'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Abuse of Sedative
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_09'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Abuse of Other Prescription Drugs
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_10'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Marijuana
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_11'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Heroin
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM07_12'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Other
      </li>
    </ul><br>
    Question 8<br><br>
    <ul style="font-weight:normal !important;">
      <li>
        <div class="<%= @scor_health_answers['RMM08_01'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Incarceration
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM08_01_01'] ? 'checked-box'   : 'unchecked-box' %>"></div>
            Incarceration completed less than five years ago
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM08_02'] ? 'checked-box'   : 'unchecked-box' %>"></div>
        Pending Felony Charges
      </li>
    </ul>
  <%= render '/rtt/forms/health_questions_footer' %>
</div>
