
<div class="page" style="-webkit-transform: scale(1,1);">
    <%= render '/rtt/forms/health_questions_header' %>
    <ul style="font-weight:normal !important;">
      <li>
        <div class="<%= @scor_health_answers['RMM04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Accident
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM04_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Pending Diagnosis
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Test Results Pending
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_01_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Advised to Obtain Additional Tests
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Illness
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM04_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Pending Diagnosis
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Test Results Pending
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Advised to Obtain Additional Tests
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM04_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Medical Conditions
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM04_03_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Pending Diagnosis
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_03_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Test Results Pending
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_03_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Advised to Obtain Additional Tests
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM04_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Pregnancy
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM04_04_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Currently Pregnant
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM04_04_01_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Any current complications?
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM04_04_01_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Any complications with past pregnancies?
              </li>
            </ul>
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_04_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Delivery in past 12 months
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM04_05'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Pregnancy Related
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM04_05_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Regular pregnancy checkups including all tests related to the pregnancy
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_05_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Any complications with current pregnancy?
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_05_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Any complications with past pregnancies?
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM04_06'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Orthopedic Surgery or Testing
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM04_06_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Testing
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_06_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Surgery Planned
            <ul>
              <li>
                <div class="<%= @scor_health_answers['RMM04_06_02_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Knee, Shoulder, Ankle, Hand, or Elbow, or for Broken bone excluding spinal injury
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM04_06_02_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Hip Surgery
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM04_06_02_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Spinal
              </li>
              <li>
                <div class="<%= @scor_health_answers['RMM04_06_02_04'] ? 'checked-box' : 'unchecked-box' %>"></div>
                Other Orthopedic Surgery
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM04_07'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Related to Routine Checkup
        <ul>
          <li>
            <div class="<%= @scor_health_answers['RMM04_07_01'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Scheduled Routine Checkup
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_07_02'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Awaiting results from Routine Checkup
          </li>
          <li>
            <div class="<%= @scor_health_answers['RMM04_07_03'] ? 'checked-box' : 'unchecked-box' %>"></div>
            Been advised to have additional testing or referred to another physician
          </li>
        </ul>
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM04_08'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other Surgery
      </li>
      <li>
        <div class="<%= @scor_health_answers['RMM04_09'] ? 'checked-box' : 'unchecked-box' %>"></div>
        Other Test
      </li>
    </ul>
  <%= render '/rtt/forms/health_questions_footer'%>
</div>
