
<div class="page" style="-webkit-transform: scale(1.1,1.1) translate(0px, -20px);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-159(6-16).svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--Name of proposed insured-->
    <div name="Name of Proposed Insured" style="position:absolute; top: 173px; left: 30px; ">
      <%= @consumer.full_name %>
    </div>
    <!--Date of Birth-->
    <div name="Month" style="position:absolute; top: 173px; left: 388px; ">
      <%= @consumer.birth_or_trust_date.month %>
    </div>
    <div name="Day" style="position:absolute; top: 173px; left: 417px; ">
      <%= @consumer.birth_or_trust_date.day %>
    </div>
    <div name="Year" style="position:absolute; top: 173px; left: 445px; ">
      <%= @consumer.birth_or_trust_date.year %>
    </div>
    <!--Signature of proposed insured-->
    <div style="position:absolute; top: 793px; left: 30px; max-width: 300px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Month" style="position:absolute; top: 793px; left: 430px; ">
      <%= @policy.date_signed_by_consumer.try(:month) %>
    </div>
    <div name="Day" style="position:absolute; top: 793px; left: 461px; ">
      <%= @policy.date_signed_by_consumer.try(:day) %>
    </div>
    <div name="Year" style="position:absolute; top: 793px; left: 495px; ">
      <%= @policy.date_signed_by_consumer.try(:year) %>
    </div>
    <!--Description of Personal Representative's Authority or Relationship to Patient/Proposed Insured-->
    <div style="position:absolute; top: 855px; left: 30px; ">
      <%= '' %>
    </div>
  </div>
</div>
