
<div class="page" style="-webkit-transform: scale(1,1) translate(-30px, 0px);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-IL-AB(9-04)page1.svg') %>" alt="">
  </div>
  <div class="consumer-data">

    <div name="Contract Number" style="position:absolute; top: 563px; left: 80px;">
      <%= @replaced_policies[0].try(:policy_number) %>
    </div>
    <div name="Contract Number" style="position:absolute; top: 614px; left: 80px;">
      <%= @replaced_policies[1].try(:policy_number) %>
    </div>
    <div name="Contract Number" style="position:absolute; top: 664px; left: 80px;">
      <%= @replaced_policies[2].try(:policy_number) %>
    </div>
    <div name="Contract Number" style="position:absolute; top: 715px; left: 80px;">
      <%= @replaced_policies[3].try(:policy_number) %>
    </div>

    <div name="Insurance Producer's Signature" style="position:absolute; top: 563px; left: 348px;">
      <%= raw @agent_signature %>
    </div>
    <div name="Date" style="position:absolute; top: 614px; left: 348px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
  </div>
</div>

<!--Information on Policies which may be replaced, one page per carrier. -->
<% carrier_id_groups=@replaced_policies.
    map{|c| {policy_number:c.policy_number,carrier_id:c.quoting_details.last.carrier_id} }.
    group_by{|c| c[:carrier_id] }.delete_if{|k,v| k.nil? }
  carrier_id_groups.each do |c_id,group|
%>
<div class="page" style="-webkit-transform: scale(1,1);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-IL-AB(9-04)page2.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <div name="Name of existing insurer" style="position:absolute; top: 235px; left: 87px;">
      <%= Carrier.find(c_id).try(:name) %>
    </div>
    <div name="Address" style="position:absolute; top: 282px; left: 87px;">
      <!-- We don't keep addresses for carriers. -->
    </div>
    <div name="City" style="position:absolute; top: 315px; left: 87px;">
      
    </div>
    <div name="State" style="position:absolute; top: 315px; left: 247px;">
      
    </div>
    <div name="Zip" style="position:absolute; top: 315px; left: 314px;">
      
    </div>
    <div name="Name of Insured" style="position:absolute; top: 498px; left: 182px;">
      <%= @policy.consumer.full_name %>
    </div>
    <div name="Address" style="position:absolute; top: 528px; left: 182px;">
      <%= @policy.consumer.primary_address.street %>
    </div>
    <div name="City" style="position:absolute; top: 556px; left: 182px;">
      <%= @policy.consumer.primary_address.city %>
    </div>
    <div name="State" style="position:absolute; top: 556px; left: 342px;">
      <%= @policy.consumer.primary_address.state.abbrev %>
    </div>
    <div name="Zip" style="position:absolute; top: 556px; left: 426px;">
      <%= @policy.consumer.primary_address.zip %>
    </div>
    <div name="Contract Number" style="position:absolute; top: 610px; left: 182px;">
      <%= group[0].try(:[],:policy_number) %>
    </div>
    <div name="Contract Number" style="position:absolute; top: 641px; left: 182px;">
      <%= group[1].try(:[],:policy_number) %>
    </div>
    <div name="Contract Number" style="position:absolute; top: 672px; left: 182px;">
      <%= group[2].try(:[],:policy_number) %>
    </div>
    <div name="Contract Number" style="position:absolute; top: 703px; left: 182px;">
      <%= group[3].try(:[],:policy_number) %>
    </div>
    <div name="Insurance Producer's Signature" style="position:absolute; top: 837px; left: 88px;">
      <%= raw @agent_signature %>
    </div>
    <div name="Closure" style="position:absolute; top: 837px; left: 394px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
  </div>
</div>
<% end %>