
<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-IA(2-09)page1.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--Are you considering discontinuing making premium payments, surrendering, forfeiting, assigning to the insurer, or otherwise terminating your existing policy or contract?-->
    <div name="Yes"
      style="position:absolute; top: 446px; left: 267px;"
      class="<%= @rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div name="No"
      style="position:absolute; top: 446px; left: 307px;"
      class="<%= !@rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <!--Are you considering using funds from your existing policies or contracts to pay premiums due on the new policy or contract?-->
    <div name="Yes"
      style="position:absolute; top: 483px; left: 37px;"
      class="<%= @rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div name="No"
      style="position:absolute; top: 483px; left: 74px;"
      class="<%= !@rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <!--If you answered "yes" to either of the above questions, list each existing policy or contract you are contemplating replacing...-->

    <%
    v_offsets=[586,606,626]
    v_offsets.each_with_index do |v,i|
      if @replaced_policies[i]
    %>
      <div name="Company Name"
        style="position:absolute; 
        top: <%=v%>px; 
        left: 30px; 
        font-size:11px; 
        max-width: 175px; 
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;">
        <%= @replaced_policies[i].quoting_details.last.try(:carrier).try(:name) %>
      </div>
      <div name="Policy Number"
        style="position:absolute; top: <%=v%>px; left: 215px; font-size:11px;">
        <%= @replaced_policies[i].policy_number %>
      </div>
      <div name="Name of Insured"
        style="position:absolute; top: <%=v%>px; left: 370px; font-size:11px;">
        <%= @consumer.full_name %>
      </div>
      <div name="Replaced or Financing"
        style="position:absolute; top: <%=v%>px; left: 593px; font-size:11px;">
        <%= @replaced_policies[i].financing ? 'F' : '' %>
        <%= @replaced_policies[i].replaced_by_id==@policy.id ? 'R' : '' %>
      </div>
    <%
      end
    end
    %>

    <div name="Reason For Replacement"
      style="position:absolute; top: 697px; left: 315px; font-size:11px;">
      <%= @rtt_answers[:is_replacing_because] %>
    </div>
    <!--Applicant's signature and printed name-->
    <div name="Signature"
      style="position:absolute; top: 742px; left: 0px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Printed Name"
      style="position:absolute; top: 742px; left: 220px;">
      <%= @consumer.full_name %>
    </div>
    <div name="Signature date"
      style="position:absolute; top: 742px; left: 433px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <!--Motorists approved material left with client-->
    <div name="Client Brochure"
      style="position:absolute; top: 829px; left: 572px;"
      class="unchecked-box"></div>
    <div name="Illustration"
      style="position:absolute; top: 846px; left: 572px;"
      class="unchecked-box"></div>
    <div name="Other"
      style="position:absolute; top: 862px; left: 572px;"
      class="unchecked-box"></div>
    <div name="Other"
      style="position:absolute; top: 858px; left: 587px; font-size:11px;">
      other
    </div>
    <!--Producer's signature and printed name-->
    <div name="Signature"
      style="position:absolute; top: 846px; left: 0px;">
      <%= raw @agent_signature %>
    </div>
    <div name="Printed Name"
      style="position:absolute; top: 846px; left: 220px;">
      <%= @policy.agent.full_name %>
    </div>
    <div name="Signature date"
      style="position:absolute; top: 846px; left: 433px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <!--Applicants must initial only if they do not want the notice read aloud-->
    <div name="Applicant's Initials"
      style="position:absolute; top: 890px; left: 282px;">
      <%= @consumer.first_name[0]+@consumer.last_name[0] %>
    </div>
  </div>
</div>

<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-IA(2-09)page2.svg') %>" alt="">
  </div>
    <!--List information for each policy being replaced-->
</div>
