
<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-GA-A_(6-04)page1.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--If you wish a policy summary statement from your existing insurer, or insurers, check this box-->
    <div style="position:absolute; top: 482px; left: 105.7px;"
      class="checked-box"></div>
    <div name="Applicant's Signature"
      style="position:absolute; top: 556px; left: 104px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Date"
      style="position:absolute; top: 556px; left: 292px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Agent's Signature"
      style="position:absolute; top: 556px; left: 382px;">
      <%= raw @agent_signature %>
    </div>
    <div name="Date"
      style="position:absolute; top: 556px; left: 570px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Applicant's Name"
      style="position:absolute; top: 621px; left: 104px;">
      <%= @consumer.full_name %>
    </div>
    <div name="Applicant's Address"
      style="position:absolute; top: 647px; left: 104px;">
      <%= @consumer.primary_address.street %>
    </div>
    <div name="Applicant's City"
      style="position:absolute; top: 672px; left: 104px;">
      <%= @consumer.primary_address.city %>
    </div>
    <div name="Applicant's State"
      style="position:absolute; top: 672px; left: 220px;">
      <%= @consumer.primary_address.state.abbrev %>
    </div>
    <div name="Applicant's Zip"
      style="position:absolute; top: 672px; left: 269px;">
      <%= @consumer.primary_address.zip %>
    </div>
    <div name="Agent's Name"
      style="position:absolute; top: 621px; left: 384px;">
      <%= @policy.agent.full_name %>
    </div>
    <div name="Agent's Address"
      style="position:absolute; top: 647px; left: 384px;">
      <%= @policy.agent.primary_address.try(:street) %>
    </div>
    <div name="Agent's City"
      style="position:absolute; top: 672px; left: 384px;">
      <%= @policy.agent.primary_address.try(:city) %>
    </div>
    <div name="Agent's State"
      style="position:absolute; top: 672px; left: 495px;">
      <%= @policy.agent.primary_address.try(:state).try(:abbrev) %>
    </div>
    <div name="Agent's Zip"
      style="position:absolute; top: 672px; left: 550px;">
      <%= @policy.agent.primary_address.try(:zip) %>
    </div>
    <div name="Agent's Phone"
      style="position:absolute; top: 706px; left: 384px;">
      <%= @policy.agent.primary_phone %>
    </div>
    <div name="Agent's License Number"
      style="position:absolute; top: 706px; left: 500px;">
      <%= @license_number %>
    </div>
  </div>
</div>

<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-GA-A_(6-04)page2.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--List information for each policy being replaced-->

    <%
    v_offsets=[696,726,756,786]
    v_offsets.each_with_index do |v,i|
      if @replaced_policies[i]
    %>
      <div name="Company Name"
        style="position:absolute;
         top: <%=v%>px; 
         left: 104px; 
         font-size:11px; 
         max-width: 175px; 
         text-overflow: ellipsis; 
         overflow: hidden; 
         white-space: nowrap;">
        <%= @replaced_policies[i].quoting_details.last.try(:carrier).try(:name) %>
      </div>
      <div name="Name of Insured"
        style="position:absolute; top: <%=v%>px; left: 297px; ">
        <%= @consumer.full_name %>
      </div>
      <div name="Policy Number"
        style="position:absolute; top: <%=v%>px; left: 488px; ">
        <%= @replaced_policies[i].policy_number %>
      </div>
    <%
      end
    end
    %>

  </div>
</div>
