
<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-KY-A(1-06)page1.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--Are you considering discontinuing making premium payments, surrendering, forfeiting, assigning to the insurer, or otherwise terminating your existing policy or contract?-->
    <div name="Yes" style="position:absolute; top: 363px; left: 286px;"
      class="<%= @rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div name="No" style="position:absolute; top: 363px; left: 331px;"
      class="<%= !@rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <!--Are you considering using funds from your existing policies or contracts to pay premiums due on the new policy or contract?-->
    <div name="Yes" style="position:absolute; top: 390px; left: 69px;"
      class="<%= @rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <div name="No" style="position:absolute; top: 390px; left: 111px;"
      class="<%= !@rtt_answers[:is_replacing] ? 'checked-box'   : 'unchecked-box' %>"></div>
    <!--If you answered "yes" to either of the above questions, list each existing policy or contract you are contemplating replacing...-->

    <%
    v_offsets=[470,486,492]
    v_offsets.each_with_index do |v,i|
      if @replaced_policies[i]
    %>
      <div name="Company Name"
        style="position:absolute; 
        top: <%=v%>px; 
        left: 63px; 
        font-size:9px;
        max-width:225px; 
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;">
        <%= @replaced_policies[i].quoting_details.last.try(:carrier).try(:name) %>
      </div>
      <div name="Policy Number"
        style="position:absolute; top: <%=v%>px; left: 270px; font-size:9px;">
        <%= @replaced_policies[i].policy_number %>
      </div>
      <div name="Name of Insured"
        style="position:absolute; top: <%=v%>px; left: 415px; font-size:9px;">
        <%= @consumer.full_name %>
      </div>
      <div name="Replaced or Financing"
        style="position:absolute; top: <%=v%>px; left: 573px; font-size:9px;">
        <%= @replaced_policies[i].financing ? 'F' : '' %>
        <%= @replaced_policies[i].replaced_by_id==@policy.id ? 'R' : '' %>
      </div>
    <%
      end
    end
    %>

    <div name="Reason For Replacement"
      style="position:absolute; top: 554px; left: 321px; font-size:9px;">
      <%= @rtt_answers[:is_replacing_because] %>
    </div>
    <div name="Applicant's Signature"
      style="position:absolute; top: 585px; left: 38px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Applicant's Name"
      style="position:absolute; top: 585px; left: 218px;">
      <%= @consumer.full_name %>
    </div>
    <div name="Date" style="position:absolute; top: 585px; left: 433px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <!--Motorists Life approved materials-->
    <div name="Client Brochure"
      style="position:absolute; top: 652px; left: 549px;"
      class="unchecked-box"></div>
    <div name="Illustration"
      style="position:absolute; top: 665px; left: 549px;"
      class="unchecked-box"></div>
    <div name="Other"
      style="position:absolute; top: 678px; left: 549px;"
      class="unchecked-box"></div>
    <div name="Other Specify"
      style="position:absolute; top: 666px; left: 567px; font-size:9px;">
      
    </div>
    <div name="Agent's Signature"
      style="position:absolute; top: 665px; left: 38px;">
      <%= raw @agent_signature %>
    </div>
    <div name="Agent's Name"
      style="position:absolute; top: 665px; left: 218px;">
      <%= @policy.agent.full_name %>
    </div>
    <div name="Date"
      style="position:absolute; top: 665px; left: 433px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Applicant's Initials"
      style="position:absolute; top: 696px; left: 262px;">
      <%= @consumer.first_name[0] + @consumer.last_name[0] %>
    </div>
  </div>
</div>

<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-KY-A(1-06)page2.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--There is no consumer data on this page-->
  </div>
</div>
