
<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-342-MN(5-10)page1.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--Insurer as it appears on the policy or contract-->
    <div name="Insurer"
      style="position:absolute; top: 493px; left: 110px; font-size:11px;">
      <%= @replaced_policies[0].try(:quoting_details).try(:last).try(:carrier).try(:name) %>
    </div>
    <div name="Insurer"
      style="position:absolute; top: 507px; left: 110px; font-size:11px;">
      <%= @replaced_policies[1].try(:quoting_details).try(:last).try(:carrier).try(:name) %>
    </div>
    <div name="Insurer"
      style="position:absolute; top: 521px; left: 110px; font-size:11px;">
      <%= @replaced_policies[2].try(:quoting_details).try(:last).try(:carrier).try(:name) %>
    </div>
    <div name="Insurer"
      style="position:absolute; top: 535px; left: 110px; font-size:11px;">
      <%= @replaced_policies[3].try(:quoting_details).try(:last).try(:carrier).try(:name) %>
    </div>
    <!--Insured as it appears on the policy or contract-->
    <div name="Insured"
      style="position:absolute; top: 493px; left: 416px; font-size:11px;">
      <%= @consumer.full_name if @replaced_policies[0] %>
    </div>
    <div name="Insured"
      style="position:absolute; top: 507px; left: 416px; font-size:11px;">
      <%= @consumer.full_name if @replaced_policies[1] %>
    </div>
    <div name="Insured"
      style="position:absolute; top: 521px; left: 416px; font-size:11px;">
      <%= @consumer.full_name if @replaced_policies[2] %>
    </div>
    <div name="Insured"
      style="position:absolute; top: 535px; left: 416px; font-size:11px;">
      <%= @consumer.full_name if @replaced_policies[3] %>
    </div>
    <!--Policy or contract number-->
    <div name="Policy Number"
      style="position:absolute; top: 570px; left: 110px; font-size:11px;">
      <%= @replaced_policies[0].try(:policy_number) %>
    </div>
    <div name="Policy Number"
      style="position:absolute; top: 584px; left: 110px; font-size:11px;">
      <%= @replaced_policies[1].try(:policy_number) %>
    </div>
    <div name="Policy Number"
      style="position:absolute; top: 598px; left: 110px; font-size:11px;">
      <%= @replaced_policies[2].try(:policy_number) %>
    </div>
    <div name="Policy Number"
      style="position:absolute; top: 612px; left: 110px; font-size:11px;">
      <%= @replaced_policies[3].try(:policy_number) %>
    </div>
    <!--Insured birthdate-->
    <div name="Insured Birthdate"
      style="position:absolute; top: 570px; left: 416px; font-size:11px;">
      <%= @consumer.birth_or_trust_date if @replaced_policies[0] %>
    </div>
    <div name="Insured Birthdate"
      style="position:absolute; top: 584px; left: 416px; font-size:11px;">
      <%= @consumer.birth_or_trust_date if @replaced_policies[1] %>
    </div>
    <div name="Insured Birthdate"
      style="position:absolute; top: 598px; left: 416px; font-size:11px;">
      <%= @consumer.birth_or_trust_date if @replaced_policies[2] %>
    </div>
    <div name="Insured Birthdate"
      style="position:absolute; top: 612px; left: 416px; font-size:11px;">
      <%= @consumer.birth_or_trust_date if @replaced_policies[3] %>
    </div>

    <!-- Type of Proposed Policy or Contract-->
    <div style="position:absolute; top: 656px; left: 113px;">
      Term Life Insurance
    </div>
    <!--Face Amount-->
    <div style="position:absolute; top: 656px; left: 560px;">
      <%= number_with_precision(@policy.quoting_details.last.face_amount, :precision => 2, :delimiter => ',')  %>
    </div>
    <!-- Signature of applicant -->
    <div style="position:absolute; top: 692px; left: 113px;">
      <%= raw @consumer_signature %>
    </div>
    <!--Date-->
    <div style="position:absolute; top: 692px; left: 546px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <!--Address of applicant-->
    <div style="position:absolute; top: 730px; left: 113px;">
      <%= @consumer.primary_address.street %>
    </div>
    <!--City of applicant-->
    <div style="position:absolute; top: 730px; left: 356px;">
      <%= @consumer.primary_address.city %>
    </div>
    <!--State of applicant-->
    <div style="position:absolute; top: 730px; left: 495px;">
      <%= @consumer.primary_address.state.abbrev %>
    </div>
    <!--I certify that this form was given to and completed by: -->
    <div style="position:absolute; top: 775px; left: 410px;">
      <%= @consumer.full_name %>
    </div>
    <!--Agent's signature-->
    <div style="position:absolute; top: 834px; left: 113px;">
      <%= raw @agent_signature %>
    </div>
    <div style="position:absolute; top: 834px; left: 490px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <!--Agent's address-->
    <div style="position:absolute; top: 875px; left: 113px;">
      <%= @policy.agent.try(:primary_address).try(:street) %>
    </div>
    <div style="position:absolute; top: 910px; left: 113px;">
      <%= @policy.agent.try(:primary_address).try(:city) %>
    </div>
    <div style="position:absolute; top: 910px; left: 495px;">
      <%= @policy.agent.try(:primary_address).try(:state).try(:abbrev) %>
    </div>
  </div>
</div>

<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-342-MN(5-10)page2.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--Insurer's mailing date-->
    <div style="position:absolute; top: 198px; left: 164px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
  </div>
</div>
