
<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-PA-A(2-04)page1.svg') %>" alt="">
  </div>
</div>

<div class="page" style="-webkit-transform: scale(1,1)  translate(-20px, 0px);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-PA-A(2-04)page2.svg') %>" alt="">
  </div>
  <div class="consumer-data">

    <%
    v_offsets=[396,427,458,489,520,551,582]
    v_offsets.each_with_index do |v,i|
      if @replaced_policies[i]
    %>
      <div name="Company Name"
        style="position:absolute; 
        top: <%=v%>px; 
        left: 49px; 
        font-size:11px; 
        width: 164px; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;">
        <%= @replaced_policies[i].quoting_details.last.try(:carrier).try(:name) %>
      </div>
      <div name="Name of Insured"
        style="position:absolute; top: <%=v%>px; left: 259px; font-size:11px;">
        <%= @consumer.full_name %>
      </div>
      <div name="Policy Number"
        style="position:absolute; top: <%=v%>px; left: 519px; font-size:11px;">
        <%= @replaced_policies[i].policy_number %>
      </div>
    <%
      end
    end
    %>

    <div name="Applicant Signature" style="position:absolute; top: 725px; left: 99px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Date" style="position:absolute; top: 725px; left: 512px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
  </div>
</div>
