
<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-IN-A_(2-04)page1.svg') %>" alt="">
  </div>
  <div class="consumer-data">
  <!--Existing Policy Information-->
    <div name="Name of Insured"
      style="position:absolute; top: 520px; left: 260px;">
      <%= @policy.consumer.full_name %>
    </div>


    <%
    v_offsets=[608,643,673]
    v_offsets.each_with_index do |v,i|
      if @replaced_policies[i]
    %>
      <div name="Company Name"
        style="position:absolute; 
        top: <%=v%>px; 
        left: 0px; 
        font-size:11px; 
        max-width: 150px; 
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;">
        <%= @replaced_policies[i].quoting_details.last.try(:carrier).try(:name) %>
      </div>
      <div name="Type of Policy"
        style="position:absolute; top: <%=v%>px; left: 172px; font-size:11px;">
        <%= @replaced_policies[i].try(:quoting_details).try(:last).try(:plan_name) %>
      </div>
      <div name="Policy Number"
        style="position:absolute; top: <%=v%>px; left: 260px; font-size:11px;">
        <%= @replaced_policies[i].policy_number %>
      </div>
      <div name="Date of Issue"
        style="position:absolute; top: <%=v%>px; left: 360px; font-size:11px;">
        <%= @replaced_policies[i].effective_date %>
      </div>
      <div name="Face Amount"
        style="position:absolute; top: <%=v%>px; left: 480px; font-size:11px;">
        <%= @replaced_policies[i].quoting_details.last.try(:face_amount) %>
      </div>
      <div name="Optional Benefit Type"
        style="position:absolute; top: <%=v%>px; left: 580px; font-size:11px;">
        
      </div>
    <%
      end
    end
    %>




  <!--Proposed Policy Information-->
    <div name="Name of Insured"
      style="position:absolute; top: 705px; left: 260px;">
      <%= @consumer.full_name %>
    </div>
    <div name="Company"
      style="position:absolute; top: 792px; left: 0px; font-size:11px;">
      Motorists Life Insurance Inc.
    </div>
    <div name="Type of Policy"
      style="position:absolute; top: 792px; left: 212px; font-size:11px;">
      <%= @policy.quoting_details.last.plan_name %>
    </div>
    <div name="Face Amount"
      style="position:absolute; top: 792px; left: 440px; font-size:11px;">
      <%= @policy.quoting_details.last.face_amount %>
    </div>
    <div name="Optional Benefit Type"
      style="position:absolute; top: 792px; left: 580px; font-size:11px;">
      
    </div>

    <div name="Company"
      style="position:absolute; top: 837px; left: 46px; font-size:11px;">

    </div>
    <div name="Type of Policy"
      style="position:absolute; top: 837px; left: 212px; font-size:11px;">

    </div>
    <div name="Face Amount"
      style="position:absolute; top: 837px; left: 440px; font-size:11px;">

    </div>
    <div name="Optional Benefit Type"
      style="position:absolute; top: 837px; left: 580px; font-size:11px;">

    </div>

    <div name="Company"
      style="position:absolute; top: 867px; left: 46px; font-size:11px;">

    </div>
    <div name="Type of Policy"
      style="position:absolute; top: 867px; left: 212px; font-size:11px;">

    </div>
    <div name="Face Amount"
      style="position:absolute; top: 867px; left: 440px; font-size:11px;">

    </div>
    <div name="Optional Benefit Type"
      style="position:absolute; top: 867px; left: 580px; font-size:11px;">

    </div>
  </div>
</div>

<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-IN-A_(2-04)page2.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <div name="Applicant's Signature"
      style="position:absolute; top: 339px; left: 0px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Date"
      style="position:absolute; top: 387px; left: 0px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Address"
      style="position:absolute; top: 387px; left: 133px;">
      <%= @consumer.primary_address %>
    </div>
    <div name="Replacing Agent's Signature"
      style="position:absolute; top: 339px; left: 400px;">
      <%= raw @agent_signature %>
    </div>
    <div name="Phone"
      style="position:absolute; top: 471px; left: 400px;">
      <%= @policy.agent.primary_phone %>
    </div>
    <div name="Indiana License Number"
      style="position:absolute; top: 517px; left: 400px;">
      <%= @license_number %>
    </div>
  </div>
</div>
