<div class="page" style="-webkit-transform: scale(1.1,1.1) translate(0px, -20px);">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-0000-FL(1-05).svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!--Comparative Information Form Selection-->
    <div name="Yes"
      style="position:absolute; top: 342px; left: 313px;"
      class="checked-box"></div>
    <div name="No"
      style="position:absolute; top: 342px; left: 353px;"
      class="unchecked-box"></div>
    <!--Applicant's Signature-->
    <div style="position:absolute; top: 440px; left: 85px; max-width: 270px; ">
      <%= raw @consumer_signature %>
    </div>
    <div style="position:absolute; top: 440px; left: 383px; ">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <!--Agent's Signature-->
    <div style="position:absolute; top: 479px; left: 85px; max-width: 270px; ">
      <%= raw @agent_signature %>
    </div>
    <div style="position:absolute; top: 479px; left: 383px; ">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <!--Agent's Name-->
    <div style="position:absolute; top: 518px; left: 85px; ">
      <%= @policy.agent.full_name %>
    </div>
    <!--Agent's Address-->
    <div style="position:absolute; top: 558px; left: 85px; ">
      <%= @policy.agent.primary_address.try(:street) %>
    </div>
    <div style="position:absolute; top: 592px; left: 85px; ">
      <%= @policy.agent.primary_address.try(:city) %>
    </div>
    <div style="position:absolute; top: 592px; left: 205px; ">
      <%= @policy.agent.primary_address.try(:state).try(:abbrev) %>
    </div>
    <div style="position:absolute; top: 592px; left: 285px; ">
      <%= @policy.agent.primary_address.try(:zip) %>
    </div>
    <!--Agent's Company-->
    <div style="position:absolute; top: 625px; left: 85px; ">
      <%= @policy.agent.company %>
    </div>

    <!--Information on Policies which may be replaced-->

    <%
    v_offsets=[725,745,766,786,807,828,849,869,890]
    v_offsets.each_with_index do |v,i|
      if @replaced_policies[i]
    %>
      <div name="Company Name"
        style="position:absolute; top: <%=v%>px; left: 85px; font-size: 11px;">
        <%= @replaced_policies[i].quoting_details.last.try(:carrier).try(:name) %>
      </div>
      <div name="Policy Number"
        style="position:absolute; top: <%=v%>px; left: 312px; ">
        <%= @replaced_policies[i].policy_number %>
      </div>
      <div name="Name of Insured"
        style="position:absolute; top: <%=v%>px; left: 473px; ">
        <%= @consumer.full_name %>
      </div>
    <%
      end
    end
    %>

  </div>
</div>
