
<div class="page">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-TN-2(2-04).svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <div name="Company Name"
      style="position:absolute; top: 660px; left: 58px;">
      <%= @replaced_policies[0].try(:quoting_details).try(:last).try(:carrier).try(:name) %>
    </div>
    <div name="Policy Number"
      style="position:absolute; top: 660px; left: 373px;">
      <%= @replaced_policies[0].try(:policy_number) %>
    </div>
    <div name="Applicant Signature"
      style="position:absolute; top: 719px; left: 58px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Date"
      style="position:absolute; top: 719px; left: 332px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Agent Signature"
      style="position:absolute; top: 719px; left: 441px;">
      <%= raw @agent_signature %>
    </div>
  </div>
</div>
