
<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-MI-A(02-99)page1.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <div name="Applicant Signature"
      style="position:absolute; top: 831px; left: 413px;">
      <%= raw @consumer_signature %>
    </div>
  </div>
</div>

<div class="page" style="-webkit-transform: scale(1,1)">
  <div class="bg-img no-offset">
    <img src="<%= @make_svg_data_url.call('ML-MI-A(02-99)page2.svg') %>" alt="">
  </div>
  <div class="consumer-data">
    <!-- Existing Policies -->

    <%
    v_offsets=[261,290,314]
    v_offsets.each_with_index do |v,i|
      if @replaced_policies[i]
    %>
      <div name="Company Name"
        style="position:absolute; top: <%=v%>px; left: 60px; font-size:11px;">
        <%= @replaced_policies[i].quoting_details.last.try(:carrier).try(:name) %>
      </div>
      <div name="Name of Insured"
        style="position:absolute; top: <%=v%>px; left: 301px; font-size:11px;">
        <%= @consumer.full_name %>
      </div>
      <div name="Policy Number"
        style="position:absolute; top: <%=v%>px; left: 523px; font-size:11px;">
        <%= @replaced_policies[i].policy_number %>
      </div>
    <%
      end
    end
    %>

    <!-- Proposed Policies. (There will only be one.) -->
    <div name="Type of Policy"
      style="position:absolute; top: 398px; left: 60px;">
      Term Life Insurance
    </div>
    <div name="Face Amount"
      style="position:absolute; top: 398px; left: 526px;">
      <%= number_with_precision(@policy.quoting_details.last.face_amount, :precision => 2, :delimiter => ',')  %>
    </div>

    <div name="Type of Policy"
      style="position:absolute; top: 438px; left: 60px;">
      
    </div>
    <div name="Face Amount"
      style="position:absolute; top: 438px; left: 526px;">
      
    </div>

    <div name="Type of Policy"
      style="position:absolute; top: 471px; left: 60px;">
      
    </div>
    <div name="Face Amount"
      style="position:absolute; top: 471px; left: 526px;">
      
    </div>

    <div name="Applicant Signature"
      style="position:absolute; top: 525px; left: 45px;">
      <%= raw @consumer_signature %>
    </div>
    <div name="Date"
      style="position:absolute; top: 525px; left: 479px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Applicant Address"
      style="position:absolute; top: 573px; left: 45px;">
      <%= @consumer.primary_address.street %>
    </div>
    <div name="City"
      style="position:absolute; top: 573px; left: 288px;">
      <%= @consumer.primary_address.city %>
    </div>
    <div name="State"
      style="position:absolute; top: 573px; left: 479px;">
      <%= @consumer.primary_address.state.abbrev %>
    </div>
    <div name="Zip"
      style="position:absolute; top: 573px; left: 618px;">
      <%= @consumer.primary_address.zip %>
    </div>
    <div name="Applicant Name"
      style="position:absolute; top: 685px; left: 45px;">
      <%= @consumer.full_name %>
    </div>
    <div name="Date"
      style="position:absolute; top: 772px; left: 45px;">
      <%= @policy.date_signed_by_consumer %>
    </div>
    <div name="Agent Signature"
      style="position:absolute; top: 772px; left: 225px;">
      <%= raw @agent_signature %>
    </div>
    <div name="Agent Address"
      style="position:absolute; top: 810px; left: 225px;">
      <%= @policy.agent.try(:primary_address).try(:street) %>
    </div>
    <div name="City"
      style="position:absolute; top: 848px; left: 225px;">
      <%= @policy.agent.try(:primary_address).try(:city) %>
    </div>
    <div name="State"
      style="position:absolute; top: 848px; left: 490px;">
      <%= @policy.agent.try(:primary_address).try(:state).try(:abbrev) %>
    </div>
    <div name="Zip"
      style="position:absolute; top: 848px; left: 614px;">
      <%= @policy.agent.try(:primary_address).try(:zip) %>
    </div>
    <div name="Phone"
      style="position:absolute; top: 887px; left: 225px;">
      <%= @policy.agent.try(:primary_phone) %>
    </div>
  </div>
</div>
