  <div class="page" style="-webkit-transform: scale(1,1);">
    <table cellpadding=0 cellspacing=0>
      <tr>
        <td>
          Supplemental Information to the Application<br>
          Individual Life Insurance<br>
          <span class="small">Motorists life Insurance Company – A member of the Motorists Insurance Group</span><br>
          <span class="small">471 E. Broad St. Columbus, Ohio 43215</span>
        </td>
        <td style="vertical-align: top;">
          <img src="<%= @make_svg_data_url.call('logo.svg') %>" alt="">
        </td>
      </tr>
    </table>
    <p style="border-bottom:1px solid black;width: 50em;">
      <span class="consumer-data"><%= @consumer.full_name %></span>
      <span class="consumer-data" style="float:right;"><%= @consumer.ssn %></span>
    </p>
    <p class="pi-name-ssn-label small">
      Proposed Primary Insured Name
      <span style="padding-left:350px;">Social Security Number</span>
    </p>
    <br>
  <div style="white-space: pre-line;">
  <%= @consumer.occupation.to_s.length>=14 ? "Occupation: #{@consumer.occupation}" : '' %>
  <%= @bene_overflow %>
  <%= @remarks_overflow %>
  </div>

    <%= render '/rtt/forms/health_questions_footer' %>
  </div>
