<div id="dashboard" ng-controller="Dashboard.WidgetsCtrl">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-dashboard"></i> Dashboard</h3>
      <h2 ng-bind="widgetCtrlVars.activeWidgetName"></h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- <a class="btn btn-default" target="_blank"
          href="https://academy.insureio.com/dashboard-navigation-display/">
          Tutorial
        </a> -->
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section-content">
      
      <div class="navigation">
        <ul class="nav-horizontal">
          <li ng-repeat="widget in enabledWidgets"
            ng-class="widgetCtrlVars.activeWidgetName==widget.label ? 'active' : '' ">
            <a href="" ng-click="setActiveWidget(widget.label)">
              {{widget.label}}
              <span class="badge"
                ng-if="widget.response && widget.response.$resolved"
                ng-bind="widget.count || '0' "></span>
              <i ng-if="widget.response && !widget.response.$resolved"
                class="fa fa-spinner fa-spin"></i>
            </a>
          </li>
          <li class="recently-viewed"
            ng-class="widgetCtrlVars.activeWidgetName=='Recently Viewed' ? 'active' : '' ">
            <a href="" ng-click="setActiveWidget('Recently Viewed')">
              Recently Viewed
            </a>
          </li>
        </ul>
      </div>

      <div class="table-responsive"
        ng-repeat="widget in enabledWidgets"
        ng-controller="Dashboard.WidgetTableCtrl"
        ng-if="widgetCtrlVars.activeWidgetName==widget.label">
        <ng-include src="widget.src"></ng-include>
      </div>

      <div id="recently-viewed" class="table-responsive"
        ng-if="widgetCtrlVars.activeWidgetName=='Recently Viewed'">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Last Viewed</th>
              <th>Phone</th>
              <th>Email</th>
              <th style="width:auto;">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="consumer in recentConsumers">
              <td>
                <span class="label label-default"
                  uib-tooltip="ID: {{consumer.id}}">
                  {{consumer.id.toString(36).toUpperCase()}}
                </span>
              </td>
              <td>
                <a ng-href="/consumers/{{consumer.id}}"
                  ng-click="$event.preventDefault(); setUrl( '/consumers/'+consumer.id )">
                  {{consumer.name}}
                </a>
              </td>
              <td>{{consumer.time | formatForTimeAgo}}</td>
              <td>
                <a ng-if="consumer.phone"
                  ng-href="/consumers/{{consumer.id}}/log_contact_and_call?phone={{consumer.phone | drstripPhone}}">
                  <i class="fa fa-phone"></i>
                  {{consumer.phone | drFormatPhoneNum}}
                </a>
              </td>
              <td>
                <a ng-if="consumer.email"
                  href="mailto:{{consumer.email}}">
                  <i class="fa fa-envelope"></i> 
                  {{consumer.email}}
                </a>
              </td>
              <td ng-bind-html="consumer.addr"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>