<div class="filters">
  <form class="form-horizontal form-inline">
    <div class="form-group">
      <label>Updated in range</label>
      <dr-datetime-picker date-only="true"
        model="widget.options.updated_at_gte">
      </dr-datetime-picker>
      &nbsp;&ndash;&nbsp;
      <dr-datetime-picker date-only="true"
        model="widget.options.updated_at_lte">
      </dr-datetime-picker>
    </div>
    <div class="form-group">
      <ui-select theme="bootstrap"
        ng-model="tmpStatusType"
        on-select="widget.options.status_type_id=$item.id;
          widget.options.status_type_name=$item.name;
          widget.updateLocalStorage('status_type_id',$item.id,true);
          widget.updateLocalStorage('status_type_name',$item.name)">
        <ui-select-match data-placeholder="Filter by Status">
          {{$select.selected.name||widget.options.status_type_name||''}}
        </ui-select-match>
        <ui-select-choices class="text-left"
          refresh="null"
          refresh-delay="100"
          group-by="statusTypeGroupName"
          repeat="statusType in widget.statusOptions | filter : $select.search">
          <span ng-bind-html="statusType.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <button type="button"
        class="closebtn input-group btn btn-default form-control"
        ng-show="widget.options.status_type_id"
        ng-click="widget.options.status_type_id=null;
          widget.options.status_type_name=null;
          widget.updateLocalStorage('status_type_id',$item.id,true);
          widget.updateLocalStorage('status_type_name',$item.name)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </form>
</div>

<div class="table-responsive">
  <table id="{{tableId}}" class="table table-hover table-sortable">
    <thead>
      <tr>
        <th class="client_name">
          <span>
            Client Name
          </span>
        </th>
        <th class="sortable last_updated nowrap"
          ng-click="widget.sort('last_updated')">
          <span>
            Last Updated
            <i class="fa"
              ng-if="!widget.options.order_column || widget.options.order_column=='last_updated' "
              ng-class="widget.options.order_direction == 'ASC' ? 'fa-caret-down' : 'fa-caret-up'"></i>
            <i class="fa fa-sort lighter"
              ng-if="widget.options.order_column && widget.options.order_column!='last_updated'"></i>
          </span>
        </th>
        <th class="sortable current_status"
          ng-click="widget.sort('current_status')">
          <span>
            Current Status
            <i class="fa"
              ng-if="widget.options.order_column=='current_status' "
              ng-class="widget.options.order_direction == 'ASC' ? 'fa-caret-down' : 'fa-caret-up'"></i>
            <i class="fa fa-sort lighter"
              ng-if="widget.options.order_column!='current_status'"></i>
          </span>
        </th>
        <th class="sortable submission_type"
          ng-click="widget.sort('submission_type')">
          <span>
            Submission Type
            <i class="fa"
              ng-if="widget.options.order_column=='submission_type' "
              ng-class="widget.options.order_direction == 'ASC' ? 'fa-caret-down' : 'fa-caret-up'"></i>
            <i class="fa fa-sort lighter"
              ng-if="widget.options.order_column!='submission_type'"></i>
          </span>
        </th>
        <th class="sortable source"
          ng-click="widget.sort('source')">
          <span>
            Source
            <i class="fa"
              ng-if="widget.options.order_column=='source' "
              ng-class="widget.options.order_direction == 'ASC' ? 'fa-caret-down' : 'fa-caret-up'"></i>
            <i class="fa fa-sort lighter"
              ng-if="widget.options.order_column!='source'"></i>
          </span>
        </th>
        <th class="sortable premium nowrap"
          ng-click="widget.sort('premium')">
          <span>
            Premium
            <i class="fa"
              ng-if="widget.options.order_column=='premium' "
              ng-class="widget.options.order_direction == 'ASC' ? 'fa-caret-down' : 'fa-caret-up'"></i>
            <i class="fa fa-sort lighter"
              ng-if="widget.options.order_column!='premium'"></i>
          </span>
        </th>
        <th class="sortable assigned_to"
          ng-if="tableId != 'my-business'"
          ng-click="widget.sort('assigned_to')">
          <span>
            Assigned User
            <i class="fa"
              ng-if="widget.options.order_column=='assigned_to' "
              ng-class="widget.options.order_direction == 'ASC' ? 'fa-caret-down' : 'fa-caret-up'"></i>
            <i class="fa fa-sort lighter"
              ng-if="widget.options.order_column!='assigned_to'"></i>
          </span>
        </th>
        <th class="premium nowrap">
          <span>
            Assigned Brand
          </span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="kase in cases"
        ng-controller="Dashboard.ezlContextMenu"
        context-menu="ezlMenuOptions">
        <td title="Connection {{kase.consumer_id}}">
          <span ng-if="kase.is_test"
            class="label label-test">Test</span>
          <a ng-show="can('contacts_consumers')"
            ng-href="/consumers/{{kase.consumer_id}}"
            ng-bind="kase.client_name || '-'"></a>
          <span ng-show="!can('contacts_consumers')"
            ng-bind="kase.client_name || '-'"></span>
        </td>
        <td ng-bind="(kase.last_updated | formatForTimeAgo) || '-'"></td>
        <td ng-bind="kase.current_status || '-'"></td>
        <td ng-bind="kase.submission_type || '-'"></td>
        <td ng-bind="kase.source || '-'"></td>
        <td ng-bind="(kase.premium | currency : $ : 0) || '-'"></td>
        <td title="User {{kase.agent_id}}"
          ng-if="tableId != 'my-business'">
          <span ng-bind="kase.assigned_to || '-'"></span>
          <code class="short-id"
            ng-bind="kase.agent_id.toString(36) || '-'"></code>
        </td>
        <td ng-bind="kase.brand_name || '-'"></td>
        <td>
          <div class="dropdown btn-group pull-right" uib-dropdown>
            <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
              <li>
                <a title="Close case"
                  style="color:red"
                  ng-click="withdrawEZLCase(kase.id)">
                  Remove
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr ng-if="cases && !cases.length">
        <td ng-if="tableId == 'my-business'"
          colspan="8" class="text-center">
          <em>No cases to display</em>
        </td>
        <td ng-if="tableId != 'my-business'"
          colspan="9" class="text-center">
          <em>No cases to display</em>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td ng-if="tableId == 'my-business'"
          colspan="8" class="text-right">
          <dr-pagination-links data-options="widget" ng-show="widget.pageCt>1"></dr-pagination-links>
        </td>
        <td ng-if="tableId != 'my-business'"
          colspan="9" class="text-right">
          <dr-pagination-links data-options="widget" ng-show="widget.pageCt>1"></dr-pagination-links>
        </td>
      </tr>
    </tfoot>
  </table>
</div>