<div class="filters">
  <form class="form-horizontal form-inline">
    <div class="form-group">
      <label>Due in range</label>
      <dr-datetime-picker date-only="true"
        model="widget.options.due_at_gte">
      </dr-datetime-picker>
      &nbsp;&ndash;&nbsp;
      <dr-datetime-picker date-only="true"
        model="widget.options.due_at_lte">
      </dr-datetime-picker>
    </div>
    <div class="form-group">
      <ui-select theme="bootstrap"
        ng-model="widget.options.status_type_id"
        on-select="widget.options.status_type_id=$item.id;
          widget.options.status_type_name=$item.name;
          widget.updateLocalStorage('status_type_id',$item.id,true);
          widget.updateLocalStorage('status_type_name',$item.name)">
        <ui-select-match data-placeholder="Filter by Status">
          {{$select.selected.name||widget.options.status_type_name||''}}
        </ui-select-match>
        <ui-select-choices class="text-left"
          refresh="null"
          refresh-delay="100"
          group-by="statusTypeGroupName"
          repeat="statusType in widget.statusOptions | filter : $select.search">
          <span ng-bind-html="statusType.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <button type="button"
        class="closebtn input-group btn btn-default form-control"
        ng-show="widget.options.status_type_id"
        ng-click="widget.options.status_type_id=null;
          widget.options.status_type_name=null;
          widget.updateLocalStorage('status_type_id',$item.id,true);
          widget.updateLocalStorage('status_type_name',$item.name)">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="form-group">
      <ui-select theme="bootstrap"
        ng-model="widget.options.person_id"
        on-select="widget.setPerson($item)">
        <ui-select-match data-placeholder="Filter by Name">
          <i ng-class="contactIconClass({person_type:widget.options.person_type})"></i>
          <span class="label label-default ng-binding"
            ng-attr-title="Full Numeric Id: {{widget.options.person_id}}"
            ng-bind="widget.options.person_id | drShortId"></span>
          {{widget.options.person_name || 'Filter by Name'}}
        </ui-select-match>
        <ui-select-choices class="text-left"
          repeat="person in widget.personOptions"
          refresh="widget.refreshPersonOptions($select.search)" refresh-delay="0">
          <i ng-class="contactIconClass(person)"></i>
          <span class="label label-default ng-binding"
          ng-attr-title="Full Numeric Id: {{person.id}}"
          ng-bind="person.id | drShortId"></span>
          <span ng-bind-html="person.full_name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <button type="button" class="input-group btn btn-default form-control"
        ng-show="widget.options.person_id"
        ng-click="widget.setPerson(null)">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="form-group">
      <ui-select theme="bootstrap"
        ng-model="widget.options.label"
        on-select="widget.updateLocalStorage('label',$item)">
        <ui-select-match data-placeholder="Filter by Follow Up">
          {{widget.options.label||'Filter by Follow Up'}}
        </ui-select-match>
        <ui-select-choices class="text-left"
          repeat="label in widget.labelOptions"
          refresh="widget.refreshLabelOptions($select.search)" refresh-delay="0">
          {{label}}
        </ui-select-choices>
      </ui-select>
      <button type="button" class="input-group btn btn-default form-control"
        ng-show="widget.options.label"
        ng-click="widget.options.label=null;
          widget.updateLocalStorage('label',$item)">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="form-group" ng-if="tableId.indexOf('team')!=-1">
      <ui-select theme="bootstrap"
        ng-model="widget.options.assigned_to_id"
        on-select="widget.setAssignedUser($item)">
        <ui-select-match data-placeholder="Filter by Assigned User">
          <span class="label label-default ng-binding"
            ng-attr-title="Full Numeric Id: {{widget.options.assigned_to_id}}"
            ng-bind="widget.options.assigned_to_id | drShortId"></span>
          {{widget.options.assigned_to_name ||'Filter by Assigned User'}}
        </ui-select-match>
        <ui-select-choices class="text-left"
          repeat="user in widget.assignedUserOptions"
          refresh="widget.refreshAssignedUserOptions($select.search)" refresh-delay="0">
          <span class="label label-default ng-binding"
            ng-attr-title="Full Numeric Id: {{user.id}}"
            ng-bind="user.id | drShortId"></span>
          <span ng-bind-html="user.full_name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <button type="button" class="input-group btn btn-default form-control"
        ng-show="widget.options.assigned_to_id"
        ng-click="widget.setAssignedUser(null)">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </form>
</div>

<div class="table-responsive">
  <table id="{{tableId}}" class="table table-hover table-sortable">
    <thead>
      <tr>
        <th ng-repeat="c in widget.columnHeadings"
          class="sortable"
          ng-class="widget.options.order_column && widget.options.order_column==c.optName ? 'active' : ''"
          ng-click="c.optName && widget.sort(c.optName)">
          <span ng-bind="c.humanName"></span>
          <i class="fa"
            ng-if="c.optName && widget.options.order_column==c.optName"
            ng-class="widget.options.order_direction == 'ASC' ? 'fa-caret-down' : 'fa-caret-up'"></i>
          <i class="fa fa-sort lighter"
            ng-if="c.optName && widget.options.order_column!=c.optName"></i>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks"
        ng-controller="Dashboard.contextMenu"
        class="{{task._colourClass}}" 
        context-menu="menuOptions"
        ng-init="task = task">
        <td>
          <span class="label label-default"
            ng-bind="task.person_id.toString(36).toUpperCase()"></span>
          <span ng-if="task.person.test_lead"
            class="label label-test">Test</span>
          <a ng-href="{{ urlForTask(task) }}"
            ng-click="$event.preventDefault(); setUrl( urlForTask(task) )"
            ng-bind="task.person_name || '-'"></a>
        </td>
        <td>
          <span>
            <i ng-class="contactIconClass(task)"></i>
            <span ng-bind="task.person_type"></span>
          </span>
        </td>
        <td>
          <span ng-bind="(task.state_id ? (task.state_id | enumValue : 'STATES' : 'abbrev') : '-')"/>
          <span ng-bind="(task.tz_offset ? '(' + (task.tz_offset | drRelativizeTz) + ')' : '-')"/>
        </td>
        <td ng-bind="task.status_type_name || '-'"></td>
        <td ng-bind="task.label || '-'"></td>
        <td ng-bind="(task.due_at | formatForTimeAgo : 'by') || '-'"></td>
        <td>
          <span ng-if="task.person_type=='Consumer'"
            ng-bind="(task.annualized_premium ? (task.annualized_premium | currency) : '-')"/>
          <span class="lighter"
            ng-if="task.person_type!='Consumer'">n/a</span>
        </td>
        <td ng-show="tableId.indexOf('team')!=-1"
          ng-bind="task.assigned_to_name || '-'"></td>
        <td>
          <span ng-if="task.person_type=='Consumer'"
            ng-bind="task.brand_name_of_consumer || '-'"></span>
          <span class="lighter"
            ng-if="task.person_type!='Consumer'">
            n/a
          </span>
        </td>
        <td>
          <div class="dropdown btn-group pull-right" uib-dropdown>
            <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
              <li>
                <a ng-href="tel:{{task.person.$primaryPhone.value}}">
                  Call
                </a>
              </li>
              <li>
                <a ng-href="mailto:{{task.person.$primaryEmail.value}}">
                  Email
                </a>
              </li>
              <li ng-class="task.origin_type!='Crm::Status' ? 'disabled' : ''">
                <a ng-click="openChangeTaskStatusModal(task,this)">
                  Change Status
                </a>
              </li>
              <li>
                <a id="add_task_{{task.person_id}}"
                  ng-controller="PolicyCtrl"
                  ng-click="openNewTaskModal(task.person)">
                  Add Task
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a style="color:red;" title="Close case"
                  ng-click="withdrawTask(task)">
                  Remove
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr ng-if="tasks && !tasks.length">
        <td ng-if="tableId == 'my-pending-tasks' || tableId == 'unassigned-tasks'"
          colspan="9" class="text-center">
          <em>No tasks to display</em>
        </td>
        <td ng-if="tableId != 'my-pending-tasks' && tableId != 'unassigned-tasks'"
          colspan="10" class="text-center">
          <em>No tasks to display</em>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td ng-if="tableId == 'my-pending-tasks' || tableId == 'unassigned-tasks'"
          colspan="9" class="text-right">
          <dr-pagination-links data-options="widget" ng-show="widget.pageCt>1"></dr-pagination-links>
        </td>
        <td ng-if="tableId != 'my-pending-tasks' && tableId != 'unassigned-tasks'"
          colspan="10" class="text-right">
          <dr-pagination-links data-options="widget" ng-show="widget.pageCt>1"></dr-pagination-links>
        </td>
      </tr>
    </tfoot>
  </table>
</div>