<div class="filters">
  <form class="form-horizontal form-inline">
    <div class="form-group">
      <label>Created in range</label>
      <dr-datetime-picker date-only="true"
        model="widget.options.created_at_gte">
      </dr-datetime-picker>
      &nbsp;&ndash;&nbsp;
      <dr-datetime-picker date-only="true"
        model="widget.options.created_at_lte">
      </dr-datetime-picker>
    </div>

    <div class="form-group pull-right">
      <div class="dropdown btn-group" uib-dropdown>
        <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
          <i class="fa fa-filter" aria-hidden="true"></i>
          {{widget.options.include_tests}}
        </a>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
          <li ng-repeat= "option in ['All','Exclude Tests','Tests Only']">
            <a ng-click="widget.setTestInclusionScope(option)">
              {{option}}
            </a>
          </li>
        </ul>
      </div>
    </div>

  </form>
</div>

<div class="table-responsive">
  <div id="rtt" class="table-responsive">
    <table class="table table-hover table-sortable">
      <thead>
        <tr>
          <th style="width: 5em;"
            class="sortable submission_type"
            ng-click="widget.sort('id')">
            ID <i class="fa fa-sort"></i>
          </th>
          <th class="sortable submission_type"
            ng-click="widget.sort('consumer_name')">
            Consumer Name <i class="fa fa-sort"></i>
          </th>
          <th class="sortable submission_type"
            ng-click="widget.sort('status_created')">
            Status Date <i class="fa fa-sort"></i>
          </th>
          <th class="sortable submission_type"
            ng-click="widget.sort('status_name')">
            Current Status <i class="fa fa-sort"></i>
          </th>
          <th>Agent Name</th>
          <th>SCOR Response</th>
          <th style="width: 12em;">Forms</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="policy in cases">
          <td>
            <span class="label label-default"
              uib-tooltip="ID: {{policy.consumer_id}}">
              {{policy.consumer_id | drShortId}}
            </span>
          </td>
          <td>
            <a ng-href="/consumers/{{policy.consumer_id}}">
              <span ng-if="policy.is_test || policy.consumer.test_lead"
                class="label label-test">Test</span>
              {{policy.consumer_name}}
            </a>
          </td>
          <td>{{(policy.$status.created_at | formatForTimeAgo) || 'n/a'}}</td>
          <td>{{ policy.$status.status_type_name }}</td>
          <td>{{policy.agent_name}}</td>
          <td>
            <a ng-if="policy.sales_stage_id>=3"
              ng-href="/rtt/{{ policy.scor_guid }}/full_scor_underwriting_response.json"
              target="_blank">
              <i class="fa fa-external-link"></i>
              View SCOR Response
            </a>
            <span ng-if="policy.sales_stage_id<3" >-</span>
          </td>
          <td>
            <a ng-if="policy.sales_stage_id>=3"
              ng-href="/rtt/{{ policy.scor_guid }}/app_forms_only.pdf"
              target="_blank">
              <i class="fa fa-external-link"></i> 
              View Forms
            </a>
            <span ng-if="policy.sales_stage_id<3" >-</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>