<div style="text-align:center;">
  <h4>Confirm Unsubscribe</h4>

  <p><strong>Are you sure</strong> that you no longer wish to receive <strong><%= unsub_from_str %></strong> from <%= "#{@contact.try(:owner).try(:name)||@message.try(:user).try(:name)} via" %> Insureio?</p>
  <%=link_to "Confirm", request.url.gsub('step_one','step_two'), class: "btn btn-primary" %>
</div>