<div style="text-align:center;">
  <% if @success %>
    <h4>Successfully Unsubscribed</h4>
    <p>
      You will receive no further emails updating you on the progress of your application for insurance.<br />
      You are still welcome to contact your sales agent #{@person.owner&.name} to inquire on the progress of your application.
    </p>
  <% else %>
    <h4>Error</h4>
    <p>
      Something went wrong while unsubscribing you.<br />
      Please contact your assigned sales agent.<br />
      They can unsubscribe you from further progress notifications.
    </p>
  <% end %>
</div>