<?xml version="1.0"?>
<Crm xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Country="US" Name="Insureio" Version="1">
  <Number Prefix="AsIs" MaxLength="[MaxLength]" />
  <Connection MaxConcurrentRequests="2" />
  <Parameters>
    <Parameter Name="UserName" Type="String" Parent="General Configuration" Editor="String" Title="Username:" />
    <Parameter Name="Password" Type="Password" Parent="General Configuration" Editor="String" Title="Password:" />
    <Parameter Name="ReportCallEnabled" Type="Boolean" Editor="String" Title="Enable Call Journaling" Default="False" />
    <Parameter Name="Subject" Type="String" Parent="ReportCallEnabled" Editor="String" Title="Call Subject:" Default="3CX PhoneSystem Call" />
    <Parameter Name="InboundCallText" Type="String" Parent="ReportCallEnabled" Editor="String" Title="Answered Inbound Call:" Default="[DateTime]: Answered incoming call from [Number] to [Agent] ([Duration])" />
    <Parameter Name="MissedCallText" Type="String" Parent="ReportCallEnabled" Editor="String" Title="Missed Call:" Default="[DateTime]: Missed call from [Number] to [Agent]" />
    <Parameter Name="OutboundCallText" Type="String" Parent="ReportCallEnabled" Editor="String" Title="Answered Outbound Call:" Default="[DateTime]: Answered outgoing call from [Agent] to [Number] ([Duration])" />
    <Parameter Name="NotAnsweredOutboundCallText" Type="String" Parent="ReportCallEnabled" Editor="String" Title="Unanswered Outbound Call:" Default="[DateTime]: Unanswered outgoing call from [Agent] to [Number]" />
  </Parameters>
  <Authentication Type="Basic">
    <Value>[UserName]:[Password]</Value>
  </Authentication>
  <Scenarios>
    <Scenario Id="" Type="REST">
      <Request Url="https://<%=current_user.tenant.name %>.insureio.com/contacts/search_by_phone?number=[Number]" MessagePasses="0" RequestEncoding="UrlEncoded" RequestType="Get" ResponseType="Json" />
      <Rules>
        <Rule Type="Any">contact.id</Rule>
      </Rules>
      <Variables>
        <Variable Name="ContactID" Path="contact.id">
          <Filter />
        </Variable>
        <Variable Name="FirstName" Path="contact.full_name">
          <Filter />
        </Variable>
        <Variable Name="CompanyName" Path="contact.company">
          <Filter />
        </Variable>
        <Variable Name="Email" Path="contact.primary_email">
          <Filter />
        </Variable>
        <Variable Name="PhoneHome" Path="contact.home_phone">
          <Filter />
        </Variable>
        <Variable Name="PhoneHome2" Path="contact.home_phone2">
          <Filter />
        </Variable>
        <Variable Name="PhoneBusiness" Path="contact.work_phone">
          <Filter />
        </Variable>
        <Variable Name="PhoneBusiness2" Path="contact.work_phone2">
          <Filter />
        </Variable>
        <Variable Name="PhoneMobile" Path="contact.mobile_phone">
          <Filter />
        </Variable>
        <Variable Name="PhoneMobile2" Path="contact.mobile_phone2">
          <Filter />
        </Variable>
        <Variable Name="PhoneOther" Path="contact.other_phone">
          <Filter />
        </Variable>
        <Variable Name="CustomValue" Path="contact.person_type">
          <Filter />
        </Variable>
        <Variable Name="ContactUrl" Path="contact.url">
          <Filter />
        </Variable>
      </Variables>
      <Outputs Next="" AllowEmpty="true">
        <Output Type="ContactID" Passes="0" Value="[ContactID]" />
        <Output Type="FirstName" Passes="0" Value="[FirstName]" />
        <Output Type="CompanyName" Passes="0" Value="[CompanyName]" />
        <Output Type="Email" Passes="0" Value="[Email]" />
        <Output Type="PhoneHome" Passes="0" Value="[PhoneHome]" />
        <Output Type="PhoneHome2" Passes="0" Value="[PhoneHome2]" />
        <Output Type="PhoneBusiness" Passes="0" Value="[PhoneBusiness]" />
        <Output Type="PhoneBusiness2" Passes="0" Value="[PhoneBusiness2]" />
        <Output Type="PhoneMobile" Passes="0" Value="[PhoneMobile]" />
        <Output Type="PhoneMobile2" Passes="0" Value="[PhoneMobile2]" />
        <Output Type="PhoneOther" Passes="0" Value="[PhoneOther]" />
        <Output Type="CustomValue" Passes="0" Value="[CustomValue]" />
        <Output Type="ContactUrl" Passes="0" Value="[ContactUrl]" />
      </Outputs>
    </Scenario>
    <Scenario Id="ReportCall" Type="REST">
      <Request SkipIf="[ReportCallEnabled]!=True||[CallType]!=Inbound||[CustomValue]!='Consumer'" Url="https://<%=current_user.tenant.name %>.insureio.com/notes.json" MessagePasses="0" Message="" RequestContentType="application/json" RequestEncoding="Json" RequestType="Post" ResponseType="Json">
        <PostValues Key="">
          <Object Key="note">
            <Value Key="notable_type" Passes="1" Type="String">[Contact::CustomValue]</Value>
            <Value Key="notable_id" Passes="1" Type="String">[Contact::ContactID]</Value>
            <Value Key="text" Passes="2" Type="String">3CX Recieved [CallType] Call From [Number] to extension [Agent]
Local (Agent's Time Zone) Start Time: [CallStartTimeLocal]
Local (Agent's Time Zone) End Time: [CallEndTimeLocal]
Duration: [Duration]
Subject: [Subject]
Agent's Description: [InboundCallText]</Value>
          </Object>
        </PostValues>
      </Request>
      <Variables />
      <Outputs Next="ReportCallMissed" AllowEmpty="true" />
    </Scenario>
    <Scenario Id="ReportCallMissed" Type="REST">
      <Request SkipIf="[ReportCallEnabled]!=True||[CallType]!=Missed||[CustomValue]!='Consumer'" Url="https://<%=current_user.tenant.name %>.insureio.com/notes.json" MessagePasses="0" RequestContentType="application/json" RequestEncoding="Json" RequestType="Post" ResponseType="Json">
        <PostValues Key="">
          <Object Key="note">
            <Value Key="notable_type" Passes="1" Type="String">[Contact::CustomValue]</Value>
            <Value Key="notable_id" Passes="1" Type="String">[Contact::ContactID]</Value>
            <Value Key="text" Passes="2" Type="String">3CX Received [CallType] Call From [Number] to extension [Agent]
Local (Agent's Time Zone) Start Time: [CallStartTimeLocal]
Local (Agent's Time Zone) End Time: [CallEndTimeLocal]
Duration: [Duration]
Subject: [Subject]
Agent's Description:[MissedCallText]</Value>
          </Object>
        </PostValues>
      </Request>
      <Variables />
      <Outputs Next="ReportCallOutbound" AllowEmpty="true" />
    </Scenario>
    <Scenario Id="ReportCallOutbound" Type="REST">
      <Request SkipIf="[ReportCallEnabled]!=True||[CallType]!=Outbound||[CustomValue]!='Consumer'" Url="https://<%=current_user.tenant.name %>.insureio.com/notes.json" MessagePasses="0" RequestContentType="application/json" RequestEncoding="Json" RequestType="Post" ResponseType="Json">
        <PostValues Key="">
          <Object Key="note">
            <Value Key="notable_type" Passes="1" Type="String">[Contact::CustomValue]</Value>
            <Value Key="notable_id" Passes="1" Type="String">[Contact::ContactID]</Value>
            <Value Key="text" Passes="2" Type="String">3CX Made [CallType] Call From extension [Agent] to [Number]
Local (Agent's Time Zone) Start Time: [CallStartTimeLocal]
Local (Agent's Time Zone) End Time: [CallEndTimeLocal]
Duration: [Duration]
Subject: [Subject]
Agent's Description:[OutboundCallText]</Value>
          </Object>
        </PostValues>
      </Request>
      <Variables />
      <Outputs Next="ReportCallNotanswered" AllowEmpty="true" />
    </Scenario>
    <Scenario Id="ReportCallNotanswered" Type="REST">
      <Request SkipIf="[ReportCallEnabled]!=True||[CallType]!=Notanswered||[CustomValue]!='Consumer'" Url="https://<%=current_user.tenant.name %>.insureio.com/notes.json" MessagePasses="0" RequestContentType="application/json" RequestEncoding="Json" RequestType="Post" ResponseType="Json">
        <PostValues Key="">
          <Object Key="note">
            <Value Key="notable_type" Passes="1" Type="String">[Contact::CustomValue]</Value>
            <Value Key="notable_id" Passes="1" Type="String">[Contact::ContactID]</Value>
            <Value Key="text" Passes="2" Type="String">3CX Made [CallType] Call From extension [Agent] to [Number]
Local (Agent's Time Zone) Start Time: [CallStartTimeLocal]
Local (Agent's Time Zone) End Time: [CallEndTimeLocal]
Duration: [Duration]
Subject: [Subject]
Agent's Description:[NotAnsweredOutboundCallText]</Value>
          </Object>
        </PostValues>
      </Request>
      <Variables />
      <Outputs AllowEmpty="false" />
    </Scenario>
  </Scenarios>
</Crm>
