<style type="text/css">
  #policy-details-tabs,
  #policy-subsection-tabs{
    margin-top:2em;
  }
  .policies-list a{/* this is a class versus an id b/c there is a list for pending and a list for placed */
    min-height: 4.5em;
  }

  #policy-mgmt h4,
  #policy-details-tabs a,
  #policy-subsection-tabs a{
    text-transform: capitalize;
  }
  .policy-header,
  .policy-details{
    -webkit-column-width:20em;
  }
  .policy-header strong,
  .policy-details strong,
  #policy-mgmt .modal strong{
    display: inline-block;
    min-width:9em;
  }
  .edit-quoting-details .modal-body div{
    padding: 3px 0;
  }
  .edit-quoting-details .modal-body strong{
    word-wrap: break-word;
    min-width: 10em !important;
    max-width: 10em;
    overflow: hidden;
    vertical-align: middle;
  }
  .fixed-width-columns{
    -webkit-column-width:20em; /* Safari and Chrome */
       -moz-column-width:20em; /* Firefox */
            column-width:20em; /* IE 10 */
  }
  .fixed-width-columns div strong{
    display: inline-block;
    min-width:9em;
  }
  .fixed-width-columns div div{
    display: inline-block;
    max-width: 11em;
    vertical-align: top;
  }
  .edit-quoting-details select{
    min-width: 24em;
  }
  .edit-quoting-details input{
    min-width: 23em;
  }
  .policy-table .panel {
    margin-bottom: 0;
  }
  .policy-table .panel:hover .accordion-toggle.toggle {
    background-color: #f7f7f7 !important;
  }
  .navbar-inner {
    padding-bottom: 10px;
  }
</style>

<div id="policy-mgmt" ng-controller="PolicyCtrl">

  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Policies
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <div class="btn-group" uib-dropdown>
          <button class="btn btn-default" uib-dropdown-toggle>
            Add
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li>
              <a ng-click="openAddPolicyModal('enter quote',true)">
                Quote
              </a>
            </li>
            <li>
              <a ng-click="openAddPolicyModal('enter placed',true)">
                Placed Policy
              </a>
            </li>
          </ul>
        </div>
        <div class="dropdown btn-group" uib-dropdown>
          <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-filter"></i> Filter
          </a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li class="title">Filter Policies by:</li>
            <li role="separator" class="divider"></li>
            <li>
              <a ng-click="setPolicyFilterStr('All')">
                All ({{policyList('All').length}})
              </a>
            </li>
            <li>
              <a ng-click="setPolicyFilterStr('Open')">
                Open ({{policyList('Open').length}})
              </a>
            </li>
            <li>
              <a ng-click="setPolicyFilterStr('Pending')">
                Pending ({{policyList('Pending').length}})
              </a>
            </li>
            <li>
              <a ng-click="setPolicyFilterStr('Placed')">
                Placed ({{policyList('Placed').length}})
              </a>
            </li>
            <li>
              <a ng-click="setPolicyFilterStr('Closed')">
                Closed ({{policyList('Closed').length}})
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- SINGLE POLICY -->
  <div class="panel" id="cases-panel"
    ng-repeat="policy in policyList(policyFilterStr) track by policyListTrackingFunction(policy)">
    <div class="details-row accordion-toggle"
      ng-class="stateVars.activePolicy.id==policy.id ? '' : 'toggle'"
      ng-click="setActivePolicy(policy);"
      title="{{policy.typeStr=='Opportunity' ? 'Opportunity': 'Policy'}} Id: {{policy.id}}">
      <span ng-if="policy.is_test"
        class="label label-test">Test</span>
      <div class="grid-cell">
        {{ policyProductType(policy) || 'n/a' }} 
        <span ng-if="healthClass(policy)">
          - ({{healthClass(policy)}})
        </span>
        <span ng-if="currentDetails(policy).face_amount">
          - (${{currentDetails(policy).face_amount | number}})
        </span>
      </div>
      <div class="grid-cell">
        <strong>{{ policyType(policy) }}</strong> - {{ getStatus(policy) }}
      </div>
      <div class="grid-cell">
        {{policy.typeStr=='Opportunity' ? 'Opp': 'Pol'}}#
        <span class="label" style="margin-top:-4px;"
          ng-class="policy.typeStr=='Opportunity' ? 'label-info': 'label-success'">
          {{policy.id}}
        </span>
        <a ng-if="policy.sales_stage_id<SALES_STAGE_ID_FOR_APP_F && !policy.scor_guid && policy.typeStr=='Pending' "
          ng-href="{{ requoteLinkUrl(policy) }}"
          class="btn btn-default"
          uib-tooltip="Requote this policy?">
          Requote <i class="fa fa-refresh"></i>
        </a>
      </div>
    </div>
    <div class="details-body"
      ng-if="stateVars.activePolicy==policy"><!-- ngIf here creates a subscope, which is preferable to ngShow. -->
      <ng-include src="'/crm/cases/opportunity.html'"
        ng-if="policyType(policy)=='Opportunity'">
      </ng-include>
      <ng-include src="'/crm/cases/policy.html'"
        ng-if="policyType(policy)=='Pending' || policyType(policy)=='Placed'">
      </ng-include>
    </div>
  </div>
  <!-- END SINGLE POLICY -->
</div>