

<div>

  <label ng-if="!policy.exam_one_case_data.length">
    Control Code
    <i class="fa fa-question-circle"
      title="This list is populated based on the carrier from the last completed sales stage in Policy Details. If no carrier is specified, no options will appear here."></i>:
    <select
      ng-model="examModalVars.controlCodeId"
      ng-options="o.id as o.name for o in controlCodes">
    </select><!-- Control code will be stored in a new exam_one_case_data record when the schedule button is clicked. -->
  </label>
  <br />

  <div ng-if="policy.exam_one_case_data.length">
    This policy was scheduled and submitted with control code
    {{( controlCodes | whereKeyMatchesValue: 'id' : policy.exam_one_case_data[0].control_code_id).name}}.
  </div>

  <a ng-disabled="!examModalVars.controlCodeId"
    ng-class="policy.exam_one_case_data.length ? 'btn btn-primary' : 'btn'"
    ng-click="!policy.exam_one_case_data.length && examModalVars.controlCodeId && scheduleWithExamOne()"
    title="{{eOScheduleTitle()}}">
    {{policy.exam_one_case_data.length ? 'Scheduled' : 'Schedule'}}
  </a>
  <a ng-disabled="!eOScheduledNotSubmitted()"
    ng-class="eOScheduledNotSubmitted() ? 'btn btn-primary' : 'btn'"
    ng-click="eOScheduledNotSubmitted() && submitToExamOne()"
    title="{{eOSubmitTitle()}}">
    {{eOSubmitText()}}
  </a>
</div>

<!-- Previous implementation had a loop here to diplay exam one status history.
 However, the overwhelming majority of our (very few) cases in production that use ExamOne have only one status.
 For the handful of cases that have multiple ExamOne statuses, those records have blank description fields, offering no useful information.
 There is a poll service and a parser that it seems were meant to periodically gather these statuses, but that code is currently unused.
 See issue #616. -->