<div class="form-group">
  <label>Policy #</label>
  <input class="form-control" type="text" ng-model="policy.policy_number"></input>
</div>
<div class="form-group">
  <label>Effective Date</label>
  <dr-datetime-picker model="policy.effective_date" date-only="true"></dr-datetime-picker>
</div>
<div class="form-group">
  <label>Termination Date</label>
  <dr-datetime-picker model="policy.termination_date" date-only="true"></dr-datetime-picker>
 </div>
<div class="form-group">
  <div class="checkbox checkbox-primary">
    <input id="pre-exist" type="checkbox" ng-model="policy.is_a_preexisting_policy" />
    <label for="pre-exist"
      uib-tooltip="Ie. A policy NOT sold by you. Specifying this information can make your reports more accurate, since pre-existing policies will be excluded from search results."
      tooltip-placement="top"
      tooltip-trigger="mouseenter">
    	Is A Pre-Existing Policy
      <i class="fa fa-question-circle"></i>
    </label>
  </div>
</div>