<div ng-if="policy.sales_stage_id!=SALES_STAGE_ID_FOR_PLACED" class="form-group temporary-ins">
  <!-- Should not be editable for placed policies.
  If the designation is made before a policy is placed,
  we retain that info for historical purposes,
  but it is no longer relevant. -->

  <strong style="min-width:16em;">
    Temporary Ins
  </strong>
  <label class="radio-inline">
    <input ng-value="true" type="radio"
      ng-model="policy.bind" /> Yes
  </label>
  <label class="radio-inline">
    <input ng-value="false" type="radio"
      ng-model="policy.bind" /> No
  </label>
  <div class="alert alert-danger"
    ng-if="policy.bind!=false && policy.bind!=true && ( policy.$attemptedSave || (!QuotePathCtrl && attemptedSave) )">
    <i class="fa fa-exclamation-triangle"></i>
    Required
  </div>
</div>
<div class="form-group">
  <strong style="min-width:16em;">
    Business Ins
  </strong>
  <label class="radio-inline">
    <input ng-value="true" type="radio"
      ng-model="policy.business_insurance" /> Yes
  </label>
  <label class="radio-inline">
    <input ng-value="false" type="radio"
      ng-model="policy.business_insurance" /> No
  </label>
</div>
<div class="form-group">
  <strong style="min-width:16em;">
    Collateral Assignment
  </strong>
  <label class="radio-inline">
    <input ng-value="true" type="radio"
      ng-model="policy.collateral_assignment" /> Yes
  </label>
  <label class="radio-inline">
    <input ng-value="false" type="radio"
      ng-model="policy.collateral_assignment" /> No
  </label>
</div>
<div ng-if="policy.collateral_assignment == true">
  <div class="form-group">
    <strong style="min-width:16em;vertical-align:top;">
      Collateral Assignment Note
    </strong>
    <textarea class="form-control"
      ng-model="policy.collateral_assignment_note" rows="2"></textarea>
  </div>
</div>
<div class="form-group">
  <strong style="min-width:16em;">
    Are there any riders?
  </strong>
  <label class="radio-inline">
    <input ng-value="true" type="radio"
      ng-model="policy.$riders_child" /> Yes
  </label>
  <label class="radio-inline">
    <input ng-value="false" type="radio"
      ng-model="policy.$riders_child" /> No
  </label>
</div>
<div ng-if="policy.$riders_child == true">
  <strong style="min-width:16em;vertical-align:top;">Rider(s)</strong>
  <div style="display:inline-block">
    <div class="form-group">
      <label>
        Child
        <input class="form-control" type="number"
          ng-model="policy.has_rider_child" style="width:4em;" />
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox"
          ng-model="policy.has_rider_waiver_of_premium" /> Waiver of Premium
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox"
          ng-model="policy.has_rider_disability_income" /> Disability Income
      </label>
      <div ng-if="policy.has_rider_disability_income" class="form-inline">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control"
            ng-model="policy.rider_disability_income_amount"
            type="number" min="1" max="9999" step="1"
            style="min-width:140px;margin:0;">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox"
          ng-model="policy.has_rider_critical_or_chronic_illness" /> Critical/Chronic Illness
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox"
          ng-model="policy.has_rider_ltc" /> LTC
      </label>
      <div ng-if="policy.has_rider_ltc" class="form-inline">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control"
            ng-model="policy.rider_ltc_amount"
            type="number" min="1" max="99999" step="1"
            style="min-width:140px;margin:0;">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox"
          ng-model="policy.has_rider_ad_and_d" /> AD & D
      </label>
      <div ng-if="policy.has_rider_ad_and_d" class="form-inline">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control"
            ng-model="policy.rider_ad_and_d_amount"
            type="number" min="1" max="9999999" step="1"
            style="min-width:140px;margin:0;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <strong style="min-width:16em;">
    Automatic Premium Loan?
  </strong>
  <label class="radio-inline">
    <input type="radio" ng-model="policy.autoloan_premium" ng-value="true" /> Yes
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="policy.autoloan_premium" ng-value="false" /> No
  </label>
</div>
<div class="form-group">
  <strong style="min-width:16em;">
    Dividend Option
  </strong>
  <select ng-model="policy.dividend_type_id"
    ng-options="o.id as (o.name | titleCase) for o in DIVIDEND_TYPES"
    class="form-control"
    style="width:auto; display:inline-block;">
  </select>
</div>