<style>
  .temporary-ins {
    display:none;
  }
</style>
<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close"
      ng-click="$close()"
      data-dismiss="modal">×</a>
    <h4 class="modal-title">
      <span ng-if="!modalState.hideRecordTypeOptions || !modalState.recordTypeToAdd">
        Add New
      </span>
      <span ng-if="modalState.hideRecordTypeOptions && modalState.recordTypeToAdd"
        ng-bind="(recordTypeOpts | whereKeyMatchesValue: 'id' : modalState.recordTypeToAdd)[0].name">
      </span>
    </h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body new-quote">
    <div class="form-group"
      ng-if="!modalState.hideRecordTypeOptions">
      <label>What type of record would you like to add?</label>
      <select class="form-control"
        ng-model="modalState.recordTypeToAdd"
        ng-options="o.id as o.name for o in recordTypeOpts">
      </select>
      <hr />
    </div>

    <form name="formHolder.newPlacedPolicyForm" role="form"
      ng-if="modalState.recordTypeToAdd=='enter placed'"
      ng-controller="addPlacedPolicyFormCtrl">
      <ng-include src="'/crm/cases/fields_for_placed_policy_info.html'"></ng-include><hr />
      <ng-include src="'/crm/cases/fields_for_quoting_details.html'"></ng-include><hr />
      <ng-include src="'/crm/cases/fields_for_special_handling.html'"></ng-include><hr />

      <div ng-repeat="stakeholderRelationship in policy.stakeholder_relationships_attributes"
        ng-show="!stakeholderRelationship._destroy"
        ng-init="overwriteOrigSR=true">
        <ng-include src="'/crm/cases/stakeholder/fields.html'"
          ng-controller="stakeholderRelationshipFormCtrl"
          class="form-horizontal"></ng-include>
        <a class="btn btn-warning"
          ng-click="stakeholderRelationship._destroy=true">
          Remove
        </a>
        <hr>
      </div>
      <a class="btn btn-default" 
        ng-click="addStakeholder(policy)">
        Add Stakeholder
      </a>
    </form>

    <form name="formHolder.newOpportunityForm" role="form"
      ng-if="modalState.recordTypeToAdd=='enter quote'"
      ng-controller="addOpportunityFormCtrl">
      <ng-include src="'/crm/cases/fields_for_quoting_details.html'"></ng-include>
    </form>

  </div>
  <div class="modal-footer">
    <a class="btn pull-left"
      ng-click="$close()">
      Cancel
    </a>
    <div ng-if="modalState.recordTypeToAdd=='enter placed'"
      ng-controller="addPlacedPolicyFormCtrl">
      <a class="btn btn-warning"
        ng-class="formHolder.newPlacedPolicyForm.$pristine ? 'disabled' : '' "
        ng-click="clearNewPlacedPolicyFormObj()">
        Clear
      </a>
      <a class="btn btn-primary"
        ng-class="formHolder.newPlacedPolicyForm.$pristine ? 'disabled' : '' "
        ng-click="createPlacedPolicy(policy)">
        Save
      </a>
    </div>
    <div ng-if="modalState.recordTypeToAdd=='enter quote'"
      ng-controller="addOpportunityFormCtrl">
      <a class="btn btn-warning"
        ng-class="formHolder.newOpportunityForm.$pristine ? 'disabled' : '' "
        ng-click="clearNewOpportunityFormObj(details)">
        Clear
      </a>
      <a ng-click="policy.$attemptedSave=true && createOpportunity(details)"
        class="btn btn-primary">
        Save
      </a>
    </div>
    <div ng-if="modalState.recordTypeToAdd=='run quote'">
      <a ng-href="/quoting/quotes/new?consumer_id={{consumerId}}" class="btn btn-primary">
        Enter quote path with this consumer's information
      </a>
    </div>
  </div>
</div>