<div class="panel-heading">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  {{policy.exam_company}} Exam Info
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body">

  <ng-include src="'/crm/cases/'+(policy.exam_company=='ExamOne' ? 'exam_one' : 'smm')+'.html'"></ng-include>

  <div class="s-panel s-shdw">
    <h5>Record Scheduled Information</h5>
    <div class="alert ng-scope">
      <i class="fa fa-info-circle"></i>
      Enter scheduled information here after scheduling and submitting through the above buttons.<br />
      This section is stored <strong>for reference purposes only</strong>.
    </div>
    <strong>Exam Number</strong>
    <a editable-text="policy.exam_num"
      onbeforesave="updateRecordSingleField('/crm/cases/'+policy.id+'.json','','exam_num',$data)">
      {{policy.exam_num || '(n/a)'}}
    </a>
    <br />
    <strong>Exam Time</strong>
    <dr-datetime-picker model="policy.exam_time"></dr-datetime-picker>
    <a ng-click="updateRecordSingleField('/crm/cases/'+policy.id+'.json','','exam_time',policy.exam_time)"
      class="btn btn-primary">
      <i class="fa fa-save"></i>
    </a>
  </div>

  <a ng-if="policy.exam_num"
    ng-href="{{examStatusUrl()}}"
    target="_blank"
    class="btn">
    Exam Status
  </a>

</div>
