<div class="panel-heading">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  Staff Assignments for Policy
</div>
<div class="modal-body">
  <ng-include src="'/usage/staff_assignments/form'"></ng-include>
</div>
<div class="modal-footer">
	<a ng-click="$close()"
		class="btn pull-left">
    Cancel
  </a>
  <a class="btn btn-default"
     ng-class="formHolder.staffAssignmentForm.$pristine ? 'disabled' : '' "
     ng-click="setStaffAssignmentFormObj()">Reset</a>
  <a class="btn btn-success"
     ng-class="formHolder.staffAssignmentForm.$pristine ? 'disabled' : '' "
     ng-click="saveStaffAssignment()">Save</a>
</div>