<div class="panel-heading">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  Placed Policy Info:
 </div>
<div class="modal-body">
  <div class="fixed-width-columns">
    <ng-include src="'/crm/cases/fields_for_placed_policy_info.html'"></ng-include>
    <a ng-click="savePlacedPolicyInfo()" class="btn btn-primary">Save</a>
  </div>
</div>