<!-- This modal needs to populate a new line in the Requirements & Notes table. The options for "Types" have yet to be filled. -->
<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">New Requirement</h4>
  </div>

  <form name="newReqForm" class="" id="new_req" 
    ng-submit="save()"
    novalidate>
    <dr-last-bulletin></dr-last-bulletin>
    <div class="modal-body">
      <div ng-hide="changeOfstatusNoteDiv || !relates_to || relates_to=='consumer'">
        <a type="button" class="close"
          ng-click="changeOfstatusNoteDiv=true;"
          data-dismiss="modal">×</a>
      </div>

      <div class="form-group">
        <label for="new_req_requirement">Requirement</label>
        <input class="form-control"
          id="new_req_requirement"
          ng-model="newRequirement.name"
          size="20" type="text" />
      </div>

      <div class="form-group">
        <label for="new_req_notes">Notes</label>
        <textarea class="form-control" style="height: 60px;"
          id="new_req_notes"
          ng-model="newRequirement.note"
          cols="20" rows="20"
          type="text" ></textarea>
      </div>

      <div class="form-group">
        <label for="new_req_required_of">Required of</label>
        <select class="crm-system-task-relates_to form-control"
          id="new_req_required_of"
          ng-model="newRequirement.responsible_party_type_id"
          ng-options="obj.id as obj.name for obj in CASE_REQ_RESPONSIBLE_PARTY_TYPES'">
        </select>
      </div>

      <div class="form-group col-md-6" style="padding-left: 0;">
        <label for="new_req_ordered">Ordered</label>
        <input class="form-control"
          ng-model="newRequirement.ordered_at"
          placeholder="mm/dd/yyyy"
          ui-mask="99/99/9999"
          type="text">
      </div>
      <div class="form-group col-md-6" style="padding-right: 0;">
        <label for="new_req_received">Received</label>
        <input class="form-control"
          ng-model="newRequirement.completed_at"
          placeholder="mm/dd/yyyy"
          ui-mask="99/99/9999"
          type="text">
      </div>

      <div class="form-group">
        <label for="new_req_type">Type</label>
        <select class="crm-system-task-relates_to form-control"
          id="new_req_type"
          ng-model="newRequirement.requirement_type_id"
          ng-options="obj.id as obj.name for obj in CASE_REQUIREMENT_TYPES">
        </select>
      </div>

      <div class="form-group">
        <label for="new_req_status">Status</label>
        <select class="crm-system-task-relates_to form-control"
          id="new_req_status"
          ng-model="newRequirement.status_id"
          ng-options="obj.id as obj.name for obj in CASE_REQ_STATUSES">
        </select>
      </div>

    </div>
    <div class="modal-footer">
      <a ng-click="$close()" data-dismiss="modal" class="btn pull-left">Cancel</a>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>