<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">Status History</h4>
  </div>
  <div class="modal-body">
    <div ng-repeat="status in stateVars.activePolicy.statuses | orderBy : 'id' : true "
      class="fixed-width-columns" 
      style=" border-left-width:1em;
              border-left-style:solid;
              border-left-color:{{status.status_type.color|| '#e8e8e8'}};
              padding-left:0.5em; margin-bottom:1em;">
      <div>
        <strong>Type:</strong>
        {{status.status_type_name}} 
        <span ng-if="$index==0">(Is Current Status)</span>
      </div>
      <div>
        <strong>Category:</strong>
        {{(status.status_type.status_type_category_id | enumValue : 'STATUS_CATEGORIES' : 'name') || 'n/a'}}
      </div>
      <div>
        <strong>Sales Stage:</strong>
        {{(status.sales_stage_id | enumValue : 'SALES_STAGES') || 'n/a'}}
      </div>
      <div>
        <strong>Openness:</strong>
        {{status.openness.name || 'n/a'}}
      </div>
      <div>
        <strong>Created By:</strong>
        {{statusChangedByName(status)}}
        <a ng-if="status.created_by_id && status.created_by_id!=currentUser.id"
          ng-href="{{'/users/'+status.created_by_id}}">
          <i class="fa fa-external-link"></i>
        </a>
      </div>
      <div>
        <strong>Created At:</strong>
        {{status.created_at | moment : 'format' : 'M/D/YY [at] h:mm a'}}
      </div>
    </div>
    <div ng-if="!stateVars.activePolicy.statuses.length"
      class="alert alert-info">
      <i class="fa fa-asterisk lighter"></i> There are no statuses to show.
    </div>
  </div>
</div>