<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">Special Handling</h4>
  </div>
  <div class="modal-body special-handling">
    <ng-include src="'/crm/cases/fields_for_special_handling.html'"></ng-include>
  </div>
  <div class="modal-footer">
    <a class="btn pull-left" ng-click="$close()" data-dismiss="modal">Cancel</a>
    <a ng-click="policy.$attemptedSave=true && saveSpecialHandling()" class="btn btn-primary">Update</a>
  </div>
</div>
<style>
.special-handling strong{
  display: inline-block;
  min-width:14em;
}
</style>