<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close"
      ng-click="$close()"
      data-dismiss="modal">×</a>
    <h4 class="modal-title">
      {{stakeholderRelationship.id ? '' : 'New'}}
      Policy Stakeholder:
    </h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <form name="formHolder.sRForm" role="form"
    ng-controller="stakeholderRelationshipFormCtrl">
    <div class="modal-body modal-for-stakeholders">
      <ng-include src="'/crm/cases/stakeholder/fields.html'" class="form-horizontal"></ng-include>
    </div>
    <div class="modal-footer">
      <div class="grid-cell grid--shrink">
        <a class="btn btn-warning pull-left"
          ng-class="formHolder.sRForm.$pristine ? 'disabled' : '' "
          ng-click="setSDFormObj()">
          Reset
        </a>
        <a class="btn btn-danger pull-left"
          ng-if="person.id && person.case_id"
          ng-click="destroyStakeholder(stakeholderRelationship)">
          Destroy
        </a>
        <a class="btn btn-primary"
          ng-class="(formHolder.sRForm.$pristine || !formHolder.sRForm.$valid) ? 'disabled' : '' "
          ng-click="isStakeholderRelationshipValid() &&
            createOrUpdateStakeholder(stakeholderRelationship)">
          {{person.id ? 'Update' : 'Create'}}
        </a>
      </div>
    </div>
  </form>
</div>