<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()">×</a>
    <h4 class="modal-title">Current Status</h4>
  </div>
  
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body" style="overflow-y: visible;">
    <ui-select theme="bootstrap"
      ng-model="tmpStatusTypeId"
      on-select="updateStatus($item.id)"
      append-to-body="true">
      <ui-select-match data-placeholder="(No Status Set)"
        allow-clear="true">
        {{$select.selected.name ||  status_type_name}}
      </ui-select-match>
      <ui-select-choices class="text-left"
        refresh="null"
        refresh-delay="100"
        group-by="statusTypeGroupName"
        repeat="o.id as o in statusTypes.concat(currentStatusType) | filter: $select.search">
        <i class="{{(o.ownership_id | enumValue : 'OWNERSHIPS' : 'icon_class') || 'fa fa-globe'}}"
          title="{{(o.ownership_id | enumValue : 'OWNERSHIPS' : 'value') || 'Global'}}"></i>
        <span ng-bind-html="o.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="modal-footer">
  </div>
</div>