<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
      <h4 class="modal-title">Editing Placed Policy</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body">
    <form name="formHolder.editPlacedPolicyForm" role="form">
      <ng-include src="'/crm/cases/fields_for_placed_policy_info.html'"></ng-include><hr />
      <ng-include src="'/crm/cases/fields_for_quoting_details.html'"></ng-include><hr />
      <ng-include src="'/crm/cases/fields_for_special_handling.html'"></ng-include>
    </form>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <a class="btn btn-warning"
        ng-class="formHolder.editPlacedPolicyForm.$pristine ? 'disabled' : '' "
        ng-click="resetEditPlacedPolicyFormObj()">
        Clear
      </a>
      <a ng-click="updatePlacedPolicy()"
        ng-class="formHolder.editPlacedPolicyForm.$pristine ? 'disabled' : '' "
        class="btn btn-primary">
        Save
      </a>
    </div>
  </div>
</div>