<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">New Task</h4>
  </div>

  <form name="newTaskForm" class="new_crm_task" id="new_crm_task" 
    ng-submit="createNewTask(newTaskForm.$valid)" novalidate>
    <dr-last-bulletin></dr-last-bulletin>
    <div class="modal-body">
      <div ng-hide="changeOfstatusNoteDiv || !relates_to || relates_to=='consumer'">
        <a type="button" class="close"
          ng-click="changeOfstatusNoteDiv=true;"
          data-dismiss="modal">×</a>
        Note: Any task linked to a policy or a campaign will automatically be closed by a change of policy status or campaign UNLESS it is marked "evergreen" below.
      </div>

      <div class="form-group">
        <label>Relates To
          <span ng-if="!task.$person">Person</span>
          <span ng-if="task.$person.person_type=='Consumer'">Consumer</span>
          <span ng-if="task.$person.person_type=='User'">Recruit</span>
        </label>
        <ui-select theme="bootstrap"
          ng-model="task.$person"
          on-select="selectPersonForTask($item)">
          <ui-select-match data-placeholder="Search Consumers and Recruits">
            <span ng-bind="$select.selected.full_name"></span>
            <div class="label label-default"
              ng-bind="$select.selected.person_id.toString(36).toUpperCase()"></div>
            <div class="pull-right"
              ng-if="$select.selected.company">
              <i class="fa fa-building-o"></i>
              <small ng-bind="$select.selected.company"></small>
            </div>
          </ui-select-match>
          <ui-select-choices class="text-left"
            repeat="contact in taskableContacts"
            refresh="searchTaskableContacts($select.search)"
            refresh-delay="0">
            <i ng-class="(contact.person_type=='Consumer' && 'fa fa-folder-open') ||
            (contact.person_type=='User' || contact.person_type=='Recruit' && 'fa fa-black-tie green')"></i>
            <span ng-bind="contact.full_name"></span>
            <div class="label label-default"
              ng-bind="contact.person_id.toString(36).toUpperCase()"></div>
            <div class="pull-right"
              ng-if="contact.company">
              <i class="fa fa-building-o"></i>
              <small ng-bind="contact.company"></small>
            </div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group">
        <label for="crm_task_relates_to">Relates To Type</label>
        <select class="crm-system-task-relates_to form-control"
          id="crm_task_relates_to"
          ng-disabled="!task.person_id"
          ng-change="getPoliciesOrSubscriptions(relatesTo)"
          ng-model="relatesTo"
          ng-required="true">
          <option value=""></option>
          <option value="person"
            ng-if="task.person_type=='User'">
            The Recruit Directly
          </option>
          <option value="person"
            ng-if="task.person_type=='Consumer'">
            The Consumer Directly
          </option>
          <option value="policy"
            ng-if="task.person_type=='Consumer'">
            A Policy
          </option>
          <option value="marketing">
            A Marketing Subscription
          </option>
        </select>
      </div>

      <div class="form-group"
        ng-if="task.origin_type=='Crm::Status'">
        <label for="crm_task_relates_to">Policy</label>
        <i class="fa fa-spinner fa-spin"
          ng-if="!policies.$resolved"></i>
        <div class="alert alert-danger"
          ng-if="policies.$resolved && !policies.data.length">
          Invalid option. It looks like this person does not have any policies to attach a task to.
        </div>

         <ui-select theme="bootstrap"
          ng-model="task.$policy"
          on-select="task.origin_id=$item.status_id; task.sequenceable_id=$item.id"
          ng-if="policies.data.length">
          <ui-select-match
            data-placeholder="Select Policy"
            allow-clear="true"
            ng-required="true">
            <span ng-bind="$select.selected.$productType"></span>
            <div class="pull-right">
              <small ng-bind="($select.selected.$faceAmount | currency) + ($select.selected.$healthClass)"></small>
            </div>
          </ui-select-match>
          <ui-select-choices repeat="policy as policy in policies.data" >
            <span ng-bind="policy.$productType"></span>
            <div class="pull-right">
              <small ng-bind="(policy.$faceAmount | currency) + (policy.$healthClass)"></small>
            </div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group"
        ng-if="task.origin_type=='Marketing::Subscription'" >
        <label for="crm_task_relates_to">Marketing Campaign Subscription</label>
        <i class="fa fa-spinner fa-spin"
          ng-if="!subscriptionsAndCampaignNames.$resolved"></i>
        <div class="alert alert-danger"
          ng-if="subscriptionsAndCampaignNames.$resolved && !subscriptions.length">
          Invalid option. It looks like this person does not have any marketing campaign subscriptions to attach a task to.
        </div>

        <select class="form-control"
          ng-if="subscriptionsAndCampaignNames.$resolved && subscriptions.length"
          ng-model="task.origin_id"
          ng-options="s.id as s.name for s in subscriptions"
          required>
          <option value="">Select Campaign Subscription</option>
        </select>
      </div>

      <div class="form-group">
        <label for="crm_task_task_type">Type</label>
        <select class="crm-system-task-task-type-id form-control"
          id="crm_task_task_type_id"
          ng-model="task.task_type_id"
          ng-options="task_type.id as task_type.name for task_type in (TASK_TYPES | whereKeyMatchesValue : 'created_by_system_only' : false)"
          ng-required="true">
          <option value="" selected="selected">Select Task Type</option>
        </select>
      </div>

      <div class="form-group">
        <label for="crm_task_label">Label</label>
        <input class="form-control" id="crm_task_label"
          ng-model="task.label" size="20" type="text" />
      </div>

      <div class="form-group">
        <label for="crm_task_template_name">Template</label>
        <ui-select theme="bootstrap"
          id="crm_task_template_name"
          ng-model="task.$template"
          on-select="task.template_id=$item.id"
          on-remove="task.template_id=null"
          append-to-body="true">
          <ui-select-match data-placeholder="(autocomplete)"
            allow-clear="true">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices class="text-left"
            refresh="getTemplateOptions({name:$select.search, task_type_id:task.task_type_id})"
            refresh-delay="100"
            repeat="template in templateOptions">
            <span ng-bind="template.name"></span>
            <div class="label label-default"
              ng-bind="template.id"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group"
        ng-if="!(task.task_type_id | enumValue : 'TASK_TYPES' : 'handled_by_system_only' )">
        <label for="crm_task_assigned_to">Assigned to</label>
        <ui-select theme="bootstrap"
          id="crm_task_assigned_to"
          ng-model="task.$assigned_to"
          on-select="task.assigned_to_id=$item.id"
          on-remove="task.assigned_to_id=null"
          ng-required="true">
          <ui-select-match data-placeholder="(autocomplete)"
            allow-clear="true">
            <span ng-bind="$select.selected.full_name"></span>
          </ui-select-match>
          <ui-select-choices class="text-left"
            refresh="searchUsers($select.search,{exclude_recruits:true})"
            refresh-delay="100"
            repeat="contact in usersForSearch">
            <span ng-bind="contact.full_name"></span>
            <div class="label label-default"
              ng-bind="contact.id.toString(36)"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group">
        <label for="crm_task_due_at">Due at</label>
        <br>
        <dr-datetime-picker model="task.due_at"></dr-datetime-picker>
      </div>

      <div class="form-group">
        <div class="checkbox checkbox-primary">
          <input id="crm_task_evergreen"
            ng-model="task.evergreen"
            type="checkbox" />
          <label class="inline-checkbox"
            for="crm_task_evergreen">
            Evergreen
          </label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <a ng-click="$close()" data-dismiss="modal" class="btn pull-left">Cancel</a>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>