<ng-include src="'/crm/cases/subsection_status.html'"></ng-include>


<!-- Policies have several details records, amenable to using an ngRepeat.
     But for an opportunity, it is itself the details record.
     For modularity reasons, the 'quote_or_opportunity/show' view has been abstracted out.
     It requires a local variable 'details'. -->
{{details=stateVars.activePolicy; ''}}

<div id="details-tabs" class="nav-tabs">
  <a class="active">Opportunity Details </a> 
</div>

<div class="open-details-section">
  <section>
    <div class="section-heading grid grid--center">
      <h5>Opportunity Details</h5>
      <div class="actions">
        <div class="dropdown btn-group btn-xs pull-right" uib-dropdown>
          <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li ng-if="details.user_id && details.user_id==currentUser.id">
              <a data-target="#modal-edit-quoting-details-{{details.id}}" data-toggle="modal">
                Edit Details
              </a>
            </li>
            <li ng-show="!details.closed">
              <label>
                Include In Forecasts?
                <input type="checkbox"
                ng-model="stateVars.activePolicy.include_in_forecasts"
                ng-change="updateQuoteInclusion(details)">
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="alert alert-warning" ng-if="!details.user_id || details.user_id!=currentUser.id">
      <i class="fa fa-info-circle"></i>
      You cannot edit these details because this quote was not run by you.
      If possible, it is better to retain all quotes for more accurate reports.
      You can save a new quote and hide this one by changing it to a withrawn status if needed.
    </div>
    <ng-include src="'/crm/cases/quote_or_opportunity/show.html'"></ng-include>
  </section>
</div>

<!-- Oppoertunity Details Modal -->
<div id="modal-edit-quoting-details-{{details.id}}" class="modal fade edit-quoting-details">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
        <h4 class="modal-title">Opportunity Details</h4>
      </div>
      <form name="quotingDetails{{details.id}}" role="form">
        <div class="modal-body">
          <div class="alert alert-warning">
            <i class="fa fa-info-circle"></i>
            If possible, it is better to retain all quotes for more accurate reports.
            You can save a new quote and hide this one by changing it to a withrawn status if needed.
          </div>
          <ng-include src="'/crm/cases/fields_for_quoting_details.html'"></ng-include>
        </div>
        <div class="modal-footer ng-scope">
          <div class="pull-right">
            <a ng-class="quotingDetails{{details.id}}.$pristine ? 'disabled' : '' "
              ng-click="updateQuotingDetails(details)" class="btn btn-primary">Update</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>