<ng-include src="'/crm/cases/subsection_status.html'"></ng-include>

<div class="nav-tabs">
  <a ng-click="setActiveSubsectionTab('Policy Details')"
    ng-class="activeSubsectionTabClass('Policy Details')">Policy Details</a>
  <a ng-click="setActiveSubsectionTab('Reqs and Notes')"
    ng-class="activeSubsectionTabClass('Reqs and Notes')">Requirements & Notes</a>
</div>

<div class="open-details-section">
  <ng-include ng-if="activeSubsectionTab=='Policy Details' && policy==stateVars.activePolicy"
    src="'/crm/cases/subsection_details.html'"></ng-include>
  <ng-include ng-if="activeSubsectionTab=='Reqs and Notes' && policy==stateVars.activePolicy"
    src="'/crm/cases/subsection_for_reqs_and_notes.html'"></ng-include>
  <div id="admin-section"
    ng-if="activeSubsectionTab=='Admin' && policy==stateVars.activePolicy"></div>
</div>