<div class="status-cont">
  <div class="grid grid--center">
    <div class="grid-cell grid--shrink alert"
      ng-if="policy.sales_stage_id<SALES_STAGE_ID_FOR_APP_F"
      ng-class="stateVars.outstandingReqsForAppFulfillment.length>0 ? 'alert-danger' : 'alert-success'">
      <strong>
        <i class="fa fa-flag"></i>
        Submission Requirements
      </strong>
      <span ng-if="stateVars.outstandingReqsForAppFulfillment.length==0">
        <i class="fa fa-check-circle success"></i>
        Fulfilled.
      </span>
      <ul ng-if="stateVars.outstandingReqsForAppFulfillment.length>0">
        <li ng-repeat="req in stateVars.outstandingReqsForAppFulfillment"
          ng-bind="req">
        </li>
      </ul>
    </div>
  </div>
  <div class="grid grid--center">
    <div class="grid-cell grid--shrink">
      <strong>Current Status</strong>
      <ui-select theme="bootstrap"
        ng-model="stateVars.activePolicy.$currentStatus.status_type_id"
        on-select="updatePolicyStatus($item.id); $select.selected=stateVars.activePolicy.$currentStatus;">
        <ui-select-match data-placeholder="(No Status Set)"
          allow-clear="false">
          <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices class="text-left"
          refresh="null"
          refresh-delay="100"
          group-by="statusTypeGroupName"
          repeat="o.id as o in policyStatusTypes.concat(stateVars.activePolicy.$currentStatus) | filter : $select.search"
          ui-disable-choice="o.id==REFERRAL_STATUS_TYPE_ID &&
                        stateVars.activePolicy.$currentStatus!=REFERRAL_STATUS_TYPE_ID &&
                        !currentUser.can('super_edit')">
          <i ng-if="o.ownership_id==GLOBAL_ID"
            class="fa fa-globe"></i>
          <i ng-if="o.ownership_id==USER_ID"
            class="fa fa-user"></i>
          <i ng-if="o.ownership_id==USERS_ID"
            class="fa fa-users"></i>
          <span ng-bind-html="o.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="grid-cell grid--shrink">
      <strong>Status Date</strong><br>
      {{(policy.$currentStatus.created_at | moment : 'format' : 'M/D/YY [at] h:mm a') || '-'}}
    </div>
    <div class="grid-cell grid--shrink">
      <strong>Days In Status</strong><br>
      {{getDaysSince( (policy.$currentStatus.created_at | formatOptionalDateAsUS) )|| '-'}}
    </div>
    <div class="grid-cell grid--shrink">
      <strong>Status History</strong><br>
      <a uib-tooltip="Click to see the list of past statuses."
        ng-click="openPastStatusesModal()">
        View Status History
        <div class="svg-icon"
          uib-tooltip="This is the health class requested when preparing to get quotes. Our quoter offers a set list of options. Carriers have their own health class designations, which may or may not exactly match this.">
          <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="external-link">
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
            <polyline points="15 3 21 3 21 9"></polyline>
            <line x1="10" y1="14" x2="21" y2="3"></line>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>