<div class="grid reqs-notes">
  <div class="grid-cell">
    <div class="alert alert-info" ng-if="!stateVars.activePolicy.agency_works_id">
      <i class="fa fa-info-circle"></i>
      Requirements will not be populated until a formal application is submitted to the carrier.
    </div>
    <div class="add-button pull-right"
      ng-if="stateVars.activePolicy.sales_stage_id>=appFulfillmentStageId && can('edit_requirements')">
      <a class="btn btn-default"
        ng-click="openNewRequirementModal()">
        Add Requirement
      </a>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Requirement</th>
          <th>Required Of</th>
          <th>Ordered</th>
          <th>Received</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="!requirements.length">
          <td colspan="6"><i class="fa fa-asterisk lighter"></i> No Case Requirements</td>
        </tr>
        <tr ng-repeat="req in requirements">
          <td>{{ req.name }}
            <div ng-if="req.note" style="border-top:1px dashed #f1f1f1;">
              -- {{ req.note.slice(0,40) }}
              <span ng-if="req.note.length>40">
                ...
                <i class="fa fa-comment-o"
                  ng-click="openReqNoteDetailModal(req.note)"></i>
              </span>
            </div>
          </td>
          <td>{{ req.responsible_party_type_id | enumValue : 'CASE_REQ_RESPONSIBLE_PARTY_TYPES' }}</td>
          <td>{{ (req.ordered_at | formatOptionalDateAsUS) || '-' }}</td>
          <td>{{ (req.completed_at | formatOptionalDateAsUS) || '-' }}</td>
          <td>{{ req.requirement_type_id | enumValue : 'CASE_REQUIREMENT_TYPES' }}</td>
          <td>{{ req.status_id | enumValue : 'CASE_REQ_STATUSES' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <aside class="grid-cell" style="max-width:420px;border-left:1px solid lightgray;">
    <dr-notes class="notes"
      notable-type="'Crm::Case'"
      notable-id="stateVars.activePolicy.id"
      inline-new-note-form="true">
    </dr-notes>
  </aside>
</div>
<script type="text/ng-template"
  id="req_note_detail_modal.html">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">Requirement Note</h4>
  </div>
  <div class="modal-body" style="white-space: pre-line;">
    {{note}}
  </div>
</script>