<div class="section-heading grid grid--center">
  <h5>Sales Stage Details</h5>
  <!-- This dropdown needs to be a list of applicable Sales Stages -->
  <select ng-model="stateVars.activeSalesStage"
    class="form-control"
    style="max-width:20em;"
    ng-options="o.id as o.name for o in SALES_STAGES | filter: stageHasDetails">
  </select>

  <div class="actions">
    <div class="dropdown btn-group btn-xs" uib-dropdown>
      <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
        <li ng-if="stateVars.activePolicy.typeStr!='Placed'">
          <a ng-click="openEditQuotingDetailsModal()">
            Edit Details
          </a>
        </li>
        <li ng-if="stateVars.activePolicy.typeStr=='Placed'">
          <a ng-click="openEditPlacedPolicyModal(policy)">
            Edit Details
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script type="text/ng-template"
  id="modal_for_edit_quoting_details.html">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">{{salesStage.name}} Details</h4>
  </div>
  <form name="quotingDetails{{details.id}}" role="form">
    <dr-last-bulletin></dr-last-bulletin>
    <div class="modal-body">
      <ng-include src="'/crm/cases/fields_for_quoting_details.html'"></ng-include>
    </div>
  </form>
  <div class="modal-footer">
    <div class="grid grid--center grid--gutters grid--end">
      <div class="grid-cell grid--shrink">
        <a class="btn btn-primary"
          ng-class="quotingDetails{{details.id}}.$pristine ? 'disabled' : '' "
          ng-click="updateQuotingDetails(details)">
          Update
        </a>
      </div>
    </div>
  </div>
</script>

<div>
  <section ng-repeat="salesStage in SALES_STAGES"
    ng-if="detailsForStage(stateVars.activeSalesStage)[0] && stateVars.activeSalesStage==salesStage.id"
    ng-init="details=detailsForStage(stateVars.activeSalesStage)[0]">

    <div class="alert alert-warning"
      ng-if="salesStage.id > policy.sales_stage_id">
      <i class="fa fa-info-circle"></i> This policy is not yet in the {{salesStage.name}} stage. The {{salesStage.name}} Details were created manually, but the status was not updated to match. <strong>You should update the status of this policy</strong> to allow more accurate reports.
    </div>
    <ng-include src="'/crm/cases/quote_or_opportunity/show.html'"></ng-include>
  </section>

  <section id="policy-processing-buttons"
    ng-if="stateVars.activeSalesStage==appFulfillmentStageId && currentUser.can('sales_support')">
    <div class="section-heading grid grid--center">
      <h5>Processing</h5>
      <div class="actions">
        <div class="dropdown btn-group btn-xs" uib-dropdown>
          <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
            <li>
              <a ng-click="openStaffAssignmentModal()">
                Staff Assignments
              </a>
            </li>
            <li>
              <a ng-click="openAttachments()"
                title="{{policy.attachments_count}} Policy Documents">
                Admin Documents
                <span class="label"
                  ng-class="policy.attachments_count ? 'label-success' : 'label-default'">
                  {{policy.attachments_count}}
                </span>
              </a>
            </li>
            <li ng-if="policy.last_app_page_snapshot">
              <a title="View a pdf snapshot of the app page as it appeared when last submitted, on {{policy.last_app_page_snapshot.created_at | formatOptionalDateAsUS}}"
                target="_blank"
                ng-href="/attachments/{{policy.last_app_page_snapshot.id}}">
                Last App Page Snapshot
                <span class="label"
                  ng-class="policy.app_page_snapshots_count ? 'label-success' : 'hidden'"
                  title="{{policy.app_page_snapshots_count}} Snapshots">
                  {{policy.app_page_snapshots_count}}
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grid grid--wrap">
      <section class="grid--full">
        <div class="sub-section-heading grid grid--center">
          <h6>Staff Assignments</h6>
        </div>
        <div class="panel-padding" style="-webkit-column-count:3;column-count:3;margin-bottom:1em;"
        ng-if="!stateVars.activePolicyStaffAssignment">
          <div class="grid info-item">
            <div class="grid-cell">Current Assignments</div>
            <div class="grid-cell">(Default)</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">&nbsp;</div>
            <div class="grid-cell">&nbsp;</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">&nbsp;</div>
            <div class="grid-cell">&nbsp;</div>
          </div>
        </div>
        <div class="panel-padding" style="-webkit-column-count:3;column-count:3;margin-bottom:1em;"
        ng-if="stateVars.activePolicyStaffAssignment">
          <div class="grid info-item">
            <div class="grid-cell">Administrative Assistant</div>
            <div class="grid-cell">{{stateVars.activePolicyStaffAssignment.administrative_assistant_name ||'-'}}</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">Case Manager</div>
            <div class="grid-cell">{{stateVars.activePolicyStaffAssignment.case_manager_name ||'-'}}</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">Manager</div>
            <div class="grid-cell">{{stateVars.activePolicyStaffAssignment.manager_name ||'-'}}</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">Policy Specialist</div>
            <div class="grid-cell">{{stateVars.activePolicyStaffAssignment.policy_specialist_name ||'-'}}</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">Application Specialist</div>
            <div class="grid-cell">{{stateVars.activePolicyStaffAssignment.application_specialist_name ||'-'}}</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">Underwriter</div>
            <div class="grid-cell">{{stateVars.activePolicyStaffAssignment.underwriter_name ||'-'}}</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">Insurance Coordinator</div>
            <div class="grid-cell">{{stateVars.activePolicyStaffAssignment.insurance_coordinator_name ||'-'}}</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">&nbsp;</div>
            <div class="grid-cell">&nbsp;</div>
          </div>
          <div class="grid info-item">
            <div class="grid-cell">&nbsp;</div>
            <div class="grid-cell">&nbsp;</div>
          </div>
        </div>
      </section>
      <section>
        <div class="sub-section-heading grid grid--center">
          <h6>Application Method</h6>
        </div>
        <div class="panel-padding">
          <!-- Marketech -->
          <div class="btn-group"
            ng-attr-title="{{processingBtnTitle('marketech')}}"
            uib-dropdown>
            <button class="btn btn-sm"
              ng-class="canProcessWith('marketech') ? 'btn-primary' : 'btn-default disabled'"
              ng-click="submitForProcessing('marketech')"
              ng-disabled="!canProcessWith('marketech')">
              Marketech
            </button>
            <button class="btn btn-sm"
              ng-if="policy.date_processing_started_with_marketech"
              uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu"
              ng-if="policy.date_processing_started_with_marketech"
              uib-dropdown-menu>
              <li role="menuitem"
                ng-show="policy.marketech_email_ready">
                <a ng-href="/processing/marketech/{{policy.id}}/email">Send Email</a>
              </li>
              <li role="menuitem"
                ng-show="policy.marketech_esign_url">
                <a ng-href="{{policy.marketech_esign_url}}" target="_blank">eSign</a>
              </li>
              <li role="menuitem"
                ng-show="policy.marketech_edit_url">
                <a ng-href="{{policy.marketech_edit_url}}" target="_blank">Edit</a>
              </li>
              <li role="menuitem"
                ng-show="policy.marketech_pdf_url">
                <a ng-href="{{policy.marketech_pdf_url}}" target="_blank">View</a>
              </li>
              <li role="menuitem"
                ng-show="policy.marketech_log_url">
                <a ng-href="{{policy.marketech_log_url}}" target="_blank">Log</a>
              </li>
            </ul>
          </div>
          <!-- Docusign -->
          <div class="btn-group"
            ng-attr-title="{{processingBtnTitle('docusign')}}"
            uib-dropdown>
            <a ng-class="canProcessWith('docusign') ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-default disabled'"
              ng-click="submitForProcessing('docusign')"
              ng-disabled="!canProcessWith('docusign')">
              Docusign
            </a>
            <a class="btn btn-sm btn-primary"
              uib-dropdown-toggle
              ng-if="policy.eligible_for_processing_with_docusign || policy.date_processing_started_with_docusign">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left"
              uib-dropdown-menu
              ng-if="policy.eligible_for_processing_with_docusign || policy.date_processing_started_with_docusign">
              <li role="menuitem">
                <span id="docusign-id"
                  style="padding:3px 20px;">
                  <!-- Setup an angular xeditable field for docusign_envelope_id, that goes through the cases controller. make sure case responds to `docusign_envelope_id=`. -->
                  <strong>Envelope ID:</strong>
                  <a editable-text="policy.docusign_envelope_id"
                    onbeforesave="updateRecordSingleField('/crm/cases/'+policy.id+'.json','','docusign_envelope_id',$data)">
                    {{policy.docusign_envelope_id || '(n/a)'}}
                  </a>
                </span>
              </li>
            </ul>
          </div>
          <!-- iGo -->
          <!-- iGo service is discontinued, but temporarily, so leaving the code in place. -->
          <!-- <div class="grid-cell">
            <a ng-class="canProcessWith('igo') ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-default disabled'"
              ng-click="submitForProcessing('igo')"
              ng-disabled="!canProcessWith('igo')"
              title="{{processingBtnTitle('igo')}}">
              Igo
            </a>
          </div> -->
          <!-- AppRight -->
          <div class="btn-group"
            ng-attr-title="{{processingBtnTitle('apps')}}">
            <a class="btn btn-sm"
              ng-class="canProcessWith('apps') ? 'btn-primary' : 'btn-default disabled'"
              ng-click="submitForProcessing('apps')"
              ng-disabled="!canProcessWith('apps')">
              AppRight
            </a>
          </div>
          <div class="btn-group"
            ng-attr-title="{{processingBtnTitle('apps_121')}}">
            <a class="btn btn-sm"
              ng-class="canProcessWith('apps_121') ? 'btn-primary' : 'btn-default disabled'"
              ng-click="submitForProcessing('apps_121')"
              ng-disabled="!canProcessWith('apps_121')">
              APPS
            </a>
          </div>
          <!-- AppAssist -->
          <a class="btn btn-sm btn-default"
            ng-click="submitForProcessing('app_assist')"
            ng-attr-title="Click to submit">AppAssist</a>
          <!-- Forms -->
          <a class="btn btn-sm btn-default"
            href="http://nettrac.ipipeline.com/start.asp?cin=512&amp;npt=38"
            target="_blank">Forms</a>
        </div>
      </section>
      <section class="grid-cell grid--shrink">
        <h6>Exam Vendor</h6>
        <div class="panel-padding">
          <a class="btn btn-sm btn-default"
            ng-disabed="(policy.exam_company && policy.exam_company!='SMM')"
            ng-click="policy.exam_company=='SMM' ? openExamModal() : updateRecordSingleField('/crm/cases/'+policy.id+'.json','','exam_company','SMM',openExamModal)"
            uib-tooltip="{{(policy.exam_company=='SMM' && 'View scheduling info') ||
              (policy.exam_company=='ExamOne' && 'ExamOne was selected as the scheduling company for this policy') ||
              'Select SMM as the scheduling company for this policy.'}}">
            SMM
          </a>
          <a class="btn btn-sm"
            ng-class="policy.eligible_for_processing_with_exam_one ? 'btn-primary' : 'btn-default disabled'"
            ng-disabed="!policy.eligible_for_processing_with_exam_one || (policy.exam_company && policy.exam_company!='ExamOne')"
            ng-click="policy.exam_company=='ExamOne' ? openExamModal() : updateRecordSingleField('/crm/cases/'+policy.id+'.json','','exam_company','ExamOne',openExamModal)"
            uib-tooltip="{{(policy.exam_company=='ExamOne' && 'View scheduling info') ||
              processingBtnTitle('exam_one') ||
              (policy.exam_company=='SMM' && 'SMM was selected as the scheduling company for this policy') ||
              'Select ExamOne as the scheduling company for this policy'}}">
            ExamOne
          </a>
        </div>
      </section>
      <section class="grid-cell grid--shrink"
        ng-if="policy.eligible_for_processing_with_agency_works || 
        policy.date_processing_started_with_agency_works">
        <h6>AgencyWorks</h6>
        <div class="panel-padding">
          <span style="display:inline-block;">
            <strong>ID:</strong>
            <a editable-number="policy.agency_works_id"
              onbeforesave="updateRecordSingleField('/crm/cases/'+policy.id+'.json','','agency_works_id',$data,updateAgencyWorksTimeStamp)">
              {{policy.agency_works_id || '(n/a)'}}
            </a>
          </span>
          <span ng-if="policy.agency_works_id" style="color: #ccc">|</span>
          <a ng-if="policy.agency_works_id"
            ng-href="https://ai.ipipeline.com/Application/detail.jspx?cid=&ocid=24714&ref=/Application/Search/search.jspx&appId={{policy.agency_works_id}}"
            target="_blank">
            View Case
            </a>
          <span style="color: #ccc">|</span>
          <a class="btn btn-sm"
            ng-class="canProcessWith('agency_works') ? 'btn-primary' : 'btn-default disabled'"
            ng-click="submitForProcessing('agency_works')"
            ng-disabled="!canProcessWith('agency_works')"
            uib-tooltip="{{processingBtnTitle('agency_works')}}">
            Submit to AgencyWorks
          </a>
        </div>
      </section>
    </div>
  </section>
  <section class="grid-cell" id="nmb-toolbar"
    ng-if="consumer.brand_id === BRAND_ID_FOR_NMB">
    <div class="section-heading grid grid--center">
      <h5>IXN / ESP</h5>
    </div>
    <div class="panel-padding">
      <span>IXN eTicket ID: {{ixnId() || (none)}}</span><br>
      <a class="btn btn-primary btn-sm" title="view saved XML" ng-click="policy.ext.esp_push && openEspXml()" ng-disabled="!policy.ext.esp_push" >View Details</a>
      <a class="btn btn-primary btn-sm" title="view saved PDF" ng-click="policy.ext.nmb_pdf_saved && openEspPdf()" ng-disabled="!policy.ext.nmb_pdf_saved">View Forms</a>
      <a class="btn btn-primary btn-sm" title="(re-)transmit to ESP" ng-click="checkOutstandingReqsForAppFulfillment(true) || sendKaseToEsp()" ng-disabled="checkOutstandingReqsForAppFulfillment()" ng-if="1 == productTypeId(policy)">Force Re-Transmit XML</a>
      <a class="btn btn-primary btn-sm" title="(re-)build NMB PDF" ng-click="checkOutstandingReqsForAppFulfillment(true) || openEspPdf(true)" ng-disabled="checkOutstandingReqsForAppFulfillment()" ng-if="1 != productTypeId(policy)">Build PDF</a>
    </div>
  </section>
  <section class="grid-cell grid--shrink"
    ng-if="policy.scor_guid">
    <h6>SCOR</h6>
    <div class="panel-padding">
      SCOR Policy Id:
      <strong ng-bind="'IO_'+policy.scor_guid"></strong>
      <br>
      <a class="btn btn-sm btn-primary"
        ng-if=" currentUser.can('motorists_rtt_process_details')"
        ng-click="sendConsumerResumeAppLink()">
        Send Resume App Link
      </a>
      <a class="btn btn-sm btn-primary"
        ng-if=" currentUser.can('motorists_rtt_process_details') &&
                !stateVars.activePolicy.date_processing_started_with_scor"
        ng-click="forceScorUnderwriting()">
        Force Underwriting
      </a>
      <a class="btn btn-sm btn-primary"
        ng-if="currentUser.can('motorists_rtt_process_details') && policy.date_processing_started_with_scor"
        ng-click="openScorUnderwritingResponseModal()">
        View Details
      </a>
      <a class="btn btn-sm btn-primary"
        ng-if="policy.date_processing_started_with_scor"
        target="_blank"
        ng-href="/rtt/{{policy.scor_guid}}/app_forms_only.pdf">
        View Forms
      </a>
      <a class="btn btn-sm btn-primary"
        ng-if=" currentUser.can('motorists_rtt_process_details')"
        ng-click="forceRttXmlTransmission()">
        Force Re-Transmit XML
      </a>
    </div>
  </section>
</div>


<script type="text/ng-template"
  id="modal_for_scor_underwriting_response.html">
  <div class="modal-header">
    <h4 class="modal-title">Full Response From SCOR Underwriting Service</h4>
  </div>
  <div class="modal-body" style="white-space: pre-wrap; word-wrap:break-word;">
    <div ng-if="responseObj">{{ responseObj}}</div>
    <div ng-if="!responseObj" style="text-align: center;">
      <i class="fa fa-spinner fa-spin" style="margin:0 auto;"></i>
    </div>
  </div>
</script>

<div class="grid">
  <section class="grid-cell">
    <div class="section-heading grid grid--center">
      <h5>Agent Details</h5>
      <div class="actions">
        <div class="dropdown btn-group btn-xs" uib-dropdown>
          <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
            <li ng-if="currentUser.can('sales_support') || currentUser.id==stateVars.activePolicy.agent_id">
              <a data-toggle="modal" data-target="#modal-edit-agent-details">
                Edit Agent Details
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel-padding">
      <div class="grid info-item">
        <div class="grid-cell">Assigned Agent</div>
        <div class="grid-cell">
          {{stateVars.activePolicy.agent_name}}
          <a ng-if="stateVars.activePolicy.agent_id && stateVars.activePolicy.agent_id!=currentUser.id"
            ng-href="/users/{{stateVars.activePolicy.agent_id}}" target="_blank">
            <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Agent of Record</div>
        <div class="grid-cell">
          {{stateVars.activePolicy.agent_of_record_name}}
          <a ng-if="stateVars.activePolicy.agent_of_record_id && stateVars.activePolicy.agent_of_record_id!=currentUser.id"
            ng-href="/users/{{stateVars.activePolicy.agent_of_record_id}}" target="_blank">
            <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Lead Source</div>
        <div class="grid-cell">{{person.source || '-'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Agent Relationship to Insured</div>
        <div class="grid-cell">{{person.relationship_to_agent || '-'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Number of Years Known</div>
        <div class="grid-cell">{{ yearsKnown() }}</div>
      </div>
    </div>
  </section>

  <section class="grid-cell">
    <div class="section-heading grid grid--center">
      <h5>Special Handling</h5>
      <div class="actions">
        <div class="dropdown btn-group btn-xs" uib-dropdown>
          <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li>
              <a ng-click="openSpecialHandlingModal()">
                Edit Special Handling
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel-padding">
      <div class="grid info-item">
        <div class="grid-cell">
          Temporary Insurance
          <i class="fa fa-circle danger"
            ng-if="stateVars.activePolicy.bind==undefined ||stateVars.activePolicy.bind==null"
            title="Required in order to submit to App Team."></i>
        </div>
        <div class="grid-cell">{{stateVars.activePolicy.bind ? 'Yes' : 'No'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Business Ins</div>
        <div class="grid-cell">{{stateVars.activePolicy.business_insurance ? 'Yes' : 'No'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Collateral Assignment</div>
        <div class="grid-cell">{{stateVars.activePolicy.collateral_assignment ? 'Yes' : 'No'}}</div>
      </div>
      <div class="grid info-item" ng-if="policy.collateral_assignment">
        <div class="grid-cell">Collateral Assignment Note</div>
        <div class="grid-cell">{{policy.collateral_assignment_note || '-'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Rider(s)</div>
        <div class="grid-cell" style="text-transform:capitalize;">{{riderNames()}}</div>
      </div>
      <div class="grid info-item" ng-if="policy.replacing">
        <div class="grid-cell">1035?</div>
        <div class="grid-cell">{{policy.needs_1035 ? 'Yes' : 'No'}}</div>
      </div>
      <div class="grid info-item" ng-if="policy.replacing && policy.needs_1035">
        <div class="grid-cell">1035 Amount</div>
        <div class="grid-cell">{{policy.amount_for_1035 || '-'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Automatic Premium Loan</div>
        <div class="grid-cell">{{!!policy.autoloan_premium ? 'Yes' : 'No'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">Dividend Option</div>
        <div class="grid-cell">{{policy.dividend_type_id ? (DIVIDEND_TYPES[policy.dividend_type_id-1].name | titleCase) : '-'}}</div>
      </div>
    </div>
  </section>
</div>

<div class="grid">
  <section class="grid-cell grid--full"
    ng-if="stateVars.activePolicy.typeStr=='Pending' || stateVars.activePolicy.typeStr=='Placed'">
    <div class="section-heading grid grid--center">
      <h5>Beneficiary / Ownership Info</h5>
      <div class="actions">
        <div class="dropdown btn-group btn-xs" uib-dropdown>
          <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
            <li>
              <a ng-click="openstakeholderRelationshipModal()">
                Add Stakeholder
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="alert alert-warning"
      ng-if="benPercentageTotal(false)!=100 && benPercentageTotal(false)!=0">
      <i class="fa fa-info-circle"></i>
      <strong>Primary</strong> Beneficiaries' percentages must add up to <strong>100</strong>.
      Currently, they add up to <strong ng-bind="benPercentageTotal(false)"></strong>.
    </div>
    <div class="alert alert-warning"
      ng-if="benPercentageTotal(true)!=100 && benPercentageTotal(true)!=0">
      <i class="fa fa-info-circle"></i>
      <strong>Contingent</strong> Beneficiaries' percentages must add up to <strong>100</strong>.
      Currently, they add up to <strong ng-bind="benPercentageTotal(true)"></strong>.
    </div>
    <div class="alert alert-warning"
      ng-if="isLifeAndLacksPB()">
      <i class="fa fa-info-circle"></i>
      <strong>At least one (1) Primary Beneficiary</strong>
      is required to submit a life insurance application.
    </div>
    <div class="alert alert-warning"
      ng-if="ownerCount()==0">
      <i class="fa fa-info-circle"></i>
      This policy has <strong>no assigned Owner</strong>,
      so the <strong>insured is the Owner</strong>.
    </div>
    <div class="alert alert-warning"
      ng-if="payerCount()==0">
      <i class="fa fa-info-circle"></i>
      This policy has <strong>no assigned Payor</strong>,
      so the <strong>insured is the Payor</strong>.
    </div>
    <div class="panel-padding">
      <div ng-repeat="stakeholderRelationship in stateVars.activePolicy.stakeholder_relationships_attributes"
        ng-init="person=stakeholderRelationship.stakeholder_attributes"
        ng-include="'/crm/cases/stakeholder/show.html'">
      </div>
    </div>
  </section>
</div>

<div class="grid">
  <section class="grid-cell" ng-if="stateVars.activePolicy.typeStr=='Pending'">
    <div class="section-heading grid grid--center">
      <h5>Existing Coverage / Replacement</h5>
      <div class="actions">
        <div class="dropdown btn-group btn-xs" uib-dropdown>
          <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
            <li>
              <a ng-click="openAddPolicyModal('enter placed',true)">
                Add Existing Coverage
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="alert alert-warning">
      <i class="fa fa-info-circle"></i> Click an existing policy to indicate that this policy acts as a replacement for it.
    </div>
    <div class="alert alert-warning" ng-if="!(policyList('Placed') | whereKeyMatchesValue : 'replaced_by_id' : stateVars.activePolicy.id).length">
      <i class="fa fa-info-circle"></i> This policy is not currently replacing any other policies.
    </div>
    <div class="panel-padding" style="padding:10px;background:#fdfdfd;">
      <div class="grid grid--column">
        <div class="grid-cell grid--1of2"
          ng-repeat="policy in policyList('Placed')"
          ng-init="addCheckboxStateToPlacedPolicies(); details=(policy.quoting_details[policy.quoting_details.length-1]||{})">
          <ng-include src="'/crm/cases/summary_for_placed_policy.html'"></ng-include>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="grid" ng-if="stateVars.activePolicy.typeStr=='Placed'">
  <section class="grid-cell">
    <div class="section-heading grid grid--center">
      <h5>Replacement</h5>
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
    <div class="panel-padding" style="-webkit-column-count:3;column-count:3;margin-bottom:1em;">
      <div class="grid info-item">
        <div class="grid-cell">Replaces Other Policies</div>
        <div class="grid-cell">{{(policyList() | whereKeyMatchesValue : 'replaced_by_id' : stateVars.activePolicy.id).length>0 ? 'Yes' : 'No'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">
          <!-- If the replacing policy has been placed, then use past tense. -->
          <span ng-if="replacingPolicyIsInForce()">
            Replaced by
          </span>
          <span ng-if="!replacingPolicyIsInForce()">
            Will be replaced by
          </span>
        </div>
        <div class="grid-cell">{{stateVars.activePolicy.replaced_by_id ? 'Policy id '+stateVars.activePolicy.replaced_by_id : '-'}}</div>
      </div>
      <div class="grid info-item">
        <div class="grid-cell">&nbsp;</div>
        <div class="grid-cell">&nbsp;</div>
      </div>
    </div>
  </section>
</div>


<!-- AGENT DETAILS MODAL -->
<div id="modal-edit-agent-details" class="modal fade ben-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
        <h4 class="modal-title">Agent Details</h4>
      </div>
      <dr-last-bulletin></dr-last-bulletin>
      <div class="modal-body">
        <div class="info-item">
          <label>Assigned Agent</label>
          <div>
            <span class="editable editable-click"
              ng-bind="policy.agent_name || '(Unspecified)'"
              ng-click="stateVars.showAgentForm=true"
              ng-if="!stateVars.showAgentForm">
            </span>
            <form ng-if="stateVars.showAgentForm">
              <ui-select theme="bootstrap" ng-model="stateVars.tmpAgentId" append-to-body="true" on-select="stateVars.tmpAgentName=$item.full_name">
                <ui-select-match data-placeholder="Name">{{$select.selected.full_name|| policy.agent_name}}</ui-select-match>
                <ui-select-choices class="text-left"
                  repeat="agent.id as agent in agentsInProfile"
                  refresh="refreshAgentsInProfile($select.search)"
                  refresh-delay="0">
                  <div ng-bind-html="agent.full_name | highlight: $select.search"></div>
                  <small ng-if="agent.company">{{agent.company}}</small>
                </ui-select-choices>
              </ui-select>
              <a class="btn btn-primary"
                ng-click="stateVars.tmpAgentId ? updateAgentForPolicy() : stateVars.showAgentForm=false">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
              <a class="btn btn-default"
                ng-click="stateVars.showAgentForm=false">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </form>
          </div>
        </div>
        <div class="info-item">
          <label>Agent of Record</label>
          <div>
            <span class="editable editable-click"
              ng-bind="policy.agent_of_record_name || '(Unspecified)'"
              ng-click="stateVars.showAgentOfRecordForm=true"
              ng-if="!stateVars.showAgentOfRecordForm">
            </span>
            <form ng-if="stateVars.showAgentOfRecordForm">
              <ui-select theme="bootstrap" ng-model="stateVars.tmpAgentOfRecordId" append-to-body="true" on-select="stateVars.tmpAgentOfRecordName=$item.full_name">
                <ui-select-match data-placeholder="Name">{{$select.selected.full_name|| policy.agent_name}}</ui-select-match>
                <ui-select-choices
                  repeat="agent.id as agent in agentsInProfile"
                  refresh="refreshAgentsInProfile($select.search)"
                  refresh-delay="0">
                  <div ng-bind-html="agent.full_name | highlight: $select.search"></div>
                  <small ng-if="agent.company">{{agent.company}}</small>
                </ui-select-choices>
              </ui-select>
              <a class="btn btn-primary"
                ng-click="stateVars.tmpAgentOfRecordId ? updateAgentOfRecordForPolicy() : stateVars.showAgentOfRecordForm=false">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
              <a class="btn btn-default"
                ng-click="stateVars.showAgentOfRecordForm=false">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </form>
          </div>
        </div>
        <div class="info-item">
          <label>Lead Source</label>
          <div>
            <span editable-text="person.source" e-required
              onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','source',$data)">
              {{ person.source || '(empty)' }}
            </span>
          </div>
        </div>
        <div class="info-item">
          <label>
            Agent Relationship to Insured
            <i class="fa fa-circle danger"
              ng-if="!person.relationship_to_agent"
              title="Required in order to submit to App Team."></i>
          </label>
          <div>
            <span editable-text="person.relationship_to_agent" e-required
              onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','relationship_to_agent',$data)">
              {{ person.relationship_to_agent || '(empty)' }}
            </span>
          </div>
        </div>
        <div class="info-item">
          <label>
            Number of Years Known
            <i class="fa fa-circle danger"
              ng-if="person.years_of_agent_relationship==undefined || person.years_of_agent_relationship==null"
              title="Required in order to submit to App Team."></i>
          </label>
          <div>
            <span editable-number="person.years_of_agent_relationship" e-min="0" e-required
              onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','years_of_agent_relationship',$data)"
              onaftersave="updateYearsKnown()">
              {{ person.years_of_agent_relationship!=undefined && person.years_of_agent_relationship!=null ?  person.years_of_agent_relationship : '(empty)' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END OF AGENT DETAILS MODAL -->