<div class="panel panel-default existing-cov"
  ng-if="!policy.replaced_by_id || policy.replaced_by_id==stateVars.activePolicy.id">
  <!--
    Exclude placed policies which are being replaced by another policy.
    In other words, show only policies which either are not being replaced or are being replaced by the active policy.
  -->
  <div class="panel-heading grid grid--center">
    <h3 class="panel-title">
      {{( details.carrier_id | enumValue : 'CARRIERS' : 'name' ) || ''}}
    </h3>
    <div class="actions">
      <div class="checkbox checkbox-primary">
        <input type="checkbox" id="replaces-policy"
          ng-model="policy.replacementCheckboxState"
          ng-change="addReplacement(policy,stateVars.activePolicy)" />
        <label for="replaces-policy">
          Replaced by the current policy?
        </label>
      </div>
      <div class="dropdown btn-group btn-xs pull-right"
        uib-dropdown style="margin-left:10px;">
        <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
          <li>
            <a ng-click="openEditPlacedPolicyModal(policy)">
              Edit Policy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body" style="-webkit-column-count:3;column-count:3;">
    <div class="grid info-item">
      <div class="grid-cell">Product Type</div>
      <div class="grid-cell">{{( details.product_type_id | enumValue : 'PRODUCT_TYPES' : 'name' ) || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Plan Name</div>
      <div class="grid-cell">{{details.plan_name || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Face Amount</div>
      <div class="grid-cell">{{policy.face_amount | currency}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Policy #</div>
      <div class="grid-cell">{{policy.policy_number || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">Issue Year</div>
      <div class="grid-cell">{{policy.effective_date | moment: 'format': 'YYYY' || '-'}}</div>
    </div>
    <div class="grid info-item">
      <div class="grid-cell">1035</div>
      <div class="grid-cell">{{policy.needs_1035 ? 'Yes' : 'No'}} {{policy.amount_for_1035 | currency}}</div>
    </div>
  </div>
</div>