<div class="modal-header">
  <h4 class="modal-title">Bulk Email Sending</h4>
</div>
<div class="modal-body need-help-modal">
  <div class="grid-cell grid--shrink brand-image">
    <img  src="/images/other.png">
  </div>
  <div class="grid-cell agent-info">
    <p>Protect your email account and reputation by using a professional bulk email service. Subscriptions starting at $10/mo!</p>
    <p><b>What you get:</b></p>
    <ul style="list-style-type: disc; padding: 0 0 0 20px;">
      <li>10,000+ sends per month</li>
      <li>Whitelisted sending IP</li>
      <li>Professional help</li>
    </ul>
    <br>
    <label for="rate-select">Choose Option:</label>
    <select class="form-control" id="rate-select">
      <option value="10k">10k sends - $10/mo.</option>
      <option value="25k">25k sends - $20/mo.</option>
      <option value="50k">50k sends - $40/mo.</option>
      <option value="100k">100k sends - $75/mo.</option>
    </select>
  </div>
</div>

<div class="modal-footer ng-scope">
  <button type="button" class="btn btn-motorist"
    ng-click="$close()">
    Add Now for $10/mo.
  </button>
</div>