<div id="marketplace">
  <io-section-header></io-section-header>
  <div class="section-container">
    <div class="section-content">

      <h1>Quoting</h1>

      <div class="tiles-container grid">

        <div class="tile grid-cell grid">
          <div class="logo grid-cell">
            <img src="/images/logos/ixn.png">
          </div>
          <div class="info grid-cell">
            <h2>IXN</h2>
            <h3>Consumer-Facing Quoting Platform</h3>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Real-time Consumer Quoting</p>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Qualified Lead Generation</p>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Flexible Configuration & Insights</p>
            <a class="btn btn-primary" href="https://insureio.com/documents/ixn-brochure.pdf" target="_blank">Learn more</a>
          </div>
          <div class="info grid-cell">
            <p><a href="https://ixn.tech">IXN.tech</a></p>
            <p>Control your own lead source with the newly designed Website Quoter. This consumer-facing quoting option is designed to be simple and easy to use by anyone visiting your website. The mobile-friendly Website Quoter provides accurate, real-time quotes to your customers, and can be customized from the IXN Dashboard to fit your business.</p>
          </div>
        </div>

      </div> <!-- End Tiles Container -->

      <h1>Lead Sources</h1>

      <div class="tiles-container grid">

        <div class="tile grid-cell grid">
          <div class="logo grid-cell">
            <img src="/images/logos/datalot-icn.png">
          </div>
          <div class="info grid-cell">
            <h2>Datalot</h2>
            <h3>Real-Time Call Marketplace</h3>
            <p><strong>Lead Types:</strong> Term, Permanent, and Final Expense</p>
            <p><strong>Pricing:</strong> $15-$17 (Min order 10 leads/wk)</p>
            <p><strong>Live Transfer Available</strong></p>
            <a class="btn btn-primary" href="https://insureio.com/documents/datalot-flyer-insureio.pdf" target="_blank">Learn more</a>
          </div>
          <div class="info grid-cell">
            <p><a href="http://www.datalot.com">datalot.com</a></p>
            <p>Datalot is the leader in pay-per-call advertising for the insurance industry. Our unique platform delivers qualified customers directly into your existing sales process. Agencies spend less time and money on marketing campaigns, and more time focusing on what they do best, closing insurance policies.</p>
          </div>
        </div>

        <div class="tile grid-cell grid">
          <div class="logo grid-cell">
            <img src="/images/logos/pinney-icon-blue-circle.png">
          </div>
          <div class="info grid-cell">
            <h2>Pinney Insurance</h2>
            <h3>High-Quality Leads</h3>
            <p><strong>Lead Types:</strong> Term, Permanent, and Final Expense</p>
            <p><strong>Pricing:</strong> Starting at $22 each</p>
            <p><strong>Multiple discount opportunities</strong></p>
            <a class="btn btn-primary" href="https://pinneyinsurance.com/leads" target="_blank">Learn more</a>
          </div>
          <div class="info grid-cell">
            <p><a href="http://pinneyinsurance.com/leads">pinneyinsurance.com/leads</a></p>
            <p>High-quality SEO-generated leads from a top-ranked website. Lead posting available.</p>
          </div>
        </div>

      </div> <!-- End Tiles Container -->

      <h1>Data Management</h1>

      <div class="tiles-container grid">

        <div class="tile grid-cell grid">        
          <div class="logo grid-cell">
            <img src="/images/insureio-icon-blk.png">
          </div>
          <div class="info grid-cell">
            <h2>Data Appending Service</h2>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Social media data integration</p>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> More effective targeting</p>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Improve customer communication</p>
            <a class="btn btn-primary" href="mailto:sales@insureio.com?subject=Data Appending Service&amp;body=Please send me information about Data Appending services offered by Insureio.">Contact Sales</a>
          </div>
          <div class="info grid-cell">
            <p>Have missing data? Want to upload social media contacts? We can help you find and upload information to make your marketing and customer communications more effective</p>
          </div>
        </div>

        <div class="tile grid-cell grid">          
          <div class="logo grid-cell">
            <img src="/images/insureio-icon-blk.png">
          </div>
          <div class="info grid-cell">
            <h2>Custom CSV Client List Upload</h2>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Batch upload all your contacts</p>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Custom data sets</p>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Fast and easy</p>
            <a class="btn btn-primary" href="mailto:sales@insureio.com?subject=Custom CSV Client List Upload&amp;body=Please send me information about CSV List upload services offered by Insureio."">Contact Sales</a>
          </div>
          <div class="info grid-cell">
            <p>Need a customized upload with additional data fields? The Insureio Team can parse, convert, and upload your data for you for a one-time fee.</p>
          </div>
        </div>

      </div> <!-- End Tiles Container -->

      <h1>Marketing Tools</h1>

      <div class="tiles-container grid">

        <div class="tile grid-cell grid">        
          <div class="logo grid-cell">
            <img src="/images/other.png">
          </div>
          <div class="info grid-cell">
            <h2>Bulk Email Sending</h2>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> 10,000+ sends per month</p>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Personal email address</p>
            <p><strong><i class="fa fa-check" style="color:#5cb85c;"></i></strong> Shared IP (dedicated IPs available for additional fee)</p>
            <a class="btn btn-primary" href="mailto:sales@insureio.com?subject=Bulk Email Sending&amp;body=Please send me information about Bulk Email services offered by Insureio."">Contact Sales</a>
          </div>
          <div class="info grid-cell">
            <p>Protect your email account and reputation by using a professional bulk email service. Subscriptions starting at $10/month!</p>
          </div>
        </div>

      </div> <!-- End Tiles Container -->

    </div> <!-- End Section Content -->
  </div> <!-- End Section Container -->
</div>