<div class="nestedTabbedArea global-padding">
	<h3>Advanced Markets Online Library</h3>
	<p>Advanced Markets Online (AMO) offers a comprehensive and user-friendly library designed to provide helpful, current information on a wide variety of financial topics. AMO will help you define concepts, explain how they work, examine tax consequences, discuss key advantages/disadvantages, identify planning/funding considerations, and help you to find answers to complex subjects quickly and easily.</p>
	<ul class="dashedList">
	    <li>
	    	<a href="http://www-146.aig.com/" target="_blank">Advanced Markets Online</a>
	    </li>
		<li>
	    	<a href="http://www-146.aig.com/specdocs.html" target="_blank">Advanced Markets Online Documents</a>
	    </li>
	</ul>
</div>
