<div class="nestedTabbedArea iframe-links">
	<div>
		<p>The below productivity tools are some of the favorites of our Insureio Team and the advisors we work with. Each one can help you be more effective, productive, and allow you to do more with less time, energy, and effort. We hope you enjoy them as much as we do.</p>

		<h3>Conference &#32; Desktop Sharing</h3>
		<ul class="dashedList">
		    <li>
		    	<a href="https://www.adobe.com/au/products/adobeconnect.html" target="_blank">Adobe Connect (Free)</a>
		    </li>
		    <li>
		    	<a href="https://www.gotomeeting.com/online/entry" target="_blank">GoToMeeting</a>
		    </li>
		    <li>
		    	<a href="https://join.me/" target="_blank">Join.me (Free)</a>
		    </li>
		</ul>

	</div>
</div>
<button class="btn btn-primary show-iframe-links">Back to Productivity</button>
<iframe frameborder="0" style="display:none;" id="links-iframe" data-iframe-collapses="true"></iframe>
