<div class="global-padding iframe-links">
	<div>
		<p>Table Shave and Underwriting Credit programs can allow clients with adverse health history’s and conditions that would normally be rated sub-standard to obtain Standard or better rates. Below are the published guidelines and specifications for the carriers that offer these programs:</p>
		<div style="float:left;max-width:46%;padding:2%;">
		<ul class="dashedList" style="margin:0;">
			<li>
				<a href="http://www.ezlifesales.com/pdf/AVIVA%20-%20Table%20Reduction%20Program.pdf">AVIVA - Table Reduction Program</a>
			</li>
			<li>
				<a href="http://www.ezlifesales.com/pdf/Lincoln%20Benefit%20Life%20-SuperSherlock.pdf">Lincoln Benefit Life - SuperSherlock</a>
			</li>
			<li>
				<a href="http://www.ezlifesales.com/pdf/MetLife%20-%20MetEdge.pdf">MetLife - MetEdge</a>
			</li>
			<li>
				<a href="http://www.ezlifesales.com/pdf/Nationwide%20-%20Placement%20Improvement%20Program.pdf">Nationwide - Placement Improvement Program</a>
			</li>
			<li>
				<a href="http://www.ezlifesales.com/pdf/Transamerica%20-%20Transcend.pdf">Transamerica - Transcend</a>
			</li>
		</ul>
		</div>
		<div style="float:left;max-width:46%;padding:2%;">
		<ul class="dashedList" style="margin:0;">
			<li>
				<a href="http://www.ezlifesales.com/pdf/John%20Hancock%20-%20Healthstyles%20Program.pdf">John Hancock - Healthstyles Program</a>
			</li>
			<li>
				<a href="http://www.ezlifesales.com/pdf/Lincoln%20Financial%20Underwriting%20-%20Table%20Shave%20Program%2005-01-11.pdf">Lincoln Financial Underwriting - Table Shave Program</a>
			</li>
			<li>
				<a href="http://www.ezlifesales.com/pdf/Mutual%20of%20Omaha%20-%20Fit%20Credit%20Program.pdf">Mutual of Omaha - Fit Credit Program</a>
			</li>
			<li>
				<a href="http://www.ezlifesales.com/pdf/Principal%20-%20Automatic%20Standard%20Approval%20Program.pdf">Principal - Automatic Standard Approval Program</a>
			</li>
		</ul>
		</div>
		<p style="clear:both;">Underwriting guides are subject to change without notice. For agent use only. This is not an offer for life insurance.</p>
	</div>
</div>
<button class="btn btn-primary show-iframe-links">Back to Table Shave Programs</button>
<iframe frameborder="0" style="display:none;" id="links-iframe" data-iframe-collapses="true"></iframe>
