<div id="advanced-planning-tools">
  <io-section-header></io-section-header>
  <div class="section-container">
    <div class="section-content">
      <div class="iframe-links">
        <div class="row">
          <div class="col-md-6">
            <h3 style="margin-top:0">Advanced Markets Online Library</h3>
            <p>Advanced Markets Online (AMO) offers a comprehensive and user-friendly library designed to provide helpful, current information on a wide variety of financial topics. AMO will help you define concepts, explain how they work, examine tax consequences, discuss key advantages/disadvantages, identify planning/funding considerations, and help you to find answers to complex subjects quickly and easily.</p>
            <ul class="dashedList">
              <li>
               <a href="http://www-146.aig.com/">Advanced Markets Online</a>
              </li>
              <li>
               <a href="http://www-146.aig.com/specdocs.html">Advanced Markets Online Documents</a>
              </li>
            </ul>
      		</div>
      		<div class="col-md-6">
            <h3 style="margin-top:0">Wealth Transfer and Legacy Planning</h3>
            <p>Insights for you to help your clients provide for beneficiaries through single life joint annuitant, spousal continuation, first and second to die and other options</p>
            <ul class="dashedList">
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/SavingsVariables.html">Savings, Taxes and Inflation</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/CollegeSavings.html">College Savings Plan</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/BusinessValuation.html">Business Valuation</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/EstatePlan.html">Estate Tax Planning</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3>Retirement Income Planning</h3>
            <p>Information, strategies, and insights for you to help your clients use their retirement nest egg to generate income.</p>
            <ul class="dashedList">
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/RetirementIncome.html">Retirement Income</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/RetirementPlan.html">Retirement Planner</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/RetireShort.html">Retirement Shortfall</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/LifeTime.html">Life Expectancy (Basic)</a>
              </li>
              <li>
                <a href="https://rslic.metlife.com/lic/corpLongevity.do?nav=MIFirefoxHTML\Shell\Open\Command">Life Expectancy (Detailed)</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/SavingsVariables.html">Savings, Taxes and Inflation</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/BusinessValuation.html">Business Valuation</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/LongtermCare.html">Long Term Care</a>
              </li>
              <li>
               <a href="http://www.socialsecurity.gov/OACT/quickcalc/index.html">Social Security Income Estimate</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>IRAs and Qualified Money</h3>
            <p>Strategies for you to help your clients use qualified assets, including 401(k)s, IRAs and RMDs, to generate income in retirement.</p>
            <ul class="dashedList">
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/RothvsRegular.html">Roth IRA or Traditional IRA</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/RegularIRA.html">Traditional IRA</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/SocialSecurity.html">Social Security Benefits</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/Retire75T.html">72(t) Calculator - Early Withdrawls from Retirement Accounts</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/Retire72Alt.html">72(t) Distributions - Impact on Retirement Fund Balances</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/PensionOptions.html">Pension Plan Retirement Options</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/RetireBeneficiary.html">Beneficiary Required Minimum Distribution</a>
              </li>
              <li>
               <a href="https://pro.genworth.com/amm/public_contents/calculators/RetireDistrib.html">Required Minimum Distribution</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <button class="btn btn-primary show-iframe-links">Back to Advanced Planning Tools</button>
        <iframe frameborder="0" style="display:none;" id="links-iframe" data-iframe-collapses="true"></iframe>
    </div>
  </div>
</div>