<div id="underwriting-resources">
  <io-section-header></io-section-header>
  <div class="section-container">
    <div class="section-content">
      <div class="container-fluid">
      <h3 style="margin-top:0">Ask an Underwriting Question</h3>
      <p>Underwriting is an Art, Not a Science…Let us help you paint the right picture! Our in-house underwriter, on-staff MD, and ability to summarize medical records in as little as 24 hours are powerful tools available to you. We encourage you to bring us your impaired risk cases, both large and small to see how the Insureio Underwriting Team can help you and your clients get the best offers available.</p>

      <a class="btn btn-primary" href="mailto:underwriting@ezlifesales.com">Email Your Underwriting Question</a>

      <hr>
      <div id="resources">
        <ul class="nav nav-horizontal" role="tablist">
          <li class="active">
            <a href="#underwriting" aria-controls="underwriting" data-toggle="tab" role="tab">
              Underwriting Resources
          </a>
          </li>
          <li>
            <a href="#impaired" aria-controls="impaired" data-toggle="tab" role="tab">
              Impaired Risk Resources
            </a>
          </li>
        </ul>
        <div class="tab-content" id="resources-tabContent">
          <div class="tab-pane fade in active"
            id="underwriting"
            role="tabpanel"
            aria-labelledby="underwriting">
            <div class="alert alert-info"
              style="margin-top: 20px;">
              <i class="fa fa-exclamation-circle"></i>
              Underwriting guides are subject to change without notice. For agent use only. This is not an offer for life insurance.
            </div>
            <table id="uw_table" class="table table-hover table-link">
              <thead>
                <tr>
                  <th>Carrier</th>
                  <th>
                    Underwriting Guides
                    <i class="fa fa-question-circle"
                      uib-tooltip="Published carrier specific underwriting guidelines and niches."></i>
                  </th>
                  <th>
                    Table Shave & Crediting
                    <i class="fa fa-question-circle"
                      uib-tooltip="Carrier Table Shave and Underwriting Credit programs may allow clients with adverse health histories and conditions to obtain Standard or better rates."></i>
                  </th>
                  <th>Additional Resources</th>
                  <th>Foreign Nationals</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div title="Accordia Life">
                      <img src="/carrier_logos/94.png" title="Accordia Life" alt="Accordia Life">
                    </div>
                </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/AccordiaFieldUnderwritingGuide.pdf"
                      target="_blank"
                      title="Accordia Field Underwriting Guide">
                      Accordia Field Underwriting Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/AccordiaLifeCredits.pdf"
                      target="_blank"
                      title="Accordia Life Credits">
                      Accordia Life Credits
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Allianz Life Insurance Company of North America">
                      <img src="/carrier_logos/47.png" alt="Allianz Life Insurance Company of North America">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Allianz-UW-Guidelines.pdf"
                      target="_blank"
                      title="Underwriting Guidelines">
                      Underwriting Guidelines
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Allianz-Lifestyle-Credits-Program.pdf"
                      target="_blank"
                      title="Lifestyle Credits Program">
                      Lifestyle Credits Program
                    </a>
                  </td>
                  <td>-</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Allianz-Foreign-Nationals.pdf"
                      target="_blank"
                      title="Foreign Nationals Underwriting Guidelines">
                      Foreign Nationals Underwriting Guidelines
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div title="American General Life Insurance Company">
                      <img src="/carrier_logos/2.png" alt="American General Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-UW-Guide.pdf"
                      target="_blank"
                      title="Life Insurance Field Underwriting Guide">
                      Life Insurance Field Underwriting Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-Healthy-Standard.pdf"
                      target="_blank"
                      title="Healthy Standard Program Guide">
                      Healthy Standard Program Guide
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-Healthy-Credits-Program.pdf"
                      target="_blank"
                      title="Healthy Credits Program Guide">
                      Healthy Credits Program Guide
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-Better-Choice-Preferred-Program.pdf"
                      target="_blank"
                      title="Better Choice Preferred Program Guide">
                      Better Choice Preferred Program Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-UW-Playbook.pdf"
                      target="_blank"
                      title="Underwriting Playbook">
                      Underwriting Playbook
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-Preparing-For-Your-Exam.pdf"
                      target="_blank"
                      title="Preparing for a Life Insurance Exam">
                      Preparing for a Life Insurance Exam
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-Foreign-Nationals-Guidelines.pdf"
                      target="_blank"
                      title="Foreign National Underwriting Guidelines">
                      Foreign National Underwriting Guidelines
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-Foreign-National-Team.pdf"
                      target="_blank"
                      title="Foreign National Underwriting Team">
                      Foreign National Underwriting Team
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/AIG-Foreign-National-Checklist.pdf"
                      target="_blank"
                      title="Checklist for Foreign National Cases">
                      Checklist for Foreign National Cases
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div title="American National Insurance Company">
                      <img src="/carrier_logos/3.png" alt="American National Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/ANICO-UW-GUIDE.pdf"
                      target="_blank"
                      title="Underwriting Guidelines - A guide to Basic Information and Requirements">
                      Underwriting Guidelines - A guide to Basic Information and Requirements
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/ANICO-Precision-Credit-Underwriting.pdf"
                      target="_blank"
                      title="Precision Credit Underwriting Program">
                      Precision Credit Underwriting Program
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Assurity Life Insurance Company">
                      <img src="/carrier_logos/5.png" alt="Assurity Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Assurity-Term-UW-Guide.pdf"
                      target="_blank"
                      title="Term Life Insurance Underwriting Guide">
                      Term Life Insurance Underwriting Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="AXA Equitable Life Insurance Company">
                      <img src="/carrier_logos/7.png" alt="AXA Equitable Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/AXA-UWG.pdf"
                      target="_blank"
                      title="Field Underwriting Guide">
                      Field Underwriting Guide
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/AXA-Life-Underwriting-Condensed-Guide.pdf"
                        target="_blank"
                        title="Life Underwriting Condensed Guide">
                        Life Underwriting Condensed Guide
                      </a>
                    </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/AXA-STEP-program.pdf"
                      target="_blank"
                      title="AXA Step Program">
                      AXA Step Program
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Banner Life a Legal & General America Company">
                      <img src="/carrier_logos/8.png" alt="Banner Life a Legal & General America Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Banner-UW-Guidelines.pdf"
                      target="_blank"
                      title="Underwriting Criteria and Requirements - In Touch Underwriting">
                      Underwriting Criteria and Requirements - In Touch Underwriting
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Brighthouse Financial">
                      <img src="/carrier_logos/22.png" alt="Brighthouse Financial">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-UW-Guide.pdf"
                      target="_blank"
                      title="The Life Underwriting Guide">
                      The Life Underwriting Guide
                    </a>
                  <br>                  
                    <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-Term-Life-Underwriting-Guide.pdf"
                      target="_blank"
                      title="Term Life Underwriting Guide">
                      Term Life Underwriting Guide
                    </a>
                  <br>               
                    <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-Perm-UW-Guidelines.pdf"
                      target="_blank"
                      title="Permanent Life Underwriting Guide">
                      Permanent Life Underwriting Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-Enhanced-Rate-Plus-Program-Guide.pdf"
                      target="_blank"
                      title="Enhanced Rate Plus">
                      Enhanced Rate Plus
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-Guaranteed-Level-Term-Producer-Guide.pdf"
                      target="_blank"
                      title="Guaranteed Level Term Producer Guide">
                      Guaranteed Level Term Producer Guide
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-OYT-Producer-Guide.pdf"
                        target="_blank"
                        title="One Year Term Producer Guide">
                        One Year Term Producer Guide
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-PAUL-BGA-Underwriting-Checklist.pdf"
                        target="_blank"
                        title="PAUL - BGA Checklist">
                        PAUL - BGA Checklist
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-PAUL-Client-Brochure.pdf"
                        target="_blank"
                        title="PAUL - Client Brocure">
                        PAUL - Client Brocure
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-PAUL-Producer-Guide.pdf"
                        target="_blank"
                        title="PAUL - Producer Guide">
                        PAUL - Producer Guide
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-PAUL-Pre-Qualification-Checklist.pdf"
                        target="_blank"
                        title="PAUL - Pre-Qualification Checklist">
                        PAUL - Pre-Qualification Checklist
                      </a>
                    </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Brighthouse-Multinational-Planning.pdf"
                      target="_blank"
                      title="Multinational Planning">
                      Multinational Planning
                    </a>
                  </td>
                </tr>
                <tr>
                  <td><div title="Cincinnati Life Insurance Company">
                    <img src="/carrier_logos/55.png" alt="Cincinnati Life Insurance Company">
                  </div>
                </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Cinn-Life-Underwriting-Handbook-for-Agents.pdf"
                      target="_blank"
                      title="Life Underwriting Handbook">
                      Life Underwriting Handbook
                    </a>
                  </td>
                  <td>-</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Cincinnati-Life-Tobacco-Guide.pdf"
                      target="_blank"
                      title="Tobacco Classification Guide">
                      Tobacco Classification Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/CLIC-Foreign-National-Guidelines.pdf"
                      target="_blank"
                      title="Foreign National Guidelines">
                      Foreign National Guidelines
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div title="Fidelity Investments Life Insurance Company">
                    <img src="/carrier_logos/11.png" alt="Fidelity Investments Life Insurance Company">
                </div>
                </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Fidelity-hybrid-life-product-and-uw-guide.pdf"
                      target="_blank"
                      title="Product, New Business and Underwriting Guide">
                      Product, New Business and Underwriting Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="The Independent Order of Foresters">
                      <img src="/carrier_logos/100.png" alt="The Independent Order of Foresters">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Foresters-UW-Guide.pdf"
                      target="_blank"
                      title="Advantage Plus, Your Term & SMART UL Underwriting Guide">
                      Advantage Plus, Your Term & SMART UL Underwriting Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Genworth Financial">
                      <img src="/carrier_logos/12.png" alt="Genworth Financial">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Genworth-LTC-UW-Guide.pdf"
                      target="_blank"
                      title="Long Term Care Insurance Underwriting Guide">
                      Long Term Care Insurance Underwriting Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Genworth-UWG-Quick-Ref.pdf"
                      target="_blank"
                      title="Quick Reference Guide">
                      Quick Reference Guide
                    </a>
                  </td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="John Hancock Life Insurance Company USA">
                      <img src="/carrier_logos/17.png" alt="John Hancock Life Insurance Company USA">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/JH-UW-Guidelines.pdf"
                      target="_blank"
                      title="Field Underwriting Guide">
                      Field Underwriting Guide
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/JH-Best-Class-Criteria.pdf"
                      target="_blank"
                      title="Best Class Criteria">
                      Best Class Criteria
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/JH-LTC-UW-Guide.pdf"
                      target="_blank"
                      title="Long Term Care - Field Underwriting Guide">
                      Long Term Care - Field Underwriting Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/JH-HealthyEdge.pdf"
                      target="_blank"
                      title="HealthyEdge">
                      HealthyEdge
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/John-Hancock-Capacity-Guidelines.pdf"
                      target="_blank"
                      title="Capacity Guidelines">
                      Capacity Guidelines
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/John-Hancock-Routine-Underwriting-Requirements.pdf"
                      target="_blank"
                      title="Routine Requirements">
                      Routine Requirements
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/John-Hancock-LIFE-bya-estate-gift-tax.pdf"
                      target="_blank"
                      title="Estate & Gift Tax for Non-Citizens">
                      Estate & Gift Tax for Non-Citizens
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/John-Hancock-life-sellers-guide-to-the-global-high-net-worth-market.pdf"
                        target="_blank"
                        title="Seller's Guide">
                        Seller's Guide
                      </a>
                    </td>
                </tr>
                <tr>
                  <td>
                    <div title="Lincoln National Life Insurance Company">
                      <img src="/carrier_logos/20.png" alt="Lincoln National Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/LFG-UW-Guidelines.pdf"
                      target="_blank"
                      title="Underwriting Guidelines - Lincoln Individual and Survivorship Products">
                      Underwriting Guidelines - Lincoln Individual and Survivorship Products
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Lincoln-MoneyGuard-bundle.pdf"
                        target="_blank"
                        title="MoneyGuard Underwriting Guide Bundle">
                        MoneyGuard Underwriting Guide Bundle
                      </a>
                    </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Lincoln-Financial-Table-Reduction-Program.pdf"
                      target="_blank"
                      title="Table Reduction Program Guide">
                      Table Reduction Program Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Lincoln-Age-Amount.pdf"
                      target="_blank"
                      title="Age & Amount Grid">
                      Age & Amount Grid
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Lincoln-UWNB-Helpful-Hints.pdf"
                        target="_blank"
                        title="Best Practices & Helpful Hints">
                        Best Practices & Helpful Hints
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Lincoln-Leading-Edge-flier-EKG.pdf"
                        target="_blank"
                        title="Leading-Edge Underwriting: EKG">
                        Leading-Edge Underwriting: EKG
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Lincoln-UW-MDFN-FLI001-Z01-VIEW.pdf"
                        target="_blank"
                        title="Financial & Medical Underwriting Enhancements">
                        Financial & Medical Underwriting Enhancements
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Lincoln-UW-PreQual-Tool.pdf"
                        target="_blank"
                        title="MoneyGuard Pre-Qualifying Tool">
                        MoneyGuard Pre-Qualifying Tool
                      </a>
                    </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Lincoln-Foreign-Nationals-UWG.pdf"
                      target="_blank"
                      title="Foreign Nationals Underwriting Guide">
                      Foreign Nationals Underwriting Guide
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div title="Mass Mutual Financial Group">
                      <img src="/carrier_logos/21.png" alt="Mass Mutual Financial Group">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Mass-Mutual-Underwriting-Guide.pdf"
                      target="_blank"
                      title="Life Underwriting Requirements Guide">
                      Life Underwriting Requirements Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Motorist's Life">
                      <img src="/carrier_logos/64.png" alt="Motorist's Life">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Motorists-UW-Guide.pdf"
                      target="_blank"
                      title="Motorist's Life Underwriting Guidelines">
                      Motorist's Life Underwriting Guidelines
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Mutual of Omaha Life Insurance Company">
                      <img src="/carrier_logos/9.png" alt="Mutual of Omaha Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Mutual-Of-Omaha-UW-Guide.pdf"
                      target="_blank"
                      title="Life Insurance Underwriting Guidelines - For Term and Permanent Products">
                      Life Insurance Underwriting Guidelines - For Term and Permanent Products
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/MoO-LTC-Prod-and-UW-Guide.pdf"
                        target="_blank"
                        title="Long Term Care Insurance - Agent & Underwriting Guide">
                        Long Term Care Insurance - Agent & Underwriting Guide
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/MOO-AcceleratedUW-SpeedeTicket.pdf"
                        target="_blank"
                        title="Accelerated Underwriting">
                        Accelerated Underwriting
                      </a>
                    </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/MoO-FIT-Test.pdf"
                      target="_blank"
                      title="Fit Test Guide">
                      Fit Test Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/MoO-LTC-Rider-Guide.pdf"
                      target="_blank"
                      title="LTC Rider Information and Guide">
                      LTC Rider Information and Guide
                    </a>
                  </td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Nationwide Life & Annuity Co of America">
                      <img src="/carrier_logos/25.png" alt="Nationwide Life & Annuity Co of America">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Nationwide-Underwriting-guide.pdf"
                      target="_blank"
                      title="Life Underwriting Requirements Guide">
                      Life Underwriting Requirements Guide
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/Nationwide-CareMatters-PreQual-Guide.pdf"
                      target="_blank"
                      title="CareMatters PreQualification Tool Guide">
                      CareMatters PreQualification Tool Guide
                    </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Nationwide-CareMatters-PreQual-Guide-NY.pdf"
                        target="_blank"
                        title="CareMatters PreQualification Tool Guide - NY">
                        CareMatters PreQualification Tool Guide - NY
                      </a>
                    </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Nationwide-Wellness-Credit.pdf"
                      target="_blank"
                      title="Wellness Credit Program Guide">
                      Wellness Credit Program Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Nationwide-Farmers-Ranchers.pdf"
                      target="_blank"
                      title="Guidelines for Farm & Ranch Clients">
                      Guidelines for Farm & Ranch Clients
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/Nationwide-BGA-Quick-Ref-Guide.pdf"
                      target="_blank"
                      title="BGA Quick Reference Guide">
                      BGA Quick Reference Guide
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Nationwide-PHI-Expectations-NY.pdf"
                        target="_blank"
                        title="CareMatters PHI Expectations - NY">
                        CareMatters PHI Expectations - NY
                      </a>
                      <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Nationwide-CareMatters-Simplified.pdf"
                        target="_blank"
                        title="CareMatters Simplified Underwriting">
                        CareMatters Simplified Underwriting
                      </a>
                      <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Nationwide-CareMatters-Simplified-NY.pdf"
                        target="_blank"
                        title="CareMatters Simplified Underwriting - NY">
                        CareMatters Simplified Underwriting - NY
                      </a>
                    </td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><div title="North American Co for Life and Health"><img src="/carrier_logos/27.png" alt="North American Co for Life and Health"></div></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/North-Amer-Underwriting-Guidelines.pdf"
                      target="_blank"
                      title="Underwriting Guidelines">
                      Underwriting Guidelines
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><div title="Pacific Life Insurance Company"><img src="/carrier_logos/69.png" alt="Pacific Life Insurance Company"></div></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/PacLife-Underwriting-Guide.pdf"
                      target="_blank"
                      title="Pacific Life Promise Underwriting Guidelines">
                      Pacific Life Promise Underwriting Guidelines
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><div title="The Principal Financial Group"><img src="/carrier_logos/44.png" alt="The Principal Financial Group"></div></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Principal-Life-UW-Guide.pdf"
                      target="_blank"
                      title="Underwriting Guide">
                      Underwriting Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Principal-ASAP.pdf"
                      target="_blank"
                      title="Automatic Standard Approval Program Guide">
                      Automatic Standard Approval Program Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Principal-Advisor-Completed-Reqs.pdf"
                      target="_blank"
                      title="Advisor Application Requirements">
                      Advisor Application Requirements
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Principal-Charitable-Giving-Checklist.pdf"
                        target="_blank"
                        title="Charitable Giving">
                        Charitable Giving
                      </a>
                      <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Principal-Routine-Requirements.pdf"
                        target="_blank"
                        title="Customer Routine Requirements">
                        Customer Routine Requirements
                      </a>
                      <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Principal-Expanded-Capacity-for-LMP.pdf"
                        target="_blank"
                        title="Expanded Capacity">
                        Expanded Capacity
                      </a>
                    </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Principal-Foreign-National.pdf"
                      target="_blank"
                      title="Foreign National Underwriting Guidelines">
                      Foreign National Underwriting Guidelines
                    </a>
                  </td>
                </tr>
                <tr>
                  <td><div title="Protective Life Corporation"><img src="/carrier_logos/43.png" alt="Protective Life Corporation"></div></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Prot-UW-guide.pdf"
                      target="_blank"
                      title="Underwriting Guide">
                      Underwriting Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Protective-Build-Chart.pdf"
                      target="_blank"
                      title="Build Chart">
                      Build Chart
                    </a>
                  </td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><div title="Pruco Life Insurance Company"><img src="/carrier_logos/32.png" alt="Pruco Life Insurance Company"></div></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Pru-Underwriting-Overview.pdf"
                      target="_blank"
                      title="Underwriting Overview">
                      Underwriting Overview
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/Prudential-Preferred-UW-Guide.pdf"
                      target="_blank"
                      title="Underwriting Estimator">
                      Underwriting Estimator
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/Pru-LTC.pdf"
                      target="_blank"
                      title="Long Term Care - Field Underwriting Manual">
                      Long Term Care - Field Underwriting Manual
                    </a>
                  </td>
                  <td>-</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Pru-Fast-Track-Flyer.pdf"
                      target="_blank"
                      title="PruFast Track Flyer">
                      PruFast Track Flyer
                    </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Pru-Medical-Exam-Interview-What-to-Expect.pdf"
                        target="_blank"
                        title="What to Expect - Interview & Medical Exam">
                        What to Expect - Interview & Medical Exam
                      </a>
                    </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Pru-Non-US-Resident-Checklist.pdf"
                      target="_blank"
                      title="Non-U.S. Resident Checklist">
                      Non-U.S. Resident Checklist
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/Pru-Non-US-Residents.pdf"
                      target="_blank"
                      title="Non-U.S. Foreign Residence Chart">
                      Non-U.S. Foreign Residence Chart
                    </a>
                    <br>
                    <a href="https://insurancedivision.com/underwriting-docs/Pru-Non-US-Residents-Highlighter.pdf"
                      target="_blank"
                      title="Non-U.S. Residents Highlighter">
                      Non-U.S. Residents Highlighter
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div title="Sagicor Life Insurance Company">
                      <img src="/carrier_logos/45.png" alt="Sagicor Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Sagicor-UW-Guide.pdf"
                      target="_blank"
                      title="Simplified Issue Underwriting and Medical Impairment Guide">
                      Simplified Issue Underwriting and Medical Impairment Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Savings Bank Life Insurance Co of MA">
                      <img src="/carrier_logos/34.png" alt="Savings Bank Life Insurance Co of MA">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/SBLI-Underwriting-Guide.pdf"
                      target="_blank"
                      title="Underwriting Guide">
                      Underwriting Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/SBLI-Health-Credits-Program.pdf"
                      target="_blank"
                      title="Health Credits Program">
                      Health Credits Program
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/SBLI-Accelerated-Underwriting-Guidelines.pdf"
                      target="_blank"
                      title="Accelerated Underwriting Guidelines">
                      Accelerated Underwriting Guidelines
                    </a>
                  </td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Securian Financial">
                      <img src="/carrier_logos/72.png" alt="Securian Financial">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Securian-Underwriting-Guide.pdf"
                      target="_blank"
                      title="Underwriting Guidelines">
                      Underwriting Guidelines
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Securian-Mort-Credits.pdf"
                      target="_blank"
                      title="Mortality Credits Guide">
                      Mortality Credits Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Symetra Life Insurance Company">
                      <img src="/carrier_logos/75.png" alt="Symetra Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Symetra-UW-Guide.pdf"
                      target="_blank"
                      title="Field Underwriting Guide">
                      Field Underwriting Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Symetra-Goodlife-Rewards-Program-Guide.pdf"
                      target="_blank"
                      title="GoodLife Rewards Program Guide">
                      GoodLife Rewards Program Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Symetra-Preferred-Cancer-Program.pdf"
                      target="_blank"
                      title="Preferred Cancer Program">
                      Preferred Cancer Program
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Symetra-Foreign-Nationals.pdf"
                      target="_blank"
                      title="Foreign National Underwriting Guide">
                      Foreign National Underwriting Guide
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div title="Transamerica Financial Life Insurance Co">
                      <img src="/carrier_logos/35.png" alt="Transamerica Financial Life Insurance Co">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Trans-Producer-Underwriting-Guide.pdf"
                      target="_blank"
                      title="Producer Underwriting Guide">
                      Producer Underwriting Guide
                    </a>
                  <br>
                    <a href="https://insurancedivision.com/underwriting-docs/Trans-LTC-Underwriting-Guide.pdf"
                      target="_blank"
                      title="LTC Underwriting Guide">
                      LTC Underwriting Guide
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/TA-Transcend.pdf"
                      target="_blank"
                      title="Transcend Program Guide">
                      Transcend Program Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Trans-Foreign-National-UW-Guide.pdf"
                      target="_blank"
                      title="Foreign National Underwriting Guide">
                      Foreign National Underwriting Guide
                    </a>
                  <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Trans-Country-Guide.pdf"
                        target="_blank"
                        title="Risk Class by Country">
                        Risk Class by Country
                      </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Trans-Foreign-National-UW-Helpful-Hints.pdf"
                        target="_blank"
                        title="Helpful Hints">
                        Helpful Hints
                      </a>
                    </td>
                </tr>
                <tr>
                  <td>
                    <div title="United Home Life Insurance Company">
                      <img src="/carrier_logos/37.png" alt="United Home Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/American-United-3-14975-FINAL-for-OLS.pdf"
                      target="_blank"
                      title="American Protector Plus - Underwriting and Rates Guide">
                      American Protector Plus - Underwriting and Rates Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Voya Life Company">
                      <img src="/carrier_logos/33.png" alt="Voya Life Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Voya-UW-Guide.pdf"
                      target="_blank"
                      title="Underwriting Requirements Guide">
                      Underwriting Requirements Guide
                    </a>
                  </td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>
                    <div title="Zurich American Life Insurance Company">
                      <img src="/carrier_logos/93.png" alt="Zurich American Life Insurance Company">
                    </div>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Zurich-Underwriting-Guidelines.pdf"
                      target="_blank"
                      title="Underwriting Guidelines">
                      Underwriting Guidelines
                    </a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Zurich-Table-Reduction-Program.pdf"
                      target="_blank"
                      title="Table Reduction Program">
                      Table Reduction Program
                    </a>
                    <br>
                      <a href="https://insurancedivision.com/underwriting-docs/Zurich-One-Class-Upgrade-Program.pdf"
                        target="_blank"
                        title="One Class Upgrade Program">
                        One Class Upgrade Program
                      </a>
                    </td>
                  <td>-</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade" id="impaired" role="tabpanel" aria-labelledby="impaired">
            <div class="alert alert-info"
              style="margin-top: 20px;">
              <i class="fa fa-exclamation-circle"></i>
              Underwriting guides are subject to change without notice. For agent use only. This is not an offer for life insurance.
            </div>
            <table id="impaired_risk_table"
              class="table table-hover table-link">
              <thead>
                <tr>
                  <th>Impairment/A.T.U.</th>
                  <th>Questionnaire</th>
                  <th>Rx</th>
                  <th>Matrix</th>
                  <th>XRAE</th>
                  <th>E-mail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Abnormal EKG</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Abnormal-EKG.pdf"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Abnormal EKG&body=Please send me more information on Abnormal EKG. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Alcohol Abuse</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Alcohol-Abuse.pdf"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Alcohol Abuse&body=Please send me more information on Alcohol Abuse. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Anxiety</td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Anxiety.pdf"  title="View our Prescription for Success with Anxiety"></a>
                  </td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Anxiety&body=Please send me more information on Anxiety. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Arthritis Rheumatoid</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Arthritis-Rheumatoid.pdf"></a></td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Arthritis Rheumatoid&body=Please send me more information on Arthiritis Rheumatoid. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Asthma</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Asthma.pdf"></a></td>
                  <td><a href="https://www.pinneyinsurance.com/emails/PDFs/Rx-for-success/AsthmaRx.pdf" title="View our Prescription for Success with Asthma"></a></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td><a href="mailto:underwriting@pinneyinsurance.com?subject=Asthma&body=Please send me more information on Asthma. Thanks you!" target="_blank" title="Send us an email"></a></td>
                </tr>
                <tr>
                  <td>Atrial Fibrillation</td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Atrial-Fibrillation.pdf" title="View our Prescription for Success with Atrial Fibrillation"></a>
                  </td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Atrial Fibrillation&body=Please send me more information on Atrial Fibrillation. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Aviation</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Aviation.pdf"></a></td>
                  <td></td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Matrix-Aviation.pdf"></a></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Aviation&body=Please send me more information on Aviation. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Blood Pressure</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Matrix-Blood-Pressure.pdf"></a>
                  </td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Blood Pressure&body=Please send me more information on Blood Pressure. Thanks you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Breast Cancer</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Breast-Cancer.pdf" title="Take Our Breast Cancer Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Breast Cancer&body=Please send me more information on Breast Cancer. Thank you!" target="_blank" title="Send us an email">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Cancer</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Cancer-General.pdf"  title="Take Our Cancer Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Cancer&body=Please send me more information on Cancer. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Cardiomyopathy</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Cardiomyopathy.pdf" title="Take Our Cardiomyopathy Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Cardiomyopathy&body=Please send me more information on Cardiomyopathy. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Cholesterol</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Matrix-Cholesterol.pdf"></a>
                  </td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Cholesterol&body=Please send me more information on Cholesterol. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Colitis</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Colitis.pdf" title="Take Our Colitis Questionnaire"></a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Colitis&body=Please send me more information on Colitis. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Chronic Hepatitis B
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Hepatitis-B-Chronic.pdf"  title="Take Our Hepatitus-B Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Chronic Hepatitis B&body=Please send me more information on Chronic Hepatitis B. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Colon Cancer</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Colon-Cancer.pdf" title="Take Our Colon Cancer Questionnaire"></a></td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Rx-Colorectal-Cancer.pdf"></a></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Colon Cancer&body=Please send me more information on Colon Cancer. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>COPD</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-COPD.pdf" title="Take Our COPD Questionnaire"></a></td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Rx-COPD.pdf"></a></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=COPD&body=Please send me more information on COPD. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Coronary Artery Disease</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Coronary-Artery-Disease.pdf" title="Take Our Coronary Artery Disease Questionnaire"></a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Coronary Artery Disease&body=Please send me more information on Coronary Artery Disease. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Crohn's Disease</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Crohns-Disease.pdf" title="Take Our Crohn's Disease Questionnaire"></a></td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Crohn's Disease&body=Please send me more information on Crohn's Disease. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Depression</td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Depression.pdf" title="View our Prescription for Success with Depression"></a>
                  </td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Depression&body=Please send me more information on Depression. Thank you!" target="_blank" title="Send us an email">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Diabetes Mellitus</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Diabetes-Mellitus.pdf" title="Take Our Diabetes Mellitus Questionnaire"></a></td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Diabetes Mellitus&body=Please send me more information on Diabetes Mellitus. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Drug Abuse</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Diabetes-Mellitus.pdf"></a></td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Drug Abuse&body=Please send me more information on Drug Abuse. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Drug Use</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Drug-Use.pdf"></a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>ELFT's</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Elevated-Liver-Functions.pdf"  title="Take Our Elevated Liver Enzyme Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=ELFT's&body=Please send me more information on Diabetes ELFT's. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Epilepsy & Seizures</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Epilepsy-Seizures.pdf"></a></td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Epilepsy&body=Please send me more information on Epilepsy. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>General Underwriting</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-General-Underwriting.pdf"></a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Family History</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Matrix-Family-History.pdf" ></a>
                  </td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Family History&body=Please send me more information on Family History. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Hepatitis C</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Hepatitis-C.pdf"  title="Take Our Hepatitus-C Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Hepatitis C&body=Please send me more information on Hepatitis C. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Informal Review Process</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Informal-Review-Process.pdf"  title="Take Our Informal Review Process Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Informal Review Process&body=Please send me more information on Informal Review Process. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Kidney Disease</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Kidney-Disease.pdf"  title="Take Our Kidney Disease Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>LFT (Elevated Liver Functions)</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=LFT (Elevated Liver Functions)&body=Please send me more information on LFT (Elevated Liver Functions). Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Marijuana</td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Marijuana.pdf" title="View our Prescription for Success with Marijuana"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Marijuana&body=Please send me more information on Marijuana. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Multiple Sclerosis</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Multiple-Sclerosis.pdf"  title="Take Our Multiple Sclerosis Questionnaire"></a>
                  </td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Multiple-Sclerosis.pdf" title="View our Prescription for Success with Multiple Sclerosis"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Multiple Sclerosis&body=Please send me more information on Multiple Sclerosis. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Myocardial Infraction</td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Myocardial-Infraction.pdf" title="View our Prescription for Success with Myocardial Infraction"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Myocardial Infraction&body=Please send me more information on Myocardial Infraction. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>MVR (Motor Vehicle Records)</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Matrix-MVR-Motor-Vehicle-Records.pdf"></a>
                  </td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Motor Vehicle Records&body=Please send me more information on Motor Vehicle Records. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Pancreatitis</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Pancreatitis.pdf"  title="Take Our Pancreatitus Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Pancreatitis&body=Please send me more information on Pancreatitis. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Parkinson's Disease</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/Quest-Parkinsons-Disease.pdf"></a></td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Parkinson's Disease&body=Please send me more information on Parkinson's Disease. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Prostate Cancer</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Prostate-Cancer.pdf" target="_blank"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Prostate Cancer&body=Please send me more information on Prostate Cancer. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Scuba Diving</td>
                  <td><a href="https://insurancedivision.com/underwriting-docs/SwissRe-diving-questionnaire.pdf"></a></td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Matrix-Scuba-Diving.pdf" ></a>
                  </td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Scuba Diving&body=Please send me more information on Scuba Diving. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Sky Diving</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Matrix-Sky-Diving.pdf" ></a>
                  </td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Sky Diving&body=Please send me more information on Sky Diving. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Sleep Apnea</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Sleep-Apnea.pdf"  title="Take Our Sleep Apnea Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Sleep Apnea&body=Please send me more information on Sleep Apnea. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Stroke</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-Stroke.pdf"  title="Take Our Stroke Questionnaire"></a>
                  </td>
                  <td>
                    <a href="https://www.pinneyinsurance.com/emails/PDFs/Rx-for-success/StrokeRx.pdf" title="View our Prescription for Success with Stroke"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Stroke&body=Please send me more information on Stroke. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Testicular Cancer</td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Quest-Testicular-Cancer.pdf"  title="Take Our Testicular Cancer Questionnaire"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Testicular Cancer&body=Please send me more information on Testicular Cancer. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>TIA Stroke</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Rx-TIA-Stroke.pdf"></a>
                  </td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=TIA Stroke&body=Please send me more information on TIA Stroke. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Tobacco</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="https://insurancedivision.com/underwriting-docs/Matrix-Tobacco.pdf"></a>
                  </td>
                  <td></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Tobacco&body=Please send me more information on Tobacco. Thank you!" target="_blank" title="Send us an email"></a>
                  </td>
                </tr>
                <tr>
                  <td>Weight Reduction Surgery</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="checkmarked"></td>
                  <td>
                    <a href="mailto:underwriting@pinneyinsurance.com?subject=Weight Reduction Surgery&body=Please send me more information on Weight Reduction Surgery. Thank you!"
                    target="_blank"
                    title="Send us an email"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <button class="btn btn-primary show-iframe-links">Back to Underwriting Resources</button>
      <iframe frameborder="0" style="display:none;" id="links-iframe" data-iframe-collapses="true"></iframe>
    </div>
    </div>
  </div>
</div>