<style>
  .anchor-button {
    border: none; 
    padding: 0; 
    color: #0088cc;
    background:none;
  }
  .anchor-button:hover {
    color: black !important;
    cursor: pointer;
    text-decoration: underline;
  }
  .iframe-links {
    width: 100%;
  }
</style>
<div id="quoting-product-tools">
  <io-section-header></io-section-header>
  <div class="section-container">
    <div class="iframe-links">
      <div class="row">
        <div class="col-md-4">
          <h3>Life</h3>
          <ul class="dashedList">
            <li>
             <a href="https://lifepipe.ipipeline.com/LTSearch.aspx?GAID=0512" target="_blank">Term & Universal Life</a>
            </li>
            <li>
    					 <a href="https://direct.xrae.com/PinneyExternal/New/01F20F96" target="_blank">XRAE</a>
    				</li>
    				<li>
             <a href="https://fexquotes.com/rmt/webrate.pl?id=1165&fn=1&vrt=m&tgt=1&cpn=4&style=blue" target="_blank">Final Expense/Simplified Issue</a>
            </li>
            <li>
             <a href="https://prodinfo.ipipeline.com/productlist?GAID=0512" target="_blank">Term, UL, Whole Life Product Specifications</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Annuities</h3>
          <ul class="dashedList">
            <li>
             <a href="https://datafeeds.annuityratewatch.com/Pinney/app/fixed-indexed-annuities.htm" target="_blank">Indexed</a>
            </li>
            <li>
             <a href="https://datafeeds.annuityratewatch.com/Pinney/app/fixed-annuities.htm" target="_blank">Fixed</a>
            </li>
            <li>
             <a href="https://datafeeds.annuityratewatch.com/Pinney/app/cd-type-annuities.htm" target="_blank">MYG/ CD Annuities</a>
            </li>
            <li>
             <a href="https://www1.cannex.com/scripts/Autobahn.exe/Execute?Application=CANNEX&Program=REPORT-WWW-LOGON&DSI=0&pgHTTP_COOKIE=!HTTP_COOKIE&pgAPP=CANX&pgLANG=E&pmREMOTE_ADDR=!REMOTE_ADDR&pmSECTION=REPORT-REQW-ANTU-001&pgLOGON_ID=pIc01&pgPASSWORD=Just4now" target="_blank">SPIA</a>
            </li>
          </ul>
        </div>
        <div style="clear:both;">

        </div>
      </div>
    </div>
    <button class="btn btn-primary show-iframe-links">Back to Quoting & Product Tools</button>
    <iframe frameborder="0" style="display:none;" id="links-iframe" data-iframe-collapses="true"></iframe>
    <iframe id="hack-login-frame" style="display:none" sandbox="allow-forms allow-scripts allow-same-origin"></iframe>
  </div>
</div>
<script>
function loadTermULWholeLife() {
  $('#hack-login-frame').attr('src', '/sso/p512_42');
}

var count = 0;

$(function() {
  $('#hack-button').click(function(e)
  {
    count += 1;
    if (e.isDefaultPrevented() || e.metaKey || e.ctrlKey || e.which == 2)
      return;
    loadTermULWholeLife();
    e.preventDefault();
    return false;
  });

  $('#hack-login-frame').load(function() {
      try {
        var location = this.contentWindow.location.href;
      } catch(e) {

      }
      if(count != 0) {
        iframe = $("#links-iframe");
        links_container = $(".iframe-links");
        links = links_container.find("a[target!='_blank']");
        link_show_btn = $(".show-iframe-links");
        iframe.attr('src', 'https://prodinfo.ipipeline.com/ProductList?GAID=0512');
        links_container.slideUp();
        link_show_btn.show();
        iframe.show();
      }
  });
})
</script>