<div id="professional-development">
  <io-section-header></io-section-header>
  <div class="section-container">
    <div class="section-content">
      <div class="nestedTabbedArea iframe-links global-padding">
        <div>
          <p>Training is the foundation of the best advisors. The below resources and Associations offer sales and required training as well as professional development opportunities. The Insureio team highly recommends your continued growth as a professional.</p>
          
          <h3>Required Training</h3>
          <ul class="dashedList">
              <li>
               <a href="https://aml.limra.com/Nailba_default.html" target="_blank">Anti-Money Laundering (AML)</a>
              </li>
              <li>
               <a href="http://pinney.webce.com/" target="_blank">Continuing Education (CE)</a>
              </li>
          </ul>
          <h3>Professional Development</h3>
          <ul class="dashedList">
              <li>
               <a href="http://www.naifa.org/join/" target="_blank">National Association of Insurance & Financial Advisors (NAIFA)</a>
              </li>
              <li>
               <a href="http://www.mdrt.org/" target="_blank">The Million Dollar Roundtable</a>
              </li>
              <li>
               <a href="http://www.theamericancollege.edu/" target="_blank">The American College</a>
              </li>
          </ul>
        </div>
      </div>
      <button class="btn btn-primary show-iframe-links">Back to Professional Development</button>
      <iframe frameborder="0" style="display:none;" id="links-iframe" data-iframe-collapses="true"></iframe>
    </div>
  </div>
</div>