@charset "utf-8";
/* CSS Document */

/* Global Stylez */
.drQuoter .clear {
  clear:both;
}

/* Wide Quoter Stylez */
.drQuoter.wide {
  /*padding:10px;*/
  width:100%;
  max-width:400px;
  border-radius:15px;
}
.drQuoter.wide h1 {
  font-size:24px;
  line-height:30px;
  margin:10px 0;
  text-align:center;
}
.drQuoter.wide input[type="text"],
.drQuoter.wide input[type="tel"],
.drQuoter.wide input[type="date"] {
  width:100%;
  padding:5px;
  max-width:166px;
}
.drQuoter.wide select {
  width:100%;
  padding:5px;
  max-width:180px;
}
.drQuoter.wide .wrapper {
  width:50%;
  float:left;
}
.drQuoter.wide .input-row {
  width:100%;
  padding:7px 0;
}
.drQuoter.wide .face-row input[type="text"],
.drQuoter.wide .face-row input[type="date"] {
  max-width:75px;
  display:inline-block;
}
.drQuoter.wide .face-row {
  width:100%;
    display:inline-flex;
}
.drQuoter.wide .face-row select {
  max-width: 87px;
  display:inline-block;

}
.drQuoter .button-wrapper {
  text-align:center;
  padding: 10px 0;
}

/* Outlined Quoter */
.drQuoter .border {
  padding:.5rem;
  border-radius:15px;
  max-width:349px;
}
.drQuoter.outline {
  padding:10px;
  border-radius:15px;
  text-align:center;
}
.drQuoter.outline h1 {
  font-size:24px;
  line-height:30px;
  margin:10px 0;
  text-align:center;
}
.drQuoter.outline input[type="text"],
.drQuoter.outline input[type="tel"],
.drQuoter.outline input[type="date"] {
  width:100%;
  padding:5px;
  max-width:275px;
}
.drQuoter.outline select {
  width:100%;
  padding:5px;
  max-width:289px;
}
.drQuoter.outline .wrapper {
  padding: 0 1rem;
}
.drQuoter.outline .input-row {
  width:100%;
  max-width:280px;
  margin: 0 auto;
  padding:7px 0;
  text-align:left;
}
.drQuoter.outline .face-row input[type="text"],
.drQuoter.outline .face-row input[type="date"] {
  max-width:97px;
  display:inline-block;
}
.drQuoter.outline .face-row {
  width:100%;
  max-width:289px;
  margin: 0 auto;
    display: inline-flex;
}
.drQuoter.outline .face-row select {
  max-width:174px;
  display:inline-block;
}
.drQuoter .button-wrapper {
  text-align:center;
  padding:10px 0;
}

/* Flat Quoter */

.drQuoter.flat {
  /*padding:10px;*/
  text-align:center;
  max-width:350px;
}
.drQuoter.flat h1 {
  font-size:24px;
  line-height:30px;
  margin:10px 0;
  text-align:center;
}
.drQuoter.flat input[type="text"],
.drQuoter.flat input[type="tel"],
.drQuoter.flat input[type="date"] {
  border:none;
  width:100%;
  padding:5px;
  max-width:279px;
}
.drQuoter.flat select {
  border:none;
  width:100%;
  padding:5px;
  max-width:289px;
}
.drQuoter.flat .wrapper {
  padding: 0 1rem;
}
.drQuoter.flat .input-row {
  width:100%;
  max-width:280px;
  margin: 0 auto;
  padding:7px 0;
  text-align:left;
}
.drQuoter.flat .face-row input[type="text"],
.drQuoter.flat .face-row input[type="date"] {
  max-width:101px;
  display:inline-block;
  padding:6px 5px;
}
.drQuoter.flat .face-row {
  width:100%;
  max-width:289px;
  margin: 0 auto;
    display: inline-flex;
}
.drQuoter.flat .face-row select {
  max-width:174px;
  display:inline-block;
}
.drQuoter .button-wrapper {
  text-align:center;
  padding:10px 0;
}
.drQuoter.flat input[type="submit"] {
  border: 1px solid .777;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5) inset, 0 1px 2px 1px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 32px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

/* Rounded Quoter */

.drQuoter.rounded {
  padding:5px;
  text-align:center;
  max-width:350px;
  border-radius: 15px;
}
.drQuoter.rounded h1 {
  font-size:24px;
  line-height:30px;
  margin:10px 0;
  text-align:center;
}
.drQuoter.rounded input[type="text"],
.drQuoter.rounded input[type="tel"],
.drQuoter.rounded input[type="date"] {
  border:none;
  border-radius:3px;
  width:100%;
  padding:5px;
  max-width:279px;
}
.drQuoter.rounded select {
  border:none;
  border-radius:3px;
  width:100%;
  padding:5px;
  max-width:289px;
}
.drQuoter.rounded .wrapper {
  padding: 0 1rem;
}
.drQuoter.rounded .input-row {
  width:100%;
  max-width:280px;
  margin: 0 auto;
  padding:7px 0;
  text-align:left;
}
.drQuoter.rounded .face-row input[type="text"],
.drQuoter.rounded .face-row input[type="date"] {
  max-width:101px;
  display:inline-block;
  padding:6px 5px;
}
.drQuoter.rounded .face-row {
  width:100%;
  max-width:289px;
  margin: 0 auto;
  display: inline-flex;
}
.drQuoter.rounded .face-row select {
  max-width:174px;
  display:inline-block;
}
.drQuoter .button-wrapper {
  text-align:center;
  padding:10px 0;
}

/* MOTORIST LEAD CAP WIDGET */
.drQuoter.motorist {
  max-width: 520px !important;
}
.drQuoter.motorist h1 {
  display: none;
}
.drQuoter.motorist label {
  width: 100% !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 20px !important;
  /* color: #6b7c93 !important; */
}
.drQuoter.motorist .radio label {
  margin-bottom: 0;
  font-weight: 400 !important;
}
.drQuoter.motorist .radio label::before {
  top: 1px;
}
.drQuoter.motorist .radio label::after {
  top: 4px;
}
/*.drQuoter.motorist .quoter-inner-container {
  padding: 30px 22px;
  border: none !important;
  border-radius: 15px;
  box-shadow: 0 0px 5px rgba(0,0,0,.03), 0 15px 35px rgba(50,50,93,.09), 0 22px 20px -17px rgba(0,0,0,.3);
}*/
.drQuoter.motorist .quoter-inner-container input[type="text"],
.drQuoter.motorist .quoter-inner-container input[type="date"],
.drQuoter.motorist .quoter-inner-container select,
.drQuoter.motorist .quoter-inner-container .radio {
  margin-top: 0 !important;
  margin-bottom: 12px;
}
.drQuoter.motorist .quoter-inner-container .gender > label {
  margin-bottom: 12px;
}
.drQuoter.motorist .quoter-inner-container .radio {
  margin-bottom: 0 !important;
}
.drQuoter.motorist .quoter-inner-container input[type="date"] {
  color: #fff;
}
.drQuoter.motorist .quoter-inner-container input[type="date"]:focus,
.drQuoter.motorist .quoter-inner-container input[type="date"]:active,
.drQuoter.motorist .quoter-inner-container input[type="date"]:visited,
.drQuoter.motorist .quoter-inner-container input[type="date"]:hover,
.drQuoter.motorist .quoter-inner-container input[type="text"]:focus,
.drQuoter.motorist .quoter-inner-container input[type="text"]:active,
.drQuoter.motorist .quoter-inner-container input[type="text"]:visited,
.drQuoter.motorist .quoter-inner-container input[type="text"]:hover,
.drQuoter.motorist .quoter-inner-container input[type="email"]:focus,
.drQuoter.motorist .quoter-inner-container input[type="email"]:active,
.drQuoter.motorist .quoter-inner-container input[type="email"]:visited,
.drQuoter.motorist .quoter-inner-container input[type="email"]:hover,
.drQuoter.motorist .date-group:hover,
.drQuoter.motorist .date-group:focus,
.drQuoter.motorist .date-group:focus-within {
  border-color: #0062a8;
  color: #6b7c93;
  cursor: text;
  box-shadow: 0 0 3px 1px rgba(0, 147, 254, 0.5);
}
.drQuoter.motorist .brand-logo {
  width: 100%;
  margin: 0 0 10px;
  text-align: center;
}
.drQuoter.motorist .brand-logo div {
  display: inline-block;
  width: 100%;
  padding-top: 13px;
  font-size: 34px;
  text-align: center;
  font-weight: 800;
}
.drQuoter.motorist .brand-logo div span {
  font-size: 51px;
}
.drQuoter.motorist .brand-logo > span {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  text-align: center;
}
.drQuoter.motorist .date-group {
  position: relative;
  display: block;
  height: 34px !important;
  margin-top: 28px;
  background-color: #ffffff;
  border: 1px solid #bcbcbb;
  border-radius: 3px;
  cursor: default;
}
.drQuoter.motorist .date-group::before {
  position: absolute;
  content: '/';
  left: 44px;
  top: 50%;
  margin-top: -14px;
  font-size: 20px;
} 
.drQuoter.motorist .date-group::after {
  position: absolute;
  content: '/';
  left: 86px;
  top: 50%;
  margin-top: -14px;
  font-size: 20px;
}
.drQuoter.motorist .date-group label:first-child {
 position: absolute;
 top: -28px;
}
.drQuoter.motorist .date-group .date-input {
  display: inline-block !important;
  height: 32px !important;
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  line-height: 32px !important;
  text-align: center;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}
.drQuoter.motorist .date-group #birth_month {
  width: 46px !important;
  max-width: 46px !important;
  padding-left: 0 !important;
}
.drQuoter.motorist .date-group #birth_day {
  width: 36px !important;
  max-width: 43px !important;
  padding-left: 0 !important;
}
.drQuoter.motorist .date-group #birth_year {
  width: 52px !important;
  max-width: 52px !important;
  padding-left: 0 !important;
}
/*.drQuoter.motorist .widget-btn {
  position: relative;
  min-width: 100px;
  padding: 8px 28px !important;
  background-color: #00b5e2 !important;
  border-color: transparent !important;
  text-shadow: 0 1px 0 rgba(0,0,0,.2) !important;
  color: #fff !important;
  font-size: 150% !important;
  font-weight: 600 !important;
  transition: top .65s ease;
}
.drQuoter.motorist .widget-btn:hover {
  top: -1px;
  background-color: #0ec3ef !important;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
}*/
::placeholder {
  opacity: .7;
  font-weight: normal;
}
.drQuoter.motorist input[type=date]::-webkit-clear-button,
.drQuoter.motorist input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.drQuoter.motorist.material .material {
  position: relative;
  margin-top:  0;
  margin-bottom: 30px; 
}
/*Hide*/
.drQuoter.motorist .material .highlight,
.drQuoter.motorist .material .bar,
.drQuoter.motorist .material label:last-child {
  display: none;
}
/* /// Line Design */
.drQuoter.motorist.material .highlight,
.drQuoter.motorist.material .bar,
.drQuoter.motorist.material label:last-child {
  display:  inherit;
}
.drQuoter.motorist.material {
  position: relative;
}
.drQuoter.motorist.material label {
  width:  inherit !important;
  font-size: 18px !important;
  font-weight: normal !important;
  position: absolute !important;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}
.drQuoter.motorist.material input {
  display: block;
  height:  inherit;
  width: 100%;
  margin: 0;
  padding: 10px 10px 10px 5px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 0;
}
.drQuoter.motorist.material input:focus,
.drQuoter.motorist.material input:active,
.drQuoter.motorist.material input:visited,
.drQuoter.motorist.material:hover input {
  outline: none !important;
  box-shadow: none;
  border-width: 0 0 1px 0;
}
.drQuoter.motorist.material:hover input ~ label,
.drQuoter.motorist.material:hover input ~ label,
.drQuoter.motorist.material input:focus ~ label,
.drQuoter.motorist.material input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
.drQuoter.motorist.material .bar {
  position: relative;
  display: block;
  width: 100%;
}
.drQuoter.motorist.material .bar::before,
.drQuoter.motorist.material .bar::after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #0062a8; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}
.drQuoter.motorist.material:hover .bar::before,
.drQuoter.motorist.material:hover .bar::after {
  background: #00b5e2 !important;
}
.drQuoter.motorist.material .bar::before {
  left: 50%;
}
.drQuoter.motorist.material .bar::after {
  right: 50%; 
}
.drQuoter.motorist.material input:focus ~ .bar::before,
.drQuoter.motorist.material input:focus ~ .bar::after {
  width: 50%;
}
.drQuoter.motorist.material .highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.drQuoter.motorist.material input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from { background: #5264AE; }
  to  { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background: #5264AE; }
  to  { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
  from { background: #5264AE; }
  to  { width: 0; background: transparent; }
}

.drQuoter.motorist.material .date-group {
  position: relative;
  display: block;
  height: inherit !important;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #757575 !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 0;
  cursor: default;
}
.drQuoter.motorist.material .date-group:hover,
.drQuoter.motorist.material .date-group:focus,
.drQuoter.motorist.material .date-group:focus-within {
  border: none;
  color: inherit;
  box-shadow: none;
  cursor: text;
}
.drQuoter.motorist.material .date-group::before {
  position: absolute;
  content: '/';
  left: 44px;
  top: 50%;
  margin-top: -9px;
  opacity: 0;
} 
.drQuoter.motorist.material .date-group::after {
  position: absolute;
  content: '/';
  left: 86px;
  top: 50%;
  margin-top: -9px;
  opacity: 0;
}
.drQuoter.motorist.material .date-group input {
  display:  inline-block !important;
  height: 46px !important;
  width: 40px !important;
  max-width: 40px !important;
  margin: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 5px !important;
  box-shadow: none !important;
  border: none !important;
  text-align: inherit;
  line-height: inherit;
  vertical-align: inherit;
  outline: none;
  cursor: pointer;
}
.drQuoter.motorist.material .date-group #birth_month {
  width: 50px !important;
  max-width: 50px !important;
  padding-left: 15px !important;
  padding-right: 10px !important;
}
.drQuoter.motorist.material #birth_year {
  width: 62px !important;
  max-width: 62px !important;
  padding-left: 10px !important;
}
.drQuoter.motorist.material .date-group .bar::before,
.drQuoter.motorist.material .date-group .bar::after {
  bottom: -1px;
}
.drQuoter.motorist.material .date-group {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
.drQuoter.motorist.material .gender {
  margin-top: -10px !important;
  margin-bottom: 10px !important;
}
.drQuoter.motorist.material .date-group:focus-within::before,
.drQuoter.motorist.material .date-group:focus-within::after {
  opacity: 1;
}
/*Hide*/
.drQuoter.motorist.material label:first-child {
  display:  none;
}

/* /// Line Design */

/* Awesome Radios */
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 2px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio:hover label::before {
  box-shadow: 0 0 8px 0 rgb(0, 181, 226);
}
.radio:hover label::after,
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio:hover label::after {
  background-color: #00b5e2 !important;
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after,
.radio:hover input[type="radio"] + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio.radio-inline {
  margin-top: 9px !important;
}
.radio-inline + .radio-inline {
  margin-left: 8px !important;
}
.radio-motorist input[type="radio"] + label::after {
  background-color: #0062a8;
}
.radio-motorist input[type="radio"]:checked + label::before {
  border-color: #0062a8;
}
.radio-motorist input[type="radio"]:checked + label::after {
  background-color: #0062a8;
}
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
/* /// Awesome Radios */
.drQuoter.outlined.motorist .quoter-inner-container .wrapper {
  padding: 0 15px 12px !important;
}
.drQuoter.outlined.motorist .quoter-inner-container .radio {
  margin-bottom: 5px !important;
}

.drQuoter,
.drModal {
  font-family: 'Open Sans', sans-serif;
}
.drQuoter,
.drQuoter *,
.drModal,
.drModal * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.drQuoter .clear,
.drModal .clear,
.drQuoter .clearfix,
.drModal .clearfix {
  clear: both;
}
.drQuoter .error,
.drModal .error {
  border: 1px solid #ee1111 !important;
  box-shadow: 0 0 5px #ee1111 inset !important;
  background: #f7f7f7 !important;
}
.drQuoter .quoter-inner-container,
.drModal .quoter-inner-container {
  margin: 16px auto;
  border-radius: 4px;
  text-align: left;
}
.drQuoter .quoter-inner-container input[type='text'],
.drModal .quoter-inner-container input[type='text'],
.drQuoter .quoter-inner-container input[type='tel'],
.drModal .quoter-inner-container input[type='tel'],
.drQuoter .quoter-inner-container input[type='number'],
.drModal .quoter-inner-container input[type='number'],
.drQuoter .quoter-inner-container input[type='date'],
.drModal .quoter-inner-container input[type='date'],
.drQuoter .quoter-inner-container input[type='email'],
.drModal .quoter-inner-container input[type='email'],
.drQuoter .quoter-inner-container select,
.drModal .quoter-inner-container select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 4px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bbb;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.drQuoter .quoter-inner-container input[type='radio'] {
  width: inherit;
}
.drQuoter .quoter-inner-container select.date-select,
.drModal .quoter-inner-container select.date-select {
  display: inline;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: auto;
}
.drQuoter .quoter-inner-container h1,
.drModal .quoter-inner-container h1 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.drQuoter .quoter-inner-container ::-webkit-input-placeholder,
.drModal .quoter-inner-container ::-webkit-input-placeholder,
.drQuoter .quoter-inner-container :-moz-placeholder,
.drModal .quoter-inner-container :-moz-placeholder,
.drQuoter .quoter-inner-container ::-moz-placeholder,
.drModal .quoter-inner-container ::-moz-placeholder,
.drQuoter .quoter-inner-container :-ms-input-placeholder,
.drModal .quoter-inner-container :-ms-input-placeholder {
  color: #777;
}
.drQuoter .quoter-inner-container input[type="submit"],
.drModal .quoter-inner-container input[type="submit"] {
  text-transform: uppercase !important;
}
.drQuoter .quoter-inner-container label,
.drModal .quoter-inner-container label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
}
.drQuoter .quoter-inner-container input[type="text"],
.drModal .quoter-inner-container input[type="text"],
.drQuoter .quoter-inner-container input[type="tel"],
.drModal .quoter-inner-container input[type="tel"],
.drQuoter .quoter-inner-container input[type="date"],
.drModal .quoter-inner-container input[type="date"],
.drQuoter .quoter-inner-container input[type="email"],
.drModal .quoter-inner-container input[type="email"],
.drQuoter .quoter-inner-container select,
.drModal .quoter-inner-container select {
  max-width: none !important;
  width: 100%;
  padding: 5px 10px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #000;
  outline: 0;
}
.drQuoter .quoter-inner-container input[type="text"]:focus,
.drModal .quoter-inner-container input[type="text"]:focus,
.drQuoter .quoter-inner-container input[type="tel"]:focus,
.drModal .quoter-inner-container input[type="tel"]:focus,
.drQuoter .quoter-inner-container input[type="date"]:focus,
.drModal .quoter-inner-container input[type="date"]:focus,
.drQuoter .quoter-inner-container input[type="email"]:focus,
.drModal .quoter-inner-container input[type="email"]:focus,
.drQuoter .quoter-inner-container select:focus,
.drModal .quoter-inner-container select:focus {
  border: 1px solid #333;
}
.drQuoter .quoter-inner-container input[type="text"].warning,
.drModal .quoter-inner-container input[type="text"].warning,
.drQuoter .quoter-inner-container input[type="tel"].warning,
.drModal .quoter-inner-container input[type="tel"].warning,
.drQuoter .quoter-inner-container input[type="date"].warning,
.drModal .quoter-inner-container input[type="date"].warning,
.drQuoter .quoter-inner-container input[type="email"].warning,
.drModal .quoter-inner-container input[type="email"].warning,
.drQuoter .quoter-inner-container select.warning,
.drModal .quoter-inner-container select.warning {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#fff2e0" stroke="#ff8e03" stroke-width="2" stroke-linecap="square" stroke-linejoin="square"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>');
  background-position-x: calc(100% - 6px);
  background-position-y: 6px;
  background-repeat: no-repeat;
  color: #ffa603;
  border: 1px solid #ffa603;
  box-shadow: 0 0 3px 1px rgba(255, 166, 3, .5);
}
.drQuoter .quoter-inner-container select,
.drModal .quoter-inner-container select {
  max-width: 289px;
}
.drQuoter .quoter-inner-container .row,
.drModal .quoter-inner-container .row {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  padding: 7px 0;
  text-align: left;
}
.drQuoter .quoter-inner-container .face-row,
.drModal .quoter-inner-container .face-row {
  width: 100%;
  max-width: 289px;
  margin: 0 auto;
  display: inline-flex;
}
.drQuoter .quoter-inner-container .face-row input[type="text"],
.drModal .quoter-inner-container .face-row input[type="text"],
.drQuoter .quoter-inner-container .face-row input[type="date"],
.drModal .quoter-inner-container .face-row input[type="date"] {
  display: inline-block;
}
.drQuoter .quoter-inner-container .face-row select,
.drModal .quoter-inner-container .face-row select {
  max-width: 174px;
  display: inline-block;
  margin: 0 3px 12px 0;
}
.drQuoter .quoter-inner-container .widget-btn,
.drModal .quoter-inner-container .widget-btn {
  /* styles for widget buttons */
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  text-shadow: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
}
.drQuoter .whom-for{
  display:none;
  text-align:center;
  margin:0 auto 0.5em auto;
  padding-bottom: 1em;
  border-bottom:1px solid;
}
/* Modal */
.drModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 99999;
}
.drModal .stage2 {
  margin: 0 auto;
  max-width: 1024px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.drModal .stage2 .carrier-sprite {
  display: inline-block;
}
.drModal .stage2 .dr-icon-star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  margin-right: 5px;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  color: #FEEC01;
  font-size: 1em;
  text-shadow: 1px 0 #FED201, -1px 0 #FED201, 0 1px #FED201, 0 -1px #FED201, 2px 2px rgba(0, 0, 0, 0.2);
}
.drModal .stage2 .dr-icon-star:before {
  content: "\f005";
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}
.drModal .dr-header {
  display: block;
  padding: 8px;
  background-color: rgb(253, 253, 253);
  -webkit-box-shadow: 0 0 3px rgba(188, 199, 218, 0.5),0 0 12px rgba(48, 57, 72, 0.2);
  -moz-box-shadow: 0 0 3px rgba(188, 199, 218, 0.5),0 0 12px rgba(48, 57, 72, 0.2);
  box-shadow: 0 0 3px rgba(188, 199, 218, 0.5),0 0 12px rgba(48, 57, 72, 0.2);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.drModal .back {
  background-color: #fff !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
}
.drModal .back:hover {
  background-color: #aaa !important;
  color: #333 !important;
  border: 1px solid #333 !important;
}
.drModal .stage3 {
  border-radius: 8px;
  padding: 20px 20px 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.drModal .stage3 strong {
  margin-left: 8px;
}
.drModal .quoter-inner-container {
  padding: 0;
  max-width: 1024px;
}
.drModal .wrapper {
  width: 50%;
  padding: 2%;
  float: left;
}
.drModal .button-wrapper {
  margin: 0 -20px;
  padding: 20px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background-color: rgb(247, 249, 251);
  border-radius: 0 0 8px 8px;
}
.drModal .quote-results-list {
  padding: 8px 0;
  /*so it does not interrupt the drop-shadow above, or the potentially rounded corner of the modal below*/
  margin: 10px 0;
}
.drModal .quote-results-list hr {
  max-width: 95%;
}
.drModal .quote-results-list .quote-result {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
.drModal .quote-results-list .quote-result .quote-details-container {
  float: left;
  padding: 0 16px;
}
.drModal .quote-results-list .quote-result .quote-details-container div {
  display: inline-block;
  text-align: center;
  font-weight: 300;
  padding: 8px 0;
  width: 140px;
}
.drModal .quote-results-list .quote-result .quote-details-container div strong {
  margin-top: 8px;
  display: block;
}
.drModal .quote-results-list .quote-result input[type="submit"] {
  min-width: 150px;
  margin-top: 16px;
}
.drModal .quote-results-list .quote-result .carrier-sprite {
  float: left;
  margin-left: 8px;
}
.drModal .loading-graphic {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.drModal .loading-graphic > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: growshrink 1.4s infinite ease-in-out;
  animation: growshrink 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.drModal .loading-graphic > div.circle1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.drModal .loading-graphic > div.circle2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
/* for loading-graphic */
@-webkit-keyframes growshrink {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes growshrink {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.drQuoter {
  max-width: 410px;
  margin: 0 auto;
}
.drQuoter .button-wrapper {
  text-align: center;
  padding: 10px 0;
}
.drQuoter .wrapper {
  padding: 15px;
}
.drQuoter.flat .quoter-inner-container {
  border-radius: 0;
}
.drQuoter.outlined .quoter-inner-container .wrapper,
.drQuoter.rounded .quoter-inner-container .wrapper,
.drQuoter.flat .quoter-inner-container .wrapper,
.drQuoter.outlined .quoter-inner-container .full-width-wrapper,
.drQuoter.rounded .quoter-inner-container .full-width-wrapper,
.drQuoter.flat .quoter-inner-container .full-width-wrapper {
  padding: 10px 15px !important;
}
.drQuoter.flat .quoter-inner-container input[type="text"],
.drQuoter.flat .quoter-inner-container input[type="tel"],
.drQuoter.flat .quoter-inner-container input[type="date"] {
  max-width: 279px;
}
.drQuoter.flat .quoter-inner-container .face-row input[type="text"],
.drQuoter.flat .quoter-inner-container .face-row input[type="date"] {
  max-width: 101px;
  padding: 6px 5px;
}
.drQuoter.outlined .quoter-inner-container {
  border-width: 15px;
  border-radius: 15px;
}
.drQuoter.outlined .quoter-inner-container {
  border-width: 15px;
  border-radius: 15px;
}
.drQuoter.outlined .quoter-inner-container input[type="text"],
.drQuoter.outlined .quoter-inner-container input[type="tel"],
.drQuoter.outlined .quoter-inner-container input[type="date"] {
  max-width: 275px;
}
.drQuoter.outlined .quoter-inner-container .face-row input[type="text"],
.drQuoter.outlined .quoter-inner-container .face-row input[type="date"] {
  max-width: 97px;
}
.drQuoter.rounded .quoter-inner-container {
  padding: 5px;
  border-radius: 15px;
}
.drQuoter.rounded .quoter-inner-container input[type="text"],
.drQuoter.rounded .quoter-inner-container input[type="tel"],
.drQuoter.rounded .quoter-inner-container input[type="date"] {
  max-width: 279px;
}
.drQuoter.rounded .quoter-inner-container .face-row input[type="text"],
.drQuoter.rounded .quoter-inner-container .face-row input[type="date"] {
  max-width: 101px;
  padding: 6px 5px;
}
.drQuoter.wide .quoter-inner-container {
  width: 100%;
  max-width: 410px;
}
.drQuoter.wide .quoter-inner-container input[type="text"],
.drQuoter.wide .quoter-inner-container input[type="tel"],
.drQuoter.wide .quoter-inner-container input[type="date"] {
  max-width: 166px;
}
.drQuoter.wide .quoter-inner-container select {
  max-width: 180px;
}
.drQuoter.wide .quoter-inner-container .wrapper {
  width: 50%;
  float: left;
}
.drQuoter.wide .quoter-inner-container .row {
  width: 100%;
  max-width: initial;
  margin: initial;
  text-align: initial;
}
.drQuoter.wide .quoter-inner-container .face-row input[type="text"],
.drQuoter.wide .quoter-inner-container .face-row input[type="date"] {
  max-width: 75px;
}
.drQuoter.wide .quoter-inner-container .face-row.inline input[type="text"] {
  max-width: 75px !important;
}
.drQuoter.wide .quoter-inner-container .face-row {
  width: 90%;
  max-width: initial;
  margin: initial;
}
.drQuoter.wide .quoter-inner-container .face-row select {
  max-width: 87px;
  margin: 0 3px 12px 0;
}
.drQuoter.wide .quoter-inner-container .button-wrapper {
  text-align: center;
  padding: 10px 0;
}
.drQuoter hr {
  margin: 13px 0 10px 0;
}
.drQuoter .input-group {
  display:inline-table;
}
.drQuoter .input-group-addon {
  width:auto;
}
.drQuoter .input-group input {
  border-top-right-radius:0 !important;
  border-bottom-right-radius:0 !important;
}
/* Tablet Media Queries */
@media all and (max-width: 1100px) {
  .drModal .quoter-inner-container {
    border-radius: 0;
    margin: 0;
    max-width: none;
  }
  .drModal .stage2 {
    margin: 0 auto;
    height: 100%;
    max-width: none;
    margin: 0;
  }
  .drModal .stage2 .dr-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }
  .drModal .stage2 .carrier-sprite {
    margin-left: 0;
  }
  .drModal .stage2 .quote-results-list .quote-result {
    max-width: 800px;
    margin: 0 auto;
  }
  .drModal .stage2 .quote-results-list hr {
    max-width: 800px;
  }
  .drModal .stage2 .quote-details-container div {
    width: 80px;
    padding: 16px 0px;
    font-size: 12px;
  }
  .drModal .stage2 .quote-results-list .quote-result input[type="submit"] {
    display: block;
    float: none;
    clear: both;
    width: 100%;
  }
}
@media all and (max-width: 1024px) and (min-width: 875px) {
  .drModal .stage3 {
    margin: 0 32px;
  }
}
@media all and (max-width: 900px) {
  .drModal .carrier-sprite {
    float: left;
    margin-left: 0;
  }
  .drModal .quote-details-container div {
    font-size: 12px;
  }
  .drModal .quote-results-list .quote-result {
    width: 90%;
  }
  .drModal .quote-details-container {
    padding: 0;
  }
}
@media all and (max-width: 875px) {
  .drModal .quoter-inner-container {
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    display: block;
  }
  .drModal .stage3 {
    max-width: none !important;
    margin: 0 16px;
    padding: 32px;
  }
  .drModal .instant-tagline {
    padding-right: 32px;
    padding-bottom: 16px;
  }
  .drQuoter {
    margin-left: auto !important;
  }
}
@media all and (max-width: 767px) {
  .quote-details-container {
    float: none;
  }
  .quote-results-list .quote-result {
    width: 80%;
  }
  .carrier-sprite {
    float: left;
    margin-left: 0;
  }
  .quote-details-container div {
    float: left;
    display: inline-block;
    text-align: center;
    width: 100px;
  }
  .quote-details-container div strong {
    margin-top: 0;
  }
}
@media all and (max-width: 650px) {
  .carrier-sprite {
    float: none;
    margin-bottom: 8px;
  }
  .quote-details-container {
    float: none;
  }
  .quote-details-container div {
    float: none;
    padding: 0;
    text-align: left;
  }
  .quote-results-list .quote-result {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 16px auto;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.25);
  }
  .quote-details-container div strong {
    margin-top: 8px;
  }
  .quote-results-list hr {
    display: none;
  }
}
@media all and (max-width: 500px) {
  .drModal .quoter-inner-container {
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    display: block;
  }
  .drModal .quote-details-container {
    float: none;
    padding: 0;
  }
  .drModal .carrier-sprite {
    margin: 0 auto;
  }
  .drModal .stage3 {
    height: 100%;
    overflow: scroll;
    margin: 0;
    padding: 8px;
    border-radius: 0;
    max-width: none !important;
  }
  .drModal .apply-section {
    padding-bottom: 16px;
  }
  .drModal .apply-section a:first-child {
    display: block;
    text-align: left;
    padding: 8px;
    font-size: 16px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
  .drModal .apply-section div:nth-child(3) {
    padding: 16px;
  }
  .drModal .apply-section .wrapper {
    width: 100% !important;
    box-sizing: border-box;
    padding: 16px !important;
  }
  .drModal .apply-section .wrapper div {
    padding: 0;
    margin: 8px 0;
  }
  .drModal .apply-section .wrapper input {
    width: 100%;
    box-sizing: border-box;
  }
  .drModal .apply-section .wrapper input[type="radio"] {
    width: auto;
  }
}