<div id="widget-app" ng-controller="WidgetCtrl">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-bullhorn"></i> Marketing</h3>
      <h2>Quoting Widgets</h2>
    </div>
    <div class="right">
      <div class="actions">
          <a id="new-widget-btn" 
            class="btn btn-primary"
            ng-if="currentUser.can('quoter_widget_multiple') || (widgets.$resolved && widgets.length==0) "
            ng-click="openEditModal()">
            New Widget
          </a>
      </div>
    </div>
  </div>

  <div id="widget-index" class="section-container">
    <div class="section-content">
      <div class="table-responsive">
        <table class="table table-hover table-link">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>Brand</th>
              <th>Owner</th>
              <th>Host Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="widget in widgets">
              <td>
                <span class="label label-default">
                  {{widget.id}}
                </span>
              </td>
              <td>{{widget.name}}</td>
              <td>{{widget.widget_type_id | enumValue : 'WIDGET_TYPES' : 'name'}}</td>
              <td>
                <a ng-href="/brands/{{widget.brand_id}}">
                  <span class="label label-default"
                    ng-bind="widget.brand_id.toString(36).toUpperCase()"
                    title="Full Numeric Id: {{widget.brand_id}}"></span>
                  {{widget.brand_name}}
                  <i class="fa fa-external-link"></i>
                </a>
              </td>
              <td>
                <span class="label label-default"
                  style="margin-right:4px;"
                  title="Full Numeric Id: {{widget.user_id}}">
                  {{widget.user_id.toString(36).toUpperCase()}}
                </span> -
                <a ng-href="/users/{{widget.user_id}}">
                  {{widget.user_name}}
                  <i class="fa fa-external-link"></i>
                </a>
              </td>
              <td>{{widget.hostname}}</td>
              <td>
                <div class="dropdown btn-group" uib-dropdown>
                  <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li>
                      <a ng-click="openShowModal($index)">
                        Show
                      </a>
                    </li>
                    <li>
                      <a ng-click="openEditModal($index)">
                        Edit
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a ng-click="destroyWidget($index)"
                        style="color:red;">
                        Destroy
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr><td colspan="7"></td></tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>


</div>
