<div class="modal-header">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  <h4 class="modal-title"
    ng-bind="editWidget.id ? 'Edit Widget' : 'New Widget' "></h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body" id="edit-widget">
  <form name="widgetForm">
    <div class="row">
      <div class="col-md-3">
        <select class="form-control"
          ng-model="editWidget.widget_type_id"
          ng-change="updatePreviewStyles()"
          ng-options="wt.id as wt.name
                      disable when (!wt.enabled || (wt.permission_name && !currentUser.can(wt.permission_name)) )
                      for wt in WIDGET_TYPES">
        </select>
        <div ng-if="editWidget.widget_type_id==4"
          class="alert {{currentUser.rtt_allowed_state_ids.length<1 ? 'alert-danger' : 'alert-warning'}}">
          Note: Your Motorists RTT Quoter will only display rates for states in which you hold a valid license and carrier appointment.
          Enter or update your license and appointment information in the Licensing &amp; Contracting tab of the My Account section.
        </div>
        <input class="form-control"
          type="text"
          placeholder="Widget Name" 
          ng-model="editWidget.name" 
          name="editWidgetName" 
          required>
        <input class="form-control" 
          type="text"
          ng-show="editWidget.widget_type_id != 4"
          placeholder="Header Text" 
          ng-model="editWidget.header_text" 
          name="editWidgetHeaderText" 
          required>
        <input class="form-control"
          type="text"
          placeholder="Stage1 Button Text"
          title="Stage1 Button Text"
          ng-model="editWidget.button_text"
          ng-if="editWidget.widget_type_id!=ID_FOR_WIDGET_TYPE_CAP"
          name="editWidgetButtonText"
          required>
        <input class="form-control"
          type="text"
          placeholder="Stage2 Button Text"
          title="Stage2 Button Text"
          ng-model="editWidget.button2_text"
          ng-if="editWidget.widget_type_id!=ID_FOR_WIDGET_TYPE_CAP &&
                 editWidget.widget_type_id!=ID_FOR_WIDGET_TYPE_RTT"
          name="editWidgetButtonText"
          required>
        <input class="form-control"
          type="text"
          ng-attr-placeholder="{{editWidget.widget_type_id==ID_FOR_WIDGET_TYPE_CAP ? '' : 'Stage3 '}}Button Text"
          ng-attr-title="{{editWidget.widget_type_id==ID_FOR_WIDGET_TYPE_CAP ? '' : 'Stage3 '}}Button Text"
          ng-model="editWidget.button3_text"
          ng-if="editWidget.widget_type_id==ID_FOR_WIDGET_TYPE_CAP ||
                 (editWidget.show_name_field && (editWidget.show_phone_field || editWidget.show_email_field) )"
          name="editWidgetButtonText"
          required>
        <div class="alert alert-danger" 
          ng-show="widgetForm.editWidgetHostname.$error.pattern">
          <span>URL must be in the form of https://site.com</span>
        </div>
        <input class="form-control" 
          type="text" 
          placeholder="http://redirect-url.com" 
          ng-model="editWidget.hostname" 
          name="editWidgetHostname"
          ng-pattern="VALID_URL_PATTERN" 
          required>
        <select class="form-control"
          ng-model="editWidget.brand_id"
          ng-options="p.id as (p.name+' ('+p.id+')') for p in brands"></select>
        <select class="form-control" 
          ng-model="editWidget.quoter_style" 
          ng-change="updatePreviewStyles()"
          ng-options="n as ('Style '+n) for n in [1,2,3,4]">
        </select>
        <br>
        <div class="color-selectors">
          <label>Background <br>
            <input type="color" colorpicker 
              ng-model="editWidget.background_color" 
              ng-change="updatePreviewStyle('background_color')">
            <input class="form-control" 
              type="text"
              ng-model="editWidget.background_color" 
              ng-change="updatePreviewStyle('background_color')" 
              ng-model-options="{ updateOn:'blur'}" 
              pattern="#(\d|[a-fA-F]){6}" 
              style="max-width: 80px;display: inline-block;">
          </label>
          <br>
          <label>Text <br>
            <input type="color" colorpicker
              ng-model="editWidget.text_color"
              ng-change="updatePreviewStyle('text_color')">
            <input class="form-control" 
              type="text" 
              ng-model="editWidget.text_color"
              ng-change="updatePreviewStyle('text_color')" 
              ng-model-options="{ updateOn:'blur'}"
              pattern="#(\d|[a-fA-F]){6}" >
          </label>
          <br>
          <label>Button <br>
            <input type="color" colorpicker 
              ng-model="editWidget.button_color" 
              ng-change="updatePreviewStyle('button_color')">
            <input class="form-control" 
              type="text" 
              ng-model="editWidget.button_color" 
              ng-change="updatePreviewStyle('button_color')" 
              ng-model-options="{ updateOn:'blur'}" 
              pattern="#(\d|[a-fA-F]){6}">
          </label>
          <br>
          <label>Header Text <br>
            <input type="color" colorpicker 
              ng-model="editWidget.header_text_color" 
              ng-change="updatePreviewStyle('header_text_color')">
            <input class="form-control" 
              type="text" 
              ng-model="editWidget.header_text_color" 
              ng-change="updatePreviewStyle('header_text_color')" 
              ng-model-options="{ updateOn:'blur'}" 
              pattern="#(\d|[a-fA-F]){6}">
          </label>
          <br>
          <label>Border <br>
            <input type="color" colorpicker 
              ng-model="editWidget.border_color" 
              ng-change="updatePreviewStyle('border_color')">
            <input class="form-control" 
              type="text" 
              ng-model="editWidget.border_color" 
              ng-change="updatePreviewStyle('border_color')" 
              ng-model-options="{ updateOn:'blur'}" 
              pattern="#(\d|[a-fA-F]){6}">
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <div align="center">
          <style type="text/css">
            @import url("/widgets/common_styles.css");
            #dr-quoter-widget-{{editWidget.id}} .quoter-inner-container,
            #dr-quoter-widget-{{editWidget.id}}-modal .quoter-inner-container {
              background-color: {{editWidget.background_color}};
              border: 1px solid {{editWidget.border_color}};
            }
            #dr-quoter-widget-{{editWidget.id}} .quoter-inner-container h1,
            #dr-quoter-widget-{{editWidget.id}}-modal .quoter-inner-container h1,
            #dr-quoter-widget-{{editWidget.id}} .quoter-inner-container .brand-logo div,
            #dr-quoter-widget-{{editWidget.id}}-modal .quoter-inner-container .brand-logo div,
            #dr-quoter-widget-{{editWidget.id}} .quoter-inner-container .brand-logo div span,
            #dr-quoter-widget-{{editWidget.id}}-modal .quoter-inner-container .brand-logo div span {
              color: {{editWidget.header_text_color}};
            }
            #dr-quoter-widget-{{editWidget.id}} .quoter-inner-container label,
            #dr-quoter-widget-{{editWidget.id}}-modal .quoter-inner-container label {
              color: {{editWidget.text_color}};
            }
            #dr-quoter-widget-{{editWidget.id}} .quoter-inner-container .widget-btn,
            #dr-quoter-widget-{{editWidget.id}}-modal .quoter-inner-container .widget-btn {
              background: {{editWidget.button_color}};
            }
            #dr-quoter-widget-{{editWidget.id}} .quoter-inner-container .widget-btn:hover,
            #dr-quoter-widget-{{editWidget.id}}-modal .quoter-inner-container .widget-btn:hover {
              background-color: {{editWidget.button_color}};
              filter: brightness(75%);
            }
            #dr-quoter-widget-{{editWidget.id}} hr,
            #dr-quoter-widget-{{editWidget.id}} .whom-for,
            #dr-quoter-widget-{{editWidget.id}}-modal hr {
              border-color: {{editWidget.border_color}};
            }
          </style>
          <div id="dr-quoter-widget-{{editWidget.id}}" 
            class="drQuoter {{editWidget.widget_type_id==4 ? 'motorist' : ''}}"
            ng-class="'drQuoter '+['','wide','outlined','flat','rounded'][editWidget.quoter_style]">
            <div class="quoter-inner-container">
              <div class="brand-logo"
                ng-if="editWidget.widget_type_id==4">
                <div>Coverage up to <span>$500,000</span></div>
                <span><strong>20-minute</strong> life insurance without medical exams</span>
              </div>
              <h1>{{editWidget.header_text}}</h1>
                <div class="stage1"
                  ng-repeat="widgetType in WIDGET_TYPES"
                  ng-if="editWidget.widget_type_id==widgetType.id">
                  <ng-include src="'/quoting/widgets/form_for_'+widgetType.abbrev+'.html'"></ng-include>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="lead-capture-fields" 
          ng-if="editWidget.widget_type_id == 3">
          <h4>Product Category</h4>
            <label ng-repeat="pc in PRODUCT_CATS">
              <input type="radio" 
                name="leadCaptureProductCat"
                ng-model="editWidget.product_cat_id"
                ng-value="pc.id"
                required>
              {{pc.name}}
            </label>
        </div>
        <div id="optional-fields"
          ng-show="editWidget.widget_type_id != 4 && editWidget.widget_type_id != 3">
          <h4>Optional Fields</h4>
          <label>
            <input type="checkbox"
              ng-model="editWidget.show_name_field"
              ng-change="updatePreviewStyle('show_name_field')"
              class="ng-pristine ng-untouched ng-valid ng-not-empty">
            Full Name
          </label>
          <br>
          <label>
            <input type="checkbox"
              ng-model="editWidget.show_phone_field"
              ng-change="updatePreviewStyle('show_phone_field')"
              class="ng-pristine ng-untouched ng-valid ng-not-empty">
            Phone
          </label>
          <br>
          <label>
            <input type="checkbox"
              ng-model="editWidget.show_email_field"
              ng-change="updatePreviewStyle('show_email_field')"
              class="ng-pristine ng-untouched ng-valid ng-not-empty">
            Email
          </label>
          <br>
          <h4>
            Excluded Carriers
            <span class="label" ng-bind="(editWidget.excluded_ids||[]).length"></span>
          </h4>
          <script type="text/ng-template"
            id="exclude-carriers-popover.html">
            <h3 class="popover-title">Exclude Carriers</h3>
            <div class="popover-content" style="max-height: 300px; overflow-y:scroll;">
              <span>Select Carriers you wish to exclude from quoting results:</span>
              <br>
              <label style="display:block"
                ng-repeat="c in CARRIERS">
                <input type="checkbox"
                  ng-value="c.id"
                  ng-checked="editWidget.isCarrierBlacklisted(c.id)"
                  ng-click="editWidget.toggleCarrier(c.id)"/>
                  {{c.name}}
              </label>
            </div>
          </script>
          <a class="btn btn-default"
            id="exclude-carriers-btn"
            uib-popover-template="'exclude-carriers-popover.html'">
            Exclude Carriers
          </a>
        </div>
        <div uib-accordion>
          <div uib-accordion-group>
            <a id="advanced-options-btn">
              <h4 uib-accordion-heading>Advanced Options</h4>
            </a>
            <div id="advanced-options">
              <label>Lead Type</label>
              <input class="form-control" type="text"
                ng-model="editWidget.lead_type">
              <label>Source</label>
              <input class="form-control" type="text"
                ng-model="editWidget.source">
              <label>Referrer</label>
              <input class="form-control" type="text"
                ng-model="editWidget.referrer">
              <label>Tags</label>
              <input class="form-control" type="text" 
                ng-model="editWidget.tags" 
                placeholder="key=value, key=value"
                pattern="(\w|\s)+(=(\w|\s)+){0,1}(\,(\w|\s)+(=(\w|\s)+){0,1})*">
              <label>Agent Split</label>
              <input class="form-control" type="text"
                ng-model="editWidget.agent_split">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <a class="btn pull-left" ng-click="$close()" data-dismiss="modal">Close</a>
  <div class="checkbox checkbox-primary"
    style="display:inline-block;margin-right:15px;"
    ng-if="editWidget.widget_type_id==4">
    <input id="terms"
      ng-model="modalVars.rttTerms"
      type="checkbox">
    <label for="terms">
      I agree to the <a ng-click="openTosModal(); $event.stopPropagation()">Terms and Conditions</a>.
    </label>
  </div>
  <button class="btn btn-primary"
    ng-click="saveWidget()"
    data-dismiss="modal"
    ng-disabled="widgetForm.$invalid || (editWidget.widget_type_id==4 && (!modalVars.rttTerms || currentUser.rtt_allowed_state_ids.length<1))">
    Save Widget
  </button>
</div>