<div class="modal-header">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  <h4 class="modal-title">
    {{selectedWidget.name}}
  </h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body">
  <div class="row">
    <div class="col-md-8">
      <iframe ng-if="selectedWidget" 
        frameborder="0"
        style="display:block;width:100%;margin:-15px auto;border:0;" seamless 
        width="600px" 
        height="500px" 
        ng-src="{{widgetBaseUrl+selectedWidget.id+'.html'}}"></iframe>
    </div>
    <div class="col-md-4">
      <label uib-tooltip="Copy and paste this code into the html code of your webpage in order to embed the widget in that page." 
        tooltip-placement="top"
        tooltip-trigger="mouseenter">
        HTML Embed Code
        <i class="fa fa-question-circle"></i>
      </label>
      <textarea class="form-control" id="widget-source-code" readonly rows="6"
        style="cursor: text;margin-bottom:20px;">{{htmlSnippet(selectedWidget.id)}}</textarea>
      <label uib-tooltip="Use this page to test your widget in isolation from the other HTML, style rules, and scripts that may be present on your own webpage." 
        tooltip-placement="top"
        tooltip-trigger="mouseenter">
        Test Page
        <i class="fa fa-question-circle"></i>
      </label>
      <input class="form-control" style="cursor: text;" readonly
        value="{{widgetBaseUrl+selectedWidget.id+'.html'}}">
      <a ng-href="{{widgetBaseUrl+selectedWidget.id+'.html'}}" target="_blank">
        <i class="fa fa-external-link"></i> Open link in new window
      </a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$close()" data-dismiss="modal">Close</button>
</div>