<div ng-controller="ProductionSummaryCtrl" id="production">
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Production Summary
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">
      <div class="table-responsive">
        <table class="table table-hover table-sortable">
          <thead>
            <tr>
              <th class="sortable client_name"
                ng-click="sort_columns('consumer_name')"
                ng-class="widget.order_column=='consumer_name' ? 'active' : ''">
                <span>
                  Client Name
                  <i class="fa"
                    ng-if="widget.order_column=='consumer_name'"
                    ng-class="widget.descending ? 'fa-caret-down' : 'fa-caret-up'"></i>
                  <i class="fa fa-sort lighter"
                    ng-if="widget.order_column!='consumer_name'"></i>
                </span>
              </th>
              <th class="sortable last_updated"
                ng_click="sort_columns('last_updated')"
                ng-class="widget.order_column=='last_updated' ? 'active' : ''">
                <span>
                  Last Updated
                  <i class="fa"
                    ng-if="widget.order_column=='last_updated'"
                    ng-class="widget.descending ? 'fa-caret-down' : 'fa-caret-up'"></i>
                  <i class="fa fa-sort lighter"
                    ng-if="widget.order_column!='last_updated'"></i>
                </span>
              </th>
              <th class="sortable current_status"
                ng-click="sort_columns('current_status')"
                ng-class="widget.order_column=='current_status' ? 'active' : ''">
                <span>
                  Current Status
                  <i class="fa"
                    ng-if="widget.order_column=='current_status'"
                    ng-class="widget.descending ? 'fa-caret-down' : 'fa-caret-up'"></i>
                  <i class="fa fa-sort lighter"
                    ng-if="widget.order_column!='current_status'"></i>
                </span>
              </th>
              <th class="sortable carrier"
                ng-click="sort_columns('carrier_name')"
                ng-class="widget.order_column=='carrier_name' ? 'active' : ''">
                <span>
                  Carrier
                  <i class="fa"
                    ng-if="widget.order_column=='carrier_name'"
                    ng-class="widget.descending ? 'fa-caret-down' : 'fa-caret-up'"></i>
                  <i class="fa fa-sort lighter"
                    ng-if="widget.order_column!='carrier_name'"></i>
                </span>
              </th>
              <th class="sortable product_name"
                ng-click="sort_columns('product_name')"
                ng-class="widget.order_column=='product_name' ? 'active' : ''">
                <span>
                  Product
                  <i class="fa"
                    ng-if="widget.order_column=='product_name'"
                    ng-class="widget.descending ? 'fa-caret-down' : 'fa-caret-up'"></i>
                  <i class="fa fa-sort lighter"
                    ng-if="widget.order_column!='product_name'"></i>
                </span>
              </th>
              <th class="sortable premium no-wrap"
                ng-click="sort_columns('annualized_premium')"
                ng-class="widget.order_column=='annualized_premium' ? 'active' : ''">
                <span>
                  Annualized Premium
                  <i class="fa"
                    ng-if="widget.order_column=='annualized_premium'"
                    ng-class="widget.descending ? 'fa-caret-down' : 'fa-caret-up'"></i>
                  <i class="fa fa-sort lighter"
                    ng-if="widget.order_column!='annualized_premium'"></i>
                </span>
              </th>
              <th class="sortable branding_profile"
                ng-click="sort_columns('brand_name')"
                ng-class="widget.order_column=='brand_name' ? 'active' : ''">
                <span>
                  Brand
                  <i class="fa"
                    ng-if="widget.order_column=='brand_name'"
                    ng-class="widget.descending ? 'fa-caret-down' : 'fa-caret-up'"></i>
                  <i class="fa fa-sort lighter"
                    ng-if="widget.order_column!='brand_name'"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="kase in cases">
              <td title="Consumer {{kase.consumer_id}}">
                <a ng-show="can('contacts_consumers')"
                  ng-href="/consumers/{{kase.consumer_id}}"
                  ng-bind="kase.consumer_name || '-'"></a>
                <span ng-show="!can('contacts_consumers')"
                  ng-bind="kase.consumer_name || '-'"></span>
              </td>
              <td ng-bind="(kase.last_updated | formatForTimeAgo) || '-'"></td>
              <td ng-bind="kase.current_status || '-'"></td>
              <td ng-bind="kase.carrier_name || '-'"></td>
              <td ng-bind="kase.product_name || '-'"></td>
              <td ng-bind="(kase.annualized_premium | currency : $ : 0) || '-'"></td>
              <td ng-bind="kase.brand_name || '-'"></td>
            </tr>
            <tr ng-if="cases && !cases.length">
              <td colspan="8" class="text-center">
                <em>No cases to display</em>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td ng-if="cases"
                colspan="8" class="text-right">
                <dr-pagination-links data-options="widget" ng-show="widget.pageCt>1"></dr-pagination-links>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>