
\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{0px}
  \hspace{30px}
  <%= checkbox bene_type == 1, name:"section_3_wl_check_prim1_eq_survivor", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox bene_type == 2, name:"section_3_wl_check_prim1_eq_stirpes", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox bene_type == 3, name:"section_3_wl_check_prim1_percentage_survivor", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox bene_type == 4, name:"section_3_wl_check_prim1_percentage_stirpes", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.full_name, name:"section_3_wl_primary_bene_name_1", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.primary_address&.street, name:"section_3_wl_primary_bene_address_1", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[1-1]&.primary_address&.city, name:"section_3_wl_primary_bene_city_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[1-1]&.primary_address&.state&.abbrev, name:"section_3_wl_primary_bene_state_1", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[1-1]&.primary_address&.zip, name:"section_3_wl_primary_bene_zip_1", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.primary_phone, name:"section_3_wl_primary_bene_phone_1", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[1-1]&.primary_email, name:"section_3_wl_primary_bene_email_1", borderwidth:"0", width:"21em", maxlen:38 %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[1-1]&.ssn, name:"section_3_wl_primary_bene_ssn_1", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[1-1]&.gender == MALE, name:"section_3_wl_primary_bene_male_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[1-1]&.gender == FEMALE, name:"section_3_wl_primary_bene_female_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[1-1]&.birth_or_trust_date, name:"section_3_wl_primary_bene_dob_1", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield relationship(@p_benes[1-1]), name:"section_3_wl_primary_bene_relationship_to_pi_1", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[1-1]&.percentage, name:"section_3_wl_primary_bene_percentage_1", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.full_name, name:"section_3_wl_primary_bene_name_2", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.primary_address&.street, name:"section_3_wl_primary_bene_address_2", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[2-1]&.primary_address&.city, name:"section_3_wl_primary_bene_city_2", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[2-1]&.primary_address&.state&.abbrev, name:"section_3_wl_primary_bene_state_2", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[2-1]&.primary_address&.zip, name:"section_3_wl_primary_bene_zip_2", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.primary_phone, name:"section_3_wl_primary_bene_phone_2", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[2-1]&.primary_email, name:"section_3_wl_primary_bene_email_2", borderwidth:"0", width:"21em", maxlen:38 %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[2-1]&.ssn, name:"section_3_wl_primary_bene_ssn_2", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[2-1]&.gender == MALE, name:"section_3_wl_primary_bene_male_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[2-1]&.gender == FEMALE, name:"section_3_wl_primary_bene_female_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[2-1]&.birth_or_trust_date, name:"section_3_wl_primary_bene_dob_2", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield relationship(@p_benes[2-1]), name:"section_3_wl_primary_bene_relationship_to_pi_2", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[2-1]&.percentage, name:"section_3_wl_primary_bene_percentage_2", borderwidth:"0", width:"9em" %>

  \vspace{33px}
  \hspace{30px}
  <%= checkbox bene_type == 1, name:"section_4_wl_check_con1_eq_survivor", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox bene_type == 2, name:"section_4_wl_check_con1_eq_stirpes", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox bene_type == 3, name:"section_4_wl_check_con1_percentage_survivor", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox bene_type == 4, name:"section_4_wl_check_con1_percentage_stirpes", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{21px}
  <%= textfield @c_benes[1-1]&.full_name, name:"section_4_wl_contingent_bene_name_1", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[1-1]&.primary_address&.street, name:"section_4_wl_contingent_bene_address_1", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @c_benes[1-1]&.primary_address&.city, name:"section_4_wl_contingent_bene_city_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @c_benes[1-1]&.primary_address&.state&.abbrev, name:"section_4_wl_contingent_bene_state_1", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @c_benes[1-1]&.primary_address&.zip, name:"section_4_wl_contingent_bene_zip_1", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[1-1]&.primary_phone, name:"section_4_wl_contingent_bene_phone_1", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @c_benes[1-1]&.primary_email, name:"section_4_wl_contingent_bene_email_1", borderwidth:"0", width:"21em", maxlen:38 %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @c_benes[1-1]&.ssn, name:"section_4_wl_contingent_bene_ssn_1", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @c_benes[1-1]&.gender == MALE, name:"section_4_wl_contingent_bene_male_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{57px}
  <%= checkbox @c_benes[1-1]&.gender == FEMALE, name:"section_4_wl_contingent_bene_female_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @c_benes[1-1]&.birth_or_trust_date, name:"section_4_wl_contingent_bene_dob_1", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield relationship(@c_benes[1-1]), name:"section_4_wl_contingent_bene_relationship_to_pi_1", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @c_benes[1-1]&.percentage, name:"section_4_wl_contingent_bene_percentage_1", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[2-1]&.full_name, name:"section_4_wl_contingent_bene_name_2", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[2-1]&.primary_address&.street, name:"section_4_wl_contingent_bene_address_2", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @c_benes[2-1]&.primary_address&.city, name:"section_4_wl_contingent_bene_city_2", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @c_benes[2-1]&.primary_address&.state&.abbrev, name:"section_4_wl_contingent_bene_state_2", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @c_benes[2-1]&.primary_address&.zip, name:"section_4_wl_contingent_bene_zip_2", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[2-1]&.primary_phone, name:"section_4_wl_contingent_bene_phone_2", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @c_benes[2-1]&.primary_email, name:"section_4_wl_contingent_bene_email_2", borderwidth:"0", width:"21em", maxlen:38 %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @c_benes[2-1]&.ssn, name:"section_4_wl_contingent_bene_ssn_2", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @c_benes[2-1]&.gender == MALE, name:"section_4_wl_contingent_bene_male_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{57px}
  <%= checkbox @c_benes[2-1]&.gender == FEMALE, name:"section_4_wl_contingent_bene_female_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @c_benes[2-1]&.birth_or_trust_date, name:"section_4_wl_contingent_bene_dob_2", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield relationship(@c_benes[2-1]), name:"section_4_wl_contingent_bene_relationship_to_pi_2", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @c_benes[2-1]&.percentage, name:"section_4_wl_contingent_bene_percentage_2", borderwidth:"0", width:"9em" %>

  \vspace{34px}
  \hspace{36px}
  <%= checkbox nil, name:"section_5_wl_website", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{170px}
  <%= checkbox nil, name:"section_5_wl_social_media", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{294px}
  <%= checkbox nil, name:"section_5_wl_newspaper", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{385px}
  <%= checkbox nil, name:"section_5_wl_fundraiser", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{482px}
  <%= checkbox nil, name:"section_5_wl_mailer", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{36px}
  <%= checkbox nil, name:"section_5_wl_district_rep", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{170px}
  <%= checkbox nil, name:"section_5_wl_referral", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{294px}
  <%= checkbox nil, name:"section_5_wl_radio_tv", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{385px}
  <%= checkbox nil, name:"section_5_wl_other", width:"7px", height:"7px" %>

  \vspace{-14px}
  \hspace{420px}
  <%= textfield nil, name:"section_5_wl_other_explanation", borderwidth:"0", width:"13em" %>
\end{Form}
