\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{321px}
  \hspace{16px}
  <%= textfield carrier_name(replacing[1-1]), name:"insurer_1", borderwidth:"0", width:"16.7em" %>

  \vspace{-12px}
  \hspace{196px}
  <%= textfield replacing[1-1]&.consumer&.full_name, name:"insured_1", borderwidth:"0", width:"16.7em" %>

  \vspace{-12px}
  \hspace{379px}
  <%= textfield replacing[1-1]&.policy_number, name:"policy_number_1", borderwidth:"0", width:"9.2em" %>

  \vspace{-12px}
  \hspace{484px}
  <%= textfield replacing[1-1]&.consumer&.birth_or_trust_date, name:"insured_dob_1", borderwidth:"0", width:"7em", maxlen:12 %>

  \vspace{4px}
  \hspace{16px}
  <%= textfield carrier_name(replacing[2-1]), name:"insurer_2", borderwidth:"0", width:"16.7em" %>

  \vspace{-12px}
  \hspace{196px}
  <%= textfield replacing[2-1]&.consumer&.full_name, name:"insured_2", borderwidth:"0", width:"16.7em" %>

  \vspace{-12px}
  \hspace{379px}
  <%= textfield replacing[2-1]&.policy_number, name:"policy_number_2", borderwidth:"0", width:"9.2em" %>

  \vspace{-12px}
  \hspace{484px}
  <%= textfield replacing[2-1]&.consumer&.birth_or_trust_date, name:"insured_dob_2", borderwidth:"0", width:"7em", maxlen:12 %>

  \vspace{4px}
  \hspace{16px}
  <%= textfield carrier_name(replacing[3-1]), name:"insurer_3", borderwidth:"0", width:"16.7em" %>

  \vspace{-12px}
  \hspace{196px}
  <%= textfield replacing[3-1]&.consumer&.full_name, name:"insured_3", borderwidth:"0", width:"16.7em" %>

  \vspace{-12px}
  \hspace{379px}
  <%= textfield replacing[3-1]&.policy_number, name:"policy_number_3", borderwidth:"0", width:"9.2em" %>

  \vspace{-12px}
  \hspace{484px}
  <%= textfield replacing[3-1]&.consumer&.birth_or_trust_date, name:"insured_dob_3", borderwidth:"0", width:"7em", maxlen:12 %>

  \vspace{4px}
  \hspace{16px}
  <%= textfield carrier_name(replacing[4-1]), name:"insurer_4", borderwidth:"0", width:"16.7em" %>

  \vspace{-12px}
  \hspace{196px}
  <%= textfield replacing[4-1]&.consumer&.full_name, name:"insured_4", borderwidth:"0", width:"16.7em" %>

  \vspace{-12px}
  \hspace{379px}
  <%= textfield replacing[4-1]&.policy_number, name:"policy_number_4", borderwidth:"0", width:"9.2em" %>

  \vspace{-12px}
  \hspace{484px}
  <%= textfield replacing[4-1]&.consumer&.birth_or_trust_date, name:"insured_dob_4", borderwidth:"0", width:"7em", maxlen:12 %>

  \vspace{35px}
  \hspace{103px}
  <%= textfield @kase.policy_type&.name, name:"type_of_policy", borderwidth:"0", width:"22em" %>

  \vspace{-12px}
  \hspace{340px}
  <%= textfield @kase.face_amount, name:"face_amount", borderwidth:"0", width:"12.5em" %>

  \vspace{18px}
  \hspace{103px}
  <%= textfield nil, name:"applicant_signature", borderwidth:"0", width:"22em" %>

  \vspace{-12px}
  \hspace{340px}
  <%= textfield nil, name:"applicant_signature_date", borderwidth:"0", width:"12.5em" %>

  \vspace{18px}
  \hspace{103px}
  <%= textfield @owner.primary_address&.street, name:"applicant_address", borderwidth:"0", width:"17em", maxlen:30 %>

  \vspace{-12px}
  \hspace{282px}
  <%= textfield @owner.primary_address&.city, name:"applicant_city", borderwidth:"0", width:"7.3em" %>

  \vspace{-12px}
  \hspace{365px}
  <%= textfield @owner.primary_address&.state&.abbrev, name:"applicant_state", borderwidth:"0", width:"3.5em", maxlen:"2" %>

  \vspace{-12px}
  \hspace{412px}
  <%= textfield @owner.primary_address&.zip, name:"applicant_zip", borderwidth:"0", width:"5.3em" %>

  \vspace{39px}
  \hspace{103px}
  <%= textfield @owner.full_name, name:"applicant_name", borderwidth:"0", width:"36.3em" %>

  \vspace{32px}
  \hspace{113px}
  <%= signature height:"2em" %>

  \vspace{-12px}
  \hspace{340px}
  <%= textfield nil, name:"agent_signature_date", borderwidth:"0", width:"12.5em" %>

  \vspace{18px}
  \hspace{103px}
  <%= textfield aor.primary_address&.street, name:"agent_address", borderwidth:"0", width:"17em", maxlen:30 %>

  \vspace{-12px}
  \hspace{282px}
  <%= textfield aor.primary_address&.city, name:"agent_city", borderwidth:"0", width:"7.3em" %>

  \vspace{-12px}
  \hspace{365px}
  <%= textfield aor.primary_address&.state&.abbrev, name:"agent_state", borderwidth:"0", width:"3.5em", maxlen:"2" %>

  \vspace{-12px}
  \hspace{412px}
  <%= textfield aor.primary_address&.zip, name:"agent_zip", borderwidth:"0", width:"5.3em" %>

  \vspace{20px}
  \hspace{299px}
  <%= signature height:"2em" %>
\end{Form}
