<td>
  <a ng-click="showResults(s,true)" title="View Results">{{s.name}}</a>
</td>
<td>
  <i ng-if="!s.owner_id || s.ownership_id==1"
    class="fa fa-globe"
    title="This is a globally accessible search."></i>
  <i ng-if="!s.owner_id || s.ownership_id==2"
    class="fa fa-user"
    title="This is accessible by its owner."></i>
  <i ng-if="!s.owner_id || s.ownership_id==3"
    class="fa fa-users"
    title="This is accessible by owner and descendents."></i>
  <a ng-href="/users/{{s.owner_id}}"
    ng-bind="s.$ownerName" target="_blank">
  </a>
</td>
<td>
  <div>
    <strong>Filters By Fields:</strong>
    <span class="label label-default" ng-repeat="f in ( s.$restrictedByFields || (s.$restrictedByFields=getRelevantModelFieldPairs(s.criteria)) )">
      {{ f }}
    </span>
    <br>
    <strong>Shows Fields:</strong>
    <span class="label label-default" ng-repeat="f in ( s.$showsFields || (s.$showsFields=getRelevantModelFieldPairs(s.fields_to_show)) )">
      {{ f }}
    </span>
  </div>
</td>
<td ng-bind="s.updated_at">
</td>
<td>
  <div class="btn-group pull-right" uib-dropdown>
    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
      <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
      <li ng-if="s.owner_id || currentUser.can('super_edit')">
        <a ng-click="showForm(s,true)">
          Edit
        </a>
      </li>
      <li>
        <a ng-click="duplicateSearch(s)">
          Duplicate
        </a>
      </li>
      <li class="divider"></li>
      <li ng-if="s.owner_id || currentUser.can('super_edit')">
        <a ng-click="destroySearch(s)"
          style="color:red;">
          Remove
        </a>
      </li>
    </ul>
  </div>
</td>