<div id="reporting" ng-controller="searchCtrl">

  <io-section-header ng-if="searchCtrlVars.activeSection=='list'">
    <a class="btn btn-primary"
      ng-click="showForm(newSearch(),true,true)">
      New Report
    </a>
  </io-section-header>
  <io-section-header ng-if="searchCtrlVars.activeSection=='form'"
    sub-heading=" (searchCtrlVars.activeSearch.id && 'Editing Custom Search: '+searchCtrlVars.activeSearch.name) ||
                  (searchCtrlVars.activeSearch.name && 'New Custom Search: '+searchCtrlVars.activeSearch.name) ||
                  'New Custom Search' ">
    <a class="btn btn-default"
      ng-click="resetSearchCtrlVars()">
      <i class="fa fa-long-arrow-left"></i>
      Back To List
    </a>
  </io-section-header>
  <io-section-header ng-if="searchCtrlVars.activeSection=='results'"
    sub-heading="(searchCtrlVars.records ? 'Summary of' : 'Loading') +' Results For Report: '+searchCtrlVars.activeSearch.name">
    <a class="btn btn-default"
      ng-click="resetSearchCtrlVars()">
      <i class="fa fa-long-arrow-left"></i>
      Back To List
    </a>
    <a class="btn btn-default"
      ng-click="showForm(searchCtrlVars.activeSearch)">
      Edit This Report
    </a>
    <a class="btn btn-primary"
      ng-if="searchCtrlVars.records.length"
      data-toggle="modal" data-target="#results-list-modal">
      <i class="fa fa-table"></i>
      View As Table
    </a>
    <a class="btn btn-primary"
      ng-if="currentUser.can('reporting_export') && searchCtrlVars.records.length"
      ng-click="downloadCSV();">
      <i class="fa fa-download"></i>
      Download CSV
    </a>
  </io-section-header>

  <div class="section-container">

    <!-- Report List -->
    <div class="section-nav left" ng-if="searchCtrlVars.activeSection=='list'">
      <ul class="nav nav-pills">
        <li>
          <strong>Reports</strong>
        </li>
        <li ng-class="searchCtrlVars.ownershipFilter=='all' ? 'active' : ''">
          <a ng-click="setOwnershipFilter('all')">
            All
          </a>
        </li>
        <li ng-class="searchCtrlVars.ownershipFilter=='mine' ? 'active' : ''">
          <a ng-click="setOwnershipFilter('mine')">
            Owned by Me
          </a>
        </li>
        <li ng-class="searchCtrlVars.ownershipFilter=='shared' ? 'active' : ''">
          <a ng-click="setOwnershipFilter('shared')">
            Shared with Me
          </a>  
        </li>
        <li ng-class="searchCtrlVars.ownershipFilter=='global' ? 'active' : ''">
          <a ng-click="setOwnershipFilter('global')">
            Global
          </a>
        </li>
      </ul>
    </div>
    <div class="section-content search-list" ng-if="searchCtrlVars.activeSection=='list'">
      <table class="table table-hover table-link">
        <thead>
          <tr>
            <th style="min-width:18em;">Name</th>
            <th style="min-width:14em;">Ownership &amp; Owner</th>
            <th>Description</th>
            <th style="min-width:14em;">Last Modified</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in searches"
            ng-include src="'/reporting/searches/available_search.html'">
          </tr>
        </tbody>
      </table>
      <div ng-if="searches && !searches.$resolved"
        style="text-align: center; padding:1em;">
        <div class="loading-things"></div>
        Still loading reports.
      </div>
    </div>
    <!-- End Report List -->

    <!-- Search Form -->
    <div class="section-content search-form"
      ng-if="searchCtrlVars.activeSection=='form'"
      ng-init="activeSearch=searchCtrlVars.activeSearch">
      <ng-include src="'/reporting/searches/form.html'"></ng-include>
    </div>
    <!-- End Search Form -->

    <!-- Search Results -->
    <div class="section-content search-results"
      ng-if="searchCtrlVars.activeSection=='results'">

      <div class="alert alert-info"><!-- Shows regardless of whether results have loaded yet. -->
        <strong>Filters By Fields:</strong>
        {{ searchCtrlVars.activeSearch.$restrictedByFields }}
        <br>
        <strong>Shows Fields:</strong>
        {{ searchCtrlVars.activeSearch.$showsFields }}
      </div>

      <div ng-if="!searchCtrlVars.records">
        <strong>Elapsed Time:</strong> {{reportLoadTime}} seconds.
        <br>
        <div class="loading-things"></div>
      </div>

      <div ng-if="searchCtrlVars.records && !searchCtrlVars.records.length">
        <strong>Total Elapsed Time:</strong> {{reportLoadTime}} seconds.
        <br>
        <div class="alert alert-warning">
          <strong>No records</strong> match the provided search criteria.
        </div>
      </div>

      <div ng-if="searchCtrlVars.records && searchCtrlVars.records.length">
        <strong>Total Elapsed Time:</strong> {{reportLoadTime}} seconds.
        <br>
        <br>
        <div class="result-summary"
          ng-include="'/reporting/searches/results_summary.html'">
        </div>
        <ng-include src="'/reporting/searches/results_table_modal.html'"></ng-include>
      </div>
    </div>
    <!-- End Search Results -->
  </div> <!-- End .section-container -->
</div>
