
<div ng-if="selectedOpt()[0]=='Date Range'" style="display:inline-block; margin-right:1em;">
  between
  <dr-datetime-picker model="model[minMethod]" date-only="true" suppress-clear-btn="true"></dr-datetime-picker>
  and
  <dr-datetime-picker model="model[maxMethod]" date-only="true" suppress-clear-btn="true"></dr-datetime-picker>
</div>
<div class="btn-group" uib-dropdown>
  <button type="button" class="btn dropdown-toggle" uib-dropdown-toggle>
    <span ng-if="selectedOpt()[0]!='Date Range'">{{selectedOpt()[0]}}</span>
    <i class="fa fa-caret-down"></i>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu>
    <li ng-repeat="opt in rangeOpts" ng-if="opt!=selectedOpt()">
      <div ng-click="selectAnOpt(opt)" class="btn" style="width:100%;">{{opt[0]}}</div>
    </li>
  </ul>
</div>

