<form id="search_form">
  <div class="grid grid--center">
    <div class="grid-cell form-inline">
      <div class="form-group">
        <label>Report Name</label>
        <input class="form-control"
          ng-model="activeSearch.name" size="30" type="text">
      </div>
    </div>
    <div class="grid-cell form-inline">
      <div class="form-group">
        <label>Access</label>
        <select class="form-control"
          ng-model="activeSearch.ownership_id"
          ng-options="o.id as o.value for o in OWNERSHIPS"></select>
      </div>
    </div>
    <div class="grid-cell">
    </div>
  </div>
  <div class="alert alert-info">
    Note: <strong>At least one</strong> criterion must be selected in order to generate search results.<br>
    You can get faster reports by <strong>limiting</strong> the number of <strong>slow criteria</strong>.
    <br />
    <i class="speed-indicator danger"></i> slow<br />
    <i class="speed-indicator warning"></i> moderate<br />
    <i class="speed-indicator" style="border:solid 2px gray"></i> fast<br />
  </div>
  <div class="grid grid--center">
    <div id="marketing" class="grid-cell collapsible toggle">
      <div class="grid head"
        ng-click="activeSearch.marketing_visible=!activeSearch.marketing_visible">
        <div class="grid-cell">Lead Details / Marketing</div>
        <div class="grid-cell grid--shrink">
          <i class="fa lighter"
            ng-class="activeSearch.marketing_visible ? 'fa-minus-square' : 'fa-plus-square'"></i>
        </div>
      </div>
      <div class="grid grid--gutters grid--wrap body"
        ng-show="activeSearch.marketing_visible">
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            Lead Type <i class="fa fa-question-circle warning"></i>
          </label>
          <ui-select ng-model="activeSearch.criteria.consumer.lead_type"
            theme="bootstrap" style="min-width: 20em;">
            <ui-select-match placeholder="(autocomplete)">
              <strong class="clear pull-right"
                style="position:relative; z-index:2"
                ng-click="$event.stopPropagation(); activeSearch.criteria.consumer.lead_type=undefined">x</strong>
              {{$select.selected.text}}
            </ui-select-match>
            <ui-select-choices repeat="lead_type.text as lead_type in lead_types | whereKeyContainsValue: 'text' : $select.search">
              <div ng-bind-html="(lead_type.text||'') | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            Source <i class="fa fa-question-circle warning"></i>
          </label>
          <ui-select ng-model="activeSearch.criteria.consumer.source"
            theme="bootstrap" style="min-width: 20em;">
            <ui-select-match placeholder="(autocomplete)">
              <strong class="clear pull-right"
                style="position:relative; z-index:2"
                ng-click="$event.stopPropagation(); activeSearch.criteria.consumer.source=undefined">x</strong>
              {{$select.selected.text}}
            </ui-select-match>
            <ui-select-choices repeat="source.text as source in sources | whereKeyContainsValue: 'text' : $select.search">
              <div ng-bind-html="(source.text||'') | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            Referrer <i class="fa fa-question-circle warning"></i>
          </label>
          <ui-select ng-model="activeSearch.criteria.consumer.referrer"
            theme="bootstrap" style="min-width: 20em;">
            <ui-select-match placeholder="(autocomplete)">
              <strong class="clear pull-right" style="position:relative; z-index:2"
                ng-click="$event.stopPropagation(); activeSearch.criteria.consumer.referrer=undefined">x</strong>
              {{$select.selected.text}}
            </ui-select-match>
            <ui-select-choices repeat="referrer.text as referrer in referrers | whereKeyContainsValue: 'text' : $select.search">
              <div ng-bind-html="(referrer.text||'') | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="Please enter at least 3 characters to search for an existing tag">
            Tags <i class="fa fa-question-circle"></i>
          </label>
          <ui-select multiple ng-model="activeSearch.criteria.consumer.tags"
            theme="bootstrap" style="width: 200px;">
            <ui-select-match placeholder="Enter Tags">{{$item.text}}</ui-select-match>
            <ui-select-choices repeat="t.text as t in tags" refresh="searchTags($select.search)" refresh-delay="100">
              <div ng-bind-html="t.text | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            Quoter Url <i class="fa fa-question-circle danger"></i>
          </label>
          <input class="form-control"
          type="text" 
          style="min-width: 20em;"
            ng-model="activeSearch.criteria.consumer.quoter_url"
            placeholder="http://somedomain/some_page">
        </div>
        <div class="grid-cell grid--1of3">
          <div class="checkbox checkbox-primary">
            <input id="exclude-test" type="checkbox" 
              ng-model="activeSearch.criteria.case.exclude_test" />
            <label for="exclude-test">
              Exclude Test Leads
            </label>
          </div>
          <div class="checkbox checkbox-primary">
            <input id="exclude-dup" type="checkbox" 
              ng-model="activeSearch.criteria.case.exclude_dup" />
            <label for="exclude-dup">
              Exclude Duplicate Leads
            </label>
          </div>
          <div class="checkbox checkbox-primary">
            <input id="include-pre-existing" type="checkbox" 
              ng-model="activeSearch.criteria.case.include_preexisting" />
            <label for="include-pre-existing">
              Include Pre-existing Policies?
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid--center">
    <div id="client" class="grid-cell collapsible toggle">
      <div class="grid head"
        ng-click="activeSearch.client_visible=!activeSearch.client_visible">
        <div class="grid-cell">Consumer Details</div>
        <div class="grid-cell grid--shrink">
          <i class="fa lighter"
            ng-class="activeSearch.client_visible ? 'fa-minus-square' : 'fa-plus-square'"></i>
        </div>
      </div>
      <div class="grid grid--gutters grid--wrap body"
        ng-show="activeSearch.client_visible">
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            Name <i class="fa fa-question-circle danger"></i>
          </label>
          <input class="form-control"
            ng-model="activeSearch.criteria.full_name"
            size="50" type="text">
        </div>
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            Phone <i class="fa fa-question-circle warning"></i>
          </label>
          <input class="form-control"
            ng-model="activeSearch.criteria.phone.value"
            size="30" type="text">
        </div>
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            Email <i class="fa fa-question-circle warning"></i>
          </label>
          <input class="form-control"
            ng-model="activeSearch.criteria.email.value"
            size="30" type="email">
        </div>
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            City <i class="fa fa-question-circle warning"></i>
          </label>
          <input class="form-control"
            ng-model="activeSearch.criteria.address.city"
            size="30" type="text">
        </div>
        <div class="grid-cell grid--1of3">
          <label>State</label>
          <select class="form-control"
            ng-model="activeSearch.criteria.address.state_id"
            ng-options="s.id as s.name for s in STATES"></select>
        </div>
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="To increase the speed of a search involving this field, specify at least one criterion which is not marked yellow or red.">
            Zip <i class="fa fa-question-circle warning"></i>
          </label>
          <input class="form-control"
            ng-model="activeSearch.criteria.address.zip" size="30" type="text">
        </div>
        <div class="grid-cell grid--1of3 form-inline">
          <label>Age Range</label><br>
          <input class="form-control"
            ng-model="activeSearch.criteria.consumer.age_min"
            max="199" min="1" style="width:5em;" type="number">
          <small>to</small>
          <input class="form-control"
            ng-model="activeSearch.criteria.consumer.age_max"
            max="200" min="1" style="width:5em;" type="number">
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid--center">
    <div id="case" class="grid-cell collapsible toggle">
      <div class="grid head"
        ng-click="activeSearch.case_visible=!activeSearch.case_visible">
        <div class="grid-cell">Case Details</div>
        <div class="grid-cell grid--shrink">
          <i class="fa lighter"
            ng-class="activeSearch.case_visible ? 'fa-minus-square' : 'fa-plus-square'"></i>
        </div>
      </div>
      <div class="grid grid--gutters grid--wrap body"
        ng-show="activeSearch.case_visible">
        <div class="grid-cell grid--1of3">
          <label>Policy Type</label>
          <select class="form-control"
            ng-model="activeSearch.criteria.current_details.policy_type_id"
            ng-options="s.id as s.name for s in POLICY_TYPES_W_NULL_OPTION"></select>
        </div>
        <div class="grid-cell grid--1of3">
          <label>Carrier Name</label>
          <select class="form-control"
            ng-model="activeSearch.criteria.current_details.carrier_id"
            ng-options="s.id as s.name for s in CARRIERS_W_NULL_OPTION"></select>
        </div>
        <div class="grid-cell grid--1of3 form-inline">
          <label>Face Amount Range</label><br>
          <input class="form-control"
            ng-model="activeSearch.criteria.case.face_amount_min"
            max="15000000" min="1" style="width:10em;" type="number">
          <small>to</small>
          <input class="form-control"
            ng-model="activeSearch.criteria.case.face_amount_max"
            max="15000000" min="1" style="width:10em;" type="number">
        </div>
        <div class="grid-cell grid--1of3 form-inline">
          <label>Annualized Premium Range</label><br>
          <input class="form-control"
            ng-model="activeSearch.criteria.current_details.annualized_premium_min"
            max="10000" min="1" style="width:10em;" type="number">
          <small>to</small>
          <input class="form-control"
            ng-model="activeSearch.criteria.current_details.annualized_premium_max"
            max="10000" min="1" style="width:10em;" type="number">
        </div>
        <div class="grid-cell grid--1of3">
          <label>Coverage Duration</label>
          <select class="form-control"
            ng-model="activeSearch.criteria.current_details.duration_id"
            ng-options="d.id as d.name for d in DURATIONS"></select>
        </div>
        <div class="grid-cell grid--1of3 form-inline">
          <label>Policy Effective Range</label><br>
          <reporting-date-range-picker
            model-name="'case'"
            min-method="'effective_date_min'"
            max-method="'effective_date_max'">
          </reporting-date-range-picker>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid--center">
    <div id="owner" class="grid-cell collapsible toggle">
      <div class="grid head"
        ng-click="activeSearch.owner_visible=!activeSearch.owner_visible">
        <div class="grid-cell">Contact Owner</div>
        <div class="grid-cell grid--shrink">
          <i class="fa lighter"
            ng-class="activeSearch.owner_visible ? 'fa-minus-square' : 'fa-plus-square'"></i>
        </div>
      </div>
      <div class="grid grid--gutters grid--wrap body"
        ng-show="activeSearch.owner_visible">
        <div class="grid-cell grid--1of3">
          <label>Brand</label>
          <ui-select ng-model="activeSearch.criteria.consumer.brand_id" theme="bootstrap" style="min-width: 20em;">
            <ui-select-match placeholder="(autocomplete)">
              <strong class="clear pull-right" style="position:relative; z-index:2" 
                ng-click="$event.stopPropagation(); activeSearch.criteria.consumer.brand_id=undefined">x</strong>
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="brand.id as brand in brands | whereKeyContainsValue: 'name' : $select.search">
              <div ng-bind-html="brand.name+' ('+brand.id+')' | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="grid-cell grid--1of3">
          <label>Agent</label>
          <ui-select ng-model="activeSearch.criteria.case.agent_id" theme="bootstrap" style="min-width: 20em;">
            <ui-select-match placeholder="(autocomplete)">
              <strong class="clear pull-right" style="position:relative; z-index:2"
                ng-click="$event.stopPropagation(); activeSearch.criteria.case.agent_id=undefined">x</strong>
              {{$select.selected.full_name}}
            </ui-select-match>
            <ui-select-choices repeat="agent.id as agent in agents | whereKeyContainsValue: 'full_name' : $select.search">
              <div ng-bind-html="agent.full_name | highlight: $select.search"></div>
              <small>{{agent.company}}</small>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="grid-cell grid--1of3"
          ng-if="currentUser.can('sales_support')">
          <label uib-tooltip="Specify both a role and a user to find cases that have a matching custom staff assignment. Without both selections, neither criteria will be included.">
            Staff Assignment Role <i class="fa fa-question-circle" ></i>
          </label>
          <select class="form-control"
            ng-model="activeSearch.criteria.staff_assignment.column_name"
            ng-options="o.value as o.text for o in STAFF_ASSIGNMENT_ROLES"></select>
        </div>
        <div class="grid-cell grid--1of3"
          ng-if="currentUser.can('sales_support')">
          <label uib-tooltip="Specify a role and a user to find cases that have a matching custom staff assignment.">
            Staff Assignment User <i class="fa fa-question-circle" ></i>
          </label>
          <ui-select ng-model="activeSearch.criteria.staff_assignment.user_id" theme="bootstrap" style="min-width: 20em;">
            <ui-select-match placeholder="(autocomplete)">
              <strong class="clear pull-right" style="position:relative; z-index:2"
                ng-click="$event.stopPropagation(); activeSearch.criteria.staff_assignment.user_id=undefined">x</strong>
              {{$select.selected.full_name}}
            </ui-select-match>
            <ui-select-choices repeat="agent.id as agent in agents | whereKeyContainsValue: 'full_name' : $select.search">
              <div ng-bind-html="agent.full_name | highlight: $select.search"></div>
              <small>{{agent.company}}</small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid--center">
    <div id="status" class="grid-cell collapsible toggle">
      <div class="grid head"
        ng-click="activeSearch.status_visible=!activeSearch.status_visible">
        <div class="grid-cell">Status</div>
        <div class="grid-cell grid--shrink">
          <i class="fa lighter"
            ng-class="activeSearch.status_visible ? 'fa-minus-square' : 'fa-plus-square'"></i>
        </div>
      </div>
      <div class="grid grid--gutters grid--wrap body"
        ng-show="activeSearch.status_visible">
        <div class="grid-cell grid--1of3">
          <label uib-tooltip="It is highly recommended that you make this a more specific value than 'Ever'.">
            Lead Received <i class="fa fa-question-circle" ></i>
          </label><br>
          <reporting-date-range-picker
            model-name="'case'"
            min-method="'created_at_min'"
            max-method="'created_at_max'">
          </reporting-date-range-picker>
        </div>
        <div class="grid-cell grid--1of3">
          <label>
            Consider
          </label>
          <div class="radio radio-primary">
            <input id="current_status" type="radio"
              ng-model="activeSearch.$currentOrPrev"
              ng-change="clearStatusCriteria(); updateStatusFields()"
              value="current">
            <label for="current_status" class="inline"
              uib-tooltip="This is the faster option.">
              Only Current Status
            </label>
          </div>
          <div class="radio radio-warning">
            <input id="all_statuses" type="radio"
              ng-model="activeSearch.$currentOrPrev"
              ng-change="clearStatusCriteria(); updateStatusFields()"
              value="all">
            <label for="all_statuses" class="inline"
              uib-tooltip="This is the slower option.">
              <i class="fa fa-question-circle warning"></i> 
              All (Current and Previous) Statuses
            </label>
          </div>
        </div>
        <div class="grid-cell grid--1of3"
          ng-if="activeSearch.$currentOrPrev">
          <label>
            Sales Stage {{activeSearch.$currentOrPrev=='current' ? 'Is' : 'At Or After'}}
          </label><br>
          <select class="form-control"
            ng-model="activeSearch.criteria.case[activeSearch.$salesStageCriterionField]"
            ng-options="o.id as o.displayName for o in SALES_STAGES_W_NULL_OPTION"
            ng-change="clearSSDependentStatusCriteria(); updateSTSalesStageTimestampField()">
          </select>
        </div>
        <div class="grid-cell grid--1of3"
          ng-if="activeSearch.criteria.case[activeSearch.$salesStageCriterionField] &&
            ( activeSearch.$stSalesStageTimestampField || updateSTSalesStageTimestampField() )">
          <label>
            Date Stage Was Entered
          </label><br>
          <reporting-date-range-picker
            model-name="'case'"
            min-method="activeSearch.$stSalesStageTimestampField+'_min'"
            max-method="activeSearch.$stSalesStageTimestampField+'_max'">
          </reporting-date-range-picker>
        </div>
        <div class="grid-cell grid--1of3"
          ng-if="activeSearch.$currentOrPrev">
          <label>
            Category {{activeSearch.$currentOrPrev=='current' ? 'Is' : 'Is/Was'}}
          </label><br>
          <select class="form-control"
            ng-model="activeSearch.criteria[activeSearch.$stCategoryCriterionModel].status_type_category_id"
            ng-options="o.id as o.name for o in CATEGORIES_W_NULL_OPTION
            | whereKeyMatchesValue : 'is_for_policies' : true
            | whereKeyMatchesValue : 'sales_stage_id' : activeSearch.criteria.case[activeSearch.$salesStageCriterionField]">
          </select>
        </div>
        <div class="grid-cell grid--1of3"
          ng-if="activeSearch.criteria[activeSearch.$stCategoryCriterionModel].status_type_category_id ||
            activeSearch.criteria[activeSearch.$stCategoryCriterionModel].status_type_category_id===null">
          <label>
            Status {{activeSearch.$currentOrPrev=='current' ? 'Is' : 'Is/Was'}}
          </label><br>
          <select class="form-control"
            ng-model="activeSearch.criteria[activeSearch.$stCriterionModel].status_type_id"
            ng-options="o.id as o.name for o in status_types
            | whereKeyMatchesValue : 'status_type_category_id' : activeSearch.criteria[activeSearch.$stCategoryCriterionModel].status_type_category_id">
          </select>
        </div>
        <div class="grid-cell grid--1of3"
          ng-if="activeSearch.criteria[activeSearch.$stCategoryCriterionModel].status_type_category_id ||
            activeSearch.criteria[activeSearch.$stCriterionModel].status_type_id">
          <label>
            Date {{activeSearch.criteria[activeSearch.$stCriterionModel].status_type_id ? 'Status' : 'Category'}} Was Entered
          </label><br>
          <reporting-date-range-picker
            model-name="activeSearch.$stCriterionModel"
            min-method="'created_at_min'"
            max-method="'created_at_max'"></reporting-date-range-picker>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-info"
    ng-show="activeSearch.fields_visible">
    Note: <strong>At least one</strong> field must be selected in order to generate search results.
    <br />
    You can get faster reports by <strong>limiting</strong> the number of <strong>slow fields</strong>.
    <br />
    <i class="speed-indicator danger"></i> slow<br />
    <i class="speed-indicator warning"></i> moderate<br />
    <i class="speed-indicator" style="border:solid 2px gray"></i> fast<br />
  </div>
  <div class="grid grid--center">
    <div id="fields"
      class="grid-cell collapsible toggle">
      <div class="grid head"
        ng-click="activeSearch.fields_visible=!activeSearch.fields_visible">
        <div class="grid-cell">Fields To Show</div>
        <div class="grid-cell grid--shrink">
          <i class="fa lighter"
            ng-class="activeSearch.fields_visible ? 'fa-minus-square' : 'fa-plus-square'"></i>
        </div>
      </div>
      <div ng-show="activeSearch.fields_visible"
        class="grid fields-to-show grid--wrap"
        style="text-transform:capitalize;">
        <div ng-repeat="fieldGroup in fieldsToShowDisplayObject"
          ng-init="fieldGroup.showFields=true"
          ng-if="!fieldGroup.restricted_by_permission || currentUser.can(fieldGroup.restricted_by_permission)"
          class="grid-cell grid--1of4">
          <div class="grid fields-head">
            <label class="grid-cell"
              ng-click="clearFieldsForModel(fieldGroup)">
              <input type="checkbox"
                ng-model="fieldGroup.showFields"
                style="display:none" />
              <i class="fa lighter"
                ng-class="fieldGroup.showFields ? 'fa-minus-square' : 'fa-plus-square'"></i>
              <i class="speed-indicator {{fieldGroup.speed}}"></i>
              {{fieldGroup.displayName}}
            </label>
          </div>
          <div class="fields-list"
            ng-if="fieldGroup.showFields">
            <div ng-repeat="field in fieldGroup.fields">
              <fields-to-show-checkbox model-name="fieldGroup.modelName"
                field-name="field.fieldName"
                display-text="field.displayName"
                speed="field.speed"></fields-to-show-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="navigation-footer grid grid--center">
    <div id="actions"
      class="grid-cell clearfix {{showReportLoadingMsg ? 'lighter' : ''}}"
      uib-tooltip="{{showReportLoadingMsg ? 'These buttons will be available again once the report is finished running.' : ''}}">
      <div class="pull-left">
        <button class="btn btn-danger"
          ng-click="resetActiveSearch()">Reset Search</button>
      </div>
      <div class="pull-right">
        <button class="btn btn-primary"
          ng-click="!showReportLoadingMsg && saveSearch()">Save Search</button> |
        <button class="btn btn-default"
          ng-click="!showReportLoadingMsg && showResults(activeSearch)">View Results</button>
      </div>
    </div>
  </div>

</form>
