<div id="results-summary">
  <div class="panel panel-default">
    <div class="panel-heading">Summary of Results</div>
    <div class="panel-body">
      <div class="grid">
        <div class="grid-cell">Total Unique Consumers</div>
        <div class="grid-cell">{{ searchCtrlVars.recordIds[0].length }}</div>
      </div>
      <div class="grid">
        <div class="grid-cell">Total Number of Leads</div>
        <div class="grid-cell">{{ (searchCtrlVars.recordIds[1].length||0) + searchCtrlVars.recordIds[2].length }}</div>
      </div>
      <!-- Everything below this point requires searchCtrlVars.resultsSummary.
          Everything above this point does not.
          When issue #581 is complete and results are broken into multiple server requests,
          the above section will show first, and the below will
          show only after the second request. -->
      <div class="grid">
        <div class="grid-cell">Total Premium of Leads</div>
        <div class="grid-cell">{{ searchCtrlVars.resultsSummary.total_premium | currency }}</div>
      </div>
      <div class="grid">
        <div class="grid-cell">Total Closed Leads</div>
        <div class="grid-cell">
          {{ searchCtrlVars.resultsSummary.closed_count }}
          <span ng-if="!searchCtrlVars.activeSearch.criteria.case.exclude_test &&
            !searchCtrlVars.activeSearch.criteria.case.exclude_duplicate">
            ({{ searchCtrlVars.resultsSummary.test_count }} tests, and {{ searchCtrlVars.resultsSummary.dup_count }} duplicates)
          </span>
          <span ng-if="!searchCtrlVars.activeSearch.criteria.case.exclude_test &&
            searchCtrlVars.activeSearch.criteria.case.exclude_duplicate">
            ({{ searchCtrlVars.resultsSummary.test_count }} tests, and duplicates were excluded)
          </span>
          <span ng-if="searchCtrlVars.activeSearch.criteria.case.exclude_test &&
            !searchCtrlVars.activeSearch.criteria.case.exclude_duplicate">
            ({{ searchCtrlVars.resultsSummary.dup_count }} duplicates, and tests were excluded)
          </span>
          <span ng-if="searchCtrlVars.activeSearch.criteria.case.exclude_test &&
            searchCtrlVars.activeSearch.criteria.case.exclude_duplicate">
            (both duplicates and tests were excluded)
          </span>
        </div>
      </div>
      <div class="grid" ng-if="searchCtrlVars.activeSearch.criteria.case.include_preexisting">
        <div class="grid-cell">Total Pre-Existing Policies</div>
        <div class="grid-cell">
          {{ searchCtrlVars.resultsSummary.preexisting_count }}
        </div>
      </div>
      <div class="grid">
        <div class="grid-cell">Charts</div>
        <div class="grid-cell">
          <div ng-repeat="ssId in searchCtrlVars.resultsSummary.stages_to_display"
            ng-if="ssId!=1 && searchCtrlVars.resultsSummary.ratio_in_stage[ssId]%100!=0"
            easypiechart
            percent="searchCtrlVars.resultsSummary.ratio_in_stage[ssId]"
            style="display: inline-block; text-align:center;">
            <span style="font-weight: normal;"
              ng-bind=" (ssId | enumValue : 'SALES_STAGES') || '-'"></span><br />
            {{ searchCtrlVars.resultsSummary.ratio_in_stage[ssId] }}%<br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default"
    ng-repeat="ssId in searchCtrlVars.resultsSummary.stages_to_display">
    <div class="panel-heading">Stage: {{ (ssId | enumValue : 'SALES_STAGES') || '-' }}</div>
    <div class="panel-body">
        <div class="grid">
          <div class="grid-cell">
            Total Leads For Stage {{ (ssId | enumValue : 'SALES_STAGES') || '-' }}
            <span ng-if="!$last">or Later</span>
          </div>
          <div class="grid-cell" ng-bind="searchCtrlVars.resultsSummary.record_count_in_stage[ssId]"></div>
        </div>
        <div class="grid">
          <div class="grid-cell">Ratio Of Total Leads</div>
          <div class="grid-cell">
            <span ng-bind="searchCtrlVars.resultsSummary.ratio_in_stage[ssId]"></span>
            %
          </div>
        </div>
        <div class="grid"
          ng-if="ssId>1 && ssId!=searchCtrlVars.resultsSummary.stages_to_display[0]">
          <div class="grid-cell">Ratio Of Previous Stage</div>
          <div class="grid-cell">
            <span ng-if="searchCtrlVars.resultsSummary.ratio_in_stage[ssId-1]>0"
              ng-bind="searchCtrlVars.resultsSummary.ratio_in_stage[ssId]*100/searchCtrlVars.resultsSummary.ratio_in_stage[ssId-1]">
            </span>
            <span ng-if="!(searchCtrlVars.resultsSummary.ratio_in_stage[ssId-1]>0)">0</span>
            %
          </div>
        </div>
        <div class="grid">
          <div class="grid-cell">Total Closed While In This Stage</div>
          <div class="grid-cell" ng-bind="searchCtrlVars.resultsSummary.total_closed_in_stage[ssId]"></div>
        </div>
        <div class="grid"
          ng-if="ssId<SALES_STAGE_ID_FOR_SUBMITTED">
          <div class="grid-cell">Average Time In Stage</div>
          <div class="grid-cell" ng-bind="searchCtrlVars.resultsSummary.avg_time_in_stage[ssId]"></div>
        </div>
    </div>
  </div>
</div>
