<div class="modal modal-full-page fade"
  id="results-list-modal"
  tabindex="-1" role="dialog" aria-labelledby="results-list-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
        <h4 class="modal-title">Results</h4>
      </div>
      <div class="modal-body">
        <table id="results-list" class="table table-bordered table-hover table-link">
          <thead>
            <tr>
              <th ng-repeat="h in searchCtrlVars.headings"
                ng-init="modelName=h[0]; fieldName=h[1]">
                {{modelName}} - {{fieldName | regex : '_' : ' '}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="record in searchCtrlVars.records">
              <td ng-repeat="field in record track by $index"
                ng-bind="field"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>