<form name="formHolder.staffAssignmentForm" role="form">
  <div class="form-group"
    ng-repeat="roleName in [
      'Administrative Assistant',
      'Application Specialist',
      'Case Manager',
      'Manager',
      'Policy Specialist',
      'Underwriter',
      'Insurance Coordinator',
    ]"
    ng-init="roleField=(roleName.toLowerCase() | regex : '\\s' : '_')+'_id';
    roleNameField=(roleField | regex : '_id' : '_name')">
    <label>{{roleName}}</label>
    <ui-select theme="bootstrap" style="min-width: 20em;"
      ng-model="sA[roleField]"
      on-select="sA[roleNameField]=$item.full_name"
      append-to-body="true">
      <ui-select-match>
        <strong class="clear pull-right"
          style="position:relative; z-index:2"
          ng-click="$event.stopPropagation(); sA[roleField]=undefined; sA[roleNameField]=undefined; formHolder.staffAssignmentForm.$pristine=false;">x</strong>
        {{$select.selected.full_name || sA[roleNameField]}}
      </ui-select-match>
      <ui-select-choices repeat="agent.id as agent in usersForSearch | whereKeyContainsValue: 'full_name' : $select.search"
        refresh="searchUsers($select.search)"
        refresh-delay="0">
        <div ng-bind-html="agent.full_name | highlight: $select.search"></div>
        <small ng-if="agent.company">{{agent.company}}</small>
      </ui-select-choices>
    </ui-select>
  </div>
</form>