
\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{185px}
  \hspace{56px}
  <%= textfield nil, name:"section_13_wl_signature_city", borderwidth:"0", width:"12em", maxlen:21 %>

  \vspace{-12px}
  \hspace{210px}
  <%= textfield nil, name:"section_13_wl_signature_state", borderwidth:"0", width:"2em" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield nil, name:"section_13_wl_signature_day", borderwidth:"0", width:"3em" %>

  \vspace{-12px}
  \hspace{350px}
  <%= textfield nil, name:"section_13_wl_signature_month", borderwidth:"0", width:"8em", maxlen:14 %>

  \vspace{-12px}
  \hspace{482px}
  <%= textfield nil, name:"section_13_wl_signature_year", borderwidth:"0", width:"4em" %>

  \vspace{37px}
  \hspace{21px}
  <%= textfield nil, name:"section_13_wl_pi_signature", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{301px}
  <%= textfield @cons.full_name, name:"section_13_wl_pi_name", borderwidth:"0", width:"25em", maxlen:45 %>

  \vspace{37px}
  \hspace{21px}
  <%= textfield nil, name:"section_13_wl_owner_signature", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{301px}
  <%= textfield nil, name:"section_13_wl_owner_name", borderwidth:"0", width:"25em" %>

  \vspace{39px}
  \hspace{79px}
  <%= signature height:"2em" %>

  \vspace{-12px}
  \hspace{301px}
  <%= textfield @aor.full_name, name:"section_13_wl_agent_name", borderwidth:"0", width:"25em", maxlen:45 %>
\end{Form}
