\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{154px}
  \hspace{88px}
  <%= textfield carrier_name(replacing[0]), name:"text_1", borderwidth:"0", width:"19.3em" %>

  \vspace{12px}
  \hspace{88px}
  <%= textfield carrier_name(replacing[1]), name:"text_2", borderwidth:"0", width:"19.3em" %>

  \vspace{12px}
  \hspace{88px}
  <%= textfield carrier_name(replacing[2]), name:"text_3", borderwidth:"0", width:"19.3em" %>

  \vspace{108px}
  \hspace{173px}
  <%= textfield @cons.full_name, name:"insured_name", borderwidth:"0", width:"31em" %>

  \vspace{12px}
  \hspace{173px}
  <%= textfield @cons.primary_address&.street, name:"insured_address", borderwidth:"0", width:"31em", maxlen:55 %>

  \vspace{12px}
  \hspace{173px}
  <%= textfield city_state_zip(@cons), name:"insured_city_sate_zip", borderwidth:"0", width:"31em" %>

  \vspace{12px}
  \hspace{173px}
  <%= textfield replacing[1-1]&.policy_number, name:"contract_number_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{338px}
  <%= textfield replacing[2-1]&.policy_number, name:"contract_number_2", borderwidth:"0", width:"14.3em" %>

  \vspace{12px}
  \hspace{173px}
  <%= textfield replacing[3-1]&.policy_number, name:"contract_number_3", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{338px}
  <%= textfield replacing[4-1]&.policy_number, name:"contract_number_4", borderwidth:"0", width:"14.3em" %>

  \vspace{13px}
  \hspace{173px}
  <%= textfield replacing[5-1]&.policy_number, name:"contract_number_5", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{338px}
  <%= textfield replacing[6-1]&.policy_number, name:"contract_number_6", borderwidth:"0", width:"14.3em" %>

  \vspace{12px}
  \hspace{173px}
  <%= textfield replacing[7-1]&.policy_number, name:"contract_number_7", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{338px}
  <%= textfield replacing[8-1]&.policy_number, name:"contract_number_8", borderwidth:"0", width:"14.3em" %>

  \vspace{40px}
  \hspace{290px}
  <%= signature height:"2em" %>

  \vspace{33px}
  \hspace{363px}
  <%= textfield nil, name:"tagent_signature_2", borderwidth:"0", width:"11.8em" %>
\end{Form}
