
<div class="agent-of-record" id="update-agent-of-record">

  <div>
    <label>Agent of Record:</label>
    <ui-select theme="bootstrap"
      ng-model="person.$agentOfRecord"
      on-select="updateAOR($item.id)"
      style="display: inline-block; max-width: 50%;">
      <ui-select-match data-placeholder="Agent Name">
        <div>{{ ($select.selected||person.$agentOfRecord).full_name }} {{ ($select.selected||person.$agentOfRecord).id.toString(36).toUpperCase() }}</div>
        <small ng-if="$select.selected.company">{{$select.selected.company}}</small>
      </ui-select-match>
      <ui-select-choices class="text-left"
        repeat="user in $root.usersForSearch"
        refresh="searchUsers($select.search)"
        refresh-delay="0">
        <div>{{user.full_name}} ({{user.id.toString(36).toUpperCase()}})</div>
        <small ng-if="user.company">{{user.company}}</small>
      </ui-select-choices>
    </ui-select>
  </div>

  <div ng-if="!person.agent_of_record_id" style="margin-top: 16px;">
    <label uib-tooltip="This feature is temporarily disabled as we change some of our logic relating to file storage. If you find this feature important to your work and would like it restored sooner, please tell Insureio support.">
      Wet Signature Image
      <i class="fa fa-question-circle"></i>:
    </label>
    <img ng-if="person.signature_url" ng-src="{{person.signature_url}}" alt="wet signature image">
    <span ng-if="!person.signature_url">-</span>
    <div class="form-group">
      <label uib-tooltip="If you have a signature image already on file with Marketech, enter the corresponding code for that signature here, and we will provide it with your case submissiions to Marketech. To learn more, contact Insureio support.">
        Marketech Signature Code:
        <i class="fa fa-question-circle"></i>
      </label>
      <a editable-text="person.marketech_signature"
        e-placeholder="Marketech Signature Code"
        onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','marketech_signature',$data)">
        {{person.marketech_signature || '(Unspecified)'}}
      </a>
    </div>
  </div>


</div>
