<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Change Lineage</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body" style="overflow: visible !important;">
    <strong>Change Lineage For User:</strong>
    <span style="font-weight: normal;">{{user.name}}</span>
    <span class="label label-default"
      title="{{'Full Numeric Id: '+user.id}}"
      ng-bind="user.id.toString(36).toUpperCase()">
    </span>
    <br>
    <strong>Current parent is:</strong>
    <span ng-if="user.$parentUser"
      ng-bind="user.$parentUser.name"
      style="font-weight: normal;">
    </span>
    <span ng-if="user.$parentUser"
      class="label"
      title="{{'Full Numeric Id: '+user.$parentUser.id}}"
      ng-bind="user.$parentUser.id.toString(36).toUpperCase()"
      style="font-weight: normal;">
    </span>
    <span ng-bind="user.$breadcrumb.slice(0,-2)">
    </span>
    <span ng-if="!user.$parentUser && !user.$breadcrumb"
      style="font-weight: normal;">
      (None)
    </span>
    <br>
    <br>
    <ui-select theme="bootstrap"
      ng-model="user.$proposedParentUser">
      <ui-select-match data-placeholder="New Parent">
        <div>{{$select.selected.full_name}} ({{$select.selected.id.toString(36).toUpperCase()}})</div>
        <small ng-if="$select.selected.company">{{$select.selected.company}}</small>
      </ui-select-match>
      <ui-select-choices class="text-left"
        repeat="user in $root.usersForSearch"
        refresh="$root.searchUsers($select.search)"
        refresh-delay="0">
        <div>{{user.full_name}} ({{user.id.toString(36).toUpperCase()}})</div>
        <small ng-if="user.company">{{user.company}}</small>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="modal-footer">
    <a type="button" class="btn pull-left" ng-click="$close()">Cancel</a>
    <a type="button" class="btn btn-primary"
      ng-class="user.$proposedParentUser ? '' : 'disabled' "
      ng-click="saveLineageChange()">
      Save changes
    </a>
  </div>
</div>