<td style="padding-left:{{30+((user.$indent||0)*20)}}px; overflow-x: hidden;"
  ng-mouseover="highlightAscendantRows(user)"
  ng-mouseleave="unhighlightAscendantRows(user)">

  <a ng-click="isExpandable(user) && toggleUser(user)"
    ng-show="!user.$isPlaceHolder"
    style="display: block; {{isExpandable(user) ? '' : 'cursor:default;'}}"
    ng-disabled="!isExpandable(user)">
    <i ng-if="isExpandable(user)"
      ng-class="user.$expanded ? 'fa fa-minus-square' : 'fa fa-plus-square-o'"></i>
    <span ng-if="!isExpandable(user)" style="width: 20px; display: inline-block;"></span>
    <span ng-class="user.active ? '' : 'lighter'"
      style="color:gray;"
      ng-bind="user.$breadcrumb">
    </span>
    <span ng-class="user.active ? '' : 'lighter'"
      style="color:black;"
      ng-bind="user.name">
    </span>
  </a>
  <div ng-show="user.$isPlaceHolder">
    <i class="fa fa-spinner fa-spin"></i>
    Loading users...
  </div>
</td>
<td>
  {{user.membership_id | enumValue : 'MEMBERSHIPS'}}
</td>
<td class="text-center">
  <span class="label label-default" 
    uib-tooltip="Full Numeric Id: {{user.id}}"
    tooltip-placement="top"
    tooltip-trigger="mouseenter"
    ng-if="user.id"
    ng-bind="'id: '+(user.id | drShortId)">
  </span>
</td>
<td class="text-center">
  <i class="fa fa-spinner fa-spin"
    ng-if="!user.immediateChildCount &&
      ( (user.$parentUser && user.$parentUser.$counts && !user.$parentUser.$counts.$resolved) ||
      (!user.$parentUser && $counts && !$counts.$resolved) )"
    uib-tooltip="Still loading child count."
    tooltip-placement="top"
    tooltip-trigger="mouseenter">
  </i>
  <span class="label label-default"
    ng-if="user.immediateChild_count ||
      (user.$parentUser && user.$parentUser.$counts && user.$parentUser.$counts.$resolved) ||
      (!user.$parentUser && $counts && $counts.$resolved)"
    uib-tooltip="Children: {{user.immediateChildCount}}"
    tooltip-placement="top"
    tooltip-trigger="mouseenter"
    ng-bind="user.immediateChildCount||0">
  </span>
</td>
<td class="text-center">
  <i class="fa fa-spinner fa-spin"
    ng-if="!user.descendantCount &&
      ( (user.$parentUser && user.$parentUser.$counts && !user.$parentUser.$counts.$resolved) ||
      (!user.parentUser && $counts && !$counts.$resolved) )"
    uib-tooltip="Still loading descendant count."
    tooltip-placement="top"
    tooltip-trigger="mouseenter">
  </i>
  <span class="label label-default"
    ng-if="user.descendantCount ||
      (user.$parentUser && user.$parentUser.$counts && user.$parentUser.$counts.$resolved) ||
      (!user.$parentUser && $counts && $counts.$resolved)"
    uib-tooltip="All Descendants: {{user.descendantCount}}"
    tooltip-placement="top"
    tooltip-trigger="mouseenter"
    ng-bind="user.descendantCount||0">
  </span>
</td>
<td class="text-center">
  <i ng-if="user.$recentlyOnline"
    class="fa fa-circle"
    style="color:green;"
    uib-tooltip="This user is currently using Insureio."
    tooltip-placement="top"
    tooltip-trigger="mouseenter"></i>
  <i ng-if="!user.$recentlyOnline && user.last_request_at"
    class="fa fa-clock-o"
    uib-tooltip="This user last interacted with Insureio at {{user.last_request_at}}."
    tooltip-placement="top"
    tooltip-trigger="mouseenter"></i>
  <i ng-if="!user.$recentlyOnline && !user.last_request_at"
    class="fa fa-circle-o"
    uib-tooltip="This user appears to have never logged into Insureio."
    tooltip-placement="top"
    tooltip-trigger="mouseenter"></i>
</td>
<td class="text-right">
  <div class="btn-group"
    ng-show="!user.$isPlaceHolder">
    <a class="btn btn-default"
      uib-tooltip="Manage this User"
      tooltip-placement="top"
      tooltip-trigger="mouseenter"
      ng-href="/users/{{user.id}}"
      ng-disabled="!canManageUser(user)">
      <i class="fa fa-link"></i>
    </a>
    <a class="btn btn-default"
      uib-tooltip="Impersonate this User"
      tooltip-placement="top"
      tooltip-trigger="mouseenter"
      ng-show="currentUser.can('impersonate')"
      ng-disabled="!user.active"
      ng-click="user.active && impersonate(user.id)">
      <i class="fa fa-flask"></i>
    </a>
    <a class="btn btn-default"
      uib-tooltip="Change Lineage"
      tooltip-placement="top"
      tooltip-trigger="mouseenter"
      ng-disabled="!currentUser.can('edit_user_parent_id')"
      ng-click="currentUser.can('edit_user_parent_id') && openChangeLineageModal(user)">
      <i class="fa fa-indent"></i>
    </a>
    <a class="btn btn-default"
      uib-tooltip="New Child"
      tooltip-placement="top"
      tooltip-trigger="mouseenter"
      ng-disabled="!user.can_strict_have_children"
      ng-click="user.can_strict_have_children && openNewUserModal(user)">
      <i class="fa fa-user-plus"></i>
    </a>
  </div>
  <a class="btn btn-default"
    style="margin-left:1em;"
    uib-tooltip="Deactivate this user account."
    tooltip-placement="top"
    tooltip-trigger="mouseenter"
    ng-show="user.active"
    ng-disabled="!canManageUser(user)"
    ng-click="canManageUser(user) && deactivateUser(user)">
    <i class="fa fa-ban" style="color:red;"></i>
  </a>
  <a class="btn btn-default"
    style="margin-left:1em;"
    uib-tooltip="Restore basic functions to this deactivated account."
    tooltip-placement="top"
    tooltip-trigger="mouseenter"
    ng-show="!user.active"
    ng-disabled="!canManageUser(user)"
    ng-click="canManageUser(user) && restoreUser(user)">
    <i class="fa fa-undo" style="color:red;"></i>
  </a>
</td>