<div id="marketing-tags"
  ng-controller="MarketingTagFormCtrl">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-bullhorn"></i> Marketing</h3>
      <h2>Your Common Tags</h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="row section-content tag_list">
      <div class="col-md-6">
        <h3>Common Tags</h3>
        <p>
          Any time you add a tag to a contact (consumer or recruit), you can select one of your commonly used tags.
          Using common tags makes tagging faster and more consistent.
        </p>
        <div id="existing_tags">
          <a class="tm-tag label label-default label-tag"
            ng-repeat="tag in currentUser.common_tags">
            {{tag}}
            <i ng-class="tagRemoveInProgress ? 'fa fa-spinner fa-spin' : 'fa fa-times-circle'"
              ng-attr-title="{{tagRemoveInProgress ? 'Currently removing a tag. Please wait.' : 'Remove tag.'}}"
              ng-click="removeTag(tag,$index)"></i>
          </a>
        </div>
        <form ng-submit="parseAndSaveNewTag(true)">
          <input ng-model="person.$newTag"
            ng-change="parseAndSaveNewTag()"
            ng-disabled="tagSaveInProgress"
            ng-attr-title="{{tagSaveInProgress ? 'Still saving the last tag you entered. Please wait.' : ''}}"
            class="form-control"
            type="text"
            placeholder="Enter tags like: tag1, tag2, tag3...">
          <i class="fa fa-spinner fa-spin"
            ng-if="tagSaveInProgress"
            title="Currently saving the last tag you entered."></i>
        </form>
      </div>

      <div class="col-md-6">
        <h3>Custom Short Codes</h3>
        <p>
          Add additional data to your marketing templates with these custom fields.
          Insert a field's shortcode into a template, and it will include the corresponding URL or other custom data you enter here.
          Use these fields to insert the URL for your client survey, web conferencing software, or appointment calendar, for example.
        </p>
        <label class="ng-non-bindable"
          for="custom_field_one">
          {{agent.custom_field_one}}
        </label>
        <input class="form-control"
          type="text"
          name="custom_field_one"
          ng-model="person.custom_field_one"
          placeholder="https://mywebsite.com/survey"
          ng-blur="updateRecordSingleField('/users/'+currentUser.id+'.json','your account','custom_field_one',person.custom_field_one)">
        <label class="ng-non-bindable"
          for="custom_field_two">
          {{agent.custom_field_two}}
        </label>
        <input class="form-control"
          type="text"
          name="custom_field_two"
          ng-model="person.custom_field_two"
          placeholder="Link to web conference"
          ng-blur="updateRecordSingleField('/users/'+currentUser.id+'.json','your account','custom_field_two',person.custom_field_two)">
        <label class="ng-non-bindable"
          for="custom_field_three">
          {{agent.custom_field_three}}
        </label>
        <input class="form-control"
          type="text"
          name="custom_field_three"
          ng-model="person.custom_field_three"
          placeholder="alternateaddress@mywebsite.com"
          ng-blur="updateRecordSingleField('/users/'+currentUser.id+'.json','your account','custom_field_three',person.custom_field_three)">
      </div>

    </div>
  </div>
</div>
