<div id="client-view"
  ng-controller="User.PersonalCtrl">

  <div class="section-container">
    <div class="section-content grid grid-cell ">

      <div class="section-nav grid-cell"
        ng-if="userScopeVars.agentId!=currentUser.id && person && person.$resolved && person.$personType && userScopeVars.recruit && userScopeVars.recruit.$resolved">
        <dr-notes class="notes"
          notable-type="'User'"
          notable-id="userScopeVars.recruit.id">
        </dr-notes>

        <div id="consumer-tasks" class="grid-cell" 
         ng-include = "'/consumers/tasks.html'"
         ng-controller="Consumer.TasksCtrl" >
        </div>
      </div>

      <div class="summary-personal-container"
        ng-class="userScopeVars.managerOrAgentView == 'agent' ? 'full-width' : ''">
        <div class="view-as-manager"
          ng-if="userScopeVars.managerOrAgentView == 'manager'"
          ng-include="'/users/personal_summary.html'">
        </div>

        <div class="view-as-agent"
          ng-if="userScopeVars.managerOrAgentView == 'agent'"
          ng-include="'/users/personal_summary.html'">
        </div>

        <div class="open-section-container">
          <div class="navigation">
            <ul class="nav-horizontal">
              <li ng-repeat="s in userGuiSections"
                ng-if="userScopeVars"
                ng-show="s.shouldBeShown()"
                id="{{s.name.toLowerCase()+'-tab'}}"
                ng-class="userScopeVars.selectedTab==s.name ? 'active' : ''">
                <a ng-click="openSection(s)"
                  ng-bind="s.displayText"></a>
              </li>
            </ul>
          </div>
          <div class="open-section" ng-include="userScopeVars.selectedTabUrl"></div>
        </div>
      </div>

    </div>
  </div>

  <!-- Photo Modal -->
  <div id="photoUpload" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Upload Photo</h4>
        </div>
        <dr-last-bulletin></dr-last-bulletin>
        <dr-image-editor data-save-fn="saveUserPhoto"></dr-image-editor>
      </div>
    </div>
  </div>
  <!-- End Photo Modal -->

</div>