<div ng-controller="UserHierarchyMgmtCtrl" id="user-hierarchy">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-users"></i> Agency Management</h3>
      <h2>User Hierarchy</h2>
    </div>
    <div class="right">
      <div class="actions">
        <div ng-if="currentUser.can('super_view') || currentUser.can('super_edit')">
          <ui-select theme="bootstrap"
            ng-model="scopeVars.userForSearch"
            on-select="fetchLineageBreadCrumb($item)"
            style="display:inline-block;width:260px;vertical-align:middle;">
            <ui-select-match data-placeholder="Search Users">
              <div>{{$select.selected.full_name}} ({{$select.selected.id.toString(36).toUpperCase()}})</div>
              <small ng-if="$select.selected.company">{{$select.selected.company}}</small>
            </ui-select-match>
            <ui-select-choices class="text-left"
              repeat="user in usersForSearch"
              refresh="searchUsers($select.search)"
              refresh-delay="0">
              <div>{{user.full_name}} ({{user.id.toString(36).toUpperCase()}})</div>
              <small ng-if="user.company">{{user.company}}</small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">
      <div class="table-responsive">
        <table class="table table-hover table-link">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Payment Plan</th>
              <th class="text-center">ID</th>
              <th class="text-center">Children</th>
              <th class="text-center">Descendants</th>
              <th class="text-center">Last Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="scopeVars.userForSearch"
                ng-repeat="user in [scopeVars.userForSearch]"
                ng-include="'/users/children.html'"
                id="user-{{user.id}}"
                ng-class="user.$highlighted ? 'highlighted' : ''">
            </tr>
            <tr ng-if="scopeVars.userForSearch">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr ng-repeat="user in users"
                ng-include="'/users/children.html'"
                id="user-{{user.id}}"
                ng-class="user.$highlighted ? 'highlighted' : ''">
            </tr>
            <tr ng-if="!users.length">
              <td colspan="7"><i class="fa fa-spinner fa-spin"></i>Loading users...</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <dr-pagination-links data-options="scopeVars.searchCriteria" ng-if="contactsRequest.$resolved && scopeVars.searchCriteria.pageCt>1"></dr-pagination-links>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>