<div id="l-and-c" ng-controller="LAndCCtrl">
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Licensing & Contracting
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- <a class="btn btn-default" target="_blank"
          href="https://academy.insureio.com/licensing-and-contracting/">
          Tutorial
        </a> -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" uib-tooltip="Anti Money Laundering Training">
              AML
              <i class="fa fa-question-circle"></i>
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Vendor Name</label>
                <a editable-text="person.aml_vendor_name"
                  e-placeholder="AML Vendor Name"
                  onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','aml_vendor_name',$data)">
                  {{person.aml_vendor_name || '(Unspecified)'}}
                </a>
              </div>
              <div class="form-group">
                <label>Completion</label>
                <a ng-click="lCStateVars.amlCompFormVisible=true; lCStateVars.tmpAmlComp=person.aml_completed_at"
                  ng-if="!lCStateVars.amlCompFormVisible">
                  {{(person.aml_completed_at | formatOptionalDateAsUS) || '(Unspecified)'}}
                </a>
                <div ng-if="lCStateVars.amlCompFormVisible">
                  <dr-datetime-picker model="lCStateVars.tmpAmlComp" date-only="true"></dr-datetime-picker>
                  <button ng-click="updateRecordSingleField('/users/'+person.id+'.json','','aml_completed_at', lCStateVars.tmpAmlComp );
                    person.aml_completed_at=lCStateVars.tmpAmlComp; lCStateVars.amlCompFormVisible=false"
                    class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <button ng-click="lCStateVars.amlCompFormVisible=false" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Compensation Level</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Compensation Level</label>
                <a editable-select="person.commission_level_id"
                  e-ng-options="obj.id as obj.name for obj in COMMISSION_LEVELS"
                  class="comp_level"
                  onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','commission_level_id',$data)">
                  {{(person.commission_level_id  | enumValue : 'COMMISSION_LEVELS') || '-'}}
                </a>
              </div>
              <div class="form-group">
                <label>Date Assigned</label>
                <a ng-click="lCStateVars.commLFormVisible=true; lCStateVars.tmpCommL=person.commission_level_updated_at"
                  ng-if="!lCStateVars.commLFormVisible">
                  {{(person.commission_level_updated_at | formatOptionalDateAsUS) || '(Unspecified)'}}
                </a>
                <div ng-if="lCStateVars.commLFormVisible">
                  <dr-datetime-picker model="lCStateVars.tmpCommL" date-only="true"></dr-datetime-picker>
                  <button ng-click="updateRecordSingleField('/users/'+person.id+'.json','','commission_level_updated_at', lCStateVars.tmpCommL );
                    person.commission_level_updated_at=lCStateVars.tmpCommL; lCStateVars.commLFormVisible=false"
                    class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <button ng-click="lCStateVars.commLFormVisible=false" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title">Licenses</h3>
              <a class="btn btn-default pull-right"
                ng-click="openLicenseForm()"
                ng-if="person.id!=currentUser.id || can('my_account_edit_licenses')">
                New License
              </a>
            </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>License #</th>
                  <th>State</th>
                  <th>Effective</th>
                  <th>Expires</th>
                  <th title="Corporate">C</th>
                  <th title="Life">L</th>
                  <th title="Health">H</th>
                  <th title="Variable">V</th>
                  <th title="Property and Casualty">P &amp; C</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="l in licenses"
                  ng-class="(!l.effective_date || !l.expiration) ? 'alert alert-danger' : '' ">
                  <td data-label="License #">
                    {{l.number}}
                  </td>
                  <td data-label="State">
                    {{ (l.state_id | enumValue : 'STATES') || '-'}}
                  </td>
                  <td data-label="Effective">
                    {{ l.effective_date}}
                    <i ng-if="!l.effective_date"
                      class="fa fa-warning"
                      style="color: darkred;"
                      title="A license must have an effective date."></i>
                  </td>
                  <td data-label="Expires">
                    {{l.expiration}}
                    <i ng-if="!l.expiration"
                      class="fa fa-warning"
                      style="color: darkred;"
                      title="A license must have an expiration date."></i>
                  </td>
                  <td data-label="Corporate" title="Corporate">
                    <input type="checkbox" disabled="true" ng-model="l.corporate">
                  </td>
                  <td data-label="Life" title="Life">
                    <input type="checkbox" disabled="true" ng-model="l.life">
                  </td>
                  <td data-label="Health" title="Health">
                    <input type="checkbox" disabled="true" ng-model="l.health">
                  </td>
                  <td data-label="Vehicle" title="Variable">
                    <input type="checkbox" disabled="true" ng-model="l.variable">
                  </td>
                  <td data-label="P &amp; C" title="Property and Casualty">
                    <input type="checkbox" disabled="true" ng-model="l.p_and_c">
                  </td>
                  <td data-label="Status">
                    {{ (l.status_id | enumValue : 'LICENSE_STATUSES' : 'name') || "(no status set)" }}

                    <i class="fa fa-building-o"
                      ng-if="l.corporate"
                      title="Corporate"></i>
                    <i class="fa fa-user-md"
                      ng-if="!l.corporate"
                      title="Non-Corporate"></i>
                    <i class="fa fa-envelope-o"
                      ng-if="l.expiration_warning_sent"
                      title="Expiration Warning Sent"></i>
                  </td>
                  <td>
                    <div class="dropdown btn-group pull-right" uib-dropdown
                      ng-if="person.id!=currentUser.id || can('my_account_edit_licenses')">
                      <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li>
                          <a ng-click="openLicenseForm(l)">
                            Edit
                          </a>
                        </li>
                        <li>
                          <a ng-click="destroyRecord($index,licenses,'/usage/licenses/'+l.id+'.json','license')">
                            Remove
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6"
          ng-if="person.id!=currentUser.id || can('my_account_view_contracts') || can('my_account_edit_contracts')">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title">Contracts</h3>
              <a class="btn btn-default pull-right"
                ng-click="openContractForm()"
                ng-if="person.id!=currentUser.id || can('my_account_edit_contracts')">
                New Contract
              </a>
            </div>
            <table id="current-user-dashboard"
              class="table table-condensed">
              <thead>
                <tr>
                  <th>Carrier</th>
                  <th>States</th>
                  <th>Appt. #</th>
                  <th>Effective</th>
                  <th>Expires</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="c in contracts"
                  ng-class="(!c.effective_date || !c.expiration) ? 'alert alert-danger' : '' ">
                  <td data-label="Carrier"
                    title="{{c.carrier_id | enumValue : 'CARRIERS'}}">
                    {{(c.carrier_id | enumValue : 'CARRIERS' : 'short_name') || '-'}}
                  </td>
                  <td data-label="States">
                    <span ng-if="c.state_ids.length && c.state_ids.length!=allStates.length"
                      ng-repeat="s in c.state_ids"
                      title="{{s | enumValue : 'STATES' : 'name'}}">
                      {{s | enumValue : 'STATES' : 'abbrev'}}
                    </span>
                    <span ng-if="c.state_ids.length && c.state_ids.length==allStates.length">
                    (All States)
                    </span>
                    <span ng-if="!c.state_ids.length">-</span>
                  </td>
                  <td data-label="Appt. Id">
                    {{c.carrier_contract_id}}
                  </td>
                  <td data-label="Effective">
                    {{c.effective_date}}
                    <i ng-if="!c.effective_date"
                      class="fa fa-warning"
                      style="color: darkred;"
                      title="A contract must have an effective date."></i>
                  </td>
                  <td data-label="Expires">
                    {{c.expiration}}
                    <i ng-if="!c.expiration"
                      class="fa fa-warning"
                      style="color: darkred;"
                      title="A contract must have an expiration date."></i>
                  </td>
                  <td data-label="Status">
                    {{ (c.status_id | enumValue : 'CONTRACT_STATUSES' : 'name') || "(no status set)" }}

                    <i class="fa fa-building-o"
                      ng-if="c.corporate"
                      title="Corporate"></i>
                    <i class="fa fa-user-md"
                      ng-if="!c.corporate"
                      title="Non-Corporate"></i>
                  </td>
                  <td>
                    <div class="dropdown btn-group pull-right" uib-dropdown
                      ng-if="person.id!=currentUser.id || can('my_account_edit_contracts')">
                      <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li>
                          <a ng-click="openContractForm(c)">
                            Edit
                          </a>
                        </li>
                        <li>
                          <a ng-click="destroyRecord($index,contracts,'/usage/contracts.json','contract')">
                            Remove
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="modal fade" id="videoModal" tabindex="-1" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-body">
      <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
      <div>
          Visit the <a href="/help/faq">help page</a> or watch this tutorial video.
          <iframe width="100%" height="350" src=""></iframe>
      </div>
    </div>
  </div>
</div>