<div id="membership-levels">

  <div class="section-header">
    <div class="left">
      <h3>
        <i class="fa fa-sitemap"></i>
        Agency Management
      </h3>
      <h2>Membership Levels</h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content"
      ng-controller="MembershipLevelsCtrl">
      
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="show-memberships-for-user">
              View levels for:
            </label>
            <ui-select theme="bootstrap"
              ng-model="$root.tmpUserForSearch"
              on-select="getCounts($item.id)">
              <ui-select-match data-placeholder="Search Users">
                <div>
                  {{$select.selected.full_name}}
                  ({{$select.selected.id.toString(36).toUpperCase()}})
                </div>
                <small ng-if="$select.selected.company">{{$select.selected.company}}</small>
              </ui-select-match>
              <ui-select-choices class="text-left"
                repeat="user in usersForSearch"
                refresh="searchUsers($select.search)"
                refresh-delay="0">
                <div>
                  {{user.full_name}}
                  ({{user.id.toString(36).toUpperCase()}})
                </div>
                <small ng-if="user.company">{{user.company}}</small>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-md-4">
          <label class="checkbox-inline"
            style="margin-top: 30px;">
            <input type="checkbox" id="totals-only" name="totals-only">
            <strong>Show totals only?</strong> 
          </label>
        </div>
      </div>
      

      <div class="table-responsive">
        <table id="memberships-table"
          class="table table-hover table-link">
          <thead>
            <tr>
              <th><!-- Spacer cell. --></th>
              <th ng-repeat="level in orderedMembershipLevels"
                ng-bind="level.name">
              </th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            <tr id="user-count-row">
              <td>User Count</td>
              <td ng-repeat="level in orderedMembershipLevels">
                <span ng-if="!counts">-</span>
                <i ng-if="counts && !counts.$resolved" class="fa fa-spinner fa-spin"></i>
                <span ng-if="counts && counts.$resolved" ng-bind="counts[level.id] || 0"></span>
              </td>
              <td ng-bind="( (!counts || !counts.$resolved) && '-') || counts[total] || 0"></td>
            </tr>

            <tr id="revenue-row">
              <td>Revenue per User</td>
              <td ng-repeat="level in orderedMembershipLevels"
                ng-bind="level.pricing>0 ? '$'+level.pricing : '-'">
              </td>
              <td>-</td>
            </tr>

            <tr id="calc-revenue-row">
              <td>Calculated Revenue</td>
              <td ng-repeat="level in orderedMembershipLevels"
                ng-bind="level.pricing>0 && counts[level.id]>0 ? '$'+level.pricing*counts[level.id] : '-'">
              </td>
              <td>
                <span ng-if="!counts || !counts.$resolved">-</span>
                <span ng-if="counts && counts.$resolved" ng-bind="totalRevenue"></span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <div ng-if="counts && counts.$resolved && counts.should_be_paying">
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-triangle"></i>
          The following {{counts.should_be_paying.length}} users seem to have a paying membership level, but no stripe subscription.
        </div>
        <div ng-repeat="user in counts.should_be_paying">
          <a ng-href="/users/{{user.id}}">
            <span class="label label-default"
              ng-bind="user.id.toString(36).toUpperCase()"
              title="Full Numeric Id: {{user.id}}"></span>
            <span ng-bind="user.name"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // add callback so when totals-only is changed, columns 1-7 fade in/out
  $('#totals-only').change(function(){
    var $nonTotalNonHeadingCells=$('#memberships-table tr td:not(:first-child):not(:last-child)');
    if($(this).prop('checked')){
      $nonTotalNonHeadingCells.animate({opacity:0,width:0},500,function(){$(this).hide();});
      $('#revenue-row').animate({opacity:0,height:0},500,function(){$(this).hide();});
    }else{
      $nonTotalNonHeadingCells.show().animate({opacity:1,width:'10em'},500);
      $('#revenue-row').show().animate({opacity:1,height:'1em'},500);
    }
  });
</script>