<style>
.link-account > .grid {
    border-bottom: 1px solid whitesmoke;
    padding: .6em 0;
}
</style>
<div class="panel-heading">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  Link Account
</div>

<div class="modal-body link-account">

  <div class="grid" ng-if="(userScopeVars.managerOrAgentView=='manager' && !person.user_account_id) || userScopeVars.managerOrAgentView=='agent'">
    <div class="grid-cell">ID:</div>
    <div class="grid-cell" title="Full Numeric Id: {{person.id}}">{{person.id | drShortId}}</div>
  </div>

  <!-- Linked recruit records just show the user account's ID. -->
  <div class="grid" ng-if="userScopeVars.managerOrAgentView=='manager' && person.user_account_id">
    <div class="grid-cell">ID:</div>
    <div class="grid-cell" title="Full Numeric Id: {{person.user_account_id}}">{{person.user_account_id | drShortId}}</div>
  </div>

  <div class="grid">
    <div class="grid-cell">
      <span uib-tooltip="Relationship Manager is also referred to as the parent user. Change user hierarchy from the Agent Management User Hierarchy page."
        tooltip-placement="top" tooltip-trigger="mouseenter">
        Relationship Manager:
        <i class="fa fa-question-circle"></i>
      </span>
    </div>
    <div class="grid-cell">{{person.parent_name || '-'}}</div>
  </div>

  <div class="grid" ng-if="userScopeVars.managerOrAgentView=='manager' && !person.user_account_id">
    <div class="grid-cell">
      <span uib-tooltip="If a login is provided here, it will be reserved for now, and when a user account is created for this recruit, that user account will inherit this login."
        tooltip-placement="top" tooltip-trigger="mouseenter">
        Reserved Login: <i class="fa fa-question-circle"></i>
      </span>
    </div>
    <div class="grid-cell">{{person.login || '(Unspecified)'}}</div>
  </div>

  <div class="grid grid--center" ng-if="userScopeVars.managerOrAgentView=='manager' && !person.user_account_id">
    <div class="grid-cell">
      Link Account: 
    </div>
    <div class="grid-cell">
      <input type="text" class="manual-link-user-id" ng-model="link.manualUserId" placeholder="ID" style="display:inline;width:3em;margin-bottom:0;" />
      <a href="javascript:void();" class="btn"
      ng-click="linkAccount(person)" style="vertical-align:top;">
        <i class="fa fa-link"></i> Link
      </a>
    </div>
  </div>


<div ng-if="userScopeVars.managerOrAgentView=='agent'">
  <div class="grid">
    <div class="grid-cell">Subscription Level:</div>
    <div class="grid-cell">
      {{(person.membership_id | enumValue : 'MEMBERSHIPS') || '-'}}
      {{person.lapsed ? '(Lapsed)' : ''}}
    </div>
  </div>
  <div class="grid">
    <div class="grid-cell">Account Create Date:</div>
    <div class="grid-cell">{{person.created_at | formatOptionalDateAsUS}}</div>
  </div>
  <div class="grid">
    <div class="grid-cell">Last Log On:</div>
    <div class="grid-cell">{{(person.last_login_at | formatOptionalDateAsUS) || '(Never)'}}</div>
  </div>
  <div class="grid">
    <div class="grid-cell">Comp Level:</div>
    <div class="grid-cell">{{(person.commission_level_id | enumValue : 'COMMISSION_LEVELS') || '-'}}</div>
  </div>
  <div class="grid">
    <div class="grid-cell">Login:</div>
    <div class="grid-cell">{{person.login}}</div>
  </div>
  <div class="grid">
    <div class="grid-cell">Subdomain:</div>
    <div class="grid-cell">
      <a ng-if="currentUser.can('super_edit')"
      editable-select="person.tenant_id"
      e-placeholder="Subdomain"
      e-ng-options="t.id as t.name for t in TENANTS"
      onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','tenant_id',$data)">
      {{(person.tenant_id | enumValue : 'TENANTS') || '(Unspecified)'}}
    </a>
    <span ng-if="!currentUser.can('super_edit')">{{person.tenant_name || '(Unspecified)'}}</span>
  </div>
</div>
<div ng-if="person.id==currentUser.id">
  <span id="error-validation" style="color:red"></span>

  <form class="ng-pristine ng-valid"  ng-submit="updatePassword(person,AccountForm.$valid)" ng-controller="User.PersonalCtrl" name="AccountForm">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
      <input name="_method" type="hidden" value="put">
      
    </div>
    <div class="grid">
      <div class="grid-cell">Password:</div>
      <div class="grid-cell"><input id="user_password" name="user[password]" size="30" type="password" ng-model="password" required></div>
    </div>
    <div class="grid">
      <div class="grid-cell">Password Confirmation:</div>
      <div class="grid-cell"><input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" ng-model="password_confirmation" required></div>
    </div>
    <div class="grid">
      <div class="grid-cell"></div>
      <div class="grid-cell"><input class="btn btn-primary top-ten" name="commit" type="submit" value="Update Password"></div>
    </div>
  </form>
</div>
<div ng-if="person.id==currentUser.id">
  <span id="error-validation" style="color:red"></span>

  <form class="ng-pristine ng-valid"  
   ng-submit="updatePassword(person,AccountForm.$valid)" 
   ng-controller="User.PersonalCtrl" name="AccountForm">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
      <input name="_method" type="hidden" value="put">
      
    </div>
    <div class="grid">
      <div class="grid-cell">Password:</div>
      <div class="grid-cell">
       <input id="user_password" name="user[password]" size="30" type="password" ng-model="password" required>
      </div>
    </div>
    <div class="grid">
      <div class="grid-cell">Password Confirmation:</div>
      <div class="grid-cell">
        <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" ng-model="password_confirmation" required>
      </div>
    </div>
    <div class="grid">
      <div class="grid-cell"></div>
      <div class="grid-cell"><input class="btn btn-primary top-ten" name="commit" type="submit" value="Update Password"></div>
    </div>
  </form>
</div>
</div>
</div>
</div>

