<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">Account Information</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body">
    <div class="info-item">
      <label>Comp Level</label>
      <div>
        <span class="item">
          <a editable-select="person.commission_level_id"
            e-ng-options="t.id as t.name for t in COMMISSION_LEVELS" 
            onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','commission_level_id',$data)">
            {{(person.commission_level_id | enumValue : 'COMMISSION_LEVELS') || '-'}}
          </a>
        </span>
      </div>
    </div>
    <div class="info-item">
      <label>Login</label>
      <div>
        <span class="item">
          <a editable-text="person.login"
            onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','login',$data)">
            {{person.login}}
          </a>
        </span>
      </div>
    </div>
    <div class="info-item">
      <label>Subdomain</label>
      <div>
        <span class="item">
          <a ng-if="currentUser.can('super_edit')"
            editable-select="person.tenant_id"
            e-placeholder="Subdomain"
            e-ng-options="t.id as t.name for t in TENANTS"
            onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','tenant_id',$data)">
            {{(person.tenant_id | enumValue : 'TENANTS') || '(Unspecified)'}}
          </a>
        </span>
      </div>
    </div>
    <hr>
    <div class="info-item">
      <label>Password</label>
      <div>
        <span class="item">
          <input class="form-control"
            style="max-width:200px;"
            ng-model="userScopeVars.password"
            type="password" />
        </span>
      </div>
    </div>
    <div class="info-item">
      <label>Password Confirmation</label>
      <div>
        <span class="item">
          <input class="form-control"
            style="max-width:200px;"
            ng-model="userScopeVars.password_confirmation"
            type="password" />
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="$close()" data-dismiss="modal" class="btn pull-left">Cancel</a>
    <button class="btn btn-primary"
      ng-click="updatePassword()"
      ng-disabled="!userScopeVars.password || !userScopeVars.password_confirmation">
      Update Password
    </button>
  </div>
</div>