<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">New User</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <div class="modal-body">
    <small style="font-weight: normal;">
      <strong>With parent user:</strong> {{newUser.$parentUser.name || newUser.$parentUser.full_name}}
      ({{newUser.$parentUser.id.toString(36).toUpperCase()}})
    </small><br><br>
    <form name="formHolder.newUserForm" role="form">
      <input ng-model="newUser.parent_id" type="hidden" value="currentUser.id">
      <input ng-model="newUser.manager_id" type="hidden">

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Full Name <em>(Required)</em></label>
            <input class="form-control"
              ng-model="newUser.full_name"
              size="30" type="text" required>
          </div>

          <!-- When used in the Contacts Mgmt section, this condition will be true.
          But not in the User Hierarchy section, where recruits are not relevant. -->
          <div class="form-group"
            ng-if="canCreateRecruits">
            <label tooltip-placement="top" tooltip-trigger="mouseenter"
              uib-tooltip="Recruit accounts accommodate marketing, but cannot log into the system, and do not show up in hierarchy views or agent assignment menus.">
              Is This User A Recruit?
              <i class="fa fa-question-circle"></i>
            </label>
            <input type="checkbox"
              ng-model="newUser.is_recruit">
          </div>
          <div class="form-group">
            <label tooltip-placement="top" tooltip-trigger="mouseenter"
              uib-tooltip="At least one email is required for a user to be able to reset their password.">
              Email
              <i class="fa fa-question-circle"></i>
              <em>(Required)</em>
            </label>
            <div 
              style="margin-bottom:10px;">
              <input class="form-control" 
                ng-model="newUser.emails_attributes[0].value"
                size="30" type="text"
                placeholder="Primary (Required)">
            </div>
          </div>
            <div class="form-group" ng-if="!newUser.is_ecruit">
              <label 
                tooltip-placement="top" tooltip-trigger="mouseenter"
                uib-tooltip="If left blank, a randomly generated password will be used. Password can be reset by the user when they are ready to log in.">
                Password
                <i class="fa fa-question-circle"></i>
              </label>
              <input class="form-control" 
                ng-model="newUser.password"
                size="30" type="password">
            </div>
            <div class="form-group" ng-if="!newUser.is_recruit">
              <label>Password confirmation</label>
              <input class="form-control" 
                ng-model="newUser.password_confirmation" 
                size="30" type="password">
            </div>
            <div class="form-group">
              <label>Initial status</label>
              <ui-select theme="bootstrap"
                ng-model="newUser.status_type_id"
                on-select="addUserStatus($item)"
                append-to-body="true"
                style="min-width:240px;width:auto;">
                <ui-select-match data-placeholder="(No Status Set)"
                  allow-clear="false">
                  <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices class="text-left"
                  refresh="null"
                  refresh-delay="100"
                  group-by="userStatusTypeGroupName"
                  repeat="o.id as o in userStatusTypes | filter: $select.search">
                  <i ng-if="o.ownership_id"
                    ng-class="o.ownership_id | enumValue: 'OWNERSHIPS' : 'icon_class'"></i>
                   <span ng-bind-html="o.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="form-group">
              <label>Company <em>(Required)</em></label>
              <input class="form-control"
                ng-model="newUser.company"
                size="30" type="text" required>
            </div>
            <div ng-repeat="address in newUser.addresses_attributes"><!-- Mailing address only. -->
              <div class="form-group form-inline">
                <label>{{address.$typeName}} Address</label>
                <div>
                  <textarea class="form-control"
                    ng-model="address.street"
                    placeholder="Street Address"
                    cols="40" rows="1"
                    style="margin-bottom:10px;">
                  </textarea>
                  <input class="form-control" 
                    ng-model="address.city"
                    placeholder="City" size="30" type="text">
                  <select class="form-control"
                    ng-model="address.state_id"
                    ng-options="o.id as o.name for o in STATES">
                  </select>
                  <input class="form-control"
                    ng-model="address.zip"
                    placeholder="Zip" size="30" type="text"
                    style="display:inline-block;width:7em;">
                </div>
              </div>  
              <div class="form-group form-inline">
                <label>Phone</label>
                <div ng-repeat="phone in newUser.phones_attributes"
                  style="margin-bottom:10px;"><!-- work only -->
                  <select class="form-control"
                    ng-model="phone.phone_type_id"
                    ng-options="o.id as o.name for o in PHONE_TYPES">
                  </select>
                  <div class="control-group" style="display:inline;">
                    <input class="form-control"
                      ng-model="phone.value"
                      ui-mask="(999)999-9999"
                      size="30" style="width:12em;" type="text">
                  </div> ext.
                  <input class="form-control"
                    ng-model="phone.ext"
                    size="30" style="width:5em;" type="text">
                </div>
              </div>
              <div class="form-group">
                <label>Personal Notes <em>(ex: hobbies/interests)</em></label>
                <textarea class="form-control" 
                  ng-model="newUser.notes_attributes[0].text"
                  cols="40" rows="20"
                  style="height:150px;">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a ng-click="$close()"
      class="btn pull-left">
      Cancel
    </a>
    <a class="btn btn-default"
      ng-class="formHolder.newUserForm.$pristine ? 'disabled' : '' "
      ng-click="resetNewUser()">
      Reset
    </a>
    <a class="btn btn-primary"
      ng-class="formHolder.newUserForm.$pristine ? 'disabled' : '' "
      ng-click="saveNewUser()">
      Create
    </a>
  </div>
</div>