<style>
  .cta-button:active {
    background: #f2f2f2;
    background: -webkit-linear-gradient(#f2f2f2, #e2e2e2);
    background: -moz-linear-gradient(#f2f2f2, #e2e2e2);
    background: -ms-linear-gradient(#f2f2f2, #e2e2e2);
    background: -o-linear-gradient(#f2f2f2, #e2e2e2);
    background: linear-gradient(#f2f2f2, #e2e2e2);
    -moz-transform: scale3d(0.95, 0.95, 0.95);
    -o-transform: scale3d(0.95, 0.95, 0.95);
    -ms-transform: scale3d(0.95, 0.95, 0.95);
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  .cta-button span{
    height: 25px;
    line-height: 25px;
    padding: 3px;
    text-align: center;
  }
  .cta-button span:after{
    content: "Sign Up"; /*if CSS is disabled span elements are not displayed*/
    color: #fff;
  }

  .cta-button input{
    position: absolute;
    margin: 0;
    width: 31px;
    height: 31px;
    /*hide the radio button*/
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
          cursor: pointer;
  }

  .cta-button input[type="radio"] + span{ /*the span element that immediately follow the radio button */
    visibility: hidden; /*temporarily hide the "YES" label*/
  }

  .cta-button input[type="radio"] + span:after{
    content: "Sign Up";
    color: #333;
  }


  .cta-button input[type="radio"]:checked + span{
    visibility: visible; /*show the "YES" label only if the radio button is checked*/
  }
  .grey-out ul li.title {
    color: #777 !important;
  }
  .grey-out ul li.price, .grey-out ul li.bullet-item {
    color: #777 !important;
  }
  .btn.stripe_checkout {
    margin-left: 10px;
  }
  .comming-soon {
    position: relative;
    top: -200px;
    text-align: center;
    height: 0;
    color: #e50000 !important;
    font-size: 20px;
    font-weight: bold;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  .package-modal .modal-body {
    padding: 40px;
  }
  .package-modal .close {
    margin-top: -26px;
    margin-right: -20px;
  }
  .package-modal h4,
  .package-modal p {
    text-align: center;
  }
  .package-modal h4 {
    font-size: 23px;
  }
  .package-modal h5 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #1d89cf;
  }
  .package-modal .icon {
    display: block;
    margin: 20px auto 40px auto;
  }
  .package-modal .modal-footer {
    padding: 0;
    border: none;
  }
  .package-modal .modal-footer .btn {
    float: left;
    width: 50%;
    margin: 0;
    padding: 10px 0;
    min-height: 80px;
    border-radius: 0;
    box-shadow: none;
  }
  #basic-package .modal-footer .btn,
  #ezlife-package .modal-footer .btn {
    width: 100%;
  }
  .package-modal .modal-footer .btn:first-child {
    border-radius: 0 0 0 11px;
  }
  .package-modal .modal-footer .btn:last-child {
    border-radius: 0 0 11px 0;
  }
  .package-modal .modal-footer .btn-primary {
    border-top: 1px solid #1178bb;
    border-width: 1px 0 0 0;
  }
  .package-modal .modal-footer .btn-primary:first-child {
    border-top-color: #1d89cf;
    background: #319ade;
  }

  .mode-toggle {
    text-align: center;
    padding: 30px 0;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px; 
    height: 34px; 
  }
  /*
    Stripe's script uses class `toggler` somewhere,
    so this added specificity prevents collisions.
  */
  .pricing-mode-toggler {
    position: absolute; 
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .pricing-mode-toggler:before {
    position: absolute; 
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .pricing-mode-toggler.toggled {
    background-color: #1d89cf;
  }
  .pricing-mode-toggler.toggled:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .pricing-mode-toggler.round {
    border-radius: 34px;
  }
  .pricing-mode-toggler.round:before {
    border-radius: 50%;
  }
</style>
<!-- Select Plan -->
<div id="select-plan" ng-controller="PaymentInfoCtrl">

  <div class="section-header">
    <div class="left">
      <h2 ng-bind="(paymentInfoVars.mId && paymentInfoVars.mId>0) ? 'Confirm / Change Plan' : 'Select / Change Plan'"></h2>
    </div>
    <div class="right">
      <div style="margin-right:20px;">
        Plan:
        <strong ng-bind="(paymentInfoVars.mId | enumValue: 'MEMBERSHIPS') || '-'"></strong>
      </div>
      <div style="margin-right:40px;">
        Setup for Payment:
        <strong ng-bind="paymentInfoVars.subscribed ? 'Yes' : 'No'"></strong>
      </div>
      <div class="actions">
        <a class="btn btn-default"
          ng-click="paymentInfoVars.subscribed ? updatePaymentSource() : checkOutWithStripe(paymentInfoVars.mId)">
          Skip to Payment Methods
        </a>
        <a class="btn btn-default"
          ng-click="openPromoCodeModal()">
          Enter Promo Code
        </a>
        <a class="btn btn-default" ng-if="paymentInfoVars.subscribed"
          ng-click="unsubscribeFromStripe()">
          Unsubscribe
        </a>
        <!-- <a class="btn btn-default" target="_blank"
          href="https://academy.insureio.com/payment-info/">
          Tutorial
        </a> -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content text-center">
      <div class="alert alert-info text-center"
        style="display:inline-block;">
        <strong>Select a plan below.</strong><br>

        <strong>New Users</strong>:
        We'll collect payment information to authorize your account, but your card won't be charged for 30 days.
        All payments are processed securely using Stripe. Enjoy your free trial!<br>

        <strong>Current Users</strong>:
        Click to select a new plan. Insureio will ask for confirmation.
        Once confirmed, your next billing cycle will reflect the new plan's cost.
        Your account features will update immediately.<br>
      </div>
      <br>
      <div class="mode-toggle hidden"><!-- UNHIDE AFTER WE HAVE ANNUAL PAYMENT OPTION SET UP IN STRIPE. -->
        <span style="font-size: 1.5em; font-weight: bold; vertical-align: text-top; color: ">Monthly</span>
        <label class="switch"
          ng-click="showAnnualPrice=!showAnnualPrice">
          <span class="pricing-mode-toggler round"
            ng-class="showAnnualPrice ? 'toggled' : '' "></span>
        </label>
        <span style="font-size: 1.5em; font-weight: bold; vertical-align: text-top; color: #1d89cf;">Yearly</span>
      </div>

      <div class="grid">

        <div id="basic-box" class="grid-cell grid grid--column {{paymentInfoVars.mId==1 ? 'selected' : '' }}">
          <h2>Basic</h2>
          <div>$
            <span ng-bind="showAnnualPrice ? '300' : '25'"></span>
            <sub ng-bind="showAnnualPrice ? '/year' : '/mo'"></sub>
          </div>
          <div><i class="fa fa-check"></i> e-Application/Drop-Ticket Solution</div>
          <div><i class="fa fa-check"></i> Unlimited Quoting &amp; Lead Capture Widgets</div>
          <div><i class="fa fa-check"></i> Unlimited Brand Profiles</div>
          <div><i class="fa fa-check"></i> Customizable Analytics &amp; Reporting</div>
          <div>
            <a href="http://Insureio.com/pricing/#features" target="_blank">
              View the full list of features <i class="fa fa-external-link"></i>
            </a>
          </div>
          <div class="grid grid--center">
            <a class="btn btn-primary grid-cell--middle"
              ng-click="checkOutWithStripe(1)">
              {{paymentInfoVars.mId==1 ? 'Confirm' : 'Select' }}
            </a>
            <span class="deactivated grid-cell--middle">Current Plan</span>
          </div>
        </div>

        <div class="grid-cell grid grid--column {{paymentInfoVars.mId==2 ? 'selected' : '' }}">
          <h2>Marketing</h2>
          <div>$
            <span ng-bind="showAnnualPrice ? '600' : '50'"></span>
            <sub ng-bind="showAnnualPrice ? '/year' : '/mo'"></sub>
          </div>
          <div><i class="fa fa-check"></i> Includes everything in Basic</div>
          <div><i class="fa fa-check"></i> Personalized e-Marketing Website</div>
          <div><i class="fa fa-check"></i> Pre-Built Marketing Campaigns</div>
          <div><i class="fa fa-check"></i> Blast e-Mail Distribution</div>
          <div>
            <a href="http://Insureio.com/pricing/#features" target="_blank">
              View the full list of features <i class="fa fa-external-link"></i>
            </a>
          </div>
          <div class="grid grid--center">
            <a class="btn btn-primary grid-cell--middle"
              ng-click="checkOutWithStripe(2)">
              {{paymentInfoVars.mId==2 ? 'Confirm' : 'Select' }}
            </a>
            <span class="deactivated grid-cell--middle">Current Plan</span>
          </div>
        </div>

        <div class="grid-cell grid grid--column {{paymentInfoVars.mId==3 ? 'selected' : '' }}">
          <h2>Agency Management</h2>
          <div>$
            <span ng-bind="showAnnualPrice ? '600' : '50'"></span>
            <sub ng-bind="showAnnualPrice ? '/year' : '/mo'"></sub>
          </div>
          <div><i class="fa fa-check"></i> Includes everything in Basic</div>
          <div><i class="fa fa-check"></i> Lead Routing &amp; Assignment</div>
          <div><i class="fa fa-check"></i> Team View on Dashboard</div>
          <div><i class="fa fa-check"></i> Agent Recruiting &amp; Marketing</div>
          <div>
            <a href="http://Insureio.com/pricing/#features" target="_blank">
              View the full list of features <i class="fa fa-external-link"></i>
            </a>
          </div>
          <div class="grid grid--center">
            <a class="btn btn-primary grid-cell--middle"
              ng-click="checkOutWithStripe(3)">
              {{paymentInfoVars.mId==3 ? 'Confirm' : 'Select' }}
            </a>
            <span class="deactivated grid-cell--middle">Current Plan</span>
          </div>
        </div>

        <div class="grid-cell grid grid--column {{paymentInfoVars.mId==4 ? 'selected' : '' }}">
          <h2>Marketing & Agency Management</h2>
          <div>$
            <span ng-bind="showAnnualPrice ? '900' : '75'"></span>
            <sub ng-bind="showAnnualPrice ? '/year' : '/mo'"></sub>
          </div>
          <div><i class="fa fa-check"></i> Includes everything in Basic</div>
          <div><i class="fa fa-check"></i> Includes everything in Marketing</div>
          <div><i class="fa fa-check"></i> Includes everything in Agency Management</div>
          <div>
            <a href="http://Insureio.com/pricing/#features" target="_blank">
              View the full list of features <i class="fa fa-external-link"></i>
            </a>
          </div>
          <div class="grid grid--center">
            <a class="btn btn-primary grid-cell--middle"
              ng-click="checkOutWithStripe(4)">
              {{paymentInfoVars.mId==4 ? 'Confirm' : 'Select' }}
            </a>
            <span class="deactivated grid-cell--middle">Your Current Plan</span>
          </div>
        </div>

      </div>

      <p class="alert alert-info text-center"
        style="display:inline-block;margin:20px 0 0;">
        <i class="fa fa-exclamation-circle"></i>
        For producers of a Insureio distribution partner. Not affiliated with a Insureio distribution partner? Call for Pricing and Availability <strong>1-800-823-4852</strong> /
        <strong><a href="mailto:sales@insureio.com">sales@insureio.com</a></strong>
      </p>

    </div>
  </div>

  <!-- Promo Code Modal -->
  <script type="text/ng-template" id="promo_code_modal.html">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Enter Promotional Code</h4>
    </div>
    <dr-last-bulletin></dr-last-bulletin>
    <div class="modal-body">
      <div class="form-group">
        <label for="promo-code">Promotional Code</label>
        <input class="form-control" type="text"
          id="promo-code"
          ng-model="paymentInfoVars.couponCode"
          placeholder="Enter Code" />
      </div>
    </div>
    <div class="modal-footer">
      <a type="button" class="btn pull-left" data-dismiss="modal">Close</a>
      <a class="btn btn-primary"
        ng-click="setPromoCode()">
        Apply Promo Code
      </a>
    </div>
  </script>

  <script type="text/ng-template" id="ez_life_success_modal.html">
    <div class="modal-header">
      <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
      <h4>Welcome to EZLife, the original drop-ticket process for life insurance.</h4>
    </div>
    <div class="modal-body">
      <strong>Start submitting applications in three easy steps:</strong><br />
      <ol>
        <li style="list-style-type: decimal;">Complete your "My Account: Personal" section so your clients will know who you are.</li>
        <li style="list-style-type: decimal;">Add your state licensing and carrier appointment info in the "My Account: Licensing & Contracting" tab so you can start submitting applications.</li>
        <li style="list-style-type: decimal;">Customize your "My Account: Branding Profile" with contact info and your logo so you can start marketing.</li>
      </ol>
    </div>
  </script>

</div>
