<div id="permissions" ng-controller="PermissionCtrl">

  <div class="section-header">
    <div class="left">
      <h2>
        Permissions
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <form>
          <div class="form-inline" ng-if="can('edit_others_membership_id')">
            <select class="form-control"
              ng-model="permissionCtrlVars.user.membership_id"
              ng-options="o.id as o.name for o in subscriptionLevels"
              uib-tooltip="Non-free subscription levels must be setup through the Payment Info tab.">
              <option value="" disabled selected>Subscription Level</option>
            </select>
            <a class="btn btn-default" ng-click="confirmAndSetSubscription(this)">
              Set Subscription
            </a>
            <select class="form-control"
              style="margin-left:20px;"
              ng-model="permissionCtrlVars.permissionSetToApply"
              ng-change="setPermissionSwitches()"
              ng-options="o.id as o.name for o in permissionSets">
              <option value="" disabled selected>Permission Set Level</option>
            </select>
            <a class="btn btn-default" ng-click="savePermissions()">Save Permissions</a>
            <div class="btn-group" uib-dropdown>
              <a class="btn btn-danger dropdown-toggle" type="button" uib-dropdown-toggle>
                <i class="fa fa-ban" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li>
                  <a ng-click="clearPermissions()">Clear All Permissions</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section-content">
      <form id="permissions-form"
        ng_submit="savePermissions()"
        ng-if="permissionCtrlVars && permissionCtrlVars.showForm">
        <!--  The ngIf condition ensures that the permission switch directives
              are not initialized until the `PermissionCtrl` controller has been initialized. -->
        <div class="global-padding">
          <div class="row-fluid">
            <div class="col-md-4 permission-switches">
              <h3 class="longline caps">
                <p-switch p="'my_account'">My Account</p-switch>
              </h3>
              <h4>Brands</h4>
              <div class="indent">
                <p-switch p="'brand'" title="Access to gui showing your currently owned brands">Single</p-switch>
                <p-switch p="'brand_multiple'">Multiple</p-switch>
                <p-switch p="'brand_edit_owner_id'">Change Brand Ownership</p-switch>
              </div>
              <h4>
                <p-switch p="'submission_options'">Submission Options</p-switch>
              </h4>
              <div class="indent">
                <p-switch p="'edit_submission_options_self'">Edit Submission Options</p-switch>
                <p-switch p="'live_xfer_indicator'" title="View indicator in right sidebar">Live Transfer Availability</p-switch>
                <p-switch p="'edit_agent_of_record'">Edit Agent of Record</p-switch>
                <p-switch p="'edit_product_options'">Production Options</p-switch>
              </div>
              <h4>Staff Assignment</h4>
              <div class="indent">
                <p-switch p="'edit_staff_assignment_self'">Can Edit</p-switch>
              </div>
              <h4>
                <p-switch p="'l_and_c'">Licensing & Contracting</p-switch>
              </h4>
              <div class="indent">
                <p-switch p="'my_account_view_licenses'">View Licenses</p-switch>
                <p-switch p="'my_account_edit_licenses'">Edit Licenses</p-switch>
                <p-switch p="'my_account_view_contracts'">View Contracts</p-switch>
                <p-switch p="'my_account_edit_contracts'">Edit Contracts</p-switch>
              </div>
              <h4>Email Accounts</h4>
              <div class="indent">
                <p-switch p="'email'">One Account</p-switch>
                <p-switch p="'smtp_multiple'">Multiple Accounts</p-switch>
              </div>
              <h4>Permissions</h4>
              <div class="indent">
                <p-switch p="'view_own_permissions'">Can View</p-switch>
              </div>
              <h3 class="longline caps">Dashboard Display</h3>
              <h4>Business Table</h4>
              <div class="indent">
                <p-switch p="'dash_my_business_self'">Self</p-switch>
                <p-switch p="'dash_my_business_team'">Team</p-switch>
              </div>
              <h4>Lead Opportunities Table</h4>
              <div class="indent">
                <p-switch p="'dash_opportunities_self'">Self</p-switch>
                <p-switch p="'dash_opportunities_team'">Team</p-switch>
              </div>
              <h4>Pending Tasks Table</h4>
              <div class="indent">
                <p-switch p="'dash_pending_tasks_self'">Self</p-switch>
                <p-switch p="'dash_pending_tasks_team'">Team</p-switch>
              </div>
              <h4>Unassigned Tasks Table</h4>
              <div class="indent">
                <p-switch p="'moderate_unassigned_tasks'">Moderator</p-switch>
              </div>
              <h4>Events Feed</h4>
              <div class="indent">
                <p-switch p="'dash_events_self'">Self</p-switch>
                <p-switch p="'dash_events_team'">Team</p-switch>
              </div>
              <h3 class="longline caps">New Quote / Quote Path</h3>
              <p-switch p="'rapid_quote'">Rapid Quote Consumer Function</p-switch>
              <p-switch p="'skip_quote'">Skip Directly to Application Function</p-switch>
              <h3 class="longline caps">
                <p-switch p="'contacts_gui'">Contact Management Display</p-switch>
              </h3>
              <p-switch p="'contacts_users'">View Users</p-switch>
              <p-switch p="'contacts_consumers'">View Consumers</p-switch>
              <p-switch p="'contacts_brands'">View Brands</p-switch>
              <p-switch p="'contacts_new_consumer'">Add Consumer</p-switch>
              <p-switch p="'import_consumer_csv'">CSV Import</p-switch>
              <p-switch p="'contacts_new_user'">Add User</p-switch>
            </div>
            <div class="col-md-4 permission-switches">
              <h3 class="longline caps">
                <p-switch p="'marketing'">Marketing</p-switch>
              </h3>
              <h4>Quoting Widget</h4>
              <div class="indent">
                <p-switch p="'quoter_widget'">Single</p-switch>
                <p-switch p="'quoter_widget_multiple'">Multiple</p-switch>
                <h4>Type</h4>
                <div class="indent">
                  <p-switch p="'quoter_widget_life'">Life</p-switch>
                  <p-switch p="'quoter_widget_ltc'">LTC</p-switch>
                  <p-switch p="'quoter_widget_lead_capture'">Lead Capture</p-switch>
                </div>
              </div>
              <h4><p-switch p="'marketing_links'">Links</p-switch></h4>
              <div class="indent">
                <p-switch p="'marketing_links_application'">Data Collection Method: Application Link</p-switch>
                <p-switch p="'marketing_links_referral'">Data Collection Method: Referral Link</p-switch>
              </div>
              <h4>Marketing Templates</h4>
              <div class="indent">
                <h4>Purpose</h4>
                <div class="indent">
                  <p-switch p="'comm_template_marketing'">Marketing</p-switch>
                  <p-switch p="'comm_template_recruit'">Agent Recruiting</p-switch>
                  <p-switch p="'comm_template_status'">Status Updates</p-switch>
                  <p-switch p="'comm_template_system'">System</p-switch>
                </div>
                <p-switch p="'marketing_canned_email'">Emails (Canned/Pre-Built)</p-switch>
                <p-switch p="'marketing_custom_email'">Emails (Custom)</p-switch>
                <p-switch p="'marketing_canned_print'">Print (Canned/Pre-Built)</p-switch>
                <p-switch p="'marketing_custom_print'">Print (Custom)</p-switch>
                <p-switch p="'marketing_canned_social'">Social (Canned/Pre-Built)</p-switch>
                <p-switch p="'marketing_custom_social'">Social (Custom)</p-switch>
                <p-switch p="'marketing_canned_sms'">Text/SMS (Canned/Pre-Built)</p-switch>
                <p-switch p="'marketing_custom_sms'">Text/SMS (Custom)</p-switch>
              </div>
              <h4>Marketing Campaigns</h4>
              <div class="indent">
                <p-switch p="'marketing_campaigns_canned'">Campaigns (Canned/Pre-Built)</p-switch>
                <p-switch p="'marketing_campaigns_custom'">Campaigns (Custom)</p-switch>
              </div>
              <h4>
                <p-switch p="'marketing_email'">Sending Options</p-switch>
              </h4>
              <div class="indent">
                <p-switch p="'marketing_email_self'">Email Self</p-switch>
                <p-switch p="'marketing_email_custom'">Custom Distribution</p-switch>
                <p-switch p="'marketing_email_search'">Mass Distribution</p-switch>
                <h4>Data Collection Method</h4>
                <div class="indent">
                  <h4>Lead Generation</h4>
                  <div class="indent">
                    <p-switch p="'submit_application'">App</p-switch>
                    <p-switch p="'submit_referral'">Referral</p-switch>
                  </div>
                  <p-switch p="'insurance_division'">InsuranceDivision Page</p-switch>
                  <p-switch p="'custom_url'">Custom URL</p-switch>
                </div>
              </div>
              <h3 class="longline caps">
                <p-switch p="'resource_library'">Resource Library</p-switch>
              </h3>
              <p-switch p="'quoting_product_tools'">Quoting & Product Tools</p-switch>
              <p-switch p="'underwriting_resources'">Underwriting Resources</p-switch>
              <p-switch p="'advanced_planning_tools'">Advanced Planning Tools</p-switch>
              <p-switch p="'professional_development'">Training</p-switch>
              <h3 class="longline caps">Reporting</h3>
              <p-switch p="'reporting_canned'">Canned Reports</p-switch>
              <p-switch p="'reporting_custom'">Custom Reports</p-switch>
              <p-switch p="'reporting_export'">Export Results</p-switch>
              <h3 class="longline caps">Communications</h3>
              <p-switch p="'click_to_call'">Click-to-Call</p-switch>
              <p-switch p="'sms'">Text Message (SMS)</p-switch>
              <p-switch p="'socket_comm'">Socket Comm</p-switch>
            </div>
            <div class="col-md-4 permission-switches">
              <h3 class="longline caps">
                <p-switch p="'marketplace'">View Marketplace</p-switch>
                <br>
              </h3>
              <h3 class="longline caps">
                <p-switch p="'agency_mgmt'">Agency Management Display</p-switch>
              </h3>
              <h4>
                <p-switch p="'user_tree'">User Hierarchy View</p-switch>
              </h4>
              <div class="indent">
                <h4>Manage Descendant Users</h4>
                <div class="indent">
                  <p-switch p="'user_gui_production'">View Production</p-switch>
                  <p-switch p="'user_gui_brands'">View Brands</p-switch>
                  <p-switch p="'edit_submission_options'">Edit Submission Options</p-switch>
                  <p-switch p="'user_gui_l_and_c'">View Licensing & Contracting</p-switch>
                  <p-switch p="'user_gui_permissions'">View User Permissions</p-switch>
                  <p-switch p="'user_gui_marketing'">Add Marketing Campaigns</p-switch>
                  <p-switch p="'user_gui_tasks'">Add Follow-ups</p-switch>
                  <p-switch p="'user_gui_notes'">Add Notes</p-switch>
                </div>
              </div>
              <p-switch p="'edit_staff_assignment'">Edit User Support Staff</p-switch>
              <p-switch p="'edit_user_parent_id'">Edit User Lineage</p-switch>
              <p-switch p="'have_children'">Add New Child/Group</p-switch>
              <p-switch p="'delete_user'">Delete/Destroy Child/Group</p-switch>
              <h4>Brands</h4>
              <div class="indent">
                <p-switch p="'brand'" title="Access to gui showing your currently owned brands">Single</p-switch>
                <p-switch p="'brand_multiple'">Multiple</p-switch>
                <p-switch p="'brand_assignments'" title="Access to gui to set members of a brand">Assignments</p-switch>
              </div>
              <p-switch p="'recruit'">Recruit</p-switch>
              <p-switch p="'production_summary'">Production Summary</p-switch>
              <p-switch p="'lead_distribution_config'">Lead Distribution Config</p-switch>
              <p-switch p="'lead_distribution'"
                ng-disabled-if="!$root.can('lead_distribution') && !$root.can('lead_distribution_config')">
                Receive Distributed Leads
              </p-switch>
              <p-switch p="'status_types'">Status Rules</p-switch>
              <div class="indent">
                <p-switch p="'user_status_rules_gui'">Manage User Status Rules</p-switch>
                <p-switch p="'edit_initial_status_type_id'">Set Initial Status Rule</p-switch>
                <p-switch p="'create_status_types'">Add New Status Rule</p-switch>
                <p-switch p="'edit_status_type_access'">Set Access</p-switch>
                <div class="indent">
                  <p-switch p="'set_access_descendants'">User & Descendants</p-switch>
                  <p-switch p="'set_access_global'">Global</p-switch>
                </div>
              </div>
              <p-switch p="'edit_others_membership_id'">Membership Levels</p-switch>
              <h3 class="longline caps">Hierarchy Related Permissions</h3>
              <p-switch p="'edit_self'">Edit Self</p-switch>
              <p-switch p="'view_brand_resources'">View Resources from Member Brands</p-switch>
              <p-switch p="'edit_nephews'">Edit Nephews</p-switch>
              <p-switch p="'view_nephews'">View Nephews</p-switch>
              <p-switch p="'edit_nephews_resources'">Edit Nephews Resources</p-switch>
              <p-switch p="'view_nephews_resources'">View Nephews Resources</p-switch>
              <p-switch p="'edit_siblings'">Edit Siblings</p-switch>
              <p-switch p="'view_siblings'">View Siblings</p-switch>
              <p-switch p="'edit_siblings_resources'">Edit Siblings Resources</p-switch>
              <p-switch p="'view_siblings_resources'">View Siblings Resources</p-switch>
              <p-switch p="'edit_descendants'">Edit Descendants</p-switch>
              <p-switch p="'view_descendants'">View Descendants</p-switch>
              <p-switch p="'edit_descendants_resources'">Edit Descendants Resources</p-switch>
              <p-switch p="'view_descendants_resources'">View Descendants Resources</p-switch>
              <div ng-if="can('motorists_rtt_process')">
                <h3 class="longline caps">Special Permissions</i></h3>
                <p-switch p="'motorists_rtt_process'">Motorists RTT Process</p-switch>
                <p-switch p="'motorists_rtt_process_details'">RTT Underwriting Details</p-switch>
              </div>
              <div ng-if="can('super_edit')">
                <h3 class="longline caps">Misc. <i class="micon-superman"></i></h3>
                <p-switch p="'impersonate'"
                  ng-change-cb="$parent.toggleSwitchToReflectModel('impersonate'); $parent.permissionCtrlVars.miscChanged=true">
                  Impersonate
                </p-switch>
                <p-switch p="'super_edit'"
                  ng-change-cb="$parent.permissionCtrlVars.miscChanged=true">
                  Super Edit
                </p-switch>
                <p-switch p="'super_view'"
                  ng-change-cb="$parent.permissionCtrlVars.miscChanged=true">
                  Super View
                </p-switch>
                <p-switch p="'sales_support'"
                  ng-change-cb="$parent.permissionCtrlVars.miscChanged=true">
                  Access Policy Admin
                </p-switch>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
