<div class="section-header">
  <div class="left grid grid--center {{person.is_recruit ? 'recruit' : 'user'}}">
    <div class="user-thumb grid grid--center grid--align-center"
      style="background-color:#{{ hexColorCodeFromQuoterKey(person) }};">
      <span ng-bind="extractInitialsFromName(person.full_name)"></span>
      <img id="photo-preview" src="{{person.photo_thumb_url}}" />
      <a ng-if="person.id==currentUser.id || userScopeVars.managerOrAgentView=='manager'"
        class="photo-modal-button"
        data-toggle="modal"
        data-target="#photoUpload">
        <i class="fa fa-camera"></i>
      </a>
    </div>
    <div class="user-type">
      <span class="label"
        ng-bind="person.is_recruit ? 'Recruit' : 'User'"></span>
    </div>
    <h2 style="margin-bottom:0;">
      <a editable-text="person.full_name"
        e-placeholder="Full Name"
        onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','full_name',$data)">
        {{person.full_name || 'Full Name'}}
      </a>
    </h2>
  </div>
  <div class="right">
    <div class="actions">
      <div class="ui-select"
        ng-if="userScopeVars.managerOrAgentView=='manager'">
        <span>Status:</span>
        <ui-select theme="bootstrap"
          style="display:inline-block;min-width:250px;vertical-align:middle;"
          ng-model="person.status"
          on-select="updateUserStatus($item)">
          <ui-select-match data-placeholder="(No Status Set)" allow-clear="false">
            <span ng-bind="$select.selected.name || $select.selected.status_type_name"></span>
          </ui-select-match>
          <ui-select-choices class="text-left"
            refresh="null"
            refresh-delay="100"
            group-by="userStatusTypeGroupName"
            repeat="o.id as o in userStatusTypes | filter: $select.search">
            <i class="{{(o.ownership_id | enumValue : 'OWNERSHIPS' : 'icon_class') || 'fa fa-globe'}}"
              title="{{(o.ownership_id | enumValue : 'OWNERSHIPS' : 'value') || 'Global'}}"></i>
            <span ng-bind-html="o.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="btn-group" uib-dropdown
        ng-if="userScopeVars.agentId!=currentUser.id && person.user_account_id == null 
        && userScopeVars.managerOrAgentView=='manager'">
        <button class="btn btn-default" uib-dropdown-toggle>
          Account
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li>
            <a ng-click="openAccountLinkModal()">
              Link Account
            </a>
          </li>
          <li>
            <a ng-disabled="!person.recruit"
              ng-click="person.is_recruit && !person.user_account_id && askConfirmation(person)">
              Create Account
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-group"
        ng-if="userScopeVars.agentId!=currentUser.id && userScopeVars.agentId && userScopeVars.recruitId"
        uib-dropdown>
        <button class="btn btn-default" uib-dropdown-toggle>
          Viewing as 
          <span ng-bind="userScopeVars.managerOrAgentView=='manager' ? 'Manager' : 'Agent'"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right"
          uib-dropdown-menu
          ng-model="userScopeVars.managerOrAgentView"
          ng-change="setPerson()">
          <li ng-class="userScopeVars.managerOrAgentView=='manager' ? 'active' : ''">
            <a ng-click="userScopeVars.managerOrAgentView='manager'; setPerson()">
              Manager
            </a>
          </li>
          <li ng-class="userScopeVars.managerOrAgentView=='agent' ? 'active' : ''">
            <a ng-click="userScopeVars.managerOrAgentView='agent'; setPerson()">
              Agent
            </a>
          </li>
        </ul>
      </div>
      <button ng-if="userScopeVars.agentId!=currentUser.id" 
        ng-click="openNewTaskModal(person)"
        class="btn btn-primary">
        Add Task
      </button>
    </div>
  </div>
</div>

<div id="contact-personal">
  <div class="row details-summary"
    ng-class="!person.$resolved ? 'loading' : ''">
    <div class="col-md-4">
      <!-- Personal -->
      <div class="section">
        <div class="loading-msg">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="title">
          Personal 
          <i ng-if="userScopeVars.managerOrAgentView=='manager' || person.id==currentUser.id"
            class="fa fa-pencil pull-right"
            data-toggle="modal"
            data-target="#personal-info-modal"></i>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Title</label>
          <div class="item grid-cell">
            {{person.title || '-'}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Company</label>
          <div class="item grid-cell">
            {{person.company || '-'}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Time Zone</label>
          <div class="item grid-cell">
            {{person.time_zone || '-'}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">SSN</label>
          <div class="item grid-cell">
            {{(person.ssn | drFormatSsn) || '-'}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">TIN</label>
          <div class="item grid-cell">
            {{(person.tin | drFormatTin) || '-'}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Birthdate</label>
          <div class="item grid-cell">
            {{(person.birth_or_trust_date | formatOptionalDateAsUS) || '-'}} 
            <span ng-if="person.birth_or_trust_date">(Age: {{Date.today | moment : 'diff' : person.birth_or_trust_date : 'years'}})</span>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span uib-tooltip="Add/Update license types in the 'Licensing & Contracting' tab."
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
              License Types
              <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">
            {{userScopeVars.agent.license_types || '-'}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Broker-Dealer</label>
          <div class="item grid-cell">
            {{(person.broker_dealer_id | enumValue : 'BROKER_DEALERS') || '-'}}
          </div>
        </div>
      </div>
      <!-- End Personal -->
    </div>
    <div class="col-md-4">
      <!-- Contact -->
      <div class="section">
        <div class="loading-msg">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="title">
          Contact 
          <i ng-if="userScopeVars.managerOrAgentView=='manager' || person.id==currentUser.id"
            class="fa fa-pencil pull-right"
            ng-click="openContactMethodsModal()"></i>
          <!-- ##### Old tour code. Removing till we fully implement #####
            <i ng-if="userScopeVars.managerOrAgentView=='manager' || person.id==currentUser.id"
            class="fa fa-pencil pull-right"
            ng-click="openContactMethodsModal()"
            tour-step
            tour-step-title="Help Colleagues/Consumers Contact You"
            tour-step-content="Your manager and possibly others in your agency can see this information.
            It is also used to prefill templates when corresponding with clients."
            tour-step-order="0"
            tour-step-placement="left"></i> -->
        </div>
        <div class="cell grid">
          <label class="grid-cell">Phones</label>
          <div class="item grid-cell icon-w-repeat">
            <div class="clearfix"
              style="margin-bottom:5px;"
              ng-if="phone"
              ng-repeat="phone in person.phones">
              <span class="capitalize">
                {{(phone.phone_type_id | enumValue : 'PHONE_TYPES') || 'Other'}}
              </span>
              <span>
                {{phone | drFormatPhone}}
              </span>
              <a class="icon"
                ng-if="can('sms') && phone.carrier_id"
                ng-click="openSmsModal(person, phone,this)"
                uib-tooltip="Send SMS message.">
                <i class="fa fa-commenting"></i>
              </a>
              <a class="icon"
                ng-href="tel:{{phone.value}}"
                uib-tooltip="Click to call.">
                <i class='fa fa-phone'></i>
              </a>
            </div>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Email Addresses</label>
          <div class="item grid-cell icon">
            <div class="clearfix"
              ng-if="email"
              ng-repeat="email in person.emails">
              <span style="max-width:calc(100% - 30px);">
                {{email.value}}
              </span>
              <a class="icon"
                ng-href="mailto:{{email.value}}"
                uib-tooltip="Start an email message to this address.">
                <i class='fa fa-envelope'></i>
              </a>
            </div>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Addresses</label>
          <div class="item grid-cell icon">
            <div class="clearfix"
              ng-if="address"
              ng-repeat="address in person.addresses">
              <span class="capitalize">
                {{(address.address_type_id | enumValue : 'ADDRESS_TYPES')}}
              </span>
              <span style="max-width:calc(100% - 30px);">
                {{address.street}}<br />
                {{address.city}}, {{(address.state_id | enumValue : 'STATES')}} {{address.zip}}
              </span>
              <a class="icon" target="_blank"
                ng-href="https://maps.google.com/?q={{address.street}}{{address.city}}{{(address.state_id | enumValue : 'STATES')}}{{address.zip}}"
                uib-tooltip="View address on Google Maps.">
                <i class="fa fa-map-marker"></i>
              </a>
            </div>
          </div>  
        </div>
        <div class="cell grid">
          <label class="grid-cell">Website</label>
          <div class="item grid-cell">
            <a ng-if="(person.webs | whereKeyMatchesValue: 'web_type_id' : 1)[0]"
              ng-href="http://{{(person.webs | whereKeyMatchesValue: 'web_type_id' : 1)[0].value}}"
              target="_blank">
              {{(person.webs | whereKeyMatchesValue: 'web_type_id' : 1)[0].value}}
            </a>
            <span ng-if="!person.website" class="lighter">-</span>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Social</label>
          <div class="item grid-cell">
            <dr-social-icons class="personal-social"></dr-social-icons>
          </div>  
        </div>
      </div>
      <!-- End Contact -->
      <!-- Assistant -->
      <div class="section">
        <div class="loading-msg">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="title" style="margin-top:10px;">
          Assistant 
          <i ng-if="userScopeVars.managerOrAgentView=='manager' || person.id==currentUser.id"
            class="fa fa-pencil pull-right"
            data-toggle="modal"
            data-target="#assistant-info-modal"></i>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Name</label>
          <div class="item grid-cell">
            {{person.assistant_name || '-'}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Phone</label>
          <div class="item grid-cell icon">
            {{person.assistant_phone || '-'}}
            <a class="icon"
              ng-if="person.assistant_phone"
              ng-href="tel:{{person.assistant_phone}}"
              uib-tooltip="Click to call.">
              <i class='fa fa-phone'></i>
            </a>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Email</label>
          <div class="item grid-cell icon">
            {{person.assistant_email || '-'}}
            <a class="icon"
              ng-if="person.assistant_email"
              ng-href="mailto:{{person.assistant_email}}"
              uib-tooltip="Start an email message to this address.">
              <i class='fa fa-envelope'></i>
            </a>
          </div>
        </div>
      </div>
      <!-- End Assistant -->
    </div>
    <div class="col-md-4">
      <!-- Recruit Details -->
      <div class="section">
        <div class="loading-msg">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="title">
          <span ng-if="userScopeVars.managerOrAgentView=='agent'">
            Account
            <i class="fa fa-pencil pull-right"
              ng-click="openAccountInfoModal()"></i>
          </span>
          <span ng-if="userScopeVars.managerOrAgentView=='manager'">
            Recruit Details
          </span>
        </div>
        <!-- Standalone recruit record or any non-recruit records just show their own ID. -->
        <div class="cell grid"
          ng-if="(userScopeVars.managerOrAgentView=='manager' && !person.user_account_id) || userScopeVars.managerOrAgentView=='agent'">
          <label class="grid-cell">ID</label>
          <div class="item grid-cell">
            <span title="Full Numeric Id: {{person.id}}"
              uib-tooltip="Full Numeric Id: {{person.id}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
              {{person.id | drShortId}} 
              <i class="fa fa-info-circle"></i>
            </span>
          </div>
        </div>
        <!-- Linked recruit records show both the user account's ID and their own. -->
        <div class="cell grid"
          ng-if="userScopeVars.managerOrAgentView=='manager' && person.user_account_id">
          <label class="grid-cell">Linked User ID</label>
          <div class="item grid-cell">
            <span title="Full Numeric Id: {{person.user_account_id}}"
              uib-tooltip="Full Numeric Id: {{person.user_account_id}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
              {{person.user_account_id | drShortId}}
              <i class="fa fa-info-circle"></i>
            </span>
          </div>
        </div>
        <div class="cell grid"
          ng-if="userScopeVars.managerOrAgentView=='manager' && person.user_account_id">
          <label class="grid-cell">Recruit ID</label>
          <div class="item grid-cell">
            <span title="Full Numeric Id: {{person.id}}"
              uib-tooltip="Full Numeric Id: {{person.id}}"
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
              {{person.id | drShortId}}
              <i class="fa fa-info-circle"></i>
            </span>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span uib-tooltip="Relationship Manager is also referred to as the parent user. Change user hierarchy from the Agent Management Users page."
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
              Relationship Manager
              <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">{{person.parent_name || '-'}}</div>
        </div>
        <div class="cell grid"
          ng-if="userScopeVars.managerOrAgentView=='manager' && !person.user_account_id">
          <label class="grid-cell">
            <span uib-tooltip="If a login is provided here, it will be reserved for now, and when a user account is created for this recruit, that user account will inherit this login."
              tooltip-placement="top"
              tooltip-trigger="mouseenter"> 
              Reserved Login
              <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">
            <a editable-text="person.login"
              style="vertical-align:middle;"
              onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','login',$data)">
              {{person.login || '(Unspecified)'}}
            </a><br>
            <a id="create-user-account"
              class="btn btn-default"
              ng-click="person.login && createUserAccount(person)"
              ng-title="person.login ? 'Click to create a user account for this recruit.' : 'Please reserve a login above before creating a new user account.'">
              Create
            </a>
          </div>
        </div>
        <div class="cell grid"
          ng-if="userScopeVars.managerOrAgentView=='manager' && !person.user_account_id">
          <label class="grid-cell">Link Account</label>
          <div class="item grid-cell">
            <div class="input-group">
              <input class="form-control"
                type="text"
                ng-model="userIdToLinkTo"
                placeholder="ID" />
              <div class="input-group-btn">
                <a class="btn btn-default"
                  style="vertical-align:top;"
                  ng-click="userIdToLinkTo && updateRecordSingleField('/users/'+person.id+'.json','recruit','user_account_id',userIdToLinkTo)">
                  <i class="fa fa-link"></i> Link
                </a>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="userScopeVars.managerOrAgentView=='agent'">
          <div class="cell grid">
            <label class="grid-cell">Payment Plan</label>
            <div class="item grid-cell">
              {{(person.membership_id | enumValue : 'MEMBERSHIPS') || '-'}}
              {{person.lapsed ? '(Lapsed)' : ''}}
            </div>
          </div>
          <div class="cell grid">
            <label class="grid-cell">Account Create Date</label>
            <div class="item grid-cell">
              {{person.created_at | formatOptionalDateAsUS}}
            </div>
          </div>
          <div class="cell grid">
            <label class="grid-cell">Last Log On</label>
            <div class="item grid-cell">
              {{(person.last_login_at | formatOptionalDateAsUS) || '(Never)'}}
            </div>
          </div>
          <div class="cell grid">
            <label class="grid-cell">Comp Level</label>
            <div class="item grid-cell">
              {{(person.commission_level_id | enumValue : 'COMMISSION_LEVELS') || '-'}}
            </div>
          </div>
          <div class="cell grid">
            <label class="grid-cell">Login</label>
            <div class="item grid-cell">
              {{person.login}}
            </div>
          </div>
          <div class="cell grid">
            <label class="grid-cell">Subdomain</label>
            <div class="item grid-cell">
              {{(person.tenant_id | enumValue : 'TENANTS') || '(Unspecified)'}}
            </div>
          </div>
          <div class="cell grid"
            ng-if="person.id==currentUser.id">
            <label class="grid-cell">Password</label>
            <div class="item grid-cell icon">
              <a ng-click="openAccountInfoModal()">
                Click to Update.
              </a>
              <a class="icon"
                ng-click="openAccountInfoModal()">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
          </div>
          <div class="cell grid"
            ng-if="person.id==currentUser.id">
            <label class="grid-cell"
              title="This key is unique to your account. It is required to verify your identity when you use the Insureio API. Treat this like a password. Do not share it with others. Only store it in secure locations that no one but yourself can access. If at any point your machine or your Insureio account become compromised, immediately reset your key here, as well as resetting your password.">
              API Key
              <i class="fa fa-question-circle"></i>
            </label>
            <div class="item grid-cell icon">
              <i ng-if="userScopeVars.apiKeySaving"
                class="fa fa-spinner fa-spin"
                title="Save is in progress. Please do not leave the page until complete."></i>
              <a ng-if="!userScopeVars.apiKeySaving"
                ng-click="getApiKey()">
                Protected - enter your password to view.
              </a>
              <a ng-if="!userScopeVars.apiKeySaving"
                ng-click="resetApiKey()" class="icon">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Recruit Details -->
      <!-- Tags -->
      <div class="section"
        ng-if="userScopeVars.managerOrAgentView=='manager'">
        <div class="loading-msg">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="title" style="margin-top:10px;">
          Tags
        </div>
        <div id="client_existing_tags">
          <span class="label label-default label-tag"
            ng-repeat="tag in person.tags">
            {{tag}}
          </span>
          <a class="label label-new label-tag"
            ng-click="openSection(userGuiSections[1])">
            + Add Tag
          </a>
        </div>
      </div>
      <!-- End Tags -->
    </div>
  </div>
</div>



<!-- Begin Modals -->
<div id="personal-info-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
        <h4 class="modal-title">Personal Information</h4>
      </div>
      <dr-last-bulletin></dr-last-bulletin>
      <div class="modal-body">
        <div class="info-item">
          <label class="grid-cell">Title</label>
          <div>
            <a editable-text="person.title"
              e-placeholder="Title"
              onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','title',$data)">
              {{person.title || '(Unspecified)'}}
            </a>
          </div>
        </div>
        <div class="info-item">
          <label class="grid-cell">Company</label>
          <div>
            <a editable-text="person.company"
              e-placeholder="Company"
              onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','company',$data)">
              {{person.company || '(Unspecified)'}}
            </a>
          </div>
        </div>
        <div class="info-item">
          <label class="grid-cell">Time Zone:</label>
          <div>
            <a editable-select="person.time_zone"
              e-ng-options="obj.value as obj.text for obj in TIME_ZONES"
              onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','time_zone',$data)">
              {{(person.time_zone  | enumValue : 'TIME_ZONES' : 'text') || '(Unspecified)'}}
            </a>
          </div>
        </div>
        <div class="info-item">
          <label class="personal_label">SSN:</label>
          <div>
            <a editable-text="person.ssn"
              e-pattern="\d{3}\-?\d{2}\-?\d{4}"
              onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','ssn',$data)">
              {{(person.ssn | drFormatSsn) || '(Unspecified)'}}
            </a>
          </div>
        </div>
        <div class="info-item">
          <label class="personal_label">Tax ID:</label>
          <div>
            <a editable-text="person.tin"
              e-pattern="\d{2}\-?\d{7}"
              onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','tin',$data)">
              {{(person.tin | drFormatTin) || '(Unspecified)'}}
            </a>
          </div>
        </div>
        <div class="info-item">
          <label class="personal_label">Birthdate:</label>
          <div>
            <a editable-text="person.birth_or_trust_date"
              e-placeholder="mm/dd/yyyy"
              e-pattern="^[01]\d\/[0123]\d\/[12]\d{3}$"
              onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','birth_or_trust_date',$data)">
              {{person.birth_or_trust_date || '(Unspecified)'}}
            </a>
          </div>
        </div>
        <div class="info-item">
          <label class="grid-cell">Dealer Broker:</label>
          <div>
            <a editable-select="person.broker_dealer_id"
              e-ng-options="obj.id as obj.name for obj in BROKER_DEALERS"
              onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','broker_dealer_id',$data)">
              {{(person.broker_dealer_id  | enumValue : 'BROKER_DEALERS' : 'name') || '(Unspecified)'}}
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Contact Info Modal -->
<div id="modal-contact-info" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contact Information</h4>
      </div>
      <dr-last-bulletin></dr-last-bulletin>
      <div class="modal-body">
        <div class="form-group">
          <label class="grid-cell">Phones</label>
          <ng-include src="'/contacts/phones.html'"></ng-include>
        </div>
        <div class="form-group">
          <label class="grid-cell">Email Addresses</label>
          <ng-include src="'/contacts/emails.html'"></ng-include>
        </div>
        <div class="form-group">
          <label class="grid-cell">Website</label>
          <ng-include src="'/contacts/webs.html'"></ng-include>
        </div>
        <div class="form-group">
          <label class="grid-cell">Addresses</label>
          <ng-include src="'/contacts/addresses.html'"></ng-include>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Assistant Info Modal -->
<div id="assistant-info-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Assistant Information</h4>
      </div>
      <dr-last-bulletin></dr-last-bulletin>
      <div class="modal-body">
        <div class="info-item">
          <label class="grid-cell">Name</label>
          <a
            editable-text="person.assistant_name"
            onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','assistant_name',$data)">
            {{person.assistant_name || '(Unspecified)'}}
          </a>
        </div>
        <div class="info-item">
          <label class="grid-cell">Phone</label>
          <a
            editable-text="person.assistant_phone"
            e-placeholder="(999)999-9999"
            e-pattern="^\(?\d{3}(\)|\-)?\d{3}\-?\d{4}"
            onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','assistant_phone',$data)">
            {{person.assistant_phone || '(Unspecified)'}}
          </a>
        </div>
        <div class="info-item">
          <label class="grid-cell">Email</label>
          <a
            editable-text="person.assistant_email"
            e-placeholder="username@host.com"
            onbeforesave="updateRecordSingleField('/users/'+person.id+'.json','','assistant_email',$data)">
            {{person.assistant_email || '(Unspecified)'}}
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
