<div id="submission-options"
  ng-controller="SubmissionOptionsCtrl">
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Submission Options
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default"
            ng-if="( person.id==currentUser.id && can('edit_submission_options_self') ) ||
            ( person.id!=currentUser.id && can('edit_submission_options') )">
            <div class="panel-heading">
              <h3 class="panel-title">Quoting Process</h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-info">
                <i class="fa fa-info-circle"></i>
                Which case submission option(s) would you like to have available?<br>
                <span  ng-if="can('submit_application') && can('submit_referral')">Check both boxes to allow you to choose on a case by case basis.</span>
              </div>
              <ul class="agent-field-set-option">
                <li ng-if="can('submit_application')">
                  <label>
                    <input type="checkbox"
                      id="submit_application"
                      ng-model="person.submit_application"
                      ng-change="updateRecordSingleField('/users/'+person.id+'.json','submission options','submit_application',person.submit_application)">
                    Full Application
                  </label>
                </li>
                <li ng-if="can('submit_referral')">
                  <label>
                    <input type="checkbox"
                      id="submit_referral"
                      ng-model="person.submit_referral"
                      ng-change="updateRecordSingleField('/users/'+person.id+'.json','submission options','submit_referral',person.submit_referral)">
                    Referral
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Agent Of Record</h3>
            </div>
            <div class="panel-body" ng-include="'/users/agent_of_record_fields.html'">
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Statuses</h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-info">
                <i class="fa fa-info-circle"></i>
                If you or your organization have defined a large number of your own status rules, you may wish to exclude the global ones from your view in the status rules manager and within status menus.
              </div>
              <label class="inline-checkbox">
                <input type="checkbox"
                  ng-model="userScopeVars.agent.exclude_global_status_types"
                  ng-change="updateRecordSingleField('/users/'+userScopeVars.agentId+'.json','user account to','exclude_global_status_types',userScopeVars.agent.exclude_global_status_types,clearAllStatusTypes,refreshCurrentUser)">
                  Hide Global Status Types For You?
              </label>
            </div>
          </div>

        </div>
        <div class="col-md-6">

          <div class="panel panel-default"
            ng-if="( person.id==currentUser.id && can('edit_staff_assignment_self') ) ||
              ( person.id!=currentUser.id && can('edit_staff_assignment') )">
            <div class="panel-heading">
              <h3 class="panel-title">Staff Assignments</h3>
            </div>
            <div class="panel-body">
              <ng-include src="'/usage/staff_assignments/form.html'"></ng-include>
              <a class="btn btn-primary"
               ng-class="formHolder.staffAssignmentForm.$pristine ? 'disabled' : '' "
               ng-click="saveStaffAssignment()">Save</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>