<style type="text/css">
  .select2-container {
    min-width: 10em;
  }
</style>
<% unless params[:hide_title] || (defined?(hide_title) && hide_title) %>
  <div class="navbar">
    <div id="navbar-fix" class="navbar-inner panel-heading"><h4>Staff Assignments for <%= @staff_assignment.agent.try(:full_name) %></h4></div>
  </div>
<% end %>
<div id="staff-assignments">
<%= form_for @staff_assignment, remote:true, html: {id:'staff-assignment-form'} do |f| %>

  <table class="table" style="width: 100%">
    <tr>
      <th>Role</th>
      <th>Assigned User</th>
    </tr>
    <tr>
      <td>Administrative Assistant</td>
      <td><%= f.hidden_field :administrative_assistant_id, :"data-name" => @staff_assignment.administrative_assistant.try(:full_name) %></td>
    </tr>
    <tr>
      <td>Case Manager</td>
      <td><%= f.hidden_field :case_manager_id, :"data-name" => @staff_assignment.case_manager.try(:full_name) %></td>
    </tr>
    <tr>
      <td>Manager</td>
      <td><%= f.hidden_field :manager_id, :"data-name" => @staff_assignment.manager.try(:full_name) %></td>
    </tr>
    <tr>
      <td>Policy Specialist</td>
      <td><%= f.hidden_field :policy_specialist_id, :"data-name" => @staff_assignment.policy_specialist.try(:full_name) %></td>
    </tr>
    <tr>
      <td>Application Specialist</td>
      <td><%= f.hidden_field :application_specialist_id, :"data-name" => @staff_assignment.application_specialist.try(:full_name) %></td>
    </tr>
    <tr>
      <td>Underwriter</td>
      <td><%= f.hidden_field :underwriter_id, :"data-name" => @staff_assignment.underwriter.try(:full_name) %></td>
    </tr>
    <tr>
      <td>Insurance Coordinator</td>
      <td><%= f.hidden_field :insurance_coordinator_id, :"data-name" => @staff_assignment.insurance_coordinator.try(:full_name) %></td>
    </tr>
  </table>
  <%= f.submit("Save Staff Assignments", class:"btn btn-primary") if @staff_assignment.editable?(current_user) %>
<% end %>
</div>
<script>
    var $form = $("form#staff-assignment-form");
    <% if @staff_assignment.editable?(current_user) %>
      new SelectUser($form.find("input[name*='_id']"), {placeholder:'Application Division',initSelection: (function(element, callback) {
        var name = element.attr('data-name');
        callback({id: element.val(), text: name});
      })}).select2();
      $form.on('submit', function(e) {
        var action = $form.attr('action');
        $.post(action, $form.serialize(), function () {
          window.$rootScope.addBulletin({id:action, text:'Updated Staff Assignment', klass:'success'});
        });
        e.preventDefault();
        return false;
      });
    <% else %>
      // This is a hack to suppor the introduction of a permission to view but not edit the staff assignment. It's not a good time for me to either rebuild this view or build a new one.
      $form.find('input[name*="_id"]').each(function (i, elem) {
        $elem = $(elem);
        $newElem = $('<input type=text readonly>');
        $newElem.val($elem.data('name'));
        $elem.after($newElem);
      });
    <% end %>
</script>
