<div id="file-manager" ng-controller="RelatedConsumersCtrl" >
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Related Consumers
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <div class="btn-group ng-scope" uib-dropdown>
          <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
            Add Related Consumer <i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li><a data-toggle="modal" data-target="#add-existing-related-consumer-modal">Add Existing Related Consumer</a></li>
            <li><a data-toggle="modal" data-target="#add-new-related-consumer-modal">Add New Related Consumer</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section-content"
      ng-if="existingRelations && existingRelations.length">
      <div class="alert alert-warning" style="margin:10px;">
        <i class="fa fa-info-circle"></i>
        To modify a Beneficiary, Payer, or Owner of a policy, use the Policies tab.
        Click to expand a policy, scroll to Policy Details, and edit as needed.
      </div>
      <table class="table table-hover table-link" style="margin-bottom:0;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Relationship</th>
            <th>Primary Email / Phone</th>
            <th>Notes</th>
            <th class="text-center">Primary Contact</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="relationship in existingRelations"
            ng-include="'/consumers/related/display_for_related.html'">
          </tr>
        </tbody>
      </table>
    </div>
    <div class="section-content"
      style="padding: 20px;"
      ng-if="!existingRelations || !existingRelations.length">
      (There are currently no related consumers.)
    </div>
  </div>

  <!-- Add Existing Related Consumer Modal -->
  <div id="add-existing-related-consumer-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
          <h4 class="modal-title">Add Existing Related Consumer</h4>
        </div>
        <dr-last-bulletin></dr-last-bulletin>
        <div class="modal-body">
          <ng-include src="'/consumers/related/form_for_searched.html'"></ng-include>
          
          <h4>
            <span uib-tooltip="These are consumers that share an address, phone, email, or company with {{person.full_name.split(' ')[0]}}."
              tooltip-placement="top" tooltip-trigger="mouseenter">
              Suggested Relations 
              <i class="fa fa-question-circle"></i>
            </span>
          </h4>
          
          <div class="alert alert-info"
            ng-if="!suggestedRelations || !suggestedRelations.length">
            (There are currently no suggested relations for this consumer.)
          </div>
          <div id="suggested-relations" class="card-sm section"
            ng-if="suggestedRelations && suggestedRelations.length"
            ng-repeat="suggested in suggestedRelations"
            ng-include="'/consumers/related/form_for_suggested.html'">
          </div>

        </div>
        <div class="modal-footer">
          <a class="btn pull-left" data-dismiss="modal">Cancel</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Add New Related Consumer Modal -->
  <div id="add-new-related-consumer-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
          <h4 class="modal-title">Add New Related Consumer</h4>
        </div>
        <dr-last-bulletin></dr-last-bulletin>
        <ng-include src="'/consumers/related/form_for_new_related.html'"></ng-include>
      </div>
    </div>
  </div>

</div>