<td>
  <span class="label label-default"
    title="Full Numeric Id: {{relationship.otherPerson.id}}"
    ng-bind="relationship.otherPerson.id.toString(36).toUpperCase()"></span>
</td>
<td>
  <a ng-href="/consumers/{{relationship.otherPerson.id}}"
    target="_blank"
    title="Click to view this person.">
    {{relationship.otherPerson.full_name}}
    <i class="fa fa-external-link"></i>
  </a>
</td>
<td>
  <div ng-if="relationship.crm_case_id">
    {{relationship.stakeholder.full_name.split(' ')[0]}} is
    <small class="label label-info"
      ng-if="relationship.is_beneficiary">
      {{relationship.contingent ? 'Contingent' : 'Primary'}} Beneficiary
    </small>
    <small class="label label-danger"
      ng-if="relationship.is_owner">
      Policy Owner
    </small>
    <small class="label label-warning"
      ng-if="relationship.is_payer">
      Premium Payor
    </small>
    for Policy
    <span class="label label-default" ng-bind="relationship.crm_case_id"></span>.
  </div>
  {{relationship.primary_insured.full_name.split(' ')[0]}} is
  {{relationship.crm_case_id ? 'also' : ''}}
  {{relationship.stakeholder.full_name.split(' ')[0]}}'s
  <strong ng-bind="(relationship.relationship_type_id | enumValue : 'RELATIONSHIP_TYPES') || '-'"></strong>.
</td>
<td>
  <i class="fa fa-envelope"></i>
  <span ng-bind="(relationship.otherPerson.primary_email || {}).value || '-'"></span>
  <br>
  <i class="fa fa-phone"></i>
  <span ng-bind="(relationship.otherPerson.primary_phone  | drFormatPhone) || '-'"></span>
</td>
<td>
  <div class="grid-cell" ng-bind="relationship.note || '-'"></div>
</td>
<td class="text-center">
  <a ng-if="relationship.otherPerson.id == person.primary_contact_id"
    ng-click="setPrimaryContact(relationship.otherPerson.id)"
    ng-attr-title="{{'This person is '+person.full_name.split(' ')[0]+'\'s primary contact. Click to unset as primary contact.'}}">
    <i class="fa fa-check-square-o"></i>
  </a>
  <a ng-if="!(relationship.otherPerson.id == person.primary_contact_id)"
    ng-click="setPrimaryContact(relationship.otherPerson.id,relationship.otherPerson.full_name)"
    ng-attr-title="{{'Click to make this person '+person.full_name.split(' ')[0]+'\'s primary contact.'}}">
    <i class="fa fa-square-o"></i>
  </a>
</td>
<td>
  <div class="dropdown btn-group btn-xs pull-right" uib-dropdown>
    <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
      <li>
        <a ng-href="/consumers/{{relationship.otherPerson.id}}"
          target="_blank"
          title="Click to view this person.">
          View Person
        </a>
      </li>
      <li role="separator" class="divider"></li>
      <li ng-if="!relationship.crm_case_id">
        <a ng-click="deleteRelation(relationship.id)"
          title="Click to remove this relationship.">
          Unlink
        </a>
      </li>
    </ul>
  </div>
</td>