<div class="form-group">
  <h4>Lookup Consumer</h4>
  <ui-select theme="bootstrap"
    append-to-body="true"
    ng-model="relatedConsumerVars.searchedConsumer">
    <ui-select-match data-placeholder="Name">
      <div>{{$select.selected.full_name}} ({{$select.selected.id.toString(36).toUpperCase()}})</div>
      <small ng-if="$select.selected.company">{{$select.selected.company}}</small>
    </ui-select-match>
    <ui-select-choices
      repeat="consumer in consumersForSearch"
      refresh="searchConsumers($select.search)"
      refresh-delay="0">
      <div>{{consumer.full_name}} ({{consumer.id.toString(36).toUpperCase()}})</div>
    </ui-select-choices>
  </ui-select>
</div>
<div class="panel panel-default"
  ng-if="relatedConsumerVars.searchedConsumer && relatedConsumerVars.searchedConsumer.id">
  <div class="panel-heading">
    <span ng-bind="relatedConsumerVars.searchedConsumer.full_name"></span>
    <a ng-href="/consumers/{{relatedConsumerVars.searchedConsumer.id}}"
      title="Click to view this person."
      class="pull-right">
      <i class="fa fa-external-link"></i>
    </a>
  </div>
  <div class="panel-body">
    <div class="info-item">
      <label>ID</label>
      <div>
        <span class="label label-default"
          title="Full Numeric Id: {{relatedConsumerVars.searchedConsumer.id}}"
          ng-bind="relatedConsumerVars.searchedConsumer.id.toString(36).toUpperCase()">
        </span>
      </div>
    </div>
    <div class="info-item">
      <label>Primary Email</label>
      <div><span ng-bind="relatedConsumerVars.searchedConsumer.email"></span></div>
    </div>
    <div class="info-item">
      <label>Primary Phone</label>
      <div><span ng-bind="relatedConsumerVars.searchedConsumer.phone"></span></div>
    </div>
    <div class="info-item">
      <label>Relationship *</label>
      <div>
        <select class="form-control"
          ng-model="newRelationToExisting.relationship_type_id"
          ng-options="o.id as o.name for o in RELATIONSHIP_TYPES">
        </select>
      </div>
    </div>
    <div class="info-item">
      <label>Notes</label>
      <div>
        <textarea class="form-control"
         ng-model="newRelationToExisting.note" 
         cols="40" rows="2"></textarea>
      </div>
    </div>
    <div class="info-item">
      <label></label>
      <div>
        <a class="btn btn-primary"
          ng-disabled="!newRelationToExisting.relationship_type_id"
          ng-click="relateConsumer(relatedConsumerVars.searchedConsumer.id,newRelationToExisting)">
          Link Record
        </a>
      </div>
    </div>
  </div>
</div>