<div class="panel panel-default">
  <div class="panel-heading">
    {{suggested.name}}
    <a ng-href="/consumers/{{suggested.id}}"
      title="Click to view this person."
      class="pull-right">
      <i class="fa fa-external-link"></i>
    </a>
  </div>
  <div class="panel-body">
    <div class="info-item">
      <label>ID</label>
      <div>
        <span class="label label-default"
          title="Full Numeric Id: {{suggested.id}}"
          ng-bind="suggested.id.toString(36).toUpperCase()"></span>
      </div>
    </div>
    <div class="info-item">
      <label>Reason(s) for Suggestion</label>
      <div><span ng-bind="'('+suggested.reasons_for_suggestion.join(', ')+')'"></span></div>
    </div>
    <div class="info-item">
      <label>Relationship *</label>
      <div>
        <select class="form-control"
          ng-model="newRelationToExisting.relationship_type_id"
          ng-options="o.id as o.name for o in RELATIONSHIP_TYPES">
        </select>
      </div>
    </div>
    <div class="info-item">
      <label>Notes</label>
      <div>
        <textarea class="form-control"
         ng-model="newRelationToExisting.note"
         cols="40" rows="2"></textarea>
      </div>
    </div>
    <div class="info-item">
      <label></label>
      <div>
        <a class="btn btn-primary"
          ng-disabled="!newRelationToExisting.relationship_type_id"
          ng-click="relateConsumer(suggested.id,newRelationToExisting)">
          Link Record
        </a>
      </div>
    </div>
  </div>
</div>