<div class="modal-body">
  <div class="form-group">
    <label>Relationship to {{person.full_name}} *</label>
    <select class="form-control"
      ng-model="newRelationToNew.relationship_type_id"
      ng-options="o.id as o.name for o in RELATIONSHIP_TYPES">
    </select>
  </div>
  <div class="form-group">
    <label>Full name *</label>
    <input class="form-control" ng-model="newRelationToNew.stakeholder_attributes.full_name" size="30" type="text">
  </div>
  <div class="form-group">
    <label>Suffix</label>
    <input class="form-control"
      ng-model="newRelationToNew.stakeholder_attributes.suffix"
      placeholder="Sr, Jr, I, II, III, etc." size="30" type="text">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <div class="form-inline">
      <select class="form-control"
        ng-model="newRelationToNew.stakeholder_attributes.phones_attributes[0].phone_type_id"
        ng-options="t.id as t.name for t in PHONE_TYPES"
        style="display:inline;max-width:200px;">
      </select>
      <input class="form-control"
        ng-model="newRelationToNew.stakeholder_attributes.phones_attributes[0].value"
        placeholder="(999)999-9999" size="30" style="width:11em;" type="phone">
      ext.
      <input class="form-control" 
        ng-model="newRelationToNew.stakeholder_attributes.phones_attributes[0].ext"
        size="30" style="width:4em;" type="text">
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" ng-model="newRelationToNew.stakeholder_attributes.emails_attributes[0].value" size="30" type="email">
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-primary"
    ng-disabled="!newRelationToNew.stakeholder_attributes.full_name ||
                 !newRelationToNew.relationship_type_id"
    ng-click="relateConsumer(null,newRelationToNew)">
    Create &amp; Link
  </a>
  <a class="btn pull-left" data-dismiss="modal">Cancel</a>
</div>