\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{36px}
  \hspace{89px}
  <%= textfield nil, name:"examiner_name", borderwidth:"0", width:"44.6em" %>

  \vspace{5px}
  \hspace{85px}
  <%= textfield nil, name:"address", borderwidth:"0", width:"45em" %>

  \vspace{489px}
  \hspace{33px}
  <%= textfield @cons.full_name, name:"pi_name", borderwidth:"0", width:"24.3em" %>

  \vspace{-12px}
  \hspace{291px}
  <%= textfield @cons.birth_or_trust_date, name:"pi_dob", borderwidth:"0", width:"24.3em" %>

  \vspace{25px}
  \hspace{33px}
  <%= textfield nil, name:"pi_signature", borderwidth:"0", width:"24.3em" %>

  \vspace{-12px}
  \hspace{291px}
  <%= textfield nil, name:"pi_signature_date", borderwidth:"0", width:"24.3em" %>

  \vspace{25px}
  \hspace{350px}
  <%= signature height:"2em" %>
\end{Form}
