\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{81px}
  \hspace{100px}
  <%= textfield carrier_name(replacing[0]), name:"company_name", borderwidth:"0", width:"27em" %>

  \vspace{-12px}
  \hspace{435px}
  <%= textfield nil, name:"phone_number", borderwidth:"0", width:"11em" %>

  \vspace{2px}
  \hspace{70px}
  <%= textfield nil, name:"address", borderwidth:"0", width:"48em" %>

  \vspace{2px}
  \hspace{85px}
  <%= textfield @owner&.full_name, name:"policy_owner", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{435px}
  <%= textfield @owner&.ssn, name:"ssn_1", borderwidth:"0", width:"11em" %>

  \vspace{2px}
  \hspace{105px}
  <%= textfield nil, name:"joint_policy_owner", borderwidth:"0", width:"23em" %>

  \vspace{-12px}
  \hspace{435px}
  <%= textfield nil, name:"ssn_2", borderwidth:"0", width:"11em" %>

  \vspace{2px}
  \hspace{115px}
  <%= textfield nil, name:"annuitant_participant", borderwidth:"0", width:"22em" %>

  \vspace{-12px}
  \hspace{435px}
  <%= textfield nil, name:"ssn_3", borderwidth:"0", width:"11em" %>

  \vspace{3px}
  \hspace{110px}
  <%= textfield @kase.policy_number, name:"policy_number", borderwidth:"0", width:"12em" %>

  \vspace{3px}
  \hspace{146px}
  <%= checkbox nil, name:"check1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{223px}
  <%= checkbox nil, name:"check2", width:"7px", height:"7px" %>

  \vspace{3px}
  \hspace{146px}
  <%= checkbox nil, name:"check3", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{223px}
  <%= checkbox nil, name:"check4", width:"7px", height:"7px" %>

  \vspace{25px}
  \hspace{271px}
  <%= checkbox nil, name:"check5", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{349px}
  <%= checkbox nil, name:"check6", width:"7px", height:"7px" %>

  \vspace{-14px}
  \hspace{445px}
  <%= textfield nil, name:"transfer_amount", borderwidth:"0", width:"10em" %>

  \vspace{4px}
  \hspace{26px}
  <%= checkbox nil, name:"check7", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{180px}
  <%= checkbox nil, name:"check8", width:"7px", height:"7px" %>

  \vspace{-14px}
  \hspace{353px}
  <%= textfield nil, name:"existing_contract_number", borderwidth:"0", width:"10em" %>

  \vspace{74px}
  \hspace{26px}
  <%= checkbox nil, name:"check9", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{80px}
  <%= checkbox nil, name:"check10", width:"7px", height:"7px" %>

  \vspace{124px}
  \hspace{70px}
  <%= textfield nil, name:"signature_time", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{282px}
  <%= textfield nil, name:"signature_day", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{380px}
  <%= textfield nil, name:"signature_month", borderwidth:"0", width:"10em" %>

  \vspace{-12px}
  \hspace{495px}
  <%= textfield nil, name:"signature_year", borderwidth:"0", width:"5em" %>

  \vspace{20px}
  \hspace{30px}
  <%= textfield nil, name:"signature_policy_owner", borderwidth:"0", width:"24em" %>

  \vspace{-12px}
  \hspace{310px}
  <%= textfield nil, name:"signature_spouse", borderwidth:"0", width:"24em" %>

  \vspace{83px}
  \hspace{30px}
  <%= textfield nil, name:"new_policy_number", borderwidth:"0", width:"9em" %>

  \vspace{-12px}
  \hspace{135px}
  <%= textfield nil, name:"authorized_signature", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{328px}
  <%= textfield nil, name:"authorized_signature_title", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{461px}
  <%= textfield nil, name:"authorized_signature_date", borderwidth:"0", width:"9em" %>
\end{Form}
