
\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{76px}
  \hspace{128px}
  <%= textfield @kase.policy_number, name:"policy_number", borderwidth:"0", width:"11em" %>

  \vspace{-12px}
  \hspace{353px}
  <%= textfield @cons.full_name, name:"insured_name", borderwidth:"0", width:"20em" %>

  \vspace{46px}
  \hspace{30px}
  <%= checkbox nil, name:"check1", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox nil, name:"check2", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox nil, name:"check3", width:"7px", height:"7px" %>

  \vspace{0px}
  \hspace{30px}
  <%= checkbox nil, name:"check4", width:"7px", height:"7px" %>

  \vspace{23px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.full_name, name:"primary_bene_name_1", borderwidth:"0", width: "53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.primary_address&.street, name:"primary_bene_address_1", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[1-1]&.primary_address&.city, name:"primary_bene_city_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[1-1]&.primary_address&.state&.abbrev, name:"primary_bene_state_1", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[1-1]&.primary_address&.zip, name:"primary_bene_zip_1", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.primary_phone&.value, name:"primary_bene_phone_1", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[1-1]&.primary_email&.value, name:"primary_bene_email_1", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[1-1]&.ssn, name:"primary_bene_ssn_1", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[1-1]&.gender == MALE, name:"primary_bene_male_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[1-1]&.gender == FEMALE, name:"primary_bene_female_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[1-1]&.birth_or_trust_date, name:"primary_bene_dob_1", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[1-1]&.relationship_type&.name, name:"primary_bene_relationship_to_pi_1", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[1-1]&.percentage, name:"primary_bene_percentage_1", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.full_name, name:"primary_bene_name_2", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.primary_address&.street, name:"primary_bene_address_2", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[2-1]&.primary_address&.city, name:"primary_bene_city_2", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[2-1]&.primary_address&.state&.abbrev, name:"primary_bene_state_2", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[2-1]&.primary_address&.zip, name:"primary_bene_zip_2", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.primary_phone&.value, name:"primary_bene_phone_2", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[2-1]&.primary_email&.value, name:"primary_bene_email_2", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[2-1]&.ssn, name:"primary_bene_ssn_2", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[2-1]&.gender == MALE, name:"primary_bene_male_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[2-1]&.gender == FEMALE, name:"primary_bene_female_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[2-1]&.birth_or_trust_date, name:"primary_bene_dob_2", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[2-1]&.relationship_type&.name, name:"primary_bene_relationship_to_pi_2", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[2-1]&.percentage, name:"primary_bene_percentage_2", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[3-1]&.full_name, name:"primary_bene_name_3", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[3-1]&.primary_address&.street, name:"primary_bene_address_3", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[3-1]&.primary_address&.city, name:"primary_bene_city_3", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[3-1]&.primary_address&.state&.abbrev, name:"primary_bene_state_3", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[3-1]&.primary_address&.zip, name:"primary_bene_zip_3", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[3-1]&.primary_phone&.value, name:"primary_bene_phone_3", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[3-1]&.primary_email&.value, name:"primary_bene_email_3", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[3-1]&.ssn, name:"primary_bene_ssn_3", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[3-1]&.gender == MALE, name:"primary_bene_male_3", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[3-1]&.gender == FEMALE, name:"primary_bene_female_3", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[3-1]&.birth_or_trust_date, name:"primary_bene_dob_3", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[3-1]&.relationship_type&.name, name:"primary_bene_relationship_to_pi_3", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[3-1]&.percentage, name:"primary_bene_percentage_3", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[4-1]&.full_name, name:"primary_bene_name_4", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[4-1]&.primary_address&.street, name:"primary_bene_address_4", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[4-1]&.primary_address&.city, name:"primary_bene_city_4", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[4-1]&.primary_address&.state&.abbrev, name:"primary_bene_state_4", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[4-1]&.primary_address&.zip, name:"primary_bene_zip_4", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[4-1]&.primary_phone&.value, name:"primary_bene_phone_4", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[4-1]&.primary_email&.value, name:"primary_bene_email_4", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[4-1]&.ssn, name:"primary_bene_ssn_4", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[4-1]&.gender == MALE, name:"primary_bene_male_4", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[4-1]&.gender == FEMALE, name:"primary_bene_female_4", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[4-1]&.birth_or_trust_date, name:"primary_bene_dob_4", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[4-1]&.relationship_type&.name, name:"primary_bene_relationship_to_pi_4", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[4-1]&.percentage, name:"primary_bene_percentage_4", borderwidth:"0", width:"9em" %>
\end{Form}
