\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{4px}
  \hspace{30px}
  <%= checkbox nil, name:"section_8_primary_bene_secondary_insured_purpose_1", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_8_primary_bene_secondary_insured_purpose_2", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_8_primary_bene_secondary_insured_purpose_3", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_8_primary_bene_secondary_insured_purpose_4", width:"7px", height:"7px" %>

  \vspace{26px}
  \hspace{21px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_name_1", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_address_1", borderwidth:"0", width:"21.5em" %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_city_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_state_1", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_zip_1", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_phone_1", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_email_1", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_ssn_1", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox nil, name:"section_8_primary_bene_secondary_insured_male_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox nil, name:"section_8_primary_bene_secondary_insured_female_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_dob_1", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_relationship_to_pi_1", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_percentage_1", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_name_2", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_address_2", borderwidth:"0", width:"21.5em" %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_city_2", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_state_2", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_zip_2", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_phone_2", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_email_2", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_ssn_2", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox nil, name:"section_8_primary_bene_secondary_insured_male_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox nil, name:"section_8_primary_bene_secondary_insured_female_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_dob_2", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_relationship_to_pi_2", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield nil, name:"section_8_primary_bene_secondary_insured_percentage_2", borderwidth:"0", width:"9em" %>

  \vspace{38px}
  \hspace{30px}
  <%= checkbox nil, name:"section_9_contingent_bene_secondary_insured_purpose_1", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_9_contingent_bene_secondary_insured_purpose_2", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_9_contingent_bene_secondary_insured_purpose_3", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_9_contingent_bene_secondary_insured_purpose_4", width:"7px", height:"7px" %>

  \vspace{29px}
  \hspace{21px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_name_1", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_address_1", borderwidth:"0", width:"21.5em" %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_city_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_state_1", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_zip_1", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_phone_1", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_email_1", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_ssn_1", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox nil, name:"section_9_contingent_bene_secondary_insured_male_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox nil, name:"section_9_contingent_bene_secondary_insured_female_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_dob_1", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_relationship_to_pi_1", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_percentage_1", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_name_2", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_address_2", borderwidth:"0", width:"21.5em" %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_city_2", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_state_2", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_zip_2", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_phone_2", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_email_2", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_ssn_2", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox nil, name:"section_9_contingent_bene_secondary_insured_male_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox nil, name:"section_9_contingent_bene_secondary_insured_female_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_dob_2", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_relationship_to_pi_2", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield nil, name:"section_9_contingent_bene_secondary_insured_percentage_2", borderwidth:"0", width:"9em" %>
\end{Form}
