\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{-5px}
  \hspace{16px}
  <%= textfield nil, name:"applicant_signature", borderwidth:"0", width:"20em" %>

  \vspace{-12px}
  \hspace{223px}
  <%= textfield nil, name:"applicant_signature_date", borderwidth:"0", width:"5em" %>

  \vspace{-12px}
  \hspace{293px}
  <%= textfield nil, name:"producer_signature", borderwidth:"0", width:"20em" %>

  \vspace{-12px}
  \hspace{500px}
  <%= textfield nil, name:"producer_signature_date", borderwidth:"0", width:"5em" %>

  \vspace{26px}
  \hspace{16px}
  <%= textfield @cons.full_name, name:"applicant_name", borderwidth:"0", width:"26em" %>

  \vspace{-12px}
  \hspace{293px}
  <%= textfield aor&.full_name, name:"producer_name", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{460px}
  <%= textfield @license&.number, name:"producer_license_number", borderwidth:"0", width:"9em" %>

  \vspace{25px}
  \hspace{16px}
  <%= textfield @cons.primary_address&.street, name:"applicant_address", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{-12px}
  \hspace{293px}
  <%= textfield aor.primary_address&.street, name:"producer_address", borderwidth:"0", width:"26em", maxlen:46 %>

  \vspace{25px}
  \hspace{16px}
  <%= textfield @cons.primary_address&.city, name:"applicant_city", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{165px}
  <%= textfield @cons.primary_address&.state&.abbrev, name:"applicant_state", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{223px}
  <%= textfield @cons.primary_address&.zip, name:"applicant_zip", borderwidth:"0", width:"5em" %>

  \vspace{-12px}
  \hspace{293px}
  <%= textfield aor.primary_address&.city, name:"producer_city", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{441px}
  <%= textfield aor.primary_address&.state&.abbrev, name:"producer_state", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{500px}
  <%= textfield aor.primary_address&.zip, name:"producer_zip", borderwidth:"0", width:"5em" %>

  \vspace{26px}
  \hspace{16px}
  <%= textfield @cons.phones[0]&.to_s(omit_type: true), name:"applicant_phone", borderwidth:"0", width:"26em" %>

  \vspace{-12px}
  \hspace{293px}
  <%= textfield aor.phones[0]&.to_s(omit_type: true), name:"producer_phone", borderwidth:"0", width:"26em" %>

  \vspace{26px}
  \hspace{270px}
  <%= textfield nil, name:"producer_signature", borderwidth:"0", width:"20em" %>
\end{Form}
