\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{209px}
  \hspace{207px}
  <%= checkbox nil, name:"section_18_interview_request", width:"7px", height:"7px" %>

  \vspace{263px}
  \hspace{55px}
  <%= textfield nil, name:"section_18_signature_city", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{208px}
  <%= textfield nil, name:"section_18_signature_state", borderwidth:"0", width:"3em", maxlen:2 %>

  \vspace{-12px}
  \hspace{288px}
  <%= textfield nil, name:"section_18_signature_day", borderwidth:"0", width:"3em" %>

  \vspace{-12px}
  \hspace{350px}
  <%= textfield nil, name:"section_18_signature_day", borderwidth:"0", width:"9em" %>

  \vspace{-12px}
  \hspace{483px}
  <%= textfield nil, name:"section_18_signature_month", borderwidth:"0", width:"4em", maxlen:4 %>

  \vspace{22px}
  \hspace{15px}
  <%= textfield nil, name:"section_18_pi_signature", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{295px}
  <%= textfield @cons.full_name, name:"section_18_pi_name", borderwidth:"0", width:"25em", maxlen:45 %>

  \vspace{31px}
  \hspace{15px}
  <%= textfield nil, name:"section_18_si_signature", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{295px}
  <%= textfield nil, name:"section_18_si_name", borderwidth:"0", width:"25em" %>

  \vspace{22px}
  \hspace{15px}
  <%= textfield nil, name:"section_18_owner_signature", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{295px}
  <%= textfield nil, name:"section_18_owner_name", borderwidth:"0", width:"25em" %>

  \vspace{25px}
  \hspace{80px}
  <%= signature height:"2em" %>

  \vspace{-12px}
  \hspace{295px}
  <%= textfield @aor.full_name, name:"section_18_agent_name", borderwidth:"0", width:"25em", maxlen:45 %>
\end{Form}
