<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()">×</a>
    <h4 class="modal-title">Impersonate</h4>
  </div>
  <div id="toolbar-impersonator" class="modal-body" style="overflow:visible;">
    <ui-select theme="bootstrap"
      ng-model="$root.tmpUserForImpersonation"
      on-select="impersonate($item.id); close();"
      append-to-body="true">
      <ui-select-match data-placeholder="Name">
        <div>{{$select.selected.full_name}} ({{$select.selected.id.toString(36).toUpperCase()}})</div>
        <small ng-if="$select.selected.company">{{$select.selected.company}}</small>
      </ui-select-match>
      <ui-select-choices class="text-left"
        repeat="user in usersForSearch"
        refresh="searchUsers($select.search)"
        refresh-delay="0">
        <div>{{user.full_name}} ({{user.id.toString(36).toUpperCase()}})</div>
        <small ng-if="user.company">{{user.company}}</small>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="modal-footer">
    <a class="btn pull-left" ng-click="close()">Close</a>
  </div>
</div>