<div class="modal-header">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  <h4 class="modal-title">Socket Comm</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<form ng-controller="SocketClientCtrl"
  ng-submit="publish_to_socket()"
  style="margin: 0;">
  <div id="toolbar-socketcomm" class="modal-body">
    <div class="info-item">
      <label style="vertical-align:top;">Communication Type</label>
      <div>
        <ul style="margin:0;">
          <li>
            <label uib-tooltip="Bulletins show along the top of the screen, fading out after a few seconds. They remain visible within the Notifications menu">
              <input type="radio" ng-model="socketVars.mode" value="bulletin">
              Bulletin
              <i class="fa fa-question-circle"></i>
            </label>
          </li>
          <li>
            <label uib-tooltip="Alerts pop over the window and require users to acknowledge by clicking 'OK' before they can resume their work">
              <input type="radio" ng-model="socketVars.mode" value="alert">
              Alert
              <i class="fa fa-question-circle"></i>
            </label>
          </li>
          <li>
            <label uib-tooltip="A script can do something more complex, like add a persistent message to the screen, highlight a button, or force a cache refresh, for example. Use with caution">
              <input type="radio" ng-model="socketVars.mode" value="js">
              Script
              <i class="fa fa-question-circle"></i>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-item">
      <label style="vertical-align:top;">
        <span uib-tooltip="Leave recipients list blank to broadcast to all users. Otherwise, it will only go to specified users">
          Recipients
          <i class="fa fa-question-circle"></i>
        </span>
      </label>
      <div>
        <ui-select multiple
          theme="bootstrap"
          ng-model="socketVars.recipients"
          sortable="true"
          close-on-select="false"
          append-to-body="true">
          style="margin-bottom: 0.5em;">
          <ui-select-match placeholder="Enter Names Here">
            <div>{{$item.full_name}} ({{$item.id.toString(36).toUpperCase()}} / {{$item.id}})</div>
            <small ng-if="$item.company">{{$item.company}}</small>
          </ui-select-match>
          <ui-select-choices class="text-left"
            refresh="searchUsers($select.search)"
            refresh-delay="0"
            repeat="user.id as user in usersForSearch">
            <div>{{user.full_name}} ({{user.id.toString(36).toUpperCase()}})</div>
            <small ng-if="user.company">{{user.company}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="info-item">
      <label style="vertical-align:top;">Content *</label>
      <div>
        <textarea class="form-control" ng-model="socketVars.content"></textarea>
      </div>
    </div>
  </div><!-- End .modal-body -->
  <div class="modal-footer">
    <a class="btn" ng-click="close()">Close</a>
    <input class="btn btn-success" type="submit"
      ng-disabled="!socketVars.content">
  </div>
</form>

