/*
  This file includes the shared logic for consumer-facing, embeddable quoters.
  It is intended to be backward compatibly to ES5 (ECMAScript 2009).
  It is loaded via the script at path `/quoting/widgets/{{widget_id}}.js`.
  It accepts an object named `window.InsureioQuoterHooks` with any/all of the following functions:
    `onInit`    : Hooks into the widget initialization event.
                  Has access to `widget`, a reference to the widget object.
    `onVisible` : Hooks into the widget visibility event, useful if placed in a modal or initially scrolled out of view.
                  Has access to `widget`, a reference to the widget object.
    `btn1`      : Hooks into the button on the first page of the process. For lead capture widgets this is the same as `btn3`.
                  Has access to `element`, a reference to the button, for manipulation of styling and behavior.
    `btn2`      : Hooks into the button on each quote in the results modal, when the button is created (after quote results are returned).
                  Has access to `element`, a reference to the button, for manipulation of styling and behavior.
    `btn3`      : Hooks into the button on the optional third page of quoting widgets, which is the only page of lead capture widgets.
                  Has access to `element`, a reference to the button, for manipulation of styling and behavior.
    `onSubmit`  : Hooks into the submit event, before data is sent to Insureio.
                  Has access to `widget`, a reference to the widget object.
    `onSubmitted`:Hooks into the submit event, after data is sent to Insureio, and before the redirect has occurred.
                  Has access to `widget`, `jqXHROrResponseData`, and `textStatus`.
*/

//Only load these blocks if not already loaded.
if(!window.loadJQueryForInsureioQuoters || !window.InsureioQuoterClass){

    window.loadJQueryForInsureioQuoters=function (window, document, callback) {
        var requiredVersion='1.11.1',
            j= window.jQueryForInsureioQuoters || window.jQuery;
        if( !j || requiredVersion != j.fn.jquery ){
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "//ajax.googleapis.com/ajax/libs/jquery/"+requiredVersion+"/jquery.min.js";
            script.onload = script.onreadystatechange = function () {
                var d = this.readyState
                if( !d || d == "complete" ){
                    window.jQueryForInsureioQuoters=window.jQuery.noConflict(true);
                    callback();
                }
            };
            var head = (document.getElementsByTagName("head")[0] || document.documentElement);
            head.appendChild(script);
        }else{
            window.jQueryForInsureioQuoters=j.noConflict(true);
            callback();
        }
    }

    window.InsureioQuoterClass={
        states:                 JSON.parse("<%= Enum::State.all.to_json.gsub('"','\\\"') %>"),
        idForRttCarrier:        <%= Carrier::ID_FOR_MOTORISTS %>,
        idForRttProductType:    JSON.parse("<%= Enum::ProductType.id('Term') %>"),
        idForPremiumModeMonthly:JSON.parse("<%= Enum::PremiumModeOption.id('Monthly') %>"),
        idForPremiumModeAnnual: JSON.parse("<%= Enum::PremiumModeOption.id('Annual') %>"),
        ratingExplanationText:"Service And Reliability Ratings Explained\n\n"+
        "We work with many different insurance companies. Some process applications quickly and efficiently. "+
        "Others are less efficient. Our evaluation is based on (1) the ease of filling out an application, "+
        "(2) the time it takes to underwrite an application, (3) the flexibility in underwriting (will they "+
        "bend their rules on close situations to allow you to qualify for the lowest rates?), (4) the percentage "+
        "of cases requiring additional information, (5) the time it takes to retrieve additional information, "+
        "(6) the effectiveness and timeliness of their communication with us, and (7) the time to reissue a policy.\n\n"+
        "Our highest rating is 5-Stars and our lowest is 1-Star. If there is only a few dollars difference between "+
        "a company with a 5-Star rating and one with a 1-Star rating, we recommend the 5-Star rated company. "+
        "However, you make the choice. We simply want the process to be as smooth and efficient as possible and feel this information may be important to you.",
        triggerRatingExplanation:function(){
            alert(ratingExplainationText);
        },
        hasId: function(){
            var t=this,
                $=t.$;
            return !!t.leadImportData.consumer.id;
        },
        initInstance: function(instanceObj){
            var t=this,
                i=instanceObj,
                $ = window.jQueryForInsureioQuoters;
            console.log('Initializing Insureio Quoter id '+i.id+'.');

            $.extend(true,i,t);//Deep copy this object into the instance object.

            //Define some commonly accessed selectors for the namespace
            //(Defining the selectors instead of the jQuery objects, because those don't seem to pass intact from one method to another.)
            i.widget             ="#dr-quoter-widget-"+i.id;
            i.modal              =i.widget+'-modal';
            i.stage1             =i.widget+' .stage1';
            i.tunnelId           =i.id+'-xss-tunnel-iframe';
            i.stage2             =i.modal +' .stage2';
            i.stage3             =i.modal +' .stage3';
            i.button1            =i.stage1+' widget-btn';
            i.button2            =i.stage2+' quote-results-list widget-btn';
            i.button3            =i.stage3+' widget-btn';
            //selector for personally identifiable info fields, or elements containing only such fields
            i.pii                =i.widget+' [data-pii],'+i.modal+' [data-pii]'+i.widget+' [data-pii] *,'+i.modal+' [data-pii] *';
            i.paramsObj          ={};
            i.$                  =$;

            i.leadImportDataTemplate={
                //Agent/key/widget combo here is for authentication.
                agent_id:  i.agent_id,
                key:       i.key,
                widget_id: i.id,
                consumer: {
                    quoter_url: document.URL,
                    ip_address: i.ip_address,
                    product_cat_id: i.productCatId,
                    emails_attributes: [{}],
                    addresses_attributes: [{}],
                    phones_attributes: [{}],
                    opportunities_attributes: [{
                        sales_stage_id: 1,
                        product_type_id:1,//only term life is quoted currently
                    }],
                    notes_attributes:[],
                    //Brand here is for lead distribution.
                    brand_id:   i.brand_id,
                    lead_type:  i.lead_type,
                    source:     i.source,
                    referrer:   i.referrer,
                    tags_attributes: i.tags_attributes,
                }
            };

            if(i.widgetType=='rtt'){
                i.leadImportDataTemplate.consumer.rtt_answers={};
                i.leadImportDataTemplate.consumer.health_info_attributes={};
            }


            $('body').append(i.modalMarkup);

            if(window.InsureioQuoterHooks){
                if( (typeof window.InsureioQuoterHooks.onInit) =='function'){
                    var widget=i;
                    window.InsureioQuoterHooks.onInit();
                }
                if( (typeof window.InsureioQuoterHooks.btn1) =='function'){
                    var element=$(i.button3);
                    window.InsureioQuoterHooks.btn1();
                }
                if( (typeof window.InsureioQuoterHooks.btn3) =='function'){
                    var element=i.widgetType=='cap' ? $(i.button1) : $(i.button3);
                    window.InsureioQuoterHooks.btn3();
                }
            }

            //make clicking outside the modal hide the modal.
            $(i.modal).mousedown(function(evt){
                if( $(evt.target).is(i.modal) ){
                    $(i.modal).hide();
                    $('body').css('overflow','scroll');
                }
            });
            i.setOrResetLeadImportData();
            i.listenForWidgetView();
        },
        setOrResetLeadImportData:function(){
            var t=this,
                $=t.$,
                $boundElements,
                $boundElementsInStage1;
            t.leadImportData=$.extend(true,{},t.leadImportDataTemplate);

            if($(t.widget).length>0){
                //If the widget container element exists already, replace it.
                $(t.widget).replaceWith(    t.containerMarkup);
            }else if($(t.widget+'-script').length){
                var $scriptElement = $(t.widget+'-script');
                if (!!$($scriptElement).closest('body').length) {
                    /* the <script> is in <body> */
                    $scriptElement.after(t.containerMarkup);
                } else {
                    /* the <script> is in <head> */
                    $('body').prepend(t.containerMarkup)
                }
            }

            $boundElements=$(t.widget+', '+t.modal).find('input[data-binding], select[data-binding]');
            $boundElementsInStage1=$(t.stage1).find('input[data-binding], select[data-binding]');
            $boundElements.change(function(){ t.dataBindingChangeCb(this); });//attach callback so form inputs refresh the object
            $boundElementsInStage1.change();//trigger change so the defaults from the markup are loaded into the object

            //make $25k face amount option only usable for 'Lifetime' duration.
            $(t.widget+' select[name="duration_id"]').on('change',function(){
                $(t.widget+' select[name="quoter[face_amount]"] option[value=25000]').prop( 'disabled', $(this).find('option:selected').text()!='Lifetime' );
            });
            $(t.widget+' select[name="duration_id"]').change();

            t.readOrGenerateGuid();
            t.prepopulateInfoFromWindowVarsUrlAndLocalStorage();
        },
        clearAllPII:function(){
            var t=this,
                $=t.$,
                currentWindowLocation=window.location,
                newWindowLocation=window.location.href.replace(window.location.search,''),
                urlParams=window.location.search.split(/[\?&]/),
                ioUrlParamMatchPattern=new RegExp('(io_){0,1}('+Object.keys(t.shortKeysMap).join('|')+')=.*'),
                filteredUrlParams=[];
            t.clearLocallyStoredData();
            //Filter io params out of the url, so those do not get reloaded.
            $.each( urlParams, function( idx, keyValueString ) {
              if( keyValueString && !keyValueString.match( ioUrlParamMatchPattern ) ){
                filteredUrlParams.push(keyValueString);
              }
            });
            if(urlParams.length>0 && urlParams.length>filteredUrlParams.length){
                if(filteredUrlParams.length>0){
                    newWindowLocation+='?'+filteredUrlParams.join('&');
                }
                if(history && history.pushState){
                    history.pushState({}, "", newWindowLocation);
                }else{
                    window.location.replace(newWindowLocation);
                }
            }
            t.setOrResetLeadImportData();//will set leadImportData to defaults and replace stage1 markup.
        },
        dataBindingChangeCb:function(element){
            var t             =this,
                $             =t.$,
                $this         =$(element),
                binding       =$this.attr('data-binding'),
                newValFromDom =$this.val(),
                isCheckedInDom=!!$this.prop('checked');
            if($this.prop('disabled')){return;}
            if($this.attr('type')=='radio' && !isCheckedInDom){return;}

            t.updateObj([binding],newValFromDom);

            //Set other fields with same binding value to match this one.
            t.updateDomFromObj(binding, newValFromDom, isCheckedInDom);
        },
        updateDomFromObj: function(key,value,checked){
            var t=this,
                $=t.$,
                $elements=$(t.widget+', '+t.modal).find('input, select').filter('[data-binding="'+key+'"]');
            $elements.filter('[type=checkbox],[type=radio]').filter('[value="'+value+'"]').prop('checked', checked );
            $elements.filter('[type!=checkbox][type!=radio]').val(value);
        },
        updateObj: function(keysToChange,newVal){
            var t=this,
                $=t.$;
            $.each(keysToChange,function(i,b){
                if (window.DEBUG) console.log('Updating '+b+' to be "'+newVal+'".' );
                eval("t.leadImportData.consumer."+b+"='"+newVal+"'" );
            });
        },
        readOrGenerateGuid: function(){
            var t=this,
                $=t.$,
                guid=function() {//taken from: https://stackoverflow.com/a/105074/1998680
                    function s4() {
                      return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
                    }
                    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                    s4() + '-' + s4() + s4() + s4();
                };
            if(localStorage.InsureioRttGuid){
                t.rttGuid=localStorage.InsureioRttGuid;
            }else{
                t.rttGuid=localStorage.InsureioRttGuid=guid();
            }
        },
        storeDataLocally: function(){
            var t=this,
                $=t.$;
            if( (typeof Storage) == "undefined" ){ return; }
            localStorage.InsureioConsumerData=JSON.stringify(t.leadImportData.consumer);
            localStorage.InsureioRttAnswers=JSON.stringify(t.leadImportData.consumer.rtt_answers);
            var objToCopy={
                InsureioConsumerData: localStorage.InsureioConsumerData,
                InsureioRttAnswers:   localStorage.InsureioRttAnswers
            }
            t.copyToInsureioDomain(objToCopy);
        },
        retrieveLocallyStoredData: function(){
            var t=this,
                $=t.$;
            if( (typeof Storage) == "undefined" ){ return {}; }
            return JSON.parse( localStorage.InsureioConsumerData || '{}' );
        },
        clearLocallyStoredData:function(){
            localStorage.InsureioConsumerData='{}';
            localStorage.InsureioRttAnswers='{}';
            var objToCopy={InsureioConsumerData: '{}', InsureioRttAnswers: '{}'};
            this.copyToInsureioDomain(objToCopy);
        },
        copyToInsureioDomain: function(objToCopy){
            //Since localStorage is domain-specific,
            //this will ensure the data is also stored where the Insureio app will have access to it.
            var t=this,
                $=t.$,
                tunnel=window.frames[t.tunnelId].contentWindow;
            tunnel.postMessage(objToCopy,t.rootUrl);
        },
        shortKeysMap:{
            //This object maps shortened keys (referenced in DOM form fields, window vars, url params)
            //to full length method chains (used in the nested object that gets passed to server and stored locally).
            //Functions `parseTheUrl` and `updateDomFromObj` make use of this mapping.
            agent_id:      'agent_id',
            key:           'key',
            brand_id:      'consumer.brand_id',
            consumer_id:   'consumer.id',
            address_id:    'consumer.addresses_attributes[0].id',
            state_id:      'consumer.addresses_attributes[0].state_id',
            birth_day:     'consumer.birth_day',
            birth_month:   'consumer.birth_month',
            birth_year:    'consumer.birth_year',
            height:        'consumer.height',
            weight:        'consumer.weight',
            gender:        'consumer.gender',
            tobacco:       'consumer.tobacco',
            duration_id:   'consumer.opportunities_attributes[0].duration_id',
            face_amount:   'consumer.opportunities_attributes[0].face_amount',
        },
        parseTheUrl:function(){
            var t=this,
                $=t.$,
                urlParams=window.location.search.replace('?','').replace(/\?/g,'&').split('&'),
                urlParamsObj={},
                paramsObj={
                    consumer:{
                        addresses_attributes:[{}],
                        opportunities_attributes:[{}],
                        tags_attributes:[],
                    }
                };

            $.each(urlParams,function(index,value){
                var tmp=decodeURIComponent(value).split('='),
                    k  =tmp[0],
                    v  =tmp[1];
                if(tmp.length==2){urlParamsObj[k]=v;}
            });

            var shortKeys=Object.keys(t.shortKeysMap),
                tagsObj=paramsObj.tags_attributes;
            $.each(urlParamsObj,function(key,value){
                var paramIsATag=key.match(/^(dr|io)_tags\[(.+)\]/),
                    tagKey=paramIsATag ? paramIsATag[1] : null,
                    unprefixedKey=key.replace(/^io_/,''),
                    keyIsInShortList=shortKeys.indexOf(unprefixedKey)!=-1,
                    fullLengthMethodChain=t.shortKeysMap[unprefixedKey];
                if(keyIsInShortList && value!=null){
                    eval('paramsObj.'+fullLengthMethodChain+'="'+value+'"');
                }else if(paramIsATag){
                    tagsObj.push({key: tagKey, value: value});
                }
            });

            return paramsObj;
        },
        parseWindowVars: function(){
            var t=this,
                $=t.$,
                objToPopulate={
                    consumer:{
                        addresses_attributes:[{}],
                        opportunities_attributes:[{}],
                        tags_attributes:[],
                    }
                };
            //Allow host page to also override select datum via prefixed window variables.
            //InsuranceDivision site makes use of this functionality for [agent_id, key, brand_id].
            for(var key in t.shortKeysMap){
                var fullLengthMethodChain=t.shortKeysMap[key],
                    customValue=window['io_'+key];//must be a truthy object literal than can be easily converted to a string.
                if(customValue){
                    eval('objToPopulate.'+fullLengthMethodChain+'="'+customValue+'"');
                }
            }
            return objToPopulate;
        },
        prepopulateInfoFromWindowVarsUrlAndLocalStorage: function(){
            var t=this,
                $=t.$;

            console.log(t.widget+': About to check window variables, url query string, and localStorage for usable data.');
            //This approach necessarily assigns a priority order, where keys in later objects can override those in earlier ones.
            //In practice, I can't see this being important. Users really should choose only one approach for overriding default data.
            $.extend( true,
                t.leadImportData,
                t.parseWindowVars(),
                t.parseTheUrl(),
                {consumer:t.retrieveLocallyStoredData()}
            );

            //Fill form fields from object.
            //Using a loop rather than `updateDomFromObj`
            var formElements=$(t.widget+', '+t.modal).find('input[data-binding], select[data-binding]');
            formElements.each(function(idx){
                var $el=$(this),
                    keyOrChain=$el.attr('data-binding'),
                    shortKeys=Object.keys(t.shortKeysMap),
                    keyOrChainIsAShortKey=shortKeys.indexOf(keyOrChain)>-1,
                    value;
                if( keyOrChainIsAShortKey ){
                    var fullLengthMethodChain=t.shortKeysMap[keyOrChain];
                    value=eval('t.leadImportData.'+fullLengthMethodChain);
                }else{
                    value=eval('t.leadImportData.consumer.'+keyOrChain);
                }

                if( $el.attr('type')=='radio' || $el.attr('type')=='checkbox' ){
                    $el.prop('checked', $el.attr('value')==value );
                }else{
                    $el.val(value);
                }
            });

            if(!t.leadImportData.consumer.id){return;}

            $(t.stage1+' .whom-for').css('display','block');

            var clearBtnLabel='',
                name=t.leadImportData.consumer.full_name || t.leadImportData.consumer.first_name;
            if(name){
                clearBtnLabel="That last quote was for "+name+'. Not you?';
            }else{
                clearBtnLabel="We've got saved data from your last visit. Start over?";
            }
            $(t.stage1+' .whom-for label').text(clearBtnLabel);

            $(t.pii).remove();//remove personally identifiable info fields from dom.
        },
        listenForWidgetView: function(){
            //For purposes of event tracking, widget becoming visible is the same as a widget being viewed.

            var t=this,
                $=t.$,
                visibilityCheckFunction=function(){
                    if( $(t.widget).is(":visible") ){
                        clearInterval(t.visibilityCheckTimer);
                        t.trackWidgetView();
                    }else{
                    }
                };
            t.visibilityCheckTimer=setInterval(visibilityCheckFunction, 5000);
            if(window.InsureioQuoterHooks && (typeof window.InsureioQuoterHooks.onVisible)=='function'){
                var widget=t;
                window.InsureioQuoterHooks.onVisible();
            }
        },
        trackWidgetView: function(){
            var t=this,
                $=t.$,
                paramsObj={consumer_id: t.leadImportData.consumer.id||null, brand_id: t.leadImportData.consumer.brand_id||null};
            /*
              Post to the #track_widget_view action,
              sending the id of the consumer (in case it was set via url params or a cookie),
              and of the brand (in case it was changed via a script on InsuranceDivision).
            */
            console.log('insureioQuoter'+t.id+' has been viewed.');
            $.ajax({
                type: "POST",
                url: t.rootUrl+"quoting/widgets/"+t.id+"/track_widget_view.html",
                contentType:'application/json',
                data:JSON.stringify( paramsObj )//jQuery will serialize to formData by default.
            });
        },
        getQuotes: function(){

            var t=this,
                $=t.$,
                widgetTypeHelperFunctionName='get'+t.widgetTypeCamelized+'Quotes',
                consumerNotes=t.leadImportData.consumer.notes_attributes,
                newNote={text:'This consumer record was submitted from stage 1 of '+t.widgetIdString+', from IP address '+t.ip_address+'.'};

            if(t.waitingForQuotes){
                return;
            }else{
                t.waitingForQuotes=true;
            }

            t.storeDataLocally();
            consumerNotes.push(newNote);
            t[widgetTypeHelperFunctionName]();
            consumerNotes.pop();
        },
        getTliQuotes: function(){
            var t=this,
                $=t.$;
            var errorMsgs=t.validateFormForQuoting();
            if (errorMsgs.length==0){
                $(t.modal).css('display','');
                $('body').css('overflow','hidden');
                $(t.stage2).show();
                $(t.modal+' .quote-results-list').empty();
                $(t.modal+' .loading-graphic').show();
                $.ajax({
                    type: "POST",
                    url: t.rootUrl+"quoting/get_quotes.json",
                    contentType:'application/json',
                    data: JSON.stringify( t.massageLeadImportData() ),//jQuery will serialize to formData by default.
                    success: function (data) {
                        //Apply ids, if any, returned in JSON response.
                        t.renderQuoteResults(data.results);

                        if(data.consumer_id){
                            t.leadImportData.consumer.id=data.consumer_id;
                            t.leadImportData.consumer.addresses_attributes[0].id=data.address_id
                        }

                        t.storeDataLocally();
                        t.prepopulateInfoFromWindowVarsUrlAndLocalStorage();//Update the GUI. Only change should be the addition of "That last quote was for..." text.

                        $(t.stage2+' .loading-graphic').hide();
                        $('.more-info-btn').click(function(){
                            $(this).siblings(".additional-info").slideToggle();
                        });
                    },
                    error: function (data) {
                        $(t.stage2+' .loading-graphic').hide();
                        $(t.stage2+' .quote-results-list').append("Failed to fetch quotes.<br/>");
                        if(data.status!=500){
                            $(t.stage2+' .quote-results-list').append(data.responseJSON.errors);
                        }
                    },
                    complete: function(){
                        t.waitingForQuotes=false;
                    }
                });
            }else{
                alert( errorMsgs.join(".\n")+'.' );
            }
            return false;
        },
        getLtcQuotes: function(){
            var t=this,
                $=t.$;
            t.waitingForQuotes=false;
            //
        },
        getRttQuotes: function(){
            var t=this,
                $=t.$,
                lidt=t.leadImportDataTemplate,
                rttAnswers=t.leadImportData.consumer.rtt_answers,
                params=$.extend(true, {}, t.massageLeadImportData(), {rtt_answers:rttAnswers}),
                oppAttrs=params.consumer.opportunities_attributes[0];
            delete params.consumer.rtt_answers;
            oppAttrs.carrier_id=t.idForRttCarrier;
            oppAttrs.product_name='Real Time Term'
            oppAttrs.product_type_id=t.idForRttProductType;
            params.consumer.cases_attributes=[{quoting_details_attributes:[ oppAttrs ] }];
            delete params.consumer.opportunities_attributes;
            for(var i in t.states){
                if(t.states[i].name==params.consumer.state){
                    params.consumer.addresses_attributes[0].state_id=t.states[i].id;
                    delete params.consumer.state;
                    break;
                }
            }
            t.waitingForQuotes=false;
            window.location=t.rootUrl+'rtt/?agent_id='+t.agent_id+'&key='+t.key+'&brand_id='+t.brand_id;
        },
        renderQuoteResults: function(results){
            var t=this,
                $=t.$,
                periodText=$(t.stage1+' .quoter_benefit_period').find(":selected").text();
            //Treat it like a term widget whether it is or not, because that is the only type of quoting supported at present.
            for(var idx in results){
                try{
                    console.log(idx);
                    var template=$(t.modal+' #tli-result-template').clone(),//$(t.tliResultMarkup),
                        r=results[idx];
                    template.attr('id',null);
                    template.find('.period-text'    ).html( periodText );
                    template.find('.face-amount'    ).html( r.face_amount.toLocaleString('en',     {maximumFractionDigits:2}) );
                    template.find('.monthly-premium').html( r.monthly_premium.toLocaleString('en', {maximumFractionDigits:2}) );
                    template.find('.annual-premium' ).html( r.annual_premium.toLocaleString('en',  {maximumFractionDigits:2}) );
                    template.find('.carrier-am-best').html( r.carrier.am_best || '-' );

                    var carrierEl   =template.find('.carrier-sprite'),
                        starRatingEl=template.find('.star-rating'),
                        ratingLinkEl=template.find('.rating-link')
                        selectBtnEl =template.find('.widget-btn');

                    carrierEl.attr('title',r.carrier.name)
                    if( (typeof r.carrier.sprite_offset)!='undefined' && r.carrier.sprite_offset!=null ){
                        var bgStyleString='background-image: url('+t.rootUrl+'carrier_logos/'+r.carrier.sprite_offset+'.png);'+
                                          'height: 60px; width: 160px;';
                        carrierEl.attr('style',bgStyleString);

                    }else{
                        carrierEl.html(r.carrier.name);
                        carrierEl.attr('style','height:60px; width:160px; text-align:center;');
                    }
                    if(r.carrier.pinney_rating==0){ starRatingEl.html('-'); }
                    starRatingEl.attr('title', (r.carrier.pinney_rating||'-')+' out of 5 stars')
                    for(var i=0; i<r.carrier.pinney_rating; i++){
                        starRatingEl.append( $('<i class="dr-icon-star">&nbsp;</i>') );
                    }
                    ratingLinkEl.bind( "click", function() {
                        t.triggerRatingExplanation();
                    });
                    selectBtnEl.addClass('apply-btn-'+idx);

                    r.carrier={id:r.carrier.id, name:r.carrier.name.replace(/'/g,''), sprite_offset:r.carrier.sprite_offset};
                    //Using inline JS versus a listener here for easier debugging.
                    var resultObjStr=JSON.stringify(r).replace(/"/g,"'");
                    selectBtnEl.attr('onclick','insureioQuoter'+t.id+'.chooseQuote('+resultObjStr+',\'.apply-btn-'+idx+'\')');

                    $(t.stage2+' .quote-results-list').append(template);
                    $( $(t.stage2+' .quote-results-list .quote-result')[idx] ).attr('style',null);
                    $( $(t.stage2+' .quote-results-list .quote-result .widget-btn')[idx] ).val(t.button2Text);

                    if(window.InsureioQuoterHooks && (typeof window.InsureioQuoterHooks.btn2) =='function'){
                        var element=$(t.stage2+' .quote-results-list .widget-btn')[idx];
                        window.InsureioQuoterHooks.btn2();
                    }
                }catch(e){
                    console.error(e,r);
                }
            }
        },
        validateFormForQuoting: function(){
            var t=this,
                $=t.$,
                errorMsgs=[];

            $.each(['month','day','year'],function(index,field){
                var $element=$(t.stage1+" select[name='birth_"+field+"']")
                if ($element.children('option:checked').val() == "") {
                    errorMsgs.push("You must enter your birth "+field);
                    $element.addClass('error');
                }else{
                    $element.removeClass('error');
                }
            });
            var $weightEl=$(t.stage1+" input[name='weight']")
            if ($weightEl.val() == "") {
                errorMsgs.push("You must enter your weight");
                $weightEl.addClass('error');
            }else{
                $weightEl.removeClass('error');
            }
            var $stateEl=$(t.stage1+" select.quoter_state_id");
            if( !$stateEl.val() ){
                errorMsgs.push("You must select your state");
                $stateEl.addClass('error');
            }else{
                $stateEl.removeClass('error');
            }
            if (t.leadImportData.consumer.addresses_attributes[0].state_id!=$stateEl.val()) {
                //In case cookies or url params set this to something blank,
                //reset the value back to what is displayed in the select menu (which has no blank option).
                t.leadImportData.consumer.addresses_attributes[0].state_id=$stateEl.val();
            }

            if(!t.hasId() ){

               var $name=$(t.stage1+" input[name='name']")
                if ($name.val() == "") {
                    errorMsgs.push("You must enter your full name");
                    $name.addClass('error');
                }else{
                    $name.removeClass('error');
                }
                var $email=$(t.stage1+" input[name='email']"),
                    $phone=$(t.stage1+" input[name='phone']");
                if($email.length && !$email.val().match(/.*@.*\..*/)){
                    $email.addClass('error');
                     errorMsgs.push("Email must be valid.");
                }else{
                    $email.removeClass('error');
                }
                if($phone.length && !$phone.val().match(/.{0,1}\d{3}.{0,1}\d{3}.{0,1}\d{4}/)){
                    $phone.addClass('error');
                     errorMsgs.push("Phone must be 10 digits.");
                }else{
                    $phone.removeClass('error');
                }
            }
            return errorMsgs;
        },
        massageLeadImportData: function(qo,applyBtn){
            //This function performs necessary manipulations on a copy of the data, and returns that copy.
            var t=this,
                $=t.$,
                conn=$.extend(true,{},t.leadImportData.consumer);
            if( conn.tobacco_cigarette_last ){
                conn.tobacco=true;
            }else if( (typeof conn.tobacco_cigarette_last)!='undefined' && !conn.tobacco_cigarette_last ){
                conn.tobacco=false;
            }
            if( typeof(conn.height)!=='undefined'){
                conn.feet  =conn.feet  =conn.height.split('_')[0]
                conn.inches=conn.inches=conn.height.split('_')[1]||0
                delete(conn.height);
            }
            if( typeof(conn.birth_month)!=='undefined'){
                var birth=new Date(Date.parse(conn.birth_month+'/'+conn.birth_day+'/'+conn.birth_year));

                /*
                In order to correct validly formatted but non-existant dates (for which rails would throw an exception),
                this replaces the original date with a real date. If the original was real, then it is unchanged.
                If, for example, the date was 09/31/2014, it would be corrected to 10/01/2014.
                */
                birth=('0'+(birth.getMonth()+1)).slice(-2)+'/'+
                      ('0'+ birth.getDate()).slice(-2)+'/'+
                            birth.getFullYear();
                conn.birth=birth;
                delete(conn.birth_month);
                delete(conn.birth_day);
                delete(conn.birth_year);
            }

            // force best class b/c Ryan said so
            conn.opportunities_attributes[0].health = 'PP';

            return {
                agent_id:  t.agent_id,
                key:       t.key,
                consumer:  conn,
                widget_id: t.id,
            };
        },
        chooseQuote: function(qo,clickedBtnSelector){//copy data from quote object and stage1 to stage3, then call chooseTliQuote or chooseLtcQuote.
            var t=this,
                $=t.$,
                widgetTypeHelperFunctionName='choose'+t.widgetTypeCamelized+'Quote',
                quote_object= qo,
                gender      = $(t.stage1+" input:radio[name='quoter[gender]']:checked").val();
            if(!t.hasId()){
                $(t.stage2).hide();
                $(t.stage3).show();
            }

            if(quote_object.carrier.sprite_offset){
                $(t.stage3+' .carrier-sprite').css('background-position', '0 ' + (quote_object.carrier.sprite_offset * -60) + 'px');
                $(t.stage3+' .carrier-sprite').show();
            }
            $(t.stage3+' .display-carrier-name').text(quote_object.carrier.name);

            //Explicitly specify that this quote should be included in forecasts,
            //so that this opportunity takes precedence over the incomplete one which may have been saved from the first stage.
            t.leadImportData.consumer.opportunities_attributes[0].include_in_forecasts = true;

            t[widgetTypeHelperFunctionName](quote_object);

            if(t.hasId()){
                t.submitApplication($(t.stage2+' '+clickedBtnSelector));
            }
        },
        chooseTliQuote: function(quote_object){
            var t=this,
                $=t.$;

            function numberWithCommas(x) {
                return x.toLocaleString('en', {maximumFractionDigits:2});
            }

            if(!t.hasId()){
                $(t.stage3+' .display-face-amount').text('$' + numberWithCommas(quote_object.face_amount) );
                $(t.stage3+' .display-premium'    ).text('$' + numberWithCommas(quote_object.monthly_premium) + "/mo $" + numberWithCommas(quote_object.annual_premium) + "/yr");
                $(t.stage3+' .display-category'   ).text(quote_object.period_text);
                $(t.stage3+' .display-product'    ).text(quote_object.product_name);
                $(t.stage3+' .display-face-amount').parent('strong').show();
                $(t.stage3+' .display-premium'    ).parent('strong').show();
                $(t.stage3+' .display-category'   ).parent('strong').show();
                $(t.stage3+' .display-product'    ).parent('strong').show();

            }

            var qda                  = t.leadImportData.consumer.opportunities_attributes[0];
            qda.carrier_id           = quote_object.carrier.id;
            qda.face_amount          = quote_object.face_amount;
            qda.product_type_name    = "Term";
            qda.carrier_health_class = quote_object.health_name;
            qda.health               = $(t.stage1+' .quoter_health_class').val();
            qda.premium_mode_id      = t.idForPremiumModeMonthly;
            qda.planned_modal_premium= quote_object.monthly_premium;
            qda.plan_name            = quote_object.product_name;
            qda.duration_id          = quote_object.period.id;
        },
        chooseLtcQuote: function(quote_object){
            var t=this,
                $=t.$;

            if(!t.hasId()){
                $(t.stage3+' .display-premium').text('$' + quote_object.premium);
                $(t.stage3+' .display-product').text(quote_object.product_name);
                $(t.stage3+' .display-premium').parent('strong').show();
                $(t.stage3+' .display-product').parent('strong').show();
            }

            var qda               = t.leadImportData.consumer.opportunities_attributes[0];
            qda.plan_name         = quote_object.product_name;
            qda.product_type_name = "Ltc";
            qda.carrier_name      = quote_object.carrier.name;
            qda.premium_mode_id      = t.idForPremiumModeAnnual;
            qda.planned_modal_premium = quote_object.premium;
        },
        chooseSpiaQuote: function(quote_object){
        },
        chooseXraeQuote: function(quote_object){
        },
        back: function() {
            var t=this,
                $=t.$,
                $s2=$(t.stage2),
                $s3=$(t.stage3);

            if($s2.css('display')=='none'){
                $(t.stage2).show();
                $(t.stage3).hide();
            }else{
                $(t.stage2).hide();
                $(t.modal).hide();
                $('body').css('overflow','scroll');
            }
        },
        submitApplication: function($stage2Btn, silent) {
            var t=this,
                $=t.$,
                formValid=true,
                errorMsgs=[];

            var conn=t.leadImportData.consumer;

            if(!t.hasId()){
                var requiredFields=['full-name','phone','email']
                //if submitting before stage3, do not require address
                if($(t.stage3).css('display')!='none'){
                    requiredFields=requiredFields.concat(['address','city','state','zip']);
                }

                $.each(requiredFields,function(index,field){
                    var $element=$(t.stage3+' .'+field);
                    if (typeof($element.val())=="undefined" || $element.val()=="") {
                        errorMsgs.push("You must enter your "+field.replace('full-',''));
                        $element.addClass('error');
                        formValid = false;
                    }else{
                        $element.removeClass('error');
                    }
                });
                if(!formValid){
                    if(silent){
                        console.log('Will not silently submit lead due to errors. '+errorMsgs.join(".\n")+'.');
                    }else{
                        alert(errorMsgs.join(".\n")+'.');
                    }
                    return;
                }
            }

            if( (typeof $stage2Btn)!='undefined' && $stage2Btn!=null){
                var $submitBtn = $stage2Btn,
                    enabledText= t.button2Text,
                    busyText   = t.button2Text+'...';
                    if(!conn.notes_attributes[0]){conn.notes_attributes.push({})};
                    conn.notes_attributes[0].text='This consumer record was submitted from stage 2 of '+t.widgetIdString+', from IP address '+t.ip_address+'.';
            }else{
                var $submitBtn = $(t.stage3+' .submit-btn'),
                    enabledText= t.button3Text,
                    busyText   = t.button3Text+'...';
                    if(!conn.notes_attributes[0]){conn.notes_attributes.push({})};
                    conn.notes_attributes[0].text='This consumer record was submitted from stage 3 of '+t.widgetIdString+', from IP address '+t.ip_address+'.';
            }

            $submitBtn.prop('disabled', true);
            $submitBtn.prop('value', busyText);

            if( window.InsureioQuoterHooks && (typeof window.InsureioQuoterHooks.onSubmit)=='function'){
                var widget=t;
                window.InsureioQuoterHooks.onSubmit();
            }
            $.ajax({
                type: "POST",
                url: t.rootUrl+'consumers.json',
                contentType:'application/json',
                data: JSON.stringify( t.massageLeadImportData() ),//jQuery will serialize to formData by default.
            }).always(function(jqXHROrResponseData, textStatus, errorThrown){
                $submitBtn.prop('disabled', false);
                $submitBtn.prop('value', enabledText);

                debugger;
                if( window.InsureioQuoterHooks && (typeof window.InsureioQuoterHooks.onSubmitted)=='function'){
                    var widget=t;
                    window.InsureioQuoterHooks.onSubmitted();
                }
                if(textStatus=="success"){//success
                    if(typeof(silent)!='undefined' && silent==true){
                        console.log('Request was silently submitted.');
                    }else{
                        alert("Thank you, your request has been submitted");
                    }
                    console.log(jqXHROrResponseData);
                    if(t.redirectUrl.length){
                        window.location.href = t.redirectUrl;
                    }
                }else{//error
                    if(typeof(silent)!='undefined' && silent==true){
                        console.log('Application was silently submitted but failed.',jqXHROrResponseData,errorThrown);
                    }else{
                        alert('Something went wrong with submitting the application. Please make sure all fields are filled out correctly.');
                    }
                }

            });
        }
    };

    function addIEConsoleShim(){
        if (typeof console === "undefined" || typeof console.log === "undefined") {
            console = {};
            console.log = console.error = function() {};
        }
    }

    addIEConsoleShim();
}