\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{327px}
  \hspace{34px}
  <%= textfield carrier_name(replacing[0]), name:"insurance_company_1", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{297px}
  <%= textfield replacing[0]&.consumer&.full_name, name:"insured_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield replacing[0]&.policy_number, name:"contract_number_1", borderwidth:"0", width:"8em" %>

  \vspace{12px}
  \hspace{34px}
  <%= textfield carrier_name(replacing[1]), name:"insurance_company_2", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{297px}
  <%= textfield replacing[1]&.consumer&.full_name, name:"insured_2", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield replacing[1]&.policy_number, name:"contract_number_2", borderwidth:"0", width:"8em" %>

  \vspace{12px}
  \hspace{34px}
  <%= textfield carrier_name(replacing[2]), name:"insurance_company_3", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{297px}
  <%= textfield replacing[2]&.consumer&.full_name, name:"insured_3", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield replacing[2]&.policy_number, name:"contract_number_3", borderwidth:"0", width:"8em" %>

  \vspace{12px}
  \hspace{34px}
  <%= textfield carrier_name(replacing[3]), name:"insurance_company_4", borderwidth:"0", width:"25em" %>

  \vspace{-12px}
  \hspace{297px}
  <%= textfield replacing[3]&.consumer&.full_name, name:"insured_4", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield replacing[3]&.policy_number, name:"contract_number_4", borderwidth:"0", width:"8em" %>

  \vspace{60px}
  \hspace{34px}
  <%= textfield nil, name:"producer_signature", borderwidth:"0", width:"30.5em" %>

  \vspace{-12px}
  \hspace{357px}
  <%= textfield nil, name:"producer_signature_date", borderwidth:"0", width:"17.6em" %>

  \vspace{36px}
  \hspace{34px}
  <%= textfield nil, name:"applicant_signature", borderwidth:"0", width:"30.5em" %>

  \vspace{-12px}
  \hspace{357px}
  <%= textfield nil, name:"applicant_signature_date", borderwidth:"0", width:"17.6em" %>

  \vspace{50px}
  \hspace{300px}
  <%= signature height:"2em" %>
\end{Form}
