<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <style type="text/css">

  body {
    margin-top: 0px;
    margin-left: 0px;
    font-family:'Times New Roman';
    font-size:13px;
  }

  div > ul {
    padding-left: 25px;
    width:577px;
  }
  ul {
    list-style-type: none;
    margin-top:12px;
    font-size:11px;
    line-height: 15px;
    font-weight:bold;
  }
  ul ul {
    margin-top: 0;
    margin-bottom: 2px;
    padding-left: 45px;
    font-weight:normal;
  }
  input[type="checkbox"] {
    height:13px;
    padding:0;
    margin:3px 3px 3px 4px;
  }
  table {
    width:650px;
    font-size:13px;
  }

  .small{
    font-size: 11px;
    line-height: 13px;
  }
  .smaller{
    font-size: 8px;
    line-height: 10px;
  }

  .consumer-data {
    font-family: Arial, Helvetica, sans-serif;
  }

  @media print {
    @page {
      size: letter portrait;
      margin:0;
      padding:0;
    }
  }

  .page {
    position:relative;
    margin: 0 auto;/*43px 0px 26px 96px;*/
    border: none;
    width: 720px;
    height: 987px !important;
    page-break-inside: avoid;
    break-after: page;
    -webkit-transform: scale(1.1,1.1);
    -webkit-transform-origin: center top;
  }
  .page:not(:last-child) {
    page-break-after: always;
  }
  .bg-img {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    <% if @is_for_pdf %>
    -webkit-transform: scale(1,1);
    -webkit-transform-origin: center;
    <% end %>
  }
  .bg-img.no-offset {
    top:0;
    left:0;
  }
  .bg-img.no-offset img {
    width: 720px;
    height: 987px;
  }
  .pi-name-ssn-label {
    margin-top:-7px;
  }
  .footer {
    position: absolute;
    bottom: 0px;
  }
  .footer .dated-at-label{
    margin:0;
  }
  .footer .city-state-date-label{
    margin-top:-7px;
    margin-left:55px;
  }
  .footer table {
    width:635px;
    margin-top:-10px;
    margin-left: 30px;
  }
  .footer table tr td:first-child{
    width: 292px;
    border: 1px solid black;
    height: 32px;
  }
  .footer table tr td:last-child{
    width: 340px;
    border: 1px solid black;
    height: 32px;
  }

  .checked-box{
    display:inline-block;
    width:0;
    height:0;
    /* Most browsers block background colors when printing. But they retain borders. */
    border:0.4em solid black;
  }

  .unchecked-box{
    display:inline-block;
    width:0.7em;
    height:0.7em;
    border:1px solid black;
    background-color:white;
  }

  #id_1 {
    border:none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border:none;
    width: 720px;
    overflow: hidden;
  }

  </style>
</head>

<body>
  <%
    #Data urls are used here because they render the same via rails controller as they do via WickedPDF.
    #It appears that lambdas assigned to instance variables from the controller
    #don't get passed into the view, and there is no sense creating a helper file for
    #methods only used in this particular view, so this gets assigned here.
    @make_svg_data_url=lambda do |file_name,file_type='image/svg+xml'|
      "data:#{file_type};base64,#{Base64.strict_encode64(File.read Rails.root+'public/rtt/form_backgrounds/'+file_name)}"
    end

    #If here's only one primary and one contingent bene, with reasonable length names,
    #they go in section 6 of first page. Otherwise, they go in the supplemental info form.
    benes              =@policy.stakeholder_relationships.select{|sr| sr.is_beneficiary }
    primary_benes      =benes.select{|b| !b.contingent }
    contingent_benes   =benes.select{|b| b.contingent }

    @bene_overflow="Beneficiaries:\n"
    (primary_benes+contingent_benes).each_with_index do |b, i|
      @bene_overflow+="#{b.contingent ? 'Contingent' : 'Primary'}#{i+1}: #{b.full_name} (#{b.relationship_type.name}) Share:#{b.percentage}%, SSN:#{b.ssn}\n"
      if b.stakeholder && (b.stakeholder.primary_phone || b.stakeholder.primary_email || b.stakeholder.primary_address)
        @bene_overflow+="#{b.stakeholder.primary_phone} #{b.stakeholder.primary_email} #{b.stakeholder.primary_address.to_s.sub("\n",' ') }"
      end
    end

    a=@rtt_answers
    @remarks=''
    @remarks+=a[:applied_in_past_120_days_detail]+"\n"      if a[:applied_in_past_120_days_detail]
    @remarks+=a[:settlement_detail]+"\n"                    if a[:settlement_detail]
    @remarks+=a[:funded_by_financing_agreement_detail]+"\n" if a[:funded_by_financing_agreement_detail]
    @remarks+=a[:remarks]+"\n"                              if a[:remarks]
    if @remarks.count("\n")>1
      @remarks_overflow=@remarks
      @remarks="(See Supplemental Form)"
    end
  %>

  <%# Pages from ICC15-2501 form: %>
  <%(1..5).to_a.each do |i| %>
    <%= render "/rtt/forms/basic_info_p#{i}.html" %>
  <% end %>

  <% if @remarks_overflow || @bene_overflow %>
    <%=render "/rtt/forms/supplemental_info.html" %>
  <% end %>
  <%
  [
    'health_question_01',
    'health_question_02',
    'health_question_03',
    'health_question_04',
    'health_question_05_08',
    'health_question_09',
    'health_question_10_13',
  ].each do |t| %>
    <%
      @section_number=t.match(/(\d+\_?\d+)/)[0].sub(/^0/,'').sub(/\_0/,'-')
      min_question_num,max_question_num=t.match(/(\d+)\_?(\d+)/)[1..2].map(&:to_i)
      min_question_num=max_question_num if min_question_num==0
      question_num_prefixes=(min_question_num..max_question_num).map{|n| n.to_s.rjust(2,'0') }
      show_section=@scor_health_answers.any?{|key, value| question_num_prefixes.include?( key.to_s.match(/^RMM(\d+)/)[1] ) && value }
    %>
    <%= render('/rtt/forms/'+t) if show_section %>
  <% end %>
  
  <%# Page from ML-159 form: %>
  <%=render "/rtt/forms/hippa_release.html" %>
  <%# Page from ML-230 form: %>
  <%=render "/rtt/forms/brokerage_release.html" %>
  <%# Page from ICC10-73 form: %>
  <%=render "/rtt/forms/eft_release.html" %>

  <!--Information on Policies which may be replaced-->
  <% @replaced_policies=@consumer.cases.where( is_a_preexisting_policy: true ).includes(:quoting_details).to_a %>
  <%
    @replaced_motorists_policies=@consumer.cases.where(replaced_by_id: @policy.id).
      joins(:quoting_details).where('quoting_details.carrier_id=?',Carrier::ID_FOR_MOTORISTS).includes(:quoting_details)
  %>
  <%=render "/rtt/forms/replacement_#{@consumer.primary_address.state.abbrev}.html" if @replaced_policies.present? %>

  <% state_specific_file_name="accelerated_benefits_disclosure_#{@consumer.primary_address.state.abbrev}.html" %>
  <% if File.exist?(Rails.root+"app/views/rtt/forms/_#{state_specific_file_name}.erb") %>
    <%=render "/rtt/forms/#{state_specific_file_name}" %>
  <% end %>

</body>
</html>
