<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style type="text/css">
/* CLIENT-SPECIFIC STYLES */
body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
img { -ms-interpolation-mode: bicubic; }

/* RESET STYLES */
img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
table { border-collapse: collapse !important; }
body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    .mobile-hide {
        display: none !important;
    }
    .mobile-center {
        text-align: center !important;
    }
}

/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] { margin: 0 !important; }
</style>
<body style="margin: 0 !important; padding: 0 !important; background-color: #f1f1f1;" bgcolor="#f1f1f1">

<!-- HIDDEN PREHEADER TEXT -->
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Open Sans, Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
<%= @stakeholder.first_name %>, your application is ready for e-signature.
</div>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="background-color: #f1f1f1;" bgcolor="#f1f1f1">
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
        <td align="center" valign="top" width="600">
        <![endif]-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
            <tr>
                <td align="center" valign="top" style="font-size:0; padding: 35px;" bgcolor="#f1f1f1">
                <!--[if (gte mso 9)|(IE)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                <td align="left" valign="top" width="300">
                <![endif]-->
                <div style="display:inline-block; max-width:100%; min-width:100px; vertical-align:top; width:100%;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                        <tr>
                            <td align="center" valign="top" style="color: #a7a7a7; font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 11px; line-height: 13px;" class="mobile-center">
                                Having trouble viewing this email? <a href="<%= @msg_view_url %>">Click here</a><br />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="display:inline-block; max-width:100%; min-width:100px; vertical-align:top; width:100%;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                        <tr>
                            <td align="center" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 25px;" class="mobile-center">
                                 <%= @policy.consumer.brand.header_small %>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
                </td>
            </tr>
            <tr>
                <td align="center" style="height: 5px; background-color: #2b74a7; font-size: 0; line-height:5px; margin: 0; padding: 0;" bgcolor="#2b74a7" height="5px" border="0">
                </td>
            </tr>
            <tr>
                <td align="center" style="padding: 35px; background-color: #ffffff;" bgcolor="#ffffff">
                <!--[if (gte mso 9)|(IE)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                <td align="center" valign="top" width="600">
                <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                    <tr>
                        <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-bottom: 15px; border-bottom: 3px solid #eeeeee;">
                            <h2 style="font-size: 36px; font-weight: bold; line-height: 49px; color: #2B74A7; margin: 0;">
                                Your Input Is Needed
                            </h2><br>
                            <img src="https://www.insurancedivision.com/email/images/icon_app-sign.png" width="90" height="95" style="display: block; border: 0px;"/>
                            <p style="font-size: 24px; line-height: 34px; color: #a5a5a5;">
                                You have been listed as the owner and payor for a life insurance policy.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 25px 0;">
                            <p style="font-size: 16px; line-height: 25px; color: #2B74A7; font-weight:bold;">
                                Please click the link below and follow the on-screen directions to access the policy and submit the required information
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 25px 0 15px 0;">
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" style="border-radius: 5px;" bgcolor="#2B74A7">
                                      <a href="<%= @link_url %>" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #2B74A7; padding: 15px 30px; border: 1px solid #2B74A7; display: block;">Review and Sign Application</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
                </td>
            </tr>
            <tr>
                <td align="center" style="padding: 35px; background-color: #ffffff; border-top: 20px solid #f1f1f1; border-bottom: 20px solid #f1f1f1;" bgcolor="#ffffff" height="100%" valign="top" width="100%">
                <!--[if (gte mso 9)|(IE)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                <td align="center" valign="top" width="600">
                <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                    <tr>
                        <td align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 25px; padding-bottom: 25px;">
                            <h3 style="font-size: 20px; line-height: 24px; color: #555555; margin: 0;">
                                Hello,
                            </h3>
							<p style="font-size: 16px; line-height: 25px; color: #555555;">
								You have been listed as the owner and payor of a new life insurance policy for <%= @policy.consumer.full_name %>. In order for their application to be processed, you will need to provide payment information, review, and submit the application for them.
							</p>
							<p style="font-size: 16px; line-height: 25px; color: #555555;">
								Please click the link below and follow the on-screen directions to access the policy and submit the required information:
							</p>
							<p style="font-size: 16px; line-height: 25px; color: #555555;">
								<a href="<%= @link_url %>" style="color:#2B74A7; text-decoration: none;">Click here to review and sign application</a>
							</p>
							<p style="font-size: 16px; line-height: 25px; color: #555555;">
									If you have any questions, please contact me for help.
							</p>
                            <p style="font-size: 16px; line-height: 25px; color: #555555; margin-top:50px; ">
                                Best regards,<br/>
                                <b><%= @policy.agent.full_name %></b><br/>
                                <%= @policy.agent.brand_specific_fallback_primary_email @policy.consumer.brand %><br/>
                                <%= @policy.consumer.brand.phone %>
                            </p>
                        </td>
                    </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
                </td>
            </tr>
            <tr>
                <td align="center" style="padding: 10px; background-color: #f1f1f1; border-top: 1px solid #dddddd;" bgcolor="#f1f1f1">
                <!--[if (gte mso 9)|(IE)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                <td align="center" valign="top" width="600">
                <![endif]-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                    <tr>
                        <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 10px; line-height: 20px; color: #999999; padding: 0;">
                            <p>
                                <%= @policy.agent.license_info %>
                            </p>
                            <p>
                                Your personal information and privacy are protected by strict adherence to the data security measures outlined in our
                                <a href="https://insurancedivision.com/uploads/InsuranceDivisionPrivacyandDataSecurityPolicy.pdf">Privacy and Data Security Policy</a>.
                            </p>
                            <p>
                                This message was sent to <%= @stakeholder.email %><br/>
                            </p>
                            <p>
                                <%= @policy.agent.copyright %>
                            </p>
                        </td>
                    </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
                </td>
            </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
        </td>
    </tr>
</table>
</body>
</html>
