<div id="branding-assignments">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-sitemap"></i> Agency Management</h3>
      <h2>Brand Assignments</h2>
    </div>
    <div class="right">
      <!-- Placeholder -->
    </div>
  </div>

  <div class="section-container"
    ng-controller="ProfileMembershipsCtrl">
    <div class="section-content">

      <div class="alert alert-info">
        <p>Type in the <strong>Add a User</strong> box and click a result to select. Your selection will display as a number beside the search box. Repeat to select a <strong>Brand/Profile</strong>.</p>

        <p>When a user and brand/brand are selected, they will display together beneath the search boxes. Click Save Changes or refresh your browser to clear selections.</p>
      </div>

      <div class="grid grid--gutters">
        <div class="grid-cell grid--shrink">
          <label style="display:block;">Add a User</label>
          <ui-select theme="bootstrap"
            ng-model="tmpUser"
            on-select="brandMembershipVars.agents.push($item); tmpUser=null;"
            style="min-width:260px;display:inline-block;">
            <ui-select-match data-placeholder="Add a User">
              <div>
                {{$select.selected.full_name}}
                ({{$select.selected.id.toString(36).toUpperCase()}})
              </div>
              <small ng-if="$select.selected.company">{{$select.selected.company}}</small>
            </ui-select-match>
            <ui-select-choices class="text-left"
              repeat="a in usersForSearch"
              refresh="searchUsers($select.search)"
              refresh-delay="100">
              <div>
                {{a.full_name}}
                ({{a.id.toString(36).toUpperCase()}})
              </div>
              <small ng-if="a.company">{{a.company}}</small>
            </ui-select-choices>
          </ui-select>
          <span class="label label-primary" style="border-radius:1em;"
            ng-class="brandMembershipVars.agents.length ? '' : 'lighter'"
            ng-bind="brandMembershipVars.agents.length"></span>
        </div>
        <div class="grid-cell grid--shrink">
          <label style="display:block;">Add a Brand/Profile</label>
          <ui-select theme="bootstrap"
            ng-model="tmpProfile"
            on-select="brandMembershipVars.brands.push($item); getProfileMembers($item); tmpProfile=null;"
            style="min-width:260px;display:inline-block;">
            <ui-select-match data-placeholder="Add a Brand/Profile">
              <div>
                {{$select.selected.full_name}}
                ({{$select.selected.person_id.toString(36).toUpperCase()}})
              </div>
              <small ng-if="$select.selected.company">{{$select.selected.company}}</small>
            </ui-select-match>
            <ui-select-choices class="text-left"
              repeat="p in brandsForSearch"
              refresh="searchProfiles($select.search)"
              refresh-delay="100">
              <div>
                {{p.full_name}}
                ({{p.id.toString(36).toUpperCase()}})
              </div>
              <small ng-if="p.company">{{p.company}}</small>
            </ui-select-choices>
          </ui-select>
          <span class="label label-primary" style="border-radius:1em;"
            ng-class="brandMembershipVars.brands.length ? '' : 'lighter'"
            ng-bind="brandMembershipVars.brands.length"></span>
        </div>
      </div>

      <hr>
      <table class="table table-hover table-link"
        ng-if="brandMembershipVars.brands.length && brandMembershipVars.agents.length">
        <thead>
          <tr>
            <th></th>
            <th ng-repeat="p in brandMembershipVars.brands">
              <input type="checkbox" checked="true"
                uib-tooltip="Click to remove brand"
                tooltip-placement="top"
                tooltip-trigger="mouseenter"
                ng-click="brandMembershipVars.brands.splice($index,1)">
              {{p.full_name}}
              <span class="label label-default"
                ng-bind="p.id.toString(36).toUpperCase()"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in brandMembershipVars.agents">
            <td>
              <input type="checkbox" checked="true"
                uib-tooltip="Click to remove user"
                tooltip-placement="top"
                tooltip-trigger="mouseenter"
                ng-click="brandMembershipVars.agents.splice($index,1)">
              <!-- <i class="fa fa-square-o pull-right"
                ng-click="selectAllForAgent(a)"
                title="Select all displayed agencies for this user."></i> -->
              {{a.full_name}}
              <span class="label label-default"
                ng-bind="a.id.toString(36).toUpperCase()"></span>
            </td>
            <td ng-repeat="p in brandMembershipVars.brands">
              <input type="checkbox"
              ng-model="p.memberIds[a.id]"
              ng-true-value="1" ng-false-value="0">
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Placeholder view when not selection has been made -->
      <table  class="table table-hover table-link"
        ng-if="!brandMembershipVars.brands.length || !brandMembershipVars.agents.length">
        <thead>
          <tr>
            <th></th>
            <th style="width:50%;">Brands/Profiles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Users</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <!-- End Placeholder view when not selection has been made -->

      <div class="sticky-footer"
        ng-if="brandMembershipVars.brands.length && brandMembershipVars.agents.length">
        <a class="btn btn-success"
          ng-click="!saving && sendUpdates()"
          ng-disabled="saving">
          {{saving ? 'Saving Changes...' : 'Save Changes'}}
        </a>
      </div>

    </div>
  </div>
</div>