<form>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name"
          class="form-control"
          name="brand[name]"
          size="30" type="text"
          ng-model="activeProfile.full_name">
      </div>
      <div class="form-group"
        ng-if="currentUser.can('brand_edit_owner_id')">
        <label for="ownership">Ownership</label>
        <select id="ownership"
          class="form-control"
          ng-model="activeProfile.ownership_id"
          ng-options="obj.id as obj.value for obj in OWNERSHIPS">
        </select>
      </div>
      <div class="form-group"
        ng-if="currentUser.can('edit_initial_status_type_id')">
        <label for="status-type">Initial Status Type</label>
        <select id="status-type"
          class="form-control"
          ng-model="activeProfile.initial_status_type_id"
          ng-options="obj.id as obj.name for obj in policyStatusTypes">
        </select>
      </div>
      <div class="form-group"
        ng-if="currentUser.can('insurance_division')"
        title="Note: The default value is this brand's name in lowercase. This can only be changed once.">
         <label>
          Preferred Insurance Division Subdomain
          <i class="fa fa-question-circle"></i>
       </label>
       <input type="text"
        ng-model="activeProfile.preferred_insurance_division_subdomain"
        pattern="\w*"
        style="width:100%;" 
        ng-readonly="activeProfile.preferred_subdomain_set_already">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <ng-include class="form-inline phone-group"
          src="'/contacts/phones_simplified.html'"></ng-include>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Company</label>
        <input class="form-control"
          name="brand[company]"
          size="30" type="text"
          ng-model="activeProfile.company">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <ng-include src="'/contacts/emails_simplified.html'"></ng-include>
      </div>
      <div class="form-group">
        <label for="url">Website / Social Account</label>
        <ng-include style="display:block;"
          src="'/contacts/webs_simplified.html'"></ng-include>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <ng-include style="display:block;"
          src="'/contacts/addresses_simplified.html'"></ng-include>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Logo</label>
        <div class="alert alert-warning">
          <i class="fa fa-info-circle"></i>
          Note: Changes made to logo and header image are not saved until you click <strong>"Save Brand"</strong>.
        </div>
        <div class="logo-image-uploader">
          <span class="image-uploader-helper"></span>
          <img id="logo-preview" ng-src="{{(activeProfile.logo_data_url) || activeProfile.logo_url}}" width="200" />
          <a class="photo-modal-button"
            data-toggle="modal" data-target="#logo-upload-modal"
            uib-tooltip="Click to choose a different logo.">
            <i class="fa fa-camera"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="form-group">
        <label>Marketing Header Image</label>
        <div class="alert alert-warning">
          <i class="fa fa-info-circle"></i>
          Note: Changes made to logo and header image are not saved until you click <strong>"Save Brand"</strong>.
        </div>
        <div class="marketing-header-image-uploader">
          <span class="image-uploader-helper"></span>
          <img id="header-preview" ng-src="{{(activeProfile.header_data_url) || activeProfile.header_url}}" width="540" />
          <a class="photo-modal-button"
            data-toggle="modal" data-target="#header-upload-modal"
            uib-tooltip="Click to choose a different header image.">
            <i class="fa fa-camera"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation">
    <a class="btn btn-default"
      ng-click="cancelEdit()">
      Cancel
    </a>
    <button ng-click="submitProfileForm()"
      class="btn btn-primary">
      Save Brand
    </button>
  </div>
</form>

<div id="logo-upload-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Logo</h4>
      </div>
      <dr-image-editor data-save-fn="keepProfileLogo"
        data-save-btn-txt="'Confirm'"
        data-crop-width="540"></dr-image-editor>
    </div>
  </div>
</div>

<div id="header-upload-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Header Image</h4>
      </div>
      <dr-image-editor data-save-fn="keepProfileHeader"
        data-save-btn-txt="'Confirm'"
        data-crop-width="540"></dr-image-editor>
    </div>
  </div>
</div>