<style>
  .ui-autocomplete {
      z-index: 9001;
  }
  #s2id_user_default_brand_id {
    max-width: 250px;
  }
  .s-panel {
    margin-bottom: 5px;
  }
  .s-row {
    line-height: 30px;
    padding-top: 10px;
  }
  .s-row .btn-primary {
    margin-bottom: 10px;
  }
  .s-column:nth-of-type(2) {
    flex-grow: 2;
  }
  #brand-mgmt .navigation {/* styles copied from quote path */
    /*position: fixed;
    bottom: 0;
    left: 56px;
    right: 15px;
    height: 56px; COMMENTING OUT TILL THIS CAN BE TESTED. THIS WILL STICK THE BAR TO BOTTOM OF PAGE WHEN IT WORKS. LOOKS NICE BUT NEEDS EXTENSIVE TESTING*/
    line-height: 56px;
    /*background: rgb(247, 249, 251);
    border-top: 1px solid #d6dbe4;*/
    z-index: 3;
    text-align: center;
    transition: left .25s ease;
  }
</style>
<div id="brand-mgmt"
  ng-controller="BrandMgmtCtrl">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-users"></i> Agency Management</h3>
      <h2>Brands</h2>
    </div>
    <div class="right">
      <div class="actions">
        <div ng-if="brandCtrlVars.showSection=='list'"
          style="display: inherit;">
          <label style="vertical-align:middle;margin-bottom:0;">
            Default brand: 
          </label>
          <ui-select theme="bootstrap" 
            style="display:inline-block;width:260px;vertical-align:middle;"
            ng-model="brandCtrlVars.tmpDefaultProfile">
            <ui-select-match placeholder="(autocomplete)">
              <strong class="clear pull-right" style="position:relative;z-index:2;"
              ng-click="$event.stopPropagation(); resetDefaultProfileMenu()">x</strong>
              {{$select.selected.full_name}}
            </ui-select-match>
            <ui-select-choices repeat="brand in brands | whereKeyContainsValue: 'name' : $select.search">
              <div ng-bind-html="brand.full_name+' ('+brand.id+')' | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <button class="btn btn-default"
            ng-disabled="!brandCtrlVars.tmpDefaultProfile ||
              brandCtrlVars.tmpDefaultProfile.id==currentUser.default_brand_id"
            ng-click="updateRecordSingleField('/users/'+$root.currentUser.id+'.json','your','default_brand_id',brandCtrlVars.tmpDefaultProfile.id)">
            Make Default
          </button>
          <button ng-if="currentUser.can('brand_multiple') && ( !relevantUserId || relevantUser.can('brand_multiple') )"
            ng-click="editProfile({owner_id:currentUser.id})"
            class="btn btn-primary">
            New Branding Profile
          </button>
        </div>
        <div ng-if="brandCtrlVars.showSection=='form'"
          style="display:inherit;">
          <a class="btn btn-default"
            ng-click="cancelEdit()">
            <i class="fa fa-long-arrow-left"></i>
            Back To List
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">

    <div id="brand-list"
      class="section-content"
      ng-if="brandCtrlVars.showSection=='list'">

      <div class="table-responsive">
        <table class="table table-hover table-link">
          <thead>
            <tr>
              <th>ID 
                <i class="fa fa-question-circle" 
                  uib-tooltip="To import leads to Insureio via our API, your leads will need to include a brand id. You can find that id here."></i>
              </th>
              <th>Logo</th>
              <th>Header</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Initial Status Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="brand in brands" class="tr">
              <td data-label="ID">
                <span class="label label-default">{{brand.id}}</span>
              </td>
              <td data-label="Logo">
                <img ng-src="{{brand.logo_url}}" style="max-width:300px;" />
              </td>
              <td data-label="Header">
                <img ng-src="{{brand.header_url}}" style="max-width:300px;" />
              </td>
              <td data-label="Name">
                {{brand.full_name}}
              </td>
              <td data-label="Phone">
                <a ng-if="brand.$primaryPhone"
                  ng-href="tel:{{brand.$primaryPhone.value | drstripPhone}}">
                  <i class='fa fa-phone'></i>
                  {{brand.$primaryPhone | drFormatPhone}}
                </a>
              </td>
              <td  data-label="Status-Type">
                {{brand.initial_status_type.name}}
              </td>
              <td data-label="Actions">
                <div ng-if="currentUser.can('super_edit') || currentUser.id==brand.owner_id" 
                  class="btn-group pull-right">
                  <button type="button" 
                    class="btn btn-default dropdown-toggle" 
                    data-toggle="dropdown">
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <a ng-click="editProfile(brand)"
                        data-toggle="modal"
                        data-target="#branding-edit">
                        Modify
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a ng-click="removeProfile(brand.id)"
                        style="color:red;">
                        Remove
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <dr-pagination-links data-options="PaginatedBrandList"
                  ng-show="PaginatedBrandList.pageCt>1"></dr-pagination-links>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div id="brand-form"
      class="section-content"
      ng-if="brandCtrlVars.showSection=='form'">
      <ng-include src="'/brands/form.html'"></ng-include>
    </div>
  </div><!-- End .section-container -->
</div>
