
\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{-33px}
  \hspace{400px}
  <%= textfield @kase.policy_number, name:"section_1_wl_policy_number", borderwidth:"0", width:"15em" %>

  \vspace{89px}
  \hspace{21px}
  <%= textfield @cons.full_name, name:"section_1_wl_pi_name", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @cons.primary_address&.street, name:"section_1_wl_pi_address", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @cons.primary_address&.city, name:"section_1_wl_pi_city", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @cons.primary_address&.state&.abbrev, name:"section_1_wl_pi_state", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @cons.primary_address&.zip, name:"section_1_wl_pi_zip", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @cons.phones[0]&.to_s(omit_type: true), name:"section_1_wl_pi_phone_1", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{172px}
  <%= checkbox @cons.phones[0]&.phone_type_id == 1, name:"section_1_wl_pi_home_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{212px}
  <%= checkbox @cons.phones[0]&.phone_type_id == 3, name:"section_1_wl_pi_cell_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{244px}
  <%= checkbox @cons.phones[0]&.phone_type_id == 2, name:"section_1_wl_pi_work_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield @cons.phones[1]&.to_s(omit_type: true), name:"section_1_wl_pi_phone_2", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{442px}
  <%= checkbox @cons.phones[1]&.phone_type_id == 1, name:"section_1_wl_pi_home_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{481px}
  <%= checkbox @cons.phones[1]&.phone_type_id == 3, name:"section_1_wl_pi_cell_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{513px}
  <%= checkbox @cons.phones[1]&.phone_type_id == 2, name:"section_1_wl_pi_work_2", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @cons.primary_email, name:"section_1_wl_pi_email", borderwidth:"0", width:"25.8em", maxlen:46 %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield @cons.ssn, name:"section_1_wl_pi_ssn", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{472px}
  <%= checkbox @cons.gender == MALE, name:"section_1_wl_pi_male", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{509px}
  <%= checkbox @cons.gender == FEMALE, name:"section_1_wl_pi_female", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @cons.birth_or_trust_date, name:"section_1_wl_pi_dob", borderwidth:"0", width:"12.3em" %>

  \vspace{-12px}
  \hspace{159px}
  <%= textfield @cons.age, name:"section_1_wl_pi_age", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{215px}
  <%= textfield @cons.birth_state&.abbrev, name:"section_1_wl_pi_birth_state", borderwidth:"0", width:"15em" %>

  \vspace{-12px}
  \hspace{380px}
  <%= textfield @cons.birth_country&.name, name:"section_1_wl_pi_birth_country", borderwidth:"0", width:"16.8em" %>

  \vspace{18px}
  \hspace{109px}
  <%= checkbox @cons.citizenship_id&.==(1), name:"section_1_wl_pi_us_citizen_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{140px}
  <%= checkbox @cons.citizenship_id&.!=(1), name:"section_1_wl_pi_us_citizen_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{374px}
  <%= checkbox !!@cons.dln, name:"section_1_wl_pi_photo_id_dl", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{451px}
  <%= checkbox nil, name:"section_1_wl_pi_photo_id_passport", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{499px}
  <%= checkbox nil, name:"section_1_wl_pi_photo_id_state_id", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @cons.dln, name:"section_1_wl_pi_id_number", borderwidth:"0", width:"18.8em" %>

  \vspace{-12px}
  \hspace{221px}
  <%= textfield @cons.dl_state&.abbrev, name:"section_1_wl_pi_id_state_country_issue", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{415px}
  <%= textfield @cons.dl_expiration, name:"section_1_wl_pi_id_expiration", borderwidth:"0", width:"13em" %>

  \vspace{18px}
  \hspace{281px}
  <%= checkbox @cons.citizenship_id&.==(2), name:"section_1_wl_pi_permanent_resident_yes", width:"7px", height:"7px" %>

  <%# NMB wants this citizenship checkbox blank if the PI is a US citizen -%>
  \vspace{-12px}
  \hspace{313px}
  <%= checkbox [nil,1,2].none? {|v| v == cons.citizenship_id }, name:"section_1_wl_pi_permanent_resident_no", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_1_wl_pi_country_of_origin", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{193px}
  <%= textfield nil, name:"section_1_wl_pi_date_of_entry", borderwidth:"0", width:"10.5em", maxlen:12 %>

  \vspace{-12px}
  \hspace{310px}
  <%= textfield nil, name:"section_1_wl_pi_current_citizenship_country", borderwidth:"0", width:"23.7em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_1_wl_pi_green_card_visa_number", borderwidth:"0", width:"24.5em" %>

  \vspace{-12px}
  \hspace{280px}
  <%= textfield nil, name:"section_1_wl_pi_green_card_visa_expiration", borderwidth:"0", width:"26.8em" %>

  \vspace{36px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_wl_owner_name", borderwidth:"0", width:"53em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_wl_owner_address", borderwidth:"0", width:"21.5em" %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield nil, name:"section_2_wl_owner_city", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield nil, name:"section_2_wl_owner_state", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield nil, name:"section_2_wl_owner_zip", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_wl_owner_phone_1", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{172px}
  <%= checkbox nil, name:"section_2_wl_owner_home_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{212px}
  <%= checkbox nil, name:"section_2_wl_owner_cell_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{244px}
  <%= checkbox nil, name:"section_2_wl_owner_work_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield nil, name:"section_2_wl_owner_phone_2", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{442px}
  <%= checkbox nil, name:"section_2_wl_owner_home_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{481px}
  <%= checkbox nil, name:"section_2_wl_owner_cell_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{513px}
  <%= checkbox nil, name:"section_2_wl_owner_work_2", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_wl_owner_email", borderwidth:"0", width:"25.8em" %>

  \vspace{-12px}
  \hspace{290px}
  <%= textfield nil, name:"section_2_wl_owner_ssn", borderwidth:"0", width:"14em" %>

  \vspace{-12px}
  \hspace{472px}
  <%= checkbox nil, name:"section_2_wl_owner_male", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{509px}
  <%= checkbox nil, name:"section_2_wl_owner_female", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_wl_owner_dob", borderwidth:"0", width:"12.3em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield nil, name:"section_2_wl_owner_realtionship_to_pi", borderwidth:"0", width:"29em" %>

  \vspace{18px}
  \hspace{109px}
  <%= checkbox nil, name:"section_2_wl_owner_us_citizen_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{140px}
  <%= checkbox nil, name:"section_2_wl_owner_us_citizen_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{374px}
  <%= checkbox nil, name:"section_2_wl_owner_photo_id_dl", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{451px}
  <%= checkbox nil, name:"section_2_wl_owner_photo_id_passport", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{499px}
  <%= checkbox nil, name:"section_2_wl_owner_photo_id_state_id", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_wl_owner_id_number", borderwidth:"0", width:"18.8em" %>

  \vspace{-12px}
  \hspace{221px}
  <%= textfield nil, name:"section_2_wl_owner_id_state_country_issue", borderwidth:"0", width:"18em" %>

  \vspace{-12px}
  \hspace{415px}
  <%= textfield nil, name:"section_2_wl_owner_id_expiration", borderwidth:"0", width:"13em" %>

  \vspace{18px}
  \hspace{280px}
  <%= checkbox nil, name:"section_2_wl_owner_permanent_resident_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{311px}
  <%= checkbox nil, name:"section_2_wl_owner_permanent_resident_no", width:"7px", height:"7px" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_wl_owner_country_of_origin", borderwidth:"0", width:"16em" %>

  \vspace{-12px}
  \hspace{193px}
  <%= textfield nil, name:"section_2_wl_owner_date_of_entry", borderwidth:"0", width:"10.5em", maxlen:12 %>

  \vspace{-12px}
  \hspace{310px}
  <%= textfield nil, name:"section_2_wl_owner_current_citizenship_country", borderwidth:"0", width:"23.7em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield nil, name:"section_2_wl_owner_green_card_visa_number", borderwidth:"0", width:"24.5em" %>

  \vspace{-12px}
  \hspace{280px}
  <%= textfield nil, name:"section_2_wl_owner_green_card_visa_expiration", borderwidth:"0", width:"26.8em" %>

\end{Form}
