<!-- This partial is meant for use within a conventional form, where all changes get submitted in one request. -->
<div class="address-group">
  <div class="group-row form-inline" style="margin-bottom:10px;"
    ng-repeat="address in contact.addresses_attributes"
    ng-hide="address._destroy">
    <select id="address"
      class="form-control type"
      style="margin-bottom: 10px;"
      ng-model="address.address_type_id"
      ng-options="obj.id as obj.name for obj in ADDRESS_TYPES">
    </select>
    <input class="form-control street"
      style="margin-bottom: 10px;"
      ng-model="address.street"
      placeholder="Street" type="text" required />
    <input class="form-control city"
      style="margin-bottom: 0;"
      ng-model="address.city"
      placeholder="City"   type="text" required />
    <select class="form-control state"
      style="margin-bottom: 0;"
      ng-model="address.state_id"
      ng-options="obj.id as obj.abbrev for obj in STATES"
      required>        
    </select>
    <input class="form-control zip"
      style="margin-bottom: 0;"
      ng-model="address.zip"
      placeholder="Zip"
      pattern="\d{5}"
      maxlength="5"
      type="text" required>
    <a class="btn btn-warning"
      ng-hide="$index==0 && stateVars.requireContactMethods"
      ng-click="address._destroy=true"
      uib-tooltip="Clear this address."
      style="margin-left:10px;vertical-align:top;">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </div>
  <a class="btn btn-default"
    ng-click="contact.addresses_attributes.push({})">
    Add Address
  </a>
</div>