<div ng-repeat="address in person.addresses" style="margin-bottom:5px;">
  <div class="dropdown btn-group btn-xs" uib-dropdown="">
    <a class="btn btn-xs dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"
      ng-class="address.id==person.primary_address_id ? 'btn-primary' : 'btn-default'">
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-left">
      <li>
        <a uib-tooltip="Click to set as primary"
          tooltip-placement="top" tooltip-trigger="mouseenter"
          ng-class="address.id==person.primary_address_id ? 'active' : ''"
          ng-click="addressFormObj.setThePrimary(address.id)">
          <i class="fa" ng-class="address.id==person.primary_address_id ? 'fa-check' : 'hidden'"></i>
          Primary
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a uib-tooltip="Click to remove"
          tooltip-placement="top" tooltip-trigger="mouseenter"
          ng-click="destroyRecord($index,person.addresses,'/addresses/'+address.id+'.json','address');">
          Remove
        </a>
      </li>
    </ul>
  </div>
  <div style="display:inline-block;vertical-align:middle;">
    <a editable-select="address.address_type_id"
      e-ng-options="obj.id as obj.name for obj in ADDRESS_TYPES"
      onbeforesave="updateRecordSingleField('/addresses/'+address.id+'.json','','address_type_id',$data)">
      {{(address.address_type_id | enumValue : 'ADDRESS_TYPES') || '(Type - Unspecified)'}}
    </a>
    <br />
    <a e-placeholder="Street Address"
      editable-text="address.street"
      onbeforesave="updateRecordSingleField('/addresses/'+address.id+'.json','address','street',$data)">
      {{address.street || '(Street - Unspecified)'}}
    </a>
    <br />
    <a e-placeholder="City"
      editable-text="address.city"
      onbeforesave="updateRecordSingleField('/addresses/'+address.id+'.json','address','city',$data)">
      {{address.city || '(City - Unspecified)'}}
    </a>,
    <a editable-select="address.state_id"
      e-ng-options="obj.id as obj.abbrev for obj in STATES"
      onbeforesave="updateRecordSingleField('/addresses/'+address.id+'.json','address','state_id',$data)">
      {{(address.state_id | enumValue : 'STATES' : 'abbrev') || '(State - Unspecified)'}}
    </a>
    <a e-placeholder="99999"
      editable-text="address.zip"
      e-maxlength="5"
      e-pattern="\d{5}"
      onbeforesave="updateRecordSingleField('/addresses/'+address.id+'.json','address','zip',$data)">
      {{(address.zip | drfixedlen: 5) || '(Zip - Unspecified)'}}
    </a>
  </div>
</div>
<a class="btn btn-default"
  ng-show="!addressFormObj.show"
  ng-click="addressFormObj.show=true">
  <i class="fa fa-plus-circle"></i>
  Add Address
</a>
<div class="form-group form-inline"
  ng-show="addressFormObj.show">
  <!-- This object is formatted for what the rails controller expects.
       The object that will be added to the list will be the one returned by the request. -->
  <select class="form-control"
    style="margin-bottom: 5px;"
    ng-model="addressFormObj.model.address.address_type_id"
    ng-options="obj.id as obj.name for obj in ADDRESS_TYPES"></select>
  <input class="form-control"
    style="margin-bottom: 5px;"
    ng-model="addressFormObj.model.address.street"
    placeholder="Street" type="text" required style="width:21.5em;" />
  <input class="form-control"
    style="margin-bottom: 5px;"
    ng-model="addressFormObj.model.address.city"
    placeholder="City"   type="text" required style="display:inline-block; width:8em;" />
  <select class="form-control"
    style="margin-bottom: 5px;"
    ng-model="addressFormObj.model.address.state_id"
    ng-options="obj.id as obj.abbrev for obj in STATES"></select>
  <input class="form-control"
    style="margin-bottom: 5px;"
    ng-model="addressFormObj.model.address.zip"
    placeholder="Zip"    type="text" required style="display:inline-block; width:6em;" />
  <a class="btn btn-primary"
    style="margin-bottom: 5px;"
    ng-click="addressFormObj.submitForm()">
    <span class="glyphicon glyphicon-ok"></span>
  </a>
  <a class="btn btn-default"
    style="margin-bottom: 5px;"
    ng-click="addressFormObj.clearAndCloseForm()">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</div>
