<td>
  <i ng-class="contact.$iconClass"
    ng-attr-title="{{contact.$typeStr}}"></i>
  <span class="label label-default"
    ng-attr-title="Full Numeric Id: {{contact.id}}"
    ng-bind="contact.id.toString(36).toUpperCase()">
  </span>
</td>
<td>
  <a ng-href="{{contact.$url}}">
    <span ng-bind="contact.full_name"
      style="text-transform:capitalize;">
    </span>
  </a>
</td>
<td>
  <a ng-if="contact.$primaryEmail"
    style="display:block;"
    title="Click to Start An Email"
    ng-href="mailto:{{contact.$primaryEmail.value}}">
    <i class="fa fa-envelope"></i>
    <span ng-bind="contact.$primaryEmail.value"></span>
  </a>
  <a  ng-if="contact.$primaryPhone"
    style="display:block;"
    title="Click to Call"
    ng-href="tel:{{(contact.$primaryPhone.value | regex : 'ext\\. \\d*' : '' | regex : '\\D' : '')}}">
    <i class="fa fa-phone-square"></i>
    <span ng-bind="contact.$primaryPhone | drFormatPhone"></span>
  </a>
</td>
<td ng-switch="contact.person_type">
  <div ng-switch-when="Consumer">
    <span class="label label-default"
      ng-bind="contact.brand_id.toString(36).toUpperCase()"
      title="Full Numeric Id: {{contact.brand_id}}">
    </span>
    <span ng-bind="contact.brand_name"></span>
  </div>
  <div  ng-switch-when="Brand" class="lighter">
    (This record is itself a brand.)
  </div>
  <div ng-switch-when="User">
    <div>
      <Small>Default:</Small>
      <span class="label label-default"
        ng-bind="contact.brand_id.toString(36).toUpperCase()"
        title="Full Numeric Id: {{contact.brand_id}}">
      </span>
      <span ng-bind="contact.brand_name"></span>
    </div>
    <div>
      <small>Other (<span ng-bind="(contact.$memberBrands||[]).length"></span>):</small>
      <i ng-if="brandMembershipsRequest && brandMembershipsRequest.$$state!=1" class="fa fa-spinner fa-spin"></i>
      <div ng-repeat="b in contact.$memberBrands">
        <span class="label label-default"
          ng-bind="b.id.toString(36).toUpperCase()"
          title="Full Numeric Id: {{b.id}}">
        </span>
        <span ng-bind="b.name"></span>
      </div>
    </div>
  </div>
</td>
<td>
  <a ng-if="contact.$ownerId"
    ng-href="/users/{{contact.$ownerId}}">
    <span ng-bind="contact.$ownerName || '-' ">
    </span>
  </a>
  <span ng-if="!contact.$ownerId" class="lighter">(None)</span>
</td>
<td>
  <div class="dropdown btn-group pull-right" uib-dropdown>
    <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle
      ng-if="currentUser.can('super_edit') || contact.$isEditable">
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu
      ng-if="currentUser.can('super_edit') || contact.$isEditable">
      <li>
        <a ng-href="{{contact.$url}}">
          View Details
        </a>
      </li>
      <li ng-if="contact.person_type=='User' && currentUser.can('impersonate')">
        <a ng-click="impersonate(contact.id)">
          Impersonate
        </a>
      </li>
      <li>
        <a ng-click="openEditManagerModal(contact)">
          Edit Manager
        </a>
      </li>
      <li>
        <a ng-if="contact.person_type=='User'"
          ng-click="openUserStaffAssignmentModal(contact)">
          Edit Staff Assignment
        </a>
      </li>
      <li ng-if="contact.person_type=='User'" class="divider"></li>
      <li ng-if="contact.person_type=='User'">
        <a ng-click="deactivateUser(contact.id)"
          style="color:red;">
          Deactivate User
        </a>
      </li>
    </ul>
  </div>
</td>
