<!-- This partial is meant for use within a conventional form, where all changes get submitted in one request. -->
<div class="email-group">
  <div class="group-row"
    style="margin-bottom:10px;"
    ng-repeat="email in contact.emails_attributes"
    ng-hide="email._destroy">
    <input id="email" class="form-control"
      ng-model="email.value" type="text" 
      style="max-width:18em; display: inline-block;"
      placeholder="username@host.domain" required>
    <a class="btn btn-warning"
      ng-hide="$index==0 && stateVars.requireContactMethods"
      ng-click="email._destroy=true"
      uib-tooltip="Clear this email address."
      style="margin-left:10px;vertical-align:top;">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </div>
  <a class="btn btn-default"
    ng-click="contact.emails_attributes.push({})">
    Add Email
  </a>
</div>