<div ng-repeat="email in person.emails" style="margin-bottom:5px;">
  <div class="dropdown btn-group btn-xs" uib-dropdown="">
    <a class="btn btn-xs dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"
      ng-class="email.id==person.primary_email_id ? 'btn-primary' : 'btn-default'">
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-left">
      <li>
        <a uib-tooltip="Click to set as primary"
          tooltip-placement="top" tooltip-trigger="mouseenter"
          ng-class="email.id==person.primary_email_id ? 'active' : ''"
          ng-click="emailFormObj.setThePrimary(email.id)">
          <i class="fa" ng-class="email.id==person.primary_email_id ? 'fa-check' : 'hidden'"></i>
          Primary
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a uib-tooltip="Click to remove"
          tooltip-placement="top" tooltip-trigger="mouseenter"
          ng-click="destroyRecord($index,person.emails,'/email_addresses/'+email.id+'.json','email');">
          Remove
        </a>
      </li>
    </ul>
  </div>
  <a editable-text="email.value"
    e-placeholder="username@host.domain"
    onbeforesave="updateRecordSingleField('/emails/'+email.id+'.json','email','value',$data)">
    {{email.value}}
  </a>
</div>
<a class="btn btn-default"
  ng-show="!emailFormObj.show"
  ng-click="emailFormObj.show=true">
  <i class="fa fa-plus-circle"></i>
  Add Email
</a>
<div ng-show="emailFormObj.show" class="form-inline">
  <!-- This object is formatted for what the rails controller expects.
       The object that will be added to the list will be the one returned by the request. -->
  <input class="form-control"
    ng-model="emailFormObj.model.email.value"
    type="text" placeholder="username@host.domain" required />
  <a class="btn btn-primary"
    ng-click="emailFormObj.submitForm()"
    style="vertical-align: top;">
    <span class="glyphicon glyphicon-ok"></span>
  </a>
  <a class="btn btn-default" 
    ng-click="emailFormObj.clearAndCloseForm()"
    style="vertical-align: top;">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</div>