<div id="marketing" ng-controller="ContactMarketingCtrl">
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Marketing
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">
      <div ng-include="'/contacts/tags.html'"></div>

      <div id="campaign-subscriptions">
        <h4>Campaign Subscriptions</h4>
        <div class="actions">
          <label uib-tooltip="Toggle all marketing notifications on/off for this consumer"
            tooltip-placement="top"
            tooltip-trigger="mouseenter">
            <input type="checkbox"
              ng-checked="!person.marketing_unsubscribe"
              ng-click="person.marketing_unsubscribe=!person.marketing_unsubscribe;
                person.$updateWithCustomParams({key:'marketing_unsubscribe',value:person.marketing_unsubscribe})">
            Marketing Notifications
            <i class="fa fa-question-circle"></i>
          </label>
          <label uib-tooltip="Toggle all status notifications on/off for this consumer"
            tooltip-placement="top"
            tooltip-trigger="mouseenter">
            <input type="checkbox"
              ng-checked="!person.status_unsubscribe"
              ng-click="person.status_unsubscribe=!person.status_unsubscribe;
                person.$updateWithCustomParams({key:'status_unsubscribe',value:person.status_unsubscribe})">
            Status Notifications
            <i class="fa fa-question-circle"></i>
          </label>
        </div>
        <div class="panel panel-default"
          ng-show="!person.opted_out_of_marketing">
          <div class="panel-body">
            <div class="alert alert-info">
              <i class="fa fa-info-circle"></i>
              Multiple subscriptions can be run in parallel. Each row is a separate queue.<br>
              The left-most subscription(s) are currently running. Those to the right will run after.<br>
              <!-- Drag the handles ( <i class="fa fa-bars"></i> ) to reorder subscriptions within their queues (left to right).<br> -->
            </div>
            <ul id="subscriptions">
              <li ng-if="!groupedSubscriptions">Loading subscriptions...</li>
              <li ng-if="groupedSubscriptions && !groupedSubscriptions.length">(No Subscriptions To Show)</li>
              <li ng-repeat="q in groupedSubscriptions"
                ng-show="q.length">
                <div ng-repeat="s in q" style="display: inline-block; padding:0.5em; border: 1px solid #b0b0b0;">
                  <!-- <span class="drag_handle"
                    draggable="true"
                    ng-if="s.id">
                    <i class="fa fa-bars"></i>
                  </span> -->
                  <!-- Dragging should change `s.order_in_queue` -->
                  <a ng-if="s.id && s.active"
                    title="Stop this active subscription."
                    ng-click="destroySubscription($index,q,s)">
                    <i class="fa fa-stop"></i>
                  </a>
                  <a ng-if="s.id && !s.active"
                    title="Remove this pending subscription."
                    ng-click="destroyRecord($index,q,'/marketing/subscriptions/'+s.id+'.json','pending subscription')">
                    <i class="fa fa-trash-o"></i>
                  </a>
                  <ui-select theme="bootstrap"
                    ng-model="campaign"
                    ng-if="!s.id"
                    on-select="s.campaign_id=$item.id; saveSubscription(s,$parent.$index)">
                    <ui-select-match
                      data-placeholder="Select A Campaign">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices class="text-left"
                      repeat="c in campaigns"
                      refresh-delay="0">
                      {{c.name}}
                    </ui-select-choices>
                  </ui-select>

                  <span ng-if="s.id"
                    ng-bind="(campaigns | whereKeyMatchesValue : 'id' : s.campaign_id)[0].name"></span>
                </div>
                <a class="btn btn-primary add_next_subscription"
                  title="Add a new campaign subscription, which will start after this one completes."
                  ng-click="lastSubInQ=q[q.length-1]; q.push({queue_num:lastSubInQ.queue_num, order_in_queue:lastSubInQ.order_in_queue+1})">
                  <i class="fa fa-plus"></i>
                </a>
              </li>
            </ul>

            <a class=""
              title="Add a new campaign subscription, which will run in parallel with other campaigns and start immediately."
              ng-click="groupedSubscriptions; groupedSubscriptions.push([{}])">
              <i class="fa fa-plus-circle"></i>
              Add A {{groupedSubscriptions.length>1 ? 'Parallel' : ''}} Campaign
            </a>

          </div>
        </div>
      </div>
      <div id="history_and_to_do">
        <div id="marketing-communications">
          <h4>Completed Marketing Communications</h4>
          <div class="panel panel-default">
            <div id="old-marketing-subscriptions"
              class="panel-body">
              <div class="subscription"
                ng-repeat="sub in subsWTasks.subscriptions">
                <a class="trigger"
                  ng-click="sub.$isExpanded=!sub.$isExpanded">
                  <i class="fa fa-angle-up"
                    style="{{sub.$isExpanded ? 'transform: rotate(-180deg)' : ''}}"></i>
                  {{sub.campaign_name}}
                  <i ng-if="sub.queue_num"
                    style="float:right;"
                    class="fa fa-minus-square-o"
                    title="Started\nThis subscription was started, but has not yet completed all of its tasks."></i>
                  <i ng-if="!sub.queue_num"
                    style="float:right;"
                    class="fa fa-check-square-o"
                    title="Completed\nThis subscription completed all of its tasks."></i>
                </a>
                <div class="tasks"
                  ng-if="sub.$isExpanded">
                  <table>
                    <tr>
                      <td></td>
                      <td>Type</td>
                      <td>Name</td>
                      <td>Assigned To</td>
                      <td>Due</td>
                      <td>Completed</td>
                      <td>Completed By</td>
                    </tr>
                    <tr ng-repeat="task in sub.tasks">
                      <td></td>
                      <td ng-bind="task.task_type_id | enumValue : 'PHONE_TYPES' "></td>
                      <td ng-bind="task.label"></td>
                      <td>
                        <a ng-if="task.assigned_to_id"
                          ng-href="/users/{{task.assigned_to_id}}"
                          target="_blank">
                          {{task.assigned_to_name}}
                          <i class="fa fa-external-link"></i>
                        </a>
                      </td>
                      <td ng-bind="task.due_at"></td>
                      <td>
                        <a ng-if="task.message_id"
                          ng-href="/marketing/messages/{{task.message_id}}"
                          target="_blank">
                          <i class="fa fa-eye"></i>
                        </a>
                        {{task.completed_at}}
                      </td>
                      <td>
                        <a ng-if="task.completed_by_id"
                          ng-href="/users/{{task.completed_by_id}}"
                          target="_blank">
                          {{task.completed_by_name}}
                          <i class="fa fa-external-link"></i>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="alert alert-info"
                ng-if="!subsWTasks.$resolved">
                <i class="fa fa-spinner fa-spin"></i>
                Loading past marketing communications.
              </div>
              <div class="alert alert-info"
                ng-if="subsWTasks.$resolved && !subsWTasks.subscriptions.length">
                <i class="fa fa-info-circle"></i>
                There are no past marketing communications to show for this {{person.$personType || 'person'}}.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
