<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
      <h4 class="modal-title">
        Staff Assignments for User
        "<span ng-bind="contact.full_name"></span>"
      </h4>
    </div>
    <dr-last-bulletin></dr-last-bulletin>
    <div class="modal-body">
      <ng-include src="'/usage/staff_assignments/form'"></ng-include>
    </div>
    <div class="modal-footer">
      <a ng-click="$close()"
        class="btn pull-left">
        Cancel
      </a>
      <a class="btn btn-default"
         ng-class="formHolder.staffAssignmentForm.$pristine ? 'disabled' : '' "
         ng-click="setStaffAssignmentFormObj()">Reset</a>
      <a class="btn btn-primary"
         ng-class="formHolder.staffAssignmentForm.$pristine ? 'disabled' : '' "
         ng-click="saveStaffAssignment()">Save</a>
    </div>
  </div>
</div>