<style>
  #edit_contact_method .form-control,
  #edit_contact_method .btn {
    margin: 5px;
  }
  #edit_contact_method label {
    display: block;
  }
  #edit_contact_method hr {
    margin: 0 0 15px 0;
  }
</style>
<div class="modal-header">
  <a type="button" class="close" ng-click="$close()">×</a>
  <h4 class="modal-title">Edit Contact Methods</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div id="edit_contact_method" class="modal-body">
  <div class="row">
    <div class="form-group col-md-6">
      <label>Preferred Contact Method</label>
      <a editable-select="person.preferred_contact_method_id"
        e-ng-options="m.id as m.name for m in CONTACT_METHODS"
        onbeforesave="updateRecordSingleField(
          (person.person_type=='Consumer' ? '/consumers/' : '/users/')
          +person.id+'.json','','preferred_contact_method_id',$data)">
        {{(person.preferred_contact_method_id | enumValue : 'CONTACT_METHODS') || '(Unspecified)'}}
      </a>
    </div>
    <div class="form-group col-md-6">
      <label>Preferred Contact Time</label>
      <a editable-text="person.preferred_contact_time"
        e-placeholder="Time or Time Range"
        onbeforesave="updateRecordSingleField(
          (person.person_type=='Consumer' ? '/consumers/' : '/users/')
          +person.id+'.json','','preferred_contact_time',$data)">
        {{person.preferred_contact_time || '(Unspecified)'}}
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Emails</label>
        <ng-include src="'/contacts/emails.html'"></ng-include>
      </div>
      <hr>
      <div class="form-group">
        <label>Phones</label>
        <ng-include src="'/contacts/phones.html'"></ng-include>
      </div>
      <hr>
      <div class="form-group">
        <label>Addresses</label>
        <ng-include src="'/contacts/addresses.html'"></ng-include>
      </div>
      <hr>
      <div class="form-group">
        <label>Web And Social Media</label>
        <ng-include src="'/contacts/webs.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a class="btn pull-left" ng-click="$close()">Cancel</a>
</div>