<div class="modal-header">
  <a type="button" class="close" ng-click="$close()">×</a>
  <h4 class="modal-title">Edit Personal Info</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body">
  <div class="info-item">
    <label>Title:</label>
    <div>
      <a editable-text="person.title"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','title',$data)">
        {{person.title || '(Unspecified)'}}
      </a>
    </div>
  </div>
  <div class="info-item">
    <label style="vertical-align: top;">Birthdate:</label>
    <div>
      <a editable-text="person.birth_or_trust_date"
        e-placeholder="mm/dd/yyyy"
        e-pattern="^[01]\d[\/|-][0123]\d[\/|-][12]\d{3}$"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','birth',$data)">
        {{person.birth_or_trust_date || '(Unspecified)'}}
      </a>
      <span ng-if="person.birth_or_trust_date"
        style="white-space: nowrap;">
        (Age: {{ person.birth_or_trust_date | formatAsYearsAgo }})
      </span>
    </div>
  </div>
  <div class="info-item">
    <label>Gender:</label>
    <div>
      <a editable-select="person.gender"
        e-ng-options="obj.value as obj.text for obj in GENDERS"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','gender',$data)">
        {{person.gender!=undefined && person.gender!=null ?
          (person.gender  | enumValue : 'GENDERS' : 'text') : '(Unspecified)'}}
      </a>
    </div>
  </div>
  <div class="info-item">
    <label>Height / Weight:</label>
    <div>
      <a editable-number="person.health_info_attributes.feet"
        e-min="0" e-max="7" e-step="1"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','feet',$data)">
        {{person.health_info_attributes.feet || '(Unspecified)'}}
      </a> ft.
      <a editable-number="person.health_info_attributes.inches"
        e-min="0" e-max="12" e-step="1"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','inches',$data)">
        {{person.health_info_attributes.inches || (person.health_info_attributes.inches==0 && '0') || '(Unspecified)'}}
      </a> in. /
      <a editable-number="person.health_info_attributes.weight"
        e-min="0" e-max="1000" e-step="1"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','weight',$data)">
        {{person.health_info_attributes.weight || '(Unspecified)'}}
      </a> lbs.
    </div>
  </div>
  <div class="info-item">
    <label>SSN:</label>
    <div>
      <a editable-text="person.ssn"
        e-pattern="{{SSN_VALIDATION_PATTERN}}"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','ssn',$data)">
        {{(person.ssn | drFormatSsn) || '(Unspecified)'}}
      </a>
    </div>
  </div>
  <div class="info-item">
    <label>Driver's Lic #:</label>
    <div>
      <a editable-text="person.dln"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','dln',$data)">
        {{person.dln || '(Unspecified)'}}
      </a>
    </div>
  </div>
  <div class="info-item">
    <label>Driver's Lic State:</label>
    <div>
      <a editable-select="person.dl_state_id"
        e-ng-options="obj.id as obj.name for obj in STATES"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','dl_state_id',$data)">
        {{(person.dl_state_id | enumValue : 'STATES') || '(Unspecified)'}}
      </a>
    </div>
  </div>
  <div class="info-item">
    <label>Citizenship:</label>
    <div>
      <a editable-select="person.citizenship_id"
        e-ng-options="obj.id as obj.name for obj in CITIZENSHIPS"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','citizenship_id',$data)">
        {{(person.citizenship_id | enumValue : 'CITIZENSHIPS') || '(Unspecified)'}}
      </a>
    </div>
  <div class="info-item">
    <label>Country Born:</label>
    <div>
      <a editable-select="person.birth_country_id"
        e-ng-options="o.id as o.name for o in COUNTRIES"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','birth_country_id',$data)">
        {{ (person.birth_country_id | enumValue : 'COUNTRIES') || '(Unspecified)' }}
      </a>
    </div>
  </div>
  <div class="info-item">
    <label>State Born:</label>
    <div>
      <a editable-select="person.birth_state_id"
        e-ng-options="obj.id as obj.name for obj in STATES"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','birth_state_id',$data)">
        {{(person.birth_state_id | enumValue : 'STATES') || '(Unspecified)'}}
      </a>
    </div>
  </div>
  <div class="info-item">
    <label>Marital Status:</label>
    <div>
      <a editable-select="person.marital_status_id"
        e-ng-options="obj.id as obj.name for obj in MARITAL_STATUSES"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','marital_status_id',$data)">
        {{(person.marital_status_id | enumValue : 'MARITAL_STATUSES') || '(Unspecified)'}}
      </a>
    </div>
  </div>
  <div class="info-item" style="text-transform: capitalize;">
    <label>Entity Type:</label>
    <div>
      <a editable-select="person.entity_type_id"
        e-ng-options="obj.id as obj.name for obj in ENTITY_TYPES"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','entity_type_id',$data)">
        {{(person.entity_type_id | enumValue : 'ENTITY_TYPES') || '(Unspecified)'}}
      </a>
    </div>
  </div>
</div>