<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
      <h4 class="modal-title">
        Change Manager
        <span ng-bind="'('+contact.$humanOwnerFieldName+')'"></span>
        for
        <span ng-bind="contact.$typeStr"></span>
        <span ng-bind="contact.full_name"></span>
      </h4>
    </div>
    <dr-last-bulletin></dr-last-bulletin>
    <form name="scopeVars.editManagerForm" role="form">
      <div class="modal-body" style="overflow-y: visible;">
        <ui-select theme="bootstrap"
          ng-model="scopeVars.tmpAgentId"
          on-select="scopeVars.tmpAgentName=$item.full_name"
          append-to-body="true">
          <ui-select-match data-placeholder="Name">
            <span ng-bind="$select.selected.full_name || scopeVars.tmpAgentName || contact.owner_name+'sdsd'"></span>
          </ui-select-match>
          <ui-select-choices class="text-left"
            repeat="agent.id as agent in agentsInProfile"
            refresh="refreshAgentsInProfile($select.search)"
            refresh-delay="0">
            <div ng-bind-html="agent.full_name | highlight: $select.search"></div>
            <small ng-bind="agent.company"></small>
          </ui-select-choices>
        </ui-select>
      </div>
    </form>
    <div class="modal-footer">
      <a ng-click="$close()"
        class="btn pull-left">
        Cancel
      </a>
      <a class="btn btn-default"
        ng-class="scopeVars.editManagerForm.$pristine ? 'disabled' : '' "
        ng-click="resetManager()">Reset</a>
      <a class="btn btn-primary"
        ng-class="scopeVars.editManagerForm.$pristine ? 'disabled' : '' "
        ng-click="saveManagerChange()">Save</a>
    </div>
  </div>
</div>