<div class="panel-heading">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  Send SMS To {{person.full_name}}
  <dr-last-bulletin></dr-last-bulletin>
</div>
<div class="modal-body">
  <div class="alert alert-warn">
    <i class="fa fa-exclamation-triangle"></i>
    An SMS message may be up to 160 characters.<br>
    Longer messages will be broken into multiple 153 character parts.<br>
    The maximum is 6 parts.
  </div>
  <textarea ng-model="smsModalScopeVars.msg"
    style="width:30em; height:3em;"></textarea>
  <br>
  <span ng-bind="smsModalScopeVars.msg.length"
   style="font-weight: bold; color:{{ charCountColor() }}"></span>
  / 160 characters
  <div ng-if="smsModalScopeVars.msg.length>160">
    (<span ng-bind="messageCount()"
      style="font-weight: bold;"></span>
    parts)
  </div>
  <hr>
  <label>
    <input type="checkbox" ng-model="smsModalScopeVars.tcpaWarning">
    I attest that all communications sent via text have prior express consent and that they comply with
    <a href="https://transition.fcc.gov/cgb/policy/TCPA-Rules.pdf"
      target="_blank">
      TCPA Requirements
    </a>.
  </label>
</div>
<div class="modal-footer">
  <a class="btn btn-success"
    ng-click="send()"
    ng-disabled="isCharCountOutOfRange() || !smsModalScopeVars.tcpaWarning"
    title="{{isCharCountOutOfRange() ? 'Your message is too long or too short to send.' : ''}}
      {{smsModalScopeVars.tcpaWarning ? '' : 'You must agree to follow TCPA Requirements in order to send.'}}">
    Send
  </a>
</div>