<div class="modal-content">
  <div class="modal-header">
    <button type="button"
      class="close"
      ng-click="$close()"
      data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">New Contact</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <form name="formHolder.newConsumerForm" role="form">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Contact Type</label>
            <select class="form-control"
              ng-model="scopeVars.contactType">
              <option value="consumer">Consumer</option>
              <option value="recruit">Recruit</option>
              <option value="user">User</option>
            </select>
          </div>
          <div ng-class="scopeVars.contactType ? '' : 'is-disabled'">
            <div class="form-group">
              <label>Full name</label>
              <input class="form-control"
                ng-model="newConsumer.full_name"
                size="30" type="text">
            </div>
            <div class="form-group">
              <label>Suffix</label>
              <input class="form-control"
                ng-model="newConsumer.suffix"
                placeholder="Jr/Sr/1st/2nd/3rd"
                size="30" type="text">
            </div>
            <!-- CONSUMER only -->
            <div class="form-group"
              ng-if="scopeVars.contactType=='consumer'">
              <label tooltip-placement="top" tooltip-trigger="mouseenter"
                uib-tooltip="This brand will be used in all automated communications with the consumer, including marketing and status updates.">
                Brand
                <i class="fa fa-question-circle"></i>
              </label>
              <select class="form-control"
                ng-model="newConsumer.brand_id"
                ng-options="o.id as o.name for o in brands">
              </select>
            </div>
            <!-- ///// -->
            <!-- USER / RECRUIT only -->
            <div class="form-group"
              ng-if="scopeVars.contactType=='user' || 'recruit'">
              <label>Company</label>
              <div class="form-group">
                <input class="form-control"
                  ng-model="newUser.company"
                  size="30" type="text" required>
              </div>
            </div>
            <!-- ///// -->
            <!-- USER only -->
            <div class="form-group"
              ng-if="scopeVars.contactType=='user'">
              <label>Login</label>
              <div class="form-group">
                <input class="form-control" 
                  ng-model="newUser.login" 
                  size="30" type="text" required>
              </div>
            </div>
            <!-- ///// -->
            <!-- RECRUIT only -->
            <div class="form-group"
              ng-if="scopeVars.contactType=='recruit'">
              <label>Reserved Login</label>
              <div class="form-group">
                <input class="form-control"
                  size="30" type="text" required>
              </div>
            </div>
            <!-- ///// -->
            <!-- USER only -->
            <div class="form-group"
              ng-if="scopeVars.contactType=='user'">
              <label 
                tooltip-placement="top" tooltip-trigger="mouseenter"
                uib-tooltip="If left blank, a randomly generated password will be used. Password can be reset by the user when they are ready to log in.">
                Password
                <i class="fa fa-question-circle"></i>
              </label>
              <input class="form-control" 
                ng-model="newUser.password"
                size="30" type="password">
            </div>
            <div class="form-group"
              ng-if="scopeVars.contactType=='user'">
              <label>Password confirmation</label>
              <input class="form-control" 
                ng-model="newUser.password_confirmation" 
                size="30" type="password">
            </div>
            <!-- ///// -->
            <!-- OPTIONAL FIELD -->
            <div class="form-group">
              <label>Date of Birth</label>
              <div style="display:block;">
                <dr-datetime-picker model="newConsumer.birth" date-only="true"></dr-datetime-picker>
              </div>
            </div>
            <!-- ///// -->
            <div class="form-group">
              <label>Gender</label>
              <select class="form-control"
                ng-model="newConsumer.gender"
                ng-options="o.value as o.text for o in GENDERS">
              </select>
            </div>
            <div class="form-group">
              <label>Marital Status</label>
              <select class="form-control"
                ng-model="newConsumer.marital_status_id"
                ng-options="o.id as o.name for o in MARITAL_STATUSES">
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div ng-class="scopeVars.contactType ? '' : 'is-disabled'">
            <div class="form-group">
              <label>Citizenship</label>
              <select class="form-control"
                ng-model="newConsumer.citizenship_id"
                ng-options="o.id as o.name for o in CITIZENSHIPS">
              </select>
            </div>
            <div class="form-group">
              <label>Country Born</label>
              <select class="form-control"
                ng-model="newConsumer.birth_country_id"
                ng-options="o.id as o.name for o in COUNTRIES">
              </select>
            </div>
            <div class="form-group"
              ng-if="newConsumer.birth_country_id && newConsumer.birth_country_id==1">
              <label>State Born</label>
              <select class="form-control"
                ng-model="newConsumer.birth_state_id"
                ng-options="o.id as o.name for o in STATES">
              </select>
            </div>
            <div class="form-group">
              <label>Address</label>
              <ng-include src="'/contacts/addresses_simplified.html'"></ng-include>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div ng-class="scopeVars.contactType ? '' : 'is-disabled'">
            <div class="form-group">
              <label>Phone</label>
              <ng-include src="'/contacts/phones_simplified.html'"></ng-include>
            </div>
            <div class="form-group">
              <label>Email</label>
              <ng-include src="'/contacts/emails_simplified.html'"></ng-include>
            </div>
            <div class="form-group">
              <label>Status</label>
              <ui-select theme="bootstrap"
                ng-model="status_type_id"
                on-select="addUserStatus($item)"
                ng-if="scopeVars.contactType != 'consumer'"
                style="min-width:240px;width:auto;">
                <ui-select-match data-placeholder="(No Status Set)"
                  allow-clear="false">
                  <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices class="text-left"
                  refresh="null"
                  refresh-delay="100"
                  group-by="userstatusTypeGroupName"
                  repeat="o.id as o in userstatusTypes | filter: $select.search">
                  <i ng-if="o.ownership_id==GLOBAL_ID"
                    class="fa fa-globe"></i>
                  <i ng-if="o.ownership_id==USER_ID"
                    class="fa fa-user"></i>
                  <i ng-if="o.ownership_id==USERS_ID"
                    class="fa fa-users"></i>
                   <span ng-bind-html="o.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
              <ui-select theme="bootstrap"
                ng-model="status_type_id"
                on-select="addPolicyStatus($item)"
                ng-if="scopeVars.contactType == 'consumer'"
                style="min-width:240px;width:auto;">
                <ui-select-match data-placeholder="(No Status Set)"
                  allow-clear="false">
                  <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices class="text-left"
                  refresh="null"
                  refresh-delay="100"
                  group-by="statusTypeGroupName"
                  repeat="o.id as o in policyStatusTypes.concat(stateVars.activePolicy.status) | filter: $select.search">
                  <i ng-if="o.ownership_id==GLOBAL_ID"
                    class="fa fa-globe"></i>
                  <i ng-if="o.ownership_id==USER_ID"
                    class="fa fa-user"></i>
                  <i ng-if="o.ownership_id==USERS_ID"
                    class="fa fa-users"></i>
                  <span ng-bind-html="o.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row"
        ng-controller="MarketingTagFormCtrl">
        <div class="col-md-8">
          <div class="form-group">
            <label>Tags For This Consumer</label>
            <div class="alert alert-info">
              <i class="fa fa-info-circle"></i>
              To add a tag: (1) click any of <strong>Your Commonly Used Tags</strong>,
              or (2) type a new tag in the box and press enter to apply.
            </div>

            <ng-form>
              <input ng-model="newConsumer.$newTag"
                ng-change="parseAndSaveNewTag()"
                class="form-control"
                type="text"
                placeholder="Enter tags like: tag1, tag2, tag3...">
              <!-- Enter key in the text input will act like a click on this button. -->
              <button class="btn" style="display:none;"
                ng-click="parseAndSaveNewTag(true); $event.stopPropagation();">Add</button>
            </ng-form>

            <div id="existing_tags"
              style="padding-bottom:30px;">
              <div class="section-heading grid grid--center">
                <h5>Current Tags For This Consumer</h5>
              </div>
                <a class="tm-tag label label-default label-tag"
                  ng-repeat="tag in tagObj">
                  {{tag}}
                  <i class="fa fa-times-circle"
                    title="Remove tag."
                    ng-click="removeTag(tag, $index)"></i>
                </a>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Your Commonly Used Tags</label>
            <div id="common_tags" class="form-control"
              style="height:auto;">
              <ul>
                <li ng-repeat="tag in currentUser.common_tags"
                  style="display:inline-block;">
                  <span class="label label-primary label-tag">
                    <a class="system" style="color:#fff;"
                      ng-bind="tag[1] ? tag[0]+'='+tag[1] : tag[0]"
                      ng-click="tagObj[ tag[0] ]=tag[1]">
                    </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end .modal-body -->
    <div class="modal-footer">
      <a ng-click="$close()"
        class="btn pull-left">
        Cancel
      </a>
      <a class="btn btn-default"
        ng-class="formHolder.newConsumerForm.$pristine ? 'disabled' : '' "
        ng-click="resetNewConsumer()">
        Reset
      </a>
      <a class="btn btn-primary"
        ng-class="formHolder.newConsumerForm.$pristine ? 'disabled' : '' "
        ng-click="saveNewConsumer()">
        Create
      </a>
    </div>
  </form>
</div>
