<div class="modal-header">
  <a type="button" class="close" ng-click="$close()">×</a>
  <h4 class="modal-title">Edit Employment Info</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body">
  <div class="info-item">
    <label>Occupation:</label>
    <a
      editable-text="person.occupation"
      onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','occupation',$data)">
      {{person.occupation || '(Unspecified)'}}
    </a>
  </div>
  <div class="info-item">
    <label>Employer:</label>
    <a
      editable-text="person.company"
      onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','company',$data)">
      {{person.company || '(Unspecified)'}}
    </a>
  </div>
</div>