<div style="margin-bottom:5px;"
  ng-repeat="phone in person.phones">
  <div class="dropdown btn-group btn-xs" uib-dropdown="">
    <a class="btn btn-xs dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"
      ng-class="phone.id==person.primary_phone_id ? 'btn-primary' : 'btn-default'">
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-left">
      <li>
        <a uib-tooltip="Click to set as primary"
          tooltip-placement="top" tooltip-trigger="mouseenter"
          ng-class="phone.id==person.primary_phone_id ? 'active' : ''"
          ng-click="phoneFormObj.setThePrimary(phone.id)">
          <i class="fa" ng-class="phone.id==person.primary_phone_id ? 'fa-check' : 'hidden'"></i>
          Primary
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a uib-tooltip="Click to remove"
          tooltip-placement="top" tooltip-trigger="mouseenter"
          ng-click="destroyRecord($index,person.phones,'/phones/'+phone.id+'.json','phone');">
          Remove
        </a>
      </li>
    </ul>
  </div>
  <a editable-select="phone.phone_type_id"
    e-ng-options="t.id as t.name for t in PHONE_TYPES"
    onbeforesave="updateRecordSingleField('/phones/'+phone.id+'.json','','phone_type_id',$data)">
    {{(phone.phone_type_id | enumValue : 'PHONE_TYPES') || '(Unspecified)'}}
  </a>
  <a editable-text="phone.value"
    e-placeholder="(999)999-9999"
    e-pattern="{{PHONE_VALIDATION_PATTERN}}"
    onbeforesave="updateRecordSingleField('/phones/'+phone.id+'.json','phone','value',$data)">
    {{phone.value | drFormatPhoneNum}}
  </a> ext.
  <a editable-text="phone.ext"
    onbeforesave="updateRecordSingleField('/phones/'+phone.id+'.json','phone','ext',$data)">
    {{phone.ext || '(Unspecified)'}}
  </a>
  <div ng-if="phone.phone_type_id==MOBILE_PHONE_TYPE_ID"
    style="display:inline-block;margin:0 0 0 5px">
    <span uib-tooltip="Select wireless carrier to allow Insureio to send SMS text messages by email.">
      Carrier <i class="fa fa-question-circle"></i>
    </span>
    <a editable-select="phone.carrier_id"
      e-ng-options="obj.id as obj.name for obj in [{id:null,name:'(Unspecified)'}].concat(PHONE_CARRIERS )"
      onbeforesave="updateRecordSingleField('/phones/'+phone.id+'.json','phone','carrier_id',$data)">
      {{(phone.carrier_id | enumValue : 'PHONE_CARRIERS') || '(Unspecified)'}}
    </a>
  </div>
  <div class="alert alert-warning"
    style="margin:5px;"
    ng-if="phone.carrier_id">
    <i class="fa fa-exclamation-triangle"></i>
    By providing your phone number and wireless carrier, you agree to receive SMS or MMS communications from Insureio at the number(s) you provide. You may opt out at any time.
  </div>
</div>
<a class="btn btn-default"
  ng-show="!phoneFormObj.show"
  ng-click="phoneFormObj.show=true">
  <i class="fa fa-plus-circle"></i>
  Add Phone
</a>
<div ng-show="phoneFormObj.show" class="form-inline">
  <!-- This object is formatted for what the rails controller expects.
       The object that will be added to the list will be the one returned by the request. -->
  <select class="form-control"
    ng-model="phoneFormObj.model.phone.phone_type_id"
    ng-options="obj.id as obj.name for obj in PHONE_TYPES"></select>&nbsp;
  <input class="form-control" type="text" required style="width:9em;"
    ng-model="phoneFormObj.model.phone.value"
    placeholder="(999)999-9999"  /> ext.
  <input class="form-control" type="text" style="width:5em;"
    ng-model="phoneFormObj.model.phone.ext"/>
  <div ng-if="phoneFormObj.model.phone.phone_type_id==MOBILE_PHONE_TYPE_ID"
    style="margin:5px;">
    <span uib-tooltip="Select wireless carrier to allow Insureio to send SMS text messages by email.">
      Carrier <i class="fa fa-question-circle"></i>
    </span>
    <select class="form-control"
      ng-model="phoneFormObj.model.phone.carrier_id" 
      ng-options="o.id as o.name for o in PHONE_CARRIERS"></select>
  </div>

  <a class="btn btn-primary"
    ng-click="phoneFormObj.submitForm()"
    style="vertical-align: top;">
    <span class="glyphicon glyphicon-ok"></span>
  </a>
  <a class="btn btn-default"
    ng-click="phoneFormObj.clearAndCloseForm()"
    style="vertical-align: top;">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</div>