<!-- This partial is meant for use within a conventional form, where all changes get submitted in one request. -->
<div class="phone-group">
  <div class="group-row form-inline" style="margin-bottom:10px;"
    ng-repeat="phone in contact.phones_attributes"
    ng-hide="phone._destroy">
    <select id="phone" class="form-control phone-type" 
      ng-model="phone.phone_type_id"
      ng-options="obj.id as obj.name for obj in PHONE_TYPES">
    </select>
    <input class="form-control phone-num" 
      ng-model="phone.value"
      name="phone{{$index}}value" type="phone" required 
      style="width:9em;" 
      placeholder="(999)999-9999"
      pattern="{{PHONE_VALIDATION_PATTERN}}"/> ext.
    <input class="form-control phone-ext"
      ng-model="phone.ext" type="text" />
    <a class="btn btn-warning"
      ng-hide="$index==0 && stateVars.requireContactMethods"
      ng-click="phone._destroy=true"
      uib-tooltip="Clear this phone number."
      style="margin-left:10px;vertical-align:top;">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </div>
  <a class="btn btn-default"
    ng-click="contact.phones_attributes.push({})">
    Add Phone
  </a>
</div>