<h4>Search</h4>
<br>

<form class="form-group" style="margin-bottom:0;">
  <div class="input-group">
    <div class="input-group-btn">
      <div class="btn-group" uib-dropdown>
        <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
          <span data-bind="label"
            ng-bind="scopeVars.searchCriteria.search_by">
          </span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li ng-repeat="field in ['id','phone','email','name']">
            <a ng-click="scopeVars.searchCriteria.search_by=field; getContacts()"
              ng-bind="field"></a>
          </li>
        </ul>
      </div>
    </div>
    <input type="search" class="form-control"
      placeholder="Search Contacts"
      ng-model="scopeVars.searchCriteria.search_term"
      value="<%= params[:search_term] %>" />
    <span class="input-group-btn">
      <button id="filter"
        class="btn btn-primary btn-block"
        ng-click="getContacts()"
        title="Search">
        <span class="fa fa-search"></span>
      </button>
    </span>
  </div>
</form>
<hr>

<div>
  <label>
    Names Starting With
    <span style="font-weight: normal;">(Select one.)</span>
  </label>
  <ul>
    <li class="btn-toolbar">
      <a ng-repeat="range in ['Any','A-C','D-I','J','K-M','N-Q','R','S-T','U-Z']"
        ng-class="scopeVars.searchCriteria.name_starting_with==range ? 'active' : ''"
        ng-click="scopeVars.searchCriteria.name_starting_with=range; getContacts();">
        <span ng-bind="range"></span>
      </a>
    </li>
  </ul>
</div>
<br>
<!--
  the above breakdown is based on first name distribution data from this page:
  http://answers.google.com/answers/threadview/id/347668.html
  (claims to be based on 2000 US Census)
  each grouping accounts for around 12.5% of names
-->

<div>
  <a class="btn btn-small btn-warning" title="Clear" ng-click="resetState()">
    Clear Filters
  </a>
</div>