<div class="row" ng-controller="MarketingTagFormCtrl">
  <div class="col-md-8">
    <h4>
      Tagging
      <i class="fa fa-question-circle" uib-tooltip="Add a tag by clicking any of Your Commonly Used Tags, or by typing a new tag in the box below and pressing enter."></i>
    </h4>
    <div id="tags_for"
      class="panel panel-default tag_list">
      <div class="panel-body">
        <div id="existing_tags"
          style="padding-bottom:30px;">
          <div class="section-heading grid grid--center">
            <h5>Current Tags For This {{person.$personType || 'Person'}}</h5>
          </div>
            <a class="tm-tag label label-default label-tag"
              ng-repeat="tag in tagObj">
              {{tag}}
              <i ng-class="tagRemoveInProgress ? 'fa fa-spinner fa-spin' : 'fa fa-times-circle'"
                ng-attr-title="{{tagRemoveInProgress ? 'Currently removing a tag. Please wait.' : 'Remove tag.'}}"
                ng-click="removeTag(tag, $index)"></i>
            </a>
        </div>
        <div id="add_tags">
          <form ng-submit="parseAndSaveNewTag(true)">
            <input ng-model="person.$newTag"
              ng-change="parseAndSaveNewTag()"
              ng-disabled="tagSaveInProgress"
              ng-attr-title="{{tagSaveInProgress ? 'Still saving the last tag you entered. Please wait.' : ''}}"
              class="form-control"
              type="text"
              placeholder="Enter tags like: tag1, tag2, tag3...">
            <i class="fa fa-spinner fa-spin"
              ng-if="tagSaveInProgress"
              title="Currently saving the last tag you entered."></i>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Your Commonly Used Tags 
      <span style="float:right; font-size: 14px;">
        <a href="/users/common_tags"
          uib-tooltip="Manage your Commonly Used Tags from the Marketing page.">
          <i class="fa fa-plus-circle"></i> Add New
        </a>
      </span>
    </h4>
    <div class="panel panel-default">
      <div id="common_tags" class="panel-body">
        <ul>
           <li ng-repeat="tag in currentUser.common_tags"
            style="display:inline-block;">
            <span class="label label-default label-tag">
              <a class="system" style="color:#303030;"
                ng-bind="tag"
                ng-click="addTag(tag)"
                ng-disabled="tagSaveInProgress"
                ng-attr-title="{{tagSaveInProgress ? 'Still saving the last tag you entered. Please wait.' : ''}}">
              </a>
              <i class="fa fa-spinner fa-spin"
                ng-if="tagSaveInProgress"
                title="Currently saving the last tag you entered."></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
