<div ng-repeat="web in person.webs" style="margin-bottom:5px;">
  <div class="dropdown btn-group btn-xs" uib-dropdown="">
    <a class="btn btn-xs dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"
      ng-class="web.id==person.primary_web_id ? 'btn-primary' : 'btn-default'">
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-left">
      <li>
        <a uib-tooltip="Click to remove"
          tooltip-placement="top" tooltip-trigger="mouseenter"
          ng-click="destroyRecord($index,person.webs,'/webs/'+web.id+'.json',(web.web_type_id==1 ? 'website' : 'social media account') );">
          Remove
        </a>
      </li>
    </ul>
  </div>
  {{web.web_type_id | enumValue : 'WEB_TYPES'}}:
  <a e-placeholder="{{ web.web_type_id==1 ? 'URL' : 'Custom URL Fragment' }}"
    editable-text="web.value"
    onbeforesave="updateRecordSingleField('/webs/'+web.id+'.json','web','value',$data)"
    e-required>
    {{web.value}}
  </a>
</div>
<a class="btn btn-default"
  ng-show="!webFormObj.show"
  ng-click="webFormObj.show=true">
  <i class="fa fa-plus-circle"></i>
  Add A Website Or Social Media Account
</a>
<div ng-show="webFormObj.show" class="form-inline">
  <!-- This object is formatted for what the rails controller expects.
       The object that will be added to the list will be the one returned by the request. -->
  <select class="form-control"\
  ng-model="webFormObj.model.web.web_type_id" required
  ng-options="obj.id as obj.name for obj in WEB_TYPES"></select>&nbsp;
  <input class="form-control"
  ng-model="webFormObj.model.web.value"
  required type="text"
  placeholder="{{ webFormObj.model.web.web_type_id==1 ? 'URL' : 'Custom URL Fragment' }}"/>
  <a class="btn btn-primary"
    ng-click="webFormObj.submitForm()"
    style="vertical-align: top;">
    <span class="glyphicon glyphicon-ok"></span>
  </a>
  <a class="btn btn-default"
    ng-click="webFormObj.clearAndCloseForm()"
    style="vertical-align: top;">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</div>