<!-- This partial is meant for use within a conventional form, where all changes get submitted in one request. -->
<div class="form-inline url-group"
  ng-repeat="web in contact.webs_attributes">
  <div class="form-group">
    <select id="url" 
      class="form-control" 
      ng-model="web.web_type_id"
      ng-options="obj.id as obj.name for obj in WEB_TYPES" required></select>
    <input class="form-control"
      ng-model="web.value" type="text"
      placeholder="{{ web.web_type_id==1 ? 'URL' : 'Custom URL Fragment' }}" required>
  </div>
</div>
<a class="btn btn-default"
  ng-click="contact.webs_attributes.push({})">
  Add A Website Or Social Media Account
</a>