\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{188px}
  \hspace{17px}
  <%= textfield carrier_name(replacing[0]), name:"insurance_company_1", borderwidth:"0", width:"28em" %>

  \vspace{-12px}
  \hspace{315px}
  <%= textfield replacing[0]&.policy_number, name:"policy_number_1", borderwidth:"0", width:"9em" %>

  \vspace{-12px}
  \hspace{430px}
  <%= textfield replacing[0]&.consumer&.full_name, name:"insured_1", borderwidth:"0", width:"12em" %>

  \vspace{5px}
  \hspace{17px}
  <%= textfield carrier_name(replacing[1]), name:"insurance_company_2", borderwidth:"0", width:"28em" %>

  \vspace{-12px}
  \hspace{315px}
  <%= textfield replacing[1]&.policy_number, name:"policy_number_2", borderwidth:"0", width:"9em" %>

  \vspace{-12px}
  \hspace{430px}
  <%= textfield replacing[1]&.consumer&.full_name, name:"insured_2", borderwidth:"0", width:"12em" %>

  \vspace{5px}
  \hspace{17px}
  <%= textfield carrier_name(replacing[2]), name:"insurance_company_3", borderwidth:"0", width:"28em" %>

  \vspace{-12px}
  \hspace{315px}
  <%= textfield replacing[2]&.policy_number, name:"policy_number_3", borderwidth:"0", width:"9em" %>

  \vspace{-12px}
  \hspace{430px}
  <%= textfield replacing[2]&.consumer&.full_name, name:"insured_3", borderwidth:"0", width:"12em" %>

  \vspace{26px}
  \hspace{180px}
  <%= textfield nil, name:"surrender_charge_percentage", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{260px}
  <%= textfield nil, name:"surrender_charge_amount", borderwidth:"0", width:"4em" %>

  \vspace{9px}
  \hspace{222px}
  <%= textfield nil, name:"sales_charge", borderwidth:"0", width:"8em" %>

  \vspace{42px}
  \hspace{69px}
  <%= textfield nil, name:"year_1", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield nil, name:"year_2", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{167px}
  <%= textfield nil, name:"year_3", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{218px}
  <%= textfield nil, name:"year_4", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{267px}
  <%= textfield nil, name:"year_5", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{314px}
  <%= textfield nil, name:"year_6", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{364px}
  <%= textfield nil, name:"year_7", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{413px}
  <%= textfield nil, name:"year_8", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{462px}
  <%= textfield nil, name:"year_9", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{511px}
  <%= textfield nil, name:"year_10", borderwidth:"0", width:"4em" %>

  \vspace{6px}
  \hspace{69px}
  <%= textfield nil, name:"charge_percent_1", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield nil, name:"charge_percent_2", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{167px}
  <%= textfield nil, name:"charge_percent_3", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{218px}
  <%= textfield nil, name:"charge_percent_4", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{267px}
  <%= textfield nil, name:"charge_percent_5", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{314px}
  <%= textfield nil, name:"charge_percent_6", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{364px}
  <%= textfield nil, name:"charge_percent_7", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{413px}
  <%= textfield nil, name:"charge_percent_8", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{462px}
  <%= textfield nil, name:"charge_percent_9", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{511px}
  <%= textfield nil, name:"charge_percent_10", borderwidth:"0", width:"4em" %>

  \vspace{17px}
  \hspace{69px}
  <%= textfield nil, name:"year_11", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield nil, name:"year_12", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{167px}
  <%= textfield nil, name:"year_13", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{218px}
  <%= textfield nil, name:"year_14", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{267px}
  <%= textfield nil, name:"year_15", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{314px}
  <%= textfield nil, name:"year_16", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{364px}
  <%= textfield nil, name:"year_17", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{413px}
  <%= textfield nil, name:"year_18", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{462px}
  <%= textfield nil, name:"year_19", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{511px}
  <%= textfield nil, name:"year_20", borderwidth:"0", width:"4em" %>

  \vspace{6px}
  \hspace{69px}
  <%= textfield nil, name:"charge_percent_11", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield nil, name:"charge_percent_12", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{167px}
  <%= textfield nil, name:"charge_percent_13", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{218px}
  <%= textfield nil, name:"charge_percent_14", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{267px}
  <%= textfield nil, name:"charge_percent_15", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{314px}
  <%= textfield nil, name:"charge_percent_16", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{364px}
  <%= textfield nil, name:"charge_percent_17", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{413px}
  <%= textfield nil, name:"charge_percent_18", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{462px}
  <%= textfield nil, name:"charge_percent_19", borderwidth:"0", width:"4em" %>

  \vspace{-12px}
  \hspace{511px}
  <%= textfield nil, name:"charge_percent_20", borderwidth:"0", width:"4em" %>
\end{Form}
