\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{78px}
  \hspace{102px}
  <%= textfield @kase.policy_number, name:"policy_number", borderwidth:"0", width:"18em" %>

  \vspace{-11px}
  \hspace{288px}
  <%= checkbox true, name:"check1", width:"7px", height:"7px" %>

  \vspace{-11px}
  \hspace{353px}
  <%= checkbox nil, name:"check2", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{62px}
  <%= textfield @owner.full_name, name:"policyowner", borderwidth:"0", width:"22em" %>

  \vspace{-12px}
  \hspace{355px}
  <%= textfield nil, name:"joint_policyowner", borderwidth:"0", width:"20em" %>

  \vspace{8px}
  \hspace{80px}
  <%= textfield nil, name:"annuitant_insured", borderwidth:"0", width:"20em" %>

  \vspace{-12px}
  \hspace{373px}
  <%= textfield nil, name:"joint_annuitant_insured", borderwidth:"0", width:"18em" %>

  \vspace{26px}
  \hspace{16px}
  <%= checkbox nil, name:"check3", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{127px}
  <%= checkbox nil, name:"check4", width:"7px", height:"7px" %>

  \vspace{21px}
  \hspace{135px}
  <%= textfield nil, name:"application_date", borderwidth:"0", width:"10em" %>

  \vspace{-12px}
  \hspace{283px}
  <%= textfield @cons.full_name, name:"insured_name", borderwidth:"0", width:"22em" %>

  \vspace{298px}
  \hspace{32px}
  <%= checkbox nil, name:"check5", width:"7px", height:"7px" %>

  \vspace{4px}
  \hspace{32px}
  <%= checkbox nil, name:"check6", width:"7px", height:"7px" %>

  \vspace{45px}
  \hspace{15px}
  <%= textfield nil, name:"owner_signature", borderwidth:"0", width:"24em" %>

  \vspace{-12px}
  \hspace{274px}
  <%= textfield @owner.ssn, name:"owner_ssn", borderwidth:"0", width:"15em" %>

  \vspace{-12px}
  \hspace{446px}
  <%= textfield nil, name:"owner_signature_date", borderwidth:"0", width:"11em" %>

  \vspace{26px}
  \hspace{15px}
  <%= textfield nil, name:"joint_owner_signature", borderwidth:"0", width:"24em" %>

  \vspace{-12px}
  \hspace{274px}
  <%= textfield nil, name:"joint_owner_ssn", borderwidth:"0", width:"15em" %>

  \vspace{-12px}
  \hspace{446px}
  <%= textfield nil, name:"joint_owner_signature_date", borderwidth:"0", width:"11em" %>

  \vspace{26px}
  \hspace{15px}
  <%= textfield nil, name:"assignee_signature", borderwidth:"0", width:"24em" %>

  \vspace{-12px}
  \hspace{274px}
  <%= textfield nil, name:"assignee_ssn", borderwidth:"0", width:"15em" %>

  \vspace{-12px}
  \hspace{446px}
  <%= textfield nil, name:"assignee_signature_date", borderwidth:"0", width:"11em" %>
\end{Form}
