\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{25px}
  \hspace{432px}
  <%= checkbox has_early_parent_death, name:"section_14_pi_parent_death_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !has_early_parent_death, name:"section_14_pi_parent_death_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_parent_death_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_parent_death_no", width:"7px", height:"7px" %>

  \vspace{7px}
  \hspace{432px}
  <%= checkbox has_early_sibling_death, name:"section_14_pi_sibling_death_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !has_early_sibling_death, name:"section_14_pi_sibling_death_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_sibling_death_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_sibling_death_no", width:"7px", height:"7px" %>

  \vspace{20px}
  \hspace{432px}
  <%= checkbox health.hazardous_avocation?, name:"section_14_pi_dangerous_activities_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !health.hazardous_avocation?, name:"section_14_pi_dangerous_activities_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_dangerous_activities_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_dangerous_activities_no", width:"7px", height:"7px" %>

  \vspace{16px}
  \hspace{432px}
  <%= checkbox nil, name:"section_14_pi_rodeo_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox nil, name:"section_14_pi_rodeo_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_rodeo_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_rodeo_no", width:"7px", height:"7px" %>

  \vspace{8px}
  \hspace{432px}
  <%= checkbox health.hazardous_avocation_details.flying, name:"section_14_pi_pilot_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !health.hazardous_avocation_details.flying, name:"section_14_pi_pilot_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_pilot_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_pilot_no", width:"7px", height:"7px" %>

  \vspace{22px}
  \hspace{432px}
  <%= checkbox fin.bankruptcy == true, name:"section_14_pi_bankruptcy_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox fin.bankruptcy == false, name:"section_14_pi_bankruptcy_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_bankruptcy_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_bankruptcy_no", width:"7px", height:"7px" %>

  \vspace{17px}
  \hspace{19px}
  <%= textfield kase.ext['nmb_bankruptcy_details'], name:"section_14_bankruptcy_details", borderwidth:"0", width:"40.5em", height:"33px", multiline:true %>

  \vspace{17px}
  \hspace{432px}
  <%= checkbox health.foreign_travel?, name:"section_14_pi_travel_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{465px}
  <%= checkbox !health.foreign_travel?, name:"section_14_pi_travel_no", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{497px}
  <%= checkbox nil, name:"section_14_si_travel_yes", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{529px}
  <%= checkbox nil, name:"section_14_si_travel_no", width:"7px", height:"7px" %>

  \vspace{6px}
  \hspace{19px}
  <%= textfield health.foreign_travel_details.detail, name:"section_14_travel_details", borderwidth:"0", width:"40.5em", height:"40px", multiline:true %>

  \vspace{28px}
  \hspace{19px}
  <%= textfield overflow_string, name:"section_15_details_special_requests", borderwidth:"0", width:"53.5em", height:"200px", multiline:true %>

  \vspace{28px}
  \hspace{19px}
  <%= textfield nil, name:"section_16_home_office_endorsements", borderwidth:"0", width:"53.5em", height:"110px", multiline:"true" %>
\end{Form}
