<div class="apply-section" style="display: block" align="left">
  <% unless @widget.widget_type_id == Enum::QuotingWidgetType.id('Lead Capture') %>
    <h2 style="display:block;margin-left:8px;text-align:center;">
      Great Choice!
    </h2>
    <strong style="display:block;margin:0 10px;">
      Please fill out the form below and one of our insurance experts will take it from here.
    </strong>
    <hr>

    <div>
      <div class="apply-sprite" class="carrier-sprite"
        style="display:none;background-image: url(<%=APP_CONFIG['base_url']%>/images/carriers.png);height:60px;width:160px">
      </div>
      <div class="clear"></div>
    </div>

    <strong>
      <span class="display-carrier-name"></span><br>
    </strong>

    <strong style="display: none">
      Product: <span class="display-product"></span><br>
    </strong>
    <strong style="display: none">
      Coverage: <span class="display-face-amount"></span><br>
    </strong>
    <strong style="display: none">
      Premium: <span class="display-premium"></span><br>
    </strong>
    <strong style="display: none">
      Duration: <span class="display-category"></span>
    </strong>

    <hr style="">
  <% end %>

  <div class="wrapper" data-pii="true">
    <div class="full-name-container">
      <label for="full-name">Full Name</label>
      <input id="full-name"
        class="full-name"
        data-binding="full_name" type="text">
    </div>
    <% if defined?(show_gender) && show_gender==true %>
      <div>
        <label>Gender</label><br>
        <div style="height:34px;line-height:1.42857143;margin-bottom:12px;vertical-align:middle;">
          <input id="gender_m"
            name="gender" 
            data-binding="gender"
            type="radio"
            value="m" checked>
          <label style="margin-right:14px;cursor:pointer;"
            for="gender_m">
            Male
          </label>
          <input id="gender_f"
            name="gender"
            data-binding="gender"
            type="radio"
            value="f">
          <label style="cursor:pointer;"
            for="gender_f">
            Female
          </label>
        </div>
      </div>
    <% end %>
    <div>
      <label for="phone">Home Phone</label>
      <input id="phone" class="phone" type="text"
        data-binding="phones_attributes[0].value">
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" class="email" type="text"
        data-binding="emails_attributes[0].value">
    </div>
  </div>

  <div class="wrapper" data-pii="true"
    style="padding-left:0;">
    <div>
      <label for="address">Mailing Street Address</label>
      <br>
      <input id="address" class="address" type="text"
        data-binding="addresses_attributes[0].street">
    </div>
    <div>
      <label for="city">City</label>
      <br>
      <input id="city" class="city" type="text" 
        data-binding="addresses_attributes[0].city">
    </div>
    <div>
      <label for="state">State</label> / <label for="zip">Zip</label>
      <br>
      <div style="display:inline-flex;width:100%;">
        <%= select_tag :state,
          options_from_collection_for_select(Enum::State.all, "id", "abbrev"),
          :style => 'width: 100px; margin-right:5px',
          'data-binding'=>'addresses_attributes[0].state_id',
          class: 'state' %>
        <input id="zip" class="zip" type="text"
          data-binding="addresses_attributes[0].zip"
          placeholder="Zipcode">
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <div class="button-wrapper">
    <input class="widget-btn submit-btn"
      type="submit"
      value="<%= @widget.persisted? ? @widget.button3_text : "{{editWidget.button3_text}}" %>"
      onclick="insureioQuoter<%= @widget.id %>.submitApplication()">
  </div>
</div>