<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<style type="text/css">
  @import url("<%= root_url %>widgets/common_styles.css");
  #dr-quoter-widget-<%= @widget.id%> .quoter-inner-container,
  #dr-quoter-widget-<%= @widget.id%>-modal .quoter-inner-container {
    background-color: <%= @widget.background_color %>;
    border: 1px solid <%= @widget.border_color %>;
  }
  #dr-quoter-widget-<%= @widget.id%> .quoter-inner-container h1,
  #dr-quoter-widget-<%= @widget.id%>-modal .quoter-inner-container h1,
  #dr-quoter-widget-<%= @widget.id%> .quoter-inner-container .brand-logo div,
  #dr-quoter-widget-<%= @widget.id%>-modal .quoter-inner-container .brand-logo div,
  #dr-quoter-widget-<%= @widget.id%> .quoter-inner-container .brand-logo div span,
  #dr-quoter-widget-<%= @widget.id%>-modal .quoter-inner-container .brand-logo div span {
    color: <%= @widget.header_text_color %>;
  }
  #dr-quoter-widget-<%= @widget.id%> .quoter-inner-container label,
  #dr-quoter-widget-<%= @widget.id%>-modal .quoter-inner-container label {
    color: <%= @widget.text_color%>;
  }
  #dr-quoter-widget-<%= @widget.id%> .quoter-inner-container .widget-btn,
  #dr-quoter-widget-<%= @widget.id%>-modal .quoter-inner-container .widget-btn {
    background: <%= @widget.button_color %>;
  }
  #dr-quoter-widget-<%= @widget.id%> .quoter-inner-container .widget-btn:hover,
  #dr-quoter-widget-<%= @widget.id%>-modal .quoter-inner-container .widget-btn:hover {
    background-color: <%= darken_color @widget.button_color %>;
  }
  #dr-quoter-widget-<%= @widget.id%> hr,
  #dr-quoter-widget-<%= @widget.id%> .whom-for,
  #dr-quoter-widget-<%= @widget.id%>-modal hr {
    border-color: <%= @widget.border_color %>;
  }
  #dr-quoter-widget-<%= @widget.id%> .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #dr-quoter-widget-<%= @widget.id%> .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
  }
  #dr-quoter-widget-<%= @widget.id%> .input-group-addon:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  #dr-quoter-widget-<%= @widget.id%> .radio input[type=radio],
  #dr-quoter-widget-<%= @widget.id%> .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
  }
  #dr-quoter-widget-<%= @widget.id%> .radio input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
  }
  #dr-quoter-widget-<%= @widget.id%> .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
  }
  #dr-quoter-widget-<%= @widget.id%> :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
</style>

<div id="dr-quoter-widget-<%= @widget.id%>"
  lang="en"
  class="drQuoter <%= @widget.quoter_style_string %> <%= @widget.widget_type_id==4 ? 'motorist' : ''%>">
  <div class="quoter-inner-container" style="">
    <div class="brand-logo">
      <% if @widget.widget_type_id==Enum::QuotingWidgetType.id('Motorists Real Time Term') %>
      <div>Coverage up to <span>$500,000</span></div>
      <span><strong>20-minute</strong> life insurance without medical exams</span>
      <% end %>
    </div>
    <h1><%= @widget.header_text %></h1>
    <div class="stage1">
      <div class="whom-for">
        <label></label><br />
        <button class="widget-btn" onclick="insureioQuoter<%= @widget.id%>.clearAllPII()">Clear</button>
      </div>
      <%= render "/quoting/widgets/form_for_#{@widget.widget_type.abbrev}" %>
    </div>
  </div>
  <iframe src="<%= root_url %>quoting/widgets/tunnel_for_local_storage.html"
    style="width:0;height:0;border:none;"
    id="<%= @widget.id%>-xss-tunnel-iframe"></iframe>
</div>
