<div class="wrapper">
  <div>
    <label for="birth_month">Date of Birth</label>
  </div>
  <div class="face-row">
    <%= select_tag('birth_month',
      options_for_select((1..12).to_a.map{|x| x.to_s.rjust(2,'0')}.insert(0,''),''),
      'data-binding'=>'birth_month',
      class:'date-select',
      title: 'Birth Month',
      placeholder: 'mm' )%>
    <%= select_tag('birth_day',
      options_for_select((1..31).to_a.map{|x| x.to_s.rjust(2,'0')}.insert(0,''),''),
      'data-binding'=>'birth_day',
      class:'date-select',
      title: 'Birth Day',
      placeholder:'dd' )%>
    <%= select_tag('birth_year',
      options_for_select((1920..2010).to_a.insert(0,''),''),
      'data-binding'=>'birth_year',
      class:'date-select',
      title: 'Birth Year',
      placeholder:'yyyy' )%>
    </div>

  <div>
    <label for="quoter_gender_m">Gender</label>
  </div>
  <div style="height:34px;line-height:1.42857143;margin-bottom:12px;vertical-align:middle;">
    <input id="quoter_gender_m"
      name="gender"
      data-binding="gender"
      type="radio" value="m" checked>
    <label style="margin-right:14px;cursor:pointer;"
      for="quoter_gender_m">
      Male
    </label>
    <input id="quoter_gender_f"
      name="gender"
      data-binding="gender"
      type="radio" value="f">
    <label style="cursor:pointer;"
      for="quoter_gender_f">
      Female
    </label>
  </div>

  <div>
    <label for="quoter_height">Height</label> / <label for="quoter_weight">Weight</label>
  </div>
  <div class="face-row inline">
    <%height_opts=[]; f=(4..6).to_a; i=(0..11).to_a
    f.each{|x| i.each{|y| height_opts<< ["#{x}'#{y}\"", "#{x}_#{y}"]} }
    %>
    <%= select_tag('quoter[height]',\
      options_for_select(height_opts, 
      "5_7"), 'data-binding'=>'height',
      style:'margin-right:0.5em' )%>
    <input placeholder="lbs."
      type="text"
      id="quoter_weight"
      name="weight"
      data-binding="weight"
      maxlength="3">
  </div>

  <div>
    <label for="quoter_state_id">State</label>
  </div>
  <%= select_tag('quoter[state_id]', 
    options_from_collection_for_select(Enum::State.all.select{|s| (0..52).to_a.include?(s.id)}, :id, :name),
    'data-binding'=>'addresses_attributes[0].state_id',
    class: 'quoter_state_id' )%>

  <div>
    <label for="quoter_face_amount">Coverage Amount</label>
  </div>
  <%= select_tag('quoter[face_amount]',
    options_for_select(FACE_AMOUNT_OPTIONS,750000),
    'data-binding'=>'opportunities_attributes[0].face_amount' )%>

</div>

<div class="wrapper" style="padding-left:0;">
  <div>
    <label for="quoter_benefit_period">Coverage Length</label>
  </div>
  <select id="quoter_benefit_period"
    class="quoter_benefit_period"
    name="duration_id"
    data-binding="opportunities_attributes[0].duration_id">
    <%= options_for_select Enum::TliDurationOption.for_tli_widget.sort_by{|o| [o.duration_category_id,  o.years, o.cutoff_age] }.map{|o|[o.name_for_tli_widget, o.id]} %>
  </select>

  <div>
    <label for="tobacco_cigarette_last_menu">Tobacco</label>
  </div>
  <select id="tobacco_cigarette_last_menu"
    name="tobacco_cigarette_last"
    data-binding="tobacco_cigarette_last">
    <option value="">Never</option>
    <option value="<%= Date.today.to_s %>">Current User</option>
    <option value="<%= 11.months.ago.to_s %>">Within the past year</option>
    <option value="<%= 13.months.ago.to_s %>">Over 1 year ago</option>
    <option value="<%= 2.years.ago.to_s %>">Over 2 years ago</option>
    <option value="<%= 3.years.ago.to_s %>">Over 3 years ago</option>
    <option value="<%= 5.years.ago.to_s %>">Over 5 years ago</option>
    <option value="<%= 10.years.ago.to_s %>">Over 10 years ago</option>
  </select>

  <% if @widget.show_name_field %>
    <div data-pii="true">
      <label for="dr-widget-name">
        Full Name
      </label>
    </div>
    <input id="dr-widget-name"
      name="name" data-pii="true"
      data-binding="full_name"
      size="30" type="text">
  <% end %>

  <% if @widget.show_phone_field %>
    <div data-pii="true">
      <label for="dr-widget-phone">
        Phone Number
      </label>
    </div>
    <input id="dr-widget-phone"
      name="phone" data-pii="true"
      data-binding="phones_attributes[0].value"
      size="30" type="tel">
  <% end %>

  <% if @widget.show_email_field %>
    <div data-pii="true">
      <label for="dr-widget-email">
        Email Address
      </label>
    </div>
    <input id="dr-widget-email"
      name="email" data-pii="true"
      data-binding="emails_attributes[0].value"
      size="30" type="text">
  <% end %>

</div>

<div class="clear"></div>
<div class="button-wrapper">
  <input type="submit"
    value="<%= @widget.persisted? ?
    @widget.button_text : "{{editWidget.button_text}}" %>"
    class="widget-btn"
    onclick="insureioQuoter<%= @widget.id %>.getQuotes()">
</div>