<div class="full-width-wrapper"
  style="padding:0 15px 14px;">
  <div class="material" data-pii="true">
    <label for="io-widget-fname">
      Full Name
    </label>
    <input id="io-widget-fname"
      style="margin-bottom:0;"
      name="fname"
      data-pii="true"
      data-binding="full_name"
      size="60" type="text"
      autocomplete="given-name"
      placeholder="Jane Doe"
      role="textbox"
      contenteditable="true"
      title="Input first name"
      aria-autocomplete="both"
      aria-required="true"
      tabindex="1" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label for="io-widget-fname">Full Name</label>
  </div>
</div>

<div class="clear"></div>

<div class="full-width-wrapper"
  data-pii="true"
  style="padding:0 15px 14px;">
  <div class="material">
    <label for="io-widget-email">
      Email Address
    </label>
    <input id="io-widget-email"
      style="margin-bottom:0;"
      name="email"
      data-pii="true"
      data-binding="emails_attributes[0].value"
      size="60" type="email"
      autocomplete="email"
      placeholder="jane.doe@example.com"
      role="textbox"
      contenteditable="true"
      title="Input email address"
      pattern="[^ @]+@[^ @]+"
      aria-autocomplete="both"
      aria-required="true"
      tabindex="2" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label for="io-widget-email">Email Address</label>
  </div>
</div>

<div class="full-width-wrapper"
  data-pii="true"
  style="padding:0 15px 14px;">
  <div class="material">
    <label for="io-widget-state">
      State of Residence
    </label>
    <%= select_tag(
      'io-widget-state', 
      options_from_collection_for_select(@widget.rtt_allowed_states, :id, :name),
      'data-binding'=>'addresses_attributes[0].state_id',
      'data-pii'=>'true',
      'title'=>"Select your state of residency",
      class: 'quoter_state_id',
      tabindex: "3",
      required: true
    ) %>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label for="io-widget-state">State of Residence</label>
  </div>
</div>
<div class="full-width-wrapper"
  style="padding:0 15px 14px;">
  <div class="material">
    <label for="feet"
      class="control-label">
      Height / Weight
    </label>
      <div class="input-group">
        <input id="feet"
          name="feet"
          class="form-control"
          type="number"
          min="1"
          max="9"
          size="2"
          style="display:inline-block; width:3em;"
          data-binding="health_info_attributes.feet"
          placeholder="ft"
          tabindex="4"
          title="Height Feet"
          required>
        <div class="input-group-addon">
          ft
        </div>
      </div>
      <div class="input-group">
        <input id="inches"
          name="inches"
          class="form-control"
          type="number"
          min="0"
          max="11"
          size="2"
          style="display:inline-block; width:3em;"
          data-binding="health_info_attributes.inches"
          placeholder="in"
          tabindex="5"
          title="Height Inches"
          required>
        <div class="input-group-addon">
          in
        </div>
      </div>
      <div class="input-group">
        <input id="weight"
          name="weight"
          class="form-control"
          type="number"
          min="10"
          max="1000"
          size="3"
          style="display:inline-block; width:4em;"
          data-binding="health_info_attributes.weight"
          placeholder="lbs"
          tabindex="6"
          title="Weight In Pounds"
          required>
        <div class="input-group-addon">
          lbs
        </div>
      </div>
  </div>
</div>

<div class="wrapper"
  style="padding:0 15px 14px;">
  <div class="material date-group">
    <label for="birth_month">Date of Birth</label>
    <input type="text"
      id="birth_month"
      class="date-input"
      name="birth_month"
      data-binding="birth_month"
      maxlength="2"
      aria-label="Month (MM)"
      pattern="[0-9]*"
      autocomplete="bmonth"
      title="Input month of birth"
      aria-required="true"
      tabindex="7" required>
    <input type="text"
      id="birth_day"
      class="date-input"
      name="birth_day"
      data-binding="birth_day"
      maxlength="2"
      aria-label="Day (DD)"
      pattern="[0-9]*"
      autocomplete="bday"
      title="Input day of birth"
      aria-required="true"
      tabindex="8" required>
    <input type="text"
      id="birth_year"
      class="date-input"
      name="birth_year"
      data-binding="birth_year"
      maxlength="4"
      aria-label="Year (YYYY)"
      pattern="[0-9]*"
      autocomplete="byear"
      title="Input year of birth"
      aria-required="true"
      tabindex="9" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label for="birth_month">Date of Birth</label>

  </div>
</div>

<div class="wrapper"
  style="padding:0 15px 0 0;">
  <div class="gender">
    <label>Gender</label>
    <div class="radio radio-motorist radio-inline">
      <input type="radio"
        id="quoter_gender_m"
        value="m"
        name="gender"
        data-binding="gender"
        role="radio"
        aria-selected="true"
        autocomplete="sex"
        title="Male Gender"
        tabindex="10" checked>
      <label for="quoter_gender_m">Male</label>
    </div>
    <div class="radio radio-motorist radio-inline">
      <input type="radio"
        id="quoter_gender_f"
        value="f"
        name="gender"
        data-binding="gender"
        role="radio"
        aria-selected="false"
        autocomplete="sex"
        title="Female Gender"
        tabindex="11">
      <label for="quoter_gender_f">Female</label>
    </div> 
  </div>
</div>

<div class="clear"></div>

<div class="full-width-wrapper"
  style="padding:0 15px 14px;">
  <label>Have you, in the last 12 months, used Tobacco or Nicotine products in any form?</label>
  <div>
    <div class="radio radio-motorist radio-inline">
      <input type="radio"
        id="quoter_tobacco_yes"
        value="true"
        name="tobacco"
        data-binding="tobacco"
        role="radio"
        aria-selected="false"
        title="Yes"
        tabindex="12">
      <label for="quoter_tobacco_yes">Yes</label>
    </div>
    <div class="radio radio-motorist radio-inline">
      <input type="radio"
        id="quoter_tobacco_no"
        value="false"
        name="tobacco"
        data-binding="tobacco"
        role="radio"
        aria-selected="true"
        title="No"
        tabindex="13" checked>
      <label for="quoter_tobacco_no">No</label>
    </div>
  </div>
</div>

<div class="full-width-wrapper"
  style="padding:0 15px 24px;">
  <label>Has the person proposed for insurance, in the last 12 months, been declined; rated or issued “sub-standard” or have a pending application for life insurance coverage with any company including Motorists Life Insurance Company?</label>
  <div>
    <div class="radio radio-motorist radio-inline">
      <input type="radio"
        id="has_declined_substandard_or_pending_apps_yes"
        value="true"
        name="rtt_answers[has_declined_substandard_or_pending_apps]"
        data-binding="rtt_answers.has_declined_substandard_or_pending_apps"
        role="radio"
        aria-selected="false"
        title="Yes"
        tabindex="14">
      <label for="has_declined_substandard_or_pending_apps_yes">Yes</label>
    </div>
    <div class="radio radio-motorist radio-inline">
      <input type="radio"
        id="has_declined_substandard_or_pending_apps_no"
        value="false"
        name="rtt_answers[has_declined_substandard_or_pending_apps]"
        data-binding="rtt_answers.has_declined_substandard_or_pending_apps"
        role="radio"
        aria-selected="true"
        title="No"
        tabindex="15" checked>
      <label for="has_declined_substandard_or_pending_apps_no">No</label>
    </div>
  </div>
</div><!-- End Full-Width-Wrapper -->

<div class="button-wrapper">
  <input class="widget-btn"
    type="submit"
    value="<%= @widget.persisted? ? @widget.button_text : "{{editWidget.button_text}}" %>"
    onclick="insureioQuoter<%= @widget.id %>.getQuotes()"
    role="button"
    title="Get life insurance quotes now"
    tabindex="16">
</div>


