<div class="wrapper">
  <div>
    <label for="birth_month">Date of Birth:</label>
  </div>
  <%= select_tag('birth_month',
    options_for_select((1..12).to_a.map{|x| x.to_s.rjust(2,'0')},'01'),
    'data-binding'=>'birth_month',
    class:'date-select',
    title:'Birth Month' )%>/
  <%= select_tag('birth_day',
    options_for_select((1..31).to_a.map{|x| x.to_s.rjust(2,'0')},'01'),
    'data-binding'=>'birth_day',
    class:'date-select',
    title:'Birth Day' )%>/
  <%= select_tag('birth_year',
    options_for_select((1920..2010).to_a,'1965'),
    'data-binding'=>'birth_year',
    class:'date-select',
    title:'Birth Year' )%>
  <div>
    <label>Gender:</label>
    <input id="quoter_gender_m" name="quoter[gender]" data-binding="quoter.gender,gender" type="radio" value="m" checked>
    <label for="quoter_gender_m">Male</label>
    <input id="quoter_gender_f" name="quoter[gender]" data-binding="quoter.gender,gender" type="radio" value="f">
    <label for="quoter_gender_f">Female</label>
  </div>
  <%= select_tag('quoter[state_id]',
    options_from_collection_for_select(Enum::State.all.select{|s| (0..52).to_a.include?(s.id)}, :id, :name),
    'data-binding'=>'addresses_attributes[0].state_id',
    class: 'quoter_state_id' ) %>
  <select class="quoter_health_class" name="quoter[health]">
    <option value="">-Health Class-</option>
    <%= options_for_select @widget.quote_class.health_class_options %>
  </select>
  <div class="face-row">
    <%= select_tag('quoter[face_amount]',
      options_for_select(FACE_AMOUNT_OPTIONS,750000),
      'data-binding'=>'opportunities_attributes[0].face_amount' )%>
    <select id="quoter_payout_period" name="quoter[payout_period]"><option value="D">Daily</option>
      <option value="M">Monthly</option></select>
  </div>
  <select id="quoter_premium_mode" name="quoter[premium_mode]">
    <option value="">-Payment Mode-</option>
    <%= options_for_select @widget.quote_class.premium_mode_options %>
  </select>
  <div>
    <label style="min-width:100px;display:inline-block;">Marital Status:</label>
    <input id="quoter_married_yes" name="quoter[married]" data-binding="quoter.married" type="checkbox" value="1">
    <label for="quoter_married_yes">Married</label>
  </div>
  <div>
    <label style="min-width:100px;display:inline-block;">Filing Jointly:</label>
    <input data-toggle-visible="#joint-fields" id="has_joint" name="has_joint" data-binding="quoter.has_joint" type="checkbox" value="1">
    <label for="has_joint">Yes</label>
  </div>
</div>
<div class="wrapper">
  <select id="quoter_benefit_period" class="quoter_benefit_period" name="quoter[benefit_period]" style="width:100%;padding:5px;"><option value="">-Benefit Period-</option>
    <%= options_for_select @widget.quote_class.benefit_period_options %>
  </select>
  <select id="quoter_inflation_protection" name="quoter[inflation_protection]" style="width:100%;padding:5px;"><option value="">-Inflation Protection-</option>
    <%= options_for_select @widget.quote_class.inflation_protection_options %>
  </select>
  <select id="quoter_elimination_period" name="quoter[elimination_period]" style="width:100%;padding:5px;"><option value="">-Elimination Period-</option>
    <%= options_for_select @widget.quote_class.elimination_period_options %>
  </select>
  <% if @widget.show_name_field %>
    <input id="lead_name" name="name" data-binding="full_name" size="30" type="text" placeholder="Full Name" style="width:100%;padding:5px;">
  <% end %>
  <% if @widget.show_phone_field %>
    <input id="lead_phone" name="phone" data-binding="phones_attributes[0].value" size="30" type="tel" placeholder="Phone" style="width:100%;padding:5px;">
  <% end %>
  <% if @widget.show_email_field%>
    <input id="lead_email" name="email" data-binding="emails_attributes[0].value" size="30" type="text" placeholder="Email" style="width:100%;padding:5px;">
  <% end %>
</div>
<div class="clear"></div>
<div id="button-wrapper">
  <input type="submit"
    value="<%= @widget.persisted? ? @widget.button_text : "{{editWidget.button_text}}" %>"
    class="widget-btn"
    onclick="insureioQuoter<%= @widget.id %>.getQuotes()">
</div>