<div id="dr-quoter-widget-<%= @widget.id%>-modal"
  lang="en"
  class="drModal"
  style="display:none;">
  <div class="quoter-inner-container">
    <div class="dr-header">
      <a href="javascript:insureioQuoter<%= @widget.id %>.back()" class="widget-btn back">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
      </a>
    </div>
    <div class="stage2" style="display:none;">
      <div class="loading-graphic">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
      </div>
      <div class="quote-result" id="tli-result-template" style="display:none;">
        <div>
          <div class="carrier-sprite" ></div>
          <div class="quote-details-container">
            <div>
              Coverage: $<strong class="face-amount"></strong>
            </div>
            <div>
              Duration: <strong class="period-text"></strong> 
            </div>
            <div>
              Monthly: $<strong class="monthly-premium"></strong>
            </div>
            <div>
              Yearly: $<strong class="annual-premium"></strong>
            </div>
          </div>
          <!-- Value attribute is added dynamically. -->
          <input type="submit" value="" class="widget-btn">
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="quote-results-list" style="overflow-y: scroll; max-height: 80vh;"></div>
    </div>
    <div class="stage3" style="display:none;">
      <%= render '/quoting/widgets/apply' %>
    </div>
  </div>
</div>
