window.insureioQuoter<%= @widget.id %> = {
  id:                 parseInt('<%= @widget.id %>'),
  wigetIdString:      '<%= "#{@widget.product_cat.try(:name)} widget \\\"#{@widget.name.gsub(/(\'|\")/,'')}\\\" (id #{@widget.id})".html_safe %>',
  widgetType:         '<%= @widget.widget_type.abbrev %>',
  widgetTypeCamelized:'<%= @widget.widget_type.abbrev.camelize %>',
  productCatId:        JSON.parse("<%= @widget.product_cat_id||'null' %>"),
  rootUrl:            '<%= root_url %>',
  leadImportUrl:      '<%= root_url+"/consumers.json" %>',
  redirectUrl:        '<%=j @widget.hostname %>',
  agent_id:           window.io_agent_id || parseInt("<%= @widget.user_id %>"),
  brand_id:           window.io_brand_id || parseInt("<%= @widget.brand_id || @widget.user.default_brand.id %>"),
  key:                window.io_key || '<%= @widget.user.quoter_key %>',
  button2Text:        '<%=j @widget.button2_text  %>',
  button3Text:        '<%=j @widget.button3_text  %>',
  ip_address:         '<%= request.remote_ip %>',
  lead_type:          '<%=j @widget.lead_type%>',
  source:             '<%=j @widget.source%>',
  referrer:           '<%=j @widget.referrer%>',
  tags_attributes: [
      <%= "{key: 'agent split', value: '#{@widget.agent_split}'},".html_safe if @widget.agent_split.present? %>
      <%= "#{@widget.tags(JSON)}".html_safe if @widget.tags.present? %>
  ],
  <%#
      These templates need to rendered seperately for each widget,
      because they still use erb to fill in user-chosen styles, colors, and text.
      Eventually we should populate them via frontend js instead.
  %>
  containerMarkup:'<%=j render "/quoting/widgets/container" %>',
  modalMarkup:    '<%=j render "/quoting/widgets/modal" %>',
};

if(!window.loadJQueryForInsureioQuoters || !window.InsureioQuoterClass){
  //This should generate a url to load the most recent code version, accurate to within one minute.
  //It's also predictable enough that multiple widgets on the same page will likely get the same url.
  var scriptUrl='<%= root_url %>'+'/assets/quoting_widget.js',
      reqMinute=( new Date() ).toISOString().replace(/:/g,'-').slice(0,16),
      uniqPerMinuteScriptUrl=scriptUrl+'?'+reqMinute+'=1',
      head=(document.getElementsByTagName("head")[0] || document.documentElement),
      script=document.createElement("script");
  script.type = "text/javascript";
  script.src = uniqPerMinuteScriptUrl;
  script.integrity='<%= SRI_HASHES[:widgets_js] %>';
  script.crossOrigin="anonymous";//Note: The JS property is camelCase, versus the lowercase element attribute it creates.
  script.onload = script.onreadystatechange = function () {
    var d = this.readyState
    if( !d || d == "complete" ){
      window.loadJQueryForInsureioQuoters(window, document, function () {
        InsureioQuoterClass.initInstance( window.insureioQuoter<%= @widget.id %> );
      });
    }
  };
  head.appendChild(script);
}
