<html>
<head></head>
<body>
<script type="text/javascript">
window.addEventListener("message", receiveMessage, false);

function receiveMessage(event){
  if( (typeof event.data)=='object' ){
    localStorage.InsureioConsumerData=event.data.InsureioConsumerData;
    localStorage.InsureioRttAnswers  =event.data.InsureioRttAnswers;
  }
}
</script>
</body>
</html>