<style>
#lead-distribution .section-content .ui-select-bootstrap {
  display: inline-block;
  min-width: 220px;
}
#lead-distribution .section-content .row td {
  padding: 4px 0;
}
#lead-distribution .section-content .row td strong {
  display: block;
  margin-right: 4px;
}
#lead-distribution .section-content td .label {
  margin-right: 4px;
}
#lead-distribution .section-content td input {
  max-width: 80px;
}
</style>

<div id="lead-distribution"
  ng-controller="LeadDistCtrl">
  <div class="section-header">
    <div class="left">
      <h3><i class="fa fa-users"></i> Agency Management</h3>
      <h2>Lead Distributions</h2>
    </div>
    <div class="right">
      <div class="actions">
        <a class="btn btn-primary" ng-click="openNewDistGroupModal()">New Distribution Group</a>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> When a lead comes into the system, it is assigned to the agent whose priority is highest. Priority is the ratio of <strong>daily weight / running lead count for the day</strong>. Click the <i class="fa fa-undo"></i> button to lower an agent's priority.
      </div>
      <div class="row">
        <div class="col-md-12">
          <ui-select ng-model="criteria.agent" on-select="selectAgentCb($item, $model)" theme="bootstrap">
            <ui-select-match placeholder="Select Agent">
              {{$select.selected.name}}
              <a class="pull-right" style="color: #456275;" ng-show="criteria.agent" ng-click="clearAgent()">
                <i class="fa fa-times-circle"></i>
              </a>
            </ui-select-match>
            <ui-select-choices repeat="person as person in agents | filter : $select.search | agentsBySelections : criteria : joinTables" refresh="getAgents($select.search)">
              <div ng-bind-html="trustAsHtml((person.name | highlight: $select.search))"></div>
            </ui-select-choices>
          </ui-select>
          <span class="label label-default" ng-if="agents && !agents.$resolved" ng-attr-title="Loading agents.">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
          <span class="label label-default" ng-if="agents && agents.$resolved && agents.statusCode" ng-attr-title="Failed to load agents.">
            <i class="fa fa-exclamation-triangle"></i>
          </span>
          <ui-select ng-model="criteria.brand" on-select="selectBrandCb($item, $model)" theme="bootstrap">
            <ui-select-match placeholder="Select Brand">
              {{$select.selected.full_name}} {{$select.selected.id}}
              <a class="pull-right" style="color: #456275;" ng-show="criteria.brand" ng-click="clearBrand()"><i class="fa fa-times-circle"></i></a>
            </ui-select-match>
            <ui-select-choices repeat="brand as brand in brands | filter : $select.search | brandsBySelections : criteria : joinTables">
              <div ng-bind-html="trustAsHtml((brand.full_name | highlight: $select.search) +' '+ brand.id)"></div>
            </ui-select-choices>
          </ui-select>

          <span class="label label-default" ng-if="joinTables && !joinTables.$resolved" ng-attr-title="Loading brands.">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
          <span class="label label-default" ng-if="joinTables && joinTables.$resolved && joinTables.statusCode" ng-attr-title="Failed to load brands.">
            <i class="fa fa-exclamation-triangle"></i>
          </span>
          <ui-select ng-model="criteria.leadType" on-select="selectLeadTypeCb($item, $model)" theme="bootstrap">
            <ui-select-match placeholder="Select Lead Type">
              {{$select.selected.text}}
              <a class="pull-right" style="color: #456275;" ng-show="criteria.leadType" ng-click="clearLeadType()">
                <i class="fa fa-times-circle"></i>
              </a>
            </ui-select-match>
            <ui-select-choices repeat="leadType as leadType in leadTypes | filter : $select.search | leadTypesBySelections : criteria : joinTables">
              <div ng-bind-html="trustAsHtml((leadType.text | highlight: $select.search))"></div>
            </ui-select-choices>
          </ui-select>

          <span class="label label-default" ng-if="joinTables && !joinTables.$resolved"ng-attr-title="Loading lead types.">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
          <span class="label label-default" ng-if="joinTables && joinTables.$resolved && leadTypes.statusCode" ng-attr-title="Failed to load lead types.">
            <i class="fa fa-exclamation-triangle"></i>
          </span>
          <div class="form-group pull-right">
            <div class="dropdown btn-group" uib-dropdown>
              <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="fa fa-filter" aria-hidden="true"></i> {{ enabledLabel() }}</a>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li><a ng-click="filter.can = true">Enabled</a></li>
                <li><a ng-click="filter.can = false">Disabled</a></li>
                <li><a ng-click="filter.can = null">All</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <span ng-if="agents && agents.$resolved && !agents.statusCode">
            <span class="label label-default"
            ng-attr-title="Found {{agents.length}} agents matching your search text.">
              <i class="fa fa-user"></i>
              {{agents.length}}
            </span>
            <span class="label label-default"
              ng-if="criteria.brand"
              ng-attr-title="Found {{(agents | agentsBySelectedBrand : criteria : joinTables).length}} agents that are members of the selected brand.">
              <i class="fa fa-user"></i>
              <i class="fa fa-times"></i>
              <i class="fa fa-building-o"></i>
              {{(agents | agentsBySelectedBrand : criteria : joinTables).length}}
            </span>
            <span class="label label-default"
              ng-if="criteria.leadType"
              ng-attr-title="Found {{(agents | agentsBySelectedLeadType : criteria : joinTables).length}} agents associated with the selected lead type.">
              <i class="fa fa-user"></i>
              <i class="fa fa-times"></i>
              <i class="fa fa-tag"></i>
              {{(agents | agentsBySelectedLeadType : criteria : joinTables).length}}
            </span>
          </span>
          <span ng-if="joinTables && joinTables.$resolved && !joinTables.statusCode">
            <span class="label label-default"
              ng-attr-title="Found {{brands.length}} shared (not private to a single user) brands.">
              <i class="fa fa-building-o"></i>
              {{brands.length}}
            </span>
            <span class="label label-default"
              ng-if="criteria.agent"
              ng-attr-title="Found {{ (brands | brandsBySelectedAgent : criteria : joinTables).length }} shared brands of which the selected agent is a member.">
              <i class="fa fa-building-o"></i>
              <i class="fa fa-times"></i>
              <i class="fa fa-user"></i>
              {{(brands | brandsBySelectedAgent : criteria : joinTables).length}}
            </span>
            <span class="label label-default"
              ng-if="criteria.leadType"
              ng-attr-title="Found {{ (brands | brandsBySelectedLeadType : criteria : joinTables).length }} shared brands with which the selected lead type is associated.">
              <i class="fa fa-building-o"></i>
              <i class="fa fa-times"></i>
              <i class="fa fa-tag"></i>
              {{(brands | brandsBySelectedLeadType : criteria : joinTables).length}}
            </span>
          </span>
          <span ng-if="joinTables && joinTables.$resolved && !leadTypes.statusCode">
            <span class="label label-default"
              ng-attr-title="Found {{leadTypes.length}} lead types.">
              <i class="fa fa-tag"></i>
              {{leadTypes.length}}
            </span>
            <span class="label label-default"
              ng-if="criteria.brand"
              ng-attr-title="Found {{(leadTypes | leadTypesBySelectedBrand : criteria : joinTables).length}} lead types associated with the selected brand.">
              <i class="fa fa-tag"></i>
              <i class="fa fa-times"></i>
              <i class="fa fa-building-o"></i>
              {{(leadTypes | leadTypesBySelectedBrand : criteria : joinTables).length}}
            </span>
            <span class="label label-default"
              ng-if="criteria.agent"
              ng-attr-title="Found {{(leadTypes | leadTypesBySelectedAgent : criteria : joinTables).length}} lead types associated with the selected agent's brands.">
              <i class="fa fa-tag"></i>
              <i class="fa fa-times"></i>
              <i class="fa fa-building-o"></i>
              {{(leadTypes | leadTypesBySelectedAgent : criteria : joinTables).length}}
            </span>
          </span>
        </div>
        <div class="panel-body">
          <strong>Filtering Rules By:</strong><br>
          <div ng-if="!criteria.agent && !criteria.brand && !criteria.leadType">(No criteria set)</div>
          <div ng-if="criteria.agent" style="padding:3px 0;">
            Agent
            <span ng-bind="criteria.agent.id.toString(36).toUpperCase()" title="Full Numeric Id: {{criteria.agent.id}}"></span>
            - {{criteria.agent.name}}
            <span class="label label-default" ng-attr-title="This agent is a member of {{(brands | brandsBySelectedAgent : criteria : joinTables).length}} shared brands.">
              <i class="fa fa-building-o"></i>
              {{(brands | brandsBySelectedAgent : criteria : joinTables).length}}
            </span>
            <span class="label label-default" ng-if="criteria.agent" ng-attr-title="This agent's brands are associated with {{(leadTypes | leadTypesBySelectedAgent : criteria : joinTables).length}} lead types.">
              <i class="fa fa-tag"></i>
              {{(leadTypes | leadTypesBySelectedAgent : criteria : joinTables).length}}
            </span>

            <label ng-attr-title="This user is turned {{criteria.agent.on ? 'on' : 'off'}} for lead distribution.">
              On:
              <input type="checkbox" ng-model="criteria.agent.on" ng-change="updateAgentSuspension()" ng-if="criteria.agent.on != null">
            </label>
            <a ng-click="clearAgent()" title="Click to clear this criterion."><i class="fa fa-times-circle" style="color: #456275;"></i></a>
          </div>
          <div ng-show="criteria.brand" style="padding:3px 0;">
            Brand
            <span ng-bind="criteria.brand.id.toString(36).toUpperCase()" title="Full Numeric Id: {{criteria.brand.id}}"></span>
            - {{criteria.brand.full_name}}
            <span class="label label-default" ng-bind="criteria.brand.memberIds.length" ng-attr-title="This brand has {{criteria.brand.memberIds.length}} members."></span>
            <span class="label label-default" ng-bind="criteria.brand.leadTypeIds.length" ng-attr-title="This brand has {{criteria.brand.leadTypeIds.length}} associated lead types."></span>
            <a ng-click="clearBrand()" title="Click to clear this criterion."><i class="fa fa-times-circle" style="color: #456275;"></i></a>
          </div>
          <div ng-show="criteria.leadType" style="padding:3px 0;">
            Lead Type - {{criteria.leadType.text}}
            <a ng-click="clearLeadType()" title="Click to clear this criterion."><i class="fa fa-times-circle" style="color: #456275;"></i></a>
          </div>
          <strong ng-if="rules && rules.$resolved && rules.length">Showing {{( rules | filterRules : criteria : filter).length }} Rules.</strong>
        </div>
      </div>

      <table class="table table-hover table-link">
        <thead>
          <tr>
            <th style="padding-left: 18px;">
              <div>
                <div class="dropdown btn-group" uib-dropdown>
                  <a class="btn dropdown-toggle" uib-dropdown-toggle>
                    <i class="fa fa-square-o" aria-hidden="true" style="color: #456275;"></i> <i class="fa fa-sort-down" style="vertical-align: top; color: #456275;"></i>
                  </a>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a ng-click="setAll({on: 1})">Select All</a></li>
                    <li><a ng-click="setAll({on: 0})">Deselect All</a></li>
                  </ul>
                </div>
              </div>
            </th>
            <th>
              Brand
              <dr-sorter key="brandName"><i class="fa fa-sort-alpha-asc"></i></dr-sorter>
              <dr-sorter key="brandName" dr-sort-reverse="true"><i class="fa fa-sort-alpha-desc"></i></dr-sorter>
            </th>
            <th>
              Agent
              <dr-sorter key="agentName"><i class="fa fa-sort-alpha-asc"></i></dr-sorter>
              <dr-sorter key="agentName" dr-sort-reverse="true"><i class="fa fa-sort-alpha-desc"></i></dr-sorter>
            </th>
            <th>
              Lead Type
              <dr-sorter key="leadTypeText"><i class="fa fa-sort-alpha-asc"></i></dr-sorter>
              <dr-sorter key="leadTypeText" dr-sort-reverse="true"><i class="fa fa-sort-alpha-desc"></i></dr-sorter>
            </th>
            <th>Running Count</th>
            <th>Quick Set</th>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="rules && !rules.$resolved">
            <td colspan="13"><i class="fa fa-spinner fa-spin"></i><br>Loading Rules...</td>
          </tr>
          <tr ng-if="rules && rules.$resolved && !rules.length">
            <td colspan="13">Those criteria matched no rules.</td>
          </tr>
          <tr ng-repeat="rule in rules | filterRules : criteria : filter">
            <td title="rule id #{{rule.id}}"><input type=checkbox ng-model="rule.on"></td>
            <td title="{{rule.brand_id}}">{{rule.brandName || rule.brand_id}}</td>
            <td title="{{rule.user_id}}">
              <span class="label label-danger" ng-show="rule.lacks_permission"
                uib-tooltip="DISABLED. This user no longer has permission to receive distributed leads, so this rule is not in use, but if that permission is ever restored and this rule is activated, these settings shall return to use."
                tooltip-placement="top" tooltip-trigger="mouseenter">
                <i class="fa fa-ban"></i>
              </span>
              <span class="label label-default" ng-bind="rule.user_id.toString(36).toUpperCase()"
                title="Full Numeric Id: {{rule.user_id}}"></span>
              {{rule.agentName || '-'}}
            </td>
            <td>
              <div title="{{rule.lead_type_id}}" ng-if="rule.leadTypeText" ng-bind="rule.leadTypeText"></div>
              <div title="{{rule.lead_type_id}}" ng-if="!rule.leadTypeText" class="lighter">(blank)</div>
            </td>
            <td>
              {{rule.count||'0'}}
              <button class="btn btn-primary" ng-if="rule.count==minCountInGroup[rule.cursor_id]" ng-click="lowerPriority(rule.cursor_id)" title="Lower the priority by resetting counts for the pool.">
                <i class="fa fa-undo"></i>
              </button>
            </td>
            <td><input class="form-control" type="number" ng-model="rule.quickSet"></td>
            <td><input class="form-control" type="number" min="0" ng-model="rule.sunday"></td>
            <td><input class="form-control" type="number" min="0" ng-model="rule.monday"></td>
            <td><input class="form-control" type="number" min="0" ng-model="rule.tuesday"></td>
            <td><input class="form-control" type="number" min="0" ng-model="rule.wednesday"></td>
            <td><input class="form-control" type="number" min="0" ng-model="rule.thursday"></td>
            <td><input class="form-control" type="number" min="0" ng-model="rule.friday"></td>
            <td><input class="form-control" type="number" min="0" ng-model="rule.saturday"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="13">
              <a class="btn-primary btn" ng-if="rules.length" ng-click="saveSettings()">Save Settings</a>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
