<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">Add new brand + lead type combination</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <form name="" role="form">
    <div class="modal-body">
      <div class="form-group">
        <label>Brand</label>
        <ui-select ng-model="newCursor.brand" theme="bootstrap">
          <ui-select-match placeholder="Select Brand">
            {{$select.selected.full_name}} {{$select.selected.id}}
            <a class="pull-right" style="color: #456275;" ng-show="newCursor.brand" ng-click="newCursor.brand = null"><i class="fa fa-times-circle"></i></a>
          </ui-select-match>
          <ui-select-choices repeat="brand as brand in brands | filter : $select.search | brandsBySelections : newCursor : joinTables">
            <div ng-bind-html="trustAsHtml((brand.full_name | highlight: $select.search) +' '+ brand.id)"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <label>Lead Type</label>
        <input class="form-control" type="text" ng-model="newCursor.lead_type_text">
      </div>
    </div>
    <div class="modal-footer">
      <div class="grid-cell grid--shrink">
        <a class="pull-left"nc-click="$close()"data-dismiss="modal">Cancel</a>
        <a class="btn btn-primary" ng-click="createCursor()">Create</a>
      </div>
    </div>
  </form>
</div>
