\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{4px}
  \hspace{30px}
  <%= checkbox nil, name:"section_6_primary_bene_purpose_1", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_6_primary_bene_purpose_2", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox true, name:"section_6_primary_bene_purpose_3", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_6_primary_bene_purpose_4", width:"7px", height:"7px" %>

  \vspace{26px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.full_name, name:"section_6_primary_bene_name_1", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.primary_address&.street, name:"section_6_primary_bene_address_1", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[1-1]&.primary_address&.city, name:"section_6_primary_bene_city_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[1-1]&.primary_address&.state&.abbrev, name:"section_6_primary_bene_state_1", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[1-1]&.primary_address&.zip, name:"section_6_primiary_bene_zip_1", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[1-1]&.primary_phone&.value, name:"section_6_primary_bene_phone_1", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[1-1]&.primary_email&.value, name:"section_6_primary_bene_email_1", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[1-1]&.ssn, name:"section_6_primary_bene_ssn_1", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[1-1]&.gender == MALE, name:"section_6_primary_bene_male_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[1-1]&.gender == FEMALE, name:"section_6_primary_bene_female_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[1-1]&.birth_or_trust_date, name:"section_6_primary_bene_dob_1", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[1-1]&.relationship_type&.name, name:"section_6_primary_bene_relationship_to_pi_1", borderwidth:"0", width:"18em", maxlen:32 %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[1-1]&.percentage, name:"section_6_primary_bene_percentage_1", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.full_name, name:"section_6_primary_bene_name_2", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.primary_address&.street, name:"section_6_primary_bene_address_2", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @p_benes[2-1]&.primary_address&.city, name:"section_6_primary_bene_city_2", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @p_benes[2-1]&.primary_address&.state&.abbrev, name:"section_6_primary_bene_state_2", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @p_benes[2-1]&.primary_address&.zip, name:"section_6_primary_bene_zip_2", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @p_benes[2-1]&.primary_phone&.value, name:"section_6_primary_bene_phone_2", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @p_benes[2-1]&.primary_email&.value, name:"section_6_primary_bene_email_2", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @p_benes[2-1]&.ssn, name:"section_6_primary_bene_ssn_2", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @p_benes[2-1]&.gender == MALE, name:"section_6_primary_bene_male_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @p_benes[2-1]&.gender == FEMALE, name:"section_6_primary_bene_female_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @p_benes[2-1]&.birth_or_trust_date, name:"section_6_primary_bene_dob_2", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @p_benes[2-1]&.relationship_type&.name, name:"section_6_primary_bene_relationship_to_pi_2", borderwidth:"0", width:"18em", maxlen:32 %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @p_benes[2-1]&.percentage, name:"section_6_primary_bene_percentage_2", borderwidth:"0", width:"9em" %>

  \vspace{38px}
  \hspace{30px}
  <%= checkbox nil, name:"section_7_contingent_bene_purpose_1", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_7_contingent_bene_purpose_2", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox true, name:"section_7_contingent_bene_purpose_3", width:"7px", height:"7px" %>

  \vspace{5px}
  \hspace{30px}
  <%= checkbox nil, name:"section_7_contingent_bene_purpose_4", width:"7px", height:"7px" %>

  \vspace{29px}
  \hspace{21px}
  <%= textfield @c_benes[1-1]&.full_name, name:"section_7_contingent_bene_name_1", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[1-1]&.primary_address&.street, name:"section_7_contingent_bene_address_1", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @c_benes[1-1]&.primary_address&.city, name:"section_7_contingent_bene_city_1", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @c_benes[1-1]&.primary_address&.state&.abbrev, name:"section_7_contingent_bene_state_1", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @c_benes[1-1]&.primary_address&.zip, name:"section_7_contingent_bene_zip_1", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[1-1]&.primary_phone&.value, name:"section_7_contingent_bene_phone_1", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @c_benes[1-1]&.primary_email&.value, name:"section_7_contingent_bene_email_1", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @c_benes[1-1]&.ssn, name:"section_7_contingent_bene_ssn_1", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @c_benes[1-1]&.gender == MALE, name:"section_7_contingent_bene_male_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @c_benes[1-1]&.gender == FEMALE, name:"section_7_contingent_bene_female_1", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @c_benes[1-1]&.birth_or_trust_date, name:"section_7_contingent_bene_dob_1", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @c_benes[1-1]&.relationship_type&.name, name:"section_7_contingent_bene_relationship_to_pi_1", borderwidth:"0", width:"18em", maxlen:32 %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @c_benes[1-1]&.percentage, name:"section_7_contingent_bene_percentage_1", borderwidth:"0", width:"9em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[2-1]&.full_name, name:"section_7_contingent_bene_name_2", borderwidth:"0", width:"53em", maxlen:95 %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[2-1]&.primary_address&.street, name:"section_7_contingent_bene_address_2", borderwidth:"0", width:"21.5em", maxlen:38 %>

  \vspace{-12px}
  \hspace{248px}
  <%= textfield @c_benes[2-1]&.primary_address&.city, name:"section_7_contingent_bene_city_2", borderwidth:"0", width:"14.3em" %>

  \vspace{-12px}
  \hspace{401px}
  <%= textfield @c_benes[2-1]&.primary_address&.state&.abbrev, name:"section_7_contingent_bene_state_2", borderwidth:"0", width:"6em" %>

  \vspace{-12px}
  \hspace{473px}
  <%= textfield @c_benes[2-1]&.primary_address&.zip, name:"section_7_contingent_bene_zip_2", borderwidth:"0", width:"7.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= textfield @c_benes[2-1]&.primary_phone&.value, name:"section_7_contingent_bene_phone_2", borderwidth:"0", width:"13em" %>

  \vspace{-12px}
  \hspace{161px}
  <%= textfield @c_benes[2-1]&.primary_email&.value, name:"section_7_contingent_bene_email_2", borderwidth:"0", width:"21em" %>

  \vspace{-12px}
  \hspace{381px}
  <%= textfield @c_benes[2-1]&.ssn, name:"section_7_contingent_bene_ssn_2", borderwidth:"0", width:"16.5em" %>

  \vspace{18px}
  \hspace{21px}
  <%= checkbox @c_benes[2-1]&.gender == MALE, name:"section_7_contingent_bene_male_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{58px}
  <%= checkbox @c_benes[2-1]&.gender == FEMALE, name:"section_7_contingent_bene_female_2", width:"7px", height:"7px" %>

  \vspace{-12px}
  \hspace{120px}
  <%= textfield @c_benes[2-1]&.birth_or_trust_date, name:"section_7_contingent_bene_dob_2", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{255px}
  <%= textfield @c_benes[2-1]&.relationship_type&.name, name:"section_7_contingent_bene_relationship_to_pi_2", borderwidth:"0", width:"18em", maxlen:32 %>

  \vspace{-12px}
  \hspace{455px}
  <%= textfield @c_benes[2-1]&.percentage, name:"section_7_contingent_bene_percentage_2", borderwidth:"0", width:"9em" %>
\end{Form}
