<style>
  #csv-import ol,
  #csv-import p {
    max-width: 800px;
  }
  #csv-import .well {
    max-width: 800px;
  }
  #csv-import ol li {
    list-style: inherit;
    padding: 3px;
  }
  #csv-import ol li .alert {
    margin-bottom: 0;
    padding: .5em;
  }
</style>
<div id="csv-import" ng-controller="CsvImportCtrl">
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Consumer CSV Import
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- placeholder -->
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section-content">

      <div>
        <a href="/crm/import_export/Contact_Record_Only_Sample.csv"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download this Sample.csv</a> when loading Contacts Only.
        <br>
        <a href="/crm/import_export/Contact_Record_with_Policies_Sample.csv"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download this Sample.csv</a> when loading Contacts and Policies.
        <br>
        <h5>To Get Started, follow these steps:</h5>
        <ol>
          <li>Download the appropriate demo <code>.csv</code> file above.</li>
          <li>Format your data to match the demo file. You'll need to convert data such as state abbreviations, carrier names, health classes, etc. to the appropriate format using the Insureio Academy's enum tables. <a href="https://academy.insureio.com/csv-import/">Click here</a> for a complete walk-through and the necessary conversion tables.
            <div class="alert alert-info"><strong>Pro Tip:</strong> Sorting your spreadsheet by state, carrier, health class, etc., will make converting to the appropriate enum values faster and easier.</div>
          </li>
          <li>Save your spreadsheet as a <code>.csv</code> file format.</li>
          <li>Click the <strong>"Choose File"</strong> button below to select your saved <code>.csv</code> file.</li>
          <li>Click the <strong>"Upload"</strong> button below. 
            <div class="alert alert-info">
              <strong>Note:</strong> It may take several seconds per contact record to upload your <code>.csv</code> file.
              Please ensure you have the time needed to complete the upload before you begin.
            </div>
          </li>
        </ol>

        <h5>Need help?</h5>
        <p>
          Get a complete walk-through in the <a href="https://academy.insureio.com/csv-import/" target="_blank">Insureio Academy</a>.
          You can also contact our support team at <a href="tel:877-935-6755">877-935-6755</a>.
        </p>

        <h5>Need a customized upload with additional data fields?</h5>
        <p>The Insureio Team can parse, convert, and upload your data for you for a one-time fee. Contact our support team at 877-935-6755 for a quote.</p>

        <div class="well">
          Upload a <code>.csv</code> file containing your CRM data.<br>
          <input type="file" ng-file-select
            ng-model="stateVars.csvFile"
            ng-change="readAndParseFile()">
          <br>
          <div ng-if="stateVars.errors && stateVars.errors.length"
            style="white-space:pre-line;">
            <div class="alert-danger">
              There were errors parsing your file. Please correct them and try again.
              <div ng-if="stateVars.errors.length==1 && stateVars.errors[0].row=='all'"
                ng-bind="stateVars.errors[0].message"></div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Row&nbsp;&nbsp;</th>
                  <th>Error</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="e in stateVars.errors"
                  ng-if="e.row!='all'">
                  <td ng-bind="(e.row-0)+2"></td>
                  <td ng-bind="e.message"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="stateVars.data && stateVars.data.length"
            class="alert-info">
            Counted {{stateVars.data.length}} rows.
            Will process in {{stateVars.batchLength}} batches.
          </div>
          <button class="btn btn-primary"
            ng-disabled="!stateVars.data || stateVars.errors.length"
            ng-click="uploadNextCsvBatch()">
            Upload
          </button>
        </div>
      </div>

      <div class="import-results"
        ng-if="stateVars.status">
        <h3>
          <i ng-if="stateVars.status=='started'" class=" fa fa-spinner fa-spin"></i>
          <i ng-if="stateVars.status=='error'"   class=" fa fa-warning"></i>
          <i ng-if="stateVars.status=='success'" class=" fa fa-check-circle"></i>
          {{stateVars.message}}<br>
            <span ng-if="stateVars.status=='started'">
              Current batch: {{(stateVars.batchIdx-0)+1}}/{{stateVars.batchLength}}
            </span>
            <span ng-if="stateVars.status=='success'">
              Completed uploading {{stateVars.batchLength}} batches.
            </span>
            <span ng-if="stateVars.status=='error'">
              Upload failed at batch {{(stateVars.batchIdx-0)+1}}.
            </span>
        </h3>

        <div ng-if="stateVars.successes.length || stateVars.failures.length">

          <h3>
            Summary
            <span ng-if="stateVars.status=='started'">(so far)</span>
          </h3>
          <table>
            <tr>
              <td>Item count</td>
              <td>
                <strong ng-bind="stateVars.successes.length+stateVars.failures.length"></strong>
              </td>
            </tr>
            <tr>
              <td>Success count</td>
              <td>
                <strong ng-bind="stateVars.successes.length"></strong>
              </td>
            </tr>
            <tr>
              <td>Failure count</td>
              <td>
                <strong ng-bind="stateVars.failures.length"></strong>
              </td>
            </tr>
          </table>

          <div class="grid">
            <div class="grid-cell">
              <h3>Successes</h3>
              <table rules="cols" class="table table-condensed">
                <thead>
                  <th>row</th>
                  <th>id</th>
                  <th>created</th>
                  <th>updated</th>
                </thead>
                <tbody>
                  <tr class="success"
                    ng-repeat="x in stateVars.successes">
                    <td ng-bind="(x.row_number-0)+1"></td>
                    <td ng-bind="x.id"></td>
                    <td ng-bind="x.created_at"></td>
                    <td ng-bind="x.updated_at"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="grid-cell">
              <h3>Failures</h3>
              <table rules="cols" class="table table-condensed">
                <thead>
                  <th>row</th>
                  <th>errors</th>
                </thead>
                <tbody>
                  <tr class="alert-error"
                    ng-repeat="x in stateVars.failures">
                    <td ng-bind="(x.row_number-0)+1"></td>
                    <td ng-bind="x.errors"></td>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-danger"
                ng-if="stateVars.failures.length">
                After addressing the foregoing errors, please do not re-upload your entire data dump.
                Remove the successful (non-erroneous) rows from your CSV or else you will create duplicate entries in Insureio.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>