<div class="modal-header">
  <a type="button" class="close" ng-click="$close()">×</a>
  <h4 class="modal-title">Edit Tracking Data</h4>
</div>
<dr-last-bulletin></dr-last-bulletin>
<div class="modal-body">
  <div class="alert alert-warning">
    Note: Tracking data is normally set immediately upon creation of a consumer record.<br>
    Only an admin user may edit after that point.<br>
    Changing tracking data will effect the accuracy of reports as well as future bulk enrollments in marketing campaigns.
  </div>
  <div class="info-item">
    <label style="vertical-align:top;">Brand:</label>
    <div>
      <ui-select ng-model="person.$tmpBrand"
        ng-click="getBrands(false,$select)"
        theme="bootstrap"
        style="vertical-align:middle;">
        <ui-select-match placeholder="Select Brand">{{$select.selected.name}} {{$select.selected.id}}</ui-select-match>
        <ui-select-choices repeat="brand as brand in brands | filter : $select.search">
          <span ng-bind-html="(brand.name | highlight: $select.search)"></span> {{brand.id}}
        </ui-select-choices>
      </ui-select>
      <a class="btn btn-danger"
        ng-class="(!person.$tmpBrand || person.$tmpBrand.id==person.brand_id) ? 'disabled' : '' "
        ng-click="person.$tmpBrand={id:person.brand_id,name:person.brand_name}">
        <i class="fa fa-times"></i>
      </a>
      <a class="btn btn-primary"
        ng-class="(!person.$tmpBrand || person.$tmpBrand.id==person.brand_id) ? 'disabled' : '' "
        ng-click="confirmAndUpdate('Are you sure you want to change the brand for this consumer record?','brand_id',person.$tmpBrand.id)">
        <i class="fa fa-floppy-o"></i>
      </a>
    </div>
  </div>
  <div class="info-item">
    <label>Lead Type:</label>
    <div>
      <a editable-text="person.lead_type"
        onbeforesave="confirmAndUpdate('Are you sure you want to change the lead type for this consumer record?', 'lead_type',$data)">
        {{person.lead_type || '(Unspecified)'}}
      </a>
    </div>
  </div>

  <div class="info-item">
    <label>Referrer:</label>
    <div>
      <a editable-text="person.referrer"
        onbeforesave="confirmAndUpdate('Are you sure you want to change the referrer for this consumer record?', 'referrer',$data)">
        {{person.referrer || '(Unspecified)'}}
      </a>
    </div>
  </div>

  <div class="info-item">
    <label>Source:</label>
    <div>
      <a editable-text="person.source"
        onbeforesave="confirmAndUpdate('Are you sure you want to change the source for this consumer record?', 'source',$data)">
        {{person.source || '(Unspecified)'}}
      </a>
    </div>
  </div>

  <div class="info-item">
    <label>IP Address:</label>
    <div>
      <a editable-text="person.ip_address"
        onbeforesave="confirmAndUpdate('Are you sure you want to change the ip address for this consumer record?', 'ip_address',$data)">
        {{person.ip_address || '(Unspecified)'}}
      </a>
    </div>
  </div>

  <div class="info-item">
    <label>Quoter Url:</label>
    <div>
      <a editable-text="person.quoter_url"
        onbeforesave="confirmAndUpdate('Are you sure you want to change the quoter url for this consumer record?', 'quoter_url',$data)">
        {{person.quoter_url || '(Unspecified)'}}
      </a>
    </div>
  </div>

</div>