<style type="text/css">
.columns > div{
  display: inline-block;
  min-width: 25%;
  max-width: 20em;
  vertical-align: top;
  text-align: left;
}
.tag_list {
  display:inline-block;
  border-right:1px solid lightgray;
  background: #fff;
  vertical-align: top;
}
.tag_list:last-child {
  border-right: none;
}
.tag_list h5 {
  display:block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0 0 1em 0;
  border-bottom:1px solid lightgray;
}
.tag_list p {
  margin: 0;
}
.tag_list ul {
  margin:0;
  display:inline-block;
  vertical-align: top;
}
.tag_list ul li {
  list-style-type:none;
}
.tag_list ul li a {
  display:block;
  overflow:hidden;
}
.tag_list .select2-container {
  width:100%;
}
.tag_list .select2-container ul {
  display:block;
}
</style>
<div class="modal-content">
  <div class="modal-header">
    <button type="button"
      class="close"
      ng-click="$close()"
      data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">New Consumer</h4>
  </div>
  <dr-last-bulletin></dr-last-bulletin>
  <form name="formHolder.newConsumerForm" role="form">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label tooltip-placement="top" tooltip-trigger="mouseenter"
              uib-tooltip="This brand will be used in all automated communications with the consumer, including marketing and status updates.">
              Brand
              <i class="fa fa-question-circle"></i>
            </label>
            <select class="form-control"
              ng-model="newConsumer.brand_id"
              ng-options="o.id as o.name for o in brands"
              required>
            </select>
          </div>
          <div class="form-group">
            <label>Full name</label>
            <input class="form-control"
              ng-model="newConsumer.full_name"
              size="30" type="text"
              required>
          </div>
          <div class="form-group">
            <label>Suffix</label>
            <input class="form-control"
              ng-model="newConsumer.suffix"
              placeholder="Jr/Sr/1st/2nd/3rd"
              size="30" type="text">
          </div>
          <div class="form-group">
            <label>Date of Birth</label>
            <div style="display:block;">
              <dr-datetime-picker model="newConsumer.birth" date-only="true"></dr-datetime-picker>
            </div>
          </div>
          <div class="form-group">
            <label>Gender</label>
            <select class="form-control"
              ng-model="newConsumer.gender"
              ng-options="o.value as o.text for o in GENDERS">
            </select>
          </div>
          <div class="form-group">
            <label>Email</label>
            <ng-include src="'/contacts/emails_simplified.html'"></ng-include>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <ng-include src="'/contacts/phones_simplified.html'"></ng-include>
          </div>
          <div class="form-group">
            <label>Address</label>
            <ng-include src="'/contacts/addresses_simplified.html'"></ng-include>
          </div>
        </div>
      </div>
      <div class="row"
        ng-controller="MarketingTagFormCtrl">
        <div class="col-md-12">
          <div class="form-group">
            <label>Tags For This Consumer</label>
            <div class="alert alert-info">
              <i class="fa fa-info-circle"></i>
              To add a tag: (1) click any of <strong>Your Commonly Used Tags</strong>,
              or (2) type a new tag in the box and press enter to apply.
            </div>

            <ng-form>
              <input ng-model="newConsumer.$newTag"
                ng-change="parseAndSaveNewTag()"
                class="form-control"
                type="text"
                placeholder="Enter tags like: tag1, tag2, tag3...">
              <!-- Enter key in the text input will act like a click on this button. -->
              <button class="btn" style="display:none;"
                ng-click="parseAndSaveNewTag(true); $event.stopPropagation();">Add</button>
            </ng-form>

            <div id="existing_tags"
              style="padding-bottom:30px;">
              <div class="section-heading grid grid--center">
                <h5>Current Tags For This Consumer</h5>
              </div>
                <a class="tm-tag label label-default label-tag"
                  ng-repeat="tag in tagObj">
                  {{tag}}
                  <i class="fa fa-times-circle"
                    title="Remove tag."
                    ng-click="removeTag(tag, $index)"></i>
                </a>
            </div>

          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Your Commonly Used Tags</label>
            <div id="common_tags" class="form-control"
              style="height:auto;">
              <ul>
                <li ng-repeat="tag in currentUser.common_tags"
                  style="display:inline-block;">
                  <span class="label label-default label-tag">
                    <a class="system" style="color:#303030;"
                      ng-bind="tag[1] ? tag[0]+'='+tag[1] : tag[0]"
                      ng-click="tagObj[ tag[0] ]=tag[1]">
                    </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end .modal-body -->
    <div class="modal-footer">
      <a ng-click="$close()"
        class="btn pull-left">
        Cancel
      </a>
      <a class="btn btn-default"
        ng-class="formHolder.newConsumerForm.$pristine ? 'disabled' : '' "
        ng-click="resetNewConsumer()">
        Reset
      </a>
      <a class="btn btn-primary"
        ng-class="formHolder.newConsumerForm.$pristine ? 'disabled' : '' "
        ng-click="saveNewConsumer()">
        Create
      </a>
    </div>
  </form>
</div>
