<div class="section-header">
  <div class="left">
    <div class="user-type">
      <span class="label label-info">
        Consumer
        <span ng-if="person.entity_type_id"
          style="text-transform:capitalize;"
          ng-bind="person.entity_type_id | enumValue : 'ENTITY_TYPES'">
        </span>
      </span>
    </div>
    <h2 style="margin-bottom:0;">
      <i class="fa fa-circle danger"
        ng-if="!person.full_name"
        title="Required in order to submit to App Team."></i>
      <a href="#" style="font-weight:700;"
        editable-text="person.full_name"
        e-placeholder="Full Name"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','full_name',$data)">
        {{person.full_name || 'Full Name'}}
      </a>
      <a href="#" style="font-size:16px;font-weight:600;"
        editable-text="person.suffix"
        e-placeholder="Suffix"
        onbeforesave="updateRecordSingleField('/consumers/'+person.id+'.json','','suffix',$data)">
        {{person.suffix || 'Suffix'}}
      </a>
    </h2>
  </div>
  <div class="right">
    <div class="actions">
      <div class="btn-group" uib-dropdown>
        <button class="btn btn-primary" uib-dropdown-toggle>
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
          <li>
            <a ng-click="openNewTaskModal(person,this)"
            ng-disabled="!person.$resolved || !person.id">
            Add Task
            </a>
          </li>
          <li>
            <a ng-href="/quoting/quotes/new?consumer_id={{person.id}}">
              Run Quote
            </a>
          </li>
          <li>
            <a ng-href="/quoting/quotes/new?consumer_id={{person.id}}&skip_to_apply_pane=true">
              New App Ticket
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="contact-personal">
  <div class="row details-summary"
    ng-class="!person.$resolved ? 'loading' : ''">
    <div class="col-md-4">
      <!-- Personal -->
      <div class="section">
        <div class="loading-msg"><i class="fa fa-refresh fa-spin"></i></div>
        <div class="title">
          Personal
          <i class="fa fa-pencil pull-right" ng-click="openPersonalInfoModal()"></i>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Title</label>
          <div class="item grid-cell">
            {{person.title}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            Birthdate
            <i class="fa fa-circle danger"
              ng-if="!person.birth_or_trust_date"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell">
            {{(person.birth_or_trust_date | formatOptionalDateAsUS)}}
            <span ng-if="person.birth_or_trust_date"
              style="white-space: nowrap;">
            (Age: {{ person.birth_or_trust_date | formatAsYearsAgo }})
          </span>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            Gender
            <i class="fa fa-circle danger"
              ng-if="person.gender==undefined || person.gender==null"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell">
            <span ng-if="person.gender!=undefined && person.gender!=null"
              ng-bind="(person.gender  | enumValue : 'GENDERS' : 'text')"></span>
            <span ng-if="person.gender==undefined || person.gender==null">-</span>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Height / Weight</label>
          <div class="item grid-cell">
            {{ x = person.health_info_attributes.feet; x == 0 ? 0 : (x || "?") }}'
            {{ x = person.health_info_attributes.inches; x == 0 ? 0 : (x || "?") }}" /
            {{ x = person.health_info_attributes.weight; x == 0 ? 0 : (x || "?") }} lbs
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span uib-tooltip="Enter or update tobacco use in 'Health/Underwriting' tab below.">
              Tobacco <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">
            {{person.health_info_attributes.tobacco ? 'Yes' : 'No' }}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            SSN
            <i class="fa fa-circle danger"
              ng-if="!person.ssn"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell">
            {{(person.ssn | drFormatSsn) }}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            Driver's Lic #
            <i class="fa fa-circle danger"
              ng-if="!person.dln"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell">
            {{person.dln}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            Driver's Lic State
            <i class="fa fa-circle danger"
              ng-if="!person.dl_state_id"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell">
            {{(person.dl_state_id | enumValue : 'STATES') }}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Citizenship</label>
          <div class="item grid-cell">
            {{(person.citizenship_id | enumValue : 'CITIZENSHIPS') }}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            Country Born
            <i class="fa fa-circle danger"
              ng-if="!person.dln"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell">
            {{ (person.birth_country_id | enumValue : 'COUNTRIES') || '(Unspecified)' }}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">State Born</label>
          <div class="item grid-cell">
            {{(person.birth_state_id | enumValue : 'STATES') }}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Marital Status</label>
          <div class="item grid-cell">
            {{(person.marital_status_id | enumValue : 'MARITAL_STATUSES') }}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span uib-tooltip="Add/Update a Spouse relationship using the 'Add Related Consumer' option found in the 'Related' tab.">
              Spouse <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">
            {{clientSpouse.name}}
            <a ng-if="clientSpouse.$resolved && clientSpouse.id"
              ng-href="/consumers/{{clientSpouse.id}}"
              uib-tooltip="Click to view this person.">
              <i class="fa fa-external-link"></i>
            </a>
            <span ng-if="!clientSpouse.$resolved" class="lighter"><i class="fa fa-refresh fa-spin"></i> Still loading.</span>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Entity Type</label>
          <div class="item grid-cell">
            {{(person.entity_type_id | enumValue : 'ENTITY_TYPES')}}
          </div>
        </div>
      </div>
      <!-- End Personal -->
    </div>
    <div class="col-md-4">
      <!-- Contact -->
      <div class="section">
        <div class="loading-msg"><i class="fa fa-refresh fa-spin"></i></div>
        <div class="title">
          Contact
          <i class="fa fa-pencil pull-right" ng-click="openContactMethodsModal()"></i>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span uib-tooltip="Add/Update a Primary Contact relationship using the 'Add Related Consumer' option found in the 'Related' tab.">
              Primary Contact <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">
            <div ng-if="person.primary_contact_id && person.$primary_contact_name">
              {{person.$primary_contact_name}}
              <a ng-href="/consumers/{{person.primary_contact_id}}"
                title="Click to view this person.">
                <i class="fa fa-external-link"></i>
              </a>
            </div>
            <div ng-if="!person.primary_contact_id" class="lighter">
              (The consumer)
            </div>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell"> 
            <span uib-tooltip="Preferred method of contact.">
              Contact Method
              <i class="fa fa-question-circle"></i>
              <i class="fa fa-circle danger"
                ng-if="!person.preferred_contact_method_id"
                title="Required in order to submit to App Team."></i>
            </span>
          </label>
          <div class="item grid-cell">
            {{(person.preferred_contact_method_id | enumValue : 'CONTACT_METHODS')}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span uib-tooltip="Preferred time of contact.">
              Contact Time <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">
            {{person.preferred_contact_time}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            Primary Phone
            <i class="fa fa-circle danger"
              ng-if="!person.$primaryPhone"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell icon">
            <div class="clearfix"
              ng-if="person.$primaryPhone">
              <span>
                {{person.$primaryPhone | drFormatPhone}}
              </span>
              <a class="icon"
                ng-if="can('sms') && person.$primaryPhone && person.$primaryPhone.carrier_id"
                ng-click="openSmsModal(person, person.$primaryPhone, this)"
                uib-tooltip="Send SMS message.">
                <i class="fa fa-commenting"></i>
              </a>
              <a class="icon"
                ng-href="/consumers/{{person.id}}/log_contact_and_call?phone={{person.$primaryPhone.value}}"
                uib-tooltip="Click to call.">
                <i class='fa fa-phone'></i>
              </a>
            </div>
          </div>
        </div>
        <div class="cell grid"
          ng-repeat="phone in person.phones"
          ng-if="phone.id!=person.primary_phone_id">
          <label class="grid-cell">
            Alt. {{(phone.phone_type_id | enumValue : 'PHONE_TYPES') || 'Other'}} Phone
          </label>
          <div class="item grid-cell icon">
            <div class="clearfix">
              <span>
                {{phone | drFormatPhone}}
              </span>
              <a class="icon"
                ng-if="can('sms') && phone.carrier_id"
                ng-click="openSmsModal(person, phone,this)"
                uib-tooltip="Send SMS message.">
                <i class="fa fa-commenting"></i>
              </a>
              <a class="icon"
                href="/consumers/{{person.id}}/log_contact_and_call?phone={{phone.value}}"
                uib-tooltip="Click to call.">
                <i class='fa fa-phone'></i>
              </a>
            </div>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            Primary Email
            <i class="fa fa-circle danger"
              ng-if="!person.$primaryEmail"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell icon">
            <div class="clearfix"
              ng-if="person.$primaryEmail">
              <span style="max-width:calc(100% - 30px);">
                {{person.$primaryEmail.value}}
              </span>
              <a class="icon"
                ng-href="mailto:{{person.$primaryEmail.value}}"
                uib-tooltip="Start an email message to this address.">
                <i class='fa fa-envelope'></i> 
              </a>
            </div>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            Home / Primary Address
            <i class="fa fa-circle danger"
              ng-if="!person.$primaryAddress ||
                     !person.$primaryAddress.state_id ||
                     !person.$primaryAddress.zip ||
                     !person.$primaryAddress.city ||
                     !person.$primaryAddress.street"
              title="Required in order to submit to App Team."></i>
          </label>
          <div class="item grid-cell icon">
            <div class="clearfix"
              ng-if="person.$homeOrPrimaryAddress">
              <div ng-if="person.$homeOrPrimaryAddress.address_type_id!=1">
                {{(person.$homeOrPrimaryAddress.address_type_id | enumValue : 'ADDRESS_TYPES')}}
              </div>
              <span style="max-width:calc(100% - 30px);">
                {{person.$homeOrPrimaryAddress.street}}<br />
                {{person.$homeOrPrimaryAddress.city}} {{(person.$homeOrPrimaryAddress.state_id | enumValue : 'STATES')}} {{person.$homeOrPrimaryAddress.zip | drfixedlen: 5}}
              </span>
              <a class="icon" target="_blank"
                ng-href="https://maps.google.com/?q={{person.$homeOrPrimaryAddress.street}}{{person.$homeOrPrimaryAddress.city}}{{(person.$homeOrPrimaryAddress.state_id | enumValue : 'STATES')}}{{person.$homeOrPrimaryAddress.zip}}"
                uib-tooltip="View address on Google Maps.">
                <i class="fa fa-map-marker"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Personal -->
      <!-- Employment -->
      <div class="section">
        <div class="loading-msg"><i class="fa fa-refresh fa-spin"></i></div>
        <div class="title" style="margin-top:15px;">
          Employment 
          <i class="fa fa-pencil pull-right"
            ng-click="openEmploymentInfoModal()"></i>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Occupation</label>
          <div class="item grid-cell">
            {{person.occupation}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Employer</label>
          <div class="item grid-cell">
            {{person.company}}
          </div>
        </div>
      </div>
      <!-- End Employment -->
    </div>
    <div class="col-md-4">
      <!-- Contact -->
      <div class="section">
        <div class="loading-msg"><i class="fa fa-refresh fa-spin"></i></div>
        <div class="title">
          Consumer Details
        </div>
        <div class="cell grid">
          <label class="grid-cell">ID</label>
          <div class="item grid-cell">
            <span uib-tooltip="Full Numeric Id: {{person.id}}">
              {{person.id | drShortId}}
              <i class="fa fa-question-circle"></i>
            </span>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Create Date</label>
          <div class="item grid-cell"> 
            {{person.created_at | formatOptionalDateAsUS}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Last Contact</label>
          <div class="item grid-cell">
            {{(person.last_contacted | formatOptionalDateAsUS) || '(Never)'}}
          </div>
        </div>
      </div>
      <div class="section"
        title="Tracking data is normally set immediately upon creation of a consumer record. Only an admin user may edit after that point.">
        <div class="loading-msg"><i class="fa fa-refresh fa-spin"></i></div>
        <div class="title">
          Tracking Data
          <i class="fa fa-question-circle"
            ng-if="!currentUser.can('super_edit')"></i>
          <i class="fa fa-pencil pull-right"
            ng-if="currentUser.can('super_edit')"
            ng-click="openTrackingDataModal()"></i>
        </div>
        <div class="cell grid">
          <label class="grid-cell">Brand</label>
          <div class="item grid-cell"
            title="Full Numeric Brand ID: {{person.brand_id}}">
            <span class="label label-default"
              ng-bind="person.brand_id.toString(36).toUpperCase()"></span>
            <span>
              {{person.brand_name}}
            </span>
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span>
              Lead Type
            </span>
          </label>
          <div class="item grid-cell">
            {{person.lead_type}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span>
              Referrer
            </span>
          </label>
          <div class="item grid-cell">
            {{person.referrer}}
          </div>
        </div>
        <div class="cell grid">
          <label class="grid-cell">
            <span>
              Source
            </span>
          </label>
          <div class="item grid-cell">
            {{person.source}}
          </div>
        </div>
        <div class="cell grid"
          title="This is the IP of the device that this lead originated from, if the lead was not created by a logged in Insureio user.">
          <label class="grid-cell">
            <span>
              IP Address <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">
            {{person.ip_address}}
          </div>
        </div>
        <div class="cell grid"
          title="This is the url that this lead originated from, if other than the Insureio quote path.">
          <label class="grid-cell">
            <span>
              Quoter URL <i class="fa fa-question-circle"></i>
            </span>
          </label>
          <div class="item grid-cell">
            {{person.quoter_url}}
          </div>
        </div>
      </div>
      <div class="section">
        <div class="loading-msg"><i class="fa fa-refresh fa-spin"></i></div>
        <div class="title" style="margin-top:15px;">
          Tags
        </div>
        <div id="client_existing_tags"
          style="font-size:0;"><!-- This font-size is an interesting hack to get rid of space put between inline-block objects. -->
          <span class="label label-default label-tag"
            ng-repeat="tag in person.tags"
            style="font-size:13px;">
            {{tag}}
          </span> 
          <a class="label label-new label-tag"
            ng-click="setActiveTab('Marketing')"
            style="font-size:13px;">
            + Add Tag
          </a>
        </div>
      </div>
      <!-- End Tags -->
    </div>
  </div>
</div>