<div id="client-view"
  class="consumer-container"
  ng-controller="ConsumerManagementCtrl">
  <!-- These hidden fields are here for backward compatibility with non-AngularJS functions (only in the tags and attachments gui).
       Hopefully they will be rendered unnecessary soon. -->
  <input type="hidden" value="{{person.id}}" id="contact-id">
  <input type="hidden" value="Consumer"      id="person-type">
  <input type="hidden" value="{{person.id}}" id="person-id">

  <div class="section-container"
    ng-class="{'section-nav-closed': consumerMgmtVars.rightSidebarIsClosed}">
    <div class="section-content grid grid-cell grid-cell--stretch">


      <!-- Right Sidebar -->
      <div class="section-nav grid-cell"
        ng-if="person && person.$resolved && person.$personType">
        <dr-notes class="notes grid-cell"
          notable-type="'Consumer'"
          notable-id="consumerMgmtVars.consumerId"
          inline-new-note-form="true">
        </dr-notes>

        <div id="consumer-tasks" class="grid-cell"
          ng-include = "'/consumers/tasks.html'"
          ng-controller="Consumer.TasksCtrl" >
        </div>
        <button class="btn btn-default toggle"
          ng-click="consumerMgmtVars.rightSidebarIsClosed=!consumerMgmtVars.rightSidebarIsClosed">
          <i class="fa fa-ellipsis-v"
            style="margin-left:-1px;"></i>
        </button>
      </div>
      <!-- / Right Sidebar -->



      <!-- Personal Summary -->
      <div class="summary-personal-container grid-cell">
        <ng-include src="'/consumers/personal.html'"></ng-include>
        <div class="open-section-container">
          <ng-include src="'/consumers/tabs.html'"
            class="navigation">
          </ng-include>
          <div class="open-section">
            <div ng-if="person.$resolved && consumerMgmtVars.activeTab"
              ng-include="templateUrlForActiveTab || setTemplateUrlForActiveTab()"
              ng-init="consumer=person"
              style="{{['Financial','Health'].indexOf(consumerMgmtVars.activeTab)>-1 ? 'display:block;' : ''}}">
            </div>
          </div>
        </div>
      </div>
      <!-- / Personal Summary -->

    </div>
  </div>

</div>

