<ul class="nav-horizontal">
  <li ng-class="consumerMgmtVars.activeTab=='Policy' && 'active'"
    ng-click="setActiveTab('Policy')">
    <a id="policies-trigger">
      Policies
      <span class="badge {{person.opportunities_count>0 ? 'badge-success' : 'badge-default'}}"
        uib-tooltip="{{person.opportunities_count}} Opportunities">
        {{person.opportunities_count}}
      </span>
      <span class="badge {{person.pending_policies_count>0 ? 'badge-success' : 'badge-default'}}"
        uib-tooltip="{{person.pending_policies_count}} Pending Policies">
        {{person.pending_policies_count}}
      </span>
      <span class="badge {{person.placed_policies_count>0 ? 'badge-success' : 'badge-default'}}"
        uib-tooltip="{{person.placed_policies_count}} Placed Policies">
        {{person.placed_policies_count}}
      </span>
    </a>
  </li>
  <li ng-class="consumerMgmtVars.activeTab=='Financial' && 'active'"
    ng-click="setActiveTab('Financial')">
    <a id="financial-trigger">
      Financial
      <i class="fa fa-circle danger"
        ng-if="!(f=(person.financial_info || person.financial_info_attributes)) ||
        f.net_worth_specified==undefined || f.net_worth_specified==null ||
        f.annual_income==undefined || f.annual_income==null"
        title="Required in order to submit to App Team."></i>
    </a>
  </li>
  <li ng-class="consumerMgmtVars.activeTab=='Health' && 'active'"
    ng-click="setActiveTab('Health')">
    <a id="health-trigger">
      Health / Underwriting
    </a>
  </li>
  <li ng-class="consumerMgmtVars.activeTab=='Marketing' && 'active'"
    ng-click="setActiveTab('Marketing')">
    <a id="marketing-trigger">
      Marketing
    </a>
  </li>
  <li ng-class="consumerMgmtVars.activeTab=='Related' && 'active'"
    ng-click="setActiveTab('Related')">
    <a id="related-trigger">
      Related
      <span class="badge {{person.related_count>0 ? 'badge-success' : 'badge-default'}}"
        ng-bind="person.related_count||0">
      </span>
    </a>
  </li>
  <li ng-class="consumerMgmtVars.activeTab=='Files' && 'active'"
    ng-click="setActiveTab('Files')">
    <a id="documents-trigger">
      File Manager
      <span class="badge"
        ng-class="person.attachments_count>0 ? 'badge-success' : 'badge-default' ">
        {{person.attachments_count}}
      </span>
    </a>
  </li>
</ul>