<div id="tasks-cont"
  class="panel panel-default"
  ng-if="person"
  ng-controller="Consumer.TasksCtrl">
  <div class="panel-body">
    <div class="title clearfix">
      <h4><i class="fa fa-clipboard"></i> Tasks</h4>
      <div class="actions">
        <div class="dropdown btn-group btn-xs pull-right" uib-dropdown>
          <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-filter"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right"
            ng-init="rtSideConsumerTabs='notes'" uib-dropdown-menu>
            <li class="title">
              Filter Tasks by:
            </li>
            <li role="separator" class="divider"></li>
            <!-- Hiding "All" for now till Maurice has time to make it properly display both "Open" and "Closed" when selected. This would require a large amount of work.
            <li>
              <a ng-click="showTasks(CURRENT)">
                All
              </a>
            </li> -->
            <li>
              <a ng-click="showTasks(CURRENT)">
                Open
                <span class="badge badge-success"
                  ng-bind="tasks[CURRENT].length"></span>
              </a>
            </li>
            <li>
              <a ng-click="showTasks(OLD)">
                Closed
                <span class="badge badge-default"
                  ng-bind="tasks[OLD].length||person.old_tasks_count"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tasks-wrap">
      <div ng-class="task._colourClass"
        class="{{task.$isOpen ? 'popover-is-open' : ''}} {{task.$editInlineDueAt ? 'active' : ''}}"
        ng-repeat="task in visibleTasks">
        <div id="{{task.id}}"
          class="tasks grid grid--center grid--wrap {{task._colourClass}} {{task.$editDueAt ? 'active' : ''}}">
          <div class="task grid grid-cell"
            uib-tooltip="Task ID: {{task.id}}"
            ng-click="task.$isOpen=true"
            popover-title="Type: {{task.task_type_id | enumValue : 'TASK_TYPES'}}" 
            uib-popover-template="'tasksPopover.html'"
            popover-is-open="task.$isOpen"
            popover-placement="auto left"
            popover-trigger="click outsideClick">
            <div class="icon"><i class="fa fa-tasks-icon"></i></div>
            {{task.label || '(no label)'}}
            <span class="grid-cell grid--shrink"
              ng-if="task.message_id">
              <a href="/marketing/messages/{{task.message_id}}"
                style="margin-left:5px;" target="_blank">
                <i class="fa fa-eye"></i>
              </a>
              <a ng-show="task.failed_attempts && !task.completed_at" 
                style="margin-left:5px;" target="_blank"
                href="/marketing/messages/{{task.message_id}}"
                uib-tooltip="This message failed {{task.failed_attempts}} times. For details, check your warning emails for task {{task.id}} and message {{task.message_id}}.">
                <i class="fa fa-exclamation"></i>
              </a>
            </span>
          </div>
          <a class="date grid-cell grid--shrink"
            uib-tooltip="Due Date"
            ng-click="task.$editInlineDueAt=!task.$editInlineDueAt;">
            <span><!-- This removes the whitespace (DO NOT REMOVE THESE COMMENTS)
           --><i class="fa fa-pencil"></i><!--
           -->{{(task.due_at | formatForTimeAgo : 'by') || '(no due date set)'}}
            </span><!--
         --><div class="accordion-toggle"
              style="position:absolute;right:13px;top:50%;margin-top:-10px;white-space:normal;"><!--
           --><i class="fa fa-angle-up"></i><!--
         --></div>
          </a>
        </div>
        <div class="date-time arrow-up"
          ng-show="task.$editInlineDueAt">
          <strong style="display:inline-block;padding:6px 2px;">
            Edit Due Date
          </strong><br>
          <dr-datetime-picker model="task.due_at"
            prevent-append-to-body="true"></dr-datetime-picker>
          <div class="date-time-footer">
            <a class="btn btn-default pull-left"
              title="Cancel"
              ng-click="task.$editInlineDueAt = false">
              Cancel
            </a>
            <a class="btn btn-primary"
              title="Save change"
              ng-click="saveTask(task)">
              Save Date
            </a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/ng-template"
      id="tasksPopover.html">
      <a type="button" class="close"
        ng-click="task.$isOpen=false">×</a>
      <div class="form-group">
        <strong>Label:</strong>
        {{task.label || '(no label)'}}
      </div>
      <div class="form-group"
        ng-if="task.origin_id && task.origin_type">
        <strong>Relates To:</strong>
        <span uib-tooltip="{{task.sequenceable_type}} {{task.sequenceable_id}}"> 
          {{relatedToLabel(task)}} 
          <span class="label label-default"
            ng-class="relatedToClass(task)">
            {{relatedToId(task)}}
          </span>
          <i class="fa fa-question-circle"></i>
        </span>
      </div>
      <div class="form-group">
        <strong>Due Date:</strong>
        <a ng-click="task.$editDueAt = !task.$editDueAt; 
          $event.preventDefault(); 
          $event.stopPropagation()"
          ng-show="!task.$editDueAt">
          {{(task.due_at | moment : 'format' : 'M/D/YY [by] h:mm a') || '(no due date set)'}}
        </a>
        <div class="date-time"
          ng-show="task.$editDueAt">
          <div ng-click="$event.stopPropagation()">
            <dr-datetime-picker model="task.due_at"
              prevent-append-to-body="true"></dr-datetime-picker>
          </div>
          <a class="btn btn-default"
            title="Cancel"
            ng-click="task.$editDueAt = false">
            Cancel
          </a>
          <a class="btn btn-primary"
            title="Save change"
            ng-click="saveTask(task)">
            Save Date
          </a>
        </div>
      </div>
      <div class="form-group"
        ng-if="task.origin_type && task.origin_id">
        <strong ng-bind="task.origin_type=='Crm::Status' ? 'Status:' : 'Campaign:'"></strong>
        {{task.status_type_name}}
      </div>
      <div class="form-group">
        <strong>Assignee:</strong>
        <a ng-click="task.$editAssignee=true"
          ng-hide="task.completed_at || task.$editAssignee"
          ng-bind="task.assigned_to_name || '(unassigned)'"></a>
        <span ng-show="task.completed_at"
          ng-bind="task.assigned_to_name"></span>
        <dr-user-select ng-show="task.$editAssignee" 
          data-model-holder="task"
          data-on-select-fn="updateTaskAssignee"></dr-user-select>
      </div>
      <div class="form-group">
        <strong>Updated:</strong> 
        {{task.updated_at | moment : 'format' : 'M/D/YY [at] h:mm a'}}
      </div>
      <div class="form-group">
        <strong>Completed:</strong> 
        {{(task.completed_at | moment : 'format' : 'M/D/YY [by] h:mm a') || '(not completed)'}}
      </div>
      <div class="form-group"
        ng-if="task.completed_at">
        <strong>Completed By:</strong> 
        {{task.completed_by_name}}
      </div>
      <div class="form-group">
        <div class="checkbox checkbox-inline checkbox-success">
          <input type="checkbox" id="done"
            ng-model="task.$done"
            ng-click="completeTask(task)"
            ng-disabled="!task.active">
          <label for="done">
            Done
          </label>
        </div>
        <div class="checkbox checkbox-inline checkbox-danger">
          <input type="checkbox" id="suspend"
            ng-model="task.suspended"
            ng-change="suspendOrUnsuspendTask(task)">
          <label for="suspend">
            Suspend
          </label>
        </div>
      </div>
    </script>
  </div>
</div>