// Place all the styles related to the Consumers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error_fields
{
      border: 1px red solid;
}
#new_crm_task .ng-valid select
{
  border: 1px solid #cccccc !important; 
}
#crm-edit-labels label {
  margin-bottom: 5px;
}

#financial_widget .supplementary{
  text-align:center;
}
#financial_widget .supplementary > *{
  text-align:left;
}