<div class="panel-container" id="basic-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      Information About the Proposed Insured
      <span style="font-weight: normal">
        (required to save)
      </span>
    </div>
    <div class="panel-body form-horizontal row-border"
      ng-form name="basicInsuredInfo">
      <div class="form-inline form-group"
        ng-if="isLoggedIn()">
        <label class="col-md-4 control-label">
          Brand Selection
        </label>
        <div class="col-md-8" ng-if="!brands">
          {{brand.name || '(Your Default Profile)'}}  &nbsp; &nbsp; 
          <a class="btn btn-info"
            ng-show="!quoter.brandIdFrozen"
            ng-click="getBrands()">Change</a>
        </div>
        <div class="col-md-8">
          <select class="form-control"
            ng-options="p.id as p.name for p in brands"
            ng-model="consumer.brand_id" ng-if="brands"
            ng-required="true"></select>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="name" class="col-md-4 control-label">Full name</label>
        <div class="col-md-8">
          <input id="name" name="name" class="form-control" type="text"
            ng-blur="searchDupConsumers($event, 'full_name')"
            ng-model="consumer.full_name" placeholder="John Doe" required>
          <required-msg saved="attemptedSave" field="basicInsuredInfo['name']"></required-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="email" class="col-md-4 control-label">Email address</label>
        <div class="col-md-8">
          <input id="email" name="email" class="form-control" type="email"
            ng-blur="searchDupConsumers($event, 'email')"
            ng-model="consumer.$primaryEmailAttributes.value" placeholder="email@domain.com" required>
          <required-msg saved="attemptedSave" field="basicInsuredInfo['email']"></required-msg>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Basic Quote Information
      <span style="font-weight: normal">
        (required to quote)
      </span>
    </div>
    <div class="panel-body form-horizontal row-border"
      ng-form name="basicQuotingInfo">
      <div class="form-inline form-group">
        <label for="gender"
          class="col-md-4 control-label">
          Gender
        </label>
        <div class="col-md-8">
          <select id="gender" 
            name="gender"
            class="form-control" 
            ng-model="consumer.gender">
            <option value="1">Male</option>
            <option value="0">Female</option>
          </select>
          <required-to-view-rates-msg field="basicQuotingInfo['gender']"></required-to-view-rates-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="feet"
          class="col-md-4 control-label">
          Height / Weight
        </label>
        <div class="col-md-8">
          <div class="input-group">
            <input id="feet"
              name="feet"
              class="form-control"
              type="number"
              min="1" max="9" size="2"
              ng-model="health.feet"
              placeholder="ft"
              required>
            <div class="input-group-addon">
              ft
            </div>
          </div>
          <div class="input-group">
            <input id="inches"
              name="inches"
              class="form-control"
              type="number"
              min="0" max="11" size="2"
              ng-model="health.inches"
              placeholder="in"
              required>
            <div class="input-group-addon">
              in
            </div>
          </div>
          <div class="input-group">
            <input id="weight"
              name="weight"
              class="form-control"
              type="number"
              min="50" max="1000" size="3"
              ng-model="health.weight"
              placeholder="lbs"
              required>
            <div class="input-group-addon">
              lbs
            </div>
          </div>
          <required-to-view-rates-msg field="basicQuotingInfo['feet']"></required-to-view-rates-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="state"
          class="col-md-4 control-label">
          State of Residence
        </label>
        <div class="col-md-8">
          <select id="state" name="state"
            class="form-control"
            ng-model="consumer.$primaryAddressAttributes.state_id"
            ng-options="s.id as s.name for s in STATES">
          </select>
          <required-to-view-rates-msg field="basicQuotingInfo['state']"></required-to-view-rates-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">
          Date of Birth
        </label>
        <div class="col-md-8" ng-if="consumer && consumer.$resolved">
        <!-- The above ngIf keeps this from rendering until the `consumer` object is
             loaded/created, preventing annoying console errors. -->
          <dr-datetime-picker model="consumer.birth_or_trust_date"
            date-only="true">
          </dr-datetime-picker>
          <div class="alert alert-danger"
            ng-show="!consumer.birth_or_trust_date && attemptedViewRates">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Required to View Rates
          </div>
        </div>
      </div>

      <div ng-include="'/quoter/tobacco.html'"></div>

      <div class="form-inline form-group" ng-if="!isNMB">
        <label for="health-class" class="col-md-4 control-label">
          Health Class
        </label>
        <div class="col-md-8">
          <select id="health-class"
            name="health-class"
            class="form-control"
            ng-model="quote.health_class_id"
            ng-options="h.id as h.name for h in allowedHealthClassesForQuoting"></select>
          <required-to-view-rates-msg field="basicQuotingInfo['health-class']"></required-to-view-rates-msg>
          <a data-toggle="modal"
            data-target="#classification-tables"
            uib-tooltip="This link opens in a modal and will not take you away from this page"
            tooltip-placement="top"
            tooltip-trigger="mouseenter"
            style="margin-left:10px;">
            <i class="fa fa-question-circle"></i> Determining Health Class
          </a>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="cov-amount"
          class="col-md-4 control-label">
          Coverage Amount
        </label>
        <div class="col-md-8">
          <input id="cov-amount" name="cov-amount"
            class="form-control"
            ng-model="quote.face_amount"
            type="text" dr-format-currency>
          <required-to-view-rates-msg field="basicQuotingInfo['cov-amount']"></required-to-view-rates-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="cov-duration"
          class="col-md-4 control-label">
          Coverage Duration
        </label>
        <div class="col-md-8">
          <select id="cov-duration"
            name="cov-duration"
            class="form-control"
            ng-model="quote.duration_id"
            ng-options="c.id as c.name for c in quoter.durations | orderBy: ['duration_category_id','years','cutoff_age'] "></select>
          <required-to-view-rates-msg field="basicQuotingInfo['cov-duration']"></required-to-view-rates-msg>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="premium-mode"
          class="col-md-4 control-label">
          Premium Mode
        </label>
        <div class="col-md-8">
          <select id="premium-mode"
            name="premium-mode"
            class="form-control"
            ng-model="quote.premium_mode_id"
            ng-options="o.id as o.name for o in PREMIUM_MODES"></select>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Health Tables (Smokers) Modal -->
<div class="modal fade"
  id="classification-tables"
  tabindex="-1" role="dialog"
  aria-labelledby="classification-tables">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Classification Tables
        </h4>
      </div>
      <div class="modal-body">
        <!-- NON-SMOKER HEALTH CLASSIFICATION -->
        <h3>Non-smoker Classification</h3>
        <div class="panel panel-default"
          ng-click="quoter.health_class_id = 1">
          <div class="panel-heading">
            Best Class
          </div>
          <div class="panel-body">
            <ul>
              <li>No health impairments</li>
              <li>No history of diabetes, cancer, or heard disease</li>
              <li>No high blood pressure</li>
              <li>No tobacco use in 36&ndash;60 months (varies by company)</li>
              <li>Cholesterol under 220</li>
              <li>No substance abuse</li>
              <li>No hazardous activities</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default"
          ng-click="quoter.health_class_id = 2">
          <div class="panel-heading">
            Preferred
          </div>
          <div class="panel-body">
            <ul>
              <li>No health impairments</li>
              <li>No history of diabetes, cancer or heart disease</li>
              <li>May have controlled blood pressure</li>
              <li>No Cardiovascular or cancer death in either parent before age 60</li>
              <li>No tobacco use in last 12-36 months (varies by company)</li>
              <li>Cholesterol under 250</li>
              <li>No hazardous activities</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default"
          ng-click="quoter.health_class_id = 3">
          <div class="panel-heading">
            Standard Plus
          </div>
          <div class="panel-body">
            <ul>
              <li>Only minor health impairments</li>
              <li>May have currently controlled blood pressure</li>
              <li>No Cardiovascular death of more than one parent before age 60</li>
              <li>No tobacco use in last 12-24 months (varies by company)</li>
              <li>Cholesterol under 285</li>
              <li>No substance abuse in past 7 years</li>
              <li>No hazardous activities</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default"
          ng-click="quoter.health_class_id = 4">
          <div class="panel-heading">
            Standard
          </div>
          <div class="panel-body">
            <ul>
              <li>Some health impairments</li>
              <li>May have currently controlled blood pressure</li>
              <li>No cardiovascular death of a parent before age 61</li>
              <li>No tobacco use in last 12 months (varies by company)</li>
              <li>Cholesterol under 300</li>
              <li>no substance abuse in past 7 years</li>
              <li>No hazardous activities</li>
            </ul>
          </div>
        </div>
        <!-- SMOKER HEALTH CLASSIFICATION -->
        <h3>Smoker Classification</h3>
        <div class="panel panel-default"
          ng-click="quoter.health_class_id = 2; health.tobacco = true">
          <div class="panel-heading">
            Preferred Tobacco
          </div>
          <div class="panel-body">
            <ul>
              <li>No health impairments</li>
              <li>No history of diabetes, cancer or heart disease</li>
              <li>May have controlled blood pressure</li>
              <li>No Cardiovascular or cancer death in either parent before age 60</li>
              <li>Cholesterol under 250</li>
              <li>No hazardous activities</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default"
          ng-click="quoter.health_class_id = 4; health.tobacco = true">
          <div class="panel-heading">
            Standard Tobacco
          </div>
          <div class="panel-body">
            <ul>
              <li>Some health impairments</li>
              <li>May have currently controlled blood pressure</li>
              <li>No cardiovascular death of a parent before age 61</li>
              <li>Cholesterol under 300</li>
              <li>no substance abuse in past 7 years</li>
              <li>No hazardous activities</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>