<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a type="button"
        class="close"
        ng-click="$close()"
        data-dismiss="modal">
        ×
      </a>
      <h4 class="modal-title">
        {{result.product_name}}
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Fitch:</strong>
        </div>
        <div class="col-md-6">
          &nbsp; {{result.carrier.fitch}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Moody's:</strong>
        </div>
        <div class="col-md-6">
          &nbsp; {{result.carrier.moodys}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Standard &amp; Poors:</strong>
        </div>
        <div class="col-md-6">
          &nbsp; {{result.carrier.standard_poors}}
        </div>
      </div>
      <br>
      <div>
        {{result.carrier.description}}
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary"
        ng-click="$close()"
        data-dismiss="modal">
        Close
      </a>
    </div>
  </div>
</div>