<div class="global-padding" style="margin: 0 auto; max-width:800px;">
  <h3>Your client data has been saved.</h3>
  <p>
    Need to access this client's saved quote or run a new quote?
    <a ng-if="consumer.id"
      ng-href="/consumers/{{consumer.id}}"
      ng-click="$event.preventDefault(); setUrl( '/consumers/'+consumer.id )">Click here to view their record</a>,
    then click the <strong>Policies</strong> tab. You can view saved quotes, start a new quote, or start a new application drop ticket. The quote path will auto-fill with the client's saved data. If you saved beneficiary details, each beneficiary will appear as a related consumer in the <strong>Related</strong> tab.
  </p>
</div>