<div class="panel-container" ng-controller="QuotePath.DiscoveryCtrl">
  <!-- IF SOMETHING HAPPENS -->
  <div class="panel panel-default">
    <div class="panel-heading">If Something Happens</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="purpose1" class="col-md-4 control-label">What is the general purpose of this insurance?</label>
        <div class="col-md-8">
          <select id="purpose1" class="form-control"
            ng-model="kase.purpose_type_id"
            ng-options="item.id as item.name for item in PURPOSE_TYPES"></select>
        </div>
      </div>
      <div class="form-inline form-group" ng-if="kase.purpose_type_id">
        <label for="purpose2" class="col-md-4 control-label">What is the specific purpose of this insurance?</label>
        <div class="col-md-8">
          <select id="purpose2" class="form-control"
          ng-model="kase.purpose_id"
          ng-options="o.id as o.name for o in PURPOSES | whereKeyMatchesValue : 'type_id' : kase.purpose_type_id"></select>
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="purpose2" class="col-md-4 control-label">If something happens to you, who or what is this policy going to protect financially?</label>
        <div class="col-md-8">
          <div class="radio radio-primary radio-inline">
            <input type="radio"
              ng-model="quoter.protectWhom"
              id="protect-whom-spouse" value="spouse">
            <label for="protect-whom-spouse">
              Spouse/Partner
            </label>
          </div>
          <div class="radio radio-primary radio-inline">
            <input type="radio"
              ng-model="quoter.protectWhom"
              id="protect-whom-children" value="children">
            <label for="protect-whom-children">
              Children
            </label>
          </div>
          <div class="radio radio-primary radio-inline">
            <input type="radio"
              ng-model="quoter.protectWhom"
              id="protect-whom-business" value="business"> 
            <label for="protect-whom-business">
              Business
            </label>
          </div>
          <div class="radio radio-primary radio-inline">
            <input type="radio"
              ng-model="quoter.protectWhom"
              id="protect-whom-other" value="other">
            <label for="protect-whom-other">
              Other
            </label>
          </div>
        </div>
      </div>
      <div ng-switch="quoter.protectWhom">
        <!-- SPOUSE -->
        <div ng-switch-when="spouse">
          <div class="form-inline form-group">
            <label for="marital-spouse" class="col-md-4 control-label">What is your marital status?</label>
            <div class="col-md-8">
              <select id="marital-spouse"
                class="form-control"
                ng-model="consumer.marital_status_id"
                ng-options="o.id as o.name for o in MARITAL_STATUSES"></select>
            </div>
          </div>
          <div class="form-inline form-group">
            <label for="spouse-name" class="col-md-4 control-label">What's his/her name?</label>
            <div class="col-md-8">
              <input id="spouse-name" class="form-control" type="text" ng-model="quoter.spouse.name">
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will (s)he be the primary beneficiary?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.spouse.primary"
                  id="quoter.spouse.primary-1" value="1"> 
                <label for="quoter.spouse.primary-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.spouse.primary"
                  id="quoter.spouse.primary-0" value> 
                <label for="quoter.spouse.primary-0">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will (s)he apply for coverage as well?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.spouse.will_also_apply"
                  id="quoter.spouse.will_also_apply-1"  value=1> 
                <label for="quoter.spouse.will_also_apply-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.spouse.will_also_apply"
                  id="quoter.spouse.will_also_apply-0" value> 
                <label for="quoter.spouse.will_also_apply-0">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- CHILDREN -->
        <div ng-switch-when="children">
          <div class="form-inline form-group">
            <label for="children-num" class="col-md-4 control-label">How many children do you have?</label>
            <div class="col-md-8">
              <input id="children-num" class="form-control" type="number" ng-model="quoter.childCt">
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will your child(ren) be the primary beneficiary?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.childTemplate.primary"
                  id="quoter.childTemplate.primary-1"  value="1">
                <label for="quoter.childTemplate.primary-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.childTemplate.primary"
                  id="quoter.childTemplate.primary-0" value>
                <label for="quoter.childTemplate.primary-0">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will your child(ren) also be the owner?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.childTemplate.is_owner"
                  id="quoter.childTemplate.is_owner-1" value="1">
                <label for="quoter.childTemplate.is_owner-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.childTemplate.is_owner"
                  id="quoter.childTemplate.is_owner-0" value>
                <label for="quoter.childTemplate.is_owner-0">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will your child(ren) apply for coverage as well?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.childTemplate.will_also_apply"
                  id="quoter.childTemplate.will_also_apply-1"  value="1">
                <label for="quoter.childTemplate.will_also_apply-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.childTemplate.will_also_apply"
                  id="quoter.childTemplate.will_also_apply-0" value>
                <label for="quoter.childTemplate.will_also_apply-0">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- BUSINESS -->
        <div ng-switch-when="business">
          <div class="form-inline form-group">
            <label for="children-num" class="col-md-4 control-label">Will the primary beneficiary be the business or an individual?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio" 
                  ng-model="quoter.business.entity_type_id"
                  id="{{$scope}}-business-genre-3" value="3">
                <label for="{{$scope}}-business-genre-3">
                  Business
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.business.entity_type_id"
                  id="{{$scope}}-business-genre-1" value="1">
                <label for="{{$scope}}-business-genre-1">
                  Partner/Individual
                </label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label for="bus-ind-name" class="col-md-4 control-label">What is the name of the business/individual?</label>
            <div class="col-md-8">
              <input id="bus-ind-name" class="form-control" type="text" ng-model="quoter.business.name">
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will the business/individual also be the owner?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.business.is_owner"
                  id="quoter.business.is_owner-1" value=1>
                <label for="quoter.business.is_owner-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.business.is_owner"
                  id="quoter.business.is_owner-0" value>
                <label for="quoter.business.is_owner-0">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will the business/individual apply for coverage as well?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.business.will_also_apply"
                  id="quoter.business.will_also_apply-1"  value=1>
                <label for="quoter.business.will_also_apply-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.business.will_also_apply"
                  id="quoter.business.will_also_apply-0" value>
                <label for="quoter.business.will_also_apply-0">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- OTHER -->
        <div ng-switch-when="other">
          <div class="form-inline form-group">
            <label for="other-name" class="col-md-4 control-label">What is its/their/his/her name?</label>
            <div class="col-md-8">
              <input id="other-name" class="form-control" type="text" ng-model="quoter.otherBeneficiary.name">
            </div>
          </div>
          <div class="form-inline form-group">
            <label for="other-relationship" class="col-md-4 control-label">What is your relationship?</label>
            <div class="col-md-8">
              <select id="other-relationship" class="form-control" ng-model="quoter.otherBeneficiary.relationship_type_id" ng-options="o.id as o.name for o in RELATIONSHIP_TYPES"></select>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will the it/they/he/she be the primary beneficiary?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.otherBeneficiary.primary"
                  id="quoter.otherBeneficiary.primary-1"  value="1">
                <label for="quoter.otherBeneficiary.primary-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.otherBeneficiary.primary"
                  id="quoter.otherBeneficiary.primary-0" value>
                <label for="quoter.otherBeneficiary.primary-0">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will the it/they/he/she also be the owner?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.otherBeneficiary.is_owner"
                  id="quoter.otherBeneficiary.is_owner-1" value="1">
                <label for="quoter.otherBeneficiary.is_owner-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.otherBeneficiary.is_owner"
                  id="quoter.otherBeneficiary.is_owner-0" value>
                <label for="quoter.otherBeneficiary.is_owner-0">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Will the it/they/he/she apply for coverage as well?</label>
            <div class="col-md-8">
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.otherBeneficiary.will_also_apply"
                  id="quoter.otherBeneficiary.will_also_apply-1"  value="1">
                <label for="quoter.otherBeneficiary.will_also_apply-1">
                  Yes
                </label>
              </div>
              <div class="radio radio-primary radio-inline">
                <input type="radio"
                  ng-model="quoter.otherBeneficiary.will_also_apply"
                  id="quoter.otherBeneficiary.will_also_apply-0" value>
                <label for="quoter.otherBeneficiary.will_also_apply-0">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- EXISTING INSURANCE -->
  <div class="panel panel-default">
    <div class="panel-heading">Existing Insurance</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">Have you recently applied for insurance coverage?</label>
        <div class="col-md-8">
          <div class="radio radio-primary radio-inline">
            <input type="radio"
              ng-model="consumer.recently_applied_for_life_ins"
              id="is-recently-applied-1"
              ng-value="true">
            <label for="is-recently-applied-1">
              Yes
            </label>
          </div>
          <div class="radio radio-primary radio-inline">
            <input type="radio"
              ng-model="consumer.recently_applied_for_life_ins"
              id="is-recently-applied-0"
              ng-value="false">
            <label for="is-recently-applied-0">
              No
            </label>
          </div>
        </div>
      </div>
      <div ng-show="consumer.recently_applied_for_life_ins">
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">When? <em>(approximately)</em></label>
          <div class="col-md-8">
            <dr-datetime-picker model="consumer.last_applied_for_life_ins_date" date-only="true"></dr-datetime-picker>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="outcome" class="col-md-4 control-label">What was the outcome?</label>
          <div class="col-md-8">
            <select id="outcome" 
              class="form-control" 
              ng-model="consumer.last_applied_for_life_ins_outcome_id" 
              ng-options="op.id as op.name for op in LAST_APPLIED_OUTCOME_OPTIONS">
            </select>
          </div>
        </div>
      </div>
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">Do you have ANY existing insurance coverage?</label>
        <div class="col-md-8">
          <div class="radio radio-primary radio-inline">
            <input type="radio" ng-model="finance.has_coverage" id="has-existing-coverage-1" ng-value="true">
            <label for="has-existing-coverage-1">
              Yes
            </label>
          </div>
          <div class="radio radio-primary radio-inline">
            <input type="radio" ng-model="finance.has_coverage" id="has-existing-coverage-0" ng-value="false">
            <label for="has-existing-coverage-0">
              No
            </label>
          </div>
        </div>
      </div>
      <div ng-show="finance.has_coverage">
        <div class="form-inline form-group">
          <label for="how-much" class="col-md-4 control-label">How much?</label>
          <div class="col-md-8">
            <input id="how-much" 
              class="form-control" 
              type="text" 
              ng-model="finance.asset_life_insurance"
              dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Is this policy intended to replace an existing policy or is it new or additional coverage?</label>
          <div class="col-md-8">
            <div class="radio radio-primary radio-inline">
              <input type="radio"
                ng-model="kase.replacing"
                id="is-replacing-coverage-0" value>
              <label for="is-replacing-coverage-0">
                No, adding to
              </label>
            </div>
            <div class="radio radio-primary radio-inline">
              <input type="radio"
                ng-model="kase.replacing"
                id="is-replacing-coverage-1" value="1">
              <label for="is-replacing-coverage-1">
                Yes, replacing
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- EMPLOYMENT INFO -->
  <div class="panel panel-default">
    <div class="panel-heading">Employment Info</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="occupation" class="col-md-4 control-label">What is your current occupation?</label>
        <div class="col-md-8">
          <input class="form-control" name="occupation" type="text" ng-model="consumer.occupation">
        </div>
      </div>
      <div class="form-inline form-group">
        <label for="employer" class="col-md-4 control-label">Who is your current employer?</label>
        <div class="col-md-8">
          <input class="form-control" name="employer" type="text" ng-model="consumer.company">
        </div>
      </div>
    </div>
  </div>
  <!-- FINANCIAL NEED -->
  <div ng-include="'/quoter/finance.html'"></div>
  <!-- AMOUNT OF COVERAGE -->
  <div class="panel panel-default">
    <div class="panel-heading">Amount of Coverage</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="length" class="col-md-4 control-label">Ideally, how long should your insurance protection last?</label>
        <div class="col-md-8">
          <select id="length" class="form-control"
            ng-model="quote.duration_id"
            ng-options="c.id as c.name for c in quoter.durations | orderBy: ['duration_category_id','years','cutoff_age'] "></select>
        </div>
      </div>
    </div>
  </div>
</div>