<div id="financial" ng-controller="QuotePath.FinancialCtrl">
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Financial
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Financial Need</div>
    <div class="panel-body form-horizontal row-border">
      <!-- INCOME -->
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">
          What is your annual income?
          <i class="fa fa-circle danger"
            ng-if="finance.annual_income==undefined || finance.annual_income==null"
            title="Required in order to submit to App Team."></i>
        </label>
        <div class="col-md-8">
          <div class="input-group">
            <input class="form-control" type="text" 
              ng-model="finance.annual_income" dr-format-currency>
            <span class="input-group-btn">
              <a class="btn btn-default"
                ng-click="showIncomeDetails=!showIncomeDetails">
                <i class="fa fa-calculator"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div ng-show="showIncomeDetails">
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Earned income</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_earned_income" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Unearned income</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_unearned_income" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <a class="btn btn-info"
              ng-click="quoter.calcIncome()">
              Calculate
            </a>
          </div>
        </div>
      </div>
			<div class="form-inline form-group">
				<label class="col-md-4 control-label">
					If you died today, how many years of income would you need to replace?
				</label>
				<div class="col-md-8">
					<input class="form-control" 
            type="number" min="0" step="1"
						ng-model="finance.liability_years_income_needed">
          <span ng-if="quoter.minYearsOfIncome()">
            ({{ quoter.minYearsOfIncome() }} years recommended based on age 65 )
          </span>
				</div>
      </div>
      <!-- SAVINGS/INVESTMENTS -->
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">How much in Savings/Investments do you currently have set aside?</label>
        <div class="col-md-8">
          <div class="input-group">
            <input class="form-control" type="text"
              ng-model="finance.assets" dr-format-currency>
            <span class="input-group-btn">
              <a class="btn btn-default"
                ng-click="showAssetsDetails=!showAssetsDetails">
                <i class="fa fa-calculator"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div ng-show="showAssetsDetails">
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Checking</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_checking" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Savings/Money market</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_savings" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">401k/Pension/IRA</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_pension" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Stocks/Bonds/CDs</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_investments" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Primary residence value</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_home_equity" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Real estate</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_real_estate" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Life insurance</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.asset_life_insurance" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <a class="btn btn-info"
              ng-click="quoter.calcAssets()">
              Calculate
            </a>
          </div>
        </div>
      </div>
      <!-- LIABILITIES -->
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">
          What expenses and debts would need to be covered if you died today?
        </label>
        <div class="col-md-8">
          <div class="input-group">
            <input class="form-control" type="text"
              ng-model="finance.liabilities" dr-format-currency>
            <span class="input-group-btn">
              <a class="btn btn-default"
                ng-click="showLiabilitiesDetails=!showLiabilitiesDetails">
                <i class="fa fa-calculator"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div ng-show="showLiabilitiesDetails">
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Final expenses</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_final_expense" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Other cash needs</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_other" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Auto/Boat/RVs</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_auto" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Credit card(s)</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_credit" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Student loans</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_student_loans" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Personal loans</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_personal_loans" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Mortgage 1</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_mortgage_1" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">Mortgage 2</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_mortgage_2" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">H.E.L.O.C.</label>
          <div class="col-md-8">
            <input class="form-control" type="text"
              ng-model="finance.liability_heloc" dr-format-currency>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label">College Funding</label>
          <div class="col-md-8">
            <div class="input-group">
              <input class="form-control" type="text"
              ng-model="finance.liability_education" dr-format-currency>
              <span class="input-group-btn">
                <a class="btn btn-default" ng-click="openCollegeCostCalcModal()">
                  <i class="fa fa-calculator"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <a class="btn btn-info"
              ng-click="quoter.calcLiabilities()">
              Calculate
            </a>
          </div>
        </div>
      </div>

      <!-- NET WORTH -->
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">Estimated Net Worth</label>
        <div class="col-md-8">
          {{ quoter.calculatedNetWorth() | currency : "$" : 0 }}
          <a class="btn btn-sm btn-info" style="margin-left:10px"
            ng-click="finance.net_worth_specified= (quoter.calculatedNetWorth() >0 ? quoter.calculatedNetWorth() : 0)">
            Use this Amount
          </a>
        </div>
      </div>
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">
          Net Worth
          <i class="fa fa-circle danger"
            ng-if="finance.net_worth_specified==undefined || finance.net_worth_specified==null"
            title="Required in order to submit to App Team."></i>
        </label>
        <div class="col-md-8">
          <input class="form-control" type="text"
            ng-model="finance.net_worth_specified" dr-format-currency>
        </div>
      </div>

      <!-- RECOMMENDED COV AMOUNT -->
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">Recommended Coverage Amount</label>
        <div class="col-md-8">
          {{ quoter.recommendedCoverageAmount() | currency : "$" : 0 }} 
          <a class="btn btn-sm btn-info" style="margin-left:10px"
            ng-click="quote.face_amount=quoter.recommendedCoverageAmount()">
            Use this Amount
          </a>
        </div>
      </div>
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">Coverage Amount Selected</label>
        <div class="col-md-8">
          <input class="form-control" type="text"
            ng-model="quote.face_amount" dr-format-currency>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="needsFinanceSaveButton" class="navigation">
    <a class="btn btn-primary"
      ng-click="!saving && saveFinance()">
      Save Changes
    </a>
  </div>
</div>
