<div id="quote-path" ng-controller="QuotePathCtrl">
  <div class="section-header hidden-xs">
    <div class="left">
      <!-- STEPS WIZARD -->
      <div id="wizard" ng-if="quoter.requestType && !quoter.saved">
        <ul class="steps">
          <li class="step step--complete step--inactive"
          ng-if="currentUser.id && currentUser.submit_application && currentUser.submit_referral"
          ng-click="quoter.requestType=null">
            <span class="step__icon"></span>
            <span class="step__label">Submission Option</span>
          </li>
          <li class="step step--incomplete" ng-class="{'step--active': quoter.currentPane==pane, 'step--complete': pane.checked, 'step--disabled': pane.disabled}" ng-repeat="pane in quoter.path" ng-click="pane.name && quoter.setPane(quoter.path[$index])">
            <span class="step__icon"></span>
            <span class="step__label">{{pane.label}}</span>
          </li>
        </ul>
      </div>
      <!-- END STEPS WIZARD -->
    </div>
    <div class="right">
      <div class="actions">
      </div>
    </div>
  </div>

  <div class="section-container"
    ng-if="!isLoggedIn() && agentSummary.error"
    style="position:relative; top:0; left:0; width:100vw; height:10vh; background:white; z-index: 5; display: table-cell; text-align: center;">
    <p>We're sorry, this link has expired. Please contact your agent for a new one.</p>
  </div>

  <div class="section-container"
    style="{{!isLoggedIn() ? 'position:relative; top:0; left:0; width:100%; background:white;' : ''}}"
    ng-if="majorResourcesLoadedOrResolved && !agentSummary.error"
    ng-class="{'section-nav-closed': quoter.rightSidebarIsCollapsed}">
    <div class="section-content"
      ng-class="quoter.currentPane.name.toLowerCase() || 'submission_option' ">

      <!-- AGENT SUMMARY (CUSTOMER-FACING, NOT USER-FACING) -->
      <div ng-show="!isLoggedIn() && agentSummary.name"
        class="agent-summary panel panel-default">
        <div class="panel-body row">
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <img ng-src="{{agentSummary.thumb}}"
              style="max-width:100%;max-height:150px;">
          </div>
          <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
            <div ng-if="!quoter.currentPane || quoter.currentPane.name=='BASIC_INFO'">
              <p><strong>Welcome to My Easy Online Life Insurance Center</strong></p>
              <p>Buying life insurance is an important personal decision. The following questions about your goals, health, and overall financial situation will help you select the products, insurance company, and pricing that best meet your needs and budget. Enter the information below to compare current rates from top rated life insurance carriers. If you have questions or need assistance, please call me. I am here to help.</p>
            </div>
            <div ng-if="quoter.currentPane.name=='DISCOVERY'">
              <p><strong>Discovery</strong></p>
              <p>Not sure how much coverage you need? Fill out the Financial Need section and my financial calculator will suggest a recommended amount of coverage.</p>
            </div>
            <div ng-if="quoter.currentPane.name=='UNDERWRITING'">
              <p><strong>Underwriting</strong></p>
              <p>The questions on this page about your health and financial history will help determine the appropriate health class for your insurance coverage. Life insurance carriers use the health class to determine how much your coverage will cost.</p>
            </div>
            <div ng-if="quoter.currentPane.name=='COMPARE'">
              <p><strong>Compare</strong></p>
              <p>These rates are based on the information you provided. They represent the best prices available from top-rated insurers. This information should be used for rate comparison only and is not an offer of life insurance. Your actual premium will be determined by the insurer after the underwriting process.</p>
              <p>To continue, choose the policy that best meets your needs and click "Apply." If you have any questions, please give me a call or check out the FAQs listed on this page.</p>
            </div>
            <div ng-if="quoter.currentPane.name=='APPLICATION' && !quoter.saved">
              <p><strong>Review & Submit Application</strong></p>
              <p>Great choice! Now it's time to fill out an easy online application. All required information is marked with an asterisk.</p>
              <p>Once you submit your application, I'll review it and have my assistant contact you to schedule your exam. Depending on the insurer you selected, we may also need to collect additional information from you at that time. If you have any questions, please give me a call - I'm happy to help.</p>
            </div>
            <div style="line-height:initial">
              <strong>{{agentSummary.name}}</strong><br>
              <strong ng-if="agentSummary.brand_name && agentSummary.brand_name!=agentSummary.name" style="display:block;">{{agentSummary.brand_name}}</strong>
              <a href="mailto:{{agentSummary.email.value}}">{{agentSummary.email.value}}</a><br ng-show="agentSummary.email.value">
              {{agentSummary.phone | drFormatPhone}}
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-right">
            <a href="https://seal.godaddy.com/verifySeal?sealID=MMW8rkuDdtxJ5JF25HaDgUXOUxh1uGoWIxUWqXjryCxov8uIoDX" target="_blank">
              <img src="//seal.godaddy.com/images/3/en/siteseal_gd_3_h_l_m.gif" title="Verification Logo" border="none">
            </a>
          </div>
        </div>
      </div>
      <!-- END AGENT SUMMARY -->

      <ng-include src="'/quoter/product-selection.html'" ng-if="!quoter.requestType"></ng-include>
      <!-- Quote Path Steps -->
      <div ng-show="quoter.requestType && quoter.productLine && !quoter.saved">
        <!-- 1st pane: Select Request Type: Application or Referral -->
        <ng-include src="quoter.fileUrl(quoter.path[0])" ng-show="quoter.path.indexOf(quoter.currentPane) <= 0"></ng-include>
        <!-- Remaining Panes -->
        <div ng-if="consumer.$resolved || consumer.financial_info_attributes" ng-show="isCurrentPane(pane)" ng-repeat="pane in quoter.path.slice(1)">
          <ng-include src="quoter.fileUrl(pane)"></ng-include>
        </div>
        <!-- Footer navigation div -->
        <div id="quote-footer-nav" class="navigation" ng-if="QuotePathCtrl">
          <button class="btn" ng-show="quoter.prevPane" ng-click="quoter.setPane(quoter.prevPane)">
            &larr; Previous: {{quoter.prevPane.label}}
          </button>
          <button class="btn btn-success" ng-show="showBtnSaveBasicInfo()" ng-click="saveChangesFromNavigation()" ng-class="{disabled: saving}">
            Save Basic Info
          </button>
          <button class="btn btn-default" ng-show="showBtnSkipToQuotes()" ng-click="viewRates()" ng-class="{lighter: !canViewRates()}" ng-attr-title="{{viewRatesErrorMsg}}" tooltip-placement="top" tooltip-trigger="mouseenter" ng-disabled="viewRatesErrorMsg || waitingOnRates">
            Skip to Quotes
          </button>
          <button class="btn btn-default" ng-show="showBtnSkipToApplication()" ng-click="quoter.setPane(APPLICATION)">
            Skip to Application
          </button>
          <button class="btn btn-success" ng-show="showBtnSaveConsumerAndCase()" ng-click="saveChangesFromNavigation()" ng-disabled="saving">
            Save Consumer & Case
          </button>
          <button class="btn btn-primary" ng-if="quoter.nextPane && !quoter.nextPane.viewRates" ng-click="quoter.setPane(quoter.nextPane)">
            Next: {{quoter.nextPane.label}} &rarr;
          </button>
          <button class="btn btn-primary" ng-if="quoter.nextPane && quoter.nextPane.viewRates" ng-click="viewRates()" ng-attr-title="{{viewRatesErrorMsg}}" tooltip-placement="top" tooltip-trigger="mouseenter" ng-disabled="viewRatesErrorMsg">
            Next: View Quotes &rarr;
          </button>
          <button class="btn btn-primary" ng-if="showBtnReferToSalesTeam()" ng-click="saveChangesFromNavigation(true)" ng-disabled="saving">
            Next: Refer To Sales Team &rarr;
          </button>
          <button class="btn btn-primary" ng-if="showBtnSubmitForProcessing()" ng-click="app.attemptedSubmit = true; saveChangesFromNavigation(true)" ng-disabled="saving">
            Next: Submit For Processing &rarr;
          </button>
          <!-- Button for consumers, not users -->
          <button class="btn btn-primary" ng-if="!isLoggedIn() && isCurrentPane(APPLICATION)" ng-click="saveChangesFromNavigation(true)" ng-disabled="saving">
            Next: Send My Request &rarr;
          </button>
      </div>
    </div><!-- End Section Content -->
    <!-- THANK YOU PAGE -->
    <div ng-show="quoter.saved">
      <ng-include ng-if="isLoggedIn() && !quoter.submitted" src="'/quoter/data_saved_agent_facing.html'"></ng-include>
      <ng-include ng-if="isLoggedIn() && quoter.submitted" src="'/quoter/thank_you_agent_facing_submitted.html'"></ng-include>
      <ng-include ng-if="!isLoggedIn() && (quoter.submitted || quoter.saved)" src="'/quoter/thank_you_consumer_facing.html'"></ng-include>
    </div>
    <!-- DISCLAIMER -->
    <div class="license-disclaimer" ng-if="!isLoggedIn() && consumer" ng-show="agentSummary.name" ng-bind="agentSummary.license_disclaimer"></div>
    <div class="section-nav"
      ng-if="isLoggedIn()">
      <div class="form-group">
        <label for="notes">Notes
          <span ng-if="consumer.full_name">
            for {{consumer.full_name}}
          </span>
        </label>
        <textarea id="notes" 
          class="form-control"
          ng-model="quoter.criticalNote.text"></textarea>
      </div>
      <button class="btn btn-default toggle" ng-click="quoter.rightSidebarIsCollapsed = !quoter.rightSidebarIsCollapsed">
        <i class="fa fa-ellipsis-v" style="margin-left: -1px;"></i>
      </button>
    </div>
  </div><!-- End Section Container -->
</div>