<div class="modal-content">
  <div class="modal-header">
    <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
    <h4 class="modal-title">Existing Consumer Identified</h4>
  </div>

  <form name="existingConsumerForm" class="" id="existing-consumer-modal" ng-repeat="person in consumers" novalidate>
    <dr-last-bulletin></dr-last-bulletin>
    <div class="modal-body">
      <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>
        There is already an existing consumer record with these details. To avoid creating a duplicate record, please select "Use Existing Record" below.
      </div>
      <div class="form-horizontal">
        <div class="form-inline form-group">
          <label class="col-md-5">
            Name
          </label>
          <div class="col-md-7">
            <span class="item">{{person.full_name}}</span>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-5">
            ID
          </label>
          <div class="col-md-7" uib-tooltip="ID: {{person.id}}">
            <span class="label label-default">{{person.id | drShortId}}</span>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-5">
            Email
          </label>
          <div class="col-md-7">
            <span class="item">{{person.$primaryEmail.value}}</span>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-5">
            Date Created
          </label>
          <div class="col-md-7">
            <span class="item">{{person.created_at | formatOptionalDateAsUS}}</span>
          </div>
        </div>
        <div class="form-inline form-group">
          <label class="col-md-5">
            Source
          </label>
          <div class="col-md-7">
            <span class="item">{{person.source}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <a ng-click="$close()" data-dismiss="modal" class="btn pull-left">Create New Record</a>
      <button ng-click="loadConsumer(person.id, $close)" type="submit" class="btn btn-primary">Use Existing Record</button>
    </div>
  </form>
</div>