<div class="modal-header">
  <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
  <h4 class="modal-title" 
    id="college-calculator">
    College Funding Calculator
  </h4>
</div>
<div class="modal-body college-cost-calculator">
  <!-- COLLEGE FUNDING CALCULATOR -->
  <div class="panel panel-default"
    ng-repeat="child in quoter.children">
    <div class="panel-heading">
      Child {{$index+1}}
    </div>
    <div class="panel-body form-inline">
      <div class="form-group">
        <label>Age</label>
        <input class="form-control" type="number" maxlength="99"
          ng-model="child.age" style="max-width: 60px;">
      </div>
      <div class="form-group">
        <label>Type</label>
        <select class="form-control"
          ng-model="child.collegeType">
          <option value="0">Public 2yr</option>
          <option value="1">Public 4yr</option>
          <option value="3">Private 4yr</option>
        </select>
      </div>
      <div class="form-group">
        <label>Residence</label>
        <select class="form-control"
          ng-model="child.collegeResidence">
          <option value="0">In-State</option>
          <option value="1">Out-of-State</option>
        </select>
      </div>
      <div class="form-group">
        <label>Fees</label>
        <select class="form-control"
          ng-model="child.collegeFees">
          <option value="0">Tuition Only</option>
          <option value="1">Tuition &amp; Board</option>
        </select>
      </div>
    </div>
    <div class="panel-footer text-right">
      <a class="text-danger pull-left"
        ng-click="quoter.removeChild(child)">
        Remove child
      </a>
      <strong>
        Total: {{ quoter.calcCollegeCost(child) | currency : "$" : 0 }}
      </strong>
    </div>
  </div>
  <a class="btn btn-info"
    ng-click="quoter.addChild()">
    Add Child
  </a>
</div>
<div class="modal-footer">
  <a type="button"
    class="btn pull-left" data-dismiss="modal">
    Cancel
  </a>
  <strong>Suggested Funding Amount: {{ quoter.calcCollegeCost() | currency : "$" : 0 }}</strong>
  <a class="btn btn-primary" style="margin-left:10px;"
    ng-click="finance.liability_education=quoter.calcCollegeCost(); $close()">
    Use this Amount
  </a>
</div>