<div class="phones" ng-repeat="phone in phoneOwner.phones_attributes" ng-hide="phone._destroy">
  <input class="form-control" name="phone-{{ownerType}}-{{$index}}" type=tel ng-model="phone.value" ui-mask="(999)999-9999" required>
  <input class="form-control" type="text" ng-model="phone.ext"
    style="width:4em" ng-show="phone.phone_type_id == WORK_PHONE_TYPE_ID" >
  <select class="form-control"
    name="phone-type-{{ownerType}}-{{$index}}"
    ng-model="phone.phone_type_id"
    ng-options="t.id as t.name for t in PHONE_TYPES" required></select>
  <a class="btn btn-warning"
    ng-show="$index > 0 || allowPhoneRemoval"
    ng-click="phone._destroy=true">
    Remove Phone
  </a>
  <span class="alert alert-danger"
        ng-show="$index == 0 &&
        ({{phoneForm}}['phone-{{ownerType}}-{{$index}}'].$error.required ||
        {{phoneForm}}['phone-type-{{ownerType}}-{{$index}}'].$error.required) &&
        ( ( {{phoneForm}}['phone-{{ownerType}}-{{$index}}'].$touched && !waitToValidate) || saveAttemptIndicated() )">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Required Field
  </span>
</div>
<a class="btn btn-primary" ng-click="addPhone(phoneOwner)">Add Phone</a>
