<div class="process-comparison-table table-responsive">
  <table class="table table-hover table-link">
    <thead>
      <tr>
        <th></th>
        <th class="text-center">Application Process</th>
        <th class="text-center">Referral Process</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-right">Needs Analysis</td>
        <td class="text-center"><i class="fa fa-ban"></i> You do</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
      </tr>
      <tr>
        <td class="text-right">Health Screening</td>
        <td class="text-center"><i class="fa fa-ban"></i> You do</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
      </tr>
      <tr>
        <td class="text-right">Provide Quotes</td>
        <td class="text-center"><i class="fa fa-ban"></i> You do</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
      </tr>
      <tr>
        <td class="text-right">Make the Sale</td>
        <td class="text-center"><i class="fa fa-ban"></i> You do</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
      </tr>
      <tr>
        <td class="text-right">Application Processing</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
      </tr>
      <tr>
        <td class="text-right">Case Management</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
      </tr>
      <tr>
        <td class="text-right">Policy Delivery</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
      </tr>
      <tr>
        <td class="text-right">Policy Placement</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
        <td class="text-center"><i class="fa fa-check"></i> We do</td>
      </tr>
      <tr>
        <td class="text-right">Commission Compensation</td>
        <td class="text-center"><strong>100%</strong> of your normal commission</td>
        <td class="text-center"><strong>50%</strong> of your normal commission</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td class="text-center" cellspacing="0">
          <a class="btn btn-primary" ng-click="quoter.setRequestType(APPLICATION_REQUEST); quoter.setPane(quoter.path[0]); quoter.path[0].checked=false">Use Application Process</a>
        </td>
        <td class="text-center" cellspacing="0">
          <a class="btn btn-primary" ng-click="quoter.setRequestType(REFERRAL_REQUEST); quoter.setPane(quoter.path[0]); quoter.path[0].checked=false">Use Referral Process</a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>