<div class="form-inline form-group">
  <label class="col-md-4 control-label">
    Have you used tobacco products in the past 5 years?
  </label>
  <div class="col-md-8">
    <div class="radio radio-primary radio-inline">
      <input type="radio"
        ng-model="health.tobacco"
        id="quoter-tobacco-1"
        ng-value="true"> 
      <label for="quoter-tobacco-1">
        Yes
      </label>
    </div>
    <div class="radio radio-primary radio-inline">
      <input type="radio"
        ng-model="health.tobacco"
        id="quoter-tobacco-0"
        ng-value="false">
      <label for="quoter-tobacco-0">
        No
      </label>
    </div>
    <div class="alert alert-danger"
      ng-show="health.tobacco==null && attemptedViewRates">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      Required to View Rates
    </div>
    <div class="alert alert-danger"
      ng-show="!health.tobacco && quoter.hasCondition('tobacco')">
      <i class="fa fa-question-circle"></i> 
      To eliminate tobacco info from your quotes, you must clear the tobacco data fields below.
    </div>
  </div>
</div>
<div ng-show="health.tobacco || quoter.hasCondition('tobacco')">
  <div dr-tobacco-inputs
    data-last-use-model="health.tobacco_cigarette_last"
    data-current-model="health.tobacco_cigarettes_current"
    data-average-use-model="health.tobacco_cigarettes_per_day"
    data-type-model="hasCigarettes"
    data-type-label="Cigarettes">
    <div class="form-inline form-group">
      <label class="col-md-4 control-label">
        Average cigarettes per day
      </label>
      <div class="col-md-8">
        <select class="form-control"
          ng-model="health.tobacco_cigarettes_per_day"
          ng-options="opt[1] as opt[0] for opt in quoter.AVG_CIGARETTES_OPTS">
        </select>
      </div>
    </div>
  </div>
  <div dr-tobacco-inputs
    data-last-use-model="health.tobacco_cigar_last"
    data-current-model="health.tobacco_cigars_current"
    data-average-use-model="health.tobacco_cigars_per_month"
    data-type-model="hasCigars"
    data-type-label="Cigars">
    <div class="form-inline form-group">
      <label class="col-md-4 control-label">Average cigars per month</label>
      <div class="col-md-8">
        <input class="form-control" type="number" ng-model="health.tobacco_cigars_per_month">
      </div>
    </div>
  </div>
  <div dr-tobacco-inputs
    data-last-use-model="health.tobacco_pipe_last"
    data-current-model="health.tobacco_pipe_current"
    data-average-use-model="health.tobacco_pipes_per_year"
    data-type-model="hasPipe"
    data-type-label="Pipe">
    <div class="form-inline form-group">
      <label class="col-md-4 control-label">Average pipes smoked per year</label>
      <div class="col-md-8">
        <input class="form-control" type="number" ng-model="health.tobacco_pipes_per_year">
      </div>
    </div>
  </div>
  <div dr-tobacco-inputs
    data-last-use-model="health.tobacco_chewed_last"
    data-current-model="health.tobacco_chewed_current"
    data-type-model="hasChaw"
    data-type-label="Chewing tobacco">
  </div>
  <div dr-tobacco-inputs
    data-last-use-model="health.tobacco_nicotine_patch_or_gum_last"
    data-current-model="health.tobacco_nicotine_patch_or_gum_current"
    data-type-model="hasPatchOrGum"
    data-type-label="Nicotine patch or gum">
  </div>
</div>