<div class="form-horizontal row-border">
  <div class="form-inline form-group">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="checkbox checkbox-primary">
        <input type="checkbox"
          ng-model="typeModel"
          id="quoter-tobacco-{{$id}}"> 
        <label for="quoter-tobacco-{{$id}}">
          {{typeLabel}}
        </label>
      </div>
    </div>
  </div>
  <div class="form-horizontal row-border" ng-show="typeModel || currentModel || lastUseModel || averageUseModel">
    <div class="form-inline form-group">
      <label class="col-md-4 control-label">Are you a current user?</label>
      <div class="col-md-8">
        <div class="radio radio-primary radio-inline">
          <input type="radio"
            ng-model="currentModel"
            id="quoter-tobacco-current-{{$id}}-1" value="1">
          <label for="quoter-tobacco-current-{{$id}}-1">
             Yes
          </label>
        </div>
        <div class="radio radio-primary radio-inline">
          <input type="radio"
            ng-model="currentModel"
            id="quoter-tobacco-current-{{$id}}-0"
            ng-value="false">
          <label for="quoter-tobacco-current-{{$id}}-0">
             No
          </label>
        </div>
      </div>
    </div>
    <ng-transclude ng-show="currentModel || quoter.isLessThanOneYearAgo(lastUseModel) || averageUseModel"></ng-transclude>
    <div class="form-inline form-group" ng-show="lastUseModel || !currentModel" >
      <label class="col-md-4 control-label">Date of last use</label>
      <div class="col-md-8">
          <dr-datetime-picker model="lastUseModel" date-only="true"></dr-datetime-picker>
        </div>
        <span class="help-block" ng-if="quoter.isMoreThanFiveYearsAgo(lastUseModel)">
          This date is <strong>more than 5 years ago</strong>. You are welcome to store it here for documentation, but it <strong>will not effect rates</strong>.
        </span>
        <span class="help-block" ng-if="lastUseModel && quoter.isLessThanOneYearAgo(lastUseModel) && !averageUseModel">
          This date is <strong>less than a year ago</strong>. For such recent use, a <strong>daily average is still required</strong>.
        </span>
      </div>
    </div>
  </div>
</div>