<div id="health-underwriting" class="panel-container" ng-controller="QuotePath.UnderwritingCtrl">
  <div class="section-header">
    <div class="left">
      <h2 style="margin-bottom:0;">
        Health / Underwriting
      </h2>
    </div>
    <div class="right">
      <div class="actions">
        <!-- Placeholder -->
      </div>
    </div>
  </div>
  <!-- RESIDENCY -->
  <div class="panel panel-default">
    <div class="panel-heading">Residency</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="height" class="col-md-4 control-label">
          Are you a US citizen?
        </label>
        <div class="col-md-8">
          <div class="radio radio-primary">
            <input ng-click="consumer.citizenship_id='1'" ng-checked="consumer.citizenship_id == 1" type="radio" id="underwriting-citizen-1" value="1">
            <label ng-click="consumer.citizenship_id='1'" for="underwriting-citizen-1">Yes</label>
          </div>
          <div class="radio radio-primary">
            <input ng-click="consumer.citizenship_id='4'" ng-checked="consumer.citizenship_id != 1" type="radio" id="underwriting-citizen-0" value="0">
            <label ng-click="consumer.citizenship_id='4'" for="underwriting-citizen-0">No</label>
          </div>
        </div>
      </div>
      <div class="form-inline form-group" ng-if="consumer.citizenship_id > 1">
        <label for="height" class="col-md-4 control-label">Status</label>
        <div class="col-md-8">
          <select class="form-control" ng-model="consumer.citizenship_id">
            <option value="2">Permanent Resident</option>
            <option value="3">Visa</option>
            <option value="4">Other</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- END RESIDENCY -->
  <!-- HEALTH HISTORY -->
  <div class="panel panel-default" id="health-history">
    <div class="panel-heading">Health History</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline">
        <label for="height" class="col-md-4 control-label">Have you ever been diagnosed with or treated for any of the following health conditions? <em>(Select ALL that apply)</em></label>
        <div class="col-md-8 checkbox-field">
          <p>In most cases, the Insureio health screening tool can immediately evaluate <strong>one</strong> major medical condition. Selecting two or more medical conditions from the options below will require evaluation by our in-house underwriter or your brokerage director to receive accurate health rating recommendations.</p>
          <ng-include src="'/health/disease_checkboxes.html'"></ng-include>
          <ng-include src="'/quoter/disease_fields.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
  <!-- END HEALTH HISTORY -->
  <!-- HEIGHT / WEIGHT / TOBACCO -->
  <div class="panel panel-default" ng-show="!QuotePathCtrl">
    <div class="panel-heading">Height / Weight / Tobacco</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="height" class="col-md-4 control-label">Height?</label>
        <div class="col-md-8">
          <div class="input-group">
            <input id="health-feet" class="form-control" type="number" min="1" max="9" required ng-model="health.feet" size="2">
            <div class="input-group-addon">ft</div>
          </div>
          <div class="input-group">
            <input class="form-control" type="number" min="0" max="11" required ng-model="health.inches" size="2">
            <div class="input-group-addon">in</div>
          </div>
          <div class="input-group">
            <input class="form-control" type="number" min="50" max="1000" required ng-model="health.weight" size="3">
            <div class="input-group-addon">lbs</div>
          </div>
        </div>
      </div>
      <div ng-show="!QuotePathCtrl">
        <div ng-include="'/quoter/tobacco.html'"></div>
      </div>
    </div>
  </div>
  <!-- END HEIGHT / WEIGHT / TOBACCO -->
  <!-- BLOOD PRESSURE INFORMATION -->
  <div class="panel panel-default" id="health-bp">
    <div class="panel-heading">Blood Pressure Information</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="height" class="col-md-4 control-label">Have you ever been diagnosed with or treated for high blood pressure?</label>
        <div class="col-md-8">
          <div class="radio radio-primary" ng-click="setDefaultBp()">
            <input type="radio"
              ng-model="health.bp"
              id="quoter-blood-pressure-1"
              ng-value="true">
            <label for="quoter-blood-pressure-1">
              Yes
            </label>
          </div>
          <div class="radio radio-primary">
            <input type="radio"
              ng-model="health.bp"
              id="quoter-blood-pressure-0"
              ng-value="false">
            <label for="quoter-blood-pressure-0">
              No
            </label>
          </div>
          <p ng-show="!health.bp && quoter.hasCondition('bp')" class="red">To eliminate blood pressure info from your quotes, you must clear the blood pressure data fields below.</p>
        </div>
      </div>
      <div ng-show="quoter.hasCondition('bp')">
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">What is your systolic pressure? *</label>
          <div class="col-md-8">
            <select class="form-control"
              ng-model="health.bp_systolic"
              ng-options="opt[0] as opt[1] for opt in SYSTOLIC_BP_OPTIONS"
              ng-required="health.bp"></select>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">What is your diastolic pressure? *</label>
          <div class="col-md-8">
            <select class="form-control"
              ng-model="health.bp_diastolic"
              ng-options="opt[0] as opt[1] for opt in DIASTOLIC_BP_OPTIONS"
              ng-required="health.bp"></select>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">When were you last treated?</label>
          <div class="col-md-8">
            <dr-datetime-picker model="health.bp_last_treatment" date-only="true"></dr-datetime-picker>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">If currently taking blood pressure medication, how long has your blood pressure been successfully controlled by medication?</label>
          <div class="col-md-8">
            <select class="form-control" ng-model="health.bp_control_start" ng-options="opt[0] as opt[1] for opt in bpControlStartOptions"></select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END BLOOD PRESSURE INFORMATION -->
  <!-- CHOLESTEROL INFORMATION -->
  <div class="panel panel-default" id="health-cholesterol">
    <div class="panel-heading">Cholesterol Information</div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="height" class="col-md-4 control-label">Have you ever been diagnosed with or treated for high cholesterol?</label>
        <div class="col-md-8">
          <div class="radio radio-primary" ng-click="setDefaultCholesterol()">
            <input type="radio"
              ng-model="health.cholesterol"
              id="quoter-cholesterol-1"
              ng-value="true">
            <label for="quoter-cholesterol-1">
              Yes
            </label>
          </div>
          <div class="radio radio-primary">
            <input type="radio"
              ng-model="health.cholesterol"
              id="quoter-cholesterol-0"
              ng-value="false">
            <label for="quoter-cholesterol-0">
              No
            </label>
          </div>
          <p ng-show="!health.cholesterol && quoter.hasCondition('cholesterol')" class=red>To eliminate cholesterol info from your quotes, you must clear the cholesterol data fields below.</p>
        </div>
      </div>
      <div ng-show="quoter.hasCondition('cholesterol')">
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">What is your cholesterol level? *</label>
          <div class="col-md-8">
            <select class="form-control"
              ng-model="health.cholesterol_level"
              ng-options="opt[0] as opt[1] for opt in TOTAL_CHOLESTEROL_OPTIONS"
              ng-required="health.cholesterol"></select>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">What is your HDL ratio? *</label>
          <div class="col-md-8">
            <select class="form-control"
              ng-model="health.cholesterol_hdl"
              ng-options="opt[0] as opt[1] for opt in HDL_CHOLESTEROL_OPTIONS"
              ng-required="health.cholesterol"></select>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">When were you last treated?</label>
          <div class="col-md-8">
            <dr-datetime-picker model="health.cholesterol_last_treatment" date-only="true"></dr-datetime-picker>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">If currently taking cholesterol medication, how long has your cholesterol been successfully controlled by medication?</label>
          <div class="col-md-8">
            <select class="form-control" ng-model="health.cholesterol_control_start" ng-options="opt[0] as opt[1] for opt in cholesterolControlStartOptions"></select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END CHOLESTEROL INFORMATION -->
  <!-- FAMILY HISTORY -->
  <div class="panel panel-default" id="family-history">
    <div class="panel-heading">
      Family History
    </div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">Have you had any immediate family members (parents or siblings), who have contracted cardiovascular disease (heart attacks or strokes), cancer, diabetes, or kidney disease prior to age {{ isNMB ? 60 : 70 }}?</label>
        <div class="col-md-8">
          <div class="radio radio-primary">
            <input type="radio" ng-model="quoter.showFamilyHistory" id="show-family-history-1" value="1" ng-change="quoter.showFamilyHistory && health.relatives_diseases.length || health.relatives_diseases.push({})">
            <label for="show-family-history-1">Yes</label>
          </div>
          <div class="radio radio-primary">
            <input type="radio" ng-model="quoter.showFamilyHistory" id="show-family-history-0" value="">
            <label for="show-family-history-0">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body form-horizontal row-border" ng-show="quoter.showFamilyHistory || health.relatives_diseases.length">
      <div ng-hide="quoter.showFamilyHistory" class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i> You have unchecked the box above, but following data will still be used unless you click the pertinent button(s) labelled "Remove This Record."
      </div>
      <div class="numbered-list">
        <div ng-repeat="disease in health.relatives_diseases">
          <div class="form-inline form-group">
            <label for="disease.type_id" class="col-md-4 control-label">Condition</label>
            <select id="relatives_disease-{{$id}}-type_id" class="form-control col-md-8" ng-model="disease.type_id" ng-options="d.id as d.label for d in relativesDiseaseTypes" required></select>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">What is this person's relationship toward you?</label>
            <div class="col-md-8">
              <select id="relatives_disease-{{$id}}-relationship_type_id" ng-model="disease.relationship_type_id" ng-options="r.id as r.name for r in RELATIONSHIP_TYPES" class="form-control">
              </select>
            </div>
          </div>
          <div class="row" style="padding:3px 0;">
            <div class="col-md-4">Age at Onset</div>
            <div class="col-md-8"><input class="form-control" type="number" ng-model="disease.onset_age"></div>
          </div>
          <div class="row" style="padding:3px 0;">
            <div class="col-md-4">Age at Death (leave blank unless this condition was fatal)</div>
            <div class="col-md-8"><input class="form-control" type="number" ng-model="disease.death_age"></div>
          </div>
          <ng-include ng-if="!!disease.type_id" src="'/quoter/disease_fields_merged.html'"></ng-include>
          <div class="form-inline form-group"><!-- "Remove" RelativesDisease button -->
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8"><a class="btn btn-danger" ng-click="health.relatives_diseases.splice($index, 1)">Remove This Record</a></div>
          </div>
        </div>
      </div>
      <div class="form-inline form-group"><!-- "Add" RelativesDisease button -->
        <div class="col-md-8"><a class="btn btn-default" ng-click="health.relatives_diseases.push({})">Add</a></div>
      </div>
    </div>
  </div>
  <!-- END FAMILY HISTORY -->
  <!-- DRIVING HISTORY -->
  <div class="panel panel-default" id="driving-history">
    <div class="panel-heading">
      Driving History Information
    </div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">In the past {{ isNMB ? 7 : 5 }} years have you had {{ isNMB ? 'any' : '2 or more' }} moving violations or accidents, been convicted of reckless driving, DUI/DWI, or had your drivers license suspended or revoked?</label>
        <div class="col-md-8">
          <div class="radio radio-primary">
            <input type="radio" ng-model="quoter.showDrivingHistory" id="show-driving-history-1" value="1"  ng-change="quoter.showDrivingHistory && health.moving_violations.length || health.moving_violations.push({})">
            <label for="show-driving-history-1">Yes</label>
          </div>
          <div class="radio radio-primary">
            <input type="radio" ng-model="quoter.showDrivingHistory" id="show-driving-history-0" value="">
            <label for="show-driving-history-0">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body form-horizontal row-border" ng-show="quoter.showDrivingHistory || health.moving_violations.length || health.moving_violation_details.trim()">
      <div ng-hide="quoter.showDrivingHistory" class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i> You have unchecked the box above, but following data will still be used unless you click the pertinent button(s) labelled "Remove This Record" and clear the "details" field.
      </div>
      <div class="numbered-list">
        <div ng-repeat="violation in health.moving_violations">
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">When did this incident occur?</label>
            <div class="col-md-8">
              <dr-datetime-picker model="violation.date" date-only="true"></dr-datetime-picker>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Did this incident involve a car accident?</label>
            <div class="col-md-8">
              <div class="radio radio-primary">
                <input type="radio" ng-model="violation.accident" id="moving-violation-{{$id}}-accident-1" ng-value="true">
                <label for="moving-violation-{{$id}}-accident-1">Yes</label>
              </div>
              <div class="radio radio-primary">
                <input type="radio" ng-model="violation.accident" id="moving-violation-{{$id}}-accident-0" ng-value="false">
                <label for="moving-violation-{{$id}}-accident-0">No</label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Did this incident result in a driver\'s license suspension?</label>
            <div class="col-md-8">
              <div class="radio radio-primary">
                <input type="radio" ng-model="violation.dl_suspension" id="moving-violation-{{$id}}-dl_suspension-1" ng-value="true">
                <label for="moving-violation-{{$id}}-dl_suspension-1">Yes</label>
              </div>
              <div class="radio radio-primary">
                <input type="radio" ng-model="violation.dl_suspension" id="moving-violation-{{$id}}-dl_suspension-0" ng-value="false">
                <label for="moving-violation-{{$id}}-dl_suspension-0">No</label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group" ng-if="violation.dl_suspension">
            <label class="col-md-4 control-label">Whether past or future, when will/did your DL suspension end?</label>
            <div class="col-md-8">
              <dr-datetime-picker model="violation.dl_suspension_end" date-only="true"></dr-datetime-picker>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Were you found to have (or did you plead guilty or no contest to a charge of) operating while under the influence of drugs or alcohol?</label>
            <div class="col-md-8">
              <div class="radio radio-primary">
                <input type="radio" ng-model="violation.dui_dwi" id="moving-violation-{{$id}}-dui_dwi-1" ng-value="true">
                <label for="moving-violation-{{$id}}-dui_dwi-1">Yes</label>
              </div>
              <div class="radio radio-primary">
                <input type="radio" ng-model="violation.dui_dwi" id="moving-violation-{{$id}}-dui_dwi-0" ng-value="false">
                <label for="moving-violation-{{$id}}-dui_dwi-0">No</label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Did this incident constitute an instance of reckless driving?</label>
            <div class="col-md-8">
              <div class="radio radio-primary">
                <input type="radio" ng-model="violation.reckless_driving" id="moving-violation-{{$id}}-reckless_driving-1" ng-value="true">
                <label for="moving-violation-{{$id}}-reckless_driving-1">Yes</label>
              </div>
              <div class="radio radio-primary">
                <input type="radio" ng-model="violation.reckless_driving" id="moving-violation-{{$id}}-reckless_driving-0" ng-value="false">
                <label for="moving-violation-{{$id}}-reckless_driving-0">No</label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group"><!-- "Remove" MovingViolation button -->
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8"><a class="btn btn-danger" ng-click="health.moving_violations.splice($index, 1)">Remove This Record</a></div>
          </div>
        </div>
      </div>
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">What detail would you like to provide about these incidents?</label>
        <div class="col-md-8">
          <textarea id="moving-violation-{{$id}}-detail" class="form-control" ng-model="health.moving_violation_details" style="width:75%" placeholder="Moving violation details"></textarea>
        </div>
      </div>
      <div class="form-inline form-group"><!-- "Add" MovingViolation button -->
        <div class="col-md-8"><a class="btn btn-default" ng-click="health.moving_violations.push({})">Add</a></div>
      </div>
    </div>
  </div>
  <!-- END DRIVING HISTORY -->
  <div class="alert alert-warning">
    <i class="fa fa-exclamation-circle"></i>
    The following items below may impact health class determination and underwriting results, <strong>but are not used to calculate rates displayed within Insureio.</strong> For the most accurate quoting, review the carrier-specific underwriting guides found in the 'Resource Library: Underwriting Resources' section or contact our underwriter at 800-823-4852.
  </div>
  <!-- CRIMINAL HISTORY -->
  <div class="panel panel-default" id="criminal-history">
    <div class="panel-heading">
      Criminal History Information
    </div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">Have you ever been convicted of, or are you currently charged with, a felony or misdemeanor, or are you currently on parole or probation?</label>
        <div class="col-md-8">
          <div class="radio radio-primary">
            <input type="radio" ng-model="quoter.showCriminalHistory" id="show-criminal-history-1" value="1" ng-change="quoter.showCriminalHistory && health.crimes.length || health.crimes.push({})">
            <label for="show-criminal-history-1">Yes</label>
          </div>
          <div class="radio radio-primary">
            <input type="radio" ng-model="quoter.showCriminalHistory" id="show-criminal-history-0" value="">
            <label for="show-criminal-history-0">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body form-horizontal row-border" ng-show="quoter.showCriminalHistory || health.crimes.length || health.criminal_details.trim()">
      <div ng-hide="quoter.showCriminalHistory" class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i> You have unchecked the box above, but following data will still be used unless you click the pertinent button(s) labelled "Remove This Record" and clear the "details" field.
      </div>
      <div class="numbered-list">
        <div ng-repeat="crime in health.crimes">
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">When did this incident occur?</label>
            <div class="col-md-8">
              <dr-datetime-picker model="crime.date" date-only="true"></dr-datetime-picker>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Is this a pending charge (as opposed to a conviction)?</label>
            <div class="col-md-8">
              <div class="radio radio-primary">
                <input type="radio" ng-model="crime.pending" id="crime-{{$id}}-pending-1" ng-value="true">
                <label for="crime-{{$id}}-pending-1">Yes</label>
              </div>
              <div class="radio radio-primary">
                <input type="radio" ng-model="crime.pending" id="crime-{{$id}}-pending-0" ng-value="false">
                <label for="crime-{{$id}}-pending-0">No</label>
              </div>
            </div>
          </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">Did this result in a felony conviction?</label>
            <div class="col-md-8">
              <div class="radio radio-primary">
                <input type="radio" ng-model="crime.felony" id="crime-{{$id}}-felony-1" ng-value="true">
                <label for="crime-{{$id}}-felony-1">Yes</label>
              </div>
              <div class="radio radio-primary">
                <input type="radio" ng-model="crime.felony" id="crime-{{$id}}-felony-0" ng-value="false">
                <label for="crime-{{$id}}-felony-0">No</label>
              </div>
            </div>
              </div>
          <div class="form-inline form-group">
            <label class="col-md-4 control-label">If this resulted in probation, when is/was the scheduled end of your probation? (And approximate date is sufficient.)</label>
            <div class="col-md-8">
              <dr-datetime-picker model="crime.probation_end" date-only="true"></dr-datetime-picker>
            </div>
          </div>
          <div class="form-inline form-group"><!-- "Remove" Crime button -->
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8"><a class="btn btn-danger" ng-click="health.crimes.splice($index, 1)">Remove This Record</a></div>
          </div>
        </div>
      </div>
      <div class="form-inline form-group">
        <label class="col-md-4 control-label">What detail would you like to provide about these incidents?</label>
        <div class="col-md-8">
          <textarea id="moving-crime-{{$id}}-detail" class="form-control" ng-model="health.criminal_details" style="width:75%" placeholder="Criminal history details"></textarea>
        </div>
      </div>
      <div class="form-inline form-group"><!-- "Add" Crime button -->
        <div class="col-md-8"><a class="btn btn-default" ng-click="health.crimes.push({})">Add</a></div>
      </div>
    </div>
  </div>
  <!-- END CRIMINAL HISTORY -->
  <!-- BANKRUPTCY -->
  <p ng-show="!finance.bankruptcy && quoter.hasCondition('bankruptcy')"
    class="alert alert-danger">
    <i class="fa fa-exclamation-circle"></i>
    To eliminate bankruptcy from your quotes, you must clear the bankruptcy data fields below.
  </p>
  <div class="panel panel-default">
    <div class="panel-heading">
      Bankruptcy
    </div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="height" class="col-md-4 control-label">
          Have you ever declared bankruptcy?
        </label>
        <div class="col-md-8">
          <div class="radio radio-primary">
            <input ng-model="finance.bankruptcy" type="radio" id="underwriting-bankruptcy-1" value="1" ng-value="true">
            <label for="underwriting-bankruptcy-1">Yes</label>
          </div>
          <div class="radio radio-primary">
            <input ng-model="finance.bankruptcy" type="radio" id="underwriting-bankruptcy-0" value="" ng-value="false">
            <label for="underwriting-bankruptcy-0">No</label>
          </div>
        </div>
      </div>
      <div ng-show="quoter.hasCondition('bankruptcy')">
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">
            When? <em>(Enter date)</em>
          </label>
          <div class="col-md-8">
            <dr-datetime-picker model="finance.bankruptcy_declared" date-only="true"></dr-datetime-picker>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">
            Has the bankruptcy been discharged? <em>(Enter date)</em>
          </label>
          <div class="col-md-8">
            <dr-datetime-picker model="finance.bankruptcy_discharged" date-only="true"></dr-datetime-picker>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END BANKRUPTCY -->
  <!-- FOREIGN TRAVEL -->
  <p ng-show="!health.foreign_travel && quoter.hasCondition('foreignTravel')"
    class="alert alert-danger">
    <i class="fa fa-exclamation-circle"></i>
    To eliminate foreign travel info from your quotes, you must clear the foreign travel data fields below.
  </p>
  <div class="panel panel-default" id="travel">
    <div class="panel-heading">
      Foreign Travel
    </div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="height" class="col-md-4 control-label">
          In the past two years or next two years, have you travelled or do you plan on traveling outside of the US?
        </label>
        <div class="col-md-8">
          <div class="radio radio-primary">
            <input ng-model="health.foreign_travel" type=radio id="health-foreign_travel-1"  ng-value="true">
            <label for="health-foreign_travel-1">
              Yes
            </label>
          </div>
          <div class="radio radio-primary">
            <input ng-model="health.foreign_travel" type=radio id="health-foreign_travel-0" ng-value="false">
            <label for="health-foreign_travel-0">
              No
            </label>
          </div>
        </div>
      </div>
      <div ng-show="quoter.hasCondition('foreignTravel')">
        <div class="form-inline form-group">
          <label for="travel-country" class="col-md-4 control-label">Where?</label>
          <div class="col-md-8">
            <select id="travel-country" class="form-control" ng-model="health.foreign_travel_country_id" ng-options="o.id as o.name for o in COUNTRIES" required></select>
            <input class="form-control" type="text" placeholder="Other Country" ng-model="health.foreign_travel_country_detail">
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">
            When?
          </label>
          <div class="col-md-8">
            <dr-datetime-picker model="health.foreign_travel_when" date-only="true"></dr-datetime-picker>
          </div>
        </div>
        <div class="form-inline form-group">
          <label for="height" class="col-md-4 control-label">
            Anticipated length of stay?
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" ng-model="health.foreign_travel_duration">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END FOREIGN TRAVEL -->
  <!-- AVOCATION -->
  <div class="panel panel-default">
    <div class="panel-heading">
      Avocation Information
    </div>
    <div class="panel-body form-horizontal row-border">
      <div class="form-inline form-group">
        <label for="height" class="col-md-4 control-label">
          Do you participate in any hazardous activities like racing or motor sports, hang gliding, piloting, rock climbing, scuba diving, or skydiving?
        </label>
        <div class="col-md-8">
          <div class="radio radio-primary">
            <input id="health-hazardous_avocation-1"
              type="radio"
              ng-model="health.hazardous_avocation"
              ng-value="true">
            <label for="health-hazardous_avocation-1">
              Yes
            </label>
          </div>
          <div class="radio radio-primary">
            <input id="health-hazardous_avocation-0"
              type="radio"
              ng-model="health.hazardous_avocation"
              ng-value="false">
            <label for="health-hazardous_avocation-0">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="form-inline form-group" ng-show="health.hazardous_avocation">
        <label for="avocation" class="col-md-4 control-label">
          Please provide details and dates
        </label>
        <div class="col-md-8">
          <textarea id="avocation"
            class="form-control" 
            ng-model="health.hazardous_avocation_further_detail" 
            style="width:75%"
            placeholder="Please provide details and dates.">
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <!-- END AVOCATION -->
  <div class="navigation" ng-hide="descendsFromQuotePathCtrl">
    <a class="btn btn-success"
      ng-click="!saving && saveUnderwriting()"
      ng-show="consumerMgmtVars.consumerId && isLoggedIn() && currentUser.can('contacts_consumers')"
      ng-class="{disabled:saving}">
      Save Underwriting
    </a>
  </div>
</div>
