<div id="main-menu-inner">
  <ul ng-cloak class="navigation" ng-show="isLoggedIn()">
    <li ng-repeat="(sectionName, section) in SECTION_PAGES"
      class="{{section.length>1 ? 'w-sub' : ''}} {{section.length>1 && $root.leftNavExpanded && $root.leftNavExpandedSections[ sectionName ] ? '' : 'closed'}}"
      ng-show="!SECTION_PERMISSIONS[sectionName] || can( SECTION_PERMISSIONS[sectionName] )">

      <a ng-if="section.length==1"
        ng-class="$root.activeSectionName==sectionName ? 'active' : ''"
        ng-href="{{section[0][2]}}"
        ng-click="$event.preventDefault(); setUrl( section[0][2] )">
        <div class="icon">
          <i class="{{SECTION_ICONS[ sectionName ]}}"></i>
        </div>
        <span class="title" ng-bind="sectionName"></span>
      </a>

      <a ng-if="section.length>1"
        ng-class="$root.activeSectionName==sectionName ? 'active' : ''"
        ng-click="$root.leftNavExpandedSections[ sectionName ]=(!$root.leftNavExpandedSections[ sectionName ])">
        <div class="icon">
          <i class="{{SECTION_ICONS[ sectionName ]}}"></i>
        </div>
        <span class="title" ng-bind="sectionName"></span>
      </a>

      <ul ng-if="section.length>1"
        class="sub-navigation">
        <li ng-repeat="page in section"
          ng-if="!page[1] || currentUser.can( page[1] )"
          ng-class="$root.activePageName==page[0] ? 'active' : ''">
          <a ng-href="{{page[2]}}"
            ng-click="$event.preventDefault(); setUrl(page[2])" >
            <span ng-bind="page[0]"></span>
          </a>
        </li>
      </ul>

    </li>
  </ul>
</div>