\begin{Form}
  \vspace{0px}
  \hspace{0px}

  \vspace{498px}
  \hspace{38px}
  <%= textfield nil, name:"wi_hiv_pi_signature", borderwidth:"0", width:"38em" %>

  \vspace{-12px}
  \hspace{435px}
  <%= textfield nil, name:"wi_hiv_pi_signature_date", borderwidth:"0", width:"9em", maxlen:18 %>

  \vspace{25px}
  \hspace{38px}
  <%= textfield @cons.full_name, name:"wi_hiv_pi_name", borderwidth:"0", width:"38em" %>

  \vspace{-12px}
  \hspace{435px}
  <%= textfield @cons.birth_or_trust_date, name:"wi_hiv_pi_dob", borderwidth:"0", width:"9em", maxlen:18 %>

  \vspace{23px}
  \hspace{38px}
  <%= textfield @cons.primary_address&.street, name:"wi_hiv_pi_address", borderwidth:"0", width:"49em", maxlen:88 %>

  \vspace{23px}
  \hspace{38px}
  <%= textfield @cons.primary_address&.city, name:"wi_hiv_pi_city", borderwidth:"0", width:"23em" %>

  \vspace{-12px}
  \hspace{292px}
  <%= textfield @cons.primary_address&.state&.abbrev, name:"wi_hiv_pi_state", borderwidth:"0", width:"12em" %>

  \vspace{-12px}
  \hspace{435px}
  <%= textfield @cons.primary_address&.zip, name:"wi_hiv_pi_zip", borderwidth:"0", width:"10em" %>

  \vspace{18px}
  \hspace{335px}
  <%= signature height:"2em" %>
\end{Form}
