
\begin{Form}

  \vspace{0px}
  \hspace{0px}

  \vspace{360px}
  \hspace{390px}
  <%= textfield @kase.policy_number, name:"policy_number", borderwidth:"0", width:"9em" %>

  \vspace{7px}
  \hspace{121px}
  <%= textfield @cons.full_name, name:"insured_name", borderwidth:"0", width:"32em" %>

  \vspace{55px}
  \hspace{183px}
  <%= textfield @kase.policy_number, name:"policy_number_2", borderwidth:"0", width:"9.3em" %>

  \vspace{6px}
  \hspace{138px}
  <%= textfield nil, name:"return_amount", borderwidth:"0", width:"6.3em" %>

  \vspace{47px}
  \hspace{52px}
  <%= textfield nil, name:"policyowner_signature", borderwidth:"0", width:"28em" %>

  \vspace{-12px}
  \hspace{362px}
  <%= textfield nil, name:"policyowner_signature_date", borderwidth:"0", width:"15em" %>

  \vspace{37px}
  \hspace{52px}
  <%= textfield nil, name:"policyowner_signature_2", borderwidth:"0", width:"28em" %>

  \vspace{-12px}
  \hspace{362px}
  <%= textfield nil, name:"policyowner_signature_date_2", borderwidth:"0", width:"15em" %>

  \vspace{20px}
  \hspace{319px}
  <%= signature height:"2em" %>
\end{Form}
