<div id="notes-cont" class="panel panel-default">
  <div class="panel-body">
    <div class="title clearfix">
      <h4><i class="fa fa-files-o"></i> Notes</h4>

      <div class="actions">
        <a class="btn btn-default btn-xs"
          ng-click="$newNoteForm=!$newNoteForm"
          uib-tooltip="Add Note">
          <i class="fa fa-pencil"></i>
        </a>
        <div class="dropdown btn-group btn-xs"
          style="margin-left:10px;" uib-dropdown>
          <a class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle 
          uib-tooltip="Filter">
            <i class="fa fa-filter"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li class="title">
              Filter Notes by:
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a ng-click="loadNotes('all')">
                All
              </a>
            </li>
            <li>
              <a ng-click="loadNotes('critical')" 
                ng-if="isForConsumer()">
                Critical
              </a>
            </li>
            <li>
              <a ng-click="loadNotes('personal')"
                ng-if="isForConsumer()">
                Personal
              </a>
            </li>
            <li>
              <a ng-click="loadNotes('confidential')">
                Confidential
              </a>
            </li>
          </ul>
        </div>
        <a class="btn btn-default btn-xs" 
          ng-click="(notes | whereKeyMatchesValue : '$expanded' : true).length ? toggleAllNotesClosed() : toggleAllNotesOpen()" 
          uib-tooltip="Expand/Collapse">
          <i class="fa">{{(notes | whereKeyMatchesValue : '$expanded' : true).length ? '&#xf077' : '&#xf078'}}</i>
        </a>
      </div>
    </div>

    <div class="contact-notes"
      ng-class="($newNoteForm ? 'open' : 'closed')+' '+(inlineNewNoteForm ? 'inline' : '')">
      <div class="body clearfix">
        <form>
          <textarea class="form-control notes-input"
            type="text" cols="40" rows="40"
            tabindex="0"
            data-ng-model="noteCtrlScope.newNote.text"
            name="note[text]">
          </textarea>
          <div class="checkbox checkbox-inline checkbox-danger"
            ng-if="isForConsumer()">
            <input type="checkbox" id="critical-flag"
              data-ng-model="noteCtrlScope.newNote.critical"
              name="note[critical]"
              type="checkbox" value="1">
            <label for="critical-flag"
              uib-tooltip="Critical notes appear in a pop-up prompt when viewing this consumer."
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
              Critical <i class="fa fa-question-circle"></i>
            </label>
          </div>
          <div class="checkbox checkbox-inline checkbox-primary">
            <input type="checkbox" id="confidential-flag"
              data-ng-model="noteCtrlScope.newNote.confidential"
              name="note[confidential]"
              type="checkbox" value="1">
            <label for="confidential-flag"
              uib-tooltip="Confidential notes are viewable only to you."
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
              Confidential <i class="fa fa-question-circle"></i>
            </label>
          </div>
          <div class="checkbox checkbox-inline checkbox-success"
            ng-if="isForConsumer()">
            <input type="checkbox" id="personal-flag"
              data-ng-model="noteCtrlScope.newNote.personal"
              name="note[personal]"
              type="checkbox" value="1">
            <label for="personal-flag"
              uib-tooltip="Personal notes about this client, visible to other team members."
              tooltip-placement="top"
              tooltip-trigger="mouseenter">
              Personal <i class="fa fa-question-circle"></i>
            </label>
          </div>
          <button type="button"
            class="btn btn-primary"
            ng-click="saveNewNote()">
            Create
          </button>
        </form>
      </div>
    </div>

    <div class="notes-wrap">
      <div class="note {{noteClass(n)}} {{n.$expanded ? 'active' : ''}}"
        ng-class="n.creator_name == '(System)' ? 'system-note' : ''"
        ng-repeat="n in notes">
        <div class="note-header grid grid--center {{n.$expanded ? 'open' : 'closed'}}"
          ng-click="n.$expanded=!n.$expanded">
          <div class="user-thumb grid-cell"
            ng-if="n.creator_photo_thumb_url">
            <span ng-bind="extractInitialsFromName(person.full_name)"></span>
            <img class="thumb"
              ng-src="{{n.creator_photo_thumb_url}}" />
          </div>
          <div class="grid-cell grid--shrink note-author">
            {{n.creator_name}} 
            <i class="fa fa-exclamation-triangle" 
              ng-if="n.critical" 
              style="cursor:pointer;color:#d9534f;"
              ng-click="removeCriticalFlag(n.id)"
              uib-tooltip="Critical Note. Click to remove the critical designation.">
            </i>
            <i class="fa fa-lock"
              ng-if="n.confidential"
              style="color:#337ab7;"
              uib-tooltip="Confidential Note. This note is only viewable by you.">
            </i> 
            <i class="fa fa-user"
              ng-if="n.personal"
              style="color:#5cb85c;"
              uib-tooltip="Personal Note">
            </i>
            <i class="fa fa-trash-o"
              style="cursor:pointer;"
              ng-if="n.creator_name=='(You)'"
              ng-click="destroyTopNote()"
              uib-tooltip="Click to delete. This option is only available till you refresh or navigating away from this page.">
            </i>
            <div class="note-date"
              uib-tooltip="{{n.created_at | moment : 'format' : 'M/D/YY [at] h:mm a'}}">
              {{n.created_at | formatForTimeAgo}}
            </div>
          </div>
          <div class="note-accordion-toggle grid-cell grid--shrink">
            <i class="fa fa-angle-up"></i>
          </div>
        </div>
        <div id="note-{{n.id}}"
          ng-if="n.text.length"
          class="note-body {{n.$expanded ? 'open' : 'closed'}} {{n.critical ? 'text-danger' : ''}}">
          <span style="word-wrap: break-word;"
            ng-bind="n.text"></span>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript"> 
  /* Only needs to run once when loaded for consumer */
  $('.notes-wrap').slimScroll({ allowPageScroll: true, height: '' });
</script>