/* MOTORIST QUOTE PATH */
body#quote-path.agentless-quoter {
  background: #fefefd;
  overflow-y: scroll;
}
.agentless-quoter h1,
.agentless-quoter h2,
.agentless-quoter h3 {
  margin: 0;
}
#quote-path.agentless-quoter .bulletin-container {
  left: 0 !important;
  width: 100%;
  max-width: 800px;
}
#quote-path.agentless-quoter .bulletin-container .fa {
  left: 20px;
  font-size: 25px;
  opacity: 1 !important;
}
#quote-path.agentless-quoter .bulletin-container span {
  margin-left: 60px;
}
#quote-path.agentless-quoter .application {
  padding: 0;
}
#quote-path.agentless-quoter .section-header {
  position: relative;
  top: inherit;
  right: inherit;
  left: inherit;
}
#quote-path.agentless-quoter .section-container,
#quote-path.agentless-quoter .section-content {
  max-height: none;
  min-height: auto;
  padding: 0;
}
#quote-path.agentless-quoter .section-content {
  overflow-y: hidden;
  overflow-x: inherit;
}
#quote-path.agentless-quoter required-msg,
#quote-path.agentless-quoter required-to-view-rates-msg {
    display: inline-block;
}
#quote-path.agentless-quoter .rail-wrapper {
  max-width: 800px;
  margin: auto;
  text-align: center;
  position: relative;
  display: block;
  height: 100%;
}

#quote-path.agentless-quoter .progress-wrapper {
  position: relative;
  display: block;
  height: 80px;
  background-color: #f7f9fb;
  border: 1px solid #e7eaef;
  border-width: 0 0 1px;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: pan-y pinch-zoom;
  touch-action: pan-y pinch-zoom;
}
.agentless-quoter #wizard .step:before,
.agentless-quoter #wizard .step:after,
.agentless-quoter #wizard .step--complete .step__icon {
  background: #0063a8;
  background-color: #0063a8;
}
.agentless-quoter #wizard .step__icon,
.agentless-quoter #wizard .step--complete .step__icon {
  border-color: #0063a8;
}
.agentless-quoter #wizard .step__label {
  text-transform: none;
  font-weight: bold;
}
.agentless-quoter .agent-summary {
  max-width: 100%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.agentless-quoter .agent-summary .panel-body {
  padding: 30px 40px;
}
.agentless-quoter .agent-summary .panel-body > .grid-cell:first-child {
  max-width: 330px;
}
.agentless-quoter .agent-summary .panel-body > .grid-cell:first-child img {
  width: 100%;
}
.agentless-quoter .agent-summary .panel-body > .grid-cell:last-child {
  padding: 0 0 0 40px;
}
.agentless-quoter .agent-summary .grid-cell .fa {
  width: 22px;
  text-align: center;
}
.agentless-quoter .panel-container .panel {
  margin: 0;
  border-width: 0;
  border-radius: 0;
  box-shadow: none;
}
.agentless-quoter .panel-container .panel .beneficiary .alert.alert-danger{
  /* For now we want to hide these alerts next to required fields. */
  display:none;
}
.agentless-quoter .panel-container .panel-heading {
  border: 1px solid #e7eaef;
  border-width: 1px 0;
  border-radius: 0;
  font-size: 18px;
  text-align: center;
}
.agentless-quoter .quotes > .panel,
.agentless-quoter .confirmation > .panel {
  background-color: transparent;
  box-shadow: none;
}
.agentless-quoter .quote-path > .panel > .panel-body {
  padding: 60px 20px;
  border: 1px solid #e7eaef;
  border-width: 0 0 1px;
}
.agentless-quoter .basic-info .questions > .panel-container > .panel-default > .panel-heading {
  display: none;
}
.agentless-quoter .basic-info .form-group label {
  margin: 0 !important;
}
.agentless-quoter .quotes .panel-body > .grid,
.agentless-quoter .confirmation .panel-body > .grid,
.agentless-quoter .quote-path .panel-body > .grid {
  width: 100%;
  max-width: 800px;
  margin-bottom: 0;
  padding: 0;
}
.agentless-quoter .quote-path .conditional-question {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.agentless-quoter .quote-path .conditional-question .question-text {
  display: block;
}
.agentless-quoter .quote-path .conditional-question .required {
  width: 100%;
}
.agentless-quoter .quote-path .conditional-question .required .radio-inline {
  margin: 0;
}
.agentless-quoter .application .panel-body > .grid {
  max-width: 100%;
}
.agentless-quoter .coverage-slider {
  width: 100%;
  text-align: center;
}
.agentless-quoter .quotes .form-group label,
.agentless-quoter .confirmation .form-group label {
  margin: 0 10px 0 0;
  vertical-align: middle;
  flex-direction: column;
}
.agentless-quoter .quotes .panel-body .slider-value,
.agentless-quoter .confirmation .panel-body .slider-value {
  padding-bottom: 10px;
  color: rgb(14, 195, 239);
  font-size: 300%;
  font-weight: bold;
}
.agentless-quoter .quotes .panel-body .slider-value:before,
.agentless-quoter .confirmation .panel-body .slider-value:before {
  position: relative;
  content: "\0024";
  top: -10px;
  font-size: 30px;
}
.agentless-quoter .quotes .panel-body .slider-value *,
.agentless-quoter .confirmation .panel-body .slider-value * {
  display: inline;
}
.agentless-quoter .quotes .rzslider,
.agentless-quoter .confirmation .rzslider {
  margin: 10px 0 30px;
}
.agentless-quoter .rzslider .rz-pointer {
  width: 34px;
  height: 34px;
}
.agentless-quoter .rzslider .rz-pointer:after {
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.agentless-quoter .rzslider .rz-pointer.rz-active:after {
  background-color: #fff;
}
.agentless-quoter .rzslider .rz-bar,
.agentless-quoter .rzslider .rz-tick {
  background-color: #cfd7df;
}
.agentless-quoter .rzslider .rz-tick {
  top: 2px;
  width: 14px;
  height: 14px;
}
.agentless-quoter .rzslider .rz-tick.rz-selected {
  background-color: #01b5e2;
}
.agentless-quoter .rzslider .rz-bar {
  height: 6px;
  border-radius: 3px;
}
.agentless-quoter .rzslider .rz-selection {
  background-color: rgb(0, 181, 226);
}
.agentless-quoter .rzslider .rz-pointer {
  top: -14px;
  background-color: rgb(0, 181, 226);
  transition: box-shadow, background-color, transform .25s ease;
  box-shadow: 0 2px 6px 0 rgba(38, 57, 77, 0.2), 0 22px 16px -18px rgba(38, 57, 77, 0.6);
  outline: none;
}
.agentless-quoter .rzslider .rz-pointer:hover,
.agentless-quoter .rzslider .rz-pointer:focus {
  background-color: rgb(14, 195, 239);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  box-shadow: 0 2px 6px 0 rgba(38, 57, 77, 0.4), 0 22px 18px -18px rgba(38, 57, 77, 0.8);
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-bottom: 25px;
  padding: 20px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  flex: auto;
  height: 100%;
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell::after,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell:hover,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.13, 1.13);
  transform: scale(1.13, 1.13);
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell:hover::after,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell:hover::after {
  opacity: .3;
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell:last-child,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell:last-child {
  margin-bottom: 0;
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell  > .grid-cell:nth-child(1) img,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell  > .grid-cell:nth-child(1) img {
  max-width: 100%;
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell  > .grid-cell:nth-child(2) > *:first-child,
.agentless-quoter .quotes .panel-body .questions > .grid-cell  > .grid-cell:nth-child(3) > *:first-child,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell  > .grid-cell:nth-child(2) > *:first-child,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell  > .grid-cell:nth-child(3) > *:first-child {
  font-size: 220%;
  font-weight: 600;
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell  > .grid-cell:nth-child(2) > *:last-child,
.agentless-quoter .quotes .panel-body .questions > .grid-cell  > .grid-cell:nth-child(3) > *:last-child,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell  > .grid-cell:nth-child(2) > *:last-child,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell  > .grid-cell:nth-child(3) > *:last-child {
  opacity: .9;
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell  > .grid-cell span .fa,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell  > .grid-cell span .fa {
  transition: opacity .25s ease;
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell  > .grid-cell span:hover .fa,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell  > .grid-cell span:hover .fa {
  opacity: 1;
}
.agentless-quoter .quotes .panel-body .questions > .grid-cell  > .grid-cell sup,
.agentless-quoter .confirmation .panel-body .questions > .grid-cell  > .grid-cell sup {
  top: -.35em;
}
.agentless-quoter div:not(.quotes) .panel-body .questions > *:first-child,
.agentless-quoter div:not(.confirmation) .panel-body .questions > *:first-child {
  width: 100%;
}
.agentless-quoter div:not(.quotes) .panel-body .questions > .grid:nth-child(1),
.agentless-quoter div:not(.confirmation) .panel-body .questions > .grid:nth-child(1) {
  z-index: 5;
}
.agentless-quoter div:not(.quotes) .panel-body .questions > .grid:nth-child(2),
.agentless-quoter div:not(.confirmation) .panel-body .questions > .grid:nth-child(2) {
  z-index: 4;
}
.agentless-quoter div:not(.quotes) .panel-body .questions > .grid:nth-child(3),
.agentless-quoter div:not(.confirmation) .panel-body .questions > .grid:nth-child(3) {
  z-index: 3;
}
.agentless-quoter div:not(.quotes) .panel-body .questions > .grid:nth-child(4),
.agentless-quoter div:not(.confirmation) .panel-body .questions > .grid:nth-child(4) {
  z-index: 2;
}
.agentless-quoter div:not(.datetimepicker):not(.group-row) > .btn {
  height: 40px;
  min-width: 100px;
  padding: 0 14px;
  font-size: 20px;
  line-height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all .15s ease;
}
.agentless-quoter div:not(.datetimepicker):not(.group-row) > .btn:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  transform: translateY(-1px);
}
.agentless-quoter div:not(.datetimepicker):not(.group-row) > .btn-default {
  background-color: #b0b0b1;
  color: #fff;
}
.agentless-quoter div:not(.datetimepicker):not(.group-row) > .btn-default:active,
.agentless-quoter div:not(.datetimepicker):not(.group-row) > .btn-default:focus,
.agentless-quoter div:not(.datetimepicker):not(.group-row) > .btn-default:hover {
  background-color: #b8b8b8;
  color: #fff;
}
.agentless-quoter .btn[disabled="disabled"] {
  cursor: not-allowed !important;
}
.agentless-quoter .btn-success {
  background: #3ecf8e;
  color: #fff;
}
.agentless-quoter .btn-success:hover {
  background: #4ee19f;
  border-color: transparent;
  color: #fff;
}
.agentless-quoter .btn-motorist {
  background-color: #00b5e2;
  color: #fff;
}
.agentless-quoter .btn-motorist:hover {
  background: #0ec3ef;
  border-color: transparent;
  color: #fff;
}
.agentless-quoter .label-motorist {
  color: #fff;
  background-color: #00b5e2;
  border: 1px solid #00b5e2;
}
.agentless-quoter .datetimepicker {
  width: 100%;
}
.agentless-quoter .datetimepicker .btn {
  vertical-align: bottom;
}
.agentless-quoter .license-disclaimer {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 20px 60px;
}
.agentless-quoter hr {
  position: relative;
  width: calc(100% + 40px);
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 0;
  padding: 20px 0 40px;
  border-top: 1px solid #d6dbe4;
}

/* Motorist: Health Questions Step 1 */
/* .agentless-quoter .progress {
  position: relative;
  height: 6px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #cfd7df;
  box-shadow: none;
  overflow: visible;
} 
.agentless-quoter .progress-bar {
  position: relative;
  line-height: 6px;
  background-color: #17aacf;
  background: linear-gradient(to right, 
    #24b47e 20%,
    #3ecf8e 20%,
    #3ecf8e 40%,
    #55d9c2 40%,
    #55d9c2 60%,
    #63bed8 60%,
    #63bed8 80%,
    #7795f8 80%
  );
  background-size: 100% 30px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  text-align: right;
} */
.agentless-quoter .rail {
  position: absolute;
  top: calc(50% + 6px);
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background-color: transparent;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  display: -ms-flexbox;
  display: flex;
  overflow: inherit;
  box-shadow: none;
}
@media (max-width:850px) {
  .agentless-quoter .rail {
    max-width: 90%;
  }
}

.agentless-quoter .rail.inactive {
  background-color: #cfd7df;
}
.agentless-quoter .rail.labels {
  position: initial;
  margin-top: 46px;
  height: 20px;
  display: none;
}
.agentless-quoter .progress-wrapper .labels {
  padding-top: 14px;
  font-weight: bold;
}
.agentless-quoter .rail.labels .progress-bar {
  color: transparent;
}
/*
None of the below should be necessary.
The progress bar plugin itself provides a way to show section headings.
*/
/*.agentless-quoter .rail.labels .progress-bar:nth-child(1)::before {
  content: "Instant Term Quotes" !important;
}
.agentless-quoter .rail.labels .progress-bar:nth-child(1)::after {
  content: "Heart/Circulatory/Cancer Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(2)::after {
  content: "Metabolic/Excretory/Respiratory Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(3)::after {
  content: "Mental/Muscular/Nervous Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(4)::after {
  content: "Treated/Advised/Hospitalized Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(5)::after {
  content: "HIV/AIDS Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(6)::after {
  content: "Tobacco/Nicotine Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(7)::after {
  content: "Drug/Alcohol Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(8)::after {
  content: "Criminal History Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(9)::after {
  content: "Residence/Travel Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(10)::after {
  content: "Sports/Activities Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(11)::after {
  content: "Aviation Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(12)::after {
  content: "Driving History Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(13)::after {
  content: "Last Physician Visit Questions";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(14)::after {
  content: "Application";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(15)::after {
  content: "Payment";
}
.agentless-quoter .rail.labels .progress-bar:nth-child(16)::after {
  content: "Confirmation";
}
.agentless-quoter .rail .progress-bar::after,
.agentless-quoter .rail .progress-bar::before {
  box-sizing: content-box;
}*/
.agentless-quoter .rail .progress-bar {
  float: none;
  width: 6.25%;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  color: #cfd7df;
  background: currentColor;
  border-radius: 10px;
  box-shadow: none;
  /*transition-duration: .2s;*/
  transition: width .6s ease;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.agentless-quoter .rail .progress-bar::after,
.agentless-quoter .rail.active .progress-bar:nth-child(2)::before,
.agentless-quoter .rail:not(.active) .progress-bar:nth-child(1)::before {
  font-family: FontAwesome;
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 16px;
  height: 16px;
  border: 3px solid currentColor;
  border-radius: 50%;
  background-color: currentColor;
  z-index: 10;
}
.agentless-quoter .rail.active .progress-bar:nth-child(2)::before,
.agentless-quoter .rail:not(.active) .progress-bar:nth-child(1)::before {
  left: 0;
  right: 100%;
}
.agentless-quoter .rail:not(.active) .progress-bar::after {
  height: 6px;
  width: 6px;
  border-width: 2px;
}
.agentless-quoter .rail.labels .progress-bar::after,
.agentless-quoter .rail.labels .progress-bar:nth-child(1)::before {
  top: 0;
  width: max-content;
  background-color: transparent;
  border: none;
  border-radius: unset;
  color: #456275;
  font-size: 14px;
}
.agentless-quoter .rail .progress-bar:first-child {
  border-radius: 4px 0 0 4px;
}
.agentless-quoter .rail .progress-bar:last-child {
  border-radius: 0 4px 4px 0;
}
/* .agentless-quoter .rail .progress-bar:last-child:after {
  content: none;
} */
.agentless-quoter .rail.active .progress-bar:nth-child(-n+3) {
  color: #9fa8ff;
}
.agentless-quoter .rail.active .progress-bar:nth-child(n+4) {
  color: #7795f8;
}
.agentless-quoter .rail.active .progress-bar:nth-child(n+7) {
  color: #63bed8;
}
.agentless-quoter .rail.active .progress-bar:nth-child(n+10) {
  color: #55d9c2;
}
.agentless-quoter .rail.active .progress-bar:nth-child(n+13) {
  color: #3ecf8e;
}
.agentless-quoter .rail.active .progress-bar:nth-child(n+16) {
  color: #24b47e;
}
.agentless-quoter .rail .knob {
  position: absolute;
  width: 28px;
  height: 28px;
  margin: -11.5px 0 0 -15px;
  z-index: 20;
  background-color: #1a97d5;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition-property: background-color,box-shadow;
  transition-duration: 1s;
  transition: left .6s ease;
}
.agentless-quoter .rail .knob::after {
  content: '';
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.agentless-quoter .progress-bar > * {
  position: relative;
  z-index: 1;
}
.agentless-quoter .progress-bar > .arrow-up {
  position: absolute;
  right: -62px;
  bottom: -38px;
  padding: 5px 13px;
  background-color: #0a708a;
  color: #fff;
  line-height: 18px;
  font-size: 15px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  font-weight: 800;
  border-radius: 4px;
}
.agentless-quoter .progress-bar .arrow-up:before {
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 2px;
}
.agentless-quoter .progress-bar .arrow-up:after {
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid #0a708a;
  border-radius: 2px;
}
/* .agentless-quoter .progress-bar:after {
  position: absolute;
  content: '';
  right: 0;
  height: 30px;
  width: 100%;
  max-width: 140px;
  border-radius: 4px;
  background-color: #01b5e2;
  background:radial-gradient(120px 48px ellipse at 102% 50%, 
    rgba(36, 211, 255, 1)     0%,
    rgba(36, 211, 255, 0.978) 9.5%,
    rgba(36, 211, 255, 0.925) 17.7%,
    rgba(36, 211, 255, 0.857) 24.7%,
    rgba(36, 211, 255, 0.781) 31%,
    rgba(36, 211, 255, 0.701) 36.8%,
    rgba(36, 211, 255, 0.62)  42.3%,
    rgba(36, 211, 255, 0.538) 47.6%,
    rgba(36, 211, 255, 0.455) 52.9%,
    rgba(36, 211, 255, 0.373) 58.2%,
    rgba(36, 211, 255, 0.291) 63.7%,
    rgba(36, 211, 255, 0.212) 69.5%,
    rgba(36, 211, 255, 0.138) 75.8%,
    rgba(36, 211, 255, 0.07)  82.9%,
    rgba(36, 211, 255, 0.019) 91.2%,
    rgba(36, 211, 255, 0)     100%
  );
  z-index: 0;
} */
.agentless-quoter .actions {
  padding: 30px 0 0;
  display: block;
  text-align: right;
}
.agentless-quoter .actions > * {
  margin: 0 0 0 16px;
}
/*.agentless-quoter .actions > a:first-child {
  margin: 0 auto 0 0;
  font-size: 18px;
}*/
.agentless-quoter .actions.grid.grid--center.grid--align-center a:nth-child(1) {
  float: right;
}
.agentless-quoter .actions.grid.grid--center.grid--align-center .previous {
  float: left !important;
  text-align: left;
  font-size: 18px;
}
.agentless-quoter .panel-body {
  padding: 0;
}
.agentless-quoter *[data-end="*"]:after {
  position: relative;
  content: attr(data-end);
  top: -4px;
  left: 3px;
  color: red;
}
.agentless-quoter .req {
  position: relative;
  top: -4px;
  left: -1px;
  color: red;
  font-weight: bold;
}
.agentless-quoter #quote-path .checkbox,
.agentless-quoter #quote-path .radio {
  padding: 2px 10px;
}
.agentless-quoter .checkbox label,
.agentless-quoter .radio label,
.agentless-quoter .confirmation p,
.agentless-quoter .application p,
.agentless-quoter .quote-path p,
.agentless-quoter .payment p {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .3px;
  color: #4d616d;
}
.agentless-quoter .confirmation p,
.agentless-quoter .application p,
.agentless-quoter .quote-path p,
.agentless-quoter .payment p {
  padding-left: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.8em;
  color: #788199;
  max-width: 800px;
}
.agentless-quoter .checkbox,
.agentless-quoter .radio {
  margin: 10px 0;
  padding-left: 25px !important;
}
.agentless-quoter .application-cont .radio {
  margin-top: inherit !important;
  padding: 6px 0 5px 20px !important;
}
.agentless-quoter .checkbox label:before,
.agentless-quoter .checkbox label:after,
.agentless-quoter .radio label:before {
  top: 1px;
}
.agentless-quoter .radio label:after {
  top: 4px !important;
}
.agentless-quoter .checkbox label:after,
.agentless-quoter .radio label:after {
  color: #fff;
  background: #00b5e2 !important;
}
.agentless-quoter .checkbox:hover label,
.agentless-quoter .radio:hover label {
  color: #000;
}
.agentless-quoter .indent {
  margin-left: 13px;
  padding-left: 20px;
  border-left: 1px solid #d6dbe4;
}
.agentless-quoter .quote-path .alert {
  width: 100%;
  margin: 0 4px;
  padding: 13px;
  font-size: 16px;
  border-radius: 4px;
  border-width: 1px;
}
.agentless-quoter .quote-path .alert-warning {
  padding-left: 53px;
  background: #fcf8e3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eicon-aside-important%3C/title%3E%3Cg fill='%23f39f54' fill-rule='evenodd'%3E%3Cpath d='M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm0-2c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z'/%3E%3Cpath d='M12.61 13.664l-1.092.238S11 8.212 11 7.644c0-.568.053-.644.42-.644h1.374c.017 0 .3-.08.3.48 0 .562-.484 6.184-.484 6.184zm-1.105 3.486a.406.406 0 0 1-.407-.408v-1.298c0-.226.177-.408.407-.408h1.104c.224 0 .406.18.406.408v1.298a.404.404 0 0 1-.407.408h-1.105z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 24px 24px;
  background-position: 15px 12px;
  background-repeat: no-repeat;
}
.agentless-quoter .indent .alert .fa {
  margin-right: 3px;
  font-size: 18px;
  vertical-align: middle;
  opacity: 1 !important;
}
.agentless-quoter .form-group {
  margin-bottom: 20px;
}
.agentless-quoter .date-group {
  position: relative;
  display: block;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.agentless-quoter .date-group .date-input {
  display: block;
  float: left;
  height: 34px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  border: none;
  background-color: transparent;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  cursor: text;
}
.agentless-quoter .date-group #birth_month {
  width: 46px;
  max-width: 46px;
  padding-left: 20px;
}
.agentless-quoter .date-group #birth_day {
  width: 43px;
  max-width: 43px;
  padding-left: 15px;
}
.agentless-quoter .date-group #birth_year {
  width: 52px;
  max-width: 52px;
  padding-left: 9px;
}
.agentless-quoter .date-group::before {
  position: absolute;
  content: '/';
  left: 44px;
  top: 50%;
  margin-top: -9px;
}
.agentless-quoter .date-group::after {
  position: absolute;
  content: '/';
  left: 86px;
  top: 50%;
  margin-top: -9px;
}
.agentless-quoter .previous {
  min-width: 100px;
  padding: 3px 22px 7px;
}
.agentless-quoter .section-content :not(a):not(.btn) > .fa {
  opacity: .65;
}
.agentless-quoter .rail.active .progress-bar:target[aria-valuetext=""] {
  
}
.agentless-quoter .application-cont,
.agentless-quoter .payment-cont {
  width: 100%;
  max-width: 480px;
  padding: 0;
}
.agentless-quoter .application-cont .form-group > *[class|="col"] {
  padding-right: 4px;
  padding-left: 4px;
}
.agentless-quoter .application-cont .form-group > *[class|="col"]:first-child {
  padding-left: 15px;
}
.agentless-quoter .application-cont .form-group > *[class|="col"]:last-child {
  padding-right: 15px;
}
@media (max-width:500px) {
  .agentless-quoter .application-cont .form-group > *[class|="col"] {
    padding: 5px 15px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
    width:100%;
  }
}
.agentless-quoter .application-cont .form-inline .control-label {
  margin-bottom: 5px;
}
.agentless-quoter .application-cont .form-control-static {
  padding: 0;
  font-size: 100%;
}
.agentless-quoter .application-cont .table-responsive .title {
  padding: 8px 0;
  border-bottom: 1px solid #eaedf1;
  font-size: 130%;
  font-weight: bold;
}
.agentless-quoter .table-responsive .primary {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.agentless-quoter .table-responsive .primary svg {
  height: 18px;
  width: 18px;
  fill: #00b5e2;
}
.agentless-quoter .beneficiary .table-responsive tr > th:first-child,
.agentless-quoter .beneficiary .table-responsive tr > td:first-child {
  width: 110px;
  padding-left: 10px;
}
.agentless-quoter .beneficiary .table-responsive tr > th:nth-of-type(3),
.agentless-quoter .beneficiary .table-responsive tr > td:nth-of-type(3) {
  width: 80px;
  text-align: right;
}
.agentless-quoter .beneficiary .table-responsive tr > th:last-child,
.agentless-quoter .beneficiary .table-responsive tr > td:last-child {
  width: 62px;
  padding-right: 10px;
  text-align: right;
}
.agentless-quoter .beneficiary tbody tr:last-child td {
  border-bottom: 1px solid #eaedf1;
}
.agentless-quoter .beneficiary label em {
  display: none !important;
}
.agentless-quoter .application-cont.beneficiary .form-group {
  display: block;
}
.agentless-quoter .application-cont .beneficiary-fieldset {
  counter-increment: bene-counter;
}
.agentless-quoter .application-cont .beneficiary-fieldset:not(:first-child) {
  margin-top: 20px !important;
  padding-top: 20px;
  border-top: 1px solid #d6dbe4;
}
.agentless-quoter .application-cont .beneficiary-fieldset > h3 {
  margin-bottom: 20px;
  padding-left: 4px;
}
.agentless-quoter .application-cont .beneficiary-fieldset > h3 span::before {
  content: counter(bene-counter);
}
.agentless-quoter .application-cont.beneficiary div[class*=”-question”] > .form-group,
.agentless-quoter .application-cont .beneficiary-fieldset > .form-group:last-child {
  display: block;
}
.agentless-quoter .application-cont .beneficiary-fieldset > .form-group:last-child {
  text-align: right;
}
.agentless-quoter .application-cont.beneficiary .form-group > *[class|="col"] {
  float: none;
  width: 100%;
  padding: 0 4px;
}
.agentless-quoter .beneficiary .beneficiary-questions > .form-group:first-child .col-md-4,
.agentless-quoter .beneficiary .beneficiary-questions > .form-group:first-child .col-md-8,
.agentless-quoter .beneficiary .beneficiary-questions > .form-group:nth-child(4) .col-md-4,
.agentless-quoter .beneficiary .beneficiary-questions > .form-group:nth-child(4) .col-md-8,
.agentless-quoter .beneficiary .owner-question > .form-group:first-child .col-md-4,
.agentless-quoter .beneficiary .owner-question > .form-group:first-child .col-md-8,
.agentless-quoter .beneficiary .payor-question > .form-group:first-child .col-md-4,
.agentless-quoter .beneficiary .payor-question > .form-group:first-child .col-md-8 {
  width: auto;
  float: left;
}
.agentless-quoter .beneficiary .beneficiary-questions .checkbox,
.agentless-quoter .beneficiary .owner-question .checkbox,
.agentless-quoter .beneficiary .payor-question .checkbox {
  margin: 0 0 10px 6px !important;
  padding: 0 !important;
  vertical-align: top;
}
.agentless-quoter .beneficiary .beneficiary-questions .checkbox input,
.agentless-quoter .beneficiary .beneficiary-questions .form-group:first-child .col-md-4 label,
.agentless-quoter .beneficiary .beneficiary-questions .form-group:nth-child(4) .col-md-4 label,
.agentless-quoter .beneficiary .owner-question .checkbox input,
.agentless-quoter .beneficiary .owner-question .form-group:first-child .col-md-4 label,
.agentless-quoter .beneficiary .payor-question .checkbox input,
.agentless-quoter .beneficiary .payor-question .form-group:first-child .col-md-4 label {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: top;
}
.agentless-quoter .beneficiary .beneficiary-questions .checkbox label::before,
.agentless-quoter .beneficiary .beneficiary-questions .checkbox label::after,
.agentless-quoter .beneficiary .owner-question .checkbox label::before,
.agentless-quoter .beneficiary .owner-question .checkbox label::after,
.agentless-quoter .beneficiary .payor-question .checkbox label::before,
.agentless-quoter .beneficiary .payor-question .checkbox label::after {
  top: 0;
}
.agentless-quoter .beneficiary .beneficiary-questions .form-group:nth-child(2) label {
  /*display: none;*/
}
.agentless-quoter .beneficiary .beneficiary-questions .form-group:nth-child(2) .col-md-8 {
  /*margin-top: -20px;*/
}
.agentless-quoter .beneficiary .beneficiary-questions > .form-group:first-child label.col-md-4 {
  display: none;
}
.agentless-quoter .beneficiary .email-group > .btn,
.agentless-quoter .beneficiary .phone-group > .btn,
.agentless-quoter .beneficiary .address-group > .btn {
  float: right;
}
.agentless-quoter .beneficiary .group-row {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #d6dbe4;
}
.agentless-quoter .beneficiary .group-row:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.agentless-quoter .beneficiary .group-row:nth-last-child(2) {
  margin-bottom: 20px !important;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6dbe4;
}
.agentless-quoter .table-responsive .actions,
.agentless-quoter .table-responsive .actions > * {
  margin: inherit;
  line-height: 1;
}
.agentless-quoter .table-responsive .dropdown-toggle {
  display: inline-block;
}
.agentless-quoter .app-submit h2,
.agentless-quoter .app-submit h3 {
  margin: 20px 0 10px;
}
.agentless-quoter .modal-body p,
.agentless-quoter .modal-body h2,
.agentless-quoter .modal-body h3 {
  margin: 20px 0 0;
}
.agentless-quoter .modal-body p:first-child,
.agentless-quoter .modal-body h2:first-child,
.agentless-quoter .modal-body h3:first-child {
  margin-top: 0;
}
.agentless-quoter .modal-body p {
  font-size: 15px;
  font-weight: 500;
  color: #4d616d;
}
.agentless-quoter .modal-body h2,
.agentless-quoter .modal-body h3 {
  color: #4d616d;
}
.agentless-quoter .modal-body .emphasis {
  display: inline-block;
  color: #384852;
  font-size: 170%;
  font-weight: 600;
}
.agentless-quoter .need-help-modal .brand-image {
  width: 200px;
  text-align: center;
  float:left;
  display: block;
}
.agentless-quoter .need-help-modal .brand-image img {
  width: 100%;
}
.agentless-quoter .need-help-modal .agent-info,
.agentless-quoter .welcome-modal .agent-info {
  padding: 0 20px;
  width: auto;
  display: block;
  overflow: hidden;
}
.agentless-quoter .required::after {
    content: '*';
    color: red;
    font-weight: 100;
}
@media (max-width:500px) {
  .agentless-quoter .need-help-modal .brand-image {
    width:100%;
    float: none;
    margin: 0 auto;
  }
  .agentless-quoter .need-help-modal .agent-info,
  .agentless-quoter .welcome-modal .agent-info {
    padding: 20px 0;
  }
  #quote-path.agentless-quoter img {
    max-width:250px;
  }
  .agentless-quoter .grid.grid-cell.grid--center.grid--align-center {
    display: block;
  }
  .agentless-quoter .grid-cell.text-center:nth-child(2) {
    width: 50%;
    float: left;
    margin: 20px 0;
  }
  .agentless-quoter .grid-cell.text-center:nth-child(3) {
    width: 50%;
    float: right;
    margin: 20px 0;
  }
  .agentless-quoter .actions.grid.grid--center.grid--align-center a:nth-child(3) {
    text-align: center;
    margin-top: 40px;
    clear: both;
  }
  .agentless-quoter .actions.grid.grid--center.grid--align-center a:nth-child(1) {
    float: right;
  }
  .agentless-quoter .actions.grid.grid--center.grid--align-center a:nth-child(2) {
    float: left;
  }
  .agentless-quoter .beneficiary .beneficiary-questions > .form-group:first-child .col-md-8 {
    width: 100%;
  }
}
@media (max-width:767px) {
  .agentless-quoter .agent-summary .agent-info {
    padding:20px 0 !important;
  }
  .agentless-quoter .agent-summary .brand-image {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  .agentless-quoter .agent-summary .panel-body {
    display: block;
  }
}
.agentless-quoter .coverage-selection {
  font-size: 300%;
  font-weight: 600;
  color: #00b5e2;
}
.agentless-quoter .confirmation .grid--align-center .grid--shrink {
  margin: 20px 20px 0;
}
.agentless-quoter .confirmation .checkmark-circle {
  margin: 20px;
}
.agentless-quoter .confirmation .checkmark-circle svg {
  width: 180px;
  height: 180px;
  fill: #fff;
  stroke: #0062a8;
}
.agentless-quoter .alert svg {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  fill: none;
  stroke: #358dbd;
  vertical-align: middle;
}
.agentless-quoter .need-help-button {
  background-color: #1a7ab9;
  background: linear-gradient(135deg, rgb(31, 121, 171) 0%,rgb(26, 152, 214) 100%);
  position:fixed;
  right: 0;
  bottom: -1px;
  text-align: center;
  width: 100%;
  z-index: 99;
  animation-name: slide-up;
  animation-duration: 0.6s;
  animation-iteration-count:1;
}
.agentless-quoter .need-help-button a {
  font-size: 1.2em;
  border-radius: 0;
  padding: 15px;
  height: 50px;
  color: #fff;
  display: inline-block;
  transition: 0.6s;
  width: 100%;
}
.agentless-quoter .need-help-button a:hover {
  background-color:#203045 !important;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00b5e2;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
@keyframes slide-up {
    from {
        bottom:-60px;
    }
    to {
        bottom: -1px;
    }
}
@keyframes fade-in {
    from {
        color: #fff;
    }
    to {
        bottom: #788199;
    }
}