<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZM64M6');</script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript" defer="defer">
    <% if flash.keys.length %>
      <%=raw "window.railsFlashMsgs=#{flash.to_h.to_json};" %>
      <%=raw "window.highlightFlashErrorWithAJsDialog=#{(!!@highlight_flash_error_with_a_js_dialog).to_s};" %>
    <% end %>

      /*
        This function fires if the script fails to load, with 4xx/5xx status.
        Failure to load is usually a temporary result of a patch in progress,
        when the host that served the markup has a different version of the js file
        than the host that served the script. A refresh usually remedies this.
      */
      window.reloadFileNoCacheAndReloadPage=function(filePath){
        var xhr= new XMLHttpRequest();
        xhr.open('GET', filePath, true);
        xhr.setRequestHeader('cache-control','no-store');
        xhr.onreadystatechange = function(){
          if(xmlhttp.readyState != 4){ return; }
          window.location.reload();
        };
        xhr.send();
      }

      window.appJsFileLoaded=function(){
        if( (typeof insureioNg)=='object' ){ return; }
        //This function only continues past the above line if errors prevented the referenced script file from running.
        alert('There was an error starting Insureio.\nPlease refresh the page.\nIf this error persists after refresh, please contact support.');
      }
    </script>
    <%= javascript_include_tag "dependencies", :debug => false, defer: 'defer', integrity:SRI_HASHES[:dep_js],
      onerror:"reloadFileNoCacheAndReloadPage( '"+javascript_path("dependencies.js")+"' )" %>
    <%= javascript_include_tag "application", :debug => false, defer: 'defer', integrity:SRI_HASHES[:app_js],
      onload: "appJsFileLoaded()",
      onerror:"reloadFileNoCacheAndReloadPage( '"+javascript_path("application.js")+"' )" %>
    <script src="https://chat.insureio.com/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944" type="text/javascript" defer="defer"></script>

    <link rel="apple-touch-icon" href="/images/touchicon.png">
    <link rel="icon" href="/images/favicon.png">
    <meta name="msapplication-TileColor" content="#292c36">
    <meta name="msapplication-TileImage" content="/images/tileicon.png">
    <base href="/"><!-- Used by AngularJS `$locationProvider`. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <%= stylesheet_link_tag "dependencies", :media => "all", :debug => false, integrity:SRI_HASHES[:dep_css] %>
    <%# DO NOT MOVE our stylesheet tag above the stylesheet tags for dependencies.
        Styles we set explicitly for this project should come last, so they have priority. %>
    <%= stylesheet_link_tag "application", :media => "all", :debug => false, integrity:SRI_HASHES[:app_css] %>
    <%= stylesheet_link_tag_for_tenant @tenant %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body ng-app="insureioNg"
    class="{{isLoggedIn() ? 'user-view' : 'consumer-view' }}"
    ng-class="$root.leftNavExpanded ? '' : 'sidebar-collapsed'">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZM64M6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <noscript>
      <div class="notification-banner">
        <div class="notification-container">
          <span class="alert-icon">
            <i class="fa fa-exclamation-circle"></i>
          </span>
          <strong>Alert:</strong>
          You must enable JavaScript to use this application.
        </div>
      </div>
    </noscript>
    <div class="notification-banner"
      id="browser-recommendation-banner"
      style="display:none;"
      ng-show="!chromeDetected && !dismissedBrowserWarning">
      <!-- This div is populated via JS. -->
    </div>

    <div class="wrapper">
      <% if current_user %>
        <header ng-show="isLoggedIn()">
          <div class="toggle-container">
            <a class="toggle"
              ng-click="$root.leftNavExpanded=(!$root.leftNavExpanded)">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="logo">
            <%= image_tag @tenant.try(:logo) || "/images/insureio-blk.svg" %>
          </div>
          <div class="center text-center" ng-if="can('contacts_gui')">
            <ui-select theme="bootstrap"
              ng-model="$root.tmpContactForSearch"
              on-select="window.location.assign('/'+$item.person_type.toLowerCase().replace('recruit','user')+'s/'+$item.id)">
              <ui-select-match data-placeholder="Search Contacts">
                <span class="label label-default"
                  ng-bind="$select.selected.person_id.toString(36).toUpperCase()"></span>
                <span ng-bind="$select.selected.full_name"></span>
                <span class="label label-default"
                  ng-bind="$select.selected.id.toString(36).toUpperCase()"></span>
              </ui-select-match>
              <ui-select-choices class="text-left"
                repeat="contact in contactsForSearch"
                refresh="searchContacts($select.search)"
                refresh-delay="0">
                <i ng-class="(contact.person_type=='Consumer' && 'fa fa-folder-open') ||
                (contact.person_type=='User' && !contact.is_recruit && 'fa fa-user green') ||
                ((contact.person_type=='Recruit' || contact.is_recruit) && 'fa fa-black-tie green') ||
                (contact.person_type=='Brand' && 'fa fa-building-o orange')"></i>
                <span ng-bind="contact.full_name"></span>
                <span class="label label-default"
                  ng-bind="contact.id.toString(36).toUpperCase()"></span>
                <small style="display:block;margin-left:28px;"
                  ng-if="contact.company"
                  ng-bind="contact.company"></small>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="right">
            <ul>
              <!-- QUICK-START DROPDOWN -->
              <li uib-dropdown>
                <a class="dropdown-toggle" uib-dropdown-toggle>
                  <div class="quick-launch-icon"></div>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                  <li><a ng-click="setUrl('/quoting/quotes/new')">New Quote / App Ticket</a></li>
                  <li><a ng-click="$root.immediatelyTriggerNewForm=true; setUrl('/contacts')">New Contact</a></li>
                  <li><a ng-click="openNewTaskModal()">New Task</a></li>
                  <li><a ng-click="$root.immediatelyTriggerNewForm=true; setUrl('/marketing/campaigns')">New Marketing Campaign</a></li>
                  <li><a ng-click="$root.immediatelyTriggerNewForm=true; setUrl('/reporting/searches')">New Report</a></li> 
                </ul>
              </li>
              <!-- NOTIFICATION DROPDOWN -->
              <li class="notifications" uib-dropdown>
                <a class="dropdown-toggle" uib-dropdown-toggle>
                  <span class="label label-success" ng-cloak>{{bulletins.length}}</span>
                  <i class="fa fa-bell"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                  <li>
                    <p class="no-notice"
                      ng-if="!bulletins || !bulletins.length">
                      You don't have any notifications right now.
                    </p>
                    <div ng-repeat="bulletin in bulletins | reverse" 
                      class="alert {{bulletin.klass}}">
                      <div class="notifications-inner">
                        <i class="{{bulletin.icon}}"></i>
                        <label>SYSTEM</label>
                        <span class="pull-right"
                          ng-bind="bulletin.timestamp"></span>
                        <span>{{bulletin.text}}</span>
                        <ul class="bulletin-error-list" ng-if="bulletin.data.errors">
                          <li ng-repeat="error in bulletin.data.errors | errorStrings" ng-bind="error"></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <!-- USER DROPDOWN -->
              <li class="brand" uib-dropdown>
                <a class="dropdown-toggle thumb" uib-dropdown-toggle
                  ng-if="currentUser.photo_thumb_url">
                  <img ng-src="{{currentUser.photo_thumb_url}}" alt="photo" />
                  <span class="label label-danger"
                    ng-if="isImpersonating()"></span>
                </a>
                <a class="dropdown-toggle" uib-dropdown-toggle
                  ng-if="!currentUser.photo_thumb_url">
                  <i class="fa fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                  <li class="account-info clearfix">
                    <div class="left">
                      <img ng-src="{{currentUser.photo_thumb_url}}" alt="photo" />
                    </div>
                    <div class="right">
                      <strong>
                        <span ng-bind="currentUser.full_name"></span><br>
                        <span class="label label-default"
                          title="Full Numeric Id: {{currentUser.id}}"
                          ng-bind="'id: '+(currentUser.id | drShortId)"></span>
                      </strong>
                    </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-href="/users/{{currentUser.id}}">
                      My Account
                    </a>
                  </li>
                  <li ng-controller="DrToolCtrl"
                    ng-if="!isImpersonating() && currentUser.can('impersonate')">
                    <a ng-click="open('/toolbar/toolbar-impersonator.html')">
                      Impersonate
                    </a>
                  </li>
                  <li ng-controller="DrToolCtrl"
                    ng-if="currentUser.can('socket_comm')">
                    <a ng-click="open('/toolbar/toolbar-socketcomm.html')">
                      Socket Comm
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li id="impersonation-logout"
                    ng-if="isImpersonating()">
                    <a href="/users/end_impersonate">
                      End Impersonation
                    </a>
                  </li>
                  <li>
                    <a href="/logout">
                      Log Out
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </header>
        <!-- Bulletin -->
        <div class="bulletin-container">
          <div ng-class="lastOpenBulletin ? '' : 'unopaque'" class="{{lastOpenBulletin.klass}} alert alert-dismissible" ng-cloak>
            <button type="button" class="close" ng-click="lastOpenBulletin.remove()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="{{lastOpenBulletin.icon}}"></i>
            <span style="white-space: pre-line">{{lastOpenBulletin.text}}</span>
          </div>
        </div>
        <!-- / Bulletin -->
        <nav>
          <% if current_user %>
            <ng-include src="'/shared/left_sidebar.html'"></ng-include>
          <% end %>
        </nav>
      <% end %>

      <div class="content-wrapper">

        <!-- <div ng-hide="$root.getCurrentUser().$resolved">
          <div style="text-align: center; padding-top: calc(50vh - 100px);">
            Loading Insureio...
          </div>
          <div class="loading-things"></div>
        </div> -->

        <div id="main-container"
          ng-show="$root.getCurrentUser().$resolved">
          <%= content_for?(:application) ? yield(:application) : yield %>
        </div>

      </div>
    </div>

    <div class="modal fade" id="help-video-modal" tabindex="-1" role="dialog" aria-labelledby="help-video-modal" aria-hidden="true" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a type="button" class="close" ng-click="$close()" data-dismiss="modal">×</a>
            <h4 class="modal-title">Visit the <a href="/help/faq">help page</a> or watch this tutorial video.</h4>
          </div>
          <div class="modal-body">
            <div>
              <iframe width="100%" height="350" src=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div id="app-loading-overlay"
      ng-hide="$root.getCurrentUser().$resolved">
      <div id="app-loading-msg-box">
        <img src="/images/insureio-blk.svg" style="height: 50px;"><br>
        <!-- <h4>Loading...</h4><br> -->
        <!-- <div class="loading-things"></div> -->
        <i class="fa fa-spinner fa-spin" style="font-size: 20px;"></i>
      </div>
      <div style="display:none; position:fixed; bottom:0; left:0; width:100%; padding:1em; background:white;">
        <p>Taking longer than usual? Please
          <a href="mailto:help@insureio.com?subject=Stopped At Loading Screen">report the issue</a> and we will work to resolve it as quickly as possible.
        </p><br>
        <a class="btn btn-primary"
          href="https://pic-development.github.io/Insureio-Status/"
          target="_blank">
          View Server Status
        </a>
        <a class="btn btn-primary"
          href="mailto:help@insureio.com?subject=Stopped At Loading Screen">
          Let Us Know
        </a>
      </div>
    </div>
  </body>
</html>