<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "dependencies", :debug => false %>
    <%= javascript_include_tag "application", :debug => false %>
    <%# If the requests for this html layout and the above compiled js
        are routed to separate app servers, then the hash at the end of the filename will not match,
        and the js will 404. This scenario is infrequent, and typically remedied by a page refresh.
        So the below forces the page to refresh. %>
    <script>insureioNg || location.reload()</script>
    <link rel="apple-touch-icon" href="/images/touchicon.png">
    <link rel="icon" href="/images/favicon.png">
    <meta name="msapplication-TileColor" content="#292c36">
    <meta name="msapplication-TileImage" content="/images/tileicon.png">
    <base href="/"><!-- Used by AngularJS `$locationProvider`. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <%= stylesheet_link_tag "dependencies", :media => "all", :debug => false %>
    <%# DO NOT MOVE our stylesheet tag above the stylesheet tags for dependencies.
        Styles we set explicitly for this project should come last, so they have priority. %>
    <%= stylesheet_link_tag "application", :media => "all", :debug => false %>
    <%= stylesheet_link_tag_for_tenant @tenant %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body ng-app="insureioNg">
    <div class="wrapper minimal-layout">
      <div class="content-wrapper">
        <div id="main-container">
          <%= content_for?(:application) ? yield(:application) : yield %>
        </div>
      </div>
    </div>
  </body>
</html>