<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "application", :debug => false %>
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
    <!-- Favicon / Other Icon Area -->
    <link rel="apple-touch-icon" href="/images/touchicon.png">
    <link rel="icon" href="/images/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="path/to/favicon.ico"><![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#292c36">
    <meta name="msapplication-TileImage" content="/images/tileicon.png">

    <%= stylesheet_link_tag    "application", :media => "all", :debug => false %>
    <%# Relocated here because styles we set explicitly for this project should be more important than bootstrap's defaults. %>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body>
    <div class="" id="main-container" style="padding:1em;">
      <a style="display:block;text-align:right;" onclick="window.close();"><i class="fa fa-times-circle"></i> Close</a>
      <br/>
      <div class="nav nav-tabs" style="margin-bottom: 0px; background:white; border-radius:0.5em 0.5em 0 0;"></div>
      <div id="inter-mediate-container">
        <%= content_for?(:application) ? yield(:application) : yield %>
      </div>
      <footer>
        &copy; Copyright 2012 &ndash; <%= Time.now.year %> Insureio Technologies, Inc.
      </footer>
    </div>
  </body>
</html>
